[2016-05-25 17:19] joshunger opened #3740 "docker_service fails with inspection['NetworkSettings']['Networks'][key]['Aliases'] KeyError: 'Aliases'"
- Bug Report
- docker_service

ansible 2.1.0.0
  config file =
  configured module search path = Default w/o overrides

OS X 10.11.1 to Amazon Linux

Running the following docker-compose.yml with docker_service fails with the following error message but works when run directly with `docker-compose`

`FAILED! => {"changed": false, "failed": true, "module_stderr": "", "module_stdout": "Traceback (mo

[2016-05-25 17:25] samueljwilliams commented on #3444
Any timeline on when this will be merged in? I see #2844 has been merged.

[2016-05-25 17:28] gamename commented on #1765
Agree.  This should probably be a new issue.  I'm seeing the behavior on 2.0.2.0

[2016-05-25 18:52] blade2005 commented on #1229
I'm not sure this is solely a quoting issue.

I'm using extra args:

And it hangs, If I give it only one of them it works fine. I believe this points to an issue with powershell or the ps1.

The extra_args are obviously present, it's double quoted like it should be but it's not performing correctly.

[2016-05-25 18:59] chouseknecht commented on #3740
I'm not seeing this in my environment. I wonder if it's a difference in API version. My docker server version is 1.11.1

[2016-05-25 19:08] nmartinez-nimeops commented on #3444
Hi,
seems to have the same problem with ansible 2.1.0.0 and ec2_elb_lb

[code]

Error :
An exception occurred during task execution. The full traceback is:
Traceback (most recent call last):
  File "/tmp/ansible_rvSOih/ansible_module_ec2_elb_lb.py", line 1328, in <module>
    main()
  File "/tmp/ansible_rvSOih/ansible_module_ec2_elb_lb.py", line 1312, in main
    elb_man.ensure_ok()
  File "/tmp/a

[2016-05-25 19:11] hryamzik opened #3742 "wait_for: AttributeError: 'long' object has no attribute 'startswith'"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

[code]
##### ANSIBLE VERSION

[code]
##### SUMMARY

`wait_for` fails
##### STEPS TO REPRODUCE

[code]
##### ACTUAL RESULTS

[code]

[2016-05-25 19:12] joshunger commented on #3740
@chouseknecht thanks for checking and good question.  The latest docker available for Amazon Linux is 1.9.1.  Can you try 1.9.1?

[2016-05-25 20:09] ronnietaylor commented on #3661
The issue seems to be caused by how url_get checks for status codes:

https://github.com/ansible/ansible-modules-core/blob/devel/network/basics/get_url.py#L210

Because we are dealing with an FTP connection then we get  `info['stats'] = None`  since FTP servers do not return HTTP response headers.

A quick fix is to check for a None status on that line like this:

if info['status'] != None and not

[2016-05-25 20:38] pniederlag commented on #727
--delay-updates simply breaks the rsync on large filesets for me, so +1 for giving a chance to disable it

[2016-05-25 20:42] chouseknecht commented on #3740
I think [this PR](https://github.com/ansible/ansible-modules-core/pull/3745) will fix it.

[2016-05-25 22:15] dan-petty opened #3746 "win_feature failing"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

win_feature
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default
##### OS / ENVIRONMENT

Ubuntu 14.04.4
ppa:ansible/ansible
##### SUMMARY

Attempting to install .NET feature on Windows Server 2008 R2 (powershell v4) fails
##### STEPS TO REPRODUCE

Run the following item:

[code]
##### EXPECTED RESULTS

Windows Feature successfully installed

[2016-05-25 22:24] dan-petty commented on #3746
https://github.com/ansible/ansible-modules-core/commit/0cfffa5dbec3d7aecbd30053032345b5ac929cef#diff-537df59682893050affe4034e6bdd616R80

[2016-05-26 01:55] abadger commented on #3725
i think that this PR will fix things for you: https://github.com/ansible/ansible/pull/15999  Give it a try and I'll see about merging it to devel and the stable-2.1 branch (for release with the next 2.1.x release).

[2016-05-26 02:01] abadger commented on #152
The original report in this bug should be addressed in 2.0.0.  Unarchive now looks first for gtar in the PATH and only if not found searches for tar.  If GNU tar is not installed as either gtar or tar, however, then the module can still fail as there's not a fallback option when --diff is not available.

[2016-05-26 02:48] abadger commented on #3706
@Yannig I just tried to reproduce this and couldn't with stable-2.1 (head), or either of the tags: v2.1.0.0-0.3.rc3 or v2.1.0.0-0.4.rc4 .

Could there be something else going on?  are you running your devel checkout on the same machine as the 2.1-rc4?  Could the machine be running out of disk space on /tmp?  Maybe some other difference between the 2.1 and devel install that could give a clue to re

[2016-05-26 03:19] ghost commented on #1765
Same here... Ansible 2.0.2.0 on CentOS 6 and 7 (From epel-testing):

[code]

But, it is being applied!

[2016-05-26 06:22] ZeBidule commented on #902
+1

[2016-05-26 08:35] Yannig commented on #3706
Hi,

/tmp is fine (25Go of free space). I'm using an ubuntu 16.04. Here's the version of various utilities I'm using:
- uname -a

[code]
- tar --version

[code]
- gzip --version

[code]

Replacing unarchive.py with the version from 2.0 or from devel fix the problem. I was enable to find the origin of the problem and I don't have much time this next few days.

[2016-05-26 11:02] mbreedlove commented on #3661
I had this same issue using version 2.0.2.0, I upgraded to 2.1.0.0-rc2 and the everything seems to work now.

[2016-05-26 11:23] techno-wizardry commented on #552
My use case was:

[code]

But to an internal gitlab server without valid certs.  Ideally:

[code]

Which is the same as http://docs.ansible.com/ansible/get_url_module.html option.

I agree though - I wonder if the OP would be better using `file` after authorized_key?  I leave that to Mapreri though

[2016-05-26 12:00] Yannig commented on #3706
I was able to fix the problem by forcing LC_ALL=C in unarchive.py. Here is the patch:

[code]

[2016-05-26 12:02] Yannig commented on #3706
By the way, here is my locale:

[code]

[2016-05-26 12:26] mapreri commented on #552
I do this:

[code]

in a var file I have stuff like this:

[code]

So, I have all the keys in different files, and `authorized_key` takes care of concatenating them; that would be annoying to do without.
I found easier to use `authorized_key` and then add 3 more tasks to fix the permissions rather than using the the `file` module.

[2016-05-26 12:58] wp-davisona commented on #3706
I'm also seeing this issue in the release version of 2.1 (it wasn't happening in 2.0).

In my case I'm running ansible locally on an alpine linux docker image (ansible installed via pip).

I set:

[code]

Playbook:

[code]

relevant role tasks:

[code]

With node_version set to v6.2.0 I get the following output:

[code]

As mentioned, this was working previously under Ansible 2.0. Is there any fur

[2016-05-26 13:21] jctanner commented on #3742
I believe this was fixed by https://github.com/ansible/ansible/commit/fb7940fc50cc9f5dd5e794e6c8149f89084cfe05

[2016-05-26 13:22] abadger commented on #3706
Thanks @Yannig !  That is extremely helpful.

[2016-05-26 13:24] wp-davisona commented on #3706
Sorry, I didn't see the recent updates before posting (I should have refreshed the page).

I've tried adding the LC_ALL environment variable to the task (to see if it would work as a workaround for now) like so:

[code]

but it still fails:

[code]

[2016-05-26 13:30] jctanner commented on #3742
@hryamzik to reproduce this, I had to add a fact with a numeric key ...

[code]

[2016-05-26 14:10] jctanner commented on #3742
Confirmed that this is fixed in 2.1 ...

[code]

[2016-05-26 14:10] #3742 closed, assigned to jctanner

[2016-05-26 14:10] jctanner commented on #3742
Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for

[2016-05-26 14:12] hryamzik commented on #3742
@jctanner thanks, I'll give it a try.

[2016-05-26 14:20] abadger commented on #3706
Darn, that might mean that there's more than one bug here.  I'm working through several issues with unarchive right now.  Let me try and get a fix in place for @Yannig's bug in (and any other calls to run_command that may occur in the module).  If it still happens for you after that, I'll have you open a new bug to diagnose the issue.

[2016-05-26 14:33] krzysztof-magosa commented on #727
+1

[2016-05-26 14:51] DarkStar1973 opened #3751 "Can't enable service on ubuntu xenial if service is not systemd but init script"
Fresh install of ubuntu Xenial , ansible version 2.1.0.0 installed with pip.
Try to create the samba role with:

vars/os_Debian.yml

[code]

tasks/main.yml

[code]

Output:

[code]

[2016-05-26 15:08] mwhite14 opened #3752 "Apt Module deb option failure"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Both Host and Target are running Ubuntu 14.04 LTS 64bit
##### SUMMARY

After updating to Ansible 2.1.0.0 from 2.0.2.0 the deb option in Apt module is no longer working.
##### STEPS TO REPRODUCE

Running the following:

[code]

I also manually downloaded the package, and attempted to run with t

[2016-05-26 16:22] nitzmahone commented on #1765
@tmartinx this bug is fixed in 2.1

[2016-05-26 17:08] nitzmahone commented on #3751
cc @bcoca - suspect this is related to the recent change to service action?

[2016-05-26 17:11] bcoca commented on #3751
possibly, but also possible it  is preexisting, to make sure add `use=service` to the task

[2016-05-26 17:26] bcoca commented on #3751
FYI, that error message is from existing service module, not the new systemd one.

[2016-05-26 17:27] bcoca commented on #3751
try using the new `systemd` module and set `daemon_reload=true`

[2016-05-26 18:00] supertom commented on #2295
Hi @ottob

Short answer, yes, related to #1888.

I was not actually able to duplicate the exact issue, as when I run with the versions you specified (which, by now, of course are quite old), I receive a bad-permissions message involving computeaccounts-ro  and logging-write.

To compound the issue, adding more confusions for users, the "choices" listed in the [gce ansible module](https://github.co

[2016-05-26 18:40] DarkStar1973 commented on #3751
Ho Ho! I have found the problem: it's because i use list for service and it's passed like ['smbd'] instead of "smbd".
It's work if i change vars like this:

`samba_service_name: smbd`

Can't pass list for service ?

[2016-05-26 18:46] bcoca commented on #3751
service `name=` requires a string, you can pass a list to the loop and use `item` as the name

[2016-05-26 18:46] #3751 closed, assigned to nobody

[2016-05-26 18:55] dellsystem commented on #3299
Turns out adding a "reloaded" state is a pretty simple fix:

https://github.com/dellsystem/ansible-modules-core/commit/a97896c4470041198eba42930df3d94955f91d63

I was going to submit a PR for this as well, but if anyone needs this functionality in the meantime, you can edit the source file yourself and apply the changes on lines 110 and 208-215. That should work if you're on the latest version of

[2016-05-26 19:12] hryamzik commented on #3742
@jctanner your workaround doesn't work, it just changes `long` to `int` in the error message. =)

[2016-05-26 19:18] hryamzik commented on #3742
Got fixed with `if isinstance(i, basestring):` in `task_executor.py`.

Checked out current dev code – looks fine there.

[2016-05-26 19:20] sgerhart opened #3757 "Raw module adds "&& Sleep 0" to ssh remote command argument"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

raw module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
hostfile = ./hosts
host_key_checking = Yes
##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core)
##### SUMMARY

When using the raw module to send command to a Cisco router, "&& Sleep 0" gets added to the EXEC command. This causes an invalid autocommand
##### STEPS TO

[2016-05-26 19:24] sivel commented on #3757
This was added to address https://github.com/ansible/ansible/issues/13876

You may want to look into using the new `ios_command` module or other various networking modules designed for communicating with network switches:

http://docs.ansible.com/ansible/ios_command_module.html

[2016-05-26 19:24] alxschwarz opened #3758 "ansible 2.1.0, s3 module bug"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

s3 module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Only default settings
##### OS / ENVIRONMENT

I think N/A. But we use Ubuntu:

[code]
##### SUMMARY

Error during using s3 module. For example, during get file from s3 bucket.
##### STEPS TO REPRODUCE

Run playbook

[code]
##### EXPECTED RESULTS

File to /tmp directory
##### ACTUAL RESU

[2016-05-26 19:27] sivel commented on #3757
Although the `ios_command` module may be more appropriate, there does appear to be a comment in the code where `sleep 0` is added, that makes it sound like it shouldn't be applied for raw:

[code]

[2016-05-26 19:37] trondhindenes commented on #3640
What we could do is to check that the requested feature(s) is actually available, the PowerShell cmdlets expose that information. In general, I'd strongly recommend creating a comma-separated list of the _exact_ features you need installed, instead of relying on the general top-level feature "buckets" such as "web-server". In any case, I'll see if we can't surface some better error messages around

[2016-05-26 21:02] abadger commented on #2250
closing as this was fixed in #3307.

[2016-05-26 21:02] #2250 closed, assigned to nobody

[2016-05-26 22:14] abadger commented on #3725
Merged to devel and stable-2.1 branches.  Please let us know if that doesn't fix things for you (preferably by opening a new bug and referencing this one -- we seldom see comments to closed bugs).

[2016-05-26 22:14] #3725 closed, assigned to nobody

[2016-05-26 22:28] jordy25519 opened #3760 "ansible docker_image can't find a locally available image on build"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

docker_image
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

OS: N/A
docker-py 1.8.1
docker version

[code]
##### SUMMARY

When building a docker image locally Ansible fails to find a locally available base image specified in the  `FROM` directive of the dockerfile.
Resulting Error:

[code]

[See this similar issue

[2016-05-26 23:40] #3560 closed, assigned to abadger

[2016-05-26 23:43] abadger commented on #3560
Pushed fix to devel and stable-2.1.  Try it out -- if it still doesn't work, please open a new bug report and link to this one.

[2016-05-26 23:58] abadger commented on #3706
Okay @Yannig and @wp-davisona give that PR a try and see if it fixes things.  If it works for Yannig i can merge and we can close this bug.  If it fixes for Yannig but does not work for wp-davisona then we should open a new bug for wp-davisona's symptoms and try to track that down separately.

[2016-05-27 02:02] abadger commented on #2708
Does this still happen with the recently released 2.1?  I changed the way permissions on the temporary directory are assigned so I'm not certain this is still a problem (I tested locally by becoming nobody but I see that it was sometimes tricky to reproduce so I want to make sure I'm not missing something.)

[2016-05-27 02:05] jduncan-rva commented on #155
what about an environment like Atomic where installing software on target systems isn't trivial? This just won't work there?

[2016-05-27 02:26] jduncan-rva opened #3762 "docker_container doesn't (can't) easily work on Atomic and similar OS's"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

none
##### OS / ENVIRONMENT

ansible - Fedora 23
targets - RHEL Atomic 7.2
##### SUMMARY

docker_container doesn't work for Atomic Hosts (or any OS styled similarly)

docker_container looks like it requires docker-py to be installed on the target systems for the plugin to work. Y

[2016-05-27 02:31] bcoca commented on #3762
docker-py needs to be installed on the host with access to manage containers, not the containers themselves. We don't have testing with atomic (yet), currently the module should work with most other distros and a docker install.

[2016-05-27 02:41] gregsidelinger commented on #2708
I'm not seeing the issue with the 2.1 release.  It looks like the new ziploader stuff gets around the issue since a new temp directory is created when ansible runs the module on the remote machine.  And since the new temporary directory is created as the become_user everything just works.  I will do some more testing on some work systems this week and if I see the same results I would say the issu

[2016-05-27 03:03] abadger commented on #2708
Yeah, ziploader has  several temp dirs. The controller creates a temp dir
and uploads the zipped up module (we're calling them ansiballs now) to it.
I've tested that out before and i know it's kept.   Then the ansiball
creates a temp dir where the zip file is written to and the module is
extracted.   That's probably where the zip file specified in the module
parameters is downloaded.   That's prob

[2016-05-27 05:21] jhawkesworth commented on #1229
Based on latest feedback from @blade2005 this has been fixed via another commit, so i an closing this.

[2016-05-27 05:21] #1229 closed, assigned to nobody

[2016-05-27 07:28] berlic opened #3763 "docker_image in ansible 2.1 forcefully tries to push image"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_image
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default
##### OS / ENVIRONMENT

Docker daemon:

[code]
##### SUMMARY

When building an image, docker_image always try to push image to repo.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Image `my/test_container:latest` is built locally. Period!
##### ACTUAL RESULTS

Image

[2016-05-27 08:45] lasselehtinen commented on #3241
Ran to this issue. Vendor supplies the binaries in *-bin.bz2.

[2016-05-27 08:56] robinro commented on #2963
You can run [ansible-lint](https://github.com/willthames/ansible-lint), which warns you about the missing leading zero.

[2016-05-27 09:19] r0bj opened #3764 ""service: enabled=yes" do not enable systemd service"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

service module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

OS X 10.11.5
Managed OS: ubuntu 16.04
##### SUMMARY

"service: enabled=yes" do not enable systemd service in case when service is disabled in systemd and at the same time enabled in sysvinit scripts
##### STEPS TO REPRODUCE

Task:

[code]

Service is

[2016-05-27 10:46] wp-davisona commented on #3706
Sorry, this still doesn't work for me:

[code]

Extract command with no environment variables set:

[code]

Output:

[code]

Extract command trying with environment variables:

[code]

Output:

[code]

Just re-iterating this is on an alpine docker image (but it was working previously in 2.0). I'll try against an ubuntu image and see if the behaviour is different.

[2016-05-27 11:03] walro commented on #2895
hey @Jmainguy as of Ansible 2.1 this seems to be working again, thanks!

I'll let you decide what to do with the issue, but from my point of view it may be closed.

[2016-05-27 12:08] jduncan-rva commented on #3762
I guessed when I ran into it. The work-around is pretty straight-forward. I wanted to get it recorded in here so we can add it to the TODO.

-jduncan

[2016-05-27 12:33] genei09 opened #3765 "docker_container networks: unable to join containers to a custom network"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

no configuration change
##### OS / ENVIRONMENT

##### SUMMARY

starting a container with parameter
networks:
  name: custom_net
the new running container is not on the specified network name
docker network ls verifies that the network is present and no error message is

[2016-05-27 12:33] genei09 opened #3766 "docker_container networks: unable to join containers to a custom network"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

no configuration change
##### OS / ENVIRONMENT

##### SUMMARY

starting a container with parameter
networks:
  name: custom_net
the new running container is not on the specified network name
docker network ls verifies that the network is present and no error message is

[2016-05-27 12:34] Yannig commented on #3706
Work for me :)

Thanks @abadger

[2016-05-27 13:11] wp-davisona commented on #3706
I don't have this problem on a Docker Ubuntu image even with stock Ansible 2.1:

[code]

So I'm so far only seeing the problem on a Docker alpine linux image, which may be due to it being a minimal image and may be missing some expected dependencies. Should I raise a separate issue?

[2016-05-27 13:23] Yannig commented on #3706
@wp-davisona indeed. In order to be able to extract something on a docker container, you need to install tar and gunzip/bzip2/whatever on you container.

[2016-05-27 13:24] #3706 closed, assigned to abadger

[2016-05-27 13:25] ghost opened #3768 ""docker_container" misses env-file option that "docker" got in 2.1"
##### ISSUE TYPE
- Bug Report
- Feature Idea
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Running: Fedora 23
Host: CentOS 7
##### SUMMARY

The module "docker_container" lacks the env_file option to set the --env-file parameter with docker. The now deprecated module "docker" got that thing in 2.1.

[2016-05-27 13:33] wp-davisona commented on #3706
Oh. Yes. Well if that isn't a big facepalm moment! Sorry for all the extra noise. I'm a little confused as to why it worked previously, but that's something I can investigate on my own, I have a working solution now. Many thanks!

[2016-05-27 14:15] SunMar commented on #3514
I am experiencing the same issue. @robinro the issue isn't with mounting nfs4 itself, the problem is when the volume is already mounted then ansible tries to (unnecessarily) mount it again and produces the reported error.

Steps to reproduce:
1. Create a task that mounts the nfs4 volume:
   `mount: fstype=nfs name=/mnt/nfsmount src='127.0.0.1:/mnt/nfsexport' state=mounted`
2. Run the task -- the t

[2016-05-27 14:31] SunMar commented on #3514
Hmm, in additional to my above reply I also noticed something very weird happens when you switch mount options between soft and hard. It seems like the volume is mounted multiple times. After switching between soft, hard and back to soft again and doing `mount -l` I see:

[code]

I also have to umount the volume three times to get it unmounted. Not sure if that's an issue with Ansible or with NFS

[2016-05-27 14:33] dagwieers commented on #3228
Please ensure you are using the latest [unarchive](https://raw.githubusercontent.com/ansible/ansible-modules-core/devel/files/unarchive.py) module !

Try downloading the file linked above from the development branch and putting it into library/

[2016-05-27 14:35] dagwieers commented on #2037
@bcoca We can close this issue now. This is possible since #3307 is merged.

[2016-05-27 14:35] dagwieers commented on #1292
@bcoca We can close this issue now. This is possible since #3307 is merged.

[2016-05-27 14:37] dagwieers commented on #2480
@bcoca We can close this issue now. This is possible since #3307 is merged.

However, a pure-python implementation would allow us to implement this for more than just tar-based archives.

[2016-05-27 14:39] dagwieers commented on #3570
@akam-it You can use: `extra_opts: --dereference`

@bcoca We can close this issue now. This is possible since #3307 is merged.

[2016-05-27 16:02] dhuette13 commented on #3762
I get a similar error when using docker_service:

[code]

Here is the play:

[code]

Both my local machine and target are running Ubuntu 14.04. Same version of ansible: 2.1.0.0

[2016-05-27 16:05] bcoca commented on #3762
The modules clearly state docker-py is a requirement

[2016-05-27 18:30] bbigras commented on #2356
`- apt_key: keyserver=hkp://keyserver.ubuntu.com:80 id=0xF1656F24C74CD1D8 state=present` worked for me.

[2016-05-27 18:48] dochang commented on #3154
This bug has been fixed in 2.1.0.0.  Confirmed.

[2016-05-27 22:31] xiongchiamiov commented on #727
Aside from the memory and disk space requirements, it also just makes the whole process much slower:  on an example directory I have with 2.2 million files (yes, I know), the command as it comes from Ansible takes 5.5 minutes just to build the file list upfront, while removing `--delay-updates` allows rsync to use [its incremental file list](https://rsync.samba.org/FAQ.html#4), which resulted in t

[2016-05-27 22:43] holybit commented on #3241
+1

Ran into same issue w/ `unarchive`:

[code]

[code]

Above produces following error:

[code]

[2016-05-27 23:26] xiongchiamiov commented on #727
Also (sorry for the spam), [the copy module](https://docs.ansible.com/ansible/copy_module.html) notes that its

which means there isn't really a good option right now for transferring lots of files, other than crafting a `command` invocation (a design decision I'm often grateful for!).

It looks like even someone like me who isn't familiar with the internals shouldn't have too much trouble adding

[2016-05-28 03:42] genei09 opened #3775 "docker_container removes and recreates containers when using the env parameter"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

none
##### OS / ENVIRONMENT

OSx 10.11.4
docker 1.11.1
##### SUMMARY

docker_container removes and recreates containers when using the env parameter
##### STEPS TO REPRODUCE

with the example playbook saved as test.yml run the following twice and note the container ID changes
ans

[2016-05-28 05:52] raben2 commented on #3775
I think this is one of the main concepts in using docker. You should never change a running container. Every change gets a new container, even if there is no "real" change.
You could try running the second time on the actual container id, maybe it will work in this case.

[2016-05-28 06:32] genei09 commented on #3775
I'm not trying to change a running container, I'm trying to make sure one is running. This error only occurs with two or more items in the dictionary

[2016-05-28 07:38] pbudzon commented on #3241
@holybit Are you sure? Unarchive module does extract tar.gz files. The problem is with .gz and .bzip2 files which are not tarred. Do you have tar and gzip installed? :)

[2016-05-28 14:43] AMDmi3 commented on #2807
This change breaks at least FreeBSD and was reverted in b5e012b.

As far as I can see, even busybox docs suggest that file should come after user argument: https://git.busybox.net/busybox/tree/miscutils/crontab.c#n14

so this change was bogus in the first place, or it was already fixed in busybox.

Update: checked with busybox 1.24.2: crontab works correctly with common argument order (`crontab -u

[2016-05-28 15:01] talonx commented on #3296
Have you tried using exact_count=1 ? Related to #1009

[2016-05-28 15:56] agaffney commented on #2807
The version of busybox that I ran into this issue on was 1.23.2 on OpenWrt (15.05 Chaos Calmer). I know that @bcoca tested the new argument order in a few places, and I'm pretty sure both Linux and BSD of some sort were included. However, there are many different cron daemons, so I'm not surprised that there is some combination on which the original fix didn't work properly.

[2016-05-28 16:03] AMDmi3 commented on #2807
I'm surprised it was needed somewhere in the first place. Order where flag arguments come before free arguments is common and fundamental, not supporting it and requiring reverse order is definitely a bug.

[2016-05-28 16:05] agaffney commented on #2807
I don't disagree that it's a bug in busybox. However, I can't easily upgrade the version of busybox on my router without going to a whole new OpenWrt release, which would then involve setting up some "extra" stuff again from scratch (perhaps with ansible, but that's not ready right now), so I'm "stuck".

It's unclear whether this was a recently-introduced bug in busybox or a long-standing one, but

[2016-05-28 16:52] AMDmi3 commented on #2807
The diff for crontab.c between busybox 1.23.2 and 1.24.2 is a single empty line removed, so I don't think that 1.23.2 crontab behavior differs from 1.24.2 in any way. See @tylerhartley comment as well - my guess is that the problem was never in the argument order.

[2016-05-28 17:16] agaffney commented on #2807
Yeah, something is really weird. I'm doing manual tests now on my router with `crontab -u nobody /path/to/file` and it seems to work fine. I _know_ that the original fix worked for me and that ansible was throwing errors prior to the fix, but I can't explain it now.

[2016-05-28 17:26] agaffney commented on #2807
Ah, I was wrong about which device and busybox version I encountered this on. This was actually on my QNAP NAS using busybox 1.01.

[code]

[2016-05-28 17:58] AMDmi3 commented on #2807
God, busybox 1.01 was released in 2005.

[2016-05-28 18:21] agaffney commented on #2807
Tell that to QNAP :)

The firmware on this device was updated around a year ago, so they're still building their firmware with an ancient busybox, at least for older devices.

[2016-05-28 23:20] Rtzq0 commented on #3514
@SunMar #2445 is a resolution of the remount issue, but author is MIA. If the PR closes in 3 days with no action I'll pick it up and resubmit so that this issue can be resolved.

[2016-05-29 07:37] wanglf opened #3781 "change logging server on cisco router failed with Networking module ios_config or ios_template"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME
- ios_config
- ios_template
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### site.yml

<pre>
- name: play show commands and change running-config on cisco ios device
  hosts:
  - cisco
  gather_facts: no
  connection: local
  roles:
  - cisco
</pre>

##### tasks/main.yml

<pre>

---
- name: define provider
  set_fact:
    provider:

[2016-05-29 08:59] rodecker opened #3782 "ansible-pull: Shallow clone broken in 2.1.0.0-1"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible-pull
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

Ubuntu 12.04 (Precise)
##### SUMMARY

After upgrading to 2.1.0.0-1 ansible-pull no longer sees changes when doing a shallow clone.
Running ansible-pull with --full still works.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

New changes are pulle

[2016-05-29 09:16] dcbishop opened #3783 "docker_container with 'command' returns 'not found or does not exist' (old 'docker' module works fine)"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No changes to ansible.cfg.
##### OS / ENVIRONMENT

Arch
##### SUMMARY

When using the new docker_container module with the command argument.
`"Container command 'SOME_COMMAND' not found or does not exist."`

The exact same setup, with the deprecated 'docker' module used in place

[2016-05-29 10:44] chouseknecht commented on #3783
Working on this. The first part of the problem is the `command` parameter type needs to be `str` and not `list`. Just testing the comparison to make sure we compare command between params and existing container correctly.

[2016-05-29 11:17] gamename commented on #902
+1

[2016-05-29 12:34] #3783 closed, assigned to chouseknecht

[2016-05-29 12:35] chouseknecht commented on #3775
Fixing. We should only recreate the container if requested config differs from the existing container's config.

[2016-05-29 13:02] chouseknecht commented on #3775
The issue is a conflict over PGDATA. The Image defines it, and then you override it in the parameters. When we do the config compare, we're taking what the image specifies rather than what's in the parameters.

[2016-05-29 13:52] #3775 closed, assigned to chouseknecht

[2016-05-29 13:59] abadger commented on #3706
Nice work diagnosing the second issue guys!

@Yannig I've just merged cambid's alternative fix to this issue to devel and stable-2.1.  So this should be fixed in the repository now.  If it doesn't work (it's a slightly different patch than you originally tested) feel free to ping me on IRC to let me know!

[2016-05-29 14:03] chouseknecht commented on #3768
Adding...

[2016-05-29 14:33] #3768 closed, assigned to chouseknecht

[2016-05-29 16:02] koenpunt commented on #3523
For me installing the `python-minimal` and `aptitude` packages was enough, but it would be nice if Ansible just used the `apt` command.

[2016-05-29 16:08] caarlos0 commented on #3752
Same here, also happens with the following code:

[code]

Error is:

[code]

[2016-05-30 00:09] tom-- commented on #3661
more of the same.

ansible 2.1.0

[code]

[2016-05-30 08:38] bvansomeren opened #3788 "unarchive seems to fail on contents with special characters in their name on zip (Ansible 2.1)"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

unarchive
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Running from Mac OS X El Capitan -> CentOS 7
##### SUMMARY

Ever since updating to Ansible 2.1 unarchive doesn't work for a specific JBoss EAP 6.4.0 zip file.
It would seem that it skips unarchiving files with spaces, or other special characters.

After ru

[2016-05-30 08:43] jotes commented on #2890
I found a workaround for this bug. I've set following thing:

[code]

Elasticache module was failing because of invalid default value for cache_security_groups (issue should be fixed in newer versions of ansible), that's why you have to override this explicitly.

[2016-05-30 10:01] ghost commented on #2969
~~un~~fortunately, I cannot reproduce this issue anymore with the current Ansible 2.1.0.0 or when I downgrade to 2.0.0.2.

[2016-05-30 10:01] #2969 closed, assigned to nobody

[2016-05-30 10:17] ghost opened #3789 "Feature request: rpm_key install from local file"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

rpm_key
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Debian, PIP installation
##### SUMMARY

The rpm_key module has no possibility to transfer a local GPG key.
##### STEPS TO REPRODUCE

_roles/repo/files/repo-gpg-key:_

[code]

_roles/repo/tasks/main.yml:_

[code]
##### EXPECTED RESULTS

[code]
##### ACTUAL RES

[2016-05-30 11:03] ghost opened #3790 "wait_for always timeouts in v2.1"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

wait_for module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None, using the default
##### OS / ENVIRONMENT

CentOS 6.7
##### SUMMARY

The wait_for module that was installed updating ansible to 2.1 through PIP is now always resulting in a timeout (300 sec default)
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Status changed
####

[2016-05-30 11:31] crane-denny opened #3791 "cron state is changed when using multiline job"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

cron
##### ANSIBLE VERSION

2.0.2.0
##### CONFIGURATION
##### OS / ENVIRONMENT

Darwin craneworks 15.5.0 Darwin Kernel Version 15.5.0: Tue Apr 19 18:36:36 PDT 2016; root:xnu-3248.50.21~8/RELEASE_X86_64 x86_64
##### SUMMARY

When the corn moduled is faced with a multiline jobit can't figure out the correct state of the task. It just reports everyt

[2016-05-30 12:54] cmodijk commented on #2837
We solved our problem, it was not the key or the permissions of the key on disk but the permissions of the key inside gitlab. I think someone internally revoked the key and that's why it hanged at our end.

[2016-05-30 13:04] robinro commented on #2837
sounds like close_me

[2016-05-30 13:07] cmodijk commented on #2837
I don't know if this solves @TigerWolf's problem? And maybe this should not hang on something like this and give an error that it can't connect? I'm not sure whether this is possible to implement.

[2016-05-30 13:14] TomasTomecek commented on #3740
Just hit this too. Am also on 1.9. This is how `NetworkSettings` may look:

[code]

[2016-05-30 13:15] risobalaz opened #3792 "unarchive module is not able to unpack zip archive containing files with spaces in names (2.1.0)"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

unarchive
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Oracle Linux Server release 7.1 (both master and slave)
##### SUMMARY

unarchive module ends with error if zip archive contains files with spaces in names
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Archive is properly unpacked.
##### ACTUAL R

[2016-05-30 14:28] debugloop commented on #3332
I don't think this is resolved. [Setting executable in ansible.cfg](http://docs.ansible.com/ansible/intro_configuration.html#executable) does not work and [Setting ansible_shell_executable](http://docs.ansible.com/ansible/intro_inventory.html#list-of-behavioral-inventory-parameters) doesn't either.

The only working way for me is:

[code]

which is inconvenient. All tested on 2.1.0.0 of course.

[2016-05-30 14:38] robinro commented on #3782
I believe f1bacc1d3f9578f26d4ae2f66112cbb2509a7fe8 broke this. I'll have a look.

[2016-05-30 16:45] robinro commented on #3782
@rodecker Thanks for the report.
The case without version specified is something I obviously didn't test thoroughly enough when working on shallow clones.

I pushed a fix and a test for the git module. Please have a look and let me know whether this fixes your issue.

Another workaround would be to specify the version argument `-C master`. This is what we use in production and also what the tests

[2016-05-30 18:10] robinro commented on #996
@warvariuc
Can you please recheck with ansible 2.1?
I guess this should be fixed now.

[2016-05-30 18:11] robinro commented on #1360
@astorije
Can you please recheck with ansible 2.1?
This should be fixed now.

[2016-05-30 18:16] mindojo-victor commented on #996
@robinro I don't have the infrastructure at hand to verify this. Let's close and reopen if someone stumbles on this again.

[2016-05-30 20:56] nemd commented on #3758
any update regarding this bug ?

[2016-05-30 21:09] rohitkothari commented on #3758
I think this has already been resolved here. I pulled the change from this [commit](https://github.com/ansible/ansible-modules-core/pull/3347/commits/ec0f2113e05fd4435816189d8c7da9c8d5d4d42c) into my ansible's s3.py (Ansible version - 2.1.0.0) and was able to surpass the above error.

Here is the pull request and the discussion behind [this](https://github.com/ansible/ansible-modules-core/pull/334

[2016-05-30 23:01] martenlehmann commented on #3715
Since which version? As shown, 2.0.2.0 does not show diffs, at least not in combination with `--check`.

[2016-05-31 00:09] TigerWolf commented on #2837
This issue has not occurred again for me. I cannot reproduce so I will close this issue. If it comes up again I can check the key permissions.

[2016-05-31 00:09] #2837 closed, assigned to nobody

[2016-05-31 02:17] zhanght1 opened #3799 "ansible 2.0.1.0 run show version with Cisco ASA-55x0"
I could login the cisco device with SSH and run the show version successfully.

[code]

However, I run the ios_command with ansible, I got this error:

[code]

[code]

Could someone give me some advice to fix this issue?
BR
Felix

[2016-05-31 03:41] astorije commented on #1360
@robinro, Ansible 2.0.x hasn't been working on my machine for some obscure reason of which I didn't find time to investigate. I'll try with 2.1 and will report here.

[2016-05-31 03:54] dylanzr commented on #2963
Big edit, previous wall of text was due to experiences where the mode was specified as a variable. In this case it was necessary to quote the mode, otherwise it was converted to decimal before the module executed.

In regards to changing the behavior, I certainly hope nobody is specifying permissions in decimal notation. There shouldn't be any expectation that decimal should work unless something

[2016-05-31 06:43] michalzubkowicz opened #3800 "Docker module: argument memory_limit is of type <type 'str'> and we were unable to convert to int" on Ansible 2.0.2.0-1.el7"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

_docker
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Centos 7
##### SUMMARY

After upgrade to ansible 2.0.2.0 it's not possible to enter memory_limit as human readable string (ie. 265MB) only bytes are accepted.
##### STEPS TO REPRODUCE

try set memory_limit:  256MB in docker container task

[code]
##### EXPECTED RESULTS

Should accept

[2016-05-31 07:28] lihan commented on #3764
Same problem here with supervisor.

Walk around this problem by using this task

[code]

Server Ubuntu 16.04 LTS,
local ansible 2.1.0.0

[2016-05-31 11:43] ryansb commented on #2483
Boto3 has improved pretty significantly, but lots of resources don't support tags at the AWS level (pretty much everything Lambda, some network things, and the mobile analytics stuff, off the top of my head).

[2016-05-31 12:06] bronzels commented on #3241
@pbudzon this is the output of my system info(centos 7 and tar, gzip, unzip are all installed). and tar xzvf manually is OK to extract. weired even tar.gz can't be extracted. can you pls. help give some hints?

ansible localhost -m unarchive -a "src=/vagrant/hbase-1.1.5-bin.tar.gz dest=/home/hadoop"

localhost | FAILED! => {
    "changed": false,
    "failed": true,
    "msg": "Failed to find hand

[2016-05-31 12:08] pbudzon commented on #3241
@bronzels This may be a stupid suggestion but... try renaming the file to hbase-1.1.5-bin.**tgz** and see if ansible manages to unpack it?

[2016-05-31 12:24] bronzels commented on #3241
@pbudzon you are right, i just renamed to hbase-1-1-5, problem solved. looks like a bug in ext name resolving in unarchive module.

[2016-05-31 12:27] pbudzon commented on #3241
@bronzels Congrats, you found another bug ;)

[2016-05-31 12:38] #1858 closed, assigned to nobody

[2016-05-31 12:46] bcoca commented on #2807
this 'fix' was reverted as it broke FreeBSD cron (see #3750)

need new fix that detects cron type

[2016-05-31 12:52] dmke opened #3801 "Apt: list of changes"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

`apt`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Not relevant.
##### OS / ENVIRONMENT
- Managing node: Debian Jessie
- Managed nodes: Debian Jessie, Ubuntu 14.04, Ubuntu 16.04
##### SUMMARY

When running a playbook like this:

[code]

no information about the updated packages is displayed. Depending on the updated packages, I need to ta

[2016-05-31 14:45] chouseknecht commented on #3766
Fixed with PR #3796

[2016-05-31 14:45] #3766 closed, assigned to nobody

[2016-05-31 14:46] chouseknecht commented on #3765
Fixed. See issue #3766 and PR #3796

[2016-05-31 14:46] #3765 closed, assigned to nobody

[2016-05-31 15:46] lost-in-revery commented on #3610
The problem still exists in version 2.1.0.0

[2016-05-31 16:10] sivel commented on #3610
This is a result of using `-tt` (forcing pseudo-terminal) with ssh.  When running with `-tt`, effectively everything happens over stdin due to use of only using a single channel.

[2016-05-31 17:56] tzejohn opened #3803 "ec2_vol delete volume by name"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

cloud/amazon/ec2_vol
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Nothing extra
##### OS / ENVIRONMENT

N/A
##### SUMMARY

It would be useful if the ec2_vol task was able to either delete volumes by name instead of just by id, OR if the state=list actually was able to use the name to filter the set of returned results, rather than returni

[2016-05-31 18:04] IslandUsurper opened #3804 "Can't set stickiness on ELBs (ec2_elb_lb)"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ec2_elb_lb
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Linux Mint 17
Python 2.7.6
boto 2.40.0
##### SUMMARY

When creating an ELB with a stickiness policy, the file name and the policy type are used to create a policy name. Policy names may only contain [A-Za-z0-9-], but since upgrading to Ansible 2.1.0, the filenam

[2016-05-31 18:15] bretmartin commented on #3636
Here's a fix. I'll PR this soon

[code]

[2016-05-31 18:40] hutchic opened #3806 "ASG replacing an instance"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

cloud/amazon/ec2_asg
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

Difficulty (possibly documentation ambiguity) when using the ASG module to replace a single instance in an ASG.
##### STEPS TO REPRODUCE

The documentation for the ASG module around min, max and desired all say if they're n

[2016-05-31 20:31] ppersad opened #3807 "Yum upgrade using local RPM does nothing"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

yum
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When using the yum module to upgrade (my-rpm-1.0 -> my-rpm-1.1) an already installed RPM from a local rpm file, I get the following output:

[code]

No changes were made and installed RPM is still the old version.

This bug was caused by commit c8222b

[2016-05-31 23:17] theballdredge opened #3808 "user module fails on SLES11 SP1-SP3"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

user
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Source: N/A, happens on RHEL, OSX
Target: SLES11 SP1-SP3
##### SUMMARY

user module fails when user does not exist but group does.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

User is created and added to the indicated group
##### ACTUAL RESULTS

[code]

[2016-06-01 03:09] jctanner commented on #3799
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep the is

[2016-06-01 03:09] #3799 closed, assigned to nobody

[2016-06-01 08:34] m-messiah opened #3810 "Unarchive module fails with big archive"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
- unarchive
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Host: MacOSX, ansible from pip
Destination: debian/jessie64
##### SUMMARY

Unarchive module fails when use big zip archive
##### STEPS TO REPRODUCE

Create zip file with, for example 47 000 files (at all, not in one dir).

[code]

[code]
##### EXPECTED RESULTS

[2016-06-01 09:07] winggundamth opened #3811 "Problem docker_container module volumes parameter is mounted to host by default"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

docker_container module when specify volumes parameter. It will mounted to host with the same directory by default
##### STEPS TO REPRODUCE

Example simple playbook

[code]

When run with debug

[code]
##### EXPECTED RESULTS

It shouldn't mount /tmp/data to

[2016-06-01 12:02] kriben commented on #3752
I am also seeing this on Debian 7 (wheezy) i386.

[2016-06-01 12:17] robinro commented on #3808
`-N` is available in opensuse leap 42.1
@theballdredge what is the correct option name in SLES 11 to not create the group automatically?

[2016-06-01 12:19] aindlq commented on #3800
Can confirm the same bug with ansible 2.1.0.0.

[2016-06-01 12:48] heyitsmdr commented on #3792
We just noticed this a few days ago as well. I'm going to submit a PR to fix this. The bug is located here:

https://github.com/ansible/ansible-modules-core/blob/devel/files/unarchive.py#L316

The issue is that it is iterating over each line returned from `unzip -ZT <source>` and splitting the line at each space. This will return an array with 8 members unless the path contains a space, in which c

[2016-06-01 14:54] adamchainz opened #3817 "git - in Ansible 2.1 switching a shallow clone from tag to branch fails"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

git module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Vanilla
##### OS / ENVIRONMENT

Happens on both OS X and Ubuntu with different versions of git (1.8 and 1.9)
##### SUMMARY

Updating a shallow clone based on a tag to one based on a branch fails
##### STEPS TO REPRODUCE

Run this with `ansible-playbook -i 127.0.0.1, ~/tmp/test.yml; rm

[2016-06-01 15:21] theballdredge commented on #3808
@robinro it doesnt appear that there is one - heres the manpage https://gist.github.com/theballdredge/3fdcb881af5fd6d4343f5cb6e5cf6504

[2016-06-01 17:28] ryansb commented on #2295
Closing this, will be resolved with #1888

[2016-06-01 17:28] #2295 closed, assigned to nobody

[2016-06-01 17:28] ryansb commented on #1888
(closed #2295) cc/ @supertom

[2016-06-01 18:20] aboutlo commented on #633
I wonder how it's possible this feature is still missing. Without, the module is useless.
By the way, thank you @rhunwicks to provide a workaround.

[2016-06-01 18:28] amcrn opened #3822 "docker_container - Setting state to stopped does not work"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None.
##### OS / ENVIRONMENT

N/A
##### SUMMARY

A value of `stopped` for docker_container's `state` does not work. In looking at the source (https://github.com/ansible/ansible-modules-core/blob/e8db7fd8cc96299b6758164c8e1f45ebef04e7fc/cloud/docker/docker_container.py) it's clea

[2016-06-01 18:47] amcrn opened #3823 "docker_container - Volume With Root Host Directory Fails (cAdvisor)"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None.
##### OS / ENVIRONMENT

N/A
##### SUMMARY

If a docker_container has a volume with the root directory of the host, it fails with `"msg": "Error creating container: 500 Server Error: Internal Server Error (\"Invalid volume spec \"/\": Invalid specification: destination can't

[2016-06-01 18:59] amcrn opened #3824 "docker_container - Registry Field Not Used"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None.
##### OS / ENVIRONMENT

N/A
##### SUMMARY

The docker_container documentation suggests that a field called `registry` is supported: https://github.com/ansible/ansible-modules-core/blob/e8db7fd8cc96299b6758164c8e1f45ebef04e7fc/cloud/docker/docker_container.py#L321-L326 .

Ho

[2016-06-01 19:07] leonty opened #3825 ""file" cannot create a relative symlink in a particular directory"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

Module "file" (as well as many others working with the file system)
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##
##### OS / ENVIRONMENT

Ubuntu Server 16.04
##### SUMMARY

The module "file" doesn't really provide all means to create relative symlinks. The current directory is important for this action and it cannot be specified. Neither

[2016-06-01 19:12] bcoca commented on #3825
you should be able to create a relative link regardless of the cwd, use the `force` option to ignore the source's existence relative to cwd.

[2016-06-01 20:05] resmo commented on #3801
IMHO this is implemented in 2.1 using --diff, however there is a bug fix #3816 currently waiting to be merged.

[2016-06-01 20:11] wenottingham opened #3827 "ec2 module tracebacks on cred failure"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ec2 module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Nothing of note.
##### OS / ENVIRONMENT

CentOS 7.
##### SUMMARY

ec2 module tracebacks when using an invalidated credential.
##### STEPS TO REPRODUCE
1. Have a basic provisioning task:

[code]
1. Have a AWS key that's been disabled.
2. Run the playbook
##### EXPECTED RESULTS

Clean fa

[2016-06-01 20:17] trojanc commented on #3661
Either of these fixes looks like it can work... Right now we really need a fix... Took quite some time to figure out why our playbooks suddenly fail on stuff that hasn't changed. Isn't there something (like travis, jenkins, etc) that should have tested this FTP bug before it got released?

Anyway, few hours wasted to figure out what was wrong, still saving us hundreds of hours ;)

[2016-06-01 20:43] #3752 closed, assigned to resmo

[2016-06-01 20:55] dmke commented on #3801
Thanks for the pointer, but I don't think #3816 is relevant for to this issue.

The [`parse_diff`](https://github.com/ansible/ansible-modules-core/blob/stable-2.1/packaging/os/apt.py#L374) function in stable-2.1's `apt.py` though seems to do what I want, but I fail to see how it gets triggered (there's an [`m._diff`](https://github.com/ansible/ansible-modules-core/blob/stable-2.1/packaging/os/apt.

[2016-06-01 21:20] leonty commented on #3825
@bcoca I don't really understand how you mean to use it...

[code]

and I expect:

[code]

[2016-06-01 21:24] bcoca commented on #3825
`ansible remotesrv -m file -a "src=./ls dest=/bin/myls state=link force=true"`

it has to be relative to the link not CWD

[2016-06-01 21:35] leonty commented on #3825
The command succeds but there's no link myls->ls in /bin

[2016-06-01 21:56] leonty commented on #3825
It's even stranger for long paths:

[code]

[2016-06-01 22:22] bcoca commented on #3825
it does succeed and create a symlink in /bin for me

[2016-06-01 23:05] #3811 closed, assigned to nobody

[2016-06-02 00:11] chouseknecht commented on #3824
Pretty sure we don't need registry. Should be able to pull from private registry by providing full path in image option. Will test to make sure that works and then remove _registry_ option.

[2016-06-02 01:58] lachlansimpson opened #3829 "Creating system user should not create home directory"
Bug Report

User modules

[code]

Centos 7.2 fully up to date.

[code]

creates /home/slurm

the adduser man page states:

[code]

This would be less of an issue if the docs reflected that system=yes behaved differently to the expected way system=yes would work (ie, that no home dir would be created), and instructed an explicit createhome=no for expected result.
##### EXPECTED RESULTS

Slurm user

[2016-06-02 05:00] DerekTBrown commented on #3444
+1

[2016-06-02 07:38] bittopaz commented on #3444
+1

[2016-06-02 08:48] leonty commented on #3825
Yes, it works. It's worth to add such an example to the file module.

[2016-06-02 08:48] #3825 closed, assigned to nobody

[2016-06-02 09:12] cjreyn commented on #3757
I commented out the line that adds the '&& sleep 0' which seemed to fix the issue of sending raw commands to an IOS and NXOS device.

[2016-06-02 09:44] cjreyn opened #3830 "nxos_command fails"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

network/nxos_command
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

It seems the module tries to invoke a Python interpreter on the switch and then 'Zipload' a script to run. This fails with a big trace shown below. I had to set the ansible_python_interpreter variable, and remove locale for the interpre

[2016-06-02 10:01] cjreyn opened #3831 "list supported devices for ios and nxos"
##### ISSUE TYPE

- Documentation Report
##### COMPONENT NAME

ios_*
nxos_*
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

It would be good to have a complete list of supported devices. For example, ansible state here https://www.ansible.com/press/red-hat-brings-devops-to-the-network-with-new-ansible-capabilities
 that IOS-XE is supported. I have tried ru

[2016-06-02 10:03] mansunkuo commented on #3444
+1

[2016-06-02 10:36] mansunkuo commented on #3444
By the way, there is a temporary workaround for this error.
You can just duplicate the ec2_elb_lb part and add _ignore_errors: yes_ in the first one.
Don't know why but the second one will success anyway.

[2016-06-02 12:25] kartsims commented on #902
+1

[2016-06-02 12:41] paksu commented on #1772
`apt-get remove python-boto && sudo pip install boto --upgrade` fixed this issue. Thanks a lot @dob3001 !

[2016-06-02 13:43] MichaelBaydoun commented on #2468
Anyone doing cross account role assumption will also need the iam module to allow the definition of trust policies.

[2016-06-02 14:27] jduncan-rva commented on #3762
I understand that. The issue is that, in an operating system like Atomic or CoreOS, adding that requirement is far from trivial.

[2016-06-02 14:35] bcoca commented on #3762
re implementing the module w/o docker-py is also far from trivial, specially if the tools on each platform vary in this way.

[2016-06-02 14:36] bcoca commented on #3757
check fix at https://github.com/ansible/ansible/pull/16085

[2016-06-02 15:04] chouseknecht commented on #3824
You can provide the full path e.g. `image: localhost:5000/chouseknecht/ubuntu:14.04`, and that will work, provided you previously logged into the registry with `docker_login` (or `docker login` from the command line).

[2016-06-02 15:33] bcoca commented on #3829
you can already control this, set 'createhome=no'

[2016-06-02 15:43] bmalynovytch opened #3835 "[Bug / Regression] mysql_db import fail to decompress dumps"
##### ISSUE TYPE

Bug Report (regression)
##### COMPONENT NAME

mysql_db (import)
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Deployment OS: Mac OS X 10.11.5, python v2.7.11 with pyenv/virtualenv
Destination OS: ubuntu jessie/sid
##### SUMMARY

Using `mysql_db` to import Gzipped or Bzipped SQL dumps used to work like a charm with `ansible 2.0.2.0`
Now, compres

[2016-06-02 15:59] #3824 closed, assigned to chouseknecht

[2016-06-02 16:07] chouseknecht commented on #3823
This is fixed by commit: e2d8d9d09a0a62d7aaa2ac915ef56d5a10fc673e. I tested with the following:

[code]

In the resulting container it creates the correct binds:

[code]

And the correct volumes:

[code]

[2016-06-02 16:07] #3823 closed, assigned to chouseknecht

[2016-06-02 16:40] #3830 closed, assigned to nobody

[2016-06-02 16:44] cjreyn commented on #3830
Closing. This was me not understanding the connection model. For others, at a high level, you need to specify 'connection: local' This makes the ansible-playbook start a Python interpreter on you local machine which it uses to start the module. The module then runs against/connect to the switch/router using whatever transport mechanism you specify.

[2016-06-02 17:04] cjreyn commented on #3831
I was misunderstanding the connection model. I have run successfully against an IOS-XE device, but it would still be good to get a list of supported devices and code versions. For example I have a Cisco Nexus 5548 running an older version of NX-OS that has no nxapi support. Some kind of support matrix would be good.

[2016-06-02 17:41] Heliosmaster opened #3838 "Lineinfile fails if file does not exists even with create=yes"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

OSX 10.10 El Capitan
##### SUMMARY

`Lineinfile` module with `create=yes` fails if the file is not existing
##### STEPS TO REPRODUCE

This task:

[code]

fails if there is not file.log at the destination folder.
##### EXPECTED RESULTS

That the file is created, according to [the documentation](

[2016-06-02 19:56] kireledan commented on #3603
The actual status code is printed when it errors in the 'status' json entry.  So this feature seems a bit redundant to have both.

[2016-06-02 21:21] nelsonenzo commented on #1701
+1 two hours of my life I wish I had back :/

[2016-06-02 22:05] washingtoneg opened #3846 "Potgres9.5 suport in rds_param_group"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

`cloud/amazon/rds_param_group.py`
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Linux
##### SUMMARY

Amazon RDS now supports Postgres9.5 (details [here](https://aws.amazon.com/about-aws/whats-new/2016/04/rds-postgresql-9-5-support/)), so that option should be available when creating RDS parameter groups.
##### EXPECTED RESULTS

I shoul

[2016-06-02 23:55] larry-s commented on #3603
Below is a result from an actual run. It shows status "failed". Could the returned status code be overwritten by the Ansible task status value?

`{
  "status": "failed",
  "_ansible_no_log": false,
  "url": "http://localhost:8080/smartpmi-init/exec",
  "changed": false,
  "content": "",
  "failed": true,
  "redirected": false,
  "msg": "Status code was not [200]: Connection failure: timed out",

[2016-06-03 01:44] heathdbrown commented on #3718
Discovered if I use the new nxos_vlan: I do not have this issue and it deals with the 32 character name limit.

[2016-06-03 06:03] #3822 closed, assigned to chouseknecht

[2016-06-03 06:13] amcrn commented on #3824
thanks @chouseknecht for the quick fix!

[2016-06-03 06:13] amcrn commented on #3823
Appreciate the fix @chouseknecht , thanks!

[2016-06-03 06:14] amcrn commented on #3822
Appreciate the fix @chouseknecht , thanks!

[2016-06-03 06:58] tkimball83 commented on #3645
+1 for this.  I'd like to be able to reload sysctl without making modifications, and specify which file to reload as well.

For example in my kmod-tpe role, where the sysctl settings are a template...

https://github.com/tkimball83/ansible-role-kmod-tpe

[2016-06-03 07:56] FlorentCoppint opened #3854 "Mount failed but task succeeded"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

mount module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Using "mount" module, if mount fails with systemctl, Ansible sets task "changed".
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Failed task.
##### ACTUAL RESULTS

[code]

[2016-06-03 08:11] bmalynovytch opened #3855 "[ Bug / Regression ] mysql_db reports a "changed" state when "present" used and DB already exists"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

mysql_db (state=present)
##### ANSIBLE VERSION

[code]
##### SUMMARY

`mysql_db` with `state=present` reports a `changed` state, even if DB already exists, which is a regression.
`ansible 2.0.2.0` was working perfectly.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

On the first run, module should report a `changed` state.
On the second

[2016-06-03 08:13] bmalynovytch commented on #3855
Hmm ... Actually I seem to have an issue in my test env, the bug could not exist.
Checking right away and will close if needed.

Sorry for the noise.

[2016-06-03 08:28] bmalynovytch commented on #3855
I can confirme that the module works properly.
Sorry 😕

[2016-06-03 08:28] #3855 closed, assigned to nobody

[2016-06-03 09:01] trondhindenes opened #3857 "Bug in regex checker for azure_rm_virtualnetwork"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

azure_rm_virtualnetwork
##### ANSIBLE VERSION

2.2.0
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Ubuntu 14.04
##### SUMMARY

azure_rm_virtualnetwork contains code to check for the validity of the "name" parameter (https://github.com/ansible/ansible-modules-core/blob/devel/cloud/azure/azure_rm_virtualnetwork.py#L148). That regex does not ta

[2016-06-03 10:40] #147 closed, assigned to chouseknecht

[2016-06-03 10:57] chouseknecht commented on #3740
This was fixed with https://github.com/ansible/ansible-modules-core/pull/3745

[2016-06-03 10:57] #3740 closed, assigned to chouseknecht

[2016-06-03 12:05] #3857 closed, assigned to chouseknecht

[2016-06-03 13:37] washingtoneg opened #3860 "rds_param_group module requires param option although it shouldn't be required"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

`cloud/amazon/rds_param_group.py`
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Linux
##### SUMMARY

According to the [documentation on the `rds_param_group` module](http://docs.ansible.com/ansible/rds_param_group_module.html), the `params` options is <b>not</b> a required option. However, I am unable to create a RDS parameter group unles

[2016-06-03 14:02] kireledan commented on #3603
There must be a difference between versions - because when I run it it, this is the end of my json.

[code]

Unless it must be being overwritten like you said. I've made a small patch that puts the status code in msg if you think it's worth making a PR for.

[2016-06-03 14:39] jduncan-rva commented on #3762
This is a much larger issue than just one module.

For example, the postgresql_db module requires the psycopg2 module to be installed. The same problem would exist.

I'll ping the ansible product managers out-of-band to see if this is in the planning somewhere.

[2016-06-03 15:37] lgmworks commented on #3444
+1

[2016-06-03 16:01] cjreyn opened #3862 "nxos_command ssh_keyfile not working"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

networking/nxos_command
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Scientific Linux 6.7
##### SUMMARY

I can successfully authenticate against the NX-OS device using a username/password with transport:cli. When using an ssh key it fails with a socket timeout. I have tested access to the NX-OS device using the same

[2016-06-03 17:26] #2440 closed, assigned to nobody

[2016-06-03 17:37] ryansb commented on #3846
Done in #3847

[2016-06-03 17:37] #3846 closed, assigned to nobody

[2016-06-03 18:53] DerekTBrown commented on #3444
Can confirm that this has been fixed in the latest version of Ansible (2.2.0).

[2016-06-03 19:06] wenottingham commented on #3762
With my PM hat on, having container modules be container-runtime independent would be a worthwhile goal, although one that might be implemented by a set of different modules.

However the general idea of "module, written in python,  for configuring/operating service X does not require python bindings for service X" would be a non-goal; it's not practical from an ongoing code development and mainte

[2016-06-03 20:00] jduncan-rva commented on #3762
Oh I totally agree. The problem I came into was that an OS designed only to run containers (Atomic) can't use the docker_container module.

It has of course grown since then as it was sussed out, but we do need to figure that one out somehow.

[2016-06-03 20:39] westover commented on #2688
Did this make it into 2.1? Docs aren't super clear

[2016-06-04 01:31] dcbishop opened #3864 "docker_container: When using restart_policy, Ansible restarts running container"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No changes.
##### OS / ENVIRONMENT

Host: Arch
Managed: Ubuntu 16.04
##### SUMMARY

When the restart_policy is used, the container restarts each Ansible run.

This happens with both `restart_policy=on-failure` and `restart_policy=always`.

Even with `restart_policy=always`, that

[2016-06-04 01:40] sivel commented on #3864
Duplicate of the already merged https://github.com/ansible/ansible-modules-core/pull/3785

[2016-06-04 01:40] #3864 closed, assigned to nobody

[2016-06-04 01:55] wimnat commented on #2688
@westover nope. No new iam modules for 2.1

[2016-06-04 02:41] einarc commented on #3180
+1, not in doc yet so I assume is not in 2.1, which I'm using.

[2016-06-04 02:42] einarc commented on #3180
@aioue Why is it not in the documentation?

[2016-06-04 02:44] einarc commented on #3151
Try changing the instance_name field to something different.

[2016-06-04 03:02] einarc opened #3865 "RDS FACTS Capture endpoint data BEFORE the rds instance is in available status (If not limited by AWS API)"
##### ISSUE TYPE

- Bug
##### COMPONENT NAME

rds: command: facts.
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Using Tower, nothing special
##### OS / ENVIRONMENT

N/A
##### SUMMARY

After restoring an rds instance from snapshot WIHTOUT waiting when using the rds module with facts command the endpoint value does not change from none UNTIL the rds instance status actually changes to availab

[2016-06-04 04:41] einarc commented on #3865
Async wouldn't work either:

https://groups.google.com/forum/?hl=en%3De28007a285fbef44#!topic/ansible-project/0I20c9_Razg

[2016-06-04 06:03] chouseknecht opened #3866 "docker_container - env variables with multiple '=' fails"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### SUMMARY

If an environment variable definition containers multiple _=_ signs, the module's configuration comparison routine incorrectly determines that the container's set of env variables does not match the expected set of environment variables. Environment variable definitions can come from m

[2016-06-04 06:06] chouseknecht commented on #3864
The restart policy issue is fixed, as sivel indicated. However, the provided example exposed a completely different issue, which I documented here #3866

[2016-06-04 06:14] #3866 closed, assigned to nobody

[2016-06-04 08:59] rodecker commented on #3782
Thanks for looking into this.

The commit does not resolve the issue for me. The `-C master` workaround also does not pick up the changes.

[2016-06-04 09:20] robinro commented on #3782
Does the test in https://github.com/ansible/ansible/pull/16055 pass for you?

Can you post a minimal example (similar to the test) that fails for you?

[2016-06-04 11:28] cadmi commented on #1741
yep, that would be great... now we have to do a workaround

[code]

[2016-06-04 11:48] rodecker commented on #3782
Found the problem.

Ubuntu 12.04 has git 1.7.9.5 installed, on which (as the documentation of git.py states) the depth parameter does not function correctly. Before https://github.com/ansible/ansible-modules-core/commit/f1bacc1d3f9578f26d4ae2f66112cbb2509a7fe8 depth was not used, so ansible-pull worked as expected.

I checked on Ubuntu 14.04 (git 1.9.1). The problem does not exist there.

[2016-06-04 12:09] svenstaro opened #3868 "service module: ValueError: need more than 1 value to unpack"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

core/system/service.py
##### ANSIBLE VERSION

ansible 2.1.0.0
##### CONFIGURATION

Nothing.
##### OS / ENVIRONMENT

Arch Linux host and client
##### SUMMARY

This line `service: name=smartd enabled=yes state=started` results in this:

[code]

I have put in print statements in core/system/service.py around that variable like such:

[code]

This gi

[2016-06-04 12:14] towolf commented on #3801
This was added by my PR https://github.com/ansible/ansible-modules-core/pull/2944

Before Ansible 2.1 there was only the possibility to actually diff 'before' and 'after' texts returned from modules.

With {apt,aptitude,apt-get} that is not so useful. They do provide the dry-run or simulate option, which display what changes would be done (or were done) during a dist-upgrade.

So I added the 'prep

[2016-06-04 12:38] towolf commented on #3801
@resmo, sorry for the two things that I didn't catch and handle in my original PR, by the way.

[2016-06-04 15:21] phylor commented on #2756
Had the same problem. The following worked:

[code]

[2016-06-05 14:03] anshprat commented on #2509
Unrelated to this issue but mentioning here since the given workaround causes another issue... dopy 0.3.5 causes private_networking to fail. So use 0.3.4 instead for enabling create time private_networking. Though in 0.3.4, well, only ipv6 fails :/

https://github.com/ansible/ansible-modules-core/issues/1412

[2016-06-05 14:51] webdaford commented on #3762
I'm seeing the same error on Ubuntu 16.04, but with the added twist of it working on two of my 16.04 machines, but not on another two.  I'm trying to figure out what's different between the machines, and I'm not making much progress.  They are all configured using the same Ansible playbooks, and all have docker-py installed.  They all have the same python etc.  Two work, two don't.  Any suggestion

[2016-06-05 18:53] westfood opened #3871 "django_manage createsuperuser does not seem idempotent"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

django_manage
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

OSX El Captain / 10.11.5, managing CentOS 7.1
##### SUMMARY

Issuing command createsuperuser ends up in error after second invocation.
##### STEPS TO REPRODUCE

Using this task, hard coding username/mail does not yeald in better effect

[code]

##### EXPECTED RESULTS

It should n

[2016-06-06 04:26] wrgeorge1983 commented on #3763
I just hit this myself.  Looking at the linked file on line 278 it also looks as if it force a push even when it is loading an image from an archive.

[2016-06-06 07:11] tuxdna commented on #3241
I encounter the same issue

[code]

And I get this error:

[code]

Here are additional details:

[code]

HOST details:
- `CentOS 7.1`
- `Linux HOST 3.10.0-229.el7.x86_64 #1 SMP Fri Mar 6 11:36:42 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`

And all the required binaries for decompression are also present on the HOST ( remote machine )

[code]

[2016-06-06 08:16] robinro commented on #3782
I updated the PR to check for the git version and fall back to a full clone on too old git versions.

[2016-06-06 08:23] robinro commented on #3808
Workaround: set `group: usergroup` for the user module to define the user's group.

A real fix would need to change the code logic and I'm not interested enough in the old SuSE versions to do this. Somebody else (or @theballdredge?) might.

[2016-06-06 11:12] skyfaller opened #3873 "linode module: "name" parameter required, but documentation says it isn't"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

linode module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

Running Ansible from OS X 10.11.5
##### SUMMARY

The documentation for the linode module at http://docs.ansible.com/ansible/linode_module.html claims that the "name" parameter is not required, but I seem to be unable to successfully use the linode mo

[2016-06-06 12:31] klj613 opened #3874 "ec2 module - dont modify termination protection"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

ec2
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

I was using ansible v1.9.4 to start/stop servers using a playbook. I've recently updated to ansible v2.0.1.0 however the termination_protection option defaults to "no" therefore it tries to disable termination protection on some servers. The playbook sole purpose is to

[2016-06-06 13:04] ryansb commented on #1717
This bug is fixed on `devel`. The VPC examples above all report `changed=false` on second run.

[code]

[2016-06-06 13:04] #1717 closed, assigned to nobody

[2016-06-06 13:40] #3868 closed, assigned to nobody

[2016-06-06 15:08] wvidana commented on #1965
👍

[2016-06-06 16:06] bcoca commented on #593
so unless you are running systemd inside the docker container, this will fail to detect it as the docker 'special' init is the 'manager' instead.

see http://developers.redhat.com/blog/2014/05/05/running-systemd-within-docker-container/

[2016-06-06 17:03] xrow commented on #593
@bcoca I guess this is the problem. The special init manager need to default to something (CMD [“/usr/sbin/init”]) or we need to set it / enforce at runtime /build.

Some were you able to reprose the problem with our test case?

[2016-06-06 17:40] anmolnagpal commented on #2951
Hi,

I am integrating Slack module with Ansible getting same type fo error

[code]

[2016-06-06 17:53] alikins commented on #3810
Could you retest this a devel version from git?

There have been a lot of changes to unarchive that should address this, including 983cdd00bc71571df74f5f5a8afbe20468c27bde

[2016-06-06 17:57] alikins commented on #3817
Pinging @robinro

[2016-06-06 18:17] alikins commented on #3829
I don't think could be changed without breaking existing playbooks.  Since create_home is enabled by default, this seems like the proper behavior (essentially 'useradd -r -m').

[2016-06-06 18:17] #3829 closed, assigned to nobody

[2016-06-06 18:18] bcoca commented on #3762
@webdaford unrelated to this ticket, the problem here is that he cannot install docker-py, use mailing lists and/or IRC for your issue.

[2016-06-06 18:32] RNanney opened #3876 "nxos_vlan returns "Command does not support JSON output""
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

nxos_vlan
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ansible.cfg
ask_pass      = False
gathering = explicit
roles_path    = /vagrant/roles/
##### OS / ENVIRONMENT

Running from vagrant precise32
Managing Cisco Nexus 3172 Chassis; System version: 6.0(2)U5(2)
##### SUMMARY

nxos_vlan module returns "Command does not support JSON output" ho

[2016-06-06 18:35] kuza55 opened #3877 "ec2 module hangs if spot request fails"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ec2 module
##### ANSIBLE VERSION

ansible 2.1.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
##### CONFIGURATION

ANSIBLE_HOSTS=/etc/ansible/ec2.py
##### OS / ENVIRONMENT

Ubuntu on Windows 10
##### SUMMARY

When an ec2 spot bid fails, the ansible console hangs (making it seem like it's just t

[2016-06-06 18:44] alikins commented on #3838
There needs to be a state set for 'create=yes' to do the right thing.

http://docs.ansible.com/ansible/lineinfile_module.html#options

[code]

[2016-06-06 19:01] dgarros opened #3878 "junos_facts - config parameter should have a default value"
##### COMPONENT NAME

module : junos_facts

[code]
##### ANSIBLE VERSION

2.1.0.0
##### OS / ENVIRONMENT

Mac OS 10.11.5
##### SUMMARY

Currently the parameter `config` for junos_facts is mandatory and do not have a default value
I think it would be better to set a default value to `false` and not make this parameter mandatory.

Playbooks will be simplified

I'm happy to send a pull request for it

[2016-06-06 19:17] alikins commented on #3854
(just formatted/linewrapped version of last line in actual results)

[code]

(some line breaking in playbook example for reading)

[code]

[2016-06-06 19:18] alikins commented on #3854
What does 'if mount fails with systemctl' mean?

[2016-06-06 19:30] alikins commented on #3854
What the OS and ansible configuration?

What user/ssh options are being used for that host? What 'become' options?
Assuming ssh with pipelining and controlPersist based on logs.

If possible, post a complete playbook that reproduces.

EDIT: needs_info

[2016-06-06 19:55] jmvbxx commented on #3758
As of today this error still occurs with most recent versions of apt-get & pip ansible

[2016-06-06 19:57] alikins commented on #3873
Looking at the code https://github.com/ansible/ansible-modules-core/blob/devel/cloud/linode/linode.py#L406-L422 ,
I see where the error is coming from.

However, I don't see why name is required there.
Looks like a bug to me.

[2016-06-06 20:09] einarc commented on #3865
Confirmed that aws cli is capable of obtaining this information BEFORE the rds instance is in available state.
Also, according to PIP AWS CLI itself is ALSO using BOTO?

[code]

So at first sight, if aws cli can do it, ansible should be able too.

[2016-06-06 20:55] kireledan commented on #3645
The file to reload can already be specified in the sysctl_file param. Would adding a state 'reloaded' be a good approach to this maybe? And when the state is reloaded it could ignore the name parameter (if no name is given).

[2016-06-06 21:33] alikins commented on #3878
The commit https://github.com/ansible/ansible-modules-core/commit/a6dc526570f6b4bfddcb106998a25d5dc150e4f3 seems to have changed this.

It's a little hard to say, but since the commit message doesn't mention changing if 'config' is required or not, I suspect that may be unintended.

@privateip should 'config' be required here?

[2016-06-06 21:35] alikins commented on #3877
Is https://github.com/ansible/ansible-modules-core/pull/2210/ related?

[2016-06-06 22:04] lachlansimpson commented on #3829
is one of the weirdest things I've ever read from a dev, sorry. That logic would indicate your dev intention is to _never_ break random third party playbooks?

The behaviour can't be that hard to change - it's simple conditional "create_home=yes; if system=yes: create_home=no;". That simple change brings the module into line with the command that it is based on, and, as an added bonus, the module

[2016-06-06 22:25] Hubbitus commented on #2936
@abadger thank you for the fixing.

@dagwieers could you please post links to documentation on that new plugin and that particular option?

[2016-06-06 22:31] dagwieers commented on #2936
@Hubbitus Cannot post links to something that does not exist yet.

[2016-06-06 23:50] Juberstine commented on #3758
Same issue as well in 2.1.0.0. Installed via Brew

[2016-06-07 02:42] yano-at-so-net opened #3881 "cl_interface|bond|bridge does not configure multiple addresses properly"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Mac OS 10.11.5
##### SUMMARY

##### STEPS TO REPRODUCE

Use the following Vagrant file to spin up a cumulus-vx switch.

[code]

Put the following ansible playbook in the same directory.

[code]

Then vagrant up will provision the VM using Ansible.

[code]

##### EXPECTED RESULTS

`man interfac

[2016-06-07 02:49] bcoca commented on #3838
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-06-07 02:49] #3838 closed, assigned to nobody

[2016-06-07 03:18] listx commented on #3758
@rohitkothari I applied the same patch as well to my local s3.py file (ansible 2.1.0.0 via brew) and got it working. The fix has already been merged into `devel` branch; we should probably close this issue.

[2016-06-07 04:24] larry-s commented on #3603
I have shown the result as seen by Ansible Tower. I have not tested with Ansible but not Tower, but I suspect it is the same. Can I suggest that the actual status code is put in another field also, such as actual_status. Adding to the status message would also be good.

[2016-06-07 07:26] jhawkesworth commented on #3457
@dreamcat4 - would you mind having a look at the documentation PR I created - https://github.com/ansible/ansible-modules-core/issues/3771? Do you think this is enough so that this issue can be closed?

[2016-06-07 07:40] m-messiah commented on #3810
Confirm, devel version (I have used ansible https://github.com/ansible/ansible/commit/1b3d6df98514c56fb1a2d86ee3adaa20a1e15586, as last successful build on travis, with updated modules) resolved this bug.
Thank you.

[2016-06-07 07:40] #3810 closed, assigned to abadger

[2016-06-07 09:00] vazhnov commented on #1134
Still not working in Ansible 1.9.5.
If I applied patch manually, it is worked.

[2016-06-07 09:09] robinro commented on #3817
@adamchainz thanks for the report. You already found the problem in the code: `get_head_branch` probably doesn't do what we need in fetch with depth.

I don't have much time for the next 2 weeks to work on issues. Maybe you can come up with a fix and open a PR? I'd be happy to review it.
Probably one can just leave out the `if currenthead != version` test and always fetch the new version info.

Th

[2016-06-07 10:00] dreamcat4 commented on #3457
The new documentation is a reasonable improvement. However its not gonna alleviate any user frustrations I'm afraid.

[2016-06-07 11:14] dmke commented on #3801
Indeed, `ansible-playbook playbooks/apt-update.yml --diff` works as advertised, thanks (I didn't notice that Ansible 2.1 was available when I opened this issue).

Is there a way to trigger `--diff` for the `apt` module only, e.g. by adding `diff=True` to the task?

[2016-06-07 11:14] #3801 closed, assigned to nobody

[2016-06-07 12:19] sztupy commented on #940
Also note if you do docker login on OSX or Windows, it will only log you in on your machine, which is not enough, you have to docker login manually on the VM where docker host runs as well

[2016-06-07 13:00] nemd opened #3883 "aws elb - disappearing https listeners"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### SUMMARY

I have play for creating elastic load balancer on aws. There are two listeners one for http and another for https (redired to http on instance). During execution http is created fine but https is created but then after few seconds it's gone.
I've checked this also with `purge_listeners: no` and manually created listeners bu

[2016-06-07 14:20] Jacob-SAE commented on #3790
I'm experiencing this same issue with Ubuntu 14.04 while attempting to connect to remote Ubuntu 14.04 instances. When I remove wait_for ; however, it works without issue.

This is the error message I see when I use wait_for:

[code]

[2016-06-07 14:31] towolf commented on #3801
There's an open issue to implement what you are asking for: see https://github.com/ansible/ansible/issues/14860

[2016-06-07 15:31] dmke commented on #3801
Cool, thanks again!

[2016-06-07 15:42] theballdredge commented on #3808
setting `groups: usergroup` is currently set and has no effect on the systems being targeted.  ill take a look at the code, doesnt look look like that complicated of a change.

[2016-06-07 15:51] ghost commented on #454
+1

[2016-06-07 16:00] robinro commented on #3808
Not `groups: usergroup` but `group: usergroup`. Both exist and your usage needs `group`.

[2016-06-07 16:38] theballdredge commented on #3808
missed the S.  sorry about that.   this workaround does appear to work on my end.

[2016-06-07 18:14] phil-dileo opened #3884 "eos_command cli transport cryptography error"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

eos_command
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Running under virtualenv.  The virtualenv was clean when I did a pip install ansible.
##### OS / ENVIRONMENT

Mac OS Yosemite - 10.10.3
##### SUMMARY

Trying to use eos_command with cli transport.  When you try to do this you get the paramiko error below.  The same command works over

[2016-06-08 00:30] privateip commented on #3876
/cc @jedelman8 @GGabriele

[2016-06-08 01:25] jedelman8 commented on #3876
Hi @RNanney   This is interesting.  Our testing has been predominantly on 7.0 code, but some minor nuances are popping up between versions of NX-OS. Let's dive into your platform + OS, because I just tested on 9396 and 7.0, and it's good.  Initial tests were on 6.0 code too, but can't recall the release.

Can you provide the output of `show vlan | json` from the device before AND after you run the

[2016-06-08 01:36] privateip commented on #3862
merged 16181 which should address this problem

[2016-06-08 01:36] #3862 closed, assigned to privateip

[2016-06-08 01:43] RNanney commented on #3876
Hi @jedelman8, yeah this is strange but it seems to be working on our 9ks as well.

Before:

[code]

After:

[code]

Interesting enough this time around the playbook output looks different.

[code]

[2016-06-08 01:46] #3878 closed, assigned to privateip

[2016-06-08 02:42] jedelman8 commented on #3876
Odd.  I see this.

First...

`
{"vlanshowbr-vlanid": "50", vlanshowbr-vlanid-utf": "50", "vlanshowbr-vlanname": "Acct#1547246_162.13.17.216/29", "vlanshowbr-vlanstate": "active", "vlanshowbr-shutstate": "noshutdown"}
`

which is in the after of this device `yc3-32-cin-nexus3172-2379243# sh vlan | json`

Background...

The reason that failure message is displayed is because there is a Python `Value

[2016-06-08 04:29] RNanney commented on #3876
Thanks for looking in to this so late in your day. This is working when using transport=nxapi. Is it possible this has something to do with line wrapping. If you notice that key that is missing double quotes on device 2379243 falls on the edge of the output. I tried messing with the vlans and came up with something similar on the same device

[code]

Notice the missing quote on the "vlanshowinfo-v

[2016-06-08 07:32] robinro commented on #3256
It would be nice to allow the case of changed name (could be None -> "new name") with identical job, which is doable. Just look for the exact line and add/update the name.

[2016-06-08 08:46] bachp commented on #902
+1

[2016-06-08 11:24] dagwieers commented on #3645
Implementing a sysctl reload is not that hard (I have an implementation), but the proper idempotent way to do this is to support check-mode (and diff-mode), which means we need to know whether sysctl actually induced a change and report those changes.

And that's a whole other beast because the sysctl command does not offer anything in this regard to help us. The best way to do this is to parse th

[2016-06-08 11:37] jedelman8 commented on #3876
I do agree, there is a small coincidence with where it's wrapping the line, but if you want try changing your terminal width and see what happens :)

Regardless, I don't think it's an issue with the module.  Will let Cisco know so they can provide feedback too although I do know they will probably recommend a different version of NXOS.  Are you locked into this version?

[2016-06-08 12:53] esc commented on #2468
Is there a pull-request for this yet? We need this to setup the Datadog integration role which requires cross-account read-access.

[2016-06-08 13:24] RNanney commented on #3876
Ok, I've been experimenting with this more and while the character position from last night appears to be a coincidence I'm leaning more towards the line wrapping issue with the output. You can see below that there should be a comma before {"vlanshowbr-vlanid": "110"

[code]

I also witnessed this happening on the .31 host as well.

[code]

I agree with you that the issue is more with the way the

[2016-06-08 13:39] ghost commented on #2468
There was, but I removed it as I was tired of having to bump up the release version... but someone reinstated it as https://github.com/ansible/ansible-modules-core/pull/3885

[2016-06-08 13:40] MichaelBaydoun commented on #2468
https://github.com/ansible/ansible-modules-core/pull/3885 has been merged.  This issue can be closed.

[2016-06-08 13:41] jedelman8 commented on #3876
Summary: we've seen missing quotes and commas and there is invalid JSON being returned.

The workarounds that I'm thinking of would be either to fix the bad JSON object somehow or if there is an error raised, I suppose, we can re-connect to the device and get ASCII text back, and then parse `show vlan` without the `| json`.  Personally, I don't like either and could set wrong expectations going fo

[2016-06-08 13:49] sivel commented on #3876
Just a thought here, but since these typically run locally, we would have access to pyyaml.  The YAML parser can parse JSON, and is more lenient, as not having quotes is valid YAML.

[2016-06-08 13:50] jedelman8 commented on #3876
Sounds interesting, but one of the issues was a missing a comma too

[2016-06-08 14:52] frank-carnovale commented on #1124
+1
me too, i.e. really surprised that recursive copy did not preserve modes of deeply nested files.  Agree with original suggestion "mode=preserve" or similar.

[2016-06-08 15:04] privateip commented on #3876
@sivel these modules work with delegate_to so you cannot be assured of pyyaml

[2016-06-08 15:24] privateip commented on #3876
@jedelman8 @RNanney is the missing " consistent or intermittent?  i don't believe terminal width is the issue here, i have a funny feeling its how nxos generates the json output but thats just my gut telling me that

[2016-06-08 15:26] JoeyG1973 commented on #3180
+1 on getting this implemented.

[2016-06-08 15:54] RNanney commented on #3876
@privateip I'm not sure how to answer that. You can see in my last playbook run that the first vlan add on the .31 host failed (but the vlan was actually added) and the next add on the same host came back as changed. I'm assuming this is because of the additional characters caused the lines to break at different positions. Then you can see the last add for the .31 host fails again.

[2016-06-08 15:57] phil-dileo commented on #3884
@privateip have you seen this before? This seems to be a new issue since 2.1.0.0

[2016-06-08 16:13] jedelman8 commented on #3876
It's still changing because we query the device after the change to get the
list of VLANs again.  That is where it's failing.  Still, not sure what we
do here?

On Wed, Jun 8, 2016 at 11:54 AM, RNanney notifications@github.com wrote:

[2016-06-08 16:14] dagwieers opened #3891 "Yum task reports as "skipping", but silently fails underneath for missing package"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

yum
##### ANSIBLE VERSION

v2.0.2.0
##### SUMMARY

If you have a yum task that installs a bunch of packages, and one of the package is somehow not available in the repositories. The task reports itself as "skipping", however it simply fails in reality and the playbook stops with `NO MORE HOSTS LEFT`.

When increasing verbosity, the task clearly

[2016-06-08 16:17] dagwieers commented on #3597
@alikins Can you please merge the fix and close this issue ? Thanks !

[2016-06-08 16:18] dagwieers commented on #3597
Nevermind.

[2016-06-08 18:05] #2468 closed, assigned to nobody

[2016-06-08 19:30] augustineas commented on #3891
This bit me as well. A very related issue was reported at the "ansible" level rather than at the module repo level in ansbile bug #15027, but it looked like the submitted never reported it here.

It seems that when the "yum" module is used with the "with_items" directive, that it will report "skipping" in most (all?) cases, whether or not there is a "fatal" or a "changed" or if all items were unch

[2016-06-08 23:27] jfenal-zz commented on #3300
As for needs:
- get list of repos currently enabled on the machine
- enable if not yet enabled a repos or a list of repos (in one command, as subscription-manager is slooooow)
- same for disabling a list of repos, with special '*' to disable all repos (and build on a clean state)

[2016-06-09 00:04] phil-dileo commented on #3884
So I tested with paramiko==1.17.0 and it worked.  Not sure what happened in paramiko 2.0.0

[2016-06-09 00:57] dgarros commented on #3878
Thanks :)

[2016-06-09 02:19] mdklatt commented on #2568
Also present with Ansible 2.1 and Python 2.7:

[code]

Task:

[code]

Error:

[code]

The host machine is running **OS X 10.11** with **Python 2.7.10**, and the remote platform is **CentOS 7.2** with **Python 2.7.5**.

The virtualenv gets created correctly with its own `pip`, but as others have said, Ansible attempts to install packages in the system Python library. The system Python does not even

[2016-06-09 03:42] jordy25519 commented on #3800
+1

[2016-06-09 05:11] gunzy83 commented on #3447
We ran into this and explicitly setting the region in the task seemed to fix it for us.

[2016-06-09 07:20] tbouvet commented on #3107
As @chouseknecht said, switch to [docker_service](https://github.com/ansible/ansible-modules-core/blob/devel/cloud/docker/docker_service.py).

[2016-06-09 07:21] #3107 closed, assigned to nobody

[2016-06-09 09:25] tumbl3w33d commented on #3246
I can confirm that installing ca-certificates on the target host solved the issue for me.

[2016-06-09 11:12] dvzubarev opened #3895 "Synchronize: a problem with a non-standard ssh port"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

synchronize
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
vault_password_file=.vault_pass.txt
##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

I have the following option in my /etc/ssh/ssh_config :

[code]

I want to sync some directory to a machine that has this address: 10.0.3.188:22.

I get an error

[code]

This [code](ht

[2016-06-09 12:39] pigulla opened #3897 "Module systemd is used instead of service"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
- systemd
- service
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

_none_
##### OS / ENVIRONMENT

Debian Jessie
##### SUMMARY

Ansible appears to use `systemd` when it is expected to use `service`. This is a problem because the latter supports a `sleep` parameter and the former doesn't, which means the command fails.
##### STEPS TO REPRODUCE

[2016-06-09 13:06] bingoarun commented on #2714
Should we have this feature in os_server_actions or os_server ?

Having this in os_server_actions would require an additional parameter "image_id" to rebuild the VM.

In os_server it would be more suitable, we can have 3 states of os_server (present, absent, rebuild) ,  suggestions ?

[2016-06-09 13:26] bcoca commented on #3897
this is by design, we are moving away from having everything in a monolithic 'service' module and splitting into specific modules, following the same model the 'package' module has.

My question here is, does systemd need a sleep? unlike sysvinit it does not do a stop/start.

[2016-06-09 13:29] pigulla commented on #3897
I don't think it does. I ran across this while using [geerlingguy.mysql](https://galaxy.ansible.com/geerlingguy/mysql/) (specifically [this handler](https://github.com/geerlingguy/ansible-role-mysql/blob/master/handlers/main.yml)). So I suppose I should open an issue there?

**Edit**: Issue opened geerlingguy/ansible-role-mysql#128

[2016-06-09 13:30] feanorknd commented on #1124
+1

[2016-06-09 13:46] mrobson opened #3898 "redhat_subscription attaches all pools of the same name"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

redhat_subscription
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Based on the current implementation, you can specify pool like: pool='^OpenShift Enterprise$'. This will return all of the available subscriptions that match and in turn grab the pool_id and attach them.  The issue is that if you

[2016-06-09 13:58] DerykHopley opened #3899 "digital_ocean droplet creation with unique_name"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

digital_ocean
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

default
##### OS / ENVIRONMENT

CentOS: 7.1
python: 2.7.5
dopy: 0.3.6
##### SUMMARY

If a DigitalOcean account has more that 20 existing droplets the unique_man=yes option doesn't match any droplets over this limit and creates new droplets as per default.
##### STEPS TO REPRODUCE

C

[2016-06-09 14:37] rodecker commented on #3782
This works. Thanks!

[2016-06-09 15:44] neowu opened #3901 "unarchive doesn't extract changed tar file"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

unarchive module
ansible-modules-core/files/unarchive.py
##### ANSIBLE VERSION

2.1.0.0-1ppa~trusty
##### CONFIGURATION

none
##### OS / ENVIRONMENT

N/A
##### SUMMARY

unarchive is not updating dest (extract the tar) if tar content changed and still keep old file structures, (means if you run "tar -d", it reports Mod Time changed)

by checking t

[2016-06-09 17:14] keithrbennett opened #3903 "Gem module installs executables in directory different from gem executable."
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

gem
##### ANSIBLE VERSION

[code]

[code]

[code]

[code]

[code]

[code]

[2016-06-09 19:10] alikins commented on #3898
Looks like the 'pool' arg is somewhat misleading, since it does end up just matching against product names.

I suspect the most DWIM fix would be to match the 'pool' value against the full pool-ids first, and use it if it matches, then fallback to the existing product name based matching.
(ie, pool=F8289B89-2FB5-44F5-A2AE-98514D5B6EBD).

Another approach is to use subscription-managers built in po

[2016-06-09 19:25] alikins commented on #3898
@mrobson Is the scenario where you are hitting this, would specifying a rhsm pool id explicitly be workable? Or is the goal for the module to select more intelligently?

I'm  going to consider this a 2.1.x bug (explicit pool_id, possibly limiting to one match), and support for more flexible matching/filtering to be a 2.2 feature request.

[2016-06-09 20:45] nitzmahone commented on #3891
@dagwieers There was a bug when handling failures with arg-squashing that got fixed (IIRC just before 2.1.0) that should have taken care of this. Two things:
- Are you seeing this behavior on current stable-2.1 and devel?
- I assume you're expecting the task to show "failed", not that you want silent success? That's been asked for as well (since it's the way yum itself behaves from cmdline), but w

[2016-06-09 20:55] sherl0cks opened #3905 "unarchive fails when file names have spaces - ansible 2.1"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

**problematic**
- `ansible 2.1.0.0`

**working fine**
- `ansible 2.0.2.0`
- `ansible 1.9.6`
##### CONFIGURATION

default `pip install ansible==2.1.0.0`
##### OS / ENVIRONMENT

controller: fedora 23
host: centos 7 & fedora 23
##### SUMMARY

if the archive contains files with spaces, the module fails.
##### STEPS TO REPRODUCE

I made a reproducer.

[2016-06-09 20:55] sherl0cks commented on #3905
@mscherer opened here by request from https://github.com/ansible/ansible/issues/16060

[2016-06-09 21:52] abadger commented on #3782
The update to the git module broke integration tests.  Revert those for now so reopening this until that's sorted out.

[2016-06-09 22:01] dustymabe opened #3906 "docker_service: check minimum version of docker-compose required"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_service
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Fedora 23
docker-compose-1.6.2-1.fc23.noarch
##### SUMMARY

When using docker_service module ansible complains:

[code]

I think this is because the docker-compose version is docker-compose-1.6.2-1.fc23.noarch vs 1.7 like in Fedora 24. Should we update the module to check minimu

[2016-06-09 22:38] relaxdiego opened #3907 "QUESTION: Recommended way to run module tests in Travis"
I'm learning how to write modules that I'd like to eventually submit to this repo. In the meantime, I'm working on it from my fork. I'm writing unit tests alongside my module under the test directory and would like for these tests to run in Travis. I tried adding the following lines to the bottom of the `script` section of `.travis.yml`

[code]

However, the build fails because the the environment

[2016-06-09 22:46] relaxdiego commented on #3907
Closing this and moving question to mailing list:

[2016-06-09 22:46] #3907 closed, assigned to nobody

[2016-06-09 23:43] einarc commented on #3444
@DerekTBrown  Can I get 2.2 through PIP? I got 2.1 from PIP about a week ago instead of using a repo, trying to get a fix for another bug.

[2016-06-09 23:53] einarc commented on #3593
Who QA's these things?

[2016-06-09 23:54] einarc commented on #3444
+1

[2016-06-10 00:00] einarc commented on #3444
I am seriously starting to wonder why the documentation is out of sync with the code or is this just my interpretation. Before I say anything, I have to ask WHAT version of Ansible is the documentation supposed to support. I've seen so many issues like this in one week that I'm beginning to wonder.

 I mean look at the date here:
http://docs.ansible.com/ansible/ec2_elb_lb_module.html May 25 2016,

[2016-06-10 00:23] einarc commented on #3444
For anyone that lands on the same situation as I, here's how to downgrade ansible using PIP, simply specify the version that you want, to find the version available user yolk:
sudo su -

pip install yolk

yolk -V ansible

Downgrade:
pip install ansible==2.0.2.0

[2016-06-10 04:35] laurentgo commented on #1773
I have the same issue on Centos 7.2 with ansible 2.1.0.0 and python-boto 2.25.0-2.el7.

The stack trace is:

The version check mentionned in the comment from @bcoca is present in ec2_vol module, but not on ec2 module, when setting directly a device block mapping.

[2016-06-10 08:25] Vladimir-csp opened #3911 "Search paths in inline templating"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

copy (possibly other that can take inline content)
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Documentation report/question for now: What search path is used when using include in inline templating? This is not documented. Tried paths relative to `role/`, `role/templates/`, `role/files/`, a

[2016-06-10 08:40] nemd commented on #3883
It's resolved. It was due to bad logic in my playbook. I'm sorry for rush submit.

[2016-06-10 08:40] #3883 closed, assigned to nobody

[2016-06-10 11:31] dagwieers commented on #3891
We are seeing this with the v2.0.2.0 release. I will test it with stable-2.1 if you like.

Indeed, if a task fails, it should state it "failed". I don't understand why it would appear to be skipping, even if it succeeded it should not state "skipping" ! Skipping IMO means that no task was executed, but in this case obviously it did perform something. I think it is a bug that the yum module would r

[2016-06-10 12:16] mihai-satmarean opened #3915 "impossible use of vsphere_guest for stand alone esxi hosts"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible-modules-core/cloud/vmware
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

when using vsphere_guest against an standalone esxi host the key pair datacenter and hostname are required thus failing
##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2016-06-10 13:20] bcoca commented on #3915
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-06-10 13:20] #3915 closed, assigned to nobody

[2016-06-10 14:10] dagwieers commented on #3905
Ok, so this is known, and [fixed](https://github.com/ansible/ansible-modules-core/issues/3819), and is waiting for someone to merge it. In the meantime more people are opening duplicate tickets for the exact same thing. And they remain open.

@bcoca Help ! See #3819 of a list of duplicates...

[2016-06-10 14:16] dagwieers commented on #3891
Alright, this problem was _NOT_ in v2.1, but was in v2.0.2.0. In fact I can no longer reproduce this in v2.1. So this issue can be closed. (Let me update the original report to reflect the real issue, despite it being fixed already)

[2016-06-10 14:16] #3891 closed, assigned to nobody

[2016-06-10 14:19] dagwieers commented on #3901
Your analysis seems to be correct. The fix is also quite trivial as you stated.
Can you implement the fix in the same line as we reflect other changes in is_unarchived() ?
This is the right approach.

[2016-06-10 14:44] mrobson commented on #3898
@alikins Yes, specifying pool_id directly would be valid.  Each subscription has a unique pool_id.

Another option, which would be a little more flexible (wouldn't need to find the pool_id), would be to find all **available** subscriptions matching the regex, but only attach one.

[2016-06-10 14:47] awasilyev opened #3916 "docker: check for container existence broken for swarm"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

default
##### OS / ENVIRONMENT

docker-1.11.1, centos 7
##### SUMMARY

check for container existence broken for swarm
##### STEPS TO REPRODUCE

[root@ba0 ~]# ansible -c local localhost -m docker_container -a "image=rabbitmq name=mq1 docker_url=tcp://127.0.0.1:2376 "
localhost | SUCCESS =>

[2016-06-10 15:05] #3788 closed, assigned to nobody

[2016-06-10 15:06] bcoca commented on #3905
closing via merged #3819

[2016-06-10 15:06] #3905 closed, assigned to nobody

[2016-06-10 15:07] bcoca commented on #3792
closing via merged #3819

[2016-06-10 15:07] #3792 closed, assigned to nobody

[2016-06-10 15:26] font opened #3917 "Add state=query option for OS Packaging Modules"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

- yum
- apt
- dnf (but this is in the ansible-modules-extras repo)
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

- Managing Linux
##### SUMMARY

I would like to query for the installation status of a particular package without actually changing the state of the package on the machine. This would allow one to register a variable to act

[2016-06-10 15:30] davidhollenberger commented on #3444
I'm also running into this bug.  Using a do-until loop as a workaround to run the module twice if it fails the first time.  Working fine so far, but hope to see a fix soon.

[code]

[2016-06-10 17:45] pporada-gl opened #3921 "Unclear if ios_command allows to 'config t' commands"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ios_command
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

I have a list of commands to send to a switch. It appears as if commands that require `config t` are skipped or fail to execute.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

The switchport changes to the correct vl

[2016-06-10 19:12] alikins commented on #3898
Picking the "right" one via ansible would be tricky though. For the case with installed product ids and auto attach, server side figures that out based on the subs and product id. But there isn't a mechanism for selecting the best pool from a potential set of pools (at least not thats exposed to subscription-manager).

But, I'd say that picking only one, even if it is 'suboptimal' is definitely be

[2016-06-10 20:00] mdklatt opened #3923 "The `editable` parameter in pip module does not work"
##### ISSUE TYPE

 Bug Report
##### COMPONENT NAME

pip
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ansible is running on **OS X 10.11.4** and managing **CentOS 7.2.1511**.
##### SUMMARY

Setting the `editable` parameter to `True` when running a `pip` task does not actually install the requirement as editable. Looking at the module source code, this parameter only has an effect if the re

[2016-06-10 20:10] chrisweaver opened #3924 "get_url not using environment variable no_proxy"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

get_url
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

default
##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.2 (Maipo)
##### SUMMARY

When setting the environment variable no_proxy, the get_url module doesn't use it.  We need to bypass our corporate proxy to get files from our central fileshare.
##### STEPS TO REPRODUCE

[

[2016-06-10 20:24] chrisweaver commented on #3924
After further experimentation, it appears the problem is get_url doesn't respect the dot!

So while:

[code]

... works with curl, it doesn't work with get_url module.  I tried this and it worked:

[code]

Since the dot indicates "this domain plus all subdomains", and we don't have any subdomains on our file server, I'm ok.  But this might mess with other people.

[2016-06-10 20:31] sivel commented on #3924
To my knowledge, we don't implement anything specific in regards to processing proxy env vars.  The code that handles that is part of python itself in urllib.

[2016-06-10 20:33] mowings commented on #3241
At the risk of another "me too", same issue here. We have a tar.gz file which worked fine with the 2.0.2.0 unarchive module. We get the missing handler error with 2.1.

[2016-06-10 20:45] chouseknecht commented on #3916
@awasilyev If you're trying to launch containers on swarm, you should be doing it with docker_service. docker_container is not intended to support swarm.

[2016-06-10 20:47] #3916 closed, assigned to chouseknecht

[2016-06-10 21:26] #3906 closed, assigned to chouseknecht

[2016-06-10 21:38] neowu commented on #3901
python is not my primary language, but this is straightforward fix,
the pull request is #3926
please review

[2016-06-10 23:25] chachra commented on #3444
+1

[2016-06-11 02:45] chouseknecht opened #3927 "docker_container state present"
##### ISSUE TYPE

##### ANSIBLE VERSION

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Remove old container and run container again.
##### ACTUAL RESULTS

[code]

[2016-06-11 02:47] chouseknecht commented on #3927
@mwardRH moved your open issue from ansible/ansible.

[2016-06-11 02:59] #3927 closed, assigned to chouseknecht

[2016-06-11 10:06] alaz commented on #3670
This is quite nasty bug actually and I've just hit into it.

I have a server with two interfaces. The first interface `eth0` is connected to Internet and has a real IP address (`EXT` below), another one `eth1` is connected to the internal network and has an C class IP address.

My goal is to bind Docker containers to the internal interface only, they should not be visible from the outside world. S

[2016-06-11 12:50] awasilyev opened #3929 "docker_container: quotes are passed to the command"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

docker 1.11.1, centos 7
##### SUMMARY

quotes, used to resolve ansible variables,  passed to the command
for example, if I need to run swarm container with some variable substituted I use
command="manage etcd://{{etcd_host}}:{{etcd_port}} -H 0.0.0.0:2376"

[2016-06-11 17:50] chouseknecht commented on #3670
I'm guessing we have the same issue with docker_container. Will take a look. There must be a way to query the daemon and figure out the correct _default_ IP address. Will take a look.

[2016-06-11 18:52] alaz commented on #3670
I think there are two problems here:
- The module documentation says explicitly "Use docker 'CLI-style syntax", which could be interpreted  as "use the same syntax as in Docker CLI and get the same result, because it's passed plainly" (and I thought so).
- But in fact the module is too smart and performs implicit post-processing, it tries to "normalize" the `ports` specification, i.e. prepends _de

[2016-06-12 08:49] dagwieers commented on #3901
Seems to work fine.

[2016-06-12 09:31] Vladimir-csp commented on #3911
It seems I'me mixed copy and file modules
Found https://github.com/ansible/ansible/issues/6929
Will open new issue.

[2016-06-12 09:31] #3911 closed, assigned to nobody

[2016-06-12 09:45] Vladimir-csp opened #3934 "template and copy modules should have state parameter"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

copy
template
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

As was suggested in https://github.com/ansible/ansible/issues/6929, I am opening new issue on this matter
Please add 'state' parameter for template and copy modules, so items could be removed with the same task by using condition or varia

[2016-06-12 14:34] alaz opened #3935 "Docker should support `restart_policy` with value `on-failure:N`"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

docker
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Docker component supports `restart_policy` with value `on-failure`, but it does not support the optional part where the maximum number of restarts is allowed. This looks like `on-failure:3`, see [Docker documentation](https://docs.docker.com

[2016-06-12 17:12] xen0l opened #3936 "user module should be able to configure RBAC attributes on Solarish systems"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

user
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default
##### OS / ENVIRONMENT

OpenIndiana/SmartOS/Oracle Solaris
##### SUMMARY

illumos/Solaris RBAC provides authorizations/profiles/roles attributes. These should be configurable via Ansible
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

RBAC authorization/profile/role will b

[2016-06-12 19:34] HelioCampos commented on #3444
Hi @davidhollenberger,
- Can you put a complete example of this?

Regards,

[2016-06-12 23:08] GeorgeDewar commented on #3763
I spent some time trying to figure out why this was happening for one of my applications and not another. I've now figured out that this behaviour only occurs of the image name contains a forward slash. Just noting this in case anyone else comes across this issue and isn't aware of this.

This also means that not putting a slash in the image name may be a viable workaround for some users.

P.S. Is

[2016-06-12 23:59] fulminemizzega opened #3939 "ini_file drops empty file with ansible-playbook --check (dry run)"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ini_file
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Running on Fedora 24, managing Centos 7
##### SUMMARY

This playbook executes a task with module ini_file. When running the playbook with ansible-playbook -C, ansible creates an empty dest file. The dest file does not exists before ansible-playbook dry run.
#####

[2016-06-13 00:43] davidhollenberger commented on #3444
@HelioCampos Here's a full example.  Hope this helps.

[code]

[2016-06-13 03:57] mickael-ange opened #3940 "Missing documentation for "profile" option of "rds" Amazon module."
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

ansible-modules-core/cloud/amazon/rds.py
##### ANSIBLE VERSION

all?
##### CONFIGURATION

n/a
##### SUMMARY

The documentation for "profile" option (and probably other options) is not shown in the current documentation of [RDS Amazon module](http://docs.ansible.com/ansible/rds_module.html).
Probably related to missing `extends_documenta

[2016-06-13 04:42] calmdev commented on #2626
This feature would be great. @jmdh did you use curl? Curious if you found a solution you're happy with.

[2016-06-13 11:15] madarve commented on #2819
See #1635, and #1460... template path refers to the path on the working (remote) host, not your local path (i.e where the files folder is). I too, get confused by the wording on this.

[2016-06-13 11:33] aindlq opened #3941 "docker_container: by default will always remove volumes associated with container"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

docker-py remove_container function is wrongly used.

Default value for keep_volumes is True,  which is passed to remove_container as is, but remove_container "v" parameter should be True only if volumes need to be removed. So by default all volumes associa

[2016-06-13 12:31] axhm3a opened #3942 "docker_container plugin: command is not working as expected"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

none
##### OS / ENVIRONMENT

ubuntu 16.04 client / ubuntu 14.04.4 target
##### SUMMARY

##### STEPS TO REPRODUCE

while using docker_container task command argument ist going litarally executet inside of container.

[code]
##### EXPECTED RESULTS

a running consul-server just like

[2016-06-13 13:34] chouseknecht commented on #3935
Support for 'on-failure' has already been added to docker_container, which is the replacement for docker. **Note** you may need to run from source to get this functionality in docker_container.

The following playbook using the _mongo_ image produces the expected results:

[code]

Inspecting the new _mongo_ container returns:

[code]

[2016-06-13 13:34] #3935 closed, assigned to chouseknecht

[2016-06-13 13:40] alaz commented on #3935
My fault, I missed that extra arg. Thanks!

[2016-06-13 14:04] chouseknecht commented on #3929
Not seeing the same results. This issue may have already been fixed. Tested with devel and Stable-2.1 branches.

[code]

Yields:

[code]

[2016-06-13 14:04] #3929 closed, assigned to chouseknecht

[2016-06-13 14:13] chouseknecht commented on #3942
This issue may have already been fixed. Testing against the stable-2.1 branch and not seeing any errors.

Ran the following playbook:

[code]

The container starts without any errors. Inspecting the _consul-server_ container yields the following:

[code]

[2016-06-13 14:13] #3942 closed, assigned to chouseknecht

[2016-06-13 14:25] gregdek commented on #3762
"I understand that. The issue is that, in an operating system like Atomic or CoreOS, adding that requirement is far from trivial."

While it's annoying that libraries are sometimes required on the target system, it's a fairly common pattern, even on CoreOS.

Take a look at this project:

https://github.com/defunctzombie/ansible-coreos-bootstrap

They install python and pip as part of their bootstr

[2016-06-13 14:55] alikins commented on #3940
ping @willthames, @bpennypacker

[2016-06-13 15:04] ShortyFR commented on #2936
I checked the commit, and it adds a regex to check for missing files :

`MISSING_FILE_RE = re.compile(r': Warning: Cannot stat: No such file or directory$')`

Which means it only works if the remote server is running in English... No such luck here, my remote server is in French, so the message is : "Aucun fichier ou dossier de ce type".

You shouldn't rely on English messages in modules.

[2016-06-13 15:08] alikins commented on #3939
Need some clarification: The body and title refer to 'lineinfile', but the playbook and output shows the 'ini_file' module being used. Assuming this is about the 'ini_file' module. Correct me if I'm wrong.

Looking at the 'ini_file' code (https://github.com/ansible/ansible-modules-core/blob/devel/files/ini_file.py#L130-L134), it looks to me like the 'ini_file' check behavior is wrong.

The code lo

[2016-06-13 15:09] alikins commented on #3939
ping @jpmens @noseka1

EDIT: needs_info

[2016-06-13 15:16] alikins commented on #3936
ping @grossws

[2016-06-13 15:21] fulminemizzega commented on #3939
Sorry, my bad, I meant ini_file module. Yes, the behaviour of ini_file when running with --check is wrong, it creates an empty file if the file didn't exist before (and in my case it broke my playbook, yum was not happy at all). Sorry for the mistake in the title and body, I edited the bug report. Huge brainfart :)

[2016-06-13 15:25] alikins commented on #3923
ping @mattupstate

[2016-06-13 15:37] jdanthine commented on #3241
+1

[2016-06-13 15:45] alikins commented on #3921
Could the cli prompt "Switch(config)#" be confusing ios_commands.py?  Looks like there is a regex to match cli prompts at: https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/ios.py#L40
If that regex fails to match, potentially means this is a bug in ansible/ansible module_utils.

But that's just a guess, I haven't tested that regex and know nothing about ios. Reassigning to @pr

[2016-06-13 16:06] alikins commented on #3924
Looking at upstream python2.7, I don't see anything indicating the dot is expected to work. ie, nothing mentioned it explicitly, and none of the urllib test cases seem to test for no_proxy values with leading dots. https://github.com/python/cpython/blob/2.7/Lib/test/test_urllib.py etc.

is 'fileshare.company.com' a (sub)domain or a hostname?

https://www.w3.org/Daemon/User/Proxies/ProxyClients.htm

[2016-06-13 16:22] alikins commented on #3924
Looking at curl code/history, it also looks like .hostname.domain.tld is known to be out of spec, but curl trims off the leading . in that case. git history seems to indicate a previous curl specific no_proxy var (CURLOPT_NOPROXY) did support .hostname.domain.tld, and the 'trim leading .' behavior is for backwards compat.

See https://github.com/curl/curl/blob/master/lib/url.c#L4562-L4567

That al

[2016-06-13 16:23] alikins commented on #3924
I'm leaning towards this not being a bug. @chrisweaver agree?

[2016-06-13 16:30] dagwieers commented on #2936
@ShortyFR What commit did you check ? It helps to be explicit in your communication.

We have no other option than to parse the output from gtar (unless we reimplement using `tarfile`). The module forces `LANG=C` nowadays, so that should not be a concern.

[2016-06-13 16:47] ShortyFR commented on #2936
I checked the commit mentioned in the fix message : [983cdd0](https://github.com/ansible/ansible-modules-core/commit/983cdd00bc71571df74f5f5a8afbe20468c27bde) (AFAIK it's the only commit mentioned here).

The locale does indeed seem to be a concern since I actually have errors like this on Ansible 2.1 :

`fatal: [myserver]: FAILED! => {"changed": false, "failed": true, "msg": "Unexpected error whe

[2016-06-13 16:49] dagwieers commented on #2936
If you look in the devel branch, you will see that it is already fixed. We are forcing `LANG=C`.

[2016-06-13 16:59] BirgerK commented on #1885
Problem still existing with Ansible 2.1.

Named workaround still does work:

[code]

[2016-06-13 18:08] atulhm commented on #2509
I'm stuck.  I still have this error on osx.

ansible (2.0.2.0)
dopy (0.3.5)
httplib2 (0.9)
Jinja2 (2.8)
paramiko (2.0.0)
pip (8.1.2)
six (1.10.0)

An exception occurred during task execution. The full traceback is:
Traceback (most recent call last):
  File "/Users/djsa;lfjk/.ansible/tmp/ansible-tmp-1465841227.3-278325667029611/digital_ocean", line 185, in <module>
    class TimeoutError(DoError):

[2016-06-13 18:12] #3941 closed, assigned to chouseknecht

[2016-06-13 18:15] kamsz opened #3945 "docker_container detach does not detach the container"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

Using "detach: yes" in docker_container should make the task wait until the container exits. Right now, container is being detached.
##### STEPS TO REPRODUCE

Example playbook:

[code]
##### EXPECTED RESULTS

Task should wait until container exits.

[2016-06-13 18:32] bcoca commented on #3945
confirmed with simple test
`ansible -m docker_container -a 'name=test1 image=ansible/ansible:centos7 detach=no command="sleep 100" state=started' localhost`

[2016-06-13 19:49] dagwieers commented on #3901
@alikins Just merged #3926 closes this one. Thanks @neowu !

[2016-06-13 19:55] samdoran commented on #3300
I would like this functionality as well. I'm wondering about the best way to go about implementing it.

Would it make sense to add this to the existing `redhat_subscription` module given the `state:` parameter would then be ambiguous, i.e., is the _repo_ enabled ( `repos --enable` vs `repos --disable`) or is the _subscription_ enabled (`register` vs. `unregister`)? Adding a `repo_state` parameter

[2016-06-13 21:09] atulhm commented on #2509
Ok all.  Not sure what is up with my system but I tracked down this obscure issue.  in case anyone else doesn't want to burn half a day....

I have tack on the following to my ansible commands when running with a local connection...

-e 'ansible_python_interpreter=/usr/local/bin/python'

 If anyone has suggestions for what I need to fix on my system, please let me know.  Not sure why ansible isn't

[2016-06-13 21:11] jmdh commented on #2626
I don't remember the exact use case I filed this for - I guess I did it manually.

[2016-06-13 21:22] calmdev commented on #2626
Here are the tasks I'm using that work for me:

[code]

[2016-06-13 21:44] chouseknecht commented on #3670
Trying to decide what to do with existing containers. Unfortunately there is no way to see the value of `--IP` passed to the Docker daemon. It doesn't seem to be part of `docker info`.

What you're requesting is for the module to accept whatever IP address is assigned by the daemon and ignore the IP address when evaluating existing containers. However, I think this causes a problem. For example, a

[2016-06-13 22:19] #3945 closed, assigned to chouseknecht

[2016-06-13 22:28] #3528 closed, assigned to nobody

[2016-06-14 01:34] willthames commented on #3940
Sure - seems like an easy PR @mickael-ange if you feel capable (if not, let me know and I will sort it)

[2016-06-14 04:28] rgrinberg opened #3948 "postgres_user: assign privs to all tables"
How can I assign privileges to all tables in a database? This is straightforward in SQL:

[code]

But it seems like `ALL TABLES IN SCHEMA Public` can't be specified as a table. But it seems like all the queries are hard coded to use tables. For example:

[code]

[2016-06-14 05:03] ToBeReplaced commented on #3670
@chouseknecht Are you saying that it doesn't seem possible to detect whether an IP address assigned to a container X matches a port binding specification? And querying the daemon was a bust?

A few more possibilities:
1) Make `8000:80` actually mean `any:8000:80`, or "I want to bind 8000 to 80 on some ip address", which is equivalent to the CLI style syntax, but does not update existing container

[2016-06-14 05:20] hudecof commented on #902
+1

[2016-06-14 07:57] aindlq opened #3949 "docker_container: ignore_image flag is not implemented"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### SUMMARY

ignore_image flag is documented in https://docs.ansible.com/ansible/docker_container_module.html but actually is not implemented.

[2016-06-14 10:32] lagartoflojo commented on #3800
There's an open PR that fixes this:
https://github.com/ansible/ansible-modules-core/pull/3741

[2016-06-14 10:54] DanOfir commented on #3241
+1

[2016-06-14 13:45] pvitty commented on #3241
Same on CentOS 7 with Ansible 2.1.0.0

[2016-06-14 13:56] bcoca commented on #3948
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-06-14 13:56] #3948 closed, assigned to nobody

[2016-06-14 21:53] omgjlk commented on #2714
I could see this going either way.

But given all the stuff we have in os_server, it probably makes more sense to put it there.

[2016-06-14 22:26] kundeng commented on #2936
I can't update to 2.2 because ansible comes with SLEP 11 and I have no way to install from source due to a number of errors.

My question is how to patch 2.0.2.0  with the bug-fixed unarchive.

[2016-06-14 22:42] dagwieers commented on #2936
It's not impossible, but you have to start from the unarchive module from the devel branch. Then remove all the newer functionality in the module API. E.g. the parameter typing, diff-mode, etc...

Unfortunately, because of the various changes in the interface, we cannot take newer modules and use them as-is on older Ansible releases. (This used to work, but not lately)

[2016-06-15 00:00] grossws commented on #3936
I have no Solaris/Illumos systems, so it out of scope of my interests currently.

Feel free to make a pull request if you want to contribute a patch.

[2016-06-15 07:13] mickael-ange commented on #3940
@willthames Here you go https://github.com/ansible/ansible-modules-core/pull/3951

[2016-06-15 08:09] jbguerraz commented on #1124
+1 :)

[2016-06-15 08:55] sandrinr opened #3952 "unarchive on OSX does not extract the archive and fails with an error"
##### ISSUE TYPE

Bug
##### COMPONENT NAME

unarchive module
##### ANSIBLE VERSION

Ansible on OSX 10.10, installed through Homebrew.

[code]
##### CONFIGURATION

Not settings changed (to my knowledge ;-)).
##### OS / ENVIRONMENT

OSX 10.10, Homebrew
##### SUMMARY

When executing the play pasted below Ansible fails when excuting the unarchive command.

EDIT:
This is a regression because it happens

[2016-06-15 09:35] abelboldu commented on #1170
This is still happening in 2.0 on trusty docker containers
https://travis-ci.org/abelboldu/openstack-glance/jobs/137737287#L1957

[2016-06-15 10:20] bitmensch commented on #3790
Looks like I see the same issue `Timeout when waiting for 172.19.0.2:8090` on latest CentOS 5:

[code]

This occurs although the service is definitely available on the specified IP address at that time.

[2016-06-15 10:39] ghost commented on #3790
You can bypass by copying the wait_for module from a previous version into the ansible module folder. However, this doesn't fix the current module ofcourse ;)

[2016-06-15 11:55] privateip commented on #3921
Please do not use ios_command to send configuration commands to the device, thats the purpose of [ios_config](http://docs.ansible.com/ansible/ios_config_module.html) or [ios_template](http://docs.ansible.com/ansible/ios_template_module.html) :)   In a future release (2.2), ios_command will not accept a list of commands that include configuration.

If there is some functionality that is missing in

[2016-06-15 11:55] #3921 closed, assigned to privateip

[2016-06-15 12:31] abenokraitis commented on #3881
Greetings, I'd like to request that this issue be closed as a duplicate of the upstream bug which is filed against the Cumulus GitHub repo/module:

https://github.com/CumulusNetworks/cumulus-linux-ansible-modules/pull/54

[2016-06-15 12:34] privateip commented on #3881
tracking issue in downstream repo, closing this issue

[2016-06-15 12:34] #3881 closed, assigned to privateip

[2016-06-15 12:34] pporada-gl commented on #3921
Would it be possible to get an example of what I was trying to do, but with[ ios_config](http://docs.ansible.com/ansible/ios_config_module.html)? I don't quite understand the syntax from the documentation.

[2016-06-15 14:25] ghost commented on #3952
I've faced with similar issue on ansible 2.2.0, but in my case I run ansible playbook not on local MacOSX machine, but on remote Debian Linux.
Output:
FAILED! => {"changed": false, "dest": "/opt/android_sdk", "failed": true, "gid": 23114, "group": "jenkins", "handler": "TgzArchive", "invocation": {"module_args": {"backup": null, "content": null, "copy": false, "creates": null, "delimiter": null, "

[2016-06-15 15:42] quater opened #3956 "docker_container - security_opts - unknown type <type 'list'> error"
##### ISSUE TYPE
- Bugfix Pull Request
##### COMPONENT NAME

docker_container.py
##### Feature Name

security_opts
##### ANSIBLE VERSION

[code]
##### SUMMARY

I have been trying to use the "security_opts" option as outlined below.

[code]

This has been fixed with below pull request.

Fix has been proposed with #3959 docker_container - security_opts - unknown type <type 'list'> error

[2016-06-15 16:12] jacklund opened #3957 "ec2_asg ignores replace_instances if lc_check is true"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

cloud/amazon/ec2_asg
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Running  `ec2_asg` with `replace_instances` set to a single instance and `lc_check` set to `yes` against an ASG with multiple instances causes it to ignore `replace_instances` and replace a random instance in the ASG.
##### STEPS TO

[2016-06-15 16:15] selivan opened #3958 "apt_key doesn't compare key data in check mode"
##### ISSUE TYPE
- Feature idea
##### COMPONENT NAME

apt_key
##### ANSIBLE VERSION

`ansible --version`:

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

Management host: Ubuntu 14.04 Trusty
Controlled host: Ubuntu 14.04 Trusty
##### SUMMARY

If apt_key module takes keyfile from `data="{{ lookup('file', 'key.gpg') }}"`, it always marks task as "changed" in `--check` mode, despite that this key

[2016-06-15 16:25] AMeng commented on #3725
This is resolved for me using the `stable-2.1` branch. Thank you!

[2016-06-15 19:18] bubakazouba commented on #575
@colindunn I'm experiencing issues with that because aws command would only return output when the instance is fully initialized and that takes minutes with me usually. Does that happen to you?

[2016-06-15 19:29] chrisweaver commented on #3444
I can't use this module at all now. Workaround doesn't help. :(

[2016-06-15 20:05] jctanner commented on #2754
There are currently ~200 modules that aren't checking **main** ...

[code]

[2016-06-15 21:03] frimdo opened #3960 "setup module failure"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

- Setup
##### ANSIBLE VERSION

[code]

[code]
##### CONFIGURATION

- Default configuration
##### OS / ENVIRONMENT

- Arch linux
##### SUMMARY

- Every attempt to run playbook (which runs setup module), or command using setup module fails with error posted in "actual results".
##### STEPS TO REPRODUCE

Install ansible or ansible-git and sshpass u

[2016-06-15 21:06] sivel commented on #3960
Since I see you are running ansible from Arch, can you confirm which python version you are using?  Is it python3 or python2?

[2016-06-15 21:09] frimdo commented on #3960
Im using default (so i suppose python3)

python --version

Python 3.5.1

[2016-06-15 21:18] frimdo commented on #3960
Oh my bad, setting ansible_python_interpreter=/usr/bin/python2.7 in hosts
file solved the problem.

[2016-06-15 21:22] #3960 closed, assigned to nobody

[2016-06-15 21:22] bcoca commented on #3960
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-06-15 22:13] equake commented on #3444
@chrisweaver: @davidhollenberger example is working nicely for me. using v2.1.0.0

[2016-06-15 23:36] chrisweaver commented on #3444
I'm using David's example exactly.  I'm using version 2.1.0.0-0.  It doesn't matter how many times I run the play, or how much time I put between attempts.  I have experimented with parameters.  I get the aforementioned error every time.

There must be something else here.  Did you do something before this?

Another tack: what is the purpose of the backend policies methods (_get_backend_policies a

[2016-06-16 01:36] heathdbrown commented on #3876
Just an fyi, we opened a bug report with Cisco on the issue in:
- 6.0.2.U5.2
- 6.0.2.U4.3

We will also try upgrading the code version to something higher in the 6.0.2.U6 code train.

[2016-06-16 10:19] chrmcd opened #3962 "Unable to deploy config to junos"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

modules/core/network/junos/junos_template.py
module_utils/junos.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ubunut 14.04
##### SUMMARY

Unable to deploy a junos template to a router
##### STEPS TO REPRODUCE

Run the playbook under, does not need actual configuration file.

[code]

##### EXPECTED RESULTS

Expecte

[2016-06-16 10:25] XooR commented on #3790
Problem appeared with commit 67de0675c39e6e505e02b145ee1456c284c45344

[2016-06-16 10:53] ghost commented on #3504
This is back - in 2.1.0 release version:

[code]

That 'Stop cassandra' is:

[code]

Kernel 3.19.0-61-generic #69~14.04.1-Ubuntu
ansible 2.1.0.0

[2016-06-16 11:49] koddo commented on #575
@bubakazouba, I guess the host key is generated on the host and we can't get it before the instance is initialized. I'd try to [wait_for](http://docs.ansible.com/ansible/wait_for_module.html) open ssh port or regex match in output before this local_action.

[2016-06-16 12:23] m4dm4rtig4n commented on #902
+1

[2016-06-16 13:55] mscherer commented on #3256
So, if you omit the name (as I did), ansible will happily add the same job at each run. That's what is written in the documentation, but I am not sure to understand when would anyone want that in the first place.

[2016-06-16 14:02] privateip commented on #3921
[code]

[2016-06-16 14:12] pporada-gl commented on #3921
Thank you. I appreciate that very much.

[2016-06-16 14:17] genei09 opened #3964 "docker for mac and docker or docker_images modules periodically fail to pull images"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

docker_image
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

OSx 10.11.4
Docker for Mac Beta 1.11.2 build 9168
Dinghy 4.4.0
docker-machine 0.7.0
##### SUMMARY

docker toolbox and dinghy do not have this issue.
With docker for mac attempting to pull an image will fail.  Running the docker pull command manually howev

[2016-06-16 14:44] genei09 commented on #3964
It appears that the pull request is still running even after the playbook fails on that step.  So eventually the image is pulled and the rest of the playbook continues

[2016-06-16 16:52] sandrinr commented on #3952
I just checked it with

[code]

With this version, again on OSX 10.10 using Homebrew, the issue does **not** occur. So it seems to be a regression introduced in the 2.1.0.0 version of Ansible.

[2016-06-16 17:51] mdaize commented on #3122
I have a number of CloudFormation scripts that can each take 10-15minutes to run. This means that a single ansible task can take several HOURS depending on how many are run. Async is a must in this situation.

[2016-06-16 17:57] nitzmahone commented on #3952
Sounds like we'll have the same problem on any BSD-ish OS...

[2016-06-16 18:26] nitzmahone commented on #3956
Should be fixed by #3959 - closing

[2016-06-16 18:26] #3956 closed, assigned to nobody

[2016-06-16 18:28] DerekTBrown commented on #3444
@chrisweaver any chance you could install the latest version of Ansible from the git repository, and try again with your playbook? That should differentiate between an AWS Configuration and an Ansible issue.

[2016-06-16 18:28] nitzmahone commented on #3958
Can you dump the contents of the templated lookup against the actual keyfile and see if there's any minor difference (trailing space/newline, BOM, etc)? This is probably an easy fix, but we need to know what we're looking for.

[2016-06-16 18:58] chrisweaver commented on #3444
I built a new RPM from devel branch yesterday, which comes up as "ansible-2.2.0-0", and installed that.  I can now create ELBs.

However, now remove ELB is broken.  Same error:

[code]

I can live with that though -- I replaced the remove task with a call to AWS CLI.  But ... jeez.

[2016-06-16 19:53] DerekTBrown commented on #3444
@nand0p - can you confirm that this issue is in remove as well?

[2016-06-16 20:47] selivan commented on #3958
How do I get those? Actual file is here: https://gist.github.com/selivan/44d970b55b75a6435d02f2b42dbe44db
In `-vvv` output you can see

[code]

Looks exaclty the same to me.

[2016-06-16 21:10] bhardin commented on #612
Any word on a fix here?

[2016-06-16 21:21] chrisweaver commented on #3444
Another problem: when I run the create task again, I get "Load Balancer named Mobile-s already exists and it is configured with different tags."   So idempotency is broken.

[2016-06-16 21:21] Gerst20051 commented on #902
why is this getting stalled?

[2016-06-16 21:37] stxyzth opened #3968 "seboolean fails on ansible but enables/disables on node"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

seboolean
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default cfg.
##### OS / ENVIRONMENT

CentOS 6.7 (Not tested on CentOS 7 yet)
##### SUMMARY

When I run the seboolean to enable or disable http access to remote db it fails despite it actually performing the task. Of course due to Ansible failing it'll cut off the playbook and therefore

[2016-06-16 21:38] stxyzth commented on #3968
I did enter this on https://github.com/ansible/ansible/issues/16248 however it was mentioned that it could be best posting here.

Currently I can confirm that seboolean's run fine without persistent=yes set on the playbook. When it is set on any sebool the playbook will fail.

[2016-06-17 02:37] bingoarun opened #3969 "Issue in deleting instances with duplicate names using os_server module"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

os_server
##### ANSIBLE VERSION

$ ansible --version
ansible 2.0.0.0
##### OS / ENVIRONMENT

NA
##### SUMMARY

In scenario where there are two servers with same name , if I try to delete a server (absent) using os_server module it is failing. It is expected. But if we can just use the Instance ID in the 'name' parameter, the instance is successfu

[2016-06-17 10:08] selivan commented on #3958
And here is other issue with false positive  `--check` for apt_key: https://github.com/ansible/ansible-modules-core/issues/2622 but there `url=` is used. I suppose, this issues are realted.

[2016-06-17 10:09] selivan commented on #2622
Here is another issue with false positive `--check` for apt_key: https://github.com/ansible/ansible-modules-core/issues/3958 but there `data=` is used. I suppose, this issues are realted.

[2016-06-17 11:07] tommarshall commented on #3791
I can confirm that this is still present in 2.1.0.

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Mac OS X 10.11.5

[2016-06-17 12:43] luka5z commented on #3929
I'm using 2.1.0.0 version from PyP and I'm also impacted by this issue.

Ansible version:

[code]

[2016-06-17 12:49] tozz opened #3972 "docker_container wraps command in single quotes which breaks images with startup scripts"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

N/A
##### SUMMARY
##### STEPS TO REPRODUCE

When starting an container that uses a script as entrypoint (like the memcached image) the command will get wrapped in single quotes, this will cause the script to parse the command and the arguments a single enti

[2016-06-17 13:11] jimi-c commented on #3790
@XooR can you send your fix as a PR please?

[2016-06-17 13:52] mlogic opened #3974 "unarchive inexplicit error message when required command (like bzip2) is missing"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

unarchive
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No change.
##### OS / ENVIRONMENT

CentOS 7
##### SUMMARY

I have a host that doesn't have bzip2 installed, so when unarchive tries to unarchive a tar.bz2 package it fails. But the problem is ansible's output doesn't point to the real problem, but instead it is:

[code]

The msg above

[2016-06-17 14:14] ghost commented on #1312
+1

Especially when using 'wait_for' I really don't want to wait _#items \* timeout_.

[2016-06-17 14:36] foneox commented on #3241
+1 Ubuntu 16.04,  Ansible 2.1

[2016-06-17 15:03] jsnshrmn opened #3975 "lineinfile with regexp writes line when there isn't a match"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

lineinfile
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Bone stock
##### OS / ENVIRONMENT

CentOS 7
##### SUMMARY

When lineinfile  with regexp finds a match, it substitutes properly.  When it doesn't find a match (say, on subsequent runs), it just dumps the specified line at the bottom of the file as if you hadn't specified a regexp.  Need

[2016-06-17 16:28] jhawkesworth commented on #3457
@dreamcat4 - any suggestions what else could be done from the ansible side of things?

[2016-06-17 16:42] xxthegonzxx commented on #2951
+1

[2016-06-17 17:03] dreamcat4 commented on #3457
Dunno. Not really. Github are being right toolstations about it. I suppose if you're the guy who is uploading the files could perhaps try another service, like Bitbucket instead.

Unless you want to be special-casing the github urls. Like with an aborted GET instead and then immediately cutting the d/l off to be just inspecting the headers (instead of where its doing the HEAD).

Of course I didnt

[2016-06-17 17:45] ghost commented on #3597
I'm running in to the same issue.  Fresh install of latest ansible from source on centos7.  Unarchiving a zip file when the extracted files already exist results in the OPs error. Appears to only affect zip files, unarchiving a tar file where the extracted files already exist results in normal behavior.

Ansible version with error:
ansible 2.2.0 (devel bef1971ffe) last updated 2016/06/17 10:34:08

[2016-06-17 19:20] quater opened #3978 "docker_service - NameError: global name 'compose_version' is not defined"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

docker_service
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ubuntu 16.04
Kernel: 4.4.0-21-generic x86_64
Docker-py: 1.8.0
Docker API: 1.23
##### SUMMARY

Trying to use the `docker_service` module but get error when running a very basic playbook. The error message is **NameError: global name 'compose_version' is not defined**:

[code]
##

[2016-06-17 19:57] dagwieers commented on #3597
The fix exists, you can backport it yourself if it is urgent.

[2016-06-17 20:20] ms-ati commented on #2951
+1

[2016-06-17 21:17] dpcryer opened #3979 "netcfg.py using OrderDict from collections.py which isn't available under Python 2.6"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

nxos_template and other Networking modules that use netcfg.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No significant configuration changes from default ansible config.
##### OS / ENVIRONMENT

SLES 11
Python 2.6.8
##### SUMMARY

Attempting to use module nxos_template results in an error

An exception occurred during task execution. The

[2016-06-17 21:33] avalara-chase-farrant opened #3980 "Unarchive module - Throws error when unzipping a folder containing spaces"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

unarchive.py
##### ANSIBLE VERSION

ansible 2.1.0.0 (also exists in 2.1.1 RC1. Was previously working in 2.0.0.0)
##### CONFIGURATION

Default
##### OS / ENVIRONMENT

Ubuntu
##### SUMMARY

When trying to extract a .zip file, an error is thrown if a folder contains a space within the folder name. (Haven't tried a filename with a space.)
##### STEP

[2016-06-17 22:11] rasselin opened #3981 "most os_* moduels don't use clouds.yaml verify:false setting when validate_certs is not provided."
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

os_network
os_subnet
os_router
os_image
os_security_group
os_security_group_rule
os_keypair
os_server
_maybe others_
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

ubuntu 14.04
##### SUMMARY

When creating any of these modules and omitting the validate_certs: option,
but setting the cloud: option & including verify: f

[2016-06-17 22:12] rasselin commented on #3981
@rcarrillocruz  submitted per your request

[2016-06-17 22:50] abadger commented on #3980
@avalara-chase-farrant I think I lead you astray.  I had an old checkout when i tried your test case.  I think that 2.1.1rc1 is fixed as it has this commit in it:
- devel: https://github.com/ansible/ansible-modules-core/commit/3f7a935932c888d624cf8e6bb4a3ccf300b9345f
- stable-2.1: https://github.com/ansible/ansible-modules-core/commit/e50653bde479c7d3fc99946d801926c3ceedb59b

Give the rc a try and

[2016-06-17 23:46] nitzmahone commented on #3958
Hmm, looking at the code a little more closely, this module isn't that smart. It makes no attempt to compare the keys at all in check mode unless you pass the key_id (see https://github.com/ansible/ansible-modules-core/blob/27df98b6fbbcb95106c808e15ac1064768ae5b05/packaging/os/apt_key.py#L254-255). I'm going to change this to a feature request, as this was clearly "by design" (since we'd have to p

[2016-06-17 23:49] nitzmahone commented on #2622
This is arguably a feature request, as the apt_key module doesn't currently have a mechanism to parse the keys (it'll do what you expect if you include the key_id). Someone would need to add GPG key parsing to the module to implement the desired behavior.

[2016-06-18 03:27] joequery commented on #902
+1

[2016-06-18 10:31] jimi-c commented on #3790
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-06-18 10:31] #3790 closed, assigned to nobody

[2016-06-18 14:06] operations-ivy commented on #1008
+1 bump

[2016-06-18 16:21] slmingol opened #3983 "Yum module's state=latest doesn't appear to work with direct URLs to RPMs"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

yum module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When using the YUM module to install a RPM via a direct URL the state=latest doesn't work.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

The newer version of the RPM should've been installed/upgraded.
##### ACTUAL RESULTS

Runni

[2016-06-18 22:40] CorbanR commented on #3241
Also ran into this bug.

[2016-06-19 09:38] MrTomerLevi commented on #454
+1

[2016-06-20 07:21] ksator opened #3984 "module junos_config with the parameter lines + delete: the delete details doesnt apply"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

junos_config
https://github.com/ansible/ansible-modules-core/blob/devel/network/junos/junos_config.py
http://docs.ansible.com/ansible/junos_config_module.html
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

default
##### OS / ENVIRONMENT

$ uname -a
Linux ubuntu 3.19.0-25-generic #26~14.04.1-Ubuntu SMP Fri Jul 24 21:16:20 UTC 2015 x86_64 x86_6

[2016-06-20 08:16] SupremeGit commented on #1259
This mount module is a complete disgrace. It is broken in a million ways, and here, in this bugreport we see the reason - idiocy compounding upon idiocy.

SRC IS REQUIRED FOR UNMOUNT AND ABSENT

What if i WANT to have MULTIPLE lines in fstab referring to the same mountpoint? Sometimes i mount server1 on /balls/, other times i mount server2 on /balls/. Maybe i want to keep both entries in fstab and

[2016-06-20 08:28] SupremeGit commented on #1259
I should add, that I'm using ansible 2.0.1.0-2 on rhel6 and this useless mount module is not even unmounting when i tell it to:

I have this task:

- name: "Unmount all mounts onto /gs"
  #mount is such a POS it doesnt unmount even when no open files and manual unmount works perfectly
  mount: name="/gs" src="/data/gs" fstype=none opts=bind state=unmounted

I run it, it reports OK, but the bind mo

[2016-06-20 08:37] samohri commented on #3241
Upgraded the ansible to  2.1.0.0 and encountered this issue :-( using RHELservers

fatal: [54.66.212.13]: FAILED! => {"changed": false, "failed": true, "invocation": {"module_args": {"backup": null, "content": null, "copy": true, "creates": null, "delimiter": null, "dest": "/usr/node/test", "directory_mode": null, "exclude": [], "extra_opts": [], "follow": false, "force": null, "group": null, "kee

[2016-06-20 08:47] SupremeGit commented on #1259
So anyway, i also have this task:

[code]

Running this task, the result is:

[code]
Again, it is failing to unmount, even though i can manually unmount in an instant - there are no open files on the mount, there is nothing holding it open.

And then... WHAT THE F$#@ is this!!!! :     "Error rmdir /gs..."
Where the F$*# did i ask or the mountpoint to be removed!?

[2016-06-20 08:51] SupremeGit commented on #1259
effing amateurs

[2016-06-20 08:53] SupremeGit commented on #1259
The useless and dysfunctional state of this module is a menace to all ansible users and an utter disgrace.

[2016-06-20 09:12] SupremeGit commented on #1259
Just to be clear re the SRC option for unmount and absent - i agree the src option should not be REQUIRED. If user wants to remove all mounts for a mountpoint, omit src. If user wants to unmount/remove from fstab a particular SRC for the mountpoint, then they should be able to specify SRC and then it should be USED.

[2016-06-20 11:41] pangdudu commented on #3972
Having the same problem with the docker swarm image which results in:

[code]

[code]

because the cmd that was build is:

[code]

[2016-06-20 12:00] anoother opened #3985 "mistake"
My mistake, please ignore.

[2016-06-20 12:10] #3985 closed, assigned to nobody

[2016-06-20 12:46] mattymo opened #3986 "apt_key fails to fetch GPG key sometimes"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

apt_key
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04 (Xenial)
##### SUMMARY

ansible node1 -b --become-user=root apt_key -m apt_key -a "keyserver=hkp://p80.pool.sks-keyservers.net:80 id=58118E89F3A912897C070ADBF76221572C52609D"
sometimes has error:
gpg: requesting key 2C52609D from hkp server p80.pool.sk

[2016-06-20 13:24] michelleperz opened #3988 "Unarchive exclude throws erroneous error"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

unarchive exclude parameter
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No changes
##### OS / ENVIRONMENT

RHEL 7 managing RHEL 7
##### SUMMARY

When using the exclude parameter to exclude various directories, I get an error that one of my excluded directories does not exist even though it does.  However, when I use ignore_errors, the dir

[2016-06-20 13:27] pjmpsu commented on #902
+1

[2016-06-20 13:34] alikins commented on #3983
Looking at the yum module docs, the docs only mention using a full url in combination with 'state=present'.

To install a package from a full url, the state needs to be 'present'

From http://docs.ansible.com/ansible/yum_module.html:

Looking at the yum module code, the path for handing state=latest doesn't support full urls. The docs don't really mention it, but the expectation for 'state=latest'

[2016-06-20 14:26] avalara-chase-farrant commented on #3980
I believe you are correct. I updated to the latest version and the issue seems to have been resolved. Although now I am seeing new unrelated errors and will probably create another issue for them.

[2016-06-20 14:41] radu-stefanache commented on #3056
@chrrrles: I've tried to replicate what you've suggested by doing the following

[code]

What I am trying to achieve is to deploy the VM in a specific Folder and a specific Datastore. The RAM&CPU settings are being changed as well as the Network.

I've tried to specify the notes/folder in the 1st task, during template clone process but nothing happens.

Thanks in advance!

Cheers,
Radu

[2016-06-20 14:59] radu-stefanache commented on #2971
:+1:

[2016-06-20 15:11] maxramqvist commented on #3810
I am hitting the same bug with the latest devel-branch. Am I using the wrong branch?

Or perhaps not the same bug but the same error message.
Large file: ~650mb zipped, 1,1gb unzipped. 130'000 files.

... "failed": true, "item": "hybrisServer-AllExtensions.zip", "msg": "[Errno 7] Argument list too long", "rc": 7}

[2016-06-20 15:17] owbear commented on #3901
This bug hit us today. Wouldn't it be better to fail in the direction towards unpacking if anything unexpected is encountered on standard out from the tar -dz subprocess?

[2016-06-20 15:24] dagwieers commented on #3901
It is not that easy. The problem here is that we have to scrape the output of the gtar program, and ideally we wouldn't have to do that (by having a pure-python implementation).

But your proposal would be problematic, because it risks destroying (overwriting) data that you may want to preserve instead. Older versions of this module would be extracting everything every time (so it would always ind

[2016-06-20 15:25] dagwieers commented on #3901
PS If we could create awareness of regressions and release fixes to regressions more quickly, that would help as well...

[2016-06-20 15:28] jamescarr commented on #1259
I can understand the frustration but that attitude isn't exactly going to put anyone into a helpful mood.

[2016-06-20 15:32] pahaz opened #3989 "Docker container. Problem in multi interface port binding"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

https://github.com/ansible/ansible-modules-core/blob/devel/cloud/docker/docker_container.py
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

“N/A”
##### SUMMARY

Problem in multi interface port binding.
##### STEPS TO REPRODUCE

[code]

[code]

As you can see, we have two bindings to one port.

[code]

If we remove one of these lines, it wi

[2016-06-20 15:42] dagwieers commented on #3988
A recent change (#3575) has broken the `--exclude` functionality by implementing a pure-python `files_in_archive` implementation which is incompatible with gtar's pattern matching. @abadger Can we please undo this broken PR #3575 ? See: https://github.com/ansible/ansible-modules-core/pull/3575#issuecomment-222116332

@michelleperz Please use a YAML list, not comma-seperated entries, something like

[2016-06-20 15:44] owbear commented on #3901
Granted, we work in different contexts. Since scripting binaries is troublesome and error prone perhaps we should fail instead when unexpected output is seen.

[2016-06-20 15:46] radu-stefanache commented on #3056
I presume this applies now: https://github.com/ansible/ansible-modules-core/pull/1403

[2016-06-20 19:03] jctanner commented on #1497
The apt module has undergone a few revisions since 1.9.1 and the cache updating mechanisms have been port of those revisions.

If the system does not have python-apt, the module will attempt to run 'apt-get update && apt-get install python-apt -y -q' before proceeding to evaluate the rest of the module args. That command could alter the expected timestamp on the cache because it doesn't track the

[2016-06-20 19:03] #1497 closed, assigned to nobody

[2016-06-20 21:22] avalara-chase-farrant commented on #3980
This can be closed I believe.

[2016-06-20 21:32] #1715 closed, assigned to nobody

[2016-06-20 23:38] slmingol commented on #3983
Your description makes sense, especially given the examples where state=present is shown, while state=latest is omitted.

It still feels like state=present is not working correctly though. If I were to change the name of the RPM, yum still returns the error, so I'm not sure what to make of that. Guessing that YUM is looking at the internals of the RPM, and determining that the package named inside

[2016-06-21 05:59] pahaz opened #3993 "Consul module. Add ACL rules configuration"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

consul
##### ANSIBLE VERSION

N/A
##### SUMMARY

Add to consul module ACL api support.

My use case:

I use consul with token with `acl_default_policy=deny`. If I `acl_default_policy` is set to deny, the anonymous token will be unable to read any service information. This will cause the DNS interface to return no results for any service querie

[2016-06-21 06:10] mgedmin commented on #861
FWIW `wait_for: host=... timeout=300` is equivalent to `time.sleep(300)` if you don't provide a port (or path, or use state=drained): https://github.com/ansible/ansible-modules-core/blob/devel/utilities/logic/wait_for.py#L399-L400

[2016-06-21 06:43] chouseknecht commented on #3972
This was fixed here https://github.com/ansible/ansible-modules-core/commit/af0aa8247ddbd41c124c99a41eba5230f2e9abb4

If I run your playbook against the devel branch and then `docker ps --no-trunc`, I get this:

[code]

And inspecting the container yields:

[code]

[2016-06-21 06:43] #3972 closed, assigned to chouseknecht

[2016-06-21 06:55] chouseknecht commented on #3978
I believe this is happening because the compose library is not actually installed. The check for the correct version takes place before we check if the module actually imported.

This PR reverses the order so that we detect the missing compose module first and stop before attempting to check the version:  https://github.com/ansible/ansible-modules-core/pull/3995

[2016-06-21 07:58] drybjed opened #3996 "unarchive: fails when 'copy' parameter is passed using a list"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

`unarchive` Ansible module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Standard configuration
##### OS / ENVIRONMENT

Debian
##### SUMMARY

The `unarchive` module fails when its configuration is passed to the module through a list and `copy` parameter is used in one of the elements, with or without an `omit` default option.
##### STEPS TO

[2016-06-21 10:42] rubensmets commented on #2951
+1 btw: I'm having this issue running from osx

[2016-06-21 11:54] kaikousa commented on #1778
+1

[2016-06-21 12:32] symptog opened #3997 "postgresql_db owner for tables and views"
##### ISSUE TYPE
- Bug
- Feature Idea
##### COMPONENT NAME

postgresql_db
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ansible.cfg

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

The module `postgresql_db` should recursively set the database owner for all included tables, views and sequences.

`ALTER DATABASE %s OWNER TO %s` only affects the database but not the tables in the database.

[2016-06-21 13:18] dagwieers commented on #3980
This is indeed fixed. @abadger

[2016-06-21 13:49] mharvan commented on #3903
The ansible gem module performs a user installation by default. When you add the flag user_install=False it will install it in the expected directory.

For details, see
https://github.com/ansible/ansible-modules-core/blob/devel/packaging/language/gem.py#L219

[2016-06-21 14:13] cjreyn opened #3998 "ios_config force remove config lines"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

networking/ios_config
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Some ios config lines require existing config to be removed before successful application. An example of this is the 'service-policy input <policy-map-name>'. You cannot specify a new policy-map name to apply without removing the old

[2016-06-21 14:27] udis commented on #3065
Using Ansible 2.1.0 and shade 1.9.0 I still see this bug...
On the first run the task create the router and on the second run it fails with the output below.
- name: Add subnet to router interface
  os_router:
    cloud: openstack
    name: router1
    interfaces:
      - demo_subnet
    state: present

TASK [openstack_set_demo : Add subnet to router interface] *********************
An exception o

[2016-06-21 14:34] chrisweaver commented on #3924
Well, the docs for wget say it supports the dot:
no_proxy
           This variable should contain a comma-separated list of domain extensions proxy should not be used for.  For instance, if the value of no_proxy is .mit.edu, proxy will not be used to retrieve documents from MIT.

So what is the Ansible supported way of using wildcards for subdomains?  For example, everything under and including s3

[2016-06-21 14:38] cjreyn opened #3999 "ios_template missing backup"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

networking/ios_template
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

using ios_template with backup: true, I intermittently only get half the switch config. This also seems to affect the --check and --diff features, as the module tries to insert missing parts when they are in fact already present

[2016-06-21 14:41] jctanner commented on #3610
Confirmed that this test patch creates the expected results ...

[code]

We use -tt primarily for sudo purposes, but I'll have to dig further and determine if there's another workaround.

[2016-06-21 14:48] colin-lyman commented on #3444
This issue seems to be fixed in Devel.

https://github.com/ansible/ansible-modules-core/blob/devel/cloud/amazon/ec2_elb_lb.py

Replace the module found in /python_home_dir/site-packages/ansible/modules/core/cloud/amazon/ec2_elb_lb.py

[2016-06-21 15:06] pierreant-p commented on #3241
+1

[2016-06-21 15:34] #3978 closed, assigned to chouseknecht

[2016-06-21 16:10] jctanner commented on #3610
A more targeted patch ...

[code]

[2016-06-21 16:22] #3024 closed, assigned to nobody

[2016-06-21 17:20] jctanner commented on #3610
Hi!

A change has been applied for this ticket, which should address this item for you. We have decided not to alter the script module functionality to compensate for pttys at this time, but may do so at some point. For now, we have noted this issue in the module documentation with a workaround.

If you believe this ticket is not addressed, or have further questions, please let us know by stopping

[2016-06-21 17:20] #3610 closed, assigned to nobody

[2016-06-21 18:11] jctanner commented on #3681
Based on the traceback, the only way this could occur is if the resulting object from self._inventory.get_host(host_name) and Host(name=host_name) returned None.

[2016-06-21 18:12] jctanner commented on #3681
Tested "print Host('foobar').vars" against all ansible versions and it completed successfully in all versions since 0.5.

[2016-06-21 18:40] jctanner commented on #3681
I was able to reproduce this after I revisited the example role and took a closer look at the set_fact that runs before add_host. You are delegating to the public_ip of the instances and thereby creating a null host in inventory which has no vars property. This was definitely a problem in 2.0.2, but that since been fixed. The testcase completes successfully with ansible 2.1

[2016-06-21 18:40] jctanner commented on #3681
Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://groups.goog

[2016-06-21 18:40] #3681 closed, assigned to nobody

[2016-06-21 18:52] shaunbrady opened #4001 "IAM user can not go from N to 0 groups."
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

cloud/amazon/iam

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Linux but issue should not be platform specific.
##### SUMMARY

When trying to change group membership of a user from one or more groups, to no groups, no groups are changed.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected "joe"

[2016-06-21 19:39] dflock opened #4002 "git: Add an extra_args option to the git module."
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

git module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

I would like to set extra git options, but still use the ansible `git` module, rather than having to use `shell/command` instead.
##### STEPS TO REPRODUCE

Specifically, I would like to be able to add a proxy config to a particular git c

[2016-06-21 21:14] carlosmarin commented on #3629
👍

[2016-06-21 21:20] adichiru commented on #3241
+1 I ran into this bug too on Ubuntu 14.04.4 LTS
ansible 2.1.0.0

achiru@rivendale:~/Projects/origin-ansible$ sha1sum /usr/bin/ansible
754a48999947ac31391d1cc9d59e0934645844cc  /usr/bin/ansible

fatal: [host]: FAILED! => {"changed": false, "failed": true, "msg": "Failed to find handler for \"/tmp/apache-maven-3.1.1-bin.tar.gz\". Make sure the required command to extract the file is installed."}

[2016-06-21 22:27] aussieade commented on #3332
Just hit this too, setting ansible_shell_executable in ansible-hosts file nearly works (stops the /bin/sh -c) but there is still a "&& sleep 0" added to the command sent:

running

does indeed work as expected.

This was working in the past as I was using raw commands on this chassis some months ago.
ansible version is 2.1.0.0

[2016-06-21 23:17] basictheprogram opened #4004 "win_template fails Test-Path : Illegal characters in path"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

win_template
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ANSIBLE_KEEP_REMOTE_FILES=1
##### OS / ENVIRONMENT

Running Ansible from OS X 10.11.5
Managing Windows 7 32-bit
##### SUMMARY

Simple win_template fails with the message Illegal characters in path
##### STEPS TO REPRODUCE

The task

[code]

The template

[code]

The run

[code]

###

[2016-06-21 23:45] sivel commented on #4004
I think the key here is in the output of the module invocation:

[code]

From that we can see that `\a` was turned into a Unicode `\u0007`.

This indicates that you should be using `\\` in your paths.  In Python the `\` char is an escape char.  So you will need to escape that with a second `\` to prevent this from happening:

[code]

[2016-06-21 23:46] basictheprogram commented on #4004
Let me give the that a try. If that's the case the documentation's example for the win_template is wrong.

http://docs.ansible.com/ansible/win_template_module.html

[code]

That was the problem. Thank you for the advise.

The documentation should be updated.

Interesting enough the devel branch from today has things right

[code]

So it looks like the live documentation is out of date?

[2016-06-22 00:59] #3807 closed, assigned to jctanner

[2016-06-22 01:00] jctanner commented on #3807
Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you. This will also be included in the next major release.

The testcase outline in the issue body will still fail to update the rpm, but if you change the second task to state=latest, the desired effect will occur.

If you continue seeing any problems related to this issue, or if you have any furthe

[2016-06-22 03:34] benatkin commented on #3241
This was a surprising error. I fixed my playbook by switching to `.tar.gz` instead of a plain `.gz`.

[2016-06-22 04:05] samohri commented on #3241
my file is .tar.gz but still getting this error. Only way i could by pass
this error was using tar command to extract the .tar.gz

Annoying thing is it give you warning saying using unarchive module will be
best option. Will look forward to get this fixed with the team help.

On Wed, Jun 22, 2016 at 11:34 AM, Benjamin Atkin notifications@github.com
wrote:

[2016-06-22 05:42] #3986 closed, assigned to nobody

[2016-06-22 05:56] #3662 closed, assigned to nobody

[2016-06-22 08:51] famousgarkin opened #4006 "git module changes repo URL and returns "changed": false when run with --check"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

git module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT
- control host: OS X 10.11.5
- managed host: Debian 7, Debian 8
##### SUMMARY

git module changes repo URL and returns "changed": false when run with --check
##### STEPS TO REPRODUCE

[code]

[code]
##### EXPECTED RESULTS
- returns `"changed": true`
- repo

[2016-06-22 11:53] stianvi opened #4007 "junos_config.py delete statement not working"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

network/junos/junos_config.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

--- JUNOS 15.1R3.6 built 2016-03-24 18:40:35 UTC
##### SUMMARY

delete statements don't work due to bug in if-loop
##### STEPS TO REPRODUCE

add a statement beginning with delete under the lines and run the playbook. diff_config if-loop wi

[2016-06-22 13:15] michelleperz commented on #3988
@dagwieers does this also break the extra_opts param? Getting a similar error when I add in extra_opts: --strip-components=1?

[2016-06-22 14:44] syl20bnr commented on #2321
@jhawkesworth Thank you, the directive works.

[2016-06-22 15:15] rcarrillocruz commented on #3981
@rasselin can you confirm this is seen even with verify: false on your clouds.yaml stanza?

I believe you told me affirmative on IRC, but better put it explicitly here for the record.

[2016-06-22 15:21] tobinlandricombe opened #4010 "When copying multiple files in a dir, diff is ignored"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

copy module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

OS X 10.11.5 (15F34)
##### SUMMARY

When using the "if path ends with /, only inside contents of that directory are copied to destination" functionality --diff is ignored.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

As below but with diff results, e

[2016-06-22 15:24] kotfic opened #4011 "ec2 termination timeout when instance_ids contains instances from multiple reservations"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ec2
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Linux minastirith 4.5.4-1-ARCH #1 SMP PREEMPT Wed May 11 22:21:28 CEST 2016 x86_64 GNU/Linux
##### SUMMARY

Waiting for terminating instances with ec2 module will timeout if all instances specified in `instance_id` are not from the same reservation.
##### STEPS TO REP

[2016-06-22 15:24] kotfic commented on #4011
I am putting together a PR that fixes this issue ATM

[2016-06-22 15:26] rasselin commented on #3981
Yes, here's a copy of my clouds.yaml with password sanitized:

[code]

[2016-06-22 16:22] woqer commented on #297
Same issue in ansible 2.1.0.0. Using `role_attr_flags` does not set the attributes on new user. On existing user fails with the error `psycopg2.ProgrammingError: permission denied for relation pg_authid` even without the `password` option.

[2016-06-22 16:24] chrisweaver commented on #3444
Didn't fix it for me.  Both the issues above are still there (broken remove, and broken idempotency on re-add).

[2016-06-22 16:33] alikins commented on #3924
Ansible will just do whatever upstream python's no_proxy handling does. For domains or subdomains, that is either 'example.com' or '.example.com'. Wildcards for host names are not supported.

To filter hosts in 's3.amazonaws.com':

[code]

or

[code]

But

[code]

will not exclude 'www.example.com' from the proxied hosts as the leading '.' only matches domains.

To skip the proxy for www.example.c

[2016-06-22 19:00] dmrsol commented on #3447
The same problem. "Failed to connect to S3: Region eu-central-1 does not seem to be available for aws module boto.s3. If the region definitely exists, you may need to upgrade boto or extend with endpoints_path".
Ansible 2.1.0.0, boto3 1.3.1

[2016-06-22 19:02] r4j4h opened #4016 "ec2_asg_module docs say state is required but examples never use"
Hope this does not seem too nitpicky! <3
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

ec2_asg
##### ANSIBLE VERSION

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

The `Options` table indicates that `state` is a required parameter with no default values.

The given examples below do not use a `state` parameter.
##### STEPS TO REPRODUCE

N/A
##### EXPECTED RESU

[2016-06-22 19:24] bcoca commented on #3602
this was already fixed via https://github.com/ansible/ansible/commit/d43fc631dd22372407f55265982d60632bad73a2, which is present in 2.1

[2016-06-22 19:24] #3602 closed, assigned to nobody

[2016-06-22 22:31] dagwieers commented on #3988
@michelleperz Yes.

[2016-06-23 00:15] jctanner commented on #3983
Implemented in https://github.com/ansible/ansible-modules-core/pull/4003

[2016-06-23 00:17] jctanner commented on #3983
Hi!

A change has been applied for this ticket, which should resolve this item for you.

If you believe this ticket is not resolved, or have further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://groups.google.com/forum/#!forum/ansible-devel - for s

[2016-06-23 00:17] #3983 closed, assigned to alikins

[2016-06-23 01:25] n0ts commented on #2936
I had a same issue. I think that .tgz extension is not supported 2.1.0.0?

[2016-06-23 02:30] berenddeboer commented on #3344
Thanks, fixed in: ansible v2.1.1.0-0.1.rc1, or somewhat earlier (tested with FreeBSD 10.3).

[2016-06-23 03:06] jctanner commented on #3606
We're limited by the fact that yum won't install a package from http this way ...

[code]

A filepath will work ...

[code]

The workaround is a combination of get_url and shell:rpm or get_url and yum: <filepath>.

[2016-06-23 03:06] jctanner commented on #3606
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.  Our reasons for this are:
- yum does not allow the requested behavior per the comment above.

However, we're absolutely always up for discussion.  Since this

[2016-06-23 03:06] #3606 closed, assigned to nobody

[2016-06-23 04:59] araygt opened #4018 "Ansible unable to import NotFound for Docker modules"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

docker_container, docker_image, docker_image_facts, docker_login, docker_service
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

I have added my clients to the top of /etc/ansible/hosts file. Apart from this, no changes to configuration.
##### OS / ENVIRONMENT

Host: Ubuntu 16.04

Clients: Debian Jessie 8.5
##### SUMMARY

I get the following

[2016-06-23 05:10] hirotaka-iijima commented on #2688
+1

[2016-06-23 07:32] t2d commented on #2622
@nitzmahone no, it is not a feature request. I included the id, but the module doesn't recognize the long id. Short key ids are unsafe and should not be used.

[2016-06-23 08:12] ghost commented on #3606
I disagree with closing this. It should be possible to check if the file is an URL and in that case download the package first and then proceed with a local installation, which would override the issue with yum. The alternative leads to an annoying notice about "please use yum" and to less clear (and inconsistent) code IMHO. I'd ask to reconsider.

[2016-06-23 10:42] eddie-dunn commented on #2756
Please reopen this. Ansible should honor a user's virtualenv.

[2016-06-23 11:45] jbrockett opened #4019 "rds_param_group unable to set long_query_time for MySQL"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

rds_param_group
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
ansible_managed = Ansible Managed
display_skipped_hosts = False
forks = 50
gathering = explicit
host_key_checking = False
nocows = 1
retry_files_enabled = False
lookup_plugins = ./lookup_plugins
##### OS / ENVIRONMENT

From: Mac OSX El Capitan
To: N/A (AWS)
##### SUMMAR

[2016-06-23 12:09] chouseknecht commented on #4018
@araygt This might be a dumb question, so apologies in advance. You installed docker-py on the remote node(s) where the docker_\* modules will actually execute, right?

[2016-06-23 13:15] gustavomcarmo commented on #2936
The task is:

unarchive: src={{pkgrepo}}/apache/maven/apache-maven-{{mvnver}}-bin.tar.gz dest=/usr/local creates=/usr/local/apache-maven-{{mvnver}} copy=no

And the error I was facing is:

path /usr/local/apache-maven-3.3.9/boot/plexus-classworlds-2.5.2.jar does not exist

But it worked when the LANG=C was defined in the command:

LANG=C ansible-playbook playbook.yml

On Ansible 2.1.0.0.

[2016-06-23 13:40] bcoca commented on #3606
I would just use get_url and not try to build in too much 'magic' into the yum module.

[2016-06-23 14:01] gustavomcarmo commented on #2936
It also works when were defined the following environment variables, inside the playbook:

[code]

[2016-06-23 15:01] awasilyev opened #4020 "docker_service: wrong logic or processing services/scale"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_service
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

nothing special
##### OS / ENVIRONMENT

Centos 7, docker-1.11.2, docker-compose 1.7.1
##### SUMMARY

docker_service launches services, not mentioned in service parameter
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

I expect that only 'centos2' service launched
##### ACT

[2016-06-23 15:16] araygt commented on #4018
I installed docker-py on the remote nodes through apt-get on debian. However, debian currently ships version 0.5.3-1 of python-docker. My bad, I forgot to check this.

Problem solved by installing the latest version of docker-py via pip on the remote nodes.

[2016-06-23 15:58] jrivera15 commented on #1124
+1

[2016-06-23 17:27] rsyring opened #4024 "Service module fails when remote host is a docker container"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

service module
##### ANSIBLE VERSION

I've seen the problem with both:

[code]
##### CONFIGURATION

Only using default values.
##### OS / ENVIRONMENT

Control host: Ubuntu 14.04
Connecting to: Ubuntu 14.04 on Docker version 1.9.1, build a34a1d5
##### SUMMARY

When using Ansible to connect to a docker container, restarting services using the servi

[2016-06-23 17:31] praneethr opened #4025 "azure_rm_deployment - After creating new VM's.. Deployment is deleting rest of resources in the resource group"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

 azure_rm_deployment
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

 After creating new VM's.. Deployment is deleting rest of resources in the resource group.

I created a template https://raw.githubusercontent.com/praneethr/Ansible-Azure-Playbooks/master/azureVM/rhel.deploy.json to create new VM with NI

[2016-06-23 17:36] #4018 closed, assigned to nobody

[2016-06-23 17:53] nitzmahone commented on #4016
Yeah, it's just a docs/reality mismatch, see https://github.com/ansible/ansible-modules-core/blob/devel/cloud/amazon/ec2_asg.py#L790, the code defines a default of "present", so the docstring in the module should say default: present instead of required: true. Feel free to submit a PR, we'll merge it quickly.

[2016-06-23 18:14] praneethr commented on #4025
Created under in correct path

[2016-06-23 18:14] #4025 closed, assigned to nobody

[2016-06-23 18:44] mconlon-academicworks commented on #3975
I'm also seeing this on ansible 2.0.1.0.

My current workaround is to duplicate the task with `state: absent` for the regexp and `state: present` for the line:

[code]

This works as expected and maintains idempotency...but yeah, this should be able to run as a single task.

[2016-06-23 19:35] ntwrkguru opened #4027 "docker_container state not functioning as expected"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Source: Mac OS X 10.11.5 and Ansible via brew
Target: Ubuntu 14.04 on AWS
##### SUMMARY

In a task, when using docker_container module and specifying state, the observed results are different from the expected results. Specifically, state: started I expect to not restart

[2016-06-23 19:46] bcoca commented on #4024
what is the value of the `ansible_service_mgr` fact for that container?

[2016-06-23 19:50] cpatry-poly commented on #4027
Same issue here !

When I run this task :

[code]

The docker is ALWAYS restarted.

I found that if I remove the

[code]

The docker isn't restarted anymore, but I need this policy !

[code]

[2016-06-23 20:07] ntwrkguru commented on #4027
Also just found that restart_policy: unless-stopped is invalid, even though it is documented as being an option. [edit: filed issue #4028]

[code]

| parameter | required | default | choices | comments |
| --- | --- | --- | --- | --- |
| restart_policy | no | on-failure | always | Container restart policy. Place quotes around no option. |
|  |  | False |  |  |
|  |  | on-failure |  |  |
|  |  | un

[2016-06-23 20:21] stianvi commented on #3984
Fixed in #4008

[2016-06-23 20:21] stianvi commented on #4007
Duplicate of #3984

[2016-06-23 20:23] ntwrkguru opened #4028 "docker_container restart_policy docs do not match module"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Source: OS X 10.11.5
Target: Ubuntu 14.04 on AWS
##### SUMMARY

The restart_policy for the docker_container module should allow a value of unless-stopped, however this produces a syntax error.
##### STEPS TO REPRODUCE

Run the example task

[code]

#####

[2016-06-23 22:29] ntwrkguru commented on #4027
Looks like this is fixed in pull #3785. Mea culpa.

[2016-06-23 22:29] #4027 closed, assigned to chouseknecht

[2016-06-23 22:30] ntwrkguru commented on #4028
Looks like this is resolved in pull #3785

[2016-06-23 22:30] #4028 closed, assigned to chouseknecht

[2016-06-23 23:00] larry-s commented on #2321
This cannot be used for files using the copy module. Please consider this as an enhancement for the modules.

[2016-06-23 23:04] galindro opened #4029 "Error with module apt autoremove"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

apt autoremove
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]

I'm NOT using any ANSIBLE_\* environment variable
##### OS / ENVIRONMENT

[code]
##### SUMMARY

I'm used the apt module with autoremove option and this error was showed when I run the task:

[code]
##### STEPS TO REPRODUCE

Create this task:

[code]

Put that task inside a

[2016-06-24 04:29] rsyring commented on #4024
In the docker container built in the example I gave above, "my_init."  In a different docker container that simply runs ssh "sshd".

I'm guessing the problem here is that my docker containers are not running a proper init system?  If this is a problem, then Ansible should at least bail on me.

[2016-06-24 04:42] rsyring commented on #4024
Note that the container in the example above (phusion/baseimage) does contain a service management system, `runit`.  But, I see now that isn't supported: http://docs.ansible.com/ansible/service_module.html

So, my fault, sorry for the noise.  However, I **REALLY** think Ansible should fail if the service module is being used on a system that doesn't have a supported service manager.  It would have

[2016-06-24 08:20] cloudnull commented on #1497
@jctanner I don't believe this issue should be closed as this is still a problem. If you or the core team have time I'd appreciate review on [ https://github.com/ansible/ansible-modules-core/pull/1517 ]. That pr has been in limbo for some time without review and actually addresses this issue by properly capturing the apt update time.

[2016-06-24 11:10] lihan opened #4030 "Compute Engine: Provide a way to specify initial boot disk type and size"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

gce module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Mention any settings you have changed/added/removed in ansible.cfg
(or using the ANSIBLE_\* environment variables).
##### OS / ENVIRONMENT

OS X El Capitan
##### SUMMARY

`gce` module cannot specify boot disk size and type.

See http://docs.ansible.com/ansible/gce_module.html
The **

[2016-06-24 11:27] fuhbar commented on #1337
Any updates on this? Or has this been fixed in the ansible2  release?

[2016-06-24 11:45] AlekSi commented on #2356
`apt_key: keyserver=hkp://p80.pool.sks-keyservers.net:80 id=58118E89F3A912897C070ADBF76221572C52609D` works for me. I think this bug should be closed.

[2016-06-24 12:46] Joyeric2 commented on #902
Dearest one
My name is Joy Eric how are you doing today and how about your health,hope you are fine and good.Any way after going through your profile in this site i became interested in you.I will like to have you as my good friend whom i will like to share my life experience with.Your sex, age, race nor distance does not matter to me rather what matters most in a relationship is the maturity,trut

[2016-06-24 13:23] rcoup commented on #3719
Not sure if it's related... (Ansible 2.1.0)

[code]

looks for `quay.io/org/repo:latest` instead of the tag from the image name. Despite the docs saying "When pushing or pulling an image the name can optionally include the tag by appending ':tag_name'."

To get it to work:

[code]

[2016-06-24 14:52] #2356 closed, assigned to nobody

[2016-06-24 15:35] jctanner commented on #3574
With v1.9.6-1 I get this error when disabling an invalid repo ...

[code]

With v.2.1.1 ...

[code]

With v1.9.6-1 and "disablerepo=\* enablerepo=base*" the package installed. Same result for 2.1.1.

[2016-06-24 15:46] jctanner commented on #3574
I do see a skipped task with installed packages on 2.0.2  ...

[code]

[2016-06-24 15:46] jctanner commented on #3574
Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for

[2016-06-24 15:46] #3574 closed, assigned to nobody

[2016-06-24 15:57] jctanner commented on #948
Testcase ...

[code]

Devel result ...

[code]

[2016-06-24 15:57] jctanner commented on #948
Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for

[2016-06-24 15:57] #948 closed, assigned to nobody

[2016-06-24 16:04] jctanner commented on #2972
In devel we have have the appropriate error message ...

[code]

[2016-06-24 16:05] jctanner commented on #2972
Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for

[2016-06-24 16:05] #2972 closed, assigned to nobody

[2016-06-24 16:05] AseemKumar opened #4033 "Unable to calculate the checksum of the remote file. Shell is bash. ansible ver 2.0.2.0"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Fetch
##### ANSIBLE VERSION

ansible 2.0.2.0
##### CONFIGURATION

default config.
##### OS / ENVIRONMENT

Ansible is running on Ubuntu 14.04.4 LTS.
System being managed is running Oracle Linux Server 6.3
##### SUMMARY

When fetching the passwd file, getting the message "unable to calculate the checksum of the remote file"
##### STEPS TO REPRODUCE

[2016-06-24 16:09] jctanner commented on #2607
Adding an option like deps=True will still allow people to "brick" their systems if they don't know to explicitly set the option to False.

[2016-06-24 16:33] adangert commented on #1124
+1

[2016-06-24 17:41] jctanner commented on #4033
@AseemKumar the fetch module does a stat on the file behind the scenes and the result is what the error message is enumerated from.  Can you run the stat module directly on the remote file to get the raw error message (if any) ?

[code]

[2016-06-24 18:03] jctanner commented on #3952
Reproduced with ansible 2.1.1 and freebsd 10.

[code]

[2016-06-24 18:05] jctanner commented on #3952
With ansible 1.9 on freebsd 10 ...

[code]

[2016-06-24 18:07] jctanner commented on #3952
Ansible 2.0.2 and freebsd 10 succeeds.

[code]

[2016-06-24 18:12] wvidana opened #4034 "postgres_user module: `role_attr_flags` does nothing when combined with `no_password_changes`"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

postgresql_user
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Mac OS X El Capitan, Version 10.11.4
Tested on Docker official postgres container and on Amazon RDS PostgreSQL DB instance
##### SUMMARY

When running a task with postgres_user module, the option `role_attr_flags` does not set any role attributes when `no_password_change` is s

[2016-06-24 18:13] Joyeric2 commented on #902
Dearest one
My name is Joy Eric how are you doing today and how about your health,hope you are fine and good.Any way after going through your profile in this site i became interested in you.I will like to have you as my good friend whom i will like to share my life experience with.Your sex, age, race nor distance does not matter to me rather what matters most in a relationship is the maturity,trut

[2016-06-24 18:34] praneethr opened #4035 "Unable to stop VM using azure_rm_virtualmachine with ssh key for RHEL VM's created in azure or using azure_rm_deployment"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

azure_rm_virtualmachine
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

NO Default
##### OS / ENVIRONMENT

Ubuntu 14 /Linux
##### SUMMARY

Unable to stop VM using azure_rm_virtualmachine with ssh key for RHEL VM's created in azure or using azure_rm_deployment
##### STEPS TO REPRODUCE

Create a RHEL VM with ssh key authentication, and run belo

[2016-06-24 18:36] basictheprogram opened #4036 "win_get_url: Error downloading when file exists"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

win_get_url
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ANSIBLE_KEEP_REMOTE_FILES=1
##### OS / ENVIRONMENT

Ansible host OSX 10.11.5
Managed host Windows 7 64bit
##### SUMMARY

Error downloading https://www.cygwin.com/setup-x86.exe to C:\cygwin\setup-x86.exe Exception calling DownloadFile with 2 argument(s): An exception occurred during a

[2016-06-24 19:24] wvidana commented on #4034
Looking at the source code, there is no `else` branch on the `user_alter` function https://github.com/ansible/ansible-modules-core/blob/devel/database/postgresql/postgresql_user.py#L236

[2016-06-24 20:51] jhawkesworth commented on #4036
So the failure occurs when the file already exists?
Just wondering if the user that you are running as has permissions to overwrite the existing file?

[2016-06-24 20:57] basictheprogram commented on #4036
Yes, when the file exists. Running as the same user every time.

IF the folder/file does not exist the task succeeds. Run it again as the same user fails.

##

Bob Tanner tanner@real-time.com                                 | Phone : 952-943-8700
http://www.real-time.com, Linux, OSX, VMware, Windows | Fax      : 952-943-8500
Key fingerprint = 9906 320A 8BB6 64AD 96A7  7785 CBFB 10BF 568B F98C

[2016-06-24 21:32] jhawkesworth commented on #4036
Is it not acceptable to run with force: no?

Or if the exe keeps changing and your playbook's purpose is to always update to the latest version, then perhaps just and add a win_file with a sate: absent beforehand?

[2016-06-24 21:53] basictheprogram commented on #4036
Prefer not to download it if it hasn’t changed, but force: no is an acceptable work around.

##

Bob Tanner tanner@real-time.com                                 | Phone : 952-943-8700
http://www.real-time.com, Linux, OSX, VMware, Windows | Fax      : 952-943-8500
Key fingerprint = 9906 320A 8BB6 64AD 96A7  7785 CBFB 10BF 568B F98C

[2016-06-24 22:21] ansafonov commented on #1259
His attitude is fine - this module is a core module and it doesn't work on centos 6.7:

ansible ***\* -m 'mount name=/dev/xvda2 state=unmounted src=none fstype=none'
***\* | SUCCESS => {
    "changed": false,
    "fstab": "/etc/fstab",
    "fstype": "none",
    "name": "/dev/xvda2",
    "src": "none"
}

[root@***\* ~]# mount | grep xvda2
/dev/xvda2 on /test type ext4 (rw)

IT IS STILL MOUNTED

ans

[2016-06-25 04:21] glenjarvis-repairpal commented on #3053
@sarlindo Does this test case pass or fail for you when you specify the VPC id?

e.g.,:

[code]

[2016-06-25 05:45] memelet commented on #3404
Hmm, so no workaround? Must convert all iam_policy modules to awscli?

[2016-06-25 09:27] mvk opened #4041 "ec2_vol does not allow adding all available volume types"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ec2_vol
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

Linux: `CentOS 7.1`, `Ubuntu 14.04`, `Ubuntu 16.04`
arch: `x86_64`
##### SUMMARY

if you want to attach a volume of type not listed in ec2_vol.py explicitly your task fails.
##### STEPS TO REPRODUCE

The following playbook would fail

[code]
##### EXPECTED RESULTS