[2016-09-21 16:16] salman1485 commented on #4959
@privateip @gundalow Tagging you guys as you usually reply for ios modules.

[2016-09-21 16:17] salman1485 commented on #4953
Quick comment. ios modules page on ansible documention website does not have many examples and that is why I did not completely understand what 'parents' does. I'll be happy to help as I've been working on these modules for few weeks now.

[2016-09-21 17:52] opoplawski commented on #3094
Still present with 2.1.1.0

[2016-09-21 18:16] gundalow commented on #4959
@AnsiNoob Thanks for the detailed bug report

From

[code]

It looks like your Ansible 2.2.0 checkout is very old.

Have a look at this page for how to get the latest version.

http://docs.ansible.com/ansible/intro_installation.html#running-from-source

You will want to install from source.

[2016-09-21 18:19] gundalow commented on #4953
We are always very welcome of PRs (Pull Requests) to improve documentation. The current source can be found here
https://github.com/ansible/ansible-modules-core/blob/devel/network/ios/ios_config.py#L166

If you raise a PR please put `@gundalow` in the body so I'll get notified.

Thanks again in advance

[2016-09-21 18:38] #4063 closed, assigned to nobody

[2016-09-21 19:06] ryansb commented on #3404
I've added support for the `json` parameter type here, so this will be fixed in 2.2. This won't be backported to 2.1.2 since it doesn't have a JSON type available.

If the issue persists in 2.2 please reopen and let us know how we can help.

[2016-09-21 19:06] #3404 closed, assigned to nobody

[2016-09-21 19:10] gundalow opened #4963 "nxos_config isn't idempotent (in some cases)"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

nxos_config
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY
##### STEPS TO REPRODUCE

[code]

[code]
##### EXPECTED RESULTS
##### ACTUAL RESULTS

[code]

[2016-09-21 19:26] esc commented on #3404
ty

[2016-09-21 20:01] Shrews commented on #4722
notabug

[2016-09-21 20:14] bezorrao commented on #3047
I've stumbled upon this error too. By running the "subscription-manager identity" command, the system showed me that it was registered in RHN Classic:

[code]

To resolve, i did remove the rhn\* packages from my system, then ran the register with ansible with success.

[2016-09-21 20:57] stefanhorning commented on #3404
Thanks, just adding link to commit for reference here:

https://github.com/ansible/ansible-modules-core/commit/0f505378c3be908d322b89717cbab5f7625f8969

[2016-09-21 22:18] ilgarm opened #4965 "invoke docker-compose as binary instead of importing as python module or support docker-compose installed in virtualenv"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker-service
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

running ansible from mac os x el capitan targeting centos 7 minimal installation
##### SUMMARY

ansible is using system python by default, and docker-compose conflicts with the existing modules in system python of centos 7

in particular, conflicting module i

[2016-09-22 02:35] abadger commented on #3996
Does `item['copy']` work?

[2016-09-22 02:52] salman1485 commented on #4959
I'm working on pulling the latest version. Will get to you guys ASAP ..

[2016-09-22 03:21] #4722 closed, assigned to nobody

[2016-09-22 08:17] jean-christophe-manciot commented on #4465
_port-security_ in "**show feature**":

[code]

Regarding NX-API, I feel Cisco has missed the fundamental purpose of an API, which should not be a wrapper around their CLI, but a complete rebuild of the interface between the client and the server, offering a higher level service. That"s pretty surprising and disappointing.

[2016-09-22 09:13] GGabriele commented on #4465
Agreed.

Thanks again, I've just updated both PRs.

[2016-09-22 10:17] Natolumin opened #4966 "JunOS modules don't respect ssh_keyfile or ANSIBLE_NET_SSH_KEYFILE"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

junos_facts, junos_template at least, most probably all junos_ modules
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ANSIBLE_NET_USER and ANSIBLE_NET_SSH_KEYFILE are used to set an ssh key and a user to connect as
##### OS / ENVIRONMENT

Fedora 24
##### SUMMARY

##### STEPS TO REPRODUCE

Try to connect to a JunOS switch (here an EX4300 and

[2016-09-22 10:22] haraldkubota opened #4967 "shell - not reading .login/.bash_login or .profile/.bash_profile or .bashrc"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

shell
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ansible.cfg only added this line: inventory      = ./hosts
Otherwise it's untouched.
##### OS / ENVIRONMENT

Linux (Ubuntu on host, Debian on node to be configured)
##### SUMMARY

Commands via "shell" do not read the .profile, .bashrc, .login, .bash_profile of the user of who runs ansible.

[2016-09-22 11:43] gundalow opened #4968 "nxos_command:show nxapi | json doesn't return full status"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

nxos_command
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

Based on the existing test cases `roles/test_nxos_nxapi/tests/cli/configure.yaml`
I expect:

[code]

to return details of the ports
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Details of ports to be output
##### ACTUAL RESULTS

[code]

[2016-09-22 11:49] jedelman8 commented on #4465
@jean-christophe-manciot This is not uncommon (these days) to have the API be a CLI wrapper; it is NOT just Cisco...as such, it is much better than using SSH and getting raw text back for every command.

FWIW, there is a version of NX-API that is truly object based, but it's still very new and only on the 9K/3K.    Feel free to look up NX-API REST.  We are using NX-API CLI here.

[2016-09-22 11:52] gundalow commented on #4968
Hum, confused by this.

In `return.yaml` we are getting

[code]

Generated by

[code]

[2016-09-22 12:13] hoall opened #4969 "sysctl: parameter value check for already defined params"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

sysctl
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Multiple roles/plays can modify the sysctl and set different values for the same parameter. My suggestion is to add a check functionality, that - if set to yes - checks if the new value is greater ( or less or equal) than the existing value. If so,

[2016-09-22 12:22] haraldkubota commented on #4967
I think I find my "solution": https://github.com/ansible/ansible/issues/4974#issuecomment-28915252
Well, it's not  a solution per se, but an explanation for the observed behavior.
I still think it's wrong and catches users off-guard.

[2016-09-22 12:31] andreea-vld commented on #4936
The compose file is not the problem because if I run docker-compose manually on that file it works correctly.
I removed all images, reinstalled ansible, python, pip and docker-py and now I cannot reproduce the issue anymore.

[2016-09-22 12:42] gundalow opened #4970 "Docs for http(s) enable issue eos_eapi, nxos_nxapi, etc"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

eos_eapi
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

Docs for eos_eapi, nxos_nxapi list http(s) as being enabled by default when they are not.
Also the docs need improving to make it clear that if you set the port you also need to enable the service
##### STEPS TO REPRODUCE
##### EXPECTED RESULTS
#####

[2016-09-22 12:42] gundalow commented on #4970
I'll fix this

[2016-09-22 12:49] gundalow commented on #4968
I think this is actually caused by the tests not setting `https: true` and the docs being wrong. See https://github.com/ansible/ansible-modules-core/issues/4970

I'll continue testing and close this if that is the case

[2016-09-22 12:54] andreea-vld opened #4971 "Conditional on include task fails"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

include
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

Ubuntu 14.04
##### SUMMARY

I have an include task conditioned by a when clause which resolves to True, but the playbook is not included. If I add the SAME condition in a variable and use that variable in _when_ , it is evaluated to true and the playbook is in

[2016-09-22 12:55] #4971 closed, assigned to nobody

[2016-09-22 12:56] gundalow commented on #4970
Should we also change the default to arguments to `enable_http` (rather than `http`) to make it clearer in docs & examples?

[2016-09-22 12:58] andreea-vld commented on #4971
Moved to ansible/ansible

[2016-09-22 13:52] binbashroot commented on #278
I am seeing this as well on RHEL 5.11.  I am also not seeing ansible_system_vendor in addition to the ansible_virtualization\* fields.

ansible 2.1.1.0
config file = /etc/ansible/ansible.cfg
configured module search path = Default w/o overrides

ansible all -i inventory -m setup -a "filter=ansible_virtualization*"
tpadevcolzzz01 | SUCCESS => {
    "ansible_facts": {
        "ansible_virtualization

[2016-09-22 14:15] sendai-ono commented on #454
Thank you for the tip. Which version? My solution still works fine with ansible 2.1.1.0

[2016-09-22 14:18] sendai-ono commented on #454
Thank you for the tip. Which version? My solution still works fine with ansible 2.1.1.0

[2016-09-22 15:23] JulienPalard opened #4973 "pip always tell changed for some packages"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

pip
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

When installing python modules, some of them (always the same) keep reporting "changed".
##### STEPS TO REPRODUCE

Not sure if reproductible but here is my playbook:

[code]
##### EXPECTED RESULTS

When the python module is already up to da

[2016-09-22 16:40] gundalow commented on #4955
Also getting the following idempotent issues

[code]

[2016-09-22 16:53] smiller171 commented on #454
@sendai-ono I'm on 2.0.2.0

It works fine if the instance only has a single security group to begin with. My adjustment is only needed if it starts out with more than one.

[2016-09-22 16:59] salman1485 commented on #4959
We went to https://releases.ansible.com/ansible/ and pulled the latest. After this the available version is below:

ansible 2.1.2.0

You still want me to pull frm git? I see that git version file has below info:

2.2.0 0.0.devel

And this does not seem much different from what I have ..

[2016-09-22 17:35] gundalow commented on #4959
Hi,
I should have been clear, apologies.

You need to be running the latest `devel`, installed from git.

Ansible 2.2.0 hasn't been released yet, so all of `devel` will identify as `2.2.0` until the point that we create the RC (release candidate) branch
If you look at the following, it's the highlighted dates that need updating:

ansible 2.2.0 (devel 1db02dfb71) last updated **2016/06/20** 13:52:2

[2016-09-22 18:01] rsanr opened #4974 "docker_container sends volume to docker API erroneously"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

docker_container erroneously sends `volume` in addition to `binds` to docker API during create container call.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Docker daemon logs w/ debug level

[code]
##### ACTUAL RESULTS

[co

[2016-09-22 18:36] ismc commented on #4923
Did you end up pushing this fix out?

[2016-09-22 18:52] fuhbar commented on #4800
@chouseknecht Thanks for your fix! :+1:  Will this fix reach [stable 2.1](https://github.com/ansible/ansible/tree/stable-2.1) branch? Whats the policy on backporting bugs from [devel](https://github.com/ansible/ansible/tree/devel) to stable branches? Could not find any information about it in http://docs.ansible.com/ansible/community.html#i-d-like-to-learn-how-to-develop-on-ansible.

[2016-09-22 20:17] yuvraj2987 commented on #4813
I am also failing this issue.
**Ansible Version**
`ansible 2.1.1.0`
![image](https://cloud.githubusercontent.com/assets/4722567/18764462/5eaf732c-80c6-11e6-980b-a3342a65225c.png)

The task definition is as follows:
![image](https://cloud.githubusercontent.com/assets/4722567/18764507/9c813064-80c6-11e6-9b91-6de4fe7a843d.png)

If I remove the `mode` parameter for the `unrachive` task. The task execu

[2016-09-22 20:34] Hoverbear commented on #581
@janl I ended up using a virtualenv.

[code]

And this worked for me. Frustrating, but it worked.

[2016-09-22 20:39] yuvraj2987 opened #4975 "unarchive module fails when mode parameter is defined."
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

unarchive
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

CentOS release 6.6 (Final)
##### SUMMARY

unarchive tasks fails when mode parameter is passed.
##### STEPS TO REPRODUCE
- Define an unarchive task as follows

[code]
- Define {{ local_tar_file }} and {{ some_remote_dir }} variables while running the playbook.
- Ru

[2016-09-22 20:51] dagwieers commented on #4975
duplicate_of #4063 and resolved_by_pr #4179

[2016-09-22 21:00] privateip commented on #4966
I have been unable to replicate this problem in the 2.1.1 branch.

[code]

Using the same command line string and I did verify that I also have ~/.ssh/id_rsa in the same location that is a completely different key

[code]

Terminal connectivity works just fine

[code]

Perhaps an issue with the junos-pyez or ncclient library?

[code]

Two asks:
1. Can you double check that you are indeed seeing th

[2016-09-22 21:16] #4975 closed, assigned to nobody

[2016-09-22 23:33] rgwozdz commented on #297
adding `no_password_changes: true` solved issue for me

[2016-09-23 01:54] KpaBap opened #4977 "ec2_elb_lb intermittently failing to create an ELB with KeyError exception"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ec2_elb_lb.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When running a playbook to create multiple ELBs, some of the ELBs would intermittently fail to get created with a KeyError exception.

I tracked this issue down to some data structure inconsistency in the _set_elb_listeners functio

[2016-09-23 02:31] salman1485 opened #4978 "ios_template: Option 'backup' works only if 'src' is included. Not when it is the only option."
##### ISSUE TYPE

- Bug Report
- Feature Idea
##### COMPONENT NAME

Module: ios_template
Option: backup
##### ANSIBLE VERSION

[code]

I've tried this on the very latest 2.1.2 and I get same results there.
##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7 while testing with ansible 2.1.1 and RHEL 6.8 when testing with ansible 2.1.2
Managing remote cisco ios device with below details:

[code]
#

[2016-09-23 03:12] nitzmahone commented on #4512
@sirdy - I'm all for fixing this one, but I'd like to get a busted version of facter first so I can be sure we're seeing what you're seeing (and that we've got the problem licked)... I've tried a few different versions and it worked as expected- can you pass along a download URL for a version of facter that exhibits the issue for you?

[2016-09-23 06:22] gundalow commented on #4978
This is clearly a bug in 2.1, I will test against 2.2 and report back.

[2016-09-23 06:24] ubreu opened #4979 "gluster_volume does not trim user input"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

gluster_volume
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default
##### OS / ENVIRONMENT

MacOS sierra, Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20 PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64
##### SUMMARY

The gluster_volume tries to add bricks to volume even though the brick already exists.
##### STEPS TO REPRODUCE

The c

[2016-09-23 06:25] stormic-nomad-nishant commented on #4477
I am also facing the same. I tried creating with just vpc_security_groups

[code]

And i got the ERROR as :

[code]

P.S , i tested via 1.9.4 and unsure if i can create a Read Replica inside a VPC

[2016-09-23 06:53] #4979 closed, assigned to nobody

[2016-09-23 08:33] duck-rh opened #4981 "yum module should report installation errors properly"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

yum
##### ANSIBLE VERSION

[code]

It is rc3.
##### CONFIGURATION

only role path is altered.
##### OS / ENVIRONMENT

Host is Debian unstable and target is CentOS 7.2
##### SUMMARY

When a key is not registered for whatever reason, the module says OK but the playbook run stop with a failure and no useful explanation (-vvvv did not help).
##### ST

[2016-09-23 08:41] mscherer commented on #4981
I do see that as well. The snippet causing trouble is the following:

[code]

I suspect the issue is the with_items, as I also seen the problem when 1 package fail to install and not the others.

Would a simple install with 1 single item and no loop exhibit the same issue ?

[2016-09-23 09:03] duck-rh commented on #4981
I thought the problem was solved, went too fast.

I experimented on the list of package to install, until I found this interesting message:

So the failure to install two of the packages (in the original list) causes this problem. The result aggregation is not done right.

I tested without these packages and the key is not the problem at all, sorry for the mistake.

[2016-09-23 09:35] hoall opened #4982 "user module: Adding user with primary group keeps changed"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

user
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I'm creating a user with primary group and some other groups.

When using the stable branch, the task from below keeps changed = true. I couldn't find out what is changed, though.

Running the same task with ansible and the modules from devel works cor

[2016-09-23 10:16] DickChesterwood commented on #4246
Same error here, but on Linux (Amazon AMI) - PYTHONPATH seems to have no effect.

Docker version 1.11.2, build b9f10c9/1.11.2
ansible 2.1.1.0
docker-compose (1.8.1)
docker-py (1.10.3)
docker-pycreds (0.2.1)
dockerpty (0.4.1)

I don't know python so I'm struggling badly but it seems to be some version mismatch of python interpreters...

[2016-09-23 10:36] alexxa opened #4983 "mount doesn't support -T option on RHEL6"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

modules/core/system/mount.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible is running from Fedora 23, on RHEL6.x and RHEL7.x
##### SUMMARY

mount.py#L286 adds -T option to mount command for linux systems regardless of its version. The -T option is available on RHEL7, but not on RHEL6. It causes mount failure

[2016-09-23 10:47] Jorge-Rodriguez commented on #4854
Duplicates  ansible/ansible#17582

[2016-09-23 10:48] GGabriele commented on #4923
Not yet. If @privateip is okay with it, I can start pushing it.

[2016-09-23 10:50] gundalow commented on #4955
Once fixed test cases need updating (search for `FIXME`)

[2016-09-23 11:08] alexxa commented on #4983
My bad, it was already reported: #3153 and there is already a PR waiting: #4642. Closing it.

[2016-09-23 11:08] #4983 closed, assigned to nobody

[2016-09-23 13:16] privateip commented on #4966
needs_info

[2016-09-23 13:19] davegallant commented on #4246
I am having the same issue on Ubuntu 14.04 LTS and a virtualenv:
ansible==2.1.1.0
docker-py==1.10.3

[2016-09-23 13:38] DickChesterwood commented on #4246
(Amazon AMI) I've been fighting with various combinations of pip (installed in various different ways), not realising I've been fighting in the wrong place - this has to be done on the TARGET node, not on the Ansible control code (it says "docker-py required on the node where the module is run", but when you're new to Ansible and don't know about the internal workings, it's a bit.... vague). Dim o

[2016-09-23 13:42] privateip commented on #4978
fixed in https://github.com/ansible/ansible/commit/b5b8a756fcc3b99d9e05c110ed145aa916c9c43f

[2016-09-23 13:42] #4978 closed, assigned to gundalow

[2016-09-23 13:45] ryansb commented on #4227
It should be live, I think we build those docs daily.

[2016-09-23 13:58] privateip commented on #4968
This is a device limitation not a module limitation.  The `show nxapi | json` command will only output the port if the protocol is configured.

Output when https is enabled

[code]

[2016-09-23 13:58] #4968 closed, assigned to privateip, Qalthos

[2016-09-23 13:59] Natolumin commented on #4966
Thank you for the quick response (and fix)

I tried again with an RSA key, and it worked (with both 2.1.1.0 and latest devel version). If I try with an ECDSA key, I have an authentication error with both versions.
I believe I should take my bug to junos-eznc then ?

I tried with both junos-eznc 1.3.1 and 2.0.1 with similar results. (ncclient 0.4.7 too)

[2016-09-23 14:05] salman1485 commented on #4959
Thank You! backup option of ios_config works after updating to latest devel release. I'll make sure that I do git pull going forward before opening any thread.

[code]

[2016-09-23 14:05] #4959 closed, assigned to nobody

[2016-09-23 14:54] davegallant commented on #4246
Oh, you're right @DickChesterwood. Ansible Docker requires docker-py "on host that executes module".  This whole time, I thought that meant the Ansible host. I really need to check what is underneath the hood of Ansible.

[2016-09-23 14:58] bcoca commented on #4854
closing as dupe

[2016-09-23 14:58] #4854 closed, assigned to nobody

[2016-09-23 15:00] DickChesterwood commented on #4246
Yeah - of course the module is executing on the remote target when you think about, but it's not that obvious from the outset! I feel a bit silly but at least it's working now.

[2016-09-23 15:55] privateip commented on #4966
Just tried using the junos-eznc library directly and it is indeed failing with ECDSA keys.

[code]

This is a problem with junos-eznc library

Here is the same test but this time using RSA keys.   In this case it works without problems

[code]

These were all tested using junos-eznc 1.3.1 and ncclient 0.4.7

[code]

[2016-09-23 16:07] privateip commented on #4966
Just opened upstream issue with Juniper

https://github.com/Juniper/py-junos-eznc/issues/605

[2016-09-23 16:10] #4955 closed, assigned to privateip, Qalthos

[2016-09-23 16:44] minac commented on #4227
Hi Ryan,

Listeners still show up as not required in the docs which was the issue I
raised.

##

Miguel
https://www.migueldavid.eu

On 23 Sep 2016 2:46 p.m., "Ryan Brown" notifications@github.com wrote:

[2016-09-23 17:10] ghost commented on #4227
@minac @ryansb That's my bad. When I made the second change it looks like I reverted the first that had changed the docs. Let me put up another PR to fix that.

[2016-09-23 17:18] ghost commented on #4227
@minac @ryansb Actually, looking back at my old PR, we cannot make this required in all cases. There are use cases in the module where listeners are optional. So the fix is a code fix that checks in the correct context.

[2016-09-23 18:47] ryansb commented on #3877
I'm able to repro the issue, working on a fix for 2.2

[2016-09-23 20:12] privateip commented on #4966
Per comment in upstream issue, root cause is in ncclient.

Tracking ncclient/ncclient#158

[2016-09-23 20:43] galindro commented on #2057
Guys, any return??

[2016-09-23 21:14] ryansb commented on #3877
Alright, got a fix out. Now if you use your sample play (with the bad volume) the task fails with:

[code]

[2016-09-23 23:28] minac commented on #4227
Interesting, can you share a case when it's not mandatory?

Thanks!

##

Miguel
https://www.migueldavid.eu

On 23 Sep 2016 6:18 p.m., "Rick Mendes" notifications@github.com wrote:

[2016-09-24 11:49] richardasaurus commented on #902
+9000

[2016-09-24 19:13] harsha-y commented on #4857
@osiegmar Suggest renaming "Component Name" to `ec2_elb_lb`

AWS ALB is lower cost and seems to be the recommended LB moving forward - so this addition to Ansible would be awesome.

Before Ansible support lands, a work around for this could be creating a classic ELB, use ansible to run [this script](https://github.com/aws/elastic-load-balancing-tools) from AWS to copy the ELB to an ALB, and delete

[2016-09-24 21:05] dminca opened #4996 "setup_module: [Manjaro Linux] TypeError: Can't convert 'bytes' object to str implicitly, rc: 257"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

- **setup** module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

- **none**, using defaults
##### OS / ENVIRONMENT

[code]
##### SUMMARY

After running [the playbook](https://github.com/WizDevOps/containerschiff/tree/os/arch_linux) via `ansible-playbook -i inventory site.yml` it errors out after the `PLAY [all] *****` stage (at `TASK [setup

[2016-09-25 00:54] agaffney opened #4997 "ini_file module doesn't match existing key when it is indented"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

`ini_file` module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When a key in an INI file exists but is prefixed with whitespace, the `ini_file` module adds a new entry rather than updating the existing entry.
##### STEPS TO REPRODUCE

Playbook:

[code]

INI file:

[code]
##### EXPECTED RESULTS

[2016-09-25 00:54] agaffney commented on #4997
As an additional note, specifying the key with whitespace in the playbook _does_ work, but that's not really a good option.

[code]

[2016-09-25 10:09] jpmens commented on #4997
needs_contributor

[2016-09-25 11:10] Ohadbasan commented on #4936
I experience the exact same problem in ubuntu 16.04

[2016-09-25 12:24] gbannister opened #5000 "docker_container.py fails on second run if devices are configured"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Nothing special
##### OS / ENVIRONMENT

ubuntu
##### SUMMARY

When you have devices configured in your playbook, e.g.
    devices:
      - /dev/net/tun
      - /dev/kvm

Then a second run through of a playbook will fail.  Details below.
##### STEPS TO REPRODUCE

Create a containe

[2016-09-25 12:44] hudecof commented on #902
Hi,

I wrote support for state=empty based on the https://github.com/ansible/ansible-modules-core/pull/3095

https://github.com/hudecof/ansible-modules-core/commit/7bd11b6d70ec44bb858020525ce93e38482e02b2

But tehre are following questions:
- what to do with symlinks ? Should I follow them and empty the linked file/dir
- what to do with hardlinks ? Should I follow them and empty the linked file

[2016-09-25 14:31] osiegmar commented on #4857
@harsha-y Both components ec2_elb and ec2_elb_lb have to be extended to support ALB. Do you know a workaround to register/deregister ALB targets from target groups?

[2016-09-25 19:40] ipspace opened #5001 "[regression] junos_command returns parsed XML"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

junos_command
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ansible: Ubuntu
Junos: vSRX 12.1X47
##### SUMMARY

junos_command returned an object parsed from Junos XML output in stdout (and stdout_lines) in Ansible 2.1. Ansible 2.2 returns XML string (or individual lines from the XML string) breaking backward compatibility and forcing the

[2016-09-26 01:15] erikdw commented on #902
@hudecof : I think the main problem you will face is getting someone from the ansible core team to review your change.  Since @robputt796 seems to have abandoned #3095, you @hudecof should probably create a new PR and explain the difference between #3095 & what you've done.

As for the 2 questions you posed: I would have the module behave the same as `rm -r`.  So you definitely wouldn't delete fil

[2016-09-26 07:18] hudecof commented on #902
@erikdw
for HARDLINK, only file version, I could add the code to truncate the file
for SYMLINK it could be more difficult to follow it. The ansible has some code to do that, I need to investigate how it really works.

And about the code review. I agree, few years ago, the ansible  was small project, it was quite easy to contribute.

So I will try to do **rm -rf /path/*** on symlink to directory an

[2016-09-26 07:55] erikdw commented on #902
@hudecof:

I wouldn't do that.  Per the comments at the top of your code, this is just supposed to recursively remove files from the directory.  Remove them, not truncate them.  So when you remove a hardlink from the directory, it wouldn't affect the other places that hold reference to that physical file.

`rm -rf` does not follow symlinks, it just removes the link from the dir it is in.  It would

[2016-09-26 08:05] hudecof commented on #902
@erikdw
I know how it works, but my question was a little bit different. Im not talking about the direcotry content itselt, but the PATH argument.

So what to do, if you try to empty/truncate link itself.
The @robputt796  code ignores this cases. Example

[code]

The **path** argument  could be  only real **directory** or **file**, at leat at this moment.

[2016-09-26 08:22] MateuszJajeGP commented on #3800
Hi, also I have this bug with Ansible 2.1.1.0 on OSX sierra.

[2016-09-26 09:09] ghost commented on #4029
I also confirm the bug with ansible 2.1.1.0

[2016-09-26 09:29] Nindaleth commented on #902
@hudecof #3095 seems abandoned and I'm about to close/abandon my own #933, please go forward with your PR whenever you feel ready

[2016-09-26 09:51] siwyd commented on #2951
~~+1 on 1.9.6~~

Correction: I had the same error, but it was related to trying to run the same apt task on the same host multiple times (at the same time) if I recall correctly.

[2016-09-26 10:38] hudecof commented on #902
@Nindaleth I will check also your code and take the best.

But it seems to be long run task from the ansible team to merge the code ;(

[2016-09-26 13:16] gundalow opened #5003 "ios_config isn't idempotent (in some cases)"
##### ISSUE TYPE
- Bug Report
  ##### COMPONENT NAME
  ios_config
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

May be similar issue to nxos_config https://github.com/ansible/ansible-modules-core/issues/4963
##### STEPS TO REPRODUCE

[code]

**templates/basic/config.j2**

[code]
##### EXPECTED RESULTS
##### ACTUAL RESULTS

[code]

[2016-09-26 13:32] oppianmatt opened #5004 "apt force with deb doesn't force"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

apt
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

Ubuntu
##### SUMMARY

Trying to force install a deb file doesn't (always) work.
##### STEPS TO REPRODUCE

Custom built nginx deb and install it. Then change some of the included modules, and create another custom deb for that nginx. Now try install it via ansible and fo

[2016-09-26 13:58] #4997 closed, assigned to nobody

[2016-09-26 14:03] ghost commented on #4227
@minac It is not mandatory when deleting an ELB.

[2016-09-26 14:20] gundalow opened #5008 "ios_config save: true - "unable to load backup configuration""
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ios_config
iosxr_config
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

From the code in `ios_config` looks like we've got an exception in the exception handler

[code]

1) Underlying issue needs fixing
2) Would it be worth Should we capture the exception earlier on in `main()`
3) In `load_backup` can be gi

[2016-09-26 15:09] bcoca commented on #3789
dupe of https://github.com/ansible/ansible/issues/10515

[2016-09-26 15:09] #3789 closed, assigned to nobody

[2016-09-26 15:51] drusellers opened #5020 "Error Parsing `name` when using the systemd module"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

systemd
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No changes
##### OS / ENVIRONMENT

Host: OS X El Capitan
Guest: ubuntu/xenial64
##### SUMMARY

When setting up an ansible playbook, I ran into a strange YAML parsing error that I could not explain and only seems to apply to `systemd`
##### STEPS TO REPRODUCE

As I installed Elastic Searc

[2016-09-26 15:55] sivel commented on #5020
The problem here is that the `systemd` module will not be introduced until the 2.2 release of ansible.

You are currently running version 2.1.

See http://docs.ansible.com/ansible/systemd_module.html for more information on the systemd module.

In the mean time you can just use the `service` module instead.

If you have further questions please stop by IRC or the mailing list:
- IRC: #ansible on i

[2016-09-26 15:55] #5020 closed, assigned to nobody

[2016-09-26 16:06] drusellers commented on #5020
:facepalm:

[2016-09-26 18:06] shane-walker commented on #4460
I'm seeing this same issue, both scenarios listed above.

I took a look at the module and it seems to be something about this block not being completed properly.

[code]

https://github.com/ansible/ansible-modules-core/blob/622ae9c67e1c784996d3ce5ea7632ddd1808c138/cloud/amazon/ec2_asg.py#L509

[2016-09-26 18:44] glatapoui opened #5039 "`assemble` does not create parent directory"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

`assemble`
##### ANSIBLE VERSION

[code]
##### SUMMARY

If a `dest` path contains a folder that is not yet present on the target system, `assemble` will fail.
##### STEPS TO REPRODUCE

If you create an `assemble` task with a `dest` containing a path that is not created on the target system at the moment you execute the task, it will not create it

[2016-09-26 19:01] gundalow opened #5040 ""Unable to load config: ConfigLoadError(severity: warning, bad_element: None, message: warning: statement not found)"junos_config:"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

junos_config
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS
##### ACTUAL RESULTS

[code]

[2016-09-26 19:17] abadger commented on #1942
This should be fixed in current stable-2.1 and devel for centos7 (the platform reported in this bug).  Testing this against a range of platforms, it still seems to be a problem on ubuntu12 and ubuntu14 (but not ubuntu16.04).  The error looks like we just don't have the proper information being returned by findmnt or mount there to be able to fix this.  Will continue to look for alternatives that w

[2016-09-26 19:44] mspiegle commented on #871
I have confirmed this still happens on 2.1.0.0

[2016-09-26 19:45] erikdw commented on #902
@hudecof : ahhhh, that was not clear to me, sorry for the misunderstanding.

So I now see why you are unsure about how to handle it.  Not obvious what to do for these suckers (deleting the file vs. emptying the pointed to thing).

[2016-09-26 19:57] ismc opened #5041 "nxos_vrf: NameError: global name 'protocol' is not defined"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

nxos_vrf and several other nxos modules
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

RHEL 7.2
##### SUMMARY

Get error, NameError: global name 'protocol' is not defined, when trying to use the module.
##### STEPS TO REPRODUCE

Invoke the nxos_vrf module.

[code]

##### EXPECTED RESULTS

I expected a VRF to be c

[2016-09-26 20:34] GGabriele commented on #5041
@ismc are you using the latest modules from devel? (this one https://github.com/ansible/ansible-modules-core/blob/devel/network/nxos/nxos_vrf.py)

[2016-09-26 21:01] max-nrgene opened #5042 "ec2 badly handles non ec2 instance related limits"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

cloud/amazon/ec2.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

GNU/Linux (Ubuntu 14.04.x and 16.04.x) 64-bit.
##### SUMMARY

`ec2.py` module does not report well failures coming from **non instance** related **limits**
##### STEPS TO REPRODUCE

Just try creating `N` instances with `M` EBS volumes each, making sure

[2016-09-26 21:28] MacDschie opened #5043 "module apt: No package matching 'libXrender1' is available"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

apt
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

no changes
##### OS / ENVIRONMENT

running from Ubuntu 16.04 LTS
running on Debian 7 Wheezy
##### SUMMARY

When running module apt with name=libXrender1, I get the following error message:

[code]

I can install the lib manually with `sudo apt-get install libXrender1`. The error persists als

[2016-09-26 21:43] privateip commented on #5003
Test is invalid in its current form.  Setting match to none will always result in a change as it signals to the module to not consider the current configuration.   Correct task below.

Change this task

[code]

to this by removing match: none

[code]

[2016-09-26 21:45] privateip commented on #4963
Play is not setup properly.  Setting match to none will always result in a change as it signals to the module to not consider the current configuration. Correct task below.

Change this task

[code]

to this by removing match: none

[code]

[2016-09-26 21:45] #5001 closed, assigned to privateip

[2016-09-26 22:20] gundalow commented on #5003
Good spot. I'm wondering how this used to work with `force: true`

[2016-09-27 00:55] ismc commented on #5041
I pulled it right before I submitted the issue, but I can pull again and try.

[2016-09-27 01:09] ismc commented on #5041
I just pulled devel and I get the same error.  If you think that I am doing something wrong, I'll check my environment again.  Previously, I was using a docker container just to have an easily reproducible environment.  I switched to virtualenv for operational reasons, but I can make the changes that I need to go back to the previous test environment.

[2016-09-27 01:31] jamessewell opened #5046 "group_by doesn't add hosts on second run (when group exists)"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

group_by
##### ANSIBLE VERSION

HEAD
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When group_by is used twice, any new hosts are not added the second time.

The host will have the group in group_names, but will not appear in groups.groupname.

This seems to be a problem with the `self._inventory.clear_group_dict_cache()` call being misplaced in the

[2016-09-27 01:59] chouseknecht commented on #4974
needs_info

I'm not clear on what the actual issue is. Your example playbook task is mounting a host directory to a container directory, and when I do that in an actual playbook it works just fine. It also produces the same results as `docker run`. Below are the results of my testing.

Do you have an actual error, traceback?
Can you provide a playbook task that actually fails?

Here's my test play

[2016-09-27 02:28] chouseknecht commented on #4815
needs_info

I'm not able to reproduce this with a simple test, as you describe. Here's my test:

Run the following playbook to create a container:

[code]

Then run the following to restart the container:

[code]

Observe that the container is restarted and retains the same Container ID value, indicating that it was not destroyed.

It is possible that there is some configuration comparison that is

[2016-09-27 02:43] #4628 closed, assigned to privateip

[2016-09-27 03:49] #5000 closed, assigned to nobody

[2016-09-27 05:38] chouseknecht commented on #4791
notabug

Not able to reproduce using the `devel` branch.

Here's my test playbook:

[code]

Run:

[code]

...and check the repository:

[code]

[2016-09-27 05:59] chouseknecht commented on #4936
bug_resolved

I assume we can close this since @andreea-vld can no longer reproduce, and I am unable to reproduce when running from the `devel` branch.

If I'm incorrect and you have more information to share, please fee free to re-open.

[2016-09-27 06:01] #4936 closed, assigned to nobody

[2016-09-27 06:01] #4791 closed, assigned to nobody

[2016-09-27 06:04] #4504 closed, assigned to chouseknecht

[2016-09-27 06:14] chouseknecht commented on #4930
resolved_by_pr #5050

[2016-09-27 06:31] #4930 closed, assigned to chouseknecht

[2016-09-27 07:06] gundalow commented on #5041
Hi,
Can you please include the full output from `ansible-playbook --version`,  which should include the date of the modules git submodules if you are running from source.

http://docs.ansible.com/ansible/intro_installation.html#running-from-source

[2016-09-27 08:36] gundalow commented on #4963
Test cases updated

[2016-09-27 08:36] #4963 closed, assigned to privateip, Qalthos

[2016-09-27 08:36] gundalow commented on #5003
Test case updated

[2016-09-27 08:36] #5003 closed, assigned to gundalow

[2016-09-27 08:52] parberge commented on #59
+1 to fix this. Ran into this issue with following ansible version:

[code]

[2016-09-27 08:59] zakjan opened #5051 "Mount opts argument default value is incorrect"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

mount module
##### ANSIBLE VERSION

[code]

(latest from devel branch - https://github.com/ansible/ansible-modules-core/commit/c03697c81e010f03a6bbb9ca39697ca74b22901e)
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Mounting a volume with mount module fails with a message:

[code]

dmesg reports this error: `Unrecognized moun

[2016-09-27 10:06] gundalow commented on #5040
Once fixed `test-junos/roles/test_junos_config/tests/*/multiple.yaml` needs revising

[2016-09-27 12:48] anton-dealmeida opened #5052 "Adding Namespace as an editable parameter for the docker_login module."
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

ansible-modules-core/cloud/docker/docker_login.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I am trying to log into my organization using the docker_login module. Docker Hub and Cloud now both have Organizations which improve your ability to control who can create, edit or delete Docker Hub repos

[2016-09-27 13:16] bbaassssiiee opened #5053 "mysql_user: db host wildcard"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

mysql_user:
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I want to set   host='%' in mysql_user module to be equivalent with:
grant all on _._ to 'my_user'@'%' identified by 'mypassword';

James seems to think a '*' should be used
https://groups.google.com/forum/#!topic/ansible-project/FgZ0ReK3B-Q

Ans

[2016-09-27 13:36] toby-griffiths commented on #4117
Can anyone advise when this will go live, as I've just been looking for this exact feature?

[2016-09-27 13:46] ko-christ opened #5054 "Feature idea: docker_container support for --userns"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

Docker allows setting the `userns` mapping, but docker_container currently does not support this functionality. It would be great to add support for this in `docker_container` module as well.

`userns_mode` also seems to be available with `d

[2016-09-27 14:12] robphoenix commented on #4386
Is it possible to change the location of the backup? I've run into similar issues with writing files to the shared directory, and am able to workaround them by saving in a temp dir outside of the shared dir and then moving the file into the shared dir by way of the `command` module.

If you are able to send me in the right direction, re. source code, I'd be up for looking into enabling the possibi

[2016-09-27 14:19] abadger commented on #2924
Closing as duplicate of #1942.  The changes proposed by @jupeter have largely been merged to stable-2.1 and devel now.

[2016-09-27 14:19] #2924 closed, assigned to abadger

[2016-09-27 14:43] ismc commented on #5041
This is all that I get:

(ansible-devel) [stevenca@cil-mgmt cil-ansible]$ ansible-playbook --version
ansible-playbook 2.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/usr/share/ansible/']

I am installing via pip.  Specifically:

pip install git+git://github.com/ansible/ansible.git@devel

The version of nxos_vrf.py in my virtualenv matches what was posted above.

[2016-09-27 15:27] privateip commented on #4386
Right now the backup path is hard coded.  We can definitely provide an option to specify the backup location.  Alternatively you can create a backup yourself with the following tasks as a work around

[code]

[2016-09-27 16:21] lypht commented on #2875
:+1:

[2016-09-27 16:26] gundalow opened #5056 "ignore this"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

asa_command
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

Running `asa_command` with an invalid `commands:` no longer bombs out
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS
##### ACTUAL RESULTS

[code]

[2016-09-27 16:39] #5056 closed, assigned to privateip, Qalthos

[2016-09-27 16:45] gundalow commented on #5056
Ah, yes, raised as https://github.com/ansible/ansible-modules-extras/issues/3048

[2016-09-27 17:23] #4764 closed, assigned to Qalthos

[2016-09-27 17:51] this-tech commented on #3567
Please reopen this issue, I am having the same problem on RHEL 7.2 with the latest shade and ansible

[2016-09-27 18:18] JB94121 commented on #3567
Issue re-opened for Donny.

[2016-09-27 18:24] ilyapoz commented on #3835
Any workarounds so far? Still reproducible on ubuntu trusty in a virtualbox
ansible 2.1.1.0

[2016-09-27 18:26] Qalthos commented on #5040
The issue seems to be `delete interfaces lo0`, which fails under certain circumstances with the error.

[2016-09-27 18:37] Shrews commented on #3567
Ok, I think I see a logic error in os_network.py related to the 'project' parameter. The version of shade is checked only if a value for the 'project' parameter is supplied, but will _always_ attempt to send a value to shade's create_network() for its project_id param, even if no 'project' value was specified. So if you have an older version of shade (older than the 1.6 release), then you will get

[2016-09-27 18:44] ilyapoz commented on #3835
Sorry, a possible workaround for small db's is not compressing the dump

[2016-09-27 18:47] this-tech commented on #3567
The issue is specific to tower, and not the module itself. Tower uses an older version of shade, and upgrading it fixed the issue. Sorry for the confusion, and I will open an issue with tower. You can go ahead and close this issue... again

[2016-09-27 18:49] JB94121 commented on #3567
I had the issue without using Tower.

Anyhow, now that it works for me without doing anything, I thought I would share my software versions, see below:

# cat /etc/redhat-release

Red Hat Enterprise Linux Server release 7.2 (Maipo)

# python -V

Python 2.7.5

# pip list  | grep -Ei "opensta|shade"

openstacksdk (0.9.6)
python-openstackclient (3.2.0)
shade (1.11.1)

# ansible --version

ansible 2.1

[2016-09-27 18:52] Shrews commented on #3567
@JB94121 I highly suspect you had an older version of shade installed somewhere.

At any rate, here is the fix: https://github.com/ansible/ansible-modules-core/pull/5058

[2016-09-27 18:54] JB94121 commented on #3567
When I reported the issue, I probably was on an older version of shade. Not anymore, and it works.
Thanks for clarifying the issue and having that fixed.

[2016-09-27 18:54] #3567 closed, assigned to nobody

[2016-09-27 18:57] gbmeuk commented on #3719
+1

[2016-09-27 19:14] abadger commented on #59
We discussed this at last week's meeting and decided that this was not a feature we desired.  Creating an authorized_key for a non-existent home dir is more usefully expressed as an error to catch typos in usernames and other logic mistakes (for instance trying to upload keys for users who do not exist).  If creating the upper level directories is desired, it's easy to do it with a task which ensu

[2016-09-27 19:14] #59 closed, assigned to nobody

[2016-09-27 19:25] gundalow opened #5060 "junos_command: ValueError: need more than 1 value to unpack"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

junos_command
##### ANSIBLE VERSION

[code]

plus the following patch

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

Issue may need fixing in `module_utils/netcli.py`, though I'm triggering it from `junos_command`, so raising it in ansible-modules-core.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS
##### ACTUAL RESULT

[2016-09-27 19:27] Qalthos commented on #4860
I removed the following, as it is a quirk with six I have previously written about, and not really an issue

[code]

`scp` appears to be a required package for this, so no real issue here

[code]

Additionally, module.config is callable, just not obviously so, possibly due to being a property. Thus, anything in the following pattern are removed as non-issues:

[code]

...and so on

[2016-09-27 19:29] Qalthos commented on #4860
The following issues were addressed in bdab56efa832d0d4a964ddc9c125c1bf5b7bd64e and removed from the list:

[code]

[2016-09-27 20:12] Qalthos commented on #4860
The following issues were fixed in 16f298138c405373e94c119b60859ad6d102499f and removed from the list:

[code]

[2016-09-27 21:08] Qalthos commented on #4860
The following issues were just fixed in 9a0add286f466e8608095e18a19052fd6f79789b and removed from the list:

[code]

[2016-09-27 21:38] jamesongithub commented on #4977
seeing this issue also

[2016-09-27 22:59] #5040 closed, assigned to privateip, Qalthos

[2016-09-28 00:56] privateip commented on #5060
The error is actually that you have a malformed conditional statement in that there is no operator or value specified.

[code]

Should really be something like

[code]

Or whatever value / operator combination is valid.

However, it did expose that the module doesn't cleanly handle this problem so I added a catch for the exception to now return a well formed failure message.

[code]

[2016-09-28 00:59] #5060 closed, assigned to privateip, Qalthos

[2016-09-28 01:28] bryfry commented on #2910
Any additional clarity on how the order gets decided would be appreciated.

[2016-09-28 01:32] this-tech commented on #4290
Is anyone interested in writing this?

[2016-09-28 08:04] akamensky commented on #2951
- Ansible 2.1 from pip

I guess since Ansible has been acquired by RH, we can just forget about apt module support, or have to fix it ourselves.

[2016-09-28 10:19] nsteinmetz opened #5073 "[2.1.2-RC5] Mount issue with nfs storage"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

mount module
##### ANSIBLE VERSION

2.1.2-rc5

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 6
##### SUMMARY

I have a similar issue with 2.1.2-RC5 -

[code]

Task is:

[code]

With `{{ drupal_shared_options }}` being:

[code]

If I mount manually files, it works well - so it's not a regression and it worked with 2.1.1
##### STEPS TO

[2016-09-28 10:20] nsteinmetz commented on #5073
Seems similar to #5051 but as it is reported as affecting 2.2 and not 2.1

[2016-09-28 10:21] gundalow commented on #5040
Confirmed this fixes the issue

[2016-09-28 10:45] stepanstipl commented on #5051
Same problem on `CoreOS 1068.8.0`

[code]

dmesg:

[code]

ansible code:

[code]

[2016-09-28 12:13] bweston92 commented on #4852
I'm trying to run systemd with Ansible v2.1 and I get the following, any workarounds?

[code]

[2016-09-28 12:24] llbbl commented on #2951
@akamensky well if they are going to drop support for ubuntu looks like we will have to drop support for ansible.

[2016-09-28 12:30] JasonCormie opened #5074 "Provide ansible_virtualization_role and ansible_virtualization_type for windows"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

ansible-modules-core/windows/setup.ps1
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Debian, managing linux (debian,redhat,suse) and windows
##### SUMMARY

It would be good if the facts for windows matched linux facts, where possible.
In particular the ansible_virtualisation_type and ansible_virtualisation_role fac

[2016-09-28 12:43] HanXHX opened #5075 "mysql_user is not idempotent with complex priv"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

mysql_user
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None.
##### OS / ENVIRONMENT
- Ansible host: Xubuntu 16.04
- Ansible target: Debian Jessie + MariaDB 10.1 (with galera module activated)
##### SUMMARY

With "complex" privs, _mysql_user_ module is not idempotent. The module should not have a state changed.
##### STEPS TO REPRODUCE

[co

[2016-09-28 12:55] xenithorb commented on #2951
Since it's so important to you why not fix it and submit a PR?

Clearly this is some edge case with the images provided by ubuntu on amazon (no surprise there, their docker containers suck, too)

Why not just mitigate this with a task to clear out `/var/lib/apt/lists/*` if you can detect amazon AND ubuntu from facts?

[2016-09-28 12:58] gundalow commented on #4117
@toby-griffiths The fix will be in Ansible 2.2

[2016-09-28 12:59] HanXHX commented on #4792
I have another error (tested with tar.bz2 and tar.gz file):

Playbook:

[code]

With devel:

[code]

[code]

---

Same play with ansible 2.1.1.0:

[code]

[2016-09-28 13:25] nsteinmetz commented on #5053
Hi,

Weird as it works for me with `10.235.8.%` with this code using the same version as you for Ansible.

[code]

It inherits from `host_vars/<environment>`:

[code]

Which inherits also from host vars (in `hosts/<environment>`):

[code]

Did not try with `%` only but maybe a yaml syntax instead of `key=value` may help ?

My 2 cents, hope it helps...

[2016-09-28 13:30] dagwieers commented on #4792
Alright, I just looked in the man-page for gtar on RHEL6 and the option **--strip** does not exist. Obviously, if you are using options that gtar cannot handle, it will report that (with your options) it fails to handle the file.

Is it possible that you meant to use **--strip-components=1** instead ?

needs_info

[2016-09-28 13:40] HanXHX commented on #4792
Same problem with "--strip-components=1"

[2016-09-28 14:14] mwoodson opened #5077 "include_role does not support tags"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

include_role
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Linux, Red Hat Enterprise 7.2
##### SUMMARY

Originally filed this issue here because I was told on IRC this was part of ansible because it was a action plugin.  The bot told me i was wrong after a few days, so now it's here.

https://github.com/ansible/an

[2016-09-28 14:48] dagwieers commented on #4792
Would you care to provide me with the output as well ?
needs_info

[2016-09-28 15:07] gregdek commented on #5077
I'm gonna go out on a limb here and say that it's bad when ansibot is removing the bot_broken label. Is it self-aware?

[2016-09-28 15:12] gregdek commented on #5077
Hey bot: bot_broken

[2016-09-28 15:18] sm4rk0 opened #5078 "[windows] ansible_reboot_pending false negative"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

lib/ansible/module_utils/powershell.ps1
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Control Machine: CentOS 6
Remote Machine: Windows Server 2008 R2
##### SUMMARY

Getting:

[code]

while win_feature module fails with:

[code]
##### STEPS TO REPRODUCE
1. Try adding and removing a feature whose removal requires reboo

[2016-09-28 15:26] trondhindenes commented on #5078
Good catch! We'll get that in.

On Sep 28, 2016 5:18 PM, "Marko Stanković" notifications@github.com wrote:

[2016-09-28 16:02] opoplawski opened #5079 "package module: Add update_cache option"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

pacakge
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Fedora
##### SUMMARY

The package module should have the ability to update the package system cache

[2016-09-28 16:37] lglussen commented on #3056
I would like to add that setting the folder path when creating the VM from a template (as opposed to a raw VM creation or `reconfigure`) is partially working in a very limited scope.
If you set `vm_extra_config` on the task that creates the VM from a template, you can specify a 1 folder deep path, so long as the folder is a sub-directory relative to the location of the template file.

For example,

[2016-09-28 17:00] netgeekmdc commented on #4229
We are seeing this issue as well  yum update package-name see's there is an update but Ansible is reporting that the currently installed rpms are up to date.

We realize that our rpm names are long but the yum command handles them successfully.

ansible --version
ansible 2.1.1.0

[root@host1 ~]# yum upgrade targetapp
Loaded plugins: priorities, product-id, subscription-manager
Resolving Dependenci

[2016-09-28 17:12] abadger commented on #1942
@jtyr's latest PR: https://github.com/ansible/ansible-modules-core/pull/5055 has been merged to devel.  It fixes this on the remaining platforms.  Going to close this as fixed in 2.2.

[2016-09-28 17:12] #1942 closed, assigned to abadger

[2016-09-28 17:33] rsanr commented on #4974
The issue I was trying to point out is that the `volume` tags are sent in the request when using the `docker_container` module, but not the `docker` module. This is shown in my previous post under "Actual Results" (`"Volumes":{"/a/b":{}}}` - excerpt from output below):

[code]

When I run `docker inspect` on the container fired up by `docker_container` module I see the following entry in addition

[2016-09-28 18:05] gerhard-tinned commented on #4542
+1

Is this the wrong place for this ticket? Is this a dead project? Anyone except the ansibot??

[2016-09-28 18:07] gerhard-tinned commented on #4780
Is this the wrong place for this ticket? Is this a dead project? What is the expected time until someone is at least responding? Other tickets wait since more the a month....

[2016-09-28 18:42] abadger commented on #5051
Just committed: https://github.com/ansible/ansible-modules-core/commit/ca0e78d12a1d588fd66c30b28ebe28e8252b0d2c which should fix this for devel.  If it's not fixed after updating the core modules to the latest please let us know!

Analyzed stable-2.1 and the same problem can occur there for a subset of the mount module's state parameters.  However, that problem goes back many releases so it's not

[2016-09-28 20:46] mrwacky42 commented on #2571
@smemsh
You can add `warn: false` to avoid the warnings when using `command` or `shell`.

[2016-09-28 21:24] abadger commented on #5073
Are you able to show us your entry for the nfs mount in fstab as well?

[2016-09-29 00:50] smemsh commented on #2571
@mrwacky42 yes my comment was not about an unnecessary warning it was about an incorrect warning which gives advice to do something which is not even possible

[2016-09-29 03:10] mrwacky42 commented on #2571
@smemsh - Yep, which is why I find myself suppressing the warnings all the time, since the logic for displaying a warning is almost completely useless.

[2016-09-29 04:21] gtinjr opened #5085 "docker_image module: "Error searching for image .... [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:590)"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_image
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Trying to a load docker image from a tar file into a secure private docker registry
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The image should have been loaded into the secure docker private registry
##### ACTUAL RESULTS

[code]

[2016-09-29 04:43] salman1485 opened #5086 "ios_template src not idempotent"
##### ISSUE TYPE

- Bug Report
- Documentation Report
##### COMPONENT NAME

ios_template & ios_command
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ansible.cfg has log_path set so that logs are generated ..
##### OS / ENVIRONMENT

Running pb on RHEL 6.8 while remote host is Cisco IOS device WS-C3650-48TD.
##### SUMMARY

Ansible is supposed to be idempotent from the start and I love that abou

[2016-09-29 04:44] akamensky commented on #2951
@xenithorb Edge case for any Ubuntu/Debian installation in my case. I've tried Debian 7 netinstall, Ubuntu 14.04 ISO install, I actually haven't tried Amazon ones. But from what you say it look like the issue is also there.

As for making PR -- I did, those are never even looked at.

[2016-09-29 05:21] xenithorb commented on #2951
[Your PR](https://github.com/ansible/ansible/pull/17115/files) has only been published for a month and it has _nothing_ to do with this issue. Which I might add isn't even a bug fix, but an enhancement. (It even links back to a feature_idea tagged issue ansible/ansible#11175). Are you really that surprised they're probably prioritizing bugs over feature ideas?

For a serious bug like this I'm sure

[2016-09-29 06:59] jhawkesworth commented on #4437
No reply from @arunjohn  - please can you test as requested above?

needs_info

[2016-09-29 08:30] robphoenix commented on #4386
Thanks @privateip
It would be good to be able to specify the backup location. I'd be interested in implementing this if you like, I haven't yet spent enough time understanding the module architecture, but I'll have a look, though if you're able to link to where the backup path is hardcoded that't be a great help.

[2016-09-29 09:32] gundalow commented on #4386
I've changed this to a feature request and removed it from the 2.2 milestone.

[2016-09-29 10:19] JulienPalard opened #5088 "apt: upgrade=yes being converted to True but not accepted by apt module"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

apt module
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Debian jessie
##### SUMMARY

When writing:

[code]

I'm getting:

"value of upgrade must be one of: no,yes,safe,full,dist, got: True":

[code]

[2016-09-29 10:29] stepanstipl commented on #5051
I can confirm this works for me on CoreOS on latest devel:

[code]

thanks!

[2016-09-29 12:24] sourav82 opened #5089 "raw module does not execute command in background (nohup or &)"
##### ISSUE TYPE
- Bug Report
  raw module does not allow background command execution (using nohup or &) on target machine.
##### COMPONENT NAME

raw
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

ubuntu 14.04
-->
##### SUMMARY

We are trying to execute a command in remote machine in background using "raw" module of ansible-playbook. We have tried "nohup" and "&" in the command but it is n

[2016-09-29 13:22] ghost opened #5090 "APT Module interpreted ssh output as failure"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

apt - package manager
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Host:

[code]

Guest:

[code]
##### SUMMARY

I already created an issue in the main ansible github project, but I think this is a problem with the module. I tried already so many things to fix this problem, nothing helps so far.

We are using An

[2016-09-29 13:52] privateip commented on #4386
@bordeltabernacle we are in the process of deprecating ios_template in favor of ios_config.  For 2.2, we rolled all of the template functionality into config to eliminate confusion about which module to use for which purpose.

That said, if you are interested into adding a configurable backup argument, you will find the implementation [here](https://github.com/ansible/ansible/blob/devel/lib/ansibl

[2016-09-29 14:24] robphoenix commented on #4386
Ah, ok, that sounds like a good idea. I'll keep an eye out for 2.2 and will have a look at configuring the backup argument.
Thanks for the help on this @privateip @gundalow
good to close?

[2016-09-29 14:27] gundalow commented on #4386
Closing as requested.

[2016-09-29 14:27] #4386 closed, assigned to privateip

[2016-09-29 14:30] ghost opened #5091 "Validation with visudo does not work for lineinfile if"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

lineinfile
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

[code]
##### SUMMARY

When trying to create or modify a file in _/etc/sudoers.d_ by using the `lineinfile` module the validation with visudo fails because a temporary file is not found.

http://docs.ansible.com/ansible/lineinfile_module.html
##### STEPS TO R

[2016-09-29 14:37] abadger commented on #4693
Analyzed this bug. It does not appear to affect 2.1.2 (due out shortly).  We recently merged a fix for this from mscherer: https://github.com/ansible/ansible-modules-core/pull/4642 to devel so this should be taken care of on 2.2.x as well.

[2016-09-29 14:37] #4693 closed, assigned to nobody

[2016-09-29 14:41] abadger commented on #5051
Thanks for testing!

[2016-09-29 14:41] #5051 closed, assigned to abadger

[2016-09-29 14:44] abadger commented on #5073
I've reverted the recent changes to mount in stable-2.1 so the module is now in the same state as 2.1.1.  i'm going to retarget this against 2.2 as the code there could suffer from the same issues.  If you can get us the additional information about the fstab for the nfs mount that would be great to help us verify whether this is still broken in 2.2 or not.

needs_info

[2016-09-29 14:48] abadger commented on #1942
The previous fixes caused some additional issues.  Since we're releasing 2.1.2 later today we reverted the fixes from stable-2.1.  They will not be present in 2.1.2.  Working out the bugs in the code continues in the devel branch and will be in 2.2.0.

[2016-09-29 14:55] nsteinmetz commented on #5073
@abadger:

Yes, it results in the last line which was added:

[code]

As i said, after I hit the bug, I connected on the server and tried to umount and mount the given nfs mount point and it worked without any error.

I thought it was a bug as for the RC4, it stated that there were a bug in the mount module.

[2016-09-29 16:01] twekberg commented on #3256
I got bit by this one this week. Until I understood why that was happening I added 2 tasks to check cron's idempotents and display a debug msg if it was not. Instead of making the name required, how about when state=present (default) and name is not specified, displaying a warning message when a duplicate cron entry is added? Something like this:

If adding duplicate cron entries is the expected b

[2016-09-29 16:11] gundalow opened #5092 "eos_command: unable to load response from device"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

eos_command
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

This may be a different issue to last time, looks like I'm getting some response back.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS
##### ACTUAL RESULTS

[code]

[2016-09-29 16:18] gundalow opened #5093 "junos_command comparisons"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

junos_command
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

May be user error, though if so the error isn't clear.
##### STEPS TO REPRODUCE

Tests are in https://github.com/gundalow/test-network-modules/tree/test-junos
run with
`time ansible-playbook -vvv  junos.yaml -i ../inventory-testnetwork   -e "limi

[2016-09-29 17:12] gundalow opened #5094 "nxos_config: 'copy running-config startup-config | xml '\n\n\nCmd exec error.\n", nxos_config:"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

nxos_config
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

I'm sure this was working...
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS
##### ACTUAL RESULTS

[code]

[2016-09-29 18:24] bcoca commented on #5089
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The `raw` module does not support 'shellisms' which is what '&' is, use the `shell` module instead.

In the future, this might be a topic more well suited for

[2016-09-29 18:24] #5089 closed, assigned to nobody

[2016-09-29 19:47] gerhard-tinned opened #5096 "Temporary files remain after execution of tasks"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

Different modules keep temporary files after execution.
- command
- yum
- setup
- file
- lineinfile
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible Host: LinuxMint and CentOS
Managed: CentOS
##### SUMMARY

After execution of tasks, some tasks randomly keep temporary files on the managed host.
##### STEPS TO REP

[2016-09-29 19:51] harsha-y opened #5097 "Error with ec2_group module - Invalid rule parameter '-'"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ec2_group
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

`macOS Sierra‎ version 10.12`
##### SUMMARY

Trying to generate rules using Jinja2 throws an error about invalid parameter.
##### STEPS TO REPRODUCE

createSG.yml

[code]

[code]

##### EXPECTED RESULTS

A security group created with two ingress rules. An

[2016-09-29 19:56] harsha-y commented on #5097
More info -

This is not a newly introduced issue. Had identical results with ansible-2.1.1.0

[2016-09-29 21:06] nickwright80 opened #5098 "win_feature always returns "Failed to add feature" on Windows Server 2016"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
- `win_feature`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
- n/a
##### OS / ENVIRONMENT
- Host: Mac OS X El Capitan 10.11.6
- Target: Windows Server 2016 Datacenter (RTM Build 14393.rs1_release.160915-0644)
##### SUMMARY

`win_feature` module is unable to add features to Windows Server 2016 targets (including trivial use cases such as `Teln

[2016-09-29 21:16] Qalthos commented on #5093
I think (without looking into it at all) that this looks like an issue with the wait_for condition. I _think_ rpc-reply is no longer necessary? Might be something else

[2016-09-29 21:21] jtyr commented on #5073
Thanks for providing the fstab details, @nsteinmetz. I'm the author of the recent changes to the `mount` module and would like to ask you for few more tests.

Please could you try to remove all four NFS entries (and unmount them if mounted) and then:

1) Use the `mount.nfs` command from the command line:

[code]

2) If that works, please unmount it and try to add the fstab entry and mount it with

[2016-09-29 21:23] poxin13 opened #5099 "win_user unable to change Administrator password InvalidCredentialsError"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

win_user
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Nothing to note.
##### OS / ENVIRONMENT

Ansible Server on CentOS 7
WinRM Server on 2012 R2
##### SUMMARY

Various other commands work fine on this server including win_file, win_copy, win_ping, etc. However win_user will not allow me to change the Administrator password.
##### STEPS TO

[2016-09-29 21:46] mojogitoverhere commented on #2967
Any updates on this?

[2016-09-29 21:49] nitzmahone commented on #5099
This isn't a bug.

You can't change your own password in the midst of a run, since we're using that password to auth to WinRM. It's successfully exec'ing the module, but when it makes the next WinRM request (each one is auth'd independently) to get the results, the password doesn't work anymore because it's been changed.

Since we don't support `become:` yet on Windows, there's no easy way to chan

[2016-09-29 21:49] #5099 closed, assigned to nobody

[2016-09-29 22:07] poxin13 commented on #5099
Understood. I did attempt to troubleshoot by having this as the only or last task in the playbook. However I see what you're saying by returning the results.

Odd thing is, it doesn't actually change the password to the variable specified, can no longer gain access to the server via the old pass or the new pass from the variable. It does appear to be changed, but to what I have no idea.

I'll look

[2016-09-29 22:17] nitzmahone commented on #5099
For the password value you ended up using, I wonder if the generated password (since it has a `#` in the middle of it) ended up truncating as a YAML comment or something. It _shouldn't_ do that, but would be interesting to see what happens there. Another avenue that might be an option would be use kerberos, as the ticket replaces the password and should survive the password change.

[2016-09-29 22:22] poxin13 commented on #5099
Yeah this will likely use kerberos in the future and negate most of this headache in the first place. I'll test again and leave # out of the characters for password generation.

Out of curiosity, is there an easy way to escape those characters when doing something like this?

`password: "{{ generated_password }}"`

Thanks for the tips!

[2016-09-29 22:57] nitzmahone commented on #5099
Nah, I tested it- looks like the # isn't an issue.

On Thu, Sep 29, 2016 at 3:22 PM, poxin notifications@github.com wrote:

[2016-09-30 00:57] mattclay opened #5100 "Windows setup module fails getting user UID."
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

setup.ps1
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Windows Server 2012 R2 on Shippable
##### SUMMARY

The Windows setup module fails when trying to set the `ansible_user_uid` fact for some users.

The failure appears to occur due to the code assuming SIDs are a fixed length.
##### STEPS TO REPRODUCE

Run CI on

[2016-09-30 03:49] zoranid commented on #3800
Same issue, ansible 2.1.1.0

[2016-09-30 05:20] sjeeva opened #5101 "filesystem module hangs when run against a ubuntu machine"
filesystem: fstype=ext4 dev=/dev/xvdc opts="-cc"
##### COMPONENT NAME

filesystem
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

It just hangs with no progress

Below is the log
##### STEPS TO REPRODUCE

Just run the playbook

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-09-30 05:28] #5101 closed, assigned to nobody

[2016-09-30 07:06] jhawkesworth commented on #5098
Could you re-run with a -vvv or -vvvvvv and see if there is a stack trace in the powershell that is being executed?  I have a feeling this is a windows issue though, as if I recall I noticed that you couldn't remove features in Tech Preview 5.

[2016-09-30 08:36] nsteinmetz commented on #5073
Hi @jtyr

It fails with:

[code]

but this works:

[code]

Will test further a little bit later.

[2016-09-30 09:00] nickwright80 commented on #5098
@jhawkesworth No stack trace AFAICS, but noticed this at the end of the XML response:

[code]

Complete output of `ansible -vvvvvv -m win_feature -a 'name=Telnet-Client' example host`:

[code]

Despite the "Completed/100%" message, the state of the machine remains unchanged:

[code]

[2016-09-30 09:09] jtyr commented on #5073
@nsteinmetz Please try to omit the `-t nfs` when running `mount.nfs`. It probably has the `nfs` fstype as default.

Why I'm asking you to run `mount.nfs` is because the ansible error is mentioning the `mount.nfs` as the command returning the error about an invalid option (`mount.nfs: an incorrect mount option was specified`). This is why I would like you to test it on the command line to see if it

[2016-09-30 09:44] Hashfyre commented on #3447
A bucket is in `global` region, they are not region specific.

[2016-09-30 09:46] nickwright80 commented on #5098
@jhawkesworth I'm sorry, my bad.

The [Packer script](https://github.com/mwrock/packer-templates/blob/master/vbox-2016.json) which builds the [Vagrant box](https://vagrantcloud.com/mwrock/boxes/Windows2016/versions/0.2.0) I was using strips unused features. I should have paid attention to @mwrock: ["All unused features have been removed from disk"](https://vagrantcloud.com/mwrock/boxes/Windows2016

[2016-09-30 09:49] nsteinmetz commented on #5073
Just restested as is with 2.1.2 (final?) and seems to work without changing anything on my UAT envt.

Regarding the `tcp` option, you find it on some CentOS/RHEL documentation (we use RHEL7)
- https://www.digitalocean.com/community/tutorials/how-to-set-up-an-nfs-mount-on-centos-6
- https://www.centos.org/docs/5/html/Deployment_Guide-en-US/s1-nfs-tcp.html
- https://access.redhat.com/documentation/e

[2016-09-30 10:00] jhawkesworth commented on #5098
Pretty certain JSON is the only mechanism to communicate module outcome back to ansible - its kind of part of the contract between modules and the controller is that module will send back just JSON. I think -vvvv spits out all available detail.  Its up to module writers to return error responses in the json.

If you have an iso around somewhere you can use the source parameter to install features

[2016-09-30 10:23] ismc commented on #5041
I installed from source so that I could get a more detailed --version output:

ansible-playbook 2.2.0 (devel c157c47802) last updated 2016/09/30 03:11:09 (GMT -700)
  lib/ansible/modules/core: (detached HEAD 537a7eb924) last updated 2016/09/30 03:11:14 (GMT -700)
  lib/ansible/modules/extras: (detached HEAD a58e1d59c0) last updated 2016/09/30 03:11:17 (GMT -700)
  config file = /etc/ansible/ansibl

[2016-09-30 10:53] nickwright80 commented on #5098
@jhawkesworth Thanks for the slides. Plenty of useful nuggets in there.

As for the JSON response, yes – that's what I meant to say (but didn't).

[2016-09-30 10:53] #5098 closed, assigned to nobody

[2016-09-30 12:52] schwatvogel opened #5103 "rpm_key key_id verification erroneous"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

 ansible-modules-core/packaging/os/rpm_key.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

not relevant
##### OS / ENVIRONMENT

N/A
Redhat/Centos rpm-based
##### SUMMARY

Function is_key_imported does not work reliably because
Function getkeyid only extracts the last part of the first signature packet,
therefore the key will be imported on

[2016-09-30 12:55] jtyr commented on #5073
@nsteinmetz The v2.1.2 doesn't contain the change you were experiencing in v2.1.2-rc5. This is why id works for you now. But v2.2.x will have change and therefore we would like to fix it now to prevent people having problems like you had in the future release.

Please re-open the issue and help use to debug the problem by downloading the [`mount`](https://raw.githubusercontent.com/ansible/ansible-

[2016-09-30 13:16] gundalow commented on #5093
Even without the RPC bit this seems to fail. It could well be another test issue, however I can't get the correct syntax

[2016-09-30 13:25] rahulraghu94 opened #5104 "Feature Idea: Pip Module to have --quiet flag"
##### ISSUE TYPE

Feature Idea
##### COMPONENT NAME

pip module
##### ANSIBLE VERSION

[code]
##### SUMMARY

Implement pip install with --quiet flag

I am currently running ansible on Arch Linux.

Issue Type: Ansible provisioning with packer is failing due to large amounts of shell output

I am attempting to provision an AWS instance that should run ubuntu using Packer and Ansible.  The initial pa

[2016-09-30 13:38] nsteinmetz commented on #5073
@jtyr: ok understood - Will try to test next week or build a sandbox to avoid impacting existing deployment toolchain.

[2016-09-30 14:28] bcoca commented on #5088
I cannot reproduce this issue, running:

[code]

I get:

[code]

[2016-09-30 14:31] bcoca commented on #5096
do you have `keep_remote_files` set in ansible.cfg or ANSIBLE_KEEP_REMOTE_FILES environment variable set?

[2016-09-30 14:33] bcoca commented on #5096
Also keep in mind that certain failures or issuing a Ctrl+C will prevent the cleaning process from running.

[2016-09-30 15:12] ryansb commented on #4212
This is an issue with the way the tag is specified - you're specifying in that case that any instance with a tag called "{}", which it appears the EC2 API matches to _all instances_ because they all match no-tag. Then, since they exceed the count, they are terminated.

While this is certainly unexpected, it's not entirely a bug in the code, but a validation problem for which parameters are accepte

[2016-09-30 15:16] jjshoe commented on #4078
@mliudev @hyperized - can I get you guys to test #5105 ?

[2016-09-30 15:25] ryansb commented on #857
Closing because these were both added to 2.0.

[2016-09-30 15:25] #857 closed, assigned to nobody

[2016-09-30 15:26] ryansb commented on #3877
Fixed with merge of #4990

[2016-09-30 15:26] #3877 closed, assigned to ryansb

[2016-09-30 17:05] nitzmahone commented on #5100
Since the setup code for `ansible_user_uid` was trying to get the RID (which is arguably useless without the corresponding AID) and was incorrectly parsing the SID to get it anyway, I just removed that fact. We might want to revisit at some point, but "UID" isn't really a thing on Windows except under the POSIX SS anyway (deprecated) and IIRC there's no normal API call to get the POSIX UID.

[2016-09-30 17:05] #5100 closed, assigned to nitzmahone

[2016-09-30 17:16] dminca commented on #4996
I don't know how to instruct Ansible to use `python2.7` because it's running `python3.5.2`.
@Qalthos suggested I add `ansible_python_interpreter=python2` in the `inventory` footer, but that didn't fix it.

[code]

[2016-09-30 18:06] RiaanBurger opened #5108 "git module: fatal: A branch named 'STABLE' already exists."
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Module: git
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No customisation.
##### OS / ENVIRONMENT

N/A
##### SUMMARY

"msg": "Failed to checkout STABLE"
"stderr": "fatal: A branch named 'STABLE' already exists.\n"

On first run only.
##### STEPS TO REPRODUCE

Run:

[code]

Output:

[code]

On second run the task succeeds, so to reproduce ag

[2016-09-30 18:08] bryanlarsen opened #5109 "cron: OSError: [Errno 25] Inappropriate ioctl for devic"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

cron
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

pipelining = True
allow_world_readable_tmpfiles = True
##### OS / ENVIRONMENT

Ubuntu 14.04, to & from
##### SUMMARY

OSError: [Errno 25] Inappropriate ioctl for device

2.1.1.0 works fine.   2.1.2.0 crashes.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

works without error

###

[2016-09-30 18:35] gerhard-tinned commented on #5096
keep_remote_files ... NO. In fact the ansible.cfg contains ONLY sections. no actual configuration items.
ANSIBLE_KEEP_REMOTE_FILES ... NO. In fact "ANSIBLE_NOCOWS" is the only ansible env variable set.

I willtyr to keep track if i pressed Ctrl+C but i cant remember to interrupt ansible any time.

[2016-09-30 19:00] #5094 closed, assigned to privateip, Qalthos

[2016-09-30 19:11] ipspace opened #5111 "nxos_vlan, nxos_interface, nxos_ip_interface fail when trying to change configuration"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

nxos_vlan
nxos_interface
nxos_ip_interface
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible: Ubuntu
Switch: Nexus OS 7.0
##### SUMMARY

Nexus modules fail when trying to change switch configuration
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

Other Nexus modules (nxos_in

[2016-09-30 19:49] privateip commented on #5093
The conditional is incorrect.  The conditional should read

[code]

However, did put in a fix to better handle the exception and return a well formed error message.

https://github.com/ansible/ansible/pull/17839

[2016-09-30 19:49] #5093 closed, assigned to Qalthos

[2016-09-30 20:02] joewoz opened #5112 "YAML support not working correctly"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible-modules-core/cloud/amazon/cloudformation
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

Amazon Linux
##### SUMMARY

When using the CloudFormation template in YAML format, the scripts are encountering an error. It appears that line 277 of the 'cloudformation.py' module attempts to parse the template as valid

[2016-09-30 20:05] GGabriele commented on #5111
There are already some open PRs for these.
#5005, #5012 and #5013 will solve it :)

[2016-09-30 20:25] #3962 closed, assigned to privateip

[2016-09-30 20:58] jzafran commented on #4460
Looks like this is an issue with boto or the AWS API: https://github.com/boto/boto/issues/3428

[2016-09-30 22:12] php-coder opened #5115 "stat.exists regression"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

stat
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Travis CI
##### SUMMARY

My playbook that tries to check whether file exists or not started to fails with ansible 2.1.2.0 release. It worked on 2.1.1.0 version.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2016-09-30 23:31] mazzystr commented on #4204
Confirmed with ansible 2.1.2.0 against Red Hat Cloud Access ami (us-east-1 / ami-10251c7a)

[code]

[2016-10-01 03:52] bryfry opened #5116 "os_server fails to create instance"
##### ISSUE TYPE
- Bug Report
- Documentation Report
##### COMPONENT NAME

[ansible-modules-core/cloud/openstack/os_server](https://github.com/ansible/ansible-modules-core/blob/18f710fe32b54732862c930be6f297ab2da07e6a/cloud/openstack/os_server.py)
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

Ubuntu Server 16.04
##### SUMMARY

os_server fails to launch an instance

[2016-10-01 08:10] RichVel commented on #2886
Getting same issue with Ansible 2.1.1 on OS X and boto 2.42.0.

@ansible - this bug has been open for 9 months, any chance of a maintainer commenting?

Does anyone have an easy workaround?

Playbook extract:

[code]

Error:

[code]

[2016-10-01 14:59] kennethmyers opened #5117 "docker_service module giving incomplete error message."
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_service
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Standard config, running with -vvv verbosity.
##### OS / ENVIRONMENT

RHEL 7.1
##### SUMMARY

We are getting intermittent errors when invoking docker-compose through the docker-service module. The errors themselves are (most likely) unrelated to the docker_service module but we hav

[2016-10-01 20:28] ccollicutt commented on #3189
Same for me.

[code]

[2016-10-01 23:37] jborean93 opened #5118 "win_file: Failed to delete folder with broken symlink"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible-modules-core/windows/win_file.ps1
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Running: Bash for Ubuntu on Windows
Managing: Windows Server 2012 R2
##### SUMMARY

When setting win_file state: absent for a directory that contains a symlink that is no longer pointing to a valid directory it fails with DirectoryNotFoundException
###

[2016-10-02 05:25] EvanK commented on #5109
This _should_ be fixed in `devel`, per #4777

@ansibot resolved_by_pr

[2016-10-02 05:55] #5109 closed, assigned to nobody

[2016-10-02 06:00] dj-wasabi opened #5119 "apt_key: key does not seem to have been added. While the ID looks correct."
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

apt_key
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Executing Ansible on CentOS, running playbook against Debian.
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Key is added.
##### ACTUAL RESULTS

[code]

Strange thing, when using the id `79EA5ED4` it works?
(Or am I missing something?)

[2016-10-02 10:58] thorian93 commented on #1662
I am unsure whether I missed something, but I could not find any information in the documentation on how to create a hash for mysql like there is for the user module. I will look it up now, but for the future a hint in the documentation as @cortopy suggested in [this comment](https://github.com/ansible/ansible-modules-core/issues/1662#issuecomment-162631582) would be great.

**edit:** I looked up

[2016-10-02 13:11] jborean93 commented on #5118
I have raised a pull request https://github.com/ansible/ansible-modules-core/pull/5120 to fix this issue.

[2016-10-02 16:31] Jmainguy commented on #2602
I think this should be closed out as #2613 was merged, and then a new feature request should be opened to address @zshamrock idea of checking if package is installed before downloading it (not sure how to reliably do that, would be a difficult problem to solve)

[2016-10-02 16:45] resmo commented on #2602
resolved_by_pr #2613

[2016-10-02 17:01] #2602 closed, assigned to nobody

[2016-10-02 18:22] Qalthos commented on #4996
@dminca Not as another line, this is a variable you are attaching to localhost, so it has to be on the same line, just as you are specifying ansible_connection=local to localhost

[2016-10-02 19:24] privateip commented on #5092
fixed in https://github.com/ansible/ansible/pull/17858

[2016-10-02 19:24] #5092 closed, assigned to privateip, Qalthos

[2016-10-02 20:28] caDevOps commented on #3712
Any word on this?  I can't automate mysql server >=5.7 anymore because of this issue.  I can also grab the temp password from the log as well, but another issue is that the password is set to expired, forcing the user to change it on initial login, which is a secondary issue to also deal with.

[2016-10-03 00:56] jtyr commented on #5073
I just tested the `mount` module from the devel branch on CentOS 6 and I can not reproduce the error. These are the files I have used for the test:

`Vagrantfile`:

[code]

`site.yaml`:

[code]

`hosts`:

[code]

Executed like this:

[code]

[2016-10-03 02:38] nuklea commented on #3719
The same with 2.1.2.0 when try missing tag:
Registry returned more than one result for ns/image:tag

[2016-10-03 04:03] dminca commented on #4996
Ahh. Ok @Qalthos, will try it out and come with feedback. Thank you!

[2016-10-03 06:22] antonv6 opened #5127 "hg: updating to empty changeset (a.k.a. revision -1 or null) doesn't work"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

hg
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

Running from Debian GNU/Linux testing, managing Ubuntu 14.04.5 LTS.
##### SUMMARY

Pulling all changes and updating a Mercurial repo to empty changeset (for backup/mirroring purposes, for example) used to work(?) with `revision: null`, now it doesn't. It also doesn't wor

[2016-10-03 06:41] nsteinmetz commented on #5073
Hi @jtyr

I think that with RHEL7 (and so CentOS 7), it's NFSv4 by default and no longer NFSv3 as for CentOS/RHEL6. I'll try to confirm my bug later today.

[2016-10-03 10:51] MartijnBraam commented on #4269
I have noticed that this only happens on Ubuntu 14.04. I've run the same steps on debian 7, debian 8 and ubuntu 16.04 and it run's without problem. It fails on a fresh installed Ubuntu 14.04 VM.

[2016-10-03 11:54] TomaszKlosinski commented on #4249
Hi, just to let you know I'm having the same issue on 2.1 but not on devel. So, (again) looking forward to release of 2.2.

[2016-10-03 11:58] baptistedonaux opened #5129 "Fail to check package version"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

`docker_image` module.
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default file used.
##### OS / ENVIRONMENT

Docker Container (hosted by Debian Jessie).
##### SUMMARY

When I want pull a docker image, Ansible reports that docker-py package installed is `1.10.3` whereas minimum required is `1.7.0`.
##### STEPS TO REPRODUCE

[code]

[2016-10-03 12:53] TomaszKlosinski commented on #4249
Nope, it doesn't work also for devel. It just works when I run the same playbook twice.

[2016-10-03 13:31] chouseknecht commented on #5129
This was fixed [here](https://github.com/ansible/ansible/commit/39aa740531f171a557e8604babd493793d63323e) in [ansible/ansible](https://github.com/ansible/ansible). You will need to  run from source or upgrade to Ansible 2.2.

[2016-10-03 13:31] #5129 closed, assigned to nobody

[2016-10-03 13:41] smeijer commented on #4393
Likewise; I just lost an hour on this. Thought it was my mistake, but seems to be a bug.

[2016-10-03 13:47] dagwieers commented on #5129
Not sure why @ansibot was forwarding this issue to me. bot_broken

[2016-10-03 14:01] Shrews commented on #4393
duplicate_of 17035

[2016-10-03 14:02] smeijer commented on #3663
@samvarankashyap Can you share more about your "dirty fix"? Would be awesome if we can use it untill this problem has been fixed in ansible itself.

[2016-10-03 14:02] Shrews commented on #4393
Not sure that works across repos. Closing here as duplicate of: https://github.com/ansible/ansible/issues/17035

[2016-10-03 14:02] #4393 closed, assigned to nobody

[2016-10-03 14:19] chouseknecht commented on #5085
@gtinjr, noticing you are passing `docker_host`, `cacert_path`, and `tls_verify` to the _docker_image_ module, but not to _docker_login_. It may be nothing, but curious why they're different.

I'm wondering if the failure is between the module and the Docker daemon because of the connection parameters being sent. Are you using Docker Machine or Docker for Mac? If so, can you provide the result of

[2016-10-03 14:20] chouseknecht commented on #5085
needs_info

[2016-10-03 14:40] jaccoh commented on #4965
I have a similar issue. Docker-py will need requests but a later version. Docker-compose will downgrade requests....

[2016-10-03 14:54] chouseknecht commented on #4965
I would recommend using Virtualenv on Mac. Have you tried that?

[2016-10-03 15:43] chouseknecht commented on #3964
resolved_by_pr 17873

See https://github.com/ansible/ansible/pull/17873

[2016-10-03 15:44] #3964 closed, assigned to nobody

[2016-10-03 16:37] toby-griffiths commented on #4117
Thanks @gundalow

[2016-10-03 16:45] chouseknecht commented on #4965
Not able to reproduce this. Here's what I'm doing:
- Create Vagrant box using box _centos/7_
- `vagrant-ssh` into the new box
- add the Docker yum repo per [this](https://docs.docker.com/engine/installation/linux/centos/)
- `sudo yum install docker-engine`
- `sudo yum install epel-release`
- `sudo yum install python-pip python-develop`
- `sudo pip install docker-py`
- `sudo pip install docker-comp

[2016-10-03 16:45] #4965 closed, assigned to nobody

[2016-10-03 16:50] chouseknecht commented on #5117
@kennethmyers, the error handling was improved with [this commit](https://github.com/ansible/ansible-modules-core/commit/5ab1a6f88dea24eafa6e61114e5687fc7f2b7704).

Can you try running from source to see if you get more useful error messages?

[2016-10-03 16:51] chouseknecht commented on #5117
needs_info

[2016-10-03 17:10] kennethmyers commented on #5117
That commit just looks like it's changing some of the wording of the error
message, not actually returning more info. I could be mistaken. I'll give it a shot.

On Oct 3, 2016 11:50 AM, "Chris Houseknecht" notifications@github.com
wrote:

[2016-10-03 17:23] #3874 closed, assigned to nobody

[2016-10-03 17:24] gundalow commented on #4117
@toby-griffiths We've just released RC1 of Ansible 2.2 https://groups.google.com/forum/#!topic/ansible-devel/Ca07JSmyxIQ

If you have any issues please raise a fresh bug

[2016-10-03 17:24] ryansb commented on #3874
This will be included in Ansible 2.2 rc2

[2016-10-03 17:26] slapula commented on #2821
+1

[2016-10-03 19:02] robinro commented on #5108
@RiaanBurger I can reproduce your issue.

[2016-10-03 19:04] robinro commented on #5108
I opened PR #5135 with a bugfix. Please try it out.

[2016-10-03 21:02] dminca commented on #4613
Having the same issue as @opichon ... This happens since **24th september** (when I tried to create a droplet).

[code]

[2016-10-03 21:09] gerhard-tinned commented on #3157
+1

Need this or a similar feature as well. Using ansible 2.1.1.0.

[2016-10-03 21:14] wnpaul commented on #3157
+1

Need this as well. Using latest ansible for OSX.

[2016-10-03 21:55] RichVel opened #5138 "Cron task crash on Debian 7.8 - regression in 2.1.2.0"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

cron
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No ansible.cfg

No crontab for the target server's `nobody` user (also happens if crontab exists).
##### OS / ENVIRONMENT

Control machine: OS X 10.11.6
Target: Debian 7.8 x64
##### SUMMARY

With Ansible 2.1.2.0, a simple cron task gives traceback on Debian 7.8 (but not on Ubuntu 14.04).

Wi

[2016-10-03 22:30] jhawkesworth commented on #4512
hmm, looks like the bot might have done something strange here.

@sirdy please can you advise download url for the facter version that you have hit this problem with?

needs_info

[2016-10-03 22:41] henderbj commented on #4269
I was having same problem. I use sha256 checksum, but it fails when using "sha256sum" parameter, and it works when using "checksum" parameter. I added "tmp_dest" parameter too.
My changes were:

[code]

I am using Ubuntu 14.04 too. The default value for tmp_dest is TMPDIR, TEMP or TMP environment variables, but they seem to not be defined on Ubuntu 14.04.

A fix should be make tmp_dest parameter t

[2016-10-03 23:32] EvanK commented on #5138
I suspect the break between 2.1.1.0 and 2.1.2.0 is due to #4270, and it _should_ be fixed in the latest `devel`, by #4777

[2016-10-04 00:29] adichiru commented on #2951
+1 On Ubuntu 16.04.1 LTS with ansible 2.0.0.2 and python 2.7

Has nothing to do with Amazon.

sudo rm -rf /var/lib/apt/lists/\* solve the issues momentarily for me too.

[2016-10-04 03:48] kennethmyers commented on #5117
@chouseknecht Unfortunately that commit doesn't work and just changes the format/wording of the error message.

Still looking into this, but looking at where the exception is being thrown in Docker compose, it looks like it might not be possible to get the actual errors that occurred, only the generic exception it throws:

https://github.com/docker/compose/blob/e9d62e8404f172fc9f4606f582ddfc80c73f

[2016-10-04 05:43] larry-s opened #5140 "mysql_user to change password fails with Ubuntu 16.04 on MariaDB"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

mysql_user
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Using Ansible Tower 3.0.2
##### OS / ENVIRONMENT

Ubuntu 14.04
##### SUMMARY

mysql_user to change password fails with Ubuntu 16.04 on MariaDB. Exactly the same scripts work with Ubuntu 14.04. It seems to try to run the wrong command.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RE

[2016-10-04 05:57] larry-s commented on #5140
This happens only when the password is changed. Not when it is first set. The following works:
`command: mysql -u root -p'{{ root_dbpassword }}' -h 127.0.0.1 -e "SET PASSWORD FOR 'debian-sys-maint'@'localhost' = PASSWORD('{{ debian_dbpassword }}');"
`

[2016-10-04 08:10] toby-griffiths commented on #4117
@gundalow Thanks for the heads up :o)

[2016-10-04 08:12] sfilipov opened #5141 "get_url does not change mode when checksum matches"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

get_url
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

Host: Ubuntu 16.04
Managed: Ubuntu 14.04
##### SUMMARY

`get_url` does not change mode when the checksum of the file matches. If the file needs to be downloaded due to the checksum not matching, then after download, the correct mode will be set.
##### STEPS TO

[2016-10-04 08:48] mihai-satmarean opened #5142 "advanced yum features for redhat subscribed machines"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

yum module
##### OS / ENVIRONMENT

##### SUMMARY

We would like to be able to use the yum command to apply individual RHSA or any other RedHat patch or errata.
##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

[2016-10-04 09:16] zepag opened #5144 "ansible 2.2 setup module "unsupported parameter for module: gather_timeout""
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

setup
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
inventory      = $HOME/inventory/full.inventory
remote_tmp     = $HOME/.ansible/tmp
remote_user    = root
##### OS / ENVIRONMENT

RHEL 7/RHEL7
##### SUMMARY

When running setup, the setup module complains about not supporting the new gather_timeout parameter:
##### STEPS TO REPR

[2016-10-04 09:49] sdarwin opened #5145 "docker_service not creating docker image"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

docker_service
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 14.04
##### SUMMARY

docker_service module doesn't create a docker image from the docker-compose file, it gives an error and crashes.  The error was: compose.service.NoSuchImageError: Image 'myproject_web' not found.
  However, if a docker image is p

[2016-10-04 09:53] zepag commented on #5144
My bad, this was due to some modules and /etc/ansible/ansible.cfg file remaining from an old 1.9 install, in the default path looked up by Ansible.
The fact that I don't override those path in my over-simplified .ansible.cfg made it behave badly.
My attempts to reproduce the problem gave the same result, because the baseline of test machines also included an older version of ansible (now destroyed

[2016-10-04 09:55] sigfrido commented on #4309
+1 same for me, Ansible 2.1.2.0

Workaround: register task result and check it command output contains '0 static files'

[code]

[2016-10-04 10:36] gundalow opened #5146 "iosxr_config: No message/protection against overly long commit messages"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

iosxr_config
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

Very low priority bug. Documentation (and code) should reference the maximum length, which appears to be 60 characters.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

More meaningful error message and documentation to reference this limi

[2016-10-04 10:46] Oneiroi commented on #5142
@mihai-satmarean then surely providing an example of the commands to be run would have made sense ? Right now this issue is likely to be closed due to insufficient detail

[2016-10-04 10:57] Oneiroi opened #5147 "mysql_user invalid privileges string: Invalid privileges specified: frozenset(['\"REPLICATION SLAVE\"'])"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

mysql_user
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No custom configuration
##### OS / ENVIRONMENT

OSX 10.11.6
##### SUMMARY

mysql_user throws `invalid privileges string` for the following task

[code]
##### STEPS TO REPRODUCE

Run the following task, MySQL version is `5.5.51`

[code]
##### EXPECTED RESULTS

Creation of `repl` user to

[2016-10-04 11:13] mihai-satmarean commented on #5142
@Oneiroi Thanks for the suggestion, I just assumed that now that RedHat is involved , it becomes default that Ansible would be improved in this direction by people directly involved in the yum packager. But I am willing to help.

for now we do something like this:

# we enter a date to wich we know we had applied all the important advisories

date_lim = $1

echo "getting patch information"

# this

[2016-10-04 13:53] jpmens commented on #5141
needs_contributor

[2016-10-04 14:13] jctanner opened #5148 "test issue for resolved by PR"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

yum module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Test test test!
##### STEPS TO REPRODUCE

N/A
##### EXPECTED RESULTS

N/A
##### ACTUAL RESULTS

N/A

[2016-10-04 14:15] jctanner commented on #5148
resolved_by_pr 5136

[2016-10-04 14:20] dknopp opened #5149 "unarchive does not recognize size differs"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

unarchive
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Nothing unusual or special about configuration, simply using defaults.
##### OS / ENVIRONMENT

CentOS 6.6 32bit
##### SUMMARY

The unarchive task does not consider `Size differs` in the output of gtar in it's is_unarchived method, which perhaps was by initial design or just not thoug

[2016-10-04 14:22] abadger commented on #5148
resolved_by_pr 5136

[2016-10-04 14:22] bcoca commented on #5148
resolved_by_pr 5136

[2016-10-04 14:26] StevendeVries opened #5150 "Ansible v2.1.2.0 cron module: job Required if state=absent result in error"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

Cron module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

I want to make sure an old cronjob is not present anymore, using the following task:

[code]

This works fine with Ansible 2.1.1.0 after updating to 2.1.2.0 this breaks.
##### STEPS TO REPRODUCE

Run this task and it fails:

[code]

Run this

[2016-10-04 15:08] fhubik commented on #4318
issue type: Bug
component name: ansible-modules-core (yum)
ansible version: 2.1.1.0, 2.1.2.0 (tested with these)
summary:

Hello, I also stumbled upon this exact issue. Looks like yum wraps lines longer that current terminal size into new line for some reason and assumes it is running in 80 char terminal if non-interactive. There are several bugzillas addressing this (https://bugzilla.redhat.com/s

[2016-10-04 15:15] dischord01 commented on #2138
+1 Ansible 2.3

debug:

[code]

[2016-10-04 15:38] chouseknecht commented on #5145
needs_info

@sdarwin please share a copy of your docker-compose.yml so that we can reproduce and troubleshoot what you're seeing.

[2016-10-04 16:07] #5148 closed, assigned to nobody

[2016-10-04 16:38] sdarwin commented on #5145
/opt/test/docker-compose.yml -

[code]

/opt/test/Dockerfile -

[code]

/opt/test/main.yml -

[code]

check the docker image doesn't exist, or delete it -

[code]

run ansible -

[code]

[2016-10-04 17:35] andyshinn commented on #4091
So when does this make it into a release? It is still broken as of 2.1.2.0.

[2016-10-04 18:04] salman1485 commented on #5086
Just checking if you guys had the time to check this?

[2016-10-04 20:06] privateip commented on #5086
There is a little confusion here that I will try to clear up and also take note that we can make a little clearer in the documentation.  The *_command (in this case ios_command) module will return `ok` every time its run regardless of the activity you perform.  This is due to the fact that there is no way to know what commands you are sending nor what changes (or no changes) that the commands are

[2016-10-04 20:35] privateip commented on #5111
I believe all the above PRs are merged ... can someone verify that this issue should be either closed or remain open?

[2016-10-04 20:42] #5146 closed, assigned to privateip, Qalthos

[2016-10-04 20:53] privateip commented on #4896
All test cases are passing, if you are still experiencing a problem, please reopen this issue

[2016-10-04 20:53] #4896 closed, assigned to nobody

[2016-10-04 20:54] privateip commented on #4895
Issue believed to be fixed, please re-open this issue if you are still experiencing a problem

[2016-10-04 20:54] #4895 closed, assigned to nobody

[2016-10-04 20:55] privateip commented on #4465
@jean-christophe-manciot ok to close?

[2016-10-04 20:57] privateip commented on #3998
This is the purpose of the `before` argument in the ios_config module.  You can specify one or more configuration commands to be executed but not evaluated against the running-config and the commands will only be applied if a change is necesary.

[2016-10-04 20:57] #3998 closed, assigned to privateip

[2016-10-04 20:58] privateip commented on #3884
this is believed to be resolved, please reopen this issue if you are still experiencing the issue

[2016-10-04 20:58] #3884 closed, assigned to privateip

[2016-10-04 21:00] privateip commented on #4402
This issue is believed to be fixed, please re-open the issue if you are still experiencing a problem.

[2016-10-04 21:00] #4402 closed, assigned to nobody

[2016-10-04 21:02] privateip commented on #4923
This issue is believed to be fixed.  If you are still seeing the problem, please re-open this issue.

[2016-10-04 21:02] #4923 closed, assigned to nobody

[2016-10-04 21:05] privateip commented on #4213
@mattlan Is it possible to get a _sanitized_ copy of your configuration?  We have been unable to replicate this problem in our environment

[2016-10-04 21:09] jctanner opened #5156 "test assignee"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

unarchive module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-10-04 21:46] #5156 closed, assigned to jctanner

[2016-10-04 23:28] karlkfi commented on #4981
I've seen this problem with the following:

[code]

Verbose log (from packer building a virtualbox-iso with ansible-local)

[code]

Basically the task exits green and ok, but is marked as failure. Then the playbook exits because of the failure. Without ansible debug, it's impossible to know what's wrong because the error message isn't printed. You can't even tell which task that failed.

With debu

[2016-10-05 00:09] chouseknecht commented on #5145
@sdarwin I see the issue now. We're not catching the NoSuchImageError in cmd_build(). Will fix shortly.

[2016-10-05 00:46] marchnikolai opened #5158 "Wrong requirements for docker_container module"
##### ISSUE TYPE

- Documentation Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

On remote host (akl0mw643) docker-py 1.7.2 is installed.
##### OS / ENVIRONMENT

Ansible side: RHEL 7.2
Remote host: RHEL 7.2 with docker-py-1.7.2 library
##### SUMMARY

In case of any limits update (cpu__, cpuset__) , a docker_container module calls docker-py API func

[2016-10-05 06:56] #5145 closed, assigned to chouseknecht

[2016-10-05 06:59] chouseknecht commented on #5145
resolved_by_pr #5159

[2016-10-05 07:29] gundalow commented on #4213
needs_info

[2016-10-05 07:35] gundalow commented on #5086
needs_info

[2016-10-05 09:15] jean-christophe-manciot commented on #4465
@privateip  I don't think so.
With latest 2.2.0.0-0.1.rc1 (version number cannot be any longer ;) - also, why don't the RCn part show up in "ansible --version"? that's a valuable information), apart from `ntp, and password encryption aes`, the features which cannot be configured are:

[code]

with the corresponding error messages:

[code]

Also noteworthy, I have just checked a subset of all featu

[2016-10-05 09:50] jean-christophe-manciot commented on #4465
With ansible **2.2.0~git20161005.0a86ddc** ([my own versioning](https://gitlab.com/jean-christophe-manciot/ppa/tree/master/Ubuntu/dists/xenial/unstable/binary-amd64) for devel branch, I find it more compact than ansible nightly builds -- but `ansible --version` strangely shows `ansible 2.3.0`), we get the exact same errors, but much faster :): the performances have been significantly improved.

[2016-10-05 10:07] fhubik commented on #4318
Just FTR. Maybe it should be investigated if also other parts of YUM module code (which are not using YUM API) are not suffering from same issue, e.g. parsing longer signatures incorrectly or relying on some exotic yum-bash-like behaviour.

[2016-10-05 10:49] GGabriele commented on #4465
Can you please try to manually configure these features? I've just tested them and everything seems to work, apart from `port-security` which I couldn't test (the error you received for this is different and is raised by the device...so, again, please test it manually and let me know what you see)

[2016-10-05 11:11] #4970 closed, assigned to gundalow

[2016-10-05 11:12] privateip commented on #4970
leaving the current arguments as is (eg `http`) and keeping aliases (eg `enable_http`)

[2016-10-05 11:39] gundalow commented on #4970
Agreed, no work to be done here.

[2016-10-05 12:05] ismc commented on #5111
FWIW, each of these now work for me in stable-2.2.

[2016-10-05 12:07] privateip commented on #5111
Thanks, marking this issue resolved and closed

[2016-10-05 12:07] #5111 closed, assigned to nobody

[2016-10-05 13:40] danvaida commented on #4752
I can confirm that this problem also exists in 2.1 installed via pip.

[2016-10-05 14:17] agustincastanio opened #5161 "docker_image not showing build output"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ansible-modules-core/cloud/docker/docker_image
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core) on both sides.
##### SUMMARY

When I build a docker image using Ansible module, I lose the build output needed for debugging purposes.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2016-10-05 14:20] dagwieers commented on #4752
So let me be clear, I don't think the download-functionality should be part of the module at all. We have the **get_url** and **uri** modules for this. So I am not really interested to look into this. As I said, I also don't know what the copy/remote_src change was about and was not involved in it.
needs_contributor

[2016-10-05 14:23] jean-christophe-manciot commented on #4465
I wish I could! The following exception brings us back to another **[already reported issue](https://github.com/ansible/ansible-modules-core/issues/4311)**.

[code]

leads to:

[code]

All variables are defined, and a similar play (with nx-api instead of nxos_config) passes with no such issue just above it:

[code]

[2016-10-05 14:25] stevekuznetsov commented on #4752
I don't quite understand -- the historical API for this module has been to download archives when the source points to the web. You disagree that this is the correct API? Sure, but are we changing that specifically here? Is there a release note to the effect of this breaking the prior API?

[2016-10-05 14:28] dagwieers commented on #4752
@stevekuznetsov No, and I am not changing anything, but I did not write it and I certainly did not change it and was not consulted in the change either. As I don't know what the purpose of the change was and I don't think the functionality should have been part of unarchive in the first place, I'll happily pass that to someone else.

I'd rather spend my time on reimplementing unarchive as a new pu

[2016-10-05 14:33] GGabriele commented on #4465
Can you please do the same manually on the device too? I'd like to see how the CLI behave with such commands. The timeout error makes me think that it acts in unexpected ways somehow.

Not following your last note. Did you say the last playbook passes without error?

[2016-10-05 14:44] stevekuznetsov commented on #4752
@jimi-c you seem to have implemented the `copy:` deprecation in https://github.com/ansible/ansible-modules-core/commit/467516e5dade1efec15034d1eef5b2df32893447 -- thoughts?

[2016-10-05 14:49] Canta commented on #5161
Checking the code, i've seen this: https://github.com/ansible/ansible-modules-core/blob/stable-2.1/cloud/docker/docker_image.py#L461
It seems the `build_image` method calls a `log` method from the client instance.

`client` is an instance of the `AnsibleDockerClient` class, from here: https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/docker_common.py

And there we can see two

[2016-10-05 14:49] dagwieers commented on #4752
I definitely did no such thing. I did comment on it after the fact when providing support to complaining users.
needs_contributor

[2016-10-05 14:50] grossws commented on #4915
EDIT: removed command -jctanner

[2016-10-05 14:50] danvaida commented on #4752
+1 on removing the download functionality. separation of concerns...

On 5 October 2016 at 16:44, Steve Kuznetsov notifications@github.com
wrote:

[2016-10-05 14:53] jean-christophe-manciot commented on #4465
OK, I misread your request - I agree for the first 3 features `lacp - port-security - udld` that ansible cannot correct Cisco's issues:

[code]

But the last two `ntp - password encryption aes` cannot be configured with nxos_config either: same issue as the one described in [previous post](https://github.com/ansible/ansible-modules-core/issues/4465#issuecomment-251689509).
It's your call to close

[2016-10-05 15:00] EvanK commented on #4917
The issue here is actually [the cron module _trying to read_ the cronfile](https://github.com/ansible/ansible-modules-core/blob/f9f8af9fd660ec70679bcc550a5b2daea18fdaaa/system/cron.py#L241-L251) first, for parsing and diffing.

We just need to add a file existence check to `CronTab.read`, and then the `.write` _should_ handle creating the file

[2016-10-05 15:05] stevekuznetsov commented on #4752
I feel like the conversation about deprecating the download feature should happen elsewhere. The currently shipped version of Ansible has this bug, and it should be fixed. Whether or not this feature is deprecated seems orthogonal to the fix. Especially if the fix will be backported for the 2.1 release, it does not seem reasonable to respond to this bug by deprecating the feature.

[2016-10-05 15:09] jxn commented on #4845
@ansible , if someone can confirm which behavior is the expected behavior, I will gladly submit a documentation PR

[2016-10-05 15:10] #4590 closed, assigned to nobody

[2016-10-05 15:14] cherusk commented on #4885
no update ... so no response

[2016-10-05 15:26] zfil commented on #4802
wontfix
this module is deprecated
@cove, @softzilla, @zfil, @ThomasSteinbach guys, in general I suggest we stop docker modules needing docker-py to rely only on native docker component (like compose)

[2016-10-05 15:27] zfil commented on #4557
wontfix
this module is deprecated
@cove, @softzilla, @zfil, @ThomasSteinbach guys, in general I suggest we stop docker modules needing docker-py to rely only on native docker component (like compose)

[2016-10-05 15:28] zfil commented on #4466
wontfix
this module is deprecated
@cove, @softzilla, @zfil, @ThomasSteinbach guys, in general I suggest we stop docker modules needing docker-py to rely only on native docker component (like compose)

[2016-10-05 15:30] zfil commented on #148
wontfix
this module is deprecated
@cove, @softzilla, @zfil, @ThomasSteinbach guys, in general I suggest we stop docker modules needing docker-py to rely only on native docker component (like compose)

[2016-10-05 15:35] diego-treitos opened #5163 "User module does not add groups"
##### ISSUE TYPE
- Feature Idea
- ~~Bug Report~~
##### COMPONENT NAME

user module
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Linux
##### SUMMARY

The `groups`argument for the `user` module is not parsed properly in this [line](https://github.com/diego-treitos/ansible-modules-core/blob/devel/system/user.py#L521).
The final group name has the format `'sftpjail']`.
Error example:

[code]

[2016-10-05 15:40] mautematico opened #5164 "Where do I found template.py source cde?"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

files/template.py
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

¡Hola!
I am newbie to ansible and I am trying to write a module that _templates a file and stores it as an aws s3 object_, as a didactic exercise (and hopefully It will help my team to simplify current playbook).

I´ve already made some modificati

[2016-10-05 15:42] bcoca commented on #4752
@stevekuznetsov he is giving his opinion as the original author, that does not mean someone else cannot fix the bug and patch it.

I happen to agree with both, this feature should be removed, but the current bug should be fixed, @dagwieers is just saying he wont do this himself, which he has the right to.

[2016-10-05 15:47] #4802 closed, assigned to nobody

[2016-10-05 15:48] #4557 closed, assigned to nobody

[2016-10-05 15:49] #4466 closed, assigned to nobody

[2016-10-05 15:50] #148 closed, assigned to nobody

[2016-10-05 15:51] criemen commented on #4802
And which module exactly should we use instead?
Our whole deployment is based on docker, ansible and this module...

[2016-10-05 15:55] jhawkesworth commented on #4636
bot_broken

[2016-10-05 16:01] GGabriele commented on #4465
Configuring `feature ntp` should always work if you use `nxos_config` with `transport=cli` (yet it won't be idempotent because the line `feature ntp` does not appear on running config) while trying to re-configure `feature ntp` if it's already active would make it fail because due to the verbose CLI output `NTP is already enabled` when `transport=nxapi`.

Anyway, I think this issue can be closed.

[2016-10-05 16:02] sivel commented on #5164
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-10-05 16:02] #5164 closed, assigned to nobody

[2016-10-05 16:15] #5117 closed, assigned to chouseknecht

[2016-10-05 16:17] chouseknecht commented on #5117
resolved_by_pr 5165

Hopefully #5165 makes this better. If not, please re-open and provide specific docker-compose and Dockerfile examples where error messages are not being surfaced.

[2016-10-05 16:37] chouseknecht commented on #4974
Ah, so the problem is config.volumes. Sorry, I did not catch that before. I do see now that docker_container produces a different result than `docker run`, so this definitely needs to be addressed.

[2016-10-05 16:51] abadger commented on #4613
I created #5154 to address this issue.  Note that all it really changes is that you get back a proper error message about what's going on.  To use the module you need to have dopy and its dependencies installed.  It seems like all of these problems are caused by dopy (or dopy's dependency, six in @kgadek's case) not being found by the python we're running against.  That's a system configuration is

[2016-10-05 16:54] chouseknecht commented on #5161
Ansible modules don't have a mechanism for providing real-time output, as far as I know. The log methods exist in docker_common for troubleshooting during module development.

We could surface the output to module_stdout, which would display after the task has completed. We could strip out the tty format/color characters and new lines, but in general it would be ugly to read and not formatted nice

[2016-10-05 17:36] stepanstipl opened #5166 "include_role module silently ignores missing tasks file"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

include_role
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

ansible_role will silently ignore if there's no `tasks_from` file in the given role. I would expect error to be thrown (like when the whole role is missing).
##### STEPS TO REPRODUCE
- Create `roles/test/tasks` directory (role dir has to exist).
- Run following

[2016-10-05 17:53] Canta commented on #5161
I disagree with the tags change, and i believe there's a misunderstanding about the logs.

The request is NOT for real-time logging, but for just logging.
The problem is that without the `build` output we can't debug the build process. We're using docker_image inside our CI pipelines, and not having build output is a non-trivial issue.

About a possible solution: my first guess was to just send th

[2016-10-05 18:11] rogerscuall commented on #4635
Is there anything else you need from me?

[2016-10-05 18:21] dvershinin commented on #5150
+1. I experience the same issue. The cron removal fails, unless "job" is specified.

[2016-10-05 18:28] gundalow commented on #4635
@rogerscuall I don't believe so, this is still on the list for fixing for 2.2

[2016-10-05 18:30] rogerscuall commented on #4635
Ok, I'm sorry I received a notification this morning from ansibot that this
issue was waiting for mine response.

On Wed, Oct 5, 2016 at 2:28 PM, John R Barker notifications@github.com
wrote:

[2016-10-05 18:40] bcoca commented on #5161
There is a built in log method into AnsibleModule.

[2016-10-05 18:52] Canta commented on #5161
That may be the case indeed, but i see `ImageManager` inherits from `DockerBaseClass`:
https://github.com/ansible/ansible-modules-core/blob/devel/cloud/docker/docker_image.py#L256

And `DockerBaseClass`, which inherits from `object`, has a placeholder `log` method:
https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/docker_common.py#L108

If i understand it right, then what's ha

[2016-10-05 18:52] bcoca commented on #5166
This is not an error as a role is valid even if no tasks/main.yml or an empty one is supplied, this is useful as a role can still provide variables, handlers, templates/, files/ or even other roles.

[2016-10-05 18:54] bcoca commented on #5166
I am thinking this should at least be a warning when `tasks_from` is not `main`.

[2016-10-05 19:08] bcoca commented on #5161
several things there need cleanup

[2016-10-05 19:32] EvanK commented on #5150
This will be resolved_by_pr #5151 (currently marked for inclusion but not yet merged)

[2016-10-05 19:42] bcoca commented on #5163
You are incorrectly assuming you can pass a list to groups, when the description clearly asks for a 'comma delimited string'.

This is not a bug, but reclassifying as feature request as it should easily be able to accept an actual list as input also.

[2016-10-05 20:21] diego-treitos commented on #5163
Thanks for the clarification. You are right, I should be passing a comma-separated list instead of a YAML list, which feels a bit counterintuitive.

However, changing now this behaviour would probably cause a lot of trouble to people using the already stablished syntax (after all it is a pretty basic feature) so surely it should be left as it is now.

[2016-10-05 20:43] chouseknecht commented on #5161
Yes, and that log method simply writes to a file. It's not what you're after. And, in the context of running the module on a remote node, the log file would end up on the remote node, which is also not desirable. The log methods you see in docker_common are just hacks for quick troubleshooting.

[2016-10-05 20:45] chouseknecht commented on #5161
For a more in-depth look at why getting real-time output from Ansible is challenging see https://github.com/ansible/ansible/issues/3887

[2016-10-05 21:40] #4613 closed, assigned to abadger

[2016-10-05 21:48] abadger commented on #4613
Figured out why six isn't being installed.  Upstream dopy-0.3.7 does not specify six as a dependency.  dopy appears to have released 0.3.7a as a fix for that.  However, pip thinks that 0.3.7a is an alpha of 0.3.7 rather than a postrelease.  pip doesn't install prereleases by default so it grabs 0.3.7 instead of 0.3.7a....  The real fix will be for dopy upstream to release a 0.3.8.  I'll put in a t

[2016-10-05 22:03] abadger commented on #4613
Better error message is now in devel and stable-2.2 branches.

[2016-10-05 22:08] davidpanofsky commented on #1912
We were able to work around this by setting the TEMP environment variable to a directory which can be written to by the user.  You may also need to add TEMP to your sudo env_keep list.

[2016-10-05 22:37] stepanstipl commented on #5166
@bcoca Thanks, I would definitely expect an error when tasks_from is not main and references file that does not exist (as something that user intended is not happening), in case of non-existing main - maybe a warning for the reasons you mentioned?

[2016-10-06 00:34] morgajel commented on #4660
I just wanted to mention this (or something similar) bit me as well on a fresh install of Centos-7 via vagrant; it strikes me as weird that /bin/tar wouldn't be caught in root's path.

[2016-10-06 01:28] bcoca commented on #5163
No, changing the spec to require a list will work with both transparently.

[2016-10-06 02:18] jctanner commented on #4974
!needs_info

[2016-10-06 02:22] jctanner commented on #4966
!needs_info

[2016-10-06 02:24] jctanner commented on #4636
!needs_info

[2016-10-06 02:34] #4232 closed, assigned to nobody

[2016-10-06 02:40] harneksidhu commented on #4219
I should have a module submitted by Monday

[2016-10-06 02:47] hartzell commented on #4119
@jctanner -- are we waiting on me somehow, or ???

[2016-10-06 02:50] zfil commented on #4802
Use all the new docker_\* modules.

Personally I like docker_service as is takes docker compose file et don't require docker-py to be deployed

[2016-10-06 05:28] EvanK commented on #4312
This would be fixed by #4488, _but that really shouldn't be merged before_ #4330, as the former PR would break existing workarounds for the bug that the latter PR addresses.

[2016-10-06 06:26] lazize commented on #5091
Facing the same problem here.

**Task:**

[code]

**Output:**

[code]

**Version:**

[code]

[2016-10-06 07:46] pvlltvk commented on #3056
If i deploy new VM from template in vSphere Web Client i can:
- set name for VM;
- select datacenter and VM folder;
- select cluster and host;
- select disk format;
- select storage for configuration files and disk;
- customize hardware.

So, I want to be able to set all this options in  vsphere_guest module when i deploy vm from template.

[2016-10-06 08:23] relvira opened #5171 "docker_container module - "Error connecting container to network""
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

OSX 10.10.5 (Yosemite) and OSX Sierra
##### SUMMARY

When trying to create docker containers from an ansible playbook and adding them to a docker network previously created from another playbook to give this container a static IP address I'm getting

[2016-10-06 09:59] amz opened #5172 "azure_rm_networkinterface cannot create interface if virtual network is in different resource group"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

azure_rm_networkinterface module
##### ANSIBLE VERSION

ansible 2.1.2.0
  config file = /home/amz/ansible/ansible.cfg
  configured module search path = Default w/o overrides
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Cannot create network interface to connect to virtual network in other resource group.
##### STEPS TO REPRODUCE

[2016-10-06 10:25] diego-treitos commented on #5163
Sorry but I dont get you here. I was already specifying a list and it was not working.
Even applying my PR, it wouldnt be fully transparent as if somebody specify a comma-separated list starting or ending with `'` or `"` (which are not valid characters for groups) these would be removed by the code I posted when it should crash.
In other words, with the code in the PR, if you use  `groups=test',te

[2016-10-06 10:32] simon-sinx17 opened #5173 "Ansible setup fails to read gather_subset from ansible.cfg"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

setup
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

run1 - cfg/gather_subset=all
run2 - cfg/gather_subset=network
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Changing gather_subset from 'all' to any options documented in module
documentation has no effect.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

output-run1 != output-run2
#

[2016-10-06 11:23] achak01 opened #5174 "yum install through ansible"
##### ISSUE TYPE

- Bug Report
- Feature Idea
- Documentation Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-10-06 11:36] mysysadmin-ltd opened #5175 "ec2_asg sets desired_capacity=0 when min_size=0 - terminates existing instances"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ec2_asg
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

AmazonLinux
4.4.19-29.55.amzn1.x86_64
amzn-ami-hvm-2016.03.0.x86_64-gp2 (ami-31328842)
##### SUMMARY

Setting min_size to zero also sets desired_capacity to zero
##### STEPS TO REPRODUCE

Playbook creates ASG with the following values:

[code]
##### EXPECTED RESULT

[2016-10-06 11:37] mysysadmin-ltd commented on #5175
Need to set min_size=0 to be able to put instances into "standby mode" when there is only one instance.

[2016-10-06 12:11] StevendeVries commented on #5150
As stated: This will be resolved_by_pr #5151

[2016-10-06 12:11] #5150 closed, assigned to nobody

[2016-10-06 12:40] dagwieers commented on #4660
@morgajel I'd like to get more information regarding this as well.

Was PATH empty ? If so we could test if PATH is empty, **emit a warning** to the user and stuff it with some safe defaults. If not, there's little we can do I presume, but why is PATH not including _/bin_ ? Questions we need answers to...

[2016-10-06 12:55] parberge commented on #4520
Also affected by this bug.

EDIT:  If someone wonders how to workaround this, this is how I solved it:

[code]

Then use auth paramter with os_user:

[code]

[2016-10-06 13:40] Canta commented on #5161
@chouseknecht
Thanks to your comments i understand now that those `log` call are there for another purpose. You are correct. But i don't understand why would be undesirable to have a task's stdout/stderr in the process log, as i find it to be a very basic feature.

Again, the problem is NOT getting real-time logging. The problem here is that `ansible_image` does not give build process output of an

[2016-10-06 14:15] jean-christophe-manciot commented on #4098
I've changed the module call **from ios_command to ios_config** and... the exception remains with a few differences; for instance, with ansible **2.2.0.0-0.1.rc1**:

[code]

I get:

[code]

The same CLI configuration has no issue:

[code]

With latest ansible from **devel branch commit 20161005.0a86ddc**, I cannot even contact the device even though I can manually ssh into it:

[code]

[code]

[2016-10-06 14:25] wvidana commented on #4034
https://github.com/ansible/ansible-modules-core/pull/4038 This PR solves this specific issue, but more features needs to be implemented... I was waiting for a merge before writing more code, but it is taking long.

[2016-10-06 14:45] DevManChris opened #5177 "gem - a change in user_install doesn't get picked up as a change"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

gem:
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Mac OS X --> Ubuntu 14.04 LTS
##### SUMMARY

You'll only get one change, you should get two changes, take a peek at gem show blah -d.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

($> vagrant provision)
($> vagrant ssh)
($> bundler --help and gives back t

[2016-10-06 14:52] DevManChris commented on #5177
Updated the verbiage and issues to conform to issue template.  As copied from https://github.com/ansible/ansible/issues/7381, I accidentally left in I would submit a PR.  I won't.

[2016-10-06 14:54] mazzystr opened #5178 "S3 module not honoring tags parameter"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

s3
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

OSX Sierra 10.12
Python 2.7.10 (default, Jul 30 2016, 18:31:42)
[GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.34)] on darwin
##### SUMMARY

S3 module not honoring tags parameter
##### STEPS TO REPRODUCE

[code]

[code]
##### EXPECTED RESULTS

I expect an AW

[2016-10-06 15:04] mazzystr commented on #5178
Deeerpdy derp!  I should be using s3_bucket module.

I'm closing this bug

[2016-10-06 15:04] #5178 closed, assigned to nobody

[2016-10-06 15:14] juliakreger commented on #3981
It appears that the issue may be rooted in keystoneauth, however further investigation is required.

[2016-10-06 15:14] jpmens commented on #2966
needs_contributor

[2016-10-06 15:15] #2901 closed, assigned to nobody

[2016-10-06 15:20] MichaelRiss commented on #2966
Is the last comment directed to me? Or is it a directive to ansibot?
If it's to me, I created this pull request above https://github.com/ansible/ansible/issues/17312. If you need more from me, please specify.

[2016-10-06 15:27] jpmens commented on #2966
@MichaelRiss I was talking to ansibot actually..

I missed your PR. Untested, but it looks good to me. I am deleting prev comment and adding new one for ansibot.

[2016-10-06 15:28] jpmens commented on #2966
resolved_by_pr 17312

[2016-10-06 15:41] #3205 closed, assigned to nobody

[2016-10-06 15:42] #2742 closed, assigned to nobody

[2016-10-06 15:43] #2614 closed, assigned to nobody

[2016-10-06 15:46] juliakreger commented on #3981
We are going to need a little more information, specifically the versions of the various openstack client libraries as well as shade, os-client-config, keystoneauth.  This can be retrieved by executing `pip list`.  This information is needed in order to trace down the issue since multiple libraries are involved.

needs_info

[2016-10-06 15:50] #2176 closed, assigned to nobody

[2016-10-06 15:50] #2092 closed, assigned to nobody

[2016-10-06 15:50] #1935 closed, assigned to nobody

[2016-10-06 15:50] #1933 closed, assigned to nobody

[2016-10-06 15:56] bcoca commented on #5163
Instead of explaining, I just created PR above, have not tested yet but it should work with both inputs (this is built into the 'list' type).

[2016-10-06 15:56] #1688 closed, assigned to nobody

[2016-10-06 15:56] #1641 closed, assigned to nobody

[2016-10-06 15:56] #1586 closed, assigned to nobody

[2016-10-06 16:01] EvanK commented on #2316
This should be resolved_by_pr #4330 (marked for inclusion but not yet merged)

[2016-10-06 16:02] #1428 closed, assigned to nobody

[2016-10-06 16:02] #1397 closed, assigned to nobody

[2016-10-06 16:02] #1338 closed, assigned to nobody

[2016-10-06 16:02] #1336 closed, assigned to nobody

[2016-10-06 16:02] #1209 closed, assigned to nobody

[2016-10-06 16:03] bcoca commented on #5173
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The gather_subset entry only applies to fact gathering performed by plays, not when you invoke the `setup` module directly, which has it's own `gather_subset`

[2016-10-06 16:03] #5173 closed, assigned to nobody

[2016-10-06 16:05] ferrants commented on #1845
What does @ansibot do if it gets ignored forever?

[2016-10-06 16:07] #1146 closed, assigned to nobody

[2016-10-06 16:08] #1074 closed, assigned to nobody

[2016-10-06 16:08] #1008 closed, assigned to nobody

[2016-10-06 16:08] #984 closed, assigned to nobody

[2016-10-06 16:08] #935 closed, assigned to nobody

[2016-10-06 16:08] #906 closed, assigned to nobody

[2016-10-06 16:08] #792 closed, assigned to nobody

[2016-10-06 16:11] wied03 commented on #984
I think this issue affects the newer module (docker_container) as well. Last I checked, you could not drop capabilities with that, only add them.

[2016-10-06 16:27] jctanner commented on #1845
@ferrants nothing at the moment.

[2016-10-06 16:39] pixelrebel commented on #2645
@jimi-c @robinro

I see a `2.2` label here.  Is this going to make it in 2.2?  The PR https://github.com/ansible/ansible-modules-core/pull/2654 has been open for almost a year.

[2016-10-06 16:50] #216 closed, assigned to nobody

[2016-10-06 17:17] transamfire85 commented on #610
I had the wrong region.

[2016-10-06 17:30] omgjlk commented on #4108
Are you using nova-network or neutron? The behavior can be different.

[2016-10-06 17:35] diego-treitos commented on #5163
I see. Checking the code I see what you mean. So forcing the type to 'list', the comma separated string will be converted to list. Nice. Good to know for the next time I need to play with the ansible code.

Thanks for your help and explanations!

[2016-10-06 18:19] jean-christophe-manciot opened #5181 "Each ios_config command opens a new SSH session without closing it when it's done"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ios_config
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

inventory   = ./hosts
gathering = explicit
roles_path = /home/actionmystique/Program-Files/Ubuntu/Ansible/git-Ansible/roles
private_role_vars = yes
log_path = /var/log/ansible.log
fact_caching = redis
fact_caching_timeout = 86400
retry_files_enabled = False
##### OS / ENVIRONMENT
- hos

[2016-10-06 18:28] timlnx commented on #1449
Nope, sorry @ansibot, this is still waiting on response from reporter.

[2016-10-06 20:58] bdowling commented on #377
fwiw, old closed issue..  I agree this wasn't an ansible issue, but for anyone that hit this on a crazy old box..  python is triggering the kernel panic related to:

https://lists.linuxfoundation.org/pipermail/containers/2008-August/012443.html

Just because linux boxen can keep "running" for years doesn't mean you should!

Disabling ipv6 does prevent this.

[code]

[2016-10-06 21:07] jctanner commented on #4915
@grossws what's broken?

[2016-10-06 21:34] Kevinleaf commented on #2656
+1 for me

[2016-10-06 21:45] grossws commented on #4915
@jctanner, it seemed to be broken to me but it's because I thought it pinged me again. Just overlooked that last message in mail notifications thread pinged `@ansible` instead of me because both messages were near.

Sorry for false alarm.

[2016-10-06 23:56] hnakamur commented on #3360
@CarelessChaser Could you test this again on a Gentoo Linux node with systemd with Ansible master which includes #4382? Thanks!

[2016-10-06 23:57] hnakamur commented on #3137
@jb11211 Could you provide the information mentioned in https://github.com/ansible/ansible-modules-core/issues/3137#issuecomment-239635725? Thanks!

[2016-10-07 00:01] jctanner commented on #3831
Apologies for the constant churn by the bot. I'm working on implementing a workflow to handle this issue.

[2016-10-07 00:27] jctanner commented on #3111
bot_skip

[2016-10-07 00:52] jctanner commented on #2374
bot_skip

[2016-10-07 00:56] jctanner commented on #4915
@grossws no worries, thanks for wading through the mountain of emails I'm sure you get.

[2016-10-07 01:24] morgajel commented on #4660
I've since worked around it by using command; what flags/data would be helpful?

[2016-10-07 07:07] dminca commented on #4613
I've installed the required dependency via `pip install six` and still getting the same error.

[2016-10-07 07:17] parberge opened #5182 "Openstack/os_user missing description parameter"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

os_user.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

When creating users in Openstack it's possible to enter a description for the user.
The module `os_user` is missing this option.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-10-07 08:12] photoninger commented on #3167
ansible 2.1.2.0 and rhn_register with only activationkey and server_url against spacewalk-2.5 is working fine now.
Tested on RHEL-6, RHEL-7, SLES-11.4 and SLES-12.1.
Edit: I used the following command for my tests:
`
ansible my_server  -m rhn_register -u root -a 'server_url="http://my_spacewalkserver/XMLRPC" activationkey="my_key" state=present'
`

[2016-10-07 08:26] parberge opened #5183 "Openstack/os_user always reports "changed""
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

os_user.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7 with Openstack Mitaka release
##### SUMMARY

os_user will always report `changed` even though it didn't change anything
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect to get `ok` result when running repeatedly without changing anyth

[2016-10-07 08:32] gundalow commented on #5181
Thank you for the bug report and detailed analysis.

We will review this after AnsibleFest, and get back to you.

[2016-10-07 08:34] robodenitro opened #5184 "docker_container module doesn't accept value "all" for parameter "ports""
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 14.04 x64
##### SUMMARY

Docker_container module doesn't accept value `all` for parameter `ports`
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

container is created and running, all exposed ports are mapped to random on the host. That's

[2016-10-07 08:42] gundalow commented on #4223
Hi,
We've released Ansible 2.2 RC1 which contains a fix for this (and various other Networking issues) could you please retest and confirm?

If we don't hear anything back the Bot will assume all is well and close this ticket shortly.

[2016-10-07 09:26] simon-sinx17 commented on #5173
@bcoca
a) The gather_subset entry only applies to fact gathering performed by plays, not when you invoke the setup module directly, which has it's own gather_subset option.

Would you like to direct me to documentation regarding ? Or shall we consider this as a new ticket ?

b) if ansible --version is stating the config file, ansible -m setup is ignoring a config directive named gather_subset

eit

[2016-10-07 10:20] lmilbaum opened #5186 "S3 - Source bucket cannot be found"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

s3
##### ANSIBLE VERSION

ansible 2.2.0
##### CONFIGURATION
##### OS / ENVIRONMENT

OSX 10.12
##### SUMMARY

Getting an object from s3 bucket. The bucket exists. Works for two other buckets.
##### STEPS TO REPRODUCE
- name: download sb packages from <bucket name>
  s3:
    bucket: <bucket name>
    object: /{{ item }}
    dest: /var/tmp/{{ item }

[2016-10-07 11:57] oupala commented on #921
Thanks all for the workarounds.

But still looking for a real solution, such a "flushing the connection" automatically when modifying group membership.

[2016-10-07 12:07] bborysenko opened #5187 "Add timeout option to gce module"
##### ISSUE TYPE: Feature Idea
##### COMPONENT NAME: `cloud/gce.py`
##### SUMMARY:

Add possibility to override default libcloud timeout and get rid of such errors:

[code]

[2016-10-07 12:23] parberge opened #5188 "Openstack/os_router fails with "interfaces" option"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

os_router.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS7 with Openstack Mitaka release
##### SUMMARY

Getting a fatal error when using the paramter `interfaces`
##### STEPS TO REPRODUCE

1. First setup a subnet for the project TEST called `Private Subnet`.
2. Define following vars for authentication

[code]

[2016-10-07 12:54] GGabriele commented on #5041
I asked about your module version because the error message says the error is caused by `protocol=protocol` at line `139`...but the current module doesn't have that line.

Can you please try to explicitly specify the module location using `-M <path_to_module>` into your playbook run?

[2016-10-07 13:07] lmilbaum commented on #5186
OK. Found the root cause. The instance role didn't include permissions to download from this bucket. A more accurate error could be helpful.

[2016-10-07 13:07] #5186 closed, assigned to nobody

[2016-10-07 14:33] phil-dileo opened #5190 "Fix minor typos in modules"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

ios_template

The ios_template module has the following text:

[code]

I'm guessing this wasn't an attempt to sell more Arista switches :-)

[2016-10-07 15:05] gundalow commented on #5190
I believe this has already been fixed by https://github.com/ansible/ansible-modules-core/commit/149f10f8b7f0dfe669b3c5ef26c2f4107f589e61

[2016-10-07 15:05] gundalow commented on #5190
And was caused by me copying and pasting.

[2016-10-07 15:34] #1431 closed, assigned to nobody

[2016-10-07 16:37] gundalow opened #5191 "pn_vlan.py parameter parsing error"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

pn_vlan
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

https://github.com/ansible/ansible-modules-core/blob/devel/network/netvisor/pn_vlan.py#L225

contains

[code]

which gives a NameError exception
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS
##### ACTUAL RESULTS

[2016-10-07 16:38] gundalow commented on #5191
@amitsi Could you please take a look at this, thanks

[2016-10-07 22:04] basictheprogram opened #5196 "gce_pd: libcloud with GCE support (0.17.0+) is required for this module"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

gce_pd
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

Control host OS X 10.11.6
##### SUMMARY

Attempting to use the  gce_pd module and getting an error message that my installed libcloud is too old.
##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

A "{{ size_gb }}" size disk would be added to my GCE vi

[2016-10-07 22:21] ghost commented on #4743
Also having this issue with ansible 2.2.0.0

[2016-10-08 00:25] ghost commented on #4420
I have experienced a similar issue, and removing the "build-dep" resolved it. Ansible version 2.1.1.0.

[2016-10-08 01:44] basictheprogram commented on #5196
Little debugging shows me the problem is in gce_pd.py and there's an ImportError

[code]

No module named libcloud.compute.types

Not sure how modules work. Seems like they ignore PYTHONPATH?

Evoc of python from the command line and PYTHONPATH as set by source hacking/env-setup can find the modules.

[code]

[2016-10-08 08:09] haroldTlan opened #5198 "tmp files still being"
ISSUE TYPE
 •BUG

ANSIBLE VERSION
 version: 2.3.0

CONFIGURATION
 python2.7

OS / ENVIRONMENT
 Linux Ubuntu

SUMMARY

I post my questions in groups and it is still no solutions to fix it.
https://groups.google.com/forum/#!topic/ansible-project/PzmELqzydbY
https://groups.google.com/forum/#!topic/ansible-devel/TW4GsR-hTtQ

I did not know what should I do

install Ubuntu 13.1

then

`apt-get install

[2016-10-08 08:11] dminca commented on #1178
:boom: Issue still present in `ansible 2.1.2.0` :bug:

[code]

outputs

[code]

### Conclusion

in my case, the problem was **the order** of package installation: it should first install A-core, B-base ... and then proceed with rest of packages.
I don't know whether some _hacks_ could be made to instruct `apt` to install element 3, 6 and 8 from a [list](https://docs.python.org/2/glossary.html#term

[2016-10-08 09:27] freeseacher commented on #4490
i hit the same trouble.
while trying to automate the the same system :)

[2016-10-08 11:47] pmarques commented on #4219
Hi guys, I'm think I'm a bit late, I wrote a library inside my playbooks because I needed to manage the Floating IPs. I started it some time ago and I only use the internal ansible modules, ansible fetch_url.
I made it a separated "role" just to open to the community, [https://github.com/pmarques/ansible-digitalocean](https://github.com/pmarques/ansible-digitalocean). So, let me know our thoughts

[2016-10-08 12:09] #3600 closed, assigned to nobody

[2016-10-08 15:11] bcoca commented on #5198
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible-devel on irc.freenode.net
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-devel
- mailing list: h

[2016-10-08 15:11] #5198 closed, assigned to nobody

[2016-10-08 15:23] supertom commented on #5196
Hi @basictheprogram

You're right, looks like it can't find libcloud.  I assume it is installed in site-package?

If you run `source ../ansible/hacking/env-setup`, it should append the ansible location your PYTHONPATH, but that's it.

What are the contents of your PYTHONPATH?

Do you happen to be running in a virtualenv that doesn't have site-packages, by chance?  Either way, try explicitly settin

[2016-10-08 16:51] kustodian commented on #2914
@bcoca maybe I could start a short discussion about this on IRC, so that others could give a suggestion about it. The idea behind this suggestion is that if you want to modify some file only if it exists (with whatever module). we shouldn't need to have two tasks (one with the `stat` module, and second with the actual task). I find it happening a lot and it's very repetitive to use stat just becau

[2016-10-08 19:33] simon-sinx17 opened #5204 "include_vars - Unexpected failure during module execution"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

include_vars
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

include_vars - unexpected failure
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2016-10-08 19:45] ghost commented on #4814
I don't understand ansibot. What response is it waiting on?

edit: removed bot broken command -jctanner

[2016-10-08 20:49] simon-sinx17 opened #5205 "include_vars - directory inconsistency"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

include_vars
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Inconsistent directory handling by include_vars module
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

consistency
##### ACTUAL RESULTS

[code]

[2016-10-08 22:24] jeffwidman opened #5206 "Docs on template module jinja2 vars `template_path` vs `template_fullpath` are confusing"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

Template module
##### ANSIBLE VERSION

Ansible 2.2
##### SUMMARY

The explanation of `template_path` vs `template_fullpath` are confusing (https://github.com/ansible/ansible-modules-core/blob/devel/files/template.py#L32-L34):

It's not clear if both variables are the same, or if one is a relative path and one a full path. Plus the wordi

[2016-10-09 00:42] haroldTlan commented on #5198
I post my questions in there ,but no one help me!!!!
https://groups.google.com/forum/#!topic/ansible-project/PzmELqzydbY
https://groups.google.com/forum/#!topic/ansible-devel/TW4GsR-hTtQ

https://groups.google.com/forum/#!topic/ansible-project/e1m7hP2INuI
@bcoca

[2016-10-09 00:52] jctanner commented on #4814
@spoved the fetch module is maintained by the ansible core team. The bot was pinging them to let them know they needed to respond to your ticket.

[2016-10-09 00:55] jctanner commented on #4814
@spoved the error message is explained in https://github.com/ansible/ansible-modules-core/issues/4033

Closing this as a duplicate.

[2016-10-09 00:55] #4814 closed, assigned to nobody

[2016-10-09 01:21] jctanner commented on #5174
@achak01 I can not reproduce the error ...

[code]

I suspect something is misconfigured with yum on the host or perhaps a proxy is preventing a good download of the rpm.

Please check installing the file directly with yum ...

[code]

needs_info

[2016-10-09 03:39] alexfeig commented on #2116
I'll add that this would be helpful. There are cases where a disk already exists and just needs to be attached. My workaround will probably involve creating a small disk, deleting it, and then editing the vmx file using command.

[2016-10-09 11:13] mscherer commented on #4981
So I found a possible solution, but I think that's not the right fix, and something is wrong on the ansible engine side. The code return "failed = True", but something somewhere (likely in lib/ansible/executor/task_executor.py ) is not properly dealing with that. I am trying to look at that.

[2016-10-09 11:23] mscherer commented on #4981
So this patch:

[code]

also seems to work. So I wonder if that's not just the display that is messed up.

[2016-10-09 11:49] mscherer commented on #4981
Ok so the issue is in https://github.com/ansible/ansible/blob/devel/lib/ansible/executor/task_result.py

When trying to decide to display if something is failed or not ( around https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/strategy/__init__.py#L305 ), it verify if the task is failed or not, and the problem lies in _check_key.

If there is any results, then the check_key check t

[2016-10-09 11:52] mscherer commented on #4981
Which lead me to https://github.com/ansible/ansible-modules-core/issues/4214

[2016-10-09 11:54] mscherer commented on #4981
So there is already a few bugs open for this, and I would recommend people to subscribe to #4617, and I am closing this bug since that's a duplicate.

[2016-10-09 11:54] #4981 closed, assigned to nobody

[2016-10-09 11:59] shay-li commented on #4029
+1 to fix this issue

[2016-10-09 13:04] 13am commented on #4894
I see the same exact error.

Control machine:
Fedora release 23 (Twenty Three)
ansible 2.1.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

Remote node:
Ubuntu Xenial (16.04 LTS) (GNU/Linux 4.5.7-std-3 x86_64 )

[2016-10-09 13:11] thmshmm commented on #4852
Did you try?

`$ git submodule update`

[2016-10-09 15:04] gtinjr commented on #5085
@chouseknecht Both your examples worked, I must had the parameters populated incorrectly.  Thanks for your help I really appreciated.

[2016-10-09 15:04] #5085 closed, assigned to nobody

[2016-10-09 19:15] phemmer commented on #4864
See https://github.com/ansible/ansible/issues/16134

[2016-10-10 05:10] bcoca commented on #2914
i would say that the new include_role will fill in this need as you can create a role that does both tasks and you just pass the data. I'm against modules doing the job of other modules, they end up with duplicate code and not the complete functionality (see url use in unarchive and others as example).

lookups execute on the 'controller', you can already check if a file exists, but this is irrele

[2016-10-10 05:16] bcoca commented on #5204
default is incorrect, it is passing a dictionary, it should be a string (still the code should not fail this way).
what is the value of 'vars_file'?

Just a note, it is a bad idea to use variable names that are the same as directives.

[2016-10-10 07:42] stefanandres commented on #4108
Neutron

[2016-10-10 08:24] destitutus commented on #4857
+1  for adding support for amazon application load balancer + target groups support

[2016-10-10 08:38] rcarrillocruz commented on #5183
happy to take this one

[2016-10-10 08:38] rcarrillocruz commented on #5182
happy to take this one

[2016-10-10 08:45] prupert commented on #4864
@phemmer, although related, this is another bug.

[2016-10-10 09:37] wimnat commented on #1221
This module exists now in extras https://docs.ansible.com/ansible/sqs_queue_module.html

close_me

[2016-10-10 09:39] wimnat commented on #1308
@bot_broken this can be closed using tags above

[2016-10-10 10:07] gerva commented on #3167
The error reported by @EricVS is about using --activationkey instead of --username and --password.
If I understood correctly, Eric's error is caused by, calling this module passing only the activation key (which is a valid option).
In other words, when @EricVS calls this module, he ends up something as `register_cmd = ['/usr/sbin/rhnreg_ks', '--username', None, '--password', None, '--force', '--ac

[2016-10-10 10:23] naslanidis commented on #4857
I'm keen to get support for ALB as well. I'm happy to write a new module or potentially look to contribute to adding the features in the existing modules. I will be looking at it this week.

[2016-10-10 10:29] seb1281 commented on #4711
bot_broken

I don't know which information the bot needs. So could you please explain to me what else I need to provide? Thank you!

Regards

Sebastian

[2016-10-10 10:30] EricVS commented on #3167
@gerva: that is correct. I haven't tested in the latest version of Ansible yet. I'll verify as soon as possible and report back.

[2016-10-10 10:32] rcarrillocruz commented on #5182
This requires a change on the shade library:

https://review.openstack.org/#/c/384404/

Once this merges, I'll prepare a patch for Ansible os_user.

[2016-10-10 10:37] parberge commented on #5182
👍

[2016-10-10 12:49] lukasged opened #5209 "os_server module problem with floating_ips and multiple subnets"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

os_server
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

host_key_checking = False
force_color = 1
scp_if_ssh = True

and also set the vault_password_file and inventory args
##### OS / ENVIRONMENT

I'm both running and managing a RedHat 7.2
##### SUMMARY

I'm creating instances on OpenStack with the ansible module os_server. I have the floa

[2016-10-10 13:15] candlerb opened #5210 "Users of ios_template should be directed to ios_config not eos_config"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

ios_template
##### ANSIBLE VERSION

N/A
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

At https://docs.ansible.com/ansible/ios_template_module.html it says

"Deprecated in 2.2. Use eos_config instead"

It should say "Use ios_config instead"
##### STEPS TO REPRODUCE
##### EXPECTED RESULTS
##### ACTUAL RESULTS

[2016-10-10 13:16] techraf opened #5211 "'azure_rm_subnet' with 'state: absent' fails when subnet was already not existing"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

azure_rm_subnet
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

Debian Jessie
##### SUMMARY

`azure_rm_subnet` requires the parameter `virtual_network_name` to be provided, otherwise:

[code]

**But** running the module with `state: absent` fails when the virtual network specified in `virtual_network_name` is non-existen

[2016-10-10 13:26] rcarrillocruz commented on #5183
Can you please comment out the 'password' line from your playbook and run it?

Let me know if you still get 'changed' status.

I've seen a couple bugs, but in the case of passing a playbook with password param we have no way to figure out if the password was changed at all, thus the Ansible code just assumes the state changed.

[2016-10-10 13:33] parberge commented on #5183
@rcarrillocruz Unfortunately this is not possible with state 'present'.

[code]

[2016-10-10 13:41] omgjlk commented on #5183
So this is on purpose. The OpenStack API does not return a password for the user, so when doing a create/update action and the password is passed along we have to assume a change. The OpenStack API does not provide us feedback as to whether the password was updated or not.

https://github.com/ansible/ansible-modules-core/blob/devel/cloud/openstack/os_user.py#L129-L132

notabug

[2016-10-10 13:41] rcarrillocruz commented on #5183
Try running the first time with password, the second one without it.

[2016-10-10 13:42] omgjlk commented on #5183
Password only very recently became optional: https://github.com/ansible/ansible-modules-core/pull/4574

[2016-10-10 13:45] simon-sinx17 commented on #5204
@bcoca

1) variable name has been changed from original value, I'll avoid clashes in future when reporting issues
2) value of  vars_file was undefined ( no value has been passed in from calling playbook ), triggering the default clause
3) for clarification, the traceback provided is for default({}), in case of default([]) the
AttributeError: 'list' object has no attribute 'startswith' is printed.

[2016-10-10 13:45] #1221 closed, assigned to nobody

[2016-10-10 13:50] #5183 closed, assigned to nobody

[2016-10-10 13:58] parberge commented on #5183
Maybe add the option similiar to the one found in user module `update_password`?
Otherwise it will never be repeatable without saying `changed` even though it didn't change anything.. which can be confusing and maybe run handlers that's not necessary etc

[2016-10-10 14:02] omgjlk commented on #5183
I could see usefulness for an `update_password` option, with `on_create` and`always`. Feel free to toss a PR up for that, or at least a RFE ticket (refer to this one, but please don't re-open this one).

[2016-10-10 14:07] nsteinmetz commented on #5073
Hi @jtyr

I can confirm it's nfs V4

I have the same bug when changing an option in the options. Could the bug be raised when the workflow is broken like:

[code]

From what I can see:
- `/mnt/sites/www.company.tld` is still mounted with old options

[code]
- `/etc/fstab` has the updated values:

[code]

On frontal1, I unmount and remount nfs share. On 2nd one, I did nothing.  The 2nd time I run t

[2016-10-10 15:42] davidak commented on #593
I also get this error on IPFire (latest version).

It uses sysV init.

@bcoca can i set it manually for that task/host?

[2016-10-10 15:51] bcoca commented on #593
@davidak, the new service plugin takes a `use=` option for overrides, but currently it only makes sense with systemd (need to push out more individual plugins to enable those options).

[2016-10-10 17:36] jean-christophe-manciot opened #5214 "Exception when using nxos_snmp_community"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

nxos_snmp_community
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

inventory   = ./hosts
gathering = explicit
roles_path = /home/actionmystique/Program-Files/Ubuntu/Ansible/Roles/roles
private_role_vars = yes
log_path = /var/log/ansible.log
fact_caching = redis
fact_caching_timeout = 86400
retry_files_enabled = False
##### OS / ENVIRONMENT
-

[2016-10-10 17:42] jean-christophe-manciot commented on #5214
No issue configuring the same community through nxos_config:

[code]

leading to:

[code]

[2016-10-10 18:08] jean-christophe-manciot opened #5215 "Timeout: Cannot save running-config with nxos_command or save: yes in nxos_config"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

nxos_command
nxos_config
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

inventory   = ./hosts
gathering = explicit
roles_path = /home/actionmystique/Program-Files/Ubuntu/Ansible/Roles/roles
private_role_vars = yes
log_path = /var/log/ansible.log
fact_caching = redis
fact_caching_timeout = 86400
retry_files_enabled = False
##### OS / ENVIRONME

[2016-10-10 18:15] jean-christophe-manciot commented on #5215
Using `save: yes` in `nxos_config` leads to no error during execution, but afterwards:

[code]

[2016-10-10 18:23] harneksidhu commented on #4219
@pmarques Can you rename the module using a do_\* prefix and submit a PR? An example would be do_floating_ip or something similar. We will be renaming the modules using the prefixes. We can review the code together once you submitted it the PR.

[2016-10-10 18:35] jean-christophe-manciot opened #5216 ""Unsupported parameter for module: type" although it is defined in the documentation and is necessary"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

nxos_snmp_host
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

inventory   = ./hosts
gathering = explicit
roles_path = /home/actionmystique/Program-Files/Ubuntu/Ansible/Roles/roles
private_role_vars = yes
log_path = /var/log/ansible.log
fact_caching = redis
fact_caching_timeout = 86400
retry_files_enabled = False
##### OS / ENVIRONMENT
- host:

[2016-10-10 18:37] GGabriele commented on #5214
Hey @jean-christophe-manciot , can you please test this on a physical 5K/7K? This work on 9K, but it seems NXOSv doesn't support structured data for `show snmp community`.  We can work on a longer term fix to support NXOSv, but all testing and bugs need to be done against physical devices.

[2016-10-10 18:45] parberge opened #5217 "Add update_password option to os_user module"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

os_user
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

The `os_user` module with a password specified for a user will always report 'changed'.
The conclusion of the bug report in #5183 was that in order to "fix" this we need to add another parameter like the on in the `user` module.
I.e a paramete

[2016-10-10 18:49] jean-christophe-manciot commented on #5214
Hello, @GGabriele you can consider NX-OSv equivalent to 7k as far as most non ASIC-dependant features are concerned.
Also, if you dismiss all virtual appliances, you'll soon be facing a wall: I'm sure NFV rings a bell.

[2016-10-10 19:05] jean-christophe-manciot commented on #5214
It's very easy to get one NX-OSv for yourself through [VIRL](http://virl.cisco.com/getvirl/) so you can conduct your own tests. You'll also get all other Cisco's virtual appliances.

[2016-10-10 19:05] GGabriele commented on #5216
This is an uncaught error on the DOSTRING. Pushed #5218 to fix it. You'll want to use `snmp_type`.

[2016-10-10 20:36] nastrofaction commented on #2368
+1

[2016-10-10 20:54] jamesongithub opened #5220 "s3 module is not idempotent for bucket creation (fails when bucket already exists)"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

s3
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

s3 bucket creation fails when bucket already exists
##### STEPS TO REPRODUCE

1. create bucket with s3 module
2. attempt to create same bucket with s3 module

[code]

##### EXPECTED RESULTS

Bucket should create the first time. The second time bucket sho

[2016-10-10 23:47] pmarques commented on #4219
@harneksidhu let me know what do you think. ansible/ansible-modules-core#5221

There is one thing that I don't like, there is no clean way to test if a Floating IP is created [DigitalOcean community questions](https://www.digitalocean.com/community/questions/how-can-i-verify-if-a-floating-ip-is-created-i-need-an-id-or-something-deterministic-to-identify-it).

[2016-10-11 04:02] trondhindenes opened #5222 "include_role does not work with with_items"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

include_role
##### ANSIBLE VERSION

[code]
##### SUMMARY

The new "include_role" task does not work with with_items
##### STEPS TO REPRODUCE

In the example playbook below, the role "myrole" is first run stand-alone, and then as a with_items loop.

[code]
##### EXPECTED RESULTS

Success
##### ACTUAL RESULTS

Error part of the output

[code]

[2016-10-11 05:25] andrewsomething commented on #4219
Hi. I'm looking into porting the existing modules to not depend on dopy. (WIP here: https://github.com/andrewsomething/ansible-modules-core/tree/issues/4219)

The `digital_ocean_tag` module was already written using just `ansible.module_utils.urls.fetch_url` It contains two generic classes (`Rest` and `Response`) that would be helpful in this. What's the best practice to make them reusable? Create

[2016-10-11 05:56] kontrafiktion commented on #4219
We discussed exactly that question in this thread: https://github.com/kontrafiktion/ansible-modules-core/issues/1
For now we decided to first implement everything without a common module (simply using copy/paste). Only when we really know what should belong in the common module, we want to move forward. And the question even is: does this belong into a 'digital ocean' utils module or should it rat

[2016-10-11 06:45] amitsi commented on #5191
Pushed fixed version, this name was from an older file which got missed

[2016-10-11 08:03] frimdo commented on #4607
Oh - so the work on implementing docker swarm mode features began?

[2016-10-11 08:47] pmarques commented on #4219
@andrewsomething I had already implemented a while ago, I didn't had seen the digital_ocean_tag module and so I made a simplest version :/ I was also thinking about create a common module in module_utils but like @kontrafiktion I would like to have it working/implemented before moving into there.

[2016-10-11 10:10] zemanlx opened #5226 "interface with vlan is returned with as INTERFACE.VLAN instead of INTERFACE_VLAN"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

module `setup`
in a playbook as `gather_facts: yes`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

ansible running from centos 2.6.32-573.22.1.el6.x86_64
managing CheckPoint Gaia (RedHat based) 2.6.18-92cpx86_64
##### SUMMARY

An interface with a vlan is returned with as INTERFACE.VLAN instead of INTERFACE_VLAN so it

[2016-10-11 10:28] harneksidhu commented on #4219
@andrewsomething

Seems like we are already working on same thing.
Here's my work in progress.

https://github.com/harneksidhu/ansible-modules-core/blob/4219_do_rework/cloud/digital_ocean/do_droplet.py

Are you interested in doing the droplet module yourself or do you want me to complete it? I was planning on finishing it by Thursday. Let me know if i should continue

[2016-10-11 12:17] andrewsomething commented on #4219
@harneksidhu Awesome stuff. Please continue, but let me know if you aren't able to complete it for some reason and I can pick up where you left off.

[2016-10-11 12:40] guenhter commented on #828
Any update on this? Would be very nice.

[2016-10-11 12:48] Vebryn commented on #3003
Hello,

Very interesting, is it possible to add a parameter to specify identified with value ?

default value : mysql_native_password
password parameter switch to non required

Typical case is ldap/pam authentication :
`create user house@'localhost' identified with auth_pam;`

[2016-10-11 12:48] harneksidhu commented on #4219
@andrewsomething

Thank you! I'll ping you for a PR review.

[2016-10-11 13:13] markusthoemmes commented on #5054
This is definitely needed. User namespaces were one of the killer features of docker 1.12

[2016-10-11 13:16] domdom82 commented on #5054
Yep, this is super-important to have.

[2016-10-11 13:37] jeremiaswerner commented on #5054
👍

[2016-10-11 13:49] Mihai-CMM opened #5227 "Copy module takes forever"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

Copy module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Managing OS: Fedora 22
Managed node OS: Centos 6.8 VM in Proxmox
##### SUMMARY

Copying one file takes forever. Sometimes ssh connection expires before copy action is finished
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Copy takes a veeeeery long

[2016-10-11 13:51] Mihai-CMM commented on #5227
date && ansible-playbook -vvvvv populate.yml &&date
Tue Oct 11 16:15:18 EEST 2016
Using /home/mcostache/PROIECTELE_MELE/Proxmox_Ansible/ansible.cfg as config file
Loaded callback default of type stdout, v2.0

PLAYBOOK: populate.yml *********************************************************
1 plays in populate.yml

PLAY [proxmox] *****************************************************************

TAS

[2016-10-11 14:08] jean-christophe-manciot commented on #5215
A workaround is to replace nxos_command module call by nxos_config.

[2016-10-11 14:13] coreaut opened #5228 "yum install failed but task outputs OK (with_items)"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

yum
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

Running on Ubuntu 14.04
Managing CentOS 7.2
##### SUMMARY

The tasks outputs OK but actually failed. This happens only when using with_items.
Because of the wrong output. In Big playbooks it's hard to find the error.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESUL

[2016-10-11 17:41] rasselin commented on #3981
Hi Julia, You should be able to reproduce with the pip openstack libraries installed by ansible's requirements.

Either way here is what is installed in my ansible venv:

[2016-10-11 18:23] caphrim007 opened #5229 "deadlock using win_shell and Write-Host"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

windows/win_shell.ps1
##### ANSIBLE VERSION

[code]

Installed via github and pip
##### CONFIGURATION

##### OS / ENVIRONMENT

Running from: OS X El Capitan 10.11.6
Managing: Windows Server 2016 TP 4, Version 10.0.10586 Build 10586
##### SUMMARY

win_shell appears to block when using a combination of `Write-Host` and `Select-String` with `-Conte

[2016-10-11 18:23] caphrim007 commented on #5229
@nitzmahone

[2016-10-11 19:20] mattlan commented on #4213
@privateip can i send it to you directly?  even sanitized is not something i'd want to post publicly.

[2016-10-11 21:11] senorsmile commented on #3356
It looks like the upcoming 2.2 has a fix for this:

http://docs.ansible.com/ansible/playbooks_checkmode.html

[code]

[2016-10-11 23:45] lflautomation commented on #23
@defionscode I was experiencing this issue and I found the cause was the silently ignored `proxy_protocol` field I had in my `http` listener. I'm not sure this is what the original reporter was experiencing, but since I had cut-and-pasted the first example on http://docs.ansible.com/ansible/ec2_elb_lb_module.html, then I'm guessing others are finding this issue.

You can reproduce it with the foll

[2016-10-11 23:58] pmarques commented on #4219
I've the updated to use the same approach of Request / Response ansible/ansible-modules-core#5221

Note that it is a work in progress and maybe needs a cleanup

[2016-10-12 00:39] garthk commented on #1568
Think you've run into this, but the target file isn't a symlink? Perhaps it's a hard link, or another file is a hard link to it. If so, you've run into ansible/ansible-modules-core#3094 aka ansible/ansible#10834.

Verification: `stat /path/to/target` and look for the `Links:` number. If it's more than 1,

[code]

You can find the other directory entries pointing to the same inode with:

[code]

Th

[2016-10-12 00:40] garthk commented on #3094
Verification: `stat /path/to/target` and look for the `Links:` number. If it's more than 1,

[code]

You can find the other directory entries pointing to the same inode with:

[code]

The easiest solution is probably `rm /path/to/target` and re-run the Ansible play that's trying to `copy` to it. If it keeps happening to you, try the [`lookup` workaround](https://github.com/ansible/ansible/issues/1

[2016-10-12 02:35] juju4 opened #5231 "pip module: logging option ?"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

pip module
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Orchestrator: Linux Ubuntu Trusty or Xenial
Guest: various
##### SUMMARY

when you do system package, there is a log file with activity history.
python pip has a logging option
https://pip.pypa.io/en/stable/reference/pip/#file-logging
pip module should make it available.

As a not

[2016-10-12 03:23] ghost commented on #4857
+1 for adding support for amazon application load balancer + target groups support
we have had to work around this using aws command line within ansible for the short term

[2016-10-12 06:16] linusgg commented on #4460
I'm seeing this same issue. This seems to be caused by a bug in boto 2 and boto 2 is no longer maintained.
Maybe rebuild this module with boto 3 can fix the issue.

[2016-10-12 08:30] tntC4stl3 commented on #5184
I checked code on `devel` branch and verified this issue was fixed.

So maybe you can wait version 2.2 or fix this issue manually by editing `docker_container.py` line 730 ~ 737 to:

[code]

[2016-10-12 09:24] Jalle19 opened #5232 "Cron "user" parameter not working"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

cron
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

`ansible-playbook` running as non-root user with `sudo` rights.
##### SUMMARY

The `user` parameter has no effect anymore, causing all cronjobs to be created under `root`'s crontab.
##### STEPS TO REPRODUCE

I have a task like this:

[code]

`s3sync_username` is set to `redacted-username

[2016-10-12 09:25] Jalle19 commented on #5232
This was already reported by @frenkel (https://github.com/ansible/ansible/issues/15296) but that issue was closed without any investigation.

[2016-10-12 09:30] Jalle19 commented on #5232
Did some further digging and the cronjobs get added to `root` even though they exist in the specified user's crontab. This means it's not even possible to hack around this, all cronjobs must unconditionally be run as `root`.

[2016-10-12 09:42] frenkel commented on #5232
Later on I discoved that the issue was already described in #3344, so this is a dupe.
As you can see there seems to be a fix.

[2016-10-12 09:42] Jalle19 commented on #5232
I searched the issue tracker for "cron" but somehow I missed that one.

[2016-10-12 09:45] Jalle19 commented on #5232
@frenkel it's supposed to be fixed in 2.1.1.0 but it's not, I'm on 2.1.2.0 and it's still broken.

[2016-10-12 09:50] Jalle19 commented on #5232
I can confirm that adding `become_user: "{{ s3sync_user }}"` makes the cronjob appear in the right crontab. This is still a regression though.

[2016-10-12 09:52] Jalle19 commented on #5232
Furthermore `become_user` cannot be used in cases where `with_items` is used to create multiple cronjobs, potentially for different users.

[2016-10-12 09:55] Jalle19 commented on #5232
The regression tests done in https://github.com/gtrafimenkov/ansible-test-farm-v1/commit/94102f55ddd8af6944b35d1436a65333657ab4f5 are incomplete because the `testuser` (demo01 in this case) is neither root nor the user running the playbook. I have a feeling this only happens when `user` is set to the same user that actually runs the playbook.

edit: typos

[2016-10-12 10:27] frenkel commented on #5232
@Jalle19 I think it's better to add your findings to the closed original bug, as all participants of that bug will be notified and can confirm/help fix the bug.

[2016-10-12 10:59] Jalle19 commented on #5232
They should have been already since the original issue was linked here by you.

[2016-10-12 12:26] tongpu commented on #5075
Same issue just happend to me on RHEL 6.8 and MariaDB 10.1. Could this be related to MariaDB 10.1?

[2016-10-12 12:43] Hubbitus commented on #3719
Does this fix present in v2.2.0.0-0.1.rc1?

[2016-10-12 12:46] robwilkerson opened #5234 "Permissions issue when copying directory"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

`copy`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Absolutely nothing has changed in my config, but I _did_ upgrade Ansible from 2.0.2 right before the failure began.
##### OS / ENVIRONMENT

I'm unning Ansible from MacOS Sierra (a recent upgrade) to bring up an Ubuntu 14.04 server in a Vagrant/Virtualbox environment.
##### SUMMARY

I'm tr

[2016-10-12 12:47] philipcowgill opened #5235 "Can't get job to skip steps when a variable exists"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

set_fact
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I want this project to skip all steps only under one condition: the version and haproxy.stat.exists match.  For some reason the entire playbook runs despite the two matching perfectly.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

#####

[2016-10-12 13:17] philipcowgill commented on #5235
Solved, it was a spacing issue on the
- set_fact:
  contents: "{{ lookup('file', '/tmp/HAPROXY.txt') }}"
  when: haproxy.stat.exists == True

[2016-10-12 13:18] #5235 closed, assigned to nobody

[2016-10-12 13:54] ypid opened #5237 "[security] apt_key module does not verify key fingerprints"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

apt_key module
##### ANSIBLE VERSION

devel
##### CONFIGURATION

not relevant
##### OS / ENVIRONMENT

not relevant
##### SUMMARY

apt_key module does not verify key fingerprints and imports keys based on 16 digits long id.
This is a serious problem because it is easy to generate a OpenPGP key with a desired 16 digit key IDs.
Also, hkp is unauthen

[2016-10-12 15:29] offlinehoster opened #5240 "rpm_key is not accepting a list of key-urls"
##### ISSUE TYPE
- Bug Report
  ##### COMPONENT NAME

rpm_key
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

nothing changed in /etc/ansible.cfg
##### OS / ENVIRONMENT

ubuntu 16.04
##### SUMMARY

Inside a role i got:

[code]

and in my vars.yml i got

[code]

Running the playbook is telling

[code]
##### STEPS TO REPRODUCE

Have a look at the SUMMARY
##### EXPECTED RESULTS

rpm_key is handlin

[2016-10-12 15:37] Oneiroi commented on #5147
@Jmainguy @ansibot any update to this issue ?

[2016-10-12 15:54] mysysadmin-ltd commented on #5175
The issue is with my implementation - there is a scaling policy in place which is responsible for this behaviour - apologies if anyone spent any time on this!

[2016-10-12 15:54] #5175 closed, assigned to nobody

[2016-10-12 16:13] offlinehoster commented on #5240
[code]

also effected

[2016-10-12 16:15] offlinehoster commented on #5240
rpm_key does not accept any vars, you have to enter the raw url directly to the module config.

example

[code]

[2016-10-12 16:34] offlinehoster commented on #5240
I am sorry...

typically LAYER8 problem.

I used a tag for running this step, but i forgot to add a tag for the include_vars step...so this was failing all the time.

I will close this issue!

[2016-10-12 16:34] #5240 closed, assigned to nobody

[2016-10-12 16:34] jean-christophe-manciot commented on #5215
The previous workaround is not possible anymore with ansible 2.3.0~git20161011.6be09ee:

[code]

leads to:

[code]

It is barely possible to perform the same task from the CLI:

[code]

It took a time too long for ansible to complete.
However, I suspect that the multiple nxos_config which have run previously are responsible for this situation, because throwing more RAM does not remove the error.

[2016-10-12 17:11] jean-christophe-manciot commented on #5215
With ansible 2.2.0.0-0.1-rc1, running exactly the same set of nxos_config followed by a save of the running-config is successful with the CLI:

[code]

[2016-10-12 17:15] jaredledvina commented on #617
It'd be awesome if this wasn't only get_url, but also the uri module. (Maybe that warrants a separate issue though)

[2016-10-12 17:38] dossantg commented on #5222
+1 same issue in 2.2.0rc1

[2016-10-12 18:12] jkubrynski opened #5241 "Cannot pass args to docker container"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Sometimes there is a need to pass additional arguments when invoking `docker run`. Currently, there is no such option, so it led us to running docker containers from shell.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

####

[2016-10-12 19:17] tehmoon commented on #4658
Hi @sivel, Thank you for your answer.
It is fine to do that if:
- `ec2_host_group_name`'s length is lower than `--fork`
- You actually use your own machine to perform `wait_for`'s tests.

I don't have access to the rest of the network from where I am. I'm using another SSH server to connect into the infrastructure like this:

[code]

I ended up doing this:

[code]

Also I want to add that I tried

[2016-10-12 19:29] gregswift commented on #3079
bot broken (it removed the windows label)

@nitzmahone tagged this as windows and said this is a feature request for 2.3 timeline.  What is the best state to put the ticket into ?

[2016-10-12 19:53] crane-denny opened #5243 "iptables policy never state changed"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

iptables
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When using the policy feature in the module iptables the task which changes the policy is never the state changed even when it has changed the policy.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

A changed when stuff is changed
##### ACT

[2016-10-12 20:01] #5243 closed, assigned to nobody

[2016-10-12 21:21] emonty commented on #3981
I believe I see the issue ... in openstack_full_argument_spec we have this:
        verify=dict(default=True, type='bool', aliases=['validate_certs']),

Which means we're setting a default value ansible-side regardless of whether the user said anything or not. Since we pass in values, they override.

I'll try to come up with an answer - none of the ones I have so far are "good" :)

[2016-10-12 22:16] jtyr commented on #5073
I can confirm that I'm running NFS v4 as well and I'm not able to reproduce the error based on the Vagrant setup I posted above:

[code]

[2016-10-13 00:16] #4909 closed, assigned to privateip

[2016-10-13 00:58] ex-nerd opened #5246 "unarchive remote_src documentation contradicts itself"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

unarchive
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

n/a
##### SUMMARY

First, the documentation for unarchive, available at [here](http://docs.ansible.com/ansible/unarchive_module.html), describes the `remote_src` parameter as:

[code]

Later, under the `src` parameter description, it says:

[code]

[2016-10-13 01:20] privateip commented on #5191
fixed in #5223

CP to stable-2.2

[2016-10-13 01:20] #5191 closed, assigned to nobody

[2016-10-13 01:32] naslanidis commented on #4857
It looks like @wimnat is working on an ALB module. I will look to test it and assist but I suggest others do the same to assist in getting it over the line more quickly.

https://github.com/ansible/ansible-modules-extras/pull/2946

[2016-10-13 01:40] privateip commented on #5181
@jean-christophe-manciot i just committed a change that should address this problem.  The ios_config module was definitely not explicitly disconnecting from the remote device.  Unfortunately I dont have copy of 16.2 and was unable to replicate the problem on 16.3.  Therefore I'm leaving this issue open until you have a chance to test again and confirm the fix works.

[2016-10-13 01:40] privateip commented on #5181
needs_info

[2016-10-13 01:43] privateip commented on #5008
fixed in #5245

[2016-10-13 01:43] #5008 closed, assigned to privateip

[2016-10-13 06:57] tntC4stl3 commented on #3719
+1
Already encountered two issues which relate to docker, one in `docker-image` and another in `docker-container`.
Both were fixed but didn't apply to 2.1.x yet....

[2016-10-13 08:03] linusgg commented on #4460
How about create an alternative module using boto 3 to fix this issue so that it won't introduce breaking change to the current one.
Any thoughts? @bcoca

[2016-10-13 08:37] jwoltman commented on #5188
Same issue here. First run is successful but second run fails.     'external_fixed_ips' in router['external_gateway_info']): TypeError: argument of type 'NoneType' is not iterable

ansible 2.1.2.0

[2016-10-13 12:28] #977 closed, assigned to nobody

[2016-10-13 12:40] gundalow commented on #5210
Fixed by https://github.com/ansible/ansible-modules-core/commit/149f10f8b7f0dfe669b3c5ef26c2f4107f589e61

Website will be updated shortly

[2016-10-13 12:40] #5210 closed, assigned to gundalow

[2016-10-13 13:04] gondfamilymountain commented on #2953
the 'password' argument is not hashed,is 'test'   the raw user password?

[2016-10-13 13:05] gondfamilymountain commented on #2953
how to generate hashed password of specific readable password  against aix machine?

[2016-10-13 13:11] rcarrillocruz commented on #5188
Happy to take a look at this.

[2016-10-13 13:21] jackivanov opened #5250 "OpenStack modules don't work with cloud specified auth"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

os_keystone_service, os_user, etc..
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### SUMMARY

I get an error with modules for OpenStack. `openstack` cli works well with the same parameters
##### STEPS TO REPRODUCE

[code]

[code]
##### EXPECTED RESULTS

Create a service suceffull
##### ACTUAL RESULTS

[code]

but with `openstack-cl

[2016-10-13 13:40] jackivanov commented on #5250
The same behavior if use credentials directly in the module:

[code]

[code]

[2016-10-13 13:42] bmalynovytch commented on #170
A nicer way would be:

[code]

Change will only be reported if file is created by touch.

[2016-10-13 14:45] bearrito opened #5252 "Azure NSG Documenation missing some fields"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

http://docs.ansible.com/ansible/azure_rm_securitygroup_module.html
##### SUMMARY

The documention does not indicate some fields related to rules
-  source_address_prefix - Does this support tags as in the PORTAL?
-  direction - Assumed set is Inbound/Outbound
-  access - Assumed set isDeny/Allow

[2016-10-13 14:52] bearrito opened #5253 "Enable configuration of VM metric account"
ISSUE TYPE
Feature Idea

COMPONENT NAME
http://docs.ansible.com/ansible/azure_module.html

ANSIBLE VERSION
N/A

SUMMARY
The ask is to be able to enable setting metrics storage account via the `azure_rm_virtualmachine` task.

[2016-10-13 15:32] Qalthos commented on #4860
I'm in the process of backporting a few changes to stable-2.2, first the `ShellError` imports

[code]

And tidied up nxos_facts

[code]

[2016-10-13 15:58] guenhter opened #5254 "docker_network can't create overlay network on docker-engine in swarm mode"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_network
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

no changes in environment
##### OS / ENVIRONMENT

Debian 8.6
Linux machine0 3.16.0-4-amd64 #1 SMP Debian 3.16.36-1+deb8u1 (2016-09-03) x86_64 GNU/Linux
##### SUMMARY

Docker network can't be created with driver `overlay`.
##### STEPS TO REPRODUCE

1) Setup docker in swarm mode (e.g

[2016-10-13 16:16] adichiru commented on #2951
Do we know who is the maintainer for this? The issue was opened 8 months ago and constantly reported since and it is a core module as we all know. I'd like to know if the maintainer is still available for fixes or we need to find another way.

[2016-10-13 16:29] mattclay commented on #2953
@gondfamilymountain For questions, please see:

http://docs.ansible.com/ansible/community.html#i-ve-got-a-question

[2016-10-13 16:42] Qalthos commented on #4860
With that, I think everything is done.

[2016-10-13 16:42] #4860 closed, assigned to Qalthos

[2016-10-13 17:00] bryanlarsen opened #5256 "ec2_ami: AttributeError: 'BlockDeviceType' object has no attribute 'encrypted'"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ec2_ami
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

doesn't work from: Ubuntu 14.04, with python2.7-boto 2.20.1-2ubuntu2
works from: Ubuntu 16.04, with 2.38.0-1ubuntu1
to: Ubuntu 16.04 on AWS
##### SUMMARY

ec2_ami doesn't work on Ubuntu 14.04, works fine on 16.04

I suspect python-boto might be the problem.  14.04

[2016-10-13 18:18] davivcgarcia opened #5259 "Windows Core and Extra modules not found"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

module (win_shell and win_command)
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default configuration for Fedora 24.
##### OS / ENVIRONMENT

Controller Node: GNU/Linux Fedora 24 x86-64
Managed Node: Microsoft Windows Server 2012 R2 64bits
##### SUMMARY

The modules **win_command** and **win_shell** are not included in the distribution of An

[2016-10-13 18:52] jhawkesworth commented on #5259
Hi.

Did you install from git?

If so, you probably need to run

git submodule update --init --recursive

Please can you try the above and advise if that fixes for you?

needs_info

[2016-10-13 19:12] jmgamboa commented on #813
why was this closed? i'm running into the same issue @mtpereira

[2016-10-13 20:39] pmarques commented on #4219
I also have ported ssh keys to rid off _dopy_.... [do_sshkeys.py](https://github.com/pmarques/ansible-digitalocean/blob/master/library/do_sshkeys.py).

[2016-10-13 20:47] harneksidhu commented on #4219
@pmarques thanks for porting the ssh key module. I'll use it to test do_droplet that I'm still working on

[2016-10-13 20:53] nitzmahone commented on #5259
Check the version added: those modules are in 2.2. Ansible docs are always built from the under-development version, so there are always some things in there that aren't in the currently released version.

[2016-10-13 20:53] #5259 closed, assigned to nobody

[2016-10-13 21:11] buechele opened #5262 "stat: readable and writeable are missing"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

stat
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Debian 8
##### SUMMARY

In the stat dict the keys "readable" and "writeable" are missing. These keys are mentioned in the documentation [http://docs.ansible.com/ansible/stat_module.html](url).
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

correct evaluation of path.stat.readabl

[2016-10-13 21:15] trondhindenes commented on #5222
Tracked in https://github.com/ansible/ansible/issues/17966

[2016-10-13 21:15] #5222 closed, assigned to nobody

[2016-10-13 21:19] guenhter commented on #5254
Quite a bot spam.

[2016-10-13 21:23] bcoca commented on #5262
those response fields were added in 2.2 so should not be present in your version, changing this as a doc issue as they should specify in which version they were added.

[2016-10-13 21:24] bcoca commented on #5262
cc @resmo, @tobixx FYI, please make sure new features always document the version

[2016-10-13 21:31] #1381 closed, assigned to nobody

[2016-10-13 21:31] #2971 closed, assigned to nobody

[2016-10-13 21:31] #3056 closed, assigned to nobody

[2016-10-13 21:34] buechele commented on #5262
Thanks @bcoca !!!

[2016-10-13 22:05] hasnickt opened #5263 "TypeError: create_load_balancer() got an unexpected keyword argument 'complex_listeners'"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ec2_elb_lb
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default
##### OS / ENVIRONMENT

centos 6.2
##### SUMMARY

complex listeners error when adding the listeners parameter in the ec2_elb_lb module from example listen on the module website
##### STEPS TO REPRODUCE

run the playbook to create an aws ELB.

[code]

##### EXPECTED RESULTS

Exp

[2016-10-13 23:09] claire-tr commented on #663
+1

[2016-10-13 23:51] wimnat commented on #4857
As @naslanidis said, elbv2 and target group modules already written and available for review... check PRs in extras

[2016-10-14 00:29] davivcgarcia commented on #5259
Thanks for the fast response! I didn't noticed that official documentation was pointing to a development release instead of the stable one.

[2016-10-14 00:37] nitzmahone commented on #5259
No problem. We keep threatening to publish both (and default to current stable release), but it makes the maintenance quite a bit more burdensome and so keeps getting punted to "maybe next release".

[2016-10-14 02:57] achak01 commented on #5174
When i run the command manually it works like charm. But a ssson as i go for ansible it continously gives this errors

**failed: [btpvm1052.hpeswlab.net](item=[u'http://yum.postgresql.org/9.5/redhat/rhel-7-x86_64/pgdg-centos95-9.5-2.noarch.rpm']) => {"failed": true, "invocation": {"module_name": "yum"}, "item": ["http://yum.postgresql.org/9.5/redhat/rhel-7-x86_64/pgdg-centos95-9.5-2.noarch.rpm"],

[2016-10-14 07:54] ralfbergs opened #5267 "AWS modules should account for API throttling"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ec2_vpc
(Applies to _any_ AWS module!)
##### ANSIBLE VERSION

Any Ansible version
##### OS / ENVIRONMENT

N/A
##### SUMMARY

It seems that Ansible (or "Boto" at the bottom layer) doesn't account for Query API Request Rate throttling Amazon enforces.

If you do frequent AWS API calls (like I do at the moment, as I frequently create and destroy a v

[2016-10-14 10:10] rcarrillocruz commented on #5188
I'm unable to reproduce:

[code]

[2016-10-14 10:28] parberge commented on #5188
@rcarrillocruz I can see you have cloud: devstack-admin.
I'm not really familiar with `cloud` parameter.

In my example I'm authenticating as a user (non-admin) which is part of a project (not admin project).
Maybe there is something there which causes the problem?

[2016-10-14 10:34] bjolivot commented on #5196
Same problem here with apache-libcloud==1.2.1  (current stable with pip install)
Rollback to 0.20.1 seems to work :

pip install apache-libcloud==0.20.1

[2016-10-14 11:29] mgedmin opened #5268 "copy: dest=filename fails with "Destination directory does not exist""
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

copy
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

Linux
##### SUMMARY

When I try to copy a file into the current working directory on the remote end, Ansible fails because it tries to check for the existence of the (empty string) directory.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

I expect an empty fi

[2016-10-14 12:37] bmalynovytch commented on #4973
Hi,
I notice the same issue with 2.1.2.0 and the pip module `carbon`.

[2016-10-14 12:57] tumbl3w33d opened #5269 "docker_container doesn't allow setting log_options without setting log_driver"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Docker uses the log driver 'json-file' by default (also stated in the docker_container documentation). If you want to provide log_options (e.g. for log rotation) you have to explicitly set the log_driver to json-file, else this modul