[2016-06-25 11:45] kernow commented on #3865
@einarc I see that in the google group you said

Would you be able to share a code snippet for how you were able to do this? I'm trying to get the endpoint when a new instance is created without having to wait for it to become available.

Thanks

[2016-06-25 13:24] problame commented on #2664
I did a little bit of debugging and found another problem on FreeBSD:

Multiline rcvars are allowed (check [here](https://www.freebsd.org/cgi/man.cgi?rc.conf%285%29))

[code]

This does not work with shlex, hence shlex raises an exception, resulting in a confusing error message.

Checkout my PR https://github.com/ansible/ansible-modules-core/issues/4042, I fixed the problem by changing the module

[2016-06-25 16:39] jhawkesworth commented on #4036
Can we close this then?

[2016-06-25 18:28] basictheprogram commented on #4036
Yes, close.

##

Bob Tanner tanner@real-time.com                                 | Phone : 952-943-8700
http://www.real-time.com, Linux, OSX, VMware, Windows | Fax      : 952-943-8500
Key fingerprint = 9906 320A 8BB6 64AD 96A7  7785 CBFB 10BF 568B F98C

[2016-06-25 19:45] basictheprogram commented on #4036
Work-around is to use  force: no, closing ticket.

[2016-06-25 19:45] #4036 closed, assigned to nobody

[2016-06-25 22:04] smemsh commented on #2571
note that when just running `command: mount {{srcdev}} {{mntpoint}}`, ansible gives:

[code]

even though the suggested module cannot actually be used to simply do a mount without messing with fstab.

[2016-06-26 00:33] mrgnr commented on #4029
I'm seeing the same error as @galindro when running this task:

[code]

However, if I specify a value for the `name` parameter, the task succeeds:

[code]

The [apt module documentation](https://docs.ansible.com/ansible/apt_module.html) says that `name` is _not_ a required parameter, and it makes sense that we might want to autoremove packages without installing anything.

[2016-06-26 08:21] jeffrey4l commented on #1976
seems the `apt-get autoclean` is different with `apt-get clean`.
So could Ansible support clean action?

[2016-06-26 11:08] #4007 closed, assigned to nobody

[2016-06-27 07:16] PikachuEXE opened #4047 "Ansible 2.1.x cloud/docker incompatible with docker-py 1.1.0"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

_docker module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

"N/A"
##### SUMMARY

Ansible 2.1.x cloud/docker incompatible with docker-py 1.1.0
##### STEPS TO REPRODUCE

I try to update from Ansible 1.8.x
And worked around some issues with `2.0.x` (at least still works with some issue unfixed)

https://docs.ans

[2016-06-27 10:18] ghost opened #4050 "Ansible ec2_asg module expiring token for AWS with wait_timeout more than 20 mins"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

ec2_asg
##### ANSIBLE VERSION

N/A
##### SUMMARY

I am using Ansible ec2_asg module.
I have my credentails file generated with TEMP AWS credentails in `~/.aws/credentials` every  few minutes.

I  have wait timeout more than 15 mins , so in between that time the credentails are expiring and my Ansible playbook fail.

That is because anisble reads c

[2016-06-27 11:53] pastushenko commented on #902
+1

[2016-06-27 12:30] AseemKumar commented on #4033
@jctanner, ran the stat command and got really long error, saying that the system is unreachable. Then did further digging and found that the partition where ansible is creating tmp directory on the server is full. Made some space and it works now.

When I ran the ping module, as I was able to connect directly to the server, I got the message "msg": "mkdir: cannot create directory `/home/username/

[2016-06-27 14:22] jjshoe commented on #2607
@jctanner But the default on removal would be false, they would have to adjust the flag to brick things, which is fine, imho.

[2016-06-27 18:36] shaunbrady commented on #1721
Would like this.

[2016-06-27 19:32] mconlon-academicworks commented on #3270
+1 this is a problem for me. what needs to be done...can I create a pull request to fix this? seems simple enough to fix, but this issue has been sitting around for over 3 months now?

[2016-06-27 19:55] joaocenoura commented on #902
+1

[2016-06-27 20:08] jamesongithub opened #4053 "ec2_elb_lb is not always idempotent when updating healthchecks"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ec2_elb_lb
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

##### SUMMARY

ELB healthcheck changes are sometimes ignored.
##### STEPS TO REPRODUCE

Create elb with tcp healthcheck on port 80 with the module. Run the module again, except using a different port.

##### EXPECTED RESULTS

The healthcheck should be update

[2016-06-27 21:38] dpcryer commented on #3979
Complete novice with Git (and not much Python experience either!) so haven't worked out how to do the pull requests etc. and I don't know how bad a thing it is to add a dependancy on ordereddict (https://pypi.python.org/pypi/ordereddict?). If that's OK then I think the following diffs would pull in OrderedDict from either collections of it's there or ordereddict otherwise.

[netcfg.txt](https://gi

[2016-06-27 22:02] privateip commented on #3979
I think the right solution here is to refactor OrderedDict out of netcfg for the time being (which I'm working on now).  I hope to have a fix available very soon.

[2016-06-28 04:29] ghost commented on #3444
Fixed for me with the devel branch, thanks.

[2016-06-28 05:39] bqbn commented on #2756
As a workaround, I was able to run the ansible command with

[code]

option. It also worked for me by adding the following line to the inventory file:

[code]

I think the issue is ansible by default would use "/usr/bin/python" for its remote host environment. In this case, the "remote" is localhost, but "/usr/bin/python" is not the virtualenv.

[2016-06-28 08:15] Hashfyre commented on #3246
I'm having this same issue with the following task:

[code]

Installing `ca-certificates` did not solve the issue for me.

[2016-06-28 08:19] dpcryer commented on #3979
Great, thanks.

[2016-06-28 11:25] ssbarnea commented on #2781
How much information does the Ansible team need to replicate this bug? I think that the bug is already very well documented and easy to replicate.

The syncronize module is totally broken, using scp or rsync manually works.

[2016-06-28 12:04] robinro commented on #4006
One needs to put some check for check_mode around https://github.com/ansible/ansible-modules-core/blob/devel/source_control/git.py#L817

@famousgarkin maybe this is something you can try to submit a PR for yourself? Some quick fix should be doable in a couple of lines.

Also it would be nice to have a test-case for this, potentially by using https://github.com/ansible/ansible/pull/16056

[2016-06-28 13:11] kazh000 commented on #106
**ANSIBLE VERSION** 2.0.2.0
**Environment:** Debian GNU/Linux 8 (jessie)
Problem of tabs is still present.
**ini_file.py** uses `re.match('%s *=' % option, line)` for searching option name and use only space as delimiter char.

[2016-06-28 13:40] kazh000 commented on #106
could you replace `re.match('%s *=' % option, line)` by `re.match('%s( |\t)*=' % option, line)` or `re.match('%s\s*=' % option, line)`

[2016-06-28 13:49] tongpu commented on #106
@jimi-c I guess `re.match('%s( |\t)*=' % option, line)` would be preferred over `re.match('%s( |\t)*=' % option, line)`. If this would be the way to go I could do a pull request for it.

[2016-06-28 14:20] joaocc opened #4055 "change pip's 'name' to be a list, to minimize conflicts"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

export ANSIBLE_LOG_PATH=/var/log/ansible.log
export ANSIBLE_CACHE_PLUGIN=jsonfile
export ANSIBLE_CACHE_PLUGIN_CONNECTION=/var/cache/ansible
export ANSIBLE_PRIVATE_KEY_FILE="/opt/src/_pk/key.pub"

export ANSIBLE_HOST_KEY_CHECKING=false
export ANSIBLE_GATHERING=smart
export ANSIBLE_ROLES_PATH=/opt/src/ansible/roles"
exp

[2016-06-28 14:49] zentavr opened #4057 "Volumes do not get dropped when removing the docker container"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

_docker module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

OS From: OS X, Ubuntu 14.04
OS To: Ubuntu 14.04
##### SUMMARY

Volumes do not get dropped when removing the docker container
##### STEPS TO REPRODUCE
1. Create the docker container with attached volumes
2. fill the volume
3. drop the container
4. repe

[2016-06-28 15:10] jmcollin78 opened #4058 "htpasswd logs users password in output log"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

$ uname -a
Linux xxxxx 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt25-2 (2016-04-08) x86_64 GNU/Linux
##### SUMMARY

When using the htpasswd feature, the password are displayed in output logs.
##### STEPS TO REPRODUCE

My configuration is the following:

[code]

I try to add `no_log: true` but w

[2016-06-28 15:12] jtru commented on #3241
After upgrading Ansible from 1.9 to 2.1, the `unarchive` module failed to properly extract an LZO-compressed tarball named `some-archive.tar.lz`, despite the host (Debian Jessie) having both GNU `tar` and `lzop` installed. It worked fine with Ansible 1.9's version of the module.

The exact error produced was:

[code]

[2016-06-28 15:24] bcoca commented on #4058
fixed via 2f0f04437b605617e850954ad3f4607d39d41a97, it will be part of 2.2 release

[2016-06-28 15:24] #4058 closed, assigned to nobody

[2016-06-28 15:59] einarc commented on #3865
You need to use either command or shell modules to make the respective aws
cli call once the instance is out of the creating phase(use a wait
condition for that) to describe the instance, then parse the job aws CLI
returns. This is done as a local task(just like any other aws module call).
To use aws cli your ansible master must have it installed and you must pass
in the aws credentials.
All the n

[2016-06-28 16:08] kernow commented on #3865
@einarc thanks for the explanation. I haven't tried this as I'm not at my computer currently, does the regular ansible module for gathering rds facts return the endpoint before the rds instance is in the available state? If it does it would be possible to work around the issues without needing to use the cli. I will try it later if you haven't already.

[2016-06-28 16:27] rhicks opened #4059 "Unable to update existing vlans using junos_template and action:replace"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

modules/core/network/junos/junos_template.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

Unable to push vlan changes via the junos_template.
##### STEPS TO REPRODUCE

Create new vlans on the Juniper device.
Need to update vlan names.
Try to use the "action: replace" option to replace the

[2016-06-28 16:42] mdaize opened #4060 "AWS - ec2 should support unique instance criteria by VPC/Subnet"
##### ISSUE TYPE

- Bug Report/Feature Idea
##### COMPONENT NAME

Module: ec2
##### ANSIBLE VERSION

2.1.0.0 (but happens in older versions)
##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

n/a
##### SUMMARY

ec2 module should support indempodence by VPC/Subnet
##### STEPS TO REPRODUCE

- Create playbook which creates an EC2 instance into a subnet (exact_count = 1)
- Re-run -- notice it does not r

[2016-06-28 17:26] filipenf commented on #1719
@mogadanez I've created PR #4061 which fix this and also allows to mix security-groups IDs/names when creating a launch config. However, I don't know if this can be backported to 1.9.x because it depends on `get_ec2_security_group_ids_from_names` which was added just recently.

[2016-06-28 17:52] sandrinr commented on #3719
I am experiencing the same behaviour with `docker_image`. In order to still be able to build docker images the way I would expect from `docker_image` I am currently using this workaround:

[code]

[2016-06-28 17:53] jhughes-mc commented on #3241
+1

Editing this comment. I ensured gtar, and unzip was installed.

[2016-06-28 18:04] widyono-cets opened #4062 "debug module does not report skip_reason"
##### ISSUE TYPE
- Feature Request
##### COMPONENT NAME

debug module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

n/a
##### SUMMARY

debug module correctly skips based on reduced verbosity setting, but does not report why via skip_reason. It would be great if skip_reason said something to the effect of "verbosity threshold not met", for consistency with other mod

[2016-06-28 19:07] ConanChou commented on #1124
+1

[2016-06-28 19:26] bcoca commented on #4062
fixed via http://github.com/ansible/ansible/commit/9abdb1bb7c1417d05f357de22c99b0bfa1e29213

[2016-06-28 19:26] #4062 closed, assigned to nobody

[2016-06-28 20:27] kernow commented on #3865
@einarc thanks for the info. I'm a programmer so jumping into the python code looked easier to me, I've edited the rds module to what I think should work. I've never written any python before and haven't tested this out to see if it works (I don't have the time to work out how to run ansible from local files rather than the install pip). Would someone else be able to test this out to see if it wor

[2016-06-28 22:12] JesseEmond opened #4063 "File mode 0755 fails for a tar in `unarchive`"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Module: `unarchive`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

`unarchive` fails with a `mode` of `0755`.
##### STEPS TO REPRODUCE

Create a `tar.gz` file (or any format that will be processed by [`TgzArchive`](https://github.com/ansible/ansible-modules-core/blob/devel/files/unarchive.py#L537

[2016-06-28 22:27] rhicks commented on #4059
This is resolved by deleting the vlans in the template before trying to update them.
Any changes will be honored.  Unchanged items will remain unchanged and ignored by the commit.

Issues described here:
https://github.com/Juniper/ansible-junos-stdlib/issues/65

Keyword is "delete: vlan;"

Example:

[code]

[2016-06-28 22:27] #4059 closed, assigned to nobody

[2016-06-28 23:15] #3979 closed, assigned to privateip

[2016-06-28 23:29] einarc commented on #3865
@kernow  Time, the limiting factor. I'm very happy to hear you wrote some code. So you're saying you modified the module but never ran it? If so, did you fork Ansible and edited inline or did you create a local repo.

[2016-06-29 00:43] jamiejamison opened #4064 "apt_repository is incorrectly setting the file permissions on new repositories"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

apt_repository
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 14.04 (Trusty Tahr)
##### SUMMARY

When using the apt_repository module the permissions of the repository listings in /etc/apt/sources.list.d are set to mode 0420 (-r---w----) unless the mode option is specified and the value for the mode is quoted.

[2016-06-29 03:50] jctanner commented on #4064
related to https://github.com/ansible/ansible-modules-core/pull/3991

[2016-06-29 06:33] ripun opened #4066 "apt_rpm.py does not support installation using "/usr/bin/rpm" as mentioned"
##### ISSUE TYPE

- Feature Idea

  apt_rpm does not support managing packages with rpm on linux distros
  apt_rpm - apt_rpm package manager
##### COMPONENT NAME

apt_rpm
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

NO but may be required if to support additinal capabilities of RPM command like non root installation
##### OS / ENVIRONMENT

Running Ansible  from and to  : RHEL 7.2
##### SUMMA

[2016-06-29 08:57] kernow commented on #3865
@einarc I've actually tested the code now, looks like it's working as intended. I'm going to double check it now and I'll create a PR with the update later today assuming everything is ok.

[2016-06-29 09:01] xrow commented on #593
Just as a note to everyone https://github.com/ansible/ansible/issues/16405 is a different issue then https://github.com/ansible/ansible-modules-core/issues/593. They have no relation to each other.

[2016-06-29 10:07] igr commented on #2951
The same with ansible 2.1; I use @dohoangkhiem thing, but i have few places in my playbook where I deal with the apt (update cache, install java, install docker). So I am thinking to use `shell` instead.

[2016-06-29 10:07] morganchristiansson opened #4069 "ec2_asg Unable to use Default as default termination_policies policy"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ec2_asg
##### ANSIBLE VERSION

$ ansible --version
ansible 2.0.0.2 (detached HEAD 7de237c5a1) last updated 2016/01/27 17:54:03 (GMT +000)
  lib/ansible/modules/core: (detached HEAD ce6619bf5d) last updated 2016/01/27 17:56:41 (GMT +000)
  lib/ansible/modules/extras: (detached HEAD 29af26884e) last updated 2016/01/27 17:56:45 (GMT +000)
  config f

[2016-06-29 13:33] Delivion-GmbH opened #4071 "uri: An unknown error occurred: object of type 'bool' has no len()"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

uri

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
remote_tmp = /tmp
ssh_args = -v
host_key_checking = False
callback_plugins = plugins

[ssh_connection]
control_path=%(directory)s/a%%h-%%p-%%r
ssh_args = -o StrictHostKeyChecking=no
##### OS / ENVIRONMENT

centos-release-7-2.1511
##### SUMMARY

Instead of putting the value as str

[2016-06-29 14:17] jctanner commented on #4066
@ripun Are you trying to say that the apt-rpm module should fallback to using the rpm command directly if apt-rpm is not installed?

[2016-06-29 14:42] ripun commented on #4066
Hi,

My concern is apt_rpm module should be very easy to use and user friendly for everyone (RHEL/Centos/Ubuntu)

**present :**
 apt_rpm: pkg=foo state=present

**expected:**
apt_rpm: pkg=foo state=present provider=rpm/apt-get

currently apt_rpm supports only APT_PATH="/usr/bin/apt-get" and not RPM_PATH="/usr/bin/rpm"
this is not good for RHEL customers
i am having a usecase wherein i want to inst

[2016-06-29 14:52] robertlindner commented on #4071
One Addition: This used to work with ansible 1.9.x even when the variable in the dict was unquoted, so I suspect there was some implicit bool-> string type conversion in place.
Now it even fails when you try to explicitly apply a jinja string() filter.

[2016-06-29 20:03] viper233 commented on #3223
Having the same issue picking up files from $pwd

[2016-06-29 21:15] KpaBap commented on #3234
I'm experiencing this problem even when trying to simply shut down an instance with multiple ENIs:

Sample YML:

[code]

[2016-06-29 21:33] jensonb commented on #4030
The gce module cannot do this, but Ansible has more than just one module related to Google Cloud platform. You can use the gce_pd module to manage your persistent disks. You can create a disk with specified type and size, then use the gce module to attach it to your new instance.

[https://docs.ansible.com/ansible/gce_pd_module.html](https://docs.ansible.com/ansible/gce_pd_module.html)

all cloud

[2016-06-29 22:57] einarc commented on #3865
@kernow Thanks so much. I'll see if I can push the workaround in the meantime, hopefully it won't be necessary.

[2016-06-29 23:03] dagwieers commented on #4063
There was a recent fix for this issue (I think), see #3769

[2016-06-29 23:05] dagwieers commented on #4063
I think it works if you make your mode a string.
And personally I think Ansible should give a warning if it is not a string, rather than support string, octal and decimal mode.

[2016-06-30 04:41] jctanner commented on #3952
Related:
https://github.com/ansible/ansible-modules-core/issues/152
https://github.com/ansible/ansible-modules-core/pull/4037

[2016-06-30 04:42] jctanner commented on #152
Closing in favor of https://github.com/ansible/ansible-modules-core/issues/3952 because it has an issue template with relevant data.

[2016-06-30 04:42] #152 closed, assigned to nobody

[2016-06-30 06:23] asmodehn commented on #3018
FYI I just had a similar issue (handler for service restart not working, but task or direct module call is fine), also on on Ubuntu 14.04, with

[code]

I eventually tracked it down to a permission issue.
From memory (take it with a grain of salt), my hierarchy was :

[code]

My handler didn't get the privilege escalation, somehow...
I reviewed all my `become:yes` everywhere and cleaned it up to :

[2016-06-30 06:29] asmodehn opened #4077 "service module used in handler doesn't get excalated privilege"
Similar to https://github.com/ansible/ansible-modules-core/issues/3018 but a tiny bit different...
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

service module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

default on ubuntu trusty package Version: 2.1.0.0-1ppa~trusty
##### OS / ENVIRONMENT

Ubuntu Trusty
##### SUMMARY

I am using [supervisor](https://galaxy.ansible.com/tersmitten/superv

[2016-06-30 06:30] asmodehn commented on #3018
Actually my problem was not fixed by changing the `become` setting. So I made a separate issue for it.

[2016-06-30 06:41] wernerflamme commented on #3975
The lineinfile module seems to work as expected, when you use 'backrefs: yes'. So

[code]

might work. Crazy thing, though :-\

[2016-06-30 07:43] hyperized opened #4078 "ec2_ami not handling wait:no and tags correctly"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ec2_ami.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

I have three problems with the current execution:
1. wait: no still waits. It still waits till the AMI is available or a time_out.
2. As shown below, the tags are present but not displayed as output.
3. When the wait time expires, the AMI

[2016-06-30 09:11] hikaushik opened #4079 "DRS Cluster and multiple Folder not working in vsphere_guest module"
1. Folder definition like folder: 'USA/Linux' in var.yaml doesn't work.
   error:-
   failed: [127.0.0.1] => {"failed": true}
   msg: Could not clone selected machine: [Object Not Found]: Couldn't find folder USA/Linux.
2. Don't have option to mention DRS Cluster instead of datastore:

[2016-06-30 10:12] asemt commented on #3800
Hi,

I did not had this bug with Ansible 2.0.20 on Ubtuntu 14.04, but with 2.1.0.0 this bug manifested and prevents me from applying memory limits to Docker containers.

[2016-06-30 12:45] MichaelBaydoun commented on #3018
Have you tried running the playbook with -vvvv and did what was the output?

[2016-06-30 13:43] kipras commented on #1124
+1

[2016-06-30 13:58] Constantin07 commented on #2576
The problem still persists even when no group_id is referenced in the rule.

[code]

On a second run I get this error:

[code]

[2016-06-30 13:58] jesusfcr commented on #3241
Fixed with
- apt: package=unzip state=present

[2016-06-30 14:10] zoltan opened #4082 "nxos_switchport not configuring trunk ports properly"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

nxos_switchport
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Using defaults:

[code]
##### OS / ENVIRONMENT

Ubuntu 14.04, ansible installed from ppa, but the issue is not platform specific.
##### SUMMARY

Trying to get a switchport to be configured for trunk however
- the "switchport access" configuration is not removed even with the stat

[2016-06-30 14:43] boufnichel commented on #3810
Hi maxramqvist,

Have you solve your problem ? i've the same issue when i try to copy hybris all extensions with ansible

Thanks

[2016-06-30 14:56] william20111 commented on #3783
has this been fixed still appear to be getting this in 2.1? The command is in my dockerfile as list as per normal.

[2016-06-30 15:10] ryansb commented on #3234
Hrm. Unfortunately, the `source_dest_check` parameter on the module is a `bool`, when in reality it's a per-interface decision. The options we have are:
- When there are multiple ENI's, apply the user's choice (yes/no) to all of the interfaces
- When there are multiple ENI's, skip src/dest checks entirely and expect the user to use the ec2_eni module to handle interface settings

It looks like tha

[2016-06-30 17:33] kuza55 opened #4083 "Modifying ec2 security groups in ansible playbook doesn't work for running instances"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ec2 module
##### ANSIBLE VERSION

$ ansible --version
ansible 2.1.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
##### OS / ENVIRONMENT

Ubuntu on Windows 10
##### SUMMARY

Changing the group_id value for a running instance has no effect on it's security groups
##### STEPS TO REPRODUCE

Run pl

[2016-06-30 18:29] nitzmahone commented on #4071
YAML type coercion is likely what's biting you here- not a lot we can do about it. It might've worked in some cases in 1.9 due to the templating order- we changed things in 2.x to make that much more consistent. You should be able to work around this by explicitly telling YAML it's a string, eg:

[code]

[2016-06-30 18:50] marcusspain opened #4084 "user: expires expects float epoch time"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

user module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

inventory      = /var/local/ansible/hosts
roles_path      = /var/local/ansible/roles
log_path = /home/ansible/ansible.log
##### OS / ENVIRONMENT

CentOS Linux release 7.0.1406 (Core)
##### SUMMARY

When adding a user, with the `expires` option, specifying epoch time as an int throws

[2016-06-30 19:37] andrefernandes opened #4085 "docker_service only finds docker-compose.yml on local runs (CentOS/RHEL)"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Module: docker_service
##### ANSIBLE VERSION

Ansible 2.1 (installed with "pip install"). Results from "ansible --version":

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Controller node: CentOS 7.2
Remote node: RHEL 7.1
##### SUMMARY

When using playbooks the module only works with "docker-compose.yml" files if ran locally. Remote runs

[2016-06-30 19:53] dhruvbansal commented on #2688
+1

Once this is working, it'd be nice to be able to associate IAM managed policies to users/groups/roles by using their names:

[code]

It would also be nice to be able to refer to managed IAM policy by name in the `iam` module, as well:

[code]

Even better would be if I could do all of the above with the pre-canned policies AWS gives you (`AdministratorAccess`, `AmazonS3FullAccess`, &c.).

Good

[2016-06-30 19:53] supertom commented on #1319
I tested this with the *versions listed and it works for me.

I see 584f210 added that keyword, so perhaps the ansible module in the install trailed libcloud a bit?

/cc @ryansb I recommend we close this issue.

---

*Versions:
ansible==1.9.1
apache-libcloud==0.17.0

[2016-06-30 20:01] privateip commented on #4082
/cc @jedelman8 @GGabriele

[2016-06-30 20:15] supertom commented on #1888
Unfortunately, there is no way currently to keep this list updated other than libcloud.  (For perspective, even the Google SDK itself uses a hard-coded map).  As noted, it comes from libcloud, and Ansible uses the map provided by libcloud to check for valid scopes.

I recommend we close this issue.

/cc @ryansb

[2016-06-30 21:23] srstsavage commented on #3929
@chouseknecht Please reopen, this is also biting me using Ansible 2.1.0.0 installed via `pip`.

[2016-06-30 21:27] srstsavage commented on #3929
Confirmed @awasilyev's tests:

Works:

[code]

Fails:

[code]

[2016-06-30 21:52] jctanner commented on #2572
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-06-30 21:52] #2572 closed, assigned to nobody

[2016-06-30 22:15] #106 closed, assigned to nobody

[2016-06-30 22:24] nitzmahone commented on #4079
@hikaushik Please fill out the issue template you deleted when filing this issue, and give a more detailed explanation of what you're trying to do, as it's unclear from this.

[2016-06-30 22:24] #4079 closed, assigned to nobody

[2016-06-30 22:38] nitzmahone commented on #4083
@defionscode or somebody else correct me if I'm wrong, but IIRC AWS doesn't allow you to change the security group mapping of a running instance, only to make changes to the rules in the existing mapped group...

[2016-06-30 22:41] nitzmahone commented on #4083
NM, it appears they've lifted that restriction at some point: http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_SecurityGroups.html#SG_Changing_Group_Membership.

@kuza55 can you confirm that you're doing this to a VPC instance and not an EC2 Classic instance?

[2016-06-30 22:51] srstsavage opened #4087 "docker_container: add"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

`docker_container` module
##### ANSIBLE VERSION

(Future version)
##### SUMMARY

[2016-06-30 22:55] srstsavage opened #4088 "docker_container: add `cleanup` state value"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

`docker_container` module
##### ANSIBLE VERSION

(Future version)
##### SUMMARY

A `cleanup` parameter should be added to `docker_container` to remove the container as soon as it's finished running. `docker run` supports this using `--rm`. This would be especially useful for containers run using `detach: no` to perform one time tasks.

Currentl

[2016-06-30 23:47] nitzmahone commented on #4087
You mean like this one? http://docs.ansible.com/ansible/docker_container_module.html ;)

[2016-06-30 23:47] #4087 closed, assigned to nobody

[2016-06-30 23:48] nitzmahone commented on #4088
cc @chouseknecht

[2016-07-01 00:44] srstsavage commented on #4087
@nitzmahone Weird, I must have accidentally created this while trying to create https://github.com/ansible/ansible-modules-core/issues/4088 but no idea how. Thanks for closing.

[2016-07-01 01:10] kuza55 commented on #4083
Yep, doing this to a VPC instance. I ended up doing this from the AWS web UI and it worked.

[2016-07-01 07:19] Delivion-GmbH commented on #4071
Thank you for your reply. I tested it 5 minutes ago but unfortunately i'm still getting the error:

"Status code was not [200]: An unknown error occurred: object of type 'bool' has no len()"

[code]

[2016-07-01 09:00] knirbhay commented on #1409
Same here

[code]

[code]

[2016-07-01 09:09] richard-scott commented on #1409
You need speech marks in the right places:

[code]

[2016-07-01 11:14] halberom opened #4089 "FR: yum module should support sub commands such as 'cache'"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

yum
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

CentOS 6.7, 6.8, 7.x
##### SUMMARY

In order to flush/make the cache when _not_ installing a package, it's currently necessary to call yum directly using `command` or `shell`.  This results in a `[WARNING]: consider using yum module rather than running yum`.

The warn

[2016-07-01 11:15] GGabriele commented on #4082
Actually, these are not bugs, that's just how the module is expected to work.

_The "switchport access" configuration is not removed even with the state=absent action_
There you have an access vlan, so you have to specify the `access_vlan` you want to remove.

_The actual trunk vlan list is not applied to the interface_
From the DOCSTRING:

[code]

This means that the command sent is `switchport t

[2016-07-01 12:31] ghost commented on #3241
I have the same issue. Using ansible 2.1.0.0, having unzip package doesn't solve the problem.
The file which I tried to extract had 'gz' extension.

[2016-07-01 14:55] markusthoemmes commented on #3339
Seeing the very same issue.

[2016-07-01 14:56] robphoenix commented on #3332
I've just run into this also, connecting to Cisco routers.

[code]

setting `ansible_shell_executable: ''` in `group_vars/routers/yaml` improves this output slightly:

[code]

But the only thing that actually works is as @analogbyte mentioned:

[code]

Ansible version: ansible 2.1.0.0 running in ubuntu 14.04

[2016-07-01 15:41] bcoca commented on #3757
closing via merged #16085

[2016-07-01 15:44] #3757 closed, assigned to nobody

[2016-07-01 15:44] jctanner commented on #2607
so deps= would have two different defaults and rely on the context to decide which to be?

[2016-07-01 15:50] jean-christophe-manciot opened #4090 "Exception while running ios_command which times out after correctly executing a command"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ios_command
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

inventory   = ./hosts
roles_path = /home/actionmystique/Program-Files/Ubuntu/Ansible/git-Ansible/roles
fact_caching = redis
fact_caching_timeout = 86400
##### OS / ENVIRONMENT
- host: Ubuntu 16.04 4.4.0
- target: IOSv 15.4(20140730:011659)
##### SUMMARY

ios_command executes the comma

[2016-07-01 15:52] #4090 closed, assigned to nobody

[2016-07-01 15:53] jjshoe commented on #2607
Yeah

[2016-07-01 16:19] #2236 closed, assigned to nobody

[2016-07-01 16:20] #2407 closed, assigned to nobody

[2016-07-01 16:33] ypid commented on #2407
@nitzmahone Can you answer my question from my last comment?

[2016-07-01 17:09] nitzmahone commented on #2407
@ypid It's mostly because the necessary functionality is completely implemented by the winrm connection plugin. Connection plugins have a set of required actions necessary for Ansible to "do its thing" on a given platform (eg, make tempdir, delete tempdir, put file, get file, execute command). The default fetch action that runs on the controller side (fetch isn't actually a module) just asks the c

[2016-07-01 17:12] nitzmahone commented on #4071
Ah, right- forgot you were templating the value on the way into the module. You'll need to use the YAML dict syntax (not Ansible KV syntax) and type-tag it on the actual module arg:

[code]

[2016-07-01 17:17] nitzmahone commented on #4071
The YAML syntax might not even be necessary if you quote it right- my limited testing shows that
`body="!!str {{ item.value }}"`
will probably work too.

[2016-07-01 18:02] pporada-gl opened #4091 "docker_container errors out when exposing random ephemeral port"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Host: Ubuntu 16.04
Managing: Centos 7.2
##### SUMMARY

I cannot expose a random ephemeral port with the docker_container module
##### STEPS TO REPRODUCE

[code]

[code]
##### EXPECTED RESULTS

My docker container should be run with a random port exposed. When I run the docker commands th

[2016-07-01 19:46] thalesac commented on #3444
It seems that Ansible devs are ignoring versioning.
Bug fixes should be regressive, creating 2.1.1 versions or at least pushing the bugfix version to the repository channels.
I have a "stable" version from pip/oficial ppa repository which is not actually stable - 4 months after this bug was reported.

Ansible is an excellent tool, but it's doomed to fail if they deal to bugs like this. I have repo

[2016-07-01 20:10] chrisweaver commented on #3444
I think DeHaan just burned out and needed a change.  But I agree, a bug this severe should not have made it to a point release.  I was understandably distressed when a core part of our AWS stack build that had been working for months suddenly stopped.

Then again, if it's working for some people... @thoughtexchange @colin-lyman is there something different you are doing with ELB policies?  We don'

[2016-07-01 20:54] pbudzon opened #4092 "Ansible-playbook with local connection cannot become user for postgresql_user"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

postgresql_user
become?
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default.
##### OS / ENVIRONMENT

Ubuntu 14.04. Problem does not seem platform specific.
##### SUMMARY

Running `ansible-playbook -c local playbook.yml` with postgresql_user and become fails:

[code]
##### STEPS TO REPRODUCE

The following playbook:

[code]

run as `ansible

[2016-07-01 22:09] #4055 closed, assigned to bcoca

[2016-07-01 23:35] jedelman8 commented on #4082
What @GGabriele said is all accurate.  You could also do state=absent trunk_vlans=2=4096 as you bootstrap all interfaces, then do what you wanted to originally.  Understandably, that may not be what you desire, but I think longer term one approach would be to have a flag that offers "allowed" or "add" - need to think this through and test.

Regarding the extra command in the 'show' output, that is

[2016-07-02 01:18] #32 closed, assigned to nobody

[2016-07-02 02:32] ghost commented on #3444
@chrisweaver I'm going to investigate more Monday to see if I can find a fix but it is still inconsistent now. To provision ELBs, with the devel branch, I usually have to run the playbook twice since one will error out about backend policies. But not always on the same ELB and if you recreate it, it works.

I recently submitted another fix for the IAM cert. module and I agree, if there isn't suffi

[2016-07-03 06:35] jean-christophe-manciot opened #4098 "Exception while running ios_command which times out after correctly executing a command"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ios_command
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

inventory   = ./hosts
roles_path = /home/actionmystique/Program-Files/Ubuntu/Ansible/git-Ansible/roles
fact_caching = redis
fact_caching_timeout = 86400
##### OS / ENVIRONMENT
- host: Ubuntu 16.04 4.4.0
- target: **IOSv 15.4** (20140730:011659)
##### SUMMARY

ios_command executes the

[2016-07-03 06:35] jean-christophe-manciot commented on #4098
There is **no such exception** when running the same playbook on a remote
- **CSR-1000v**: IOS-XE 3.17
- **IOSv-L2** 15.2(4.0.55)E

[2016-07-03 06:36] jean-christophe-manciot commented on #4098
On a **7200 IOS 15.2**, the exception is different:

[code]

[2016-07-03 13:21] robinro commented on #3782
I cleaned up the PR:
https://github.com/ansible/ansible-modules-core/pull/3912 (fix)
https://github.com/ansible/ansible/pull/16224 (integration tests)

[2016-07-03 23:09] guhcampos opened #4099 "docker_container command does not accept YAML folded scalars"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible-modules-core/cloud/docker/docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No relevant changes
##### OS / ENVIRONMENT

Confirmed in Mac OSX (installed from Brew) and Archlinux
##### SUMMARY

The `command` parameter does not work if the command is composed of a YAML folded scalar. Returns a `(\"oci runtime error: exec: \

[2016-07-03 23:16] guhcampos commented on #4099
It seems that

`command: ls -l`

Also does not work.

So the problem might no be with folded scalars at all, but in the way `docker_container` passes the command on to Docker.

#### Example Playbook

[code]

#### Example output

[code]

[2016-07-04 02:20] imincik commented on #3763
I also confirm this behavior. Urgent security fix is required !

[2016-07-04 02:24] PikachuEXE commented on #4088
I think the option can be named `cleanup` to align with what the Docker doc called the option
https://docs.docker.com/engine/reference/run/#/clean-up-rm

[2016-07-04 03:37] srstsavage commented on #4088
@PikachuEXE makes sense to me, renamed proposed `remove` parameter to `cleanup`.

[2016-07-04 11:19] oryband commented on #2269
also `restarted` state causes the same error

[2016-07-04 11:50] truptimali commented on #3810
Hi,
I am also facing the same problem. It used to work before.

[2016-07-05 02:53] anthcourtney commented on #454
+1.

Out of interest - it's been about 20 months since this ticket was first created. How close to the top of the todo pile is it?

[2016-07-05 08:19] woodcoder commented on #3339
Also seeing this in Ansible 2.0.1.0 on OS X.

The `ansible_ssh_private_key_file` set in a vars_file including a variable of `{{ keypair_name }}` is not expanded in the rsync call in the synchronize module.  Even though it is correct when using ssh and in debug messages.

The given workaround:

[code]

works for me.

[2016-07-05 08:23] Delivion-GmbH commented on #4071
Hi, the both ideas you mentioned are working fine! Thank you very much. Feel free to close the issue.

[2016-07-05 08:59] omame commented on #3241
[This thread](https://github.com/ansible/ansible/issues/16078) has a possible explanation.

[2016-07-05 09:35] ghost commented on #4099
interesting, I wasn't able to reproduce it.

[code]

[2016-07-05 10:43] dmitrybelyakov commented on #2991
Yeah, same here...

[2016-07-05 10:47] chouseknecht commented on #4035
I'm not able to reproduce this running from the latest in the devel branch. Here's my playbook:

[code]

[2016-07-05 11:14] chouseknecht commented on #4099
Using the latest in devel, I'm not able to reproduce.

The playbook:

[code]

The output:

[code]

[2016-07-05 11:14] #4099 closed, assigned to nobody

[2016-07-05 11:40] stianvi opened #4103 "Enable the use of JSON for junos_command"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

network/junos/junos_command.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

--- JUNOS 15.1R3.6 built 2016-03-24 18:40:35 UTC
##### SUMMARY

Enable format JSON for output from junos device running 14.2 or higher.
From 14.2 onward, junos supports JSON
##### STEPS TO REPRODUCE

[code]

Results:

[code]

[2016-07-05 13:18] jglapa opened #4106 "--diff options not showing differences for template module when using with_items"
So I see that similar issues were reported and closed since a while but whatever version 2.x I wouldn't be using it just doesn't work.
https://github.com/ansible/ansible/issues/15492
https://github.com/ansible/ansible/issues/13232
https://github.com/ansible/ansible-modules-core/issues/3715
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
- template
##### ANSIBLE VERSION

[code]
##### CONFIGURATI

[2016-07-05 13:23] bcoca commented on #4106
dupe of #4010

[2016-07-05 13:23] #4106 closed, assigned to nobody

[2016-07-05 13:26] Shrews commented on #3065
Hrm. Difficult to be certain, but I think I found a bug in update_router() where this could occur. If there was actually nothing to update, that call is returning None rather than a router dict. That is definitely a bug in shade, but that would also mean that our _needs_update() method in os_router.py probably has a bug as well.

@udis: Could you please try this change to shade to see if it correc

[2016-07-05 13:43] #2664 closed, assigned to nobody

[2016-07-05 13:45] Shrews commented on #3065
So, I think I've convinced myself to fix os_router rather than shade because others may be depending on the None return value from update_router(), and changing that breaks the API for them. Let me put up a PR for os_router.py instead...

[2016-07-05 14:21] domdom82 commented on #4029
Ran into the same issue today. +1 to fix this.

Using this as a workaround:

[code]

[2016-07-05 14:27] OldCrowEW commented on #3597
I am running into this issue. Is there a fix? I am running from trunk. Current log shows me @ commit c5d4151234fd4dfc797bfdfe277f02eeddc34f6d

[2016-07-05 14:33] praneethr commented on #4035
@chouseknecht  For the VM's created by azure_rm_virtualmachine module, I am able to power off. For the VM's created by azure_rm_deployment or created from azure portal with ssh_public_keys.. I am unable to stop.

[2016-07-05 14:35] dagwieers commented on #3597
Yes, look at the reference above.

[2016-07-05 14:35] eirnym commented on #2423
I have same issue with any archive on OS X/FreeBSD which contains or not `._filename` files.

The bug is unarchive.py when handler tries to check if file is already unpacked. `tar` command doesn't accept `-d` and `--diff` parameters so is_unarchive() function is useless :-)

More so, execution result hasn't checked at all.

Please, add compatibility layer for FreeBSD/OSX.

My ansible version is `2

[2016-07-05 14:43] OldCrowEW commented on #3597
looks like the patch isnt passing travis tests. is it safe?

[2016-07-05 14:44] Shrews commented on #3065
@udis: Ok, how about trying this PR:

https://github.com/ansible/ansible-modules-core/pull/4107

[2016-07-05 14:56] stefanandres opened #4108 "os_security_group_rule is not idempotent for port_range_min: -1 as advertised in the documentation"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

os_security_group_rule
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

When using the example from http://docs.ansible.com/ansible/os_security_group_rule_module.html for '# Another way to create the ping rule' - but use tcp instead of icmp, ansible is not idempotent.
##### STEPS TO REPRODUCE

[code]

[code]

[2016-07-05 17:40] nirik commented on #1509
Seeing this here also with:

ansible-playbook 2.1.0.0
  config file = /home/kevin/.ansible.cfg
  configured module search path = Default w/o overrides

Test playbook:

[code]

[code]

(run with check shows changed, when it shouldn't)

verbose output from the check run:

[code]

[2016-07-05 17:43] nitzmahone commented on #4071
No problem- glad it helped!

[2016-07-05 17:43] #4071 closed, assigned to nobody

[2016-07-05 18:58] #3782 closed, assigned to nobody

[2016-07-05 19:17] perzizzle opened #4109 "Unarchive unable to handle square brackets"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

unarchive.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 6.5
##### SUMMARY

unarchive fails to unzip a zip file that contains a file named [Content_Types].xml. This was working in ansible 2.0
##### STEPS TO REPRODUCE

Create a zip file that includes square brackets then run unarchive in a playbook

[code]

####

[2016-07-05 19:50] ryansb commented on #1888
Yep, libcloud is responsible for handling this scope list, and we don't keep a copy. Closing this issue.

[2016-07-05 19:50] #1888 closed, assigned to nobody

[2016-07-05 22:33] erikdw commented on #2480
It seems that this isn't actually fixed with the addition of `extra_opts` to the `unarchive` module in #3307.

Specifically, when setting `extra_opts="--strip-components=1"` I see the unarchive module complaining about the dir not existing:

[code]

That implies to me that the unarchive module does some validation that the file was "exploded" correctly, but this validation is preventing the remova

[2016-07-05 22:37] dagwieers commented on #2480
Sigh, yes, someone broke the `extra_opts` option when implementing pure-python file-list retrieval for the gtar implementation. It's been explained a few times in the issues, yet people seem to report this over and over again. Search for `unarchive` to get the full scope.

[2016-07-05 22:40] dagwieers commented on #2480
A recent change (#3575) has broken the `exclude:` and `extra_opts:` functionality by implementing a pure-python `files_in_archive` implementation which is incompatible with gtar's pattern matching. @abadger Can we pretty please undo this broken PR #3575 ? See: https://github.com/ansible/ansible-modules-core/pull/3575#issuecomment-222116332

[2016-07-05 22:41] nitzmahone commented on #4004
Another suggestion: always use straight YAML syntax (as opposed to Ansible key=value syntax) for tasks with Windows paths - several of Ansible's KV parsers are unkind to backslashes, and there are some cases where it's impossible to represent the path correctly when a KV parser is involved (the command-line KV parser is the worst offender). If you're using straight YAML in 2.x, you shouldn't usual

[2016-07-05 22:51] nitzmahone commented on #4004
A couple of related doc updates at https://github.com/ansible/ansible-modules-core/commits/4a0a9cd1fccb2be29850941554db2c10f221f1c7. Thanks!

[2016-07-05 22:51] #4004 closed, assigned to nitzmahone

[2016-07-05 23:00] erikdw commented on #2480
@dagwieers : thanks for the quick reply!

[2016-07-05 23:02] erikdw commented on #2480
@dagwieers : and sorry to be a pest, but from spending some time reading about the issue, it's not clear to me that reverting PR #3575 would fix the specific issue I pointed out; i.e., in my issue the `extra_opts="strip-components=1"` _does_ work in terms of removing the base component from the resultant exploded path. But then there is a validation step that is preventing the unarchive module fro

[2016-07-05 23:04] ToBeReplaced opened #4111 "Importing from action plugins depends on task order"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

action_plugin
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

CentOS 7.2
##### SUMMARY

Importing from action plugins depends on the task order.
##### STEPS TO REPRODUCE

Create an action plugin that imports another action plugin.

action_plugins/test_import.py

[code]

library/test_import.py

[code]

Now test_play.

[2016-07-05 23:06] #4111 closed, assigned to nobody

[2016-07-05 23:06] ToBeReplaced commented on #4111
Closed because belongs in ansible/ansible. issue reopened there.

[2016-07-05 23:15] dagwieers commented on #2480
@erikdw The validation step (which is actually a step to set the right permissions/ownership if needed) is based on the pure-python `files_in_archive` implementation that does not take into account any `extra_opts` or `exclude` settings. So yes, to be expected...

[2016-07-05 23:20] erikdw commented on #2480
@dagwieers : ok, great, thanks for assuaging my concern.

[2016-07-05 23:23] timlnx opened #4112 "New core module submission: XML"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

new module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

_N/A_
##### OS / ENVIRONMENT

_N/A_
##### SUMMARY

This is a new module submission for consideration in **core**: _xml_

Presently hosted at https://github.com/cmprescott/ansible-xml with an open issue to track progress of acceptance as an upstream module in https://github.com/cmpres

[2016-07-06 02:37] linusgg opened #4113 "systemd daemon-reload bug"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

systemd
##### ANSIBLE VERSION

ansible 2.2.0 (devel 0430923647) last updated 2016/07/05 14:46:17 (GMT +1000)
  lib/ansible/modules/core: (detached HEAD 1d0d5db97a) last updated 2016/07/04 16:05:48 (GMT +1000)
  lib/ansible/modules/extras: (detached HEAD 00b8b96906) last updated 2016/07/04 16:06:19 (GMT +1000)
  config file = /etc/ansible/ansible.

[2016-07-06 02:53] asmodehn opened #4114 "More solid language features"
Sorry if this is useless as an issue, feel free to close.

I am pretty new to ansible, and getting used to it triggered a lot of confusion and frustration, because of the different scopes for variables, and how to pass parameters, and role dependencies, etc. all this doesnt seem consistent as a whole...
I feel like all this is a hadoc description yaml format, slowly evolving while needs arise.

Bu

[2016-07-06 09:15] jhawkesworth commented on #4114
I am just a community volunteer so this is just my opinion but I think the idea with ansible was to make it less of a programming language and using human-readable yaml and keeping the programming constructs minimal was part of that.

I think it was likely that this was thought about as the project founder, Michael DeHaan, previously wrote func https://fedorahosted.org/func/ (and Cobbler).

If you

[2016-07-06 13:39] bcoca commented on #4113
shoudl already be fixed via 380fb2be59c5bdc26992db156a0e25772bf70f6a

[2016-07-06 13:39] #4113 closed, assigned to nobody

[2016-07-06 15:45] zagyi commented on #4085
I'have also hit this problem. My quick workaround is to upload the docker-compose.yml files as follows:

[code]

And then refer to the project so:

[code]

Not nice, but works for now.

[2016-07-06 16:09] Xat59 commented on #335
Hi guys and @cchurch !

It seems this feature does not work yet , how can I help you or temporary use a workaround ?

Thank you guys !

[2016-07-06 16:36] tomaspinho commented on #3810
This is still a bug, Ansible expands all files contained in the zip to the command line as to select them all for extraction. Can someone reopen this?

[2016-07-06 16:37] dgjnpr commented on #3763
Ack on the forcible push behaviour. If your image name contains a "/" this module will try to push it a registry - regardless of the argument 'push' value. And I tend to agree that this is not expected behaviour.

Removing or replacing the "/" from the image name resolves the problem.

[2016-07-06 16:39] tomaspinho commented on #4109
This is related to #3810, ansible expands all included filenames as arguments to unzip and seems not to be escaping them correctly.

[2016-07-06 16:54] chouseknecht commented on #4085
Not sure this is a bug report as much as a feature request. But, seems like a reasonable request. I'll see if we can perhaps use the same logic as the file module.

[2016-07-06 17:03] dgjnpr opened #4116 "docker_image ends with exception in docker-py dependency"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

docker/docker_image
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No configuration modifications have been made.
##### OS / ENVIRONMENT

Running OS X 10.11.5 using Docker beta 1.12.0-rc3-beta18 (build: 9996)
##### SUMMARY

docker_image is able to build a container locally, however it raises a ValueError and so does not exit gracefully.

Thi

[2016-07-06 17:50] kontrafiktion commented on #2509
@atulhm do you have multiple Pythons installed? OS X normally comes with a Python at `/usr/bin/python` and Ansible uses that Python. Try if you can use dopy with /usr/bin/python.
It looks like you are having another python installed at '/usr/local/bin/python' (I assume via HomeBrew?).
But when Ansible "connects" to localhost it again uses the default interpreter at /usr/bin/python

[2016-07-06 17:56] kontrafiktion opened #4117 "digitalocean tag support"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

digital_ocean
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

DigitalOcean now supports tagging of Droplets.
Ansible should offer support for using tags

E.g. to ensure that a tag exists:

[code]

I am already working on adding the support. Just wanted to create an issue to avoid duplication of

[2016-07-06 18:06] jean-christophe-manciot opened #4118 "Defining a static IP address with "ansible_host" for a remote hostname in inventory file is useless"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Inventory file
##### ANSIBLE VERSION

[code]

Same issue with 2.1.1.0
##### CONFIGURATION

inventory = ./hosts
roles_path = /home/actionmystique/Program-Files/Ubuntu/Ansible/git-Ansible/roles
fact_caching = redis
fact_caching_timeout = 86400
##### OS / ENVIRONMENT

host: Ubuntu 16.04 4.4.0
##### SUMMARY

If I provide the DNS mapping of a remote h

[2016-07-06 19:13] lihan commented on #4030
Hi @jensonb Thanks for sharing an alternative solution. But it achieved different results.

It is not attached as boot disk, but extra attached disk for an instance. It requires developer to use a different directory to install certain packages while some of them cannot move to alternative paths.

This feature has already supported in `libcloud`, see http://libcloud.readthedocs.io/en/latest/comput

[2016-07-06 20:29] kontrafiktion commented on #3899
@DerykHopley  Could you please test with the latest version of dopy (0.3.7a) which was released in November 2015.
I think it might already be fixed.

[2016-07-06 20:53] hartzell opened #4119 "yum module doesn't install group if 'state=latest' but does if 'state=present'"
I've seen #2510 and it seems to address the _name_ of the group, not whether the state is present or latest.  Neither the note nor the Redhat docs that @abadger linked to address the issue of "state", just the group name.

##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

yum module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No changes.
##### OS / ENVIRONMENT

Running ansible built via h

[2016-07-06 21:33] Jonnymcc opened #4121 "S3 module cant get file from second account using IAM role"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

amazon/s3
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

`Linux ip-10-0-0-29 4.4.5-15.26.amzn1.x86_64 #1 SMP Wed Mar 16 17:15:34 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`
##### SUMMARY

The S3 module returns a permission denied error when trying to get a file from an S3 bucket from a different account when using an IAM role. More info can

[2016-07-06 21:44] dagwieers commented on #2480
Fix #3767 is merged, can you please retest ?

[2016-07-06 21:44] dagwieers commented on #3988
Fix #3767 is merged, can you please retest ?

[2016-07-06 21:46] #3980 closed, assigned to nobody

[2016-07-06 22:16] #3597 closed, assigned to nobody

[2016-07-06 22:19] abadger commented on #3988
This should now be fixed.  Going ahead and closing it.

[2016-07-06 22:19] #3988 closed, assigned to nobody

[2016-07-06 22:23] abadger commented on #3552
These problems should be fixed in devel and the latest commits to the stable-2.1 branch and should be i nthe next release.  The module now has code that first always uses the C locale and then unescapes octal into a representation that we can work with.  I'll go ahead and close this now.  If the problem still exists on the tip of those branches open a new bug report and we'll try to diagnose it.

[2016-07-06 22:23] #3552 closed, assigned to nobody

[2016-07-06 22:27] abadger commented on #3228
Both of the problems reported here  should be fixed in the latest code in devel and the stable-2.1 branch and should be in the next release.  I'm going ahead and closing this.  Please open a new bug report if this one of the problems still persists.

[2016-07-06 22:27] #3228 closed, assigned to nobody

[2016-07-06 22:34] abadger commented on #2480
#3767 has been merged wihich should revert #3575.  the commits are in devel and cherry-picked to stable-2.1.  I'm going to close this as it should be fixed in the next release.

[2016-07-06 22:34] #2480 closed, assigned to nobody

[2016-07-06 22:35] abadger commented on #1292
Closing as the new functionality in #3307 shoud solve this.

[2016-07-06 22:35] #1292 closed, assigned to nobody

[2016-07-06 22:48] erikdw commented on #2480
@abadger  & @dagwieers : I just tested the unarchive with strip-components being 1, using the devel branch, and observed the [same behavior I reported above](https://github.com/ansible/ansible-modules-core/issues/2480#issuecomment-230622276).

Though I'm not 100% sure if I've got everything set up right (honestly, the complication of git submodules are not helpful in this regard).   Here's what I

[2016-07-07 01:37] willthames commented on #1509
@nirik, it's helpful if you wrap your output and playbook in triple backticks.

[2016-07-07 01:46] gkhays opened #4126 "vsphere_guest: Deploy from template receives [NoPermissionFault]"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

vsphere_guest
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

[code]
##### SUMMARY

When _not_ running as administrator, a permission fault is received when attempting to deploy from template.

[code]

Assigned vSphere user the following permissions:
- `Datastore.AllocateSpace`
- `VirtualMachine.Inventory.CreateFromExist

[2016-07-07 02:00] nirik commented on #1509
Sorry. Edited, hopefully thats more readable now...

[2016-07-07 02:02] willthames commented on #1509
@nirik, ok, this is a problem with checkmode only.

It's fixed in #3025. I would expect that to go out with 2.1.1 but it doesn't appear to be in the RC, so I'll let @jimi-c know.

[2016-07-07 03:01] abadger commented on #4092
The local connection plus remote_user is what's confusing ansible.  Local connection ignores the remote_user but it doesn't clear it so the code that's checking whether you should have permission to chown thinks that you are going to be able to connect as root rather than being connected as a normal user.  When chown fails even though it thinks you are root it gives up, assuming that there must be

[2016-07-07 03:09] abadger commented on #4092
@jimi-c and I discussed this and we think that the more correct thing to do is to set the remote_user to the user invoking ansible when connection=local.  He's going to look into writing a PR to implement that.

[2016-07-07 03:31] nirik commented on #1509
Thanks much for looking at it.

[2016-07-07 04:37] jimi-c commented on #4092
Fixed by 9248cde2398e3dd604d3d079e8fe0061d72c9a19 (and cherry-picked to stable-2.1, so it will be included in 2.1.1).

f you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https:

[2016-07-07 04:37] #4092 closed, assigned to nobody

[2016-07-07 07:50] DerykHopley commented on #3899
@kontrafiktion this indeed does seem to be fixed. Playing around with creating droplets at the moment. Thanks

[2016-07-07 08:00] asmodehn commented on #4077
or maybe it s the become in dependency that doesnt get passed through ?
I m still fighting these... not really used to ansible yet.

[2016-07-07 09:08] dagwieers commented on #2480
@erikdw In my tests it does not seem to work, and this is the reason why:

The gtar command in `-t` (list) mode using `--strip-components=1` does not return the files with stripped paths, it returns the content of the archive. So this option (and every other option that has no effect on `-t` mode) will not work. Not sure if this is a bug in gtar, or just an anti-feature.

[2016-07-07 09:19] dagwieers commented on #2480
FWIW The `--exclude` option does work in `-t` (list) mode. So it is unclear to me how the developers envisioned this to work.

[2016-07-07 09:23] dagwieers commented on #2480
The plot thickens, there is an option `--show-transformed-names` which does show the filenames after transformations, and now it does work. A pull-request has been made.

FYI There is still a bug related it reporting a change every time. Still have to look into that one. Feel free to debug this yourself though ;-)

[2016-07-07 09:34] kernow commented on #3444
I'm running into this issue also. Why can't we have a bug fix in the 2.1 release and get a new version on pip. This is a major bug and waiting until 2.2 is released or pulling from git are not good options.

I do find it worrying that bugs like this happen and fixes take such a long time to be released. People are building critical infrastructure with this tool and the release approach feels a lit

[2016-07-07 10:20] nandakishore15 opened #4133 "Unable to list objects in a s3 bucket"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ubuntu 14.04.4 LTS
##### SUMMARY

Cannot list objects in a bucket.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

List objects in the bucket.
##### ACTUAL RESULTS

[code]

[2016-07-07 10:39] shaung commented on #3255
Simply reseting all locale environment variables causes checkout / update fail on repos that contain unicode filenames.

I'm not sure what does it mean by "we screenscrape a lot", but it would be better if there is a switch to control this "reseting all" behaviour anyway.

[2016-07-07 13:10] dagwieers commented on #2480
Debugging this issue, I see the following:

[code]

So the warning is related to the fact that with `--strip-components=1` there is an empty entry and the implementation does an lstat("") for this entry which causes a _No such file or directory_ (seems to me like a bug in the implementation).

The reason why we do get a change is because it reports that the _Mode differs_ which is not correct, the

[2016-07-07 13:32] dagwieers commented on #2480
Alright, hopefully the last update here. The real problem was related to the incorrect **No such file or directory** error message for empty filenames. Once I have filtered that one out, it appears to work correctly. I updated the PR, please test and report back (in the PR itself).

[2016-07-07 13:45] dagwieers commented on #4109
Easy to fix if you know the answer (which you do).
Waiting for the pull request from @tomaspinho ;-)

[2016-07-07 14:27] dagwieers commented on #4109
Looking at this, the problem seems a bit strange. Simply quoting (what should work and we do) does not work for unzip, you have to quote **and** escape characters.

I modified my code to use `pipes.quote()`, but that fails as well (and is not python3 compatible).

[code]

[2016-07-07 14:28] pporada-gl commented on #4133
Per documentation, list should be available.
http://docs.ansible.com/ansible/s3_module.html

[code]

Does this happen to you on ansible 2.1.x?

[2016-07-07 15:39] nandakishore15 commented on #4133
I don't have 2.1.x installation handy. So, cannot check if I can reproduce it on 2.1.x. Sorry.

[2016-07-07 15:42] dagwieers commented on #4109
Should work now with that new pull-request #4131. Please test !

[2016-07-07 15:53] tomaspinho commented on #4109
@dagwieers ahah, I'm not really a Python dev, though 😛. Any forseable way to fix #3810? It was closed by the original issuer, but the problem persists. I've had to resort to using unzip as a shell command.
Thanks for this!

[2016-07-07 15:57] ghost commented on #3444
My current playbook creates 5 ELBs. It usually fails on the last one or two; if I re-run it, it finishes.  I plan on investigating to see why this weekend but it isn't a showstopper at the moment.

[2016-07-07 15:59] dagwieers commented on #3810
Well, this is required in the sense that in order to have an idempotent unarchive module, we need to make a list of files that have to be extracted. The old behaviour extracted everything always. The new behaviour will only extract modified files. Granted if that list is very long, you get this issue.

So I am willing to improve it as to not provide the complete list if no files have been explicit

[2016-07-07 16:02] #2620 closed, assigned to nobody

[2016-07-07 17:04] nandakishore15 commented on #4133
Apparently somebody put a patch file for s3 and forgot to update. This issue is resolved. My apologies for the trouble.

[2016-07-07 17:04] #4133 closed, assigned to nobody

[2016-07-07 17:22] praneethr commented on #4035
HI Chris,

Just want to update that For the VM's created by azure_rm_virtualmachine
module, I am able to power off/deallocate successfully. For the VM's
created by azure_rm_deployment or created from azure portal / azure
templates with ssh_public_keys.. I am unable to stop.

Thanks,
Praneeth

On Tue, Jul 5, 2016 at 6:47 AM, Chris Houseknecht <notifications@github.com>
wrote:

[2016-07-07 17:29] hagbarddenstore opened #4134 "systemd: Shouldn't specify version when it's unreleased"
The systemd module shouldn't specify a version if that version isn't released. Especially when that release doesn't exist yet. It'd be much nicer if it was explicit about not being released yet.

[2016-07-07 17:46] bcoca commented on #4134
All new modules MUST specify the version in which they are released.

[2016-07-07 17:47] bcoca commented on #4134
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-07-07 17:47] #4134 closed, assigned to nobody

[2016-07-07 19:10] fideloper commented on #3447
The docs are  unclear: Do I need to set AWS_REGION and the credentials on the machine Ansible SSH's into, or just on the machine Running Ansible?

I'm guessing it needs them for the server be connected to. The weird part is I receive the region error (no region set, note the extra space between "Region does": `Region  does not seem to be available for aws module boto.s3`) even when I specify the r

[2016-07-07 19:41] Dave-Snigier commented on #4112
+1

When I started using Ansible I was surprised to find no XML module was available in core. As an enterprise user this is vital for being able to edit certain configuration files (think Java).

[2016-07-07 21:06] #3727 closed, assigned to privateip

[2016-07-07 21:07] privateip commented on #3727
When running in check module, eos_command will only allow show commands now

[2016-07-07 22:18] einarc opened #4138 "Avoid evaluating register commands if a conditional fails."
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

register
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

the register parameter is executed regardless of whether the WHEN conditional is true or false.
##### STEPS TO REPRODUCE

1.-Write code that executes the same module with different parameters depending on a conditional.
2.- On each of the m

[2016-07-07 23:10] Caveat4U commented on #3752
@resmo I think this issue is still open. I saw the code you had (which looked fine) and the PR, but it looks like the PR wasn't merged. Can we re-open?

[2016-07-08 02:01] willthames commented on #1509
2.1.1 RC2 does indeed contain this commit.

[2016-07-08 02:05] erikdw commented on #2480
@dagwieers : I would like to test, but these git submodules are beyond my current abilities.  i.e., if I just wanted to use your branch I'm not sure *how* to do that in the git submodule -- I know how to it with regular git repos.

[2016-07-08 02:13] erikdw commented on #2480
I tried hand-copying your `unarchive.py` file from #4131, but then after I ran `source hacking/env-setup` and then tried my playbook I got this error:

[code]

Notably, I don't get that error when I *don't* have your `unarchive.py` hand-copied into my repo.

[2016-07-08 05:01] jhawkesworth commented on #4112
Could you open it as a pull request -like https://github.com/ansible/ansible-modules-core/pull/4122 but against ansible-modules-extra instead of ansible-modules-core?

May as well keep this feature idea as a reminder to move it into core modules, but let's get it into extras first.

[2016-07-08 07:30] jhawkesworth commented on #3700
I am investigating this now.
It seems the failure occurs in the copy action plugin, which currently is used by both windows and linux targets.  I am hoping I can just override some methods to at least stop this from causing a traceback.

[2016-07-08 08:56] robinro commented on #3782
@rodecker This issue is fixed in the freshly released 2.1.1rc2.

[2016-07-08 09:19] ghost opened #4139 "docker_container module purge_networks FAILS"
#3796
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Added path to my own roles in ansible.cfg
##### OS / ENVIRONMENT

Linux 4.2.0-27-generic #32~14.04.1-Ubuntu SMP Fri Jan 22 15:32:26 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
##### SUMMARY

Trying to use purge_networks option in a role. Fails while running. Python doesn't like

[2016-07-08 10:27] tomaspinho commented on #3810
I've been researching possible solutions, but unfortunately unzip does not have a --files-from flag as tar does. Placing filenames in a temporary file could have been a possible hack.

In regards to the possibility of having unzip functionality ported directly to Python, https://docs.python.org/3/library/zipfile.html seems to cover most of the use cases for the Ansible module.

[2016-07-08 11:32] dagwieers commented on #3810
A pure-python module is the way to go, but is also limiting (e.g. xz support). I am already working on an `uncompress` module that is pure-python.

Problem is that it won't be a drop-in replacement due to `extra_opts`. But it will be idempotent, and support check-mode and diff-mode !

[2016-07-08 15:35] kamikaze commented on #902
+1

[2016-07-08 18:00] srstsavage opened #4140 "docker_container, docker_service, and docker_image need insecure_registry option"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

`docker_container`, `docker_service`, and `docker_image`
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Debian Jessie (8.5)
##### SUMMARY

The deprecated [`docker`](http://docs.ansible.com/ansible/docker_module.html) module has an `insecure_registry` option which makes connections to the Docker registry use `http` instead of `https`. The

[2016-07-08 18:07] srstsavage commented on #4140
@chouseknecht

[2016-07-08 19:01] jctanner commented on #4114
Please submit this as a proposal.

[2016-07-08 19:01] #4114 closed, assigned to nobody

[2016-07-08 19:06] denise-sanders commented on #4088
The default value should be false, right? Because that is what people will expect? (I am looking at implementing this)

[2016-07-08 19:11] srstsavage commented on #4140
Actually, I'm going to close this one. If the Docker engine on the target server is configured with `--insecure-registry <registry_host>` in `DOCKER_OPTS` `docker_service` et. al will pull images from that registry without a problem. If it's useful for others to have this option available without configuring `DOCKER_OPTS`, please re-open.

[2016-07-08 19:11] #4140 closed, assigned to nobody

[2016-07-08 19:12] srstsavage commented on #4088
@deniseirvin Yeah, default should definitely be false. You could make the argument that defaulting to true when using `detach: false` would make sense, but it's more predictable to always default to false.

[2016-07-08 19:32] jctanner commented on #4118
The first column in an ini style ansible inventory file is called an "alias". This alias must be a resolvable name or reachable adddress for ssh unless the connection is local where modules aren't running on a remote host. The alias is _not_ added into the underlying libsolv libraries or hosts file of the system to make it reachable for all contexts of the ansible run. The ios_command module is ex

[2016-07-08 19:32] #4118 closed, assigned to nobody

[2016-07-08 19:55] denise-sanders commented on #4088
(idk if this is the place for this question) It is really trivial to implement this for non-detached containers, but for detached containers you have to wait for the container to stop running. Is it bad form for me to create a thread that will wait for the container to die, and then call remove?

[2016-07-08 20:17] jctanner commented on #4119
Reproduced. Preliminary patch ...

[code]

[2016-07-08 20:21] jctanner commented on #4119
Based on this commit, it seems like installing a group with latest was broken by new checkmode logic:

https://github.com/ansible/ansible-modules-core/commit/e5e0a70f#diff-50dbb2224ca8ab1fc7b6b693f9be32faR761

[2016-07-08 20:27] jctanner commented on #4119
With the patch I first posted, state=latest returns changed=True for every run. Need to figure out how update detection would work in that case.

[2016-07-08 20:37] jctanner commented on #4119
Slightly better approach ...

[code]

[2016-07-08 20:38] #3457 closed, assigned to jhawkesworth

[2016-07-08 20:43] jctanner commented on #4119
This one works on centos6 also ...

[code]

[2016-07-08 20:47] jctanner commented on #1441
Please retest this behavior on a recent verison of ansible. In (devel 3d7a7c1612) groups are not handled properly for update, but are handled for install. Once https://github.com/ansible/ansible-modules-core/issues/4119 is resolved, group updates should be handled correctly also.

[2016-07-08 20:47] #1441 closed, assigned to nobody

[2016-07-08 21:15] alikins commented on #4121
Can you reproduce this with ansible 2.1 or the devel version from git?

Newer versions of s3 don't seem to use boto3, but there are other bug fixes related to IAM roles.

[2016-07-08 21:18] alikins commented on #4138
Can you reproduce this with 2.1 or the devel version from git?

[2016-07-08 21:44] robusto commented on #3404
Moving my comment from #15603

Bug in "iam_policy" module seems to be around "pdoc" getting read in as a Python string no matter what is provided (string or dict) and JSON never gets encoded before executing the IAM "PUT" operation.

In the "iam_policy" module, setting the type of the "policy_json" parameter to 'dict' works around this issue for me.

Diff on iam_policy.py at Line 280:

[code]

WFM

[2016-07-08 22:02] chouseknecht commented on #4088
Is this more solvable already with docker_service? With docker_service you can stop, start and scale the app. It consumes compose, so it automatically handles multiple instances of the same service.

docker_container is predicated on _name_ being a required option, and the assumption (right or wrong) is that the container name uniquely identifies the container.

[2016-07-08 22:04] chouseknecht commented on #3949
I think adding support for ignore_image is actually a bad idea. We should rather correct the documentation.

[2016-07-08 22:07] chouseknecht commented on #3670
I'm saying that the docker_container module is overly complex already. Is there any reason the app could not be described in compose and then managed via the docker_service module?

[2016-07-08 22:16] denise-sanders commented on #4088
@chouseknecht I am not sure what you mean- are you saying the user should run docker-service whenever they want to delete the container after execution?

[2016-07-09 00:40] srstsavage commented on #4088
@chouseknecht yeah, I can't imagine how `docker_service` would solve this (running a container and removing it/cleaning up when it's finished running).

@deniseirvin I'm afk and can't test, but I thought using `detach: true` would already wait for the container to finish running?

[2016-07-09 00:45] ToBeReplaced commented on #3670
@chouseknecht Yes, I think that that most apps, or at least certainly mine, could be described in compose. Do you intend to deprecate `docker_container` in favor of `docker_service` and push these decisions onto the compose folks? I'd like to know where to invest my energy.

In my opinion, `docker_container` is only incidentally complex because it attempts to use one module to describe everything

[2016-07-09 00:56] arjun810 commented on #2951
Also using dohoangkhiem's workaround, but it'd be great if this worked reliably.

[2016-07-09 02:23] einarc commented on #3865
@kernow  Hey,

I finally got to publish it, check it here:
https://github.com/einarc/autoscaling-wordpress/blob/master/roles/wordpress/tasks/get_rds_endpoint.yml

And the call:
https://github.com/einarc/autoscaling-wordpress/blob/master/roles/wordpress/tasks/wordpress.yml

[2016-07-09 02:47] einarc commented on #4138
@alikins I don't know, I can't use 2.1 because that's full of bugs as well. Bugs I can't work around.

[2016-07-09 07:06] tkinz27 commented on #3719
So although I am just trying to pull images from an artifactory docker registry, I think I'm running into the same bug. Basically I have a task file like this...

[code]

Where the `jenkins_slave_image` = `artifactoryhost:8000/jenkins/slave` and `jenkins_slave_def.container_version` = `centos7-0.1.0` or `trusty-0.1.0`. I made some updates to the dockerfiles, built and pushed to our registry server

[2016-07-09 08:48] jean-christophe-manciot commented on #4118
I don't get your point at all: from [Ansible inventory documentation](http://docs.ansible.com/ansible/intro_inventory.html):

So, my inventory entry seems legitimate and should work; why have you closed this bug report?
Also, it's complicated to use /etc/hosts in my situation because I run Ansible on local labs where the same remote hostname may be used in different labs with different IP addresse

[2016-07-09 09:03] chouseknecht commented on #4088
@deniseirvin the docker_service module consumes compose, which means you can describe an entire app (one container or many) and manage it just as you would using the compose CLI. I'm suggesting using docker_service rather than docker_container.

@shane-axiom Yes, you can wait for the container to finish running via detach: false

Rather than adding yet another parameter to docker_container, I thin

[2016-07-09 16:51] jimsmith opened #4145 "rds module modify reports changed but nothing fired back to AWS"
##### ISSUE TYPE

- Bug Report
  Originally logged https://github.com/ansible/ansible/issues/16622
##### COMPONENT NAME

rds
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

Modifying RDS multi_zone to no doesn't do anything.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

AWS Console showing the RDS database being modified for No mu

[2016-07-09 20:52] srstsavage commented on #4088
State value of `cleaned` is sensible to me. Thanks!

[2016-07-09 22:19] gtrafimenkov opened #4146 "Service enabled during check run"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

system/service.py
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Debian 7
Ubuntu 12.04
Ubuntu 14.04
##### SUMMARY

In some cases service might be enabled during the check run.
##### STEPS TO REPRODUCE

The error is the same as https://github.com/ansible/ansible-modules-core/issues/1374 but happens only when there are no K-links in the /etc

[2016-07-10 01:24] harneksidhu opened #4148 "uri: Unauthorized access when hitting API"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

uri
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Host: Mac OSX 10.10.15
##### SUMMARY

I am trying to send an HTTP request to an API but I am unsuccessful at getting it to work. The corresponding `curl` command works flawlessly. I am aware that the `HEADER_` param is deprecated for 2.1 but the documentation sa

[2016-07-10 16:40] jean-christophe-manciot commented on #4098
The issue on IOSv is gone with ansible **2.1.1.0 RC2.**
However, it remains non functional on IOS.
I am wondering whether there is a minimal **paramiko** version requirement for ansible; mine is **1.16** from official Ubuntu repos. The last release is **2.0.1** on [pypi](https://pypi.python.org/pypi/paramiko/).

[2016-07-10 20:50] rcoup commented on #3949
Use case:
1. ansible playbook configures and ensures a docker container is running (`foo/bar`)
2. deployment playbook pushes a specific version (`foo/bar:build-1234`).

Playbook (1) should ensure _any_ version of `foo/bar` is running, without having to discover what specific version is running before the `docker_container` config (takes 2-3 more tasks)

[2016-07-11 01:52] asmodehn commented on #4114
I don't have much time to dedicate to ansible at the moment sadly, so I cant really drive that proposal just yet...

[2016-07-11 03:07] chouseknecht commented on #3949
I don't think that makes sense. What does make sense is... run playbook #1, create a container. Run playbook #2, push a new version of the image. Run playbook #1 again, detect that a new version of the image is available, recreate the container using the new image.

[2016-07-11 07:42] akvadrako commented on #1321
It's rather confusing that "name" is changed by the module

[2016-07-11 07:55] ryanooi commented on #663
+1

[2016-07-11 11:27] relistan commented on #3719
I'm seeing the exact same issue, and it seems to occur somewhat sporadically. Will be working and then I'll update a tag and it won't work any more. Manually pulling the images with `ansible -m shell` calling out to Docker first seems to clear it up, sometimes for a few deploys (even with different tags).

Also running 2.1.0.0.

[2016-07-11 13:41] #4146 closed, assigned to nobody

[2016-07-11 13:56] resmo commented on #4148
hmm based on your acctual results I can not see if the URL was used the way you specified.

Could you try it with quoting the url just to make sure there is no problem:

[code]

Thanks

[2016-07-11 13:57] denise-sanders commented on #4088
I agree!

[2016-07-11 14:01] #3065 closed, assigned to Shrews

[2016-07-11 15:29] #4139 closed, assigned to nobody

[2016-07-11 16:22] alikins commented on #4145
Looking at the code for that module it looks like it will always return changed=true for that case.
https://github.com/ansible/ansible-modules-core/blob/devel/cloud/amazon/rds.py#L832-L833

[code]

I can't tell from docs if the returned value from the modify_db_instance call is sufficient to tell if anything changed or not. But modify_db_instance likely needs to be updated to check, at least for a

[2016-07-11 16:39] supertom commented on #2111
/cc @ryansb @bjolivot PTAL.  The rule is now updated if the attributes change.

[2016-07-11 16:48] #4091 closed, assigned to nobody

[2016-07-11 16:48] alikins commented on #4145
Though the debug output above, ie:

[code]

... would seem to indicate that the response from the api thinks it wasn't changed. Was the result from
the first debug ('debug: var=modify_rds_multi_az') the same?

[2016-07-11 16:52] chouseknecht commented on #4088
Fixed with PR #4144. Ended up adding a `cleanup` parameter to be used in conjunction with `detach`. For example...

[code]

[2016-07-11 16:52] #4088 closed, assigned to nobody

[2016-07-11 17:21] #3989 closed, assigned to chouseknecht

[2016-07-11 17:55] chouseknecht commented on #4020
The module is working the same way that docker-compose works. For example, using the docker-compose file you provided:

Start centos1:

[code]

Now scale centos2:

[code]

Even though I did not explicitly say, 'start centos2', the scale command starts it with the correct number of instances.

[2016-07-11 17:57] jimsmith commented on #4145
The first task '- name: Change RDS Multi-AZ deployment' output shows changed = true and multizone = false

snippet as supplied

[code]

[2016-07-11 18:11] joaocc opened #4158 ""docker_service.build" does not recognize "true" (and needs explicit "bool" filter)"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_service
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

"docker_service" doesn't seem to be able to convert boolean parameter passed through a role without explicit "|bool" filter
##### STEPS TO REPRODUCE

Role (with problem)

[code]

Role (fixed)

[code]

playbook

[code]
##### EXPECTED

[2016-07-11 18:20] bcoca commented on #4158
do you get a specific error?

looking at the code, `build` IS set as a boolean and does conversion.

[2016-07-11 18:41] chouseknecht commented on #4116
I'm not able to reproduce the error.

Here's my test directory:

[code]

Contents of the Dockerfile and plugins.txt are copy-paste from above. And the playbook...

[code]

I'm running Docker Server version 1.11.1 via Docker Machine. I have docker-py 1.8.0 installed.

[2016-07-11 19:27] widyono-cets opened #4159 "Module rpm_key not cleaning up after itself"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Module rpm_key
##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
OpenSuSE

##### SUMMARY
tempfiles left around on ansible target system in /tmp

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
RPM key gets installed, tempfile from fetch_key() is unlinked

##### ACTUAL RESULTS
RPM key got installed, tempfile i

[2016-07-11 20:14] nirik opened #4160 "skipped pause with at least one unreachable host causes NO MORE HOSTS LEFT"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
- pause module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

standard.
##### OS / ENVIRONMENT

Fedora rawhide and RHEL7
##### SUMMARY

If there is one or more unreachable hosts in the host: list when a playbook gets to a pause: play, and that pause play is skipped by a when, the host list after that pause will be empty and you will get NO MOR

[2016-07-11 20:43] JoshRosen commented on #2353
Regarding the `Invalid header value 'AWS AKI_obfuscated_NA\\r:H_obfuscated_3Ass8='\n".` issue, I found an issue in a different project which suggests that this is due to Python security protection against HTTP headers that contain newlines: https://github.com/seporaitis/yum-s3-iam/issues/32#issuecomment-154902847

[2016-07-11 21:12] Jonnymcc commented on #4121
Tested with ansible 2.2.0, still a problem. I had a link in the summary to an issue in the boto repo, I believe the problem is with boto and not ansible. Like I suggested though, boto3 does work.

[code]

[2016-07-11 23:54] zeelot commented on #432
while browsing around I ran into this fella: https://github.com/wimnat/ansible-modules/blob/master/elasticache/elasticache_replication_group.py

I gave it a quick try and it seems to work ok (I submitted a PR for a small typo). The parameter names don't match the ones in `elasticache` but I wouldn't mind fixing things up if it's close.

Do we know what needs to be done to get something into module

[2016-07-12 00:13] joaocc commented on #4158
No error. It simply behaves as if I set it to false (the default) and no build occur (in the case where an image already exists).
Adding the "| bool" made things work as intended.

[2016-07-12 04:41] AnthonyWC commented on #1183
How does one fix this issue on the (newer style) aws config?

Tried

[code]

Gives the same error.  Also tried to put in .boto but got some other errors /w my dynamic inventory (ec2.py), is there a way to specify s3 config in .aws/config (like you could in s3 cli)?

[2016-07-12 08:00] ghost opened #4161 "docker_container module fails when no ports are exposed"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Added path to local roles.
##### OS / ENVIRONMENT

Host and guest
Linux 4.2.0-27-generic #32~14.04.1-Ubuntu SMP Fri Jan 22 15:32:26 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
##### SUMMARY

Not able to create container when no port is exposed.
##### STEPS TO REPRODUCE

Playbook

[c

[2016-07-12 08:07] #4160 closed, assigned to nobody

[2016-07-12 11:14] jhawkesworth commented on #3700
I have a modified version of win_file which lets the reproducer playbook run through now.
I am in the process of making some other improvements to win file but will create a PR to fix this as soon as I can.

[2016-07-12 13:53] rjma opened #4164 "unarchive module does not recognize 'creates' parameter"
Seen there is a closed bug on it #546
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

unarchive
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

ansible host: mac os El caption
target host: centos/7 and ubuntu/trusty64
##### SUMMARY

Using unarchive to unpack files from https://.
The 'creates' does not work. Unarchive always download and unpack the zip files.

I've s

[2016-07-12 16:54] #3719 closed, assigned to chouseknecht

[2016-07-12 17:09] #3763 closed, assigned to chouseknecht

[2016-07-12 19:20] Niceplace commented on #4118
Boy am I glad to read this !

I run ansible (2.1.0) in a docker container and I just spend 5 hours wondering why the heck it refused to connect via SSH to another machine which I could SSH into (by hand) just fine. I read the documentation and used the same variables in my inventory file because I understood the same thing from the documentation as you did. I kept getting a "ssh failed" error with

[2016-07-12 20:08] kyleroot opened #4169 "unarchive module does not recognize a symlink to a directory as representing a directory"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

files/unarchive.py
##### ANSIBLE VERSION

[code]

Retrv'd from EPEL.
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Linux fbbf91a0e92d 4.4.12-boot2docker #1 SMP Wed Jun 1 22:45:59 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
##### SUMMARY

It does not appear that the unarchive module recognizes a symlink to a directory as being a suitable target to

[2016-07-12 20:10] 2rs2ts commented on #19
Even if you don't support `apt-mark` in general it would still be nice to give the `apt` module something like the `yum` module's `exclude` option which could be implemented by using `apt-mark` behind the scenes.

[2016-07-12 21:39] abadger commented on #4064
This should be fixed in 2.1.1rc3 via cherry-pick to stable-2.1  da177b1

[2016-07-12 21:39] #4064 closed, assigned to alikins

[2016-07-13 07:02] h-hirokawa opened #4174 "azure_rm_virtualmachine module fails creating a virtualmachine when the name of vm contains upper-case."
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

azure_rm_virtualmachine
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Creating a new azure virtualmachine with upper-cased letter fails without setting a specific storage account because `AzureRMVirtualMachine.create_default_storage_account` try to create a storage account with upper-case.
As de

[2016-07-13 07:19] jhawkesworth commented on #3700
I just created https://github.com/ansible/ansible-modules-core/pull/4175 which contains a fix for this issue.  @JimBarber please can you test?

[2016-07-13 07:28] ghost commented on #4139
Ok, the command doesn't fail but the "bridge" network still exists.

Running with latest

[code]

[2016-07-13 07:54] eberhm commented on #727
+1

[2016-07-13 09:15] sigio opened #4177 "Using backup and with_items can loose the original file as you get the backup of the next to last item"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ini_file module
##### ANSIBLE VERSION

ansible 2.1.0
##### CONFIGURATION
##### OS / ENVIRONMENT

N/A (Linux, Debian Stable, ansible from pip)
##### SUMMARY

When modifying a single file with multiple changes using ini_file and with_items, together with the `backup=yes` option, the (possibly created) backup is overwritten by subsequent loop-runs.

[2016-07-13 09:28] sigio commented on #4177
Looks like this issue might affect many other modules as well....  module.backup_local should be patched to not clobber backup-files ? (or enforce unique names?)

[2016-07-13 09:30] sigio commented on #4177
Suggested patch (untested so far)

[code]

[2016-07-13 09:31] jean-christophe-manciot commented on #4118
My understanding is that this behaviour is a regression they chose to ignore.
Have you tried the following entry in the inventory file:

[code]

[2016-07-13 10:00] krzysztof-magosa commented on #3626
While it's legal to have two users having the same uid it's illegal to have many users with the same username. So I would say Ansible is working in right way.

[2016-07-13 11:11] jondubya commented on #902
+1

[2016-07-13 11:43] rcutmore commented on #4084
I'm new to Ansible but it seems like there are two options to fix this:
1. Allow `int` or `float` types for the `expires` parameter. I'm not sure if this is possible, it looks like parameter types can only be set to one type at a time.
2. Update the float type checking in the [AnsibleModule](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/basic.py#L593) class. If [_check_typ

[2016-07-13 12:55] daan944 commented on #2936
This fix is the dirtiest of them all.

As ShortyFR said: **"You shouldn't rely on English messages in modules."**

[2016-07-13 13:02] dagwieers commented on #2936
Guys, read the various reports instead of stating the obvious (over and
again). We need a pure-python module, no discussion about that. But what
would you prefer in the meantime ? That we stop working on this module
altogether, or that we remove this module until someone contributes a
pure-python drop-in replacement ?

Using gtar is a real pain, but it's what we currently have. I wish it was
diffe

[2016-07-13 13:49] Niceplace commented on #4118
Hi Jean-Christophe, I just tested your suggestion and it seems to work as well !
Maybe the documentation is not wrong after all, it won't work if a custom hostname is not specified.

To summarize, if the hosts file is structured this way :

[code]

Or this way

[code]

It will work, and the following ssh command will be generated by Ansible (I am specifying **-u centos** in my ansible command):

H

[2016-07-13 16:15] mullnerz opened #4178 "Reseting all locale environment variables causes checkout / update fail on repos that contain unicode filenames."
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

subversion
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

default
##### OS / ENVIRONMENT

Ubuntu 15.10 or 14.04
##### SUMMARY

Reseting all locale environment variables causes checkout / update failure on repos that contain unicode filenames.
This bad behavior was introduced with commit 7020c8dcbeb6d08761c014730ee61558793ac00f fixing the issu

[2016-07-13 19:41] compuguy commented on #3757
@sivel Thats great for cisco switches, but because there isn't a module for Mikrotik devices, this is a big deal. Is this going to be in a release sooner than 2.2?

[2016-07-14 10:41] thomwiggers opened #4183 "Allow to validate configuration with `file` module"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

file module
##### SUMMARY

The `copy` module supports a `validate` instruction. This allows to fast-fail if a broken config is merged. The`file` module does not support this. It would be useful however, e.g. in situations where config files are symlinked in place (e.g. sites-enabled with Apache, nginx on Debian/Ubuntu).

[code]

[2016-07-14 10:59] otaviomedeiros opened #4184 "docker_image module always returns changed with state: present"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_image
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

My ansible.cfg

[code]
##### OS / ENVIRONMENT

OSX
##### SUMMARY

`docker_image` module always returns `changed` with `state: present`
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

I expect that it only should be `changed` when it is executed the first time
##### ACTUAL RE

[2016-07-14 11:23] vikas027 opened #4185 "Windows: raw module does not show change in logs"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

[raw](http://docs.ansible.com/ansible/raw_module.html) module
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

##### SUMMARY

Ansible run should show the number of tasks **changed** when a file or directory is created
##### STEPS TO REPRODUCE

Create a playbook with below tasks

[code]
##### EXPECTED RESULTS

`changed=2` in ansible-playbook

[2016-07-14 13:22] bcoca commented on #4183
A common misconception is that validate works on the target file, it does NOT. It runs against the temporary file (%s) BEFORE it is copied into place. Since file is not creating a temporary file, it does not make much sense to have validate there.

You just probably want a task:

[code]

which you can ignore_errors/register if you want to continue play and deal with the failure in it.

[2016-07-14 14:40] jean-christophe-manciot commented on #4118
I have found the trick to workaround the issue in my situation: **no need to use /etc/hosts**, instead in each lab inventory file:
[code]
In the playbooks, inventory_hostname will be the IP address 192.168.137.242.

[2016-07-14 14:59] peterkuiper commented on #4029
I'm having the exact same problem. My ansible version:

ansible 2.1.0.0

This task also doesn't work:

[code]

The solution proposed by @mrgnr works.

[2016-07-14 15:07] thomwiggers commented on #4183
Fair enough

[2016-07-14 15:07] #4183 closed, assigned to nobody

[2016-07-14 16:35] gangefors opened #4188 "Redeploying with template/copy doesn't update file inside docker container"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

template module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No changes
##### OS / ENVIRONMENT

Debian GNU/Linux 8.5 (jessie)
##### SUMMARY

The suggestion is related to https://github.com/docker/docker/issues/15793 where a file mounted in a container doesn't update due to how Ansible replaces the file.
In short, when Ansible replaces a fi

[2016-07-14 16:57] nitzmahone commented on #4159
Tempfile should be created in module working dir so it gets cleaned up automatically, but is currently using mkdtemp()...

[2016-07-14 16:59] nitzmahone commented on #4164
There was a significant rewrite done to unarchive recently- guessing this got missed (and clearly there aren't integration tests that are covering that case).

[2016-07-14 17:01] MichaelBaydoun opened #4189 "iam_policy module incorrectly indicating changed"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

iam_policy
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Running aim_policy module reports changed when no changes are being made
##### STEPS TO REPRODUCE

create demo.json with any valid aws policy, and run the demo.yml from gist below, using the aws connection method of your choice.  Every

[2016-07-14 17:50] nitzmahone commented on #4185
Not a bug: raw has no way of knowing what you did (we're not parsing the command or its result in any way). That's what modules are for (eg, see win_file for the case you gave). However, this behavior _is_ inconsistent with the *nix shell/command modules (which aren't currently available for Windows) in that those modules err on the side of always returning `changed: true`. We're discussing changi

[2016-07-14 17:50] #4185 closed, assigned to nobody

[2016-07-14 17:56] jean-christophe-manciot commented on #4118
I have found the trick to workaround the issue in my situation: no need to use /etc/hosts, instead in each lab inventory file, something like this is enough for each remote node:

[code]

In the playbooks, inventory_hostname will only be the IP address of the current remote node.

[2016-07-14 18:41] alikins commented on #3444
This appears to be the same as https://github.com/ansible/ansible-modules-core/issues/3593

So 97f6daa85442a96d48c0c72e3438819e414e98b4 would appear to be the cherrypick candidate for stable-2.1

[2016-07-14 18:49] MichaelBaydoun commented on #4189
This is isolated to the use of skip_duplicates: false.  With skip_duplicates: false, two identical policies can exist with the same name.  However, the same policy with the same name is indicating changed when it really hasn't.

[2016-07-14 18:51] MichaelBaydoun commented on #4189
Whenever skip_duplicates is false the module reports changed, even if the desired policy (name & doc) already exist.

[2016-07-14 18:53] alikins commented on #3444
Cherry picked to stable-2.1 if folks want to test.

https://github.com/ansible/ansible-modules-core/commit/4a3e273d2f164d57bb9e3a0a545c2c2113e73917

[2016-07-14 22:28] zeelot commented on #432
The updating of replication groups definitely does not work. I think most of the keys in the API have changed so any checks for changed values throws exceptions.

[2016-07-14 22:38] vikas027 commented on #4185
@nitzmahone thanks for the explanation

[2016-07-15 03:16] hongxiaolong commented on #3241
+1 in CentOS 7.0 ansible 2.1.0.0 with url=http://nginx.org/download/nginx-1.10.1.tar.gz

fatal: [127.0.0.1]: FAILED! => {"changed": false, "failed": true, "msg": "Failed to find handler for \"/tmp/ansible_co1DZc/nginx-1.10.1.tar.gz\". Make sure the required command to extract the file is installed."}

_**test tar and error goes with the following msg:**_

`tar -zxvf nginx-1.10.1.tar.gz`

gzip: std

[2016-07-15 10:15] foobarto opened #4192 "os_floating_ip is not idempotent and fails if floatingIP is already assigned"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

os_floating_ip
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

[code]
##### SUMMARY

`os_floating_ip` is not idempotent and fails if server/port already has a floating IP assigned.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

os_floating_ip should report status OK (green) when floating IP is already assign

[2016-07-15 11:44] mabrek commented on #3783
the bug is stil there in 2.1

[2016-07-15 13:29] chouseknecht commented on #3783
@mabrek I'm running from source and not seeing the bug.

**Playbook:**

[code]

**Results:**

[code]

Do you have a specific test case?

[2016-07-15 14:37] jangsutsr opened #4194 "`apt_repository` module cannot upgrade permission mode of related `.list` file"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

`apt_repository`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No config changes.
##### OS / ENVIRONMENT

Running/Managing: Ubuntu 14.04
##### SUMMARY

See title.
##### STEPS TO REPRODUCE

Run the following playbook against localhost:

[code]
##### EXPECTED RESULTS

The playbook succeeded, meaning that file mode changed.
##### ACTUAL RESULTS

[2016-07-15 14:39] bcoca commented on #1673
Fixed by the new systemd module, you can use the `daemon_reload=yes` option to force the module to pickup that the service file has changed.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

https://groups.google.com/forum/#!forum/ansible-project - for user questions, ti

[2016-07-15 14:39] #1673 closed, assigned to nobody

[2016-07-15 14:41] bcoca commented on #1479
Fixed by the new systemd module.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and qu

[2016-07-15 14:41] #1479 closed, assigned to nobody

[2016-07-15 14:45] bcoca commented on #2265
is this issue still present in the new systemd module?

[2016-07-15 15:12] janl commented on #581
0.3.7 is broken for other reasons so this leaves me in a deadlock. Can’t update to 0.3.7 because of https://github.com/ansible/ansible-modules-core/issues/2509 (have to pin to 0.3.5), but can’t enable private_ips then.

Anyone has an idea? :) <3

[2016-07-15 15:22] onitake opened #4195 "Files are copied in check mode when remote_src is true"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

copy
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Host: Debian stretch
Target: CentOS 7
##### SUMMARY

When using the remote_src=True parameter in a copy task (or handler), the file(s) are always copied, even in check (-C) mode.
##### STEPS TO REPRODUCE

Create a test file:

[code]

Run the following playbook in **c

[2016-07-15 15:45] #4195 closed, assigned to nobody

[2016-07-15 15:49] alikins commented on #4194
I think the current behavior is the intended and documented behavior.

The docs explain mode as being for 'The octal mode for newly created files in sources.list.d'

And https://github.com/ansible/ansible-modules-core/commit/50912c9092eb567c5dc61c47eecd2ccc585ae364 seems to have specifically disabled that.

(whether or not that should be the intended behavior is up for debate...)

[2016-07-15 16:25] abadger commented on #4194
Digging around: That commit relates to https://github.com/ansible/ansible-modules-core/pull/338
So that commit doesn't enable it for the first time... it merely builds on the PR to keep that disabled because disabled for existing files is the previous behaviour.

Looks like that behaviour and documentation about it being for newly created files is there from the initial checkin of the mode paramet

[2016-07-15 16:29] abadger commented on #4194
Note that if we do change this we may want to be cautious and only change it in devel.  It is a change to documented behaviour after all, so someone may be relying on it.

Also -- if we change it, we probably need to change the argument_spec for mode into a tristate.  ie:  default=None.  If newly created, use the value of mode or, if None, use 0644.  If already existing and mode is None, do not ch

[2016-07-15 21:17] resmo commented on #4195
backported fix to stable-2.1 /cc @bcoca

[2016-07-16 08:41] pierreant-p commented on #633
+1

thanks for the workaround @rhunwicks

[2016-07-16 12:12] nrser opened #4197 "ansible warns about using the git module regardless of what git command is being issued"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

git
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

ansible produces the `[WARNING]: Consider using git module rather than running git` when running git commands that have nothing to do with stuff the git module does.

the `git` command does a lot of useful stuff besides checking out repos; it would be nice if it only w

[2016-07-16 16:11] gloutsch commented on #3783
playbook
[code]
docker inspect test
[code]
instead of :
[code]
[code]

[2016-07-17 02:07] winggundamth opened #4199 "docker_container module state stopped should stop container when match only container name"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

N/A
##### SUMMARY

From https://github.com/ansible/ansible-modules-core/issues/3822. My understanding the container will stop when it presented. To match with present it needs to match all the docker run configuration.

My problem is I already have my production container run by hand right now and I need to

[2016-07-17 03:58] phemmer commented on #3191
It looks like this was supported once upon a time: https://github.com/ansible/ansible/blob/77d5a1839250956ba6b3c2b69946d1867773de10/library/network/get_url#L181

[2016-07-17 05:04] axos88 commented on #3191
Hmm that line is still present: https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/urls.py#L838
https://github.com/ansible/ansible/blob/134d70e7b95360efbb250fae664b53ca7fb01668/lib/ansible/module_utils/urls.py#L838
Wonder what magic is needed to trigger it.

[2016-07-17 05:04] axos88 commented on #3191
https://github.com/ansible/ansible/blob/134d70e7b95360efbb250fae664b53ca7fb01668/lib/ansible/module_utils/urls.py#L838

[2016-07-17 05:54] atulhm commented on #4117
Thanks for creating the issue.  Please let me know if I can help.  Was also thinking of adding the recent block storage update to the api.

[2016-07-17 05:59] atulhm opened #4200 "digital ocean block storage support"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

digital_ocean
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Digital Ocean has added support for Block Storage
Ansible should support managing block storage and assigning it to a droplet

I added this issue to prevent duplication and as a place for anyone working on this to communicate/coordina

[2016-07-17 08:55] mckelvin commented on #3763
I also encountered this issue

while building an image with:

[code]

The image can be built successfully but I don't why it failed to push to my private docker registry since there's no problem while running`docker push registry.corp.private.com/my-image-name` in terminal. Anyway in my case, whether pushed to the registry is OK to me so long as it doesn't break the ansible pipeline.

And finally,

[2016-07-17 12:39] chouseknecht commented on #4199
It will match on name. Something like the following should work:

[code]

Do you have a test case where that does not work?

EDIT: needs_info

[2016-07-17 13:23] kontrafiktion commented on #4117
@atulhm I would love some help :-)
I have finished adding tag creation/deletion (as a new 'command' inside the digital_ocean module) and wanted to start on actions for tagged droplets.
But: after thinking about the current digital_ocean module I recognized that creating/deleting should be its own module (like the digita_locean_sshkey module). But the current digital_ocean module also allows to cre

[2016-07-17 13:44] alukovenko commented on #4200
@atulhm makes sense. I am in.

[2016-07-17 19:32] harmw commented on #3874
Having the same issue here. Looks like it's simply setting it to the default value when you don't explicitly specify the protection [1]. This feels completely silly though, I've already set it to protect me when I created the instance - so no need to touch this again.

Moreover, this feels like a bug since Ansible is resetting a parameter that has nothing to do with the operation at hand.

[1] htt

[2016-07-18 00:06] hlieberman opened #4201 "apt module recommended for unimplemented behaviors"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

shell (or apt, depending on your perspective)
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

The apt module is suggested when people use the shell module to run apt-get commands without validating the apt module can perform those actions.
##### STEPS TO REPRODUCE

The following playbook will re

[2016-07-18 01:43] atulhm commented on #4117
@kontrafiktion great questions!

 If we decide to tackle a reorganization of this, should we also consider disconnect or forking dopy?  I'm wondering if we can we reuse the core uri functionality so users don't have to install the dopy dependency and future improvements to the module aren't dependent on dopy upgrades.

My overall thought is that we should expose as much of the api that is possible

[2016-07-18 05:42] linusgg opened #4202 "unarchive failed to transfer on devel"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

unarchive
##### ANSIBLE VERSION

ansible 2.2.0 (devel 134d70e7b9) last updated 2016/07/18 12:43:12 (GMT +1000)
  lib/ansible/modules/core: (detached HEAD 7de287237f) last updated 2016/07/18 12:43:16 (GMT +1000)
  lib/ansible/modules/extras: (detached HEAD 68ca157f3b) last updated 2016/07/18 12:43:16 (GMT +1000)
  config file = /home/linus/Docume

[2016-07-18 13:26] MichaelBaydoun commented on #4189
PR to fix https://github.com/ansible/ansible-modules-core/pull/4203

[2016-07-18 13:26] AgDude opened #4204 "ec2 module does not create root volume as documented"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ec2 module
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

ubuntu 14.04
##### SUMMARY

Launching an EBS backed ec2 instance with a non-default root volume does not work as shown in the documentation example. Instead it launches an instance with a standard 8GB root volume, and an additional volume per the definition.

The following is the ta

[2016-07-18 13:45] perzizzle commented on #4109
@dagwieers I checked out ansible devel

[code]

Then ran my test playbook

[code]

Not sure what is causing the AttributeError (looking into that might be an issue with my environment). But I can confirm that a zip with square brackets does work with unarchive now.

[2016-07-18 14:19] dagwieers commented on #4109
It seems as if there is a disconnect between your Ansible version and the modules you are using. Make sure there is no lingering code from an earlier installation.

EDIT: needs_info

[2016-07-18 15:20] lazukars opened #4206 "module (yum) is missing interpreter line"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

yum module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

no changes in the default ansible.cfg file
##### OS / ENVIRONMENT

Running Ansible on Ubuntu 14.04
Configuring on EC2 Centos 7.0
##### SUMMARY

When running the yum module on an ec2 Centos 7.0 machine, ansible errors out.

This error _only_ happens on ec2. When running the exact same t

[2016-07-18 21:22] jeffreykaplan commented on #475
+1 Just tried to use this feature and it doesn't exist.

[2016-07-18 23:07] runcom commented on #1479
@bocca any idea when will this be available? https://docs.ansible.com/ansible/systemd_module.html reports that it's available in version `2.2` - what does this version stands for? I have 2.1.0.0 and I cannot find a 2.2 release in the ansible Releases github page

[2016-07-19 00:35] lachlansimpson commented on #902
+1

[2016-07-19 07:51] zyegfryed commented on #4117
Hi,
I've got an implementation for **tag** support I'm using since months and will be happy to share.
However, it's using a dedicated module instead of a `command` module because I prefer separation of concerns. Also have an implementation for **floating IP** if interested too.

[2016-07-19 07:53] zyegfryed commented on #4117
BTW I'm using `requests` library to do so.

[2016-07-19 08:29] atulhm commented on #4117
That's awesome.

Sent from my iPhone

[2016-07-19 09:31] ckmcd commented on #902
Additional proposal.  We like to create "ballast" files.  The purpose of a ballast file is to allocate file system space that can easily by reclaimed by deleting the file.  The proposal is to add a size option that would truncate the file to a specified size, extending the current allocated size if necessary.  Of course this only makes sense for files not directories.

[2016-07-19 11:38] ssbarnea commented on #3758
No way, as long this bug is still present under current release it is not fixed. I doubt merge into devel would count as a proper definition of "done" ;)

A bug is done when is does reach production / release, not the development branch.

I am really displeased to see that such a critical bug ended up into a release and that it was not hot-fixed yet after almost 3 months.

Clearly Ansible would ne

[2016-07-19 12:26] dogukansonmez opened #4212 "Unexpected instance termination when try to launch new instance from aws"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ec2 - create, terminate, start or stop an instance in ec2
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When you try to launch new aws instance through ec2 module with exact_count=1 and count_tag={} it terminates all vms in connected vpc.

In ec2 module documentation it doesn't mention it might remove

[2016-07-19 12:28] dgjnpr commented on #4116
Thanks for trying @chouseknecht

After doing a more thorough debugging session I've finally got to the bottom of the problem. There is a race condition ultimately causes docker/client.py:233 to try an load a multiline string that contains multiple json objects. This is the root of my whole problem.

So, good news, no bug with this module. Bad news for docker-py. I'll open an issue for this there.

[2016-07-19 12:28] #4116 closed, assigned to nobody

[2016-07-19 13:53] otaviomedeiros commented on #4184
It is ok when i used this way...

[code]

[code]

[2016-07-19 18:29] mattlan opened #4213 "decode error when using nxos_template module"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

nxos_template
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
transport = local
##### OS / ENVIRONMENT

Mac OS X 10.11.5 (Ansible host)
NX-OS 7.0(3)I2(2d) (Remote host)
##### SUMMARY

Trying to push a pre-assembled config using nxos_template module in playbook, get the below error.
##### STEPS TO REPRODUCE

Run the below playbook r

[2016-07-19 18:33] listx commented on #3758
Does Ansible even have a hotfix process? I am new to this community and don't know any better than to use devel (rc) versions.

[2016-07-19 20:06] hartzell commented on #4119
@jctanner -- Just touching base on my open issues.  Not sure if there's anything that I can do to contribute here, but thought I'd check in.

[2016-07-19 21:26] michaelmcandrew commented on #575
@koddo and @bubakazouba.  i added a wait for ssh but the output was often taking a few minutes longer to appear so i added the below 'retry until' loop afterwards which will wait up to 15 minutes for AWS to stop snoozing

[code]

Up for hearing about more elegant solutions but this is worked for me right now...

[2016-07-19 21:46] jjshoe opened #4214 "yum repo not showing failed on a package not found"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

yum module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

standard, nothing off the wall
##### OS / ENVIRONMENT

CentOS 7
##### SUMMARY

Output shows `ok` but the task actually failed, very confusing
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

I would expect the task to fail, python-dev doesn't exist in centos 7
##### ACTUAL RES

[2016-07-19 22:42] willthames commented on #4214
Minimal test case:

[code]

Note that this fails as expected when `with_items` is not used.

I don't think this is a fault in the yum module necessarily - it's failing correctly - but in the handling of result of the yum module in combination with with_items. However, I suggest keeping this open here until that's sufficiently confirmed that we can move this to ansible/ansible.

[2016-07-20 05:56] venkatautomates commented on #1124
+1

[2016-07-20 06:27] frenkel commented on #3344
Works great indeed, thank you very much @gtrafimenkov!

[2016-07-20 09:54] andrewzhurov commented on #2875
Fix would be nice

[2016-07-20 09:59] richard-hulm opened #4217 "Uri Module in 2.1 follows redirects strangely"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

uri
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

##### SUMMARY

URI module, set with follow_redirects: all

If we issue a post request, and get a 307 back
the subsequent redirected request seems to be a GET request instead of a POST as expected
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

In the above playbook, the "url" retu

[2016-07-20 10:51] kiview commented on #4085
I use the same workaround as @zagyi. But it's interesting to hear, that this is indeed a missing feature and not some misconfiguration of the module.

I'd be happy very if this would be implemented. If this is a low priority feature for the core developers, I could try to help you out if you like?

[2016-07-20 12:08] kontrafiktion opened #4219 "Deprecate digital_ocean module"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

digital_ocean module
##### ANSIBLE VERSION

[code]
##### SUMMARY

There is an overlap between "digital_ocean" and "digital_ocean_sshkey". The first allows to work with droplets _and_ ssh keys, the latter only handles ssh keys.
I propose to deprecate the existing digital_ocean module and create a new digital_ocean_droplet module.
##### DETAILS
1

[2016-07-20 12:15] kontrafiktion opened #4221 "remove dependency to extra python library for digital_ocean* modules"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

digital_ocean
digital_ocean_sshkey
digital_ocean_domain
##### ANSIBLE VERSION

[code]
##### SUMMARY

Currently the digital_ocean\* modules have a dependency to an extra Python library: "dopy" (https://github.com/Wiredcraft/dopy).
1. The library is not very well maintained. Especially: Publishing new releases can currently only be done by a sing

[2016-07-20 12:58] kontrafiktion opened #4222 "document module_utils.*"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

internal: module_utils.*
##### ANSIBLE VERSION

[code]
##### SUMMARY

Module developers/maintainers have a hard time using module_utils.\* because there is nearly no documentation. At least I couldn't find any.

Proposal:
1. Create documentation for module_utils.*
2. Publish it on the Ansible web site
###### Details

For example, the fe

[2016-07-20 13:41] geezyx opened #4223 "nxos_config - TypeError: difference() got an unexpected keyword argument 'path'"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

nxos_config
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No changes to configuration that I know of, I am using the following environment variables:
ANSIBLE_NET_AUTH_PASS
ANSIBLE_NET_PASSWORD
ANSIBLE_NET_USERNAME
##### OS / ENVIRONMENT

Running ansible on OS-X, managing a Cisco Nexus 7000 switch via cli transport (and local_action)
##### SU

[2016-07-20 15:32] chrisweaver commented on #3444
That code is already in the version I'm using (as I said, I'm using 2.2 devel).  Both problems are still there.

[2016-07-20 15:52] mckelvin commented on #3783
@chouseknecht I can still reproduce the issue in ansible 2.1.0.0. Are you sure you're using 2.1 ?

[code]

---

Update:

And it works if `command` is modified to a list:

[code]

[2016-07-20 19:52] jpza commented on #2269
It's pulling down a status response it doesn't understand - easy fix

[2016-07-20 20:33] chouseknecht commented on #3783
@mckelvin As I mentioned in my response, I'm running from source. I believe the fix is part of stable-2.1 as well.

[2016-07-20 22:24] nirik opened #4224 "acl module seems to change file modes"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

acl
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A (happens on Fedora rawhide and RHEL7)
##### SUMMARY

The acl module seems to change file modes from 600 to 640 after applying. This means copy/template/file commands will always re-run after an acl is applied.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESUL

[2016-07-20 23:22] emalloy commented on #3758
strangely enough i only get this error in us-east-1

[2016-07-20 23:29] kamikaze opened #4225 "postgresql_user fails to create user"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

postgresql_user
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Gentoo Linux ~amd64
##### SUMMARY

When trying to create user I'm getting an error. Psycopg is 2.6.1 version.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

PosgreSQL user is created.
##### ACTUAL RESULTS

[code]

[2016-07-20 23:32] kamikaze commented on #4225
Looks like [HERE](https://github.com/ansible/ansible/issues/6988#issuecomment-43867437) may be some info, but still - this module doesn't work as documentation says

[2016-07-21 00:32] caarlos0 commented on #3752
when will this be released?

[2016-07-21 12:10] minac opened #4227 "ELB documentation does not match reality: listeners are mandatory"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

ec2_elb_lb
##### ANSIBLE VERSION

ansible 2.1.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
##### CONFIGURATION

$ env | grep ANSIBLE
ANSIBLE_HOST_KEY_CHECKING=false
##### OS / ENVIRONMENT

Mac OS X El Capitan
##### SUMMARY

The documentation states that listener is an optional item

[2016-07-21 13:02] czerasz opened #4228 "Docker volumes issue"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

**docker_container** module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No custom configuration.
##### OS / ENVIRONMENT

Using Ansible inside a container from [`williamyeh/ansible:debian8`](https://hub.docker.com/r/williamyeh/ansible/)
##### SUMMARY

I want to start a container with DataDog agent inside. The agents needs some host files wh

[2016-07-21 14:10] u531355 opened #4229 "yum module saying packages are up to date when it's not"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

yum
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default
##### OS / ENVIRONMENT

CentOS release 6.7 (Final)
##### SUMMARY

yum module says package is up to date while it isn't. An update with the command module works.
I'm sure there's a new version because Maven deploys it on a Nexus repo and yum check-update says there's a new version.
##

[2016-07-21 14:13] winggundamth opened #4230 "os_floating_ip shouldn't required server parameter in some cases"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

os_floating_ip
##### ANSIBLE VERSION

N/A
##### SUMMARY

I have this use case http://blog.aaronorosen.com/?p=320 to Implementing High Availability Instances with Neutron using VRRP. This need to create fixed-ip and assign floating-ip to fixed-ip that just created with these command

[code]

But when I use this task

[code]

I got this error

[code

[2016-07-21 15:00] angystardust commented on #3706
@abadger, sorry for the noise but I'm having the same issue as @Yannig even if i upgraded the unarchive module from the 2.1 branch

[code]

This is the error i get:

[code]

It works if I put the ugly "force C environment" hack:

[code]

even if I see this line on the unarchive.py:

[code]

Should I open a new issue?

[2016-07-21 15:18] magnetik commented on #3339
Same with ansible 2.1.0 on ubuntu 14.04

[2016-07-21 15:21] gmarziou commented on #3706
Yes we have same problem with 2.1.0 on centos 7, we switched back to tar command.

[2016-07-21 17:07] mrosterm opened #4232 "rpm_key broken for local files by PR #2662"
https://github.com/ansible/ansible-modules-core/pull/2662

There are no status 200 for local files, which makes it fail showing that the fetch of the file was OK.

[2016-07-21 18:05] haraldkoch commented on #4164
`ansible-doc unarchive` documents the `creates` parameter but none of the examples use it, possibly contributing to the oversight...

[2016-07-21 20:14] lpaulmp commented on #633
+1 to add this ASAP
Thanks @rhunwicks for your workaround

[2016-07-21 21:16] bobobox commented on #633
This really needs some attention from the Ansible team. If boto2 is abandonware at this point (which it looks to be) then pointing to lack of boto2 support for this is less and less of an excuse. Especially for such an important RDS option that was added almost two years ago.

[2016-07-21 21:26] ferrants commented on #633
The whole module (and other modules using boto2) should be upgraded to start using boto3.

[2016-07-21 21:47] radzhome commented on #902
+1

[2016-07-21 21:54] koddo commented on #575
@michaelmcandrew, useful snippet, thank you.

[2016-07-21 22:09] erikdw commented on #902
@ckmcd : you should probably file a separate issue for that.  Also, everyone putting in "+1" isn't really helpful, it's spamming the content of the issue. There's already a "reaction" thing at the bottom of the initial description.  I would just 👍 in there...

[2016-07-21 22:20] earthling commented on #4229
I'm seeing something similar but with RPM files local to the target host. Updates work fine using yum directly (i.e. `yum install /tmp/project-1.0.0-34567.noarch.rpm`, but using the yum module tells me that the package in /tmp does not update the installed package (contrary to what yum itself tells me). For what it's worth, this works fine with ansible 2.0.2.0, but fails with 2.1.0.0. Yum version

[2016-07-21 22:33] radzhome commented on #3241
+1, same issue, solution was to use `command: gunzip <file>.gz`

[2016-07-22 01:02] minusdavid commented on #3300
Since the modules "rhn_channel" and "rhn_register" already exist, I think it would be reasonable and consistent to create a new module called "redhat_repository" to go alongside "redhat_subscription".

By the way, I'd also like this functionality. I wonder how people are managing their repos using subscription-manager in Ansible at the moment. Using the command/shell modules I'm guessing?

[2016-07-22 02:21] jctanner commented on #4230
@winggundamth please provide all of the data requested in https://github.com/ansible/ansible/blob/devel/.github/ISSUE_TEMPLATE.md

[2016-07-22 02:22] jctanner commented on #4232
@mrosterm please provide all of the data requested in https://github.com/ansible/ansible/blob/devel/.github/ISSUE_TEMPLATE.md

EDIT: needs_info

[2016-07-22 05:04] Ehekatl opened #4235 "docker_image module can't pull image from v2 private registry"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

docker_image
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

AWS EC2 AMI
##### SUMMARY

docker_image module can't pull image from v2 private registry
##### STEPS TO REPRODUCE

[code]

This task will fail to pull from v2 registry with image not found error, but run docker pull it works.
Log from registry shows th

[2016-07-22 07:11] minusdavid commented on #3300
As a short-term measure, I'm writing a custom "site_facts" module which will parse redhat.repo, and then I can use that with some conditionals to do "command: subscription-manager repos...".

It's not really that different from the concept behind http://docs.ansible.com/ansible/include_vars_module.html I imagine... except instead of YAML/JSON it's the INI type format that Python uses with ConfigPa

[2016-07-22 07:55] Ehekatl commented on #3783
+1, command in string not working on ansible2.1

[2016-07-22 08:39] jmcollin78 commented on #3980
Hello, I just reproduce the problem with the 2.1.0.0 release on Debian 8 with a zip file containing a file with whitespace.

[code]

Should it be fixed in this release ? Should I open a new Issue ?

Jean-Marc

[2016-07-22 09:01] dagwieers commented on #3980
Please test with the devel branch instead. The nuarchive module in Ansible v2.1.0.0 has known issues.

[2016-07-22 09:08] jmcollin78 commented on #3980
Sorry but I'm in production env and I cannot test with devel branch. I will wait for the next release instead. Thx for you reply.

[2016-07-22 09:16] kaikousa commented on #3180
For some reason aurora is listed as a possible value for `db_engine`-option in the documentation but it doesn't allow using it. This happens with `ansible 2.1.0.0`.

[2016-07-22 09:35] mrgnx3 commented on #4138
@alikins I can confirm the same results in 2.1. The code below is a snippet from our deployment env. The scheme is set to "internet-facing" which is correct in the first conditional and fails in the second task. However it still registers the failing result.

[code]

When I debug 'r53_facts' I get the following

`ok: [localhost] => {
   "r53_facts": {
      "changed": false,
      "skip_reason": "

[2016-07-22 13:07] bennetimo commented on #3783
+1 just seen this, reverting to the older 'docker' module has no issue

[2016-07-22 13:44] FuYuanZhao opened #4238 "add user with user module for RHEL7 server failed"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

user
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I have a playbook to create a local user, but when I ran this playbook for two servers, on is RHEL6, the other is RHEL7, why failed on RHEL7, show me the following:

[code]

**NOTE: AD and Centrify Direct Control as user authentication**
##### STEPS TO

[2016-07-22 14:13] jctanner commented on #4238
@FuYuanZhao please provide the "ansible version" output.

[2016-07-22 14:56] jfenal-zz commented on #3300
I've started writing such a module, but was interrupted before I could finish a first version I could test.
Have a look at : https://github.com/jfenal/ansible-modules-jfenal
The logic is mostly there, BUT not tested at all, no JSON output, no error handling. It clearly lacks some more code to be functional, but close.

Please note my disclaimer : my first ansible module, and moreover, my first att

[2016-07-22 15:22] gamuniz commented on #4238
ansible: ansible-2.1.0.0-1.el6.noarch

[2016-07-22 15:22] minac opened #4240 "meta: refresh_inventory fails when set as handler with "The module meta was not found in configured module paths""
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

meta
##### ANSIBLE VERSION

[code]

Ansible installed via pip and not git.
##### CONFIGURATION

[defaults]
gathering = explicit
host_key_checking = False
callback_whitelist = profile_tasks
remote_user = ec2-user
private_key_file = /Users/migueldavid/.ssh/aws-vigie.pem
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid

[2016-07-22 15:23] jhit opened #4241 "wait_for fails on apt / aptitude lock-file in /var/lib/dpkg/lock"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

wait_for
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

bento/ubuntu16.04 Virtualbox
##### SUMMARY

My rule:

[code]

will wait until ist timeouts with a error. This lockfile is never removed by the system but only emptied.
on shell this works for me:

[code]
##### STEPS TO REPRODUCE

boot up a bento/ubuntu16.04 virtu

[2016-07-22 15:35] gamuniz commented on #4238
[code]

[2016-07-22 16:24] dreamcat4 commented on #3241
+1 On `devel` today.. This sounds like it should be fixed / fixable pretty easily?

Reason:

When unarchive is downloading durectly from remote `http://` url, its only 1 step... no opportunity to rename or anything else. It would be best to fix here, rather than having to have 2 seperate taks being 1st one to `get_url` the file and then the 2nd one to be `command: gunzip` afterwards.

[2016-07-22 19:41] samdoran commented on #3300
I have a [role](https://galaxy.ansible.com/samdoran/redhat-subscription/) that's using `command` to manage subscriptions and repos.

[2016-07-22 20:29] raffienficiaud commented on #3760
Hitting the same issue. Why is `library/` prepended to the image name?

[2016-07-23 00:28] bcoca commented on #4238
does the ansible user already exist in centrify?

[2016-07-23 00:34] bcoca commented on #4188
I've already started to create a work around for this an 'unsafe_write' feature that avoids the rename in favor of a copy, but this can lead to data corruption as it is not atomic.

The next step is adding the option to the plugins that use the atomic move so you can use this with docker. I've been remiss to do this since non-atomic updates allow for data corruption and race conditions.

[2016-07-23 00:35] #3897 closed, assigned to nobody

[2016-07-23 07:47] basictheprogram opened #4242 "Script module, Powershell 4.0, Wusa.exe, Error 2147942405 "Access is denied""
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

script module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible control host OS X 10.11.6
Managed host Windows 7 64-bit
##### SUMMARY

Powershell script (v4.0) gives "Access is denied" when executed via Ansible script task but works properly from the powershell command line
##### STEPS TO REPRODUCE

Powershell in

[2016-07-23 12:43] jhawkesworth commented on #4242
Hi wusa.exe isn't supported via winrm https://support.microsoft.com/en-us/kb/2773898

However there is a workaround described in the link above, though.

Since it's a limitation in windows, rather than anything that can be changed in Ansible, I am going to close this issue. I can vouch for the workaround as I have used it in one of my roles.

[2016-07-23 12:43] #4242 closed, assigned to nobody

[2016-07-23 14:55] minusdavid commented on #3300
Kudos for your work, guys!

@samdoran I take it that's not idempotent, so you use tags to just run it once during initial setup?

@jfenal Looks ambitious! I opted for a local custom module, which you can see at this [Gist](https://gist.github.com/minusdavid/2774a8d6df5ded46b1b63e05f214da01)

[2016-07-23 14:57] minusdavid commented on #3300
Btw, it works well enough. I like the idea of a core redhat_repository module best, but this will certainly do the job for now.

[2016-07-23 15:03] minusdavid commented on #3300
Just realized that you both appear to work at Red Hat.

I'm super curious about if/how RH is developing Ansible to help manage RHEL...

I've only been using RHEL for a couple of weeks, but I've used Ansible for a couple years. So far so good using it to setup RHEL servers. The only real sticking point so far has been this issue. Well, and this [one](https://github.com/ansible/ansible/issues/16006)

[2016-07-23 15:31] lucascbeyeler commented on #4202
Found where the problem is: files/unarchive.py (Line 736):

Copy is set as always True. When you reach this condition, as copy will be always True, the module will fail everytime.  I think the correct is this:

Can't push the correction now...maybe later. Sorry =/

[2016-07-23 16:06] #4148 closed, assigned to nobody

[2016-07-23 16:09] harneksidhu commented on #4219
I agree that dopy should be removed as it is not very well maintained. However, instead of using ansible.module_utils.urls, do you think we could use https://github.com/koalalorenzo/python-digitalocean instead since it is maintained very well?

[2016-07-23 16:11] bcoca commented on #4219
I think either idea works for us, now to bikeshed: do_droplet as a name?

[2016-07-23 16:13] harneksidhu commented on #4219
I agree that dopy should be removed as it is not very well maintained. However, instead of using ansible.module_utils.urls, do you think we could use https://github.com/koalalorenzo/python-digitalocean instead since it is maintained very well?

[2016-07-23 16:15] harneksidhu commented on #4221
Close this issue and refer to #4219 as there is strong overlap?

[2016-07-23 16:39] kontrafiktion commented on #4219
@harneksidhu I would prefer to remove _any_ extra dependencies
@bcoca I like do_droplet, but then we would have to rename all modules. Kills backward compatibility – or is it possible to have an alias for a module?

[2016-07-23 16:53] harneksidhu commented on #4219
@kontrafiktion I would love to help with the development of this module if you need any assistance.

My main concern about only using ansible.module_utils.urls is that digital ocean appears to have a pipeline of features coming in (https://beta.digitalocean.com/). It would be hard to quickly add these new features onto Ansible on our own since there is already a large community of developers worki

[2016-07-23 18:46] bcoca commented on #4219
@kontrafiktion to alias a module just create a symlink with leading underscore `_alias`  that points to the new name (this was first feature i added as ansible employee!).

As for using the python library or not, this is a choice i'm leaving up to the community, I have barely looked at the DO API and don't know how complex/or not it is and how easy would it be to use directly or what lag the 'good

[2016-07-23 22:03] bcoca commented on #4024
Sadly service managers are not 100% possible to detect, nor is it possible to ensure all are absent. Ansible tries to find them and falls back to sysv init when in doubt. Docker makes this 'more fun' by sometimes lying to the system with a 'special' init or by just not having the init process that corresponds to the tools installed.

I'm going to close this as a duplicate of https://github.com/ans

[2016-07-23 22:03] #4024 closed, assigned to nobody

[2016-07-24 04:28] geerlingguy commented on #915
I wanted to note that I ran into this bug in my Apache Solr role on RHEL/CentOS 7.x; I had to shim in a task that uses `service solr stop` prior to using Ansible's `service` module to control the service via systemd:

https://github.com/geerlingguy/ansible-role-solr/commit/71d5d56d024765b5d7f83c76fe2c54978a446674

[2016-07-24 12:39] ChristianTacke commented on #3565
Could this be related to #3917?
At least that one sounds like the more general idea?

[2016-07-24 18:54] gangefors commented on #4188
Yeah, I get that implementing something that might cause data corruption under some circumstances aren't something that is done lightheartedly, but in the case with Docker and mounts the only other option is as I've described to do the copy manually after transferring the file to a temporary location.
I'd rather have the option you describe and as long as it's documented properly with a big warnin

[2016-07-24 23:55] bcoca commented on #4188
I'll try to get it done this week, though ... ansiblefest .... The option already exists internally we just need to add to each module that uses atomic_move (probably shared arg spec/docs?)

[2016-07-25 00:54] ghost opened #4246 "docker_container cannot find installed docker-py"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

**docker_container** module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No custom configuration.
##### OS / ENVIRONMENT

Using Ansible on OS X 10.11.5.

Docker version:

[code]

docker-py version:

[code]
##### SUMMARY

I want to build a custom container on top of a base OS container. So I am trying to start a base OS container.
##### STEP

[2016-07-25 02:58] xiaozhizhu opened #4247 "unarchive failed to unpack tar files"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

unarchive
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

management node: centos 6.5
remote node: centos 6.5
##### SUMMARY

unarchive module shows error when it handle gzip, bzip2 and xz compressed as well as uncompressed tar files using Ansible stable 2.1.0.0 version.
##### STEPS TO REPRODUCE

unarchive:
    src: /us

[2016-07-25 05:01] christiancruz11 opened #4249 "vsphere_guest Error in vm_disk definition."
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

vsphere_guest using vm_disk
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When defining vm_disk on with_items the playbook doesn't apply/add the new disk.
So we hard coded the vm_disk values. it works and add the disks but still throw an error:
"msg": "Error in vm_disk definition. Too many disks defined

[2016-07-25 05:16] chouseknecht commented on #4246
@rickmendes I'm testing with the stable-2.1 branch, and everything is working fine. I tried on both Centos 7 and OSX. docker-py 1.8.0 is installed in both environments, and both are running Docker 1.11.2. No problems. I also upgraded docker-py to 1.8.1 on the Centos box, and still seems to be OK.

Can you try running from source using stable-2.1?

Here's some testing results...

[code]

Playbook:

[2016-07-25 05:17] ghost commented on #4246
I was looking at the docker_common.py file and noticed the first import it does is from requests.exceptions.

I have the requests package too so this is more befuddling.

[code]

[2016-07-25 06:16] ghost commented on #4246
@chouseknecht

I cloned the source.

[code]

Modified my playbook to pull the same image.

[code]

Tried running the playbook from the source dir.

[code]

The big difference I see between your test and mine is the docker version. I am on a project that is going out on docker 1.12, which is why I am testing with docker 1.12.0.rc4.

[2016-07-25 06:19] ghost commented on #4246
@chouseknecht

One more more thing. I tested with connection both local and docker and got the same result.

[2016-07-25 08:51] refinedcranberry opened #4250 "win_feature source parameter escapes incorrectly"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

win_feature
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu Xenial 64
##### SUMMARY

When using an UNC-Path for the Source-Parameter of the win_feature module escaping doesn't work correctly. Any other combination of escape characters doesn't work.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Instal

[2016-07-25 10:58] princeblr commented on #3622
Hello Guys,

I am stuck with a similar problem, what should i do for my thingie:

---
- hosts: localhost
  tasks:
  - name: download artefact from website
    get_url: url="https://cmake.org/files/v3.6/cmake-3.6.0-Linux-x86_64.tar.gz" dest="/tmp"

root@scmcontainer:~/Projects/vagrant-ansible# ansible-playbook build.yml -vvvv
Using /etc/ansible/ansible.cfg as config file
Loaded callback default of

[2016-07-25 11:10] azizfcb commented on #902
+1

[2016-07-25 14:53] ronron22 commented on #3565
Hello Chrsitian,

Yes, it's right.

Antonio

[2016-07-25 15:26] jhawkesworth commented on #4250
Its possible you are hitting the 'second hop' issue.  Unless you are using kerberos and have allowed delegation its possible that you can't use the defrasamd01 machine as winrm typically only allows one 'hop' - from the ansible controller to the machine where you are running win_feature module.

[2016-07-25 16:30] Sodki opened #4251 "ec2_group should allow for security group revocations"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

ec2_group
##### ANSIBLE VERSION

ansible 2.1.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
##### OS / ENVIRONMENT

N/A
##### SUMMARY

ec2_group allows us to create security groups, to remove security groups and to add new rules to security groups. What it doesn't allow us to do is to remove

[2016-07-25 16:50] TaiSHiNet commented on #3758
Isn't this a duplicate of #3447 ?
If so, follow the issue on a single thread please

[2016-07-25 16:54] MichaelBaydoun commented on #4189
PR was merged today, closing issue.

[2016-07-25 16:54] #4189 closed, assigned to nobody

[2016-07-25 18:09] #2111 closed, assigned to nobody

[2016-07-25 18:45] alikins commented on #4240
AFAIK, that's not expected to work. Assigning to @jimi-c to get his take.

[2016-07-25 18:50] alikins commented on #4241
[code]

http://docs.ansible.com/ansible/wait_for_module.html

The default timeout is 300 seconds, which that wait_for exceeded. Try bumping the timeout.

[2016-07-25 18:51] #4241 closed, assigned to alikins

[2016-07-25 19:01] alikins commented on #4247
Is this still present in the tip of the stable-2.1 branch (or https://github.com/ansible/ansible/releases/tag/v2.1.1.0-0.5.rc5 (release candidate for 2.1.1)) ?

[2016-07-25 19:03] alikins commented on #4249
If possible, include the content of guest-create-pysphere.yml.

[2016-07-25 19:18] alikins commented on #4249
`"Error in vm_disk definition. Too many disks defined in comparison to the VM's disk profile."`
is from https://github.com/ansible/ansible-modules-core/blob/devel/cloud/vmware/vsphere_guest.py#L972

The check there is failing. I need more info about the args to the task to dig into.

Did this previously work?  I'm wondering if the change in https://github.com/ansible/ansible-modules-core/commit/22

[2016-07-25 20:35] ghost commented on #4246
Working on getting you more info. So trying vagrant boxes with debian/jessie.

**vagrant 1**

ansible version:

[code]

docker version:

[code]

playbook:

[code]

playbook output:

[code]

running container:

[code]

So with 1.11.2 we are good.

I'll be back with vagrant 2 info.

[2016-07-25 21:22] ghost commented on #4246
**vagrant 2**

ansible version:

[code]

docker version:

[code]

playbook:

[code]

playbook output:

[code]

running container:

[code]

So it has no problems with 1.12 on Linux. It appears the issue is OSX related only as I was able to reproduce the error on another Mac today.

I will happily move my development to Linux with or without Vagrant. Should we close this or keep it open for others w

[2016-07-25 21:28] jctanner commented on #4138
@einarc this should be filed in the ansible/ansible repo.

[2016-07-25 22:09] bgandon commented on #3929
I just hit the same “issue”, and found that you just need to pass a list of arguments.

Example in a playbook: `command: [ "arg1", "arg2" ]`

This difference with the original `docker` module should be better documented in the `docker_container` module documentation: http://docs.ansible.com/ansible/docker_container_module.html

Cheers

[2016-07-25 23:03] chouseknecht commented on #4246
I think we can close it. I don't think there is anything to do on our end.

[2016-07-25 23:03] #4246 closed, assigned to nobody

[2016-07-26 01:29] grantlittle commented on #902
+1

[2016-07-26 03:47] caalberts commented on #3444
+1

[2016-07-26 07:18] jhit commented on #4241
Hello.

Please review this again. The timeout is not the problem. The lock state on the lockfile is removed after about 60 seconds. The problem is ansible waits for the removal of the file. But this lockfile is never removed but only emptied. So I can set whatever timeout value I want. It will always timeout and never recognise the lockfile is clean.

[2016-07-26 07:19] refinedcranberry commented on #4250
the error seems more to be related with ansible, which says it cant find the path. that makes sense because its completely wrong escaped

`$complex_args = @'
{"_ansible_version": "2.1.0.0", "_ansible_selinux_special_fs": ["fuse", "nfs", "vboxsf", "ramfs"], "_ansible_no_log": false, "_ansible_verbosity": 5, "_ansible_syslog_facility": "LOG_USER", "source": "\\defrasadm01\\windvd\\sources\\sxs", "st

[2016-07-26 08:08] christiancruz11 commented on #4249
Thanks for your response alikins.
playbooks/vcenter/guest-create-pysphere.yml config below:

[code]

[2016-07-26 08:12] christiancruz11 commented on #4249
Hi @alikins
This is the first time we are using vsphere_guest.
We were using vcenter before and its working.
Our goal is to add the multiple disks during cloning from template or during the reconfiguration using the vshpere_guest module.

[2016-07-26 09:11] lowks commented on #1124
+1

[2016-07-26 10:19] jhawkesworth commented on #4250
Something you could try is switching to using 'yaml-style' module parameters instead of the key=value style.  The yaml style is generally preferred after v2

So try changing to

[code]

If this still doesn't work, I worked around the issue in my playbooks by zipping the sources and copying them to the local machine before installing.  My role to do this is on slide 40 of my ansiblefest presentatio

[2016-07-26 11:57] eb4x commented on #4202
Ran into this bug today, thanks for providing a fix!

[2016-07-26 12:29] bcoca commented on #4241
@jhit, but that is what you are asking wait_for to do, it does not know about locks, it knows if a file exists or not. In any case this is not a bug, just a misunderstanding of what the feature actually does.

[2016-07-26 12:31] Kenovo opened #4253 "SSL Issue : Ansible - Openstack"
Hello,
i have a probleme with SSL when i try to connect via Ansible to Openstack.
here is the output of ansible when i try to apply a playbook to create an instance :

fatal: [localhost]: FAILED! => {"changed": false, "extra_data": null, "failed": true, "msg": "Error fetching server list on my_cloud:: (Inner Exception: SSL exception connecting to https://OPENSTACKURL:5000/v2.0/tokens: (\"bad hands

[2016-07-26 12:31] refinedcranberry commented on #4250
Unfortunately this didn't work.
Using the method you described in your ansiblefest presentation worked for me. Thank you!

Nevertheless the escaping bug should be fixed.

[2016-07-26 14:59] jhit commented on #4241
I see. So my report is more a feature request than a bug report. will see if i can emulate what I need with the search_regex parameter.

[2016-07-26 16:25] andreafzo commented on #4204
Hello,
I'm having the same problem. In addition, I can say that if you use an AMI that has the root folder set to /dev/sda (such as CentOS one), really weird things happen: from the web console I noticed that an additional EBS volume get created (from the snapshot of the AMI) but it is completely detached from the instance, so it becomes an effective "dangling reference". I tried to reference it f

[2016-07-26 16:41] akvadrako opened #4255 "TypeError using ec2_asg.py replace_all_instances without desired_capacity"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

ec2_asg
##### SUMMARY

TypeError using ec2_asg.py replace_all_instances without desired_capacity

The error:

[code]

Using this config:

[code]
- ansible version: 2.1.0.0

[2016-07-26 19:00] moraleslevi commented on #2322
I just ran across this issue as well. Are there any updates to this issue or is there a known workaround? Would running `dseditgroup` with the shell module be preferable until a fix is implemented? Thanks!

[2016-07-26 20:03] moraleslevi commented on #2322
Just submitted a PR that fixes [here](https://github.com/ansible/ansible-modules-core/pull/4256).

[2016-07-26 22:01] katdober opened #4257 "Add image update support to docker_service"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

docker_service
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Currently it is not easily possible to update images used by docker_service. When an image does not exist, docker_service will pull it, but it won't update it once it is already there. The only way around this is to use `state:absen

[2016-07-27 00:31] jralbert opened #4258 "rhn_channel relies on now-deprecated XML RPC interface to RedHat Satellite servers"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

rhn_channel
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

N/A
##### SUMMARY

The rhn_channel module relies on the RPC interface to RHN, which allowed it to work with RedHat Satellite 5.x servers, but the RPC interface is no longer included in the 6.x releases of RedHat Satellite. The module will need to be reworked to

[2016-07-27 00:33] ozbillwang commented on #3241
+1, run into same issue on centos 7 + ansible 2.1

[2016-07-27 02:03] jctanner opened #4259 "IGNOREME: test issue"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

fireball
##### ANSIBLE VERSION

2.2
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

This is a test issue, please ignore
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-07-27 08:57] xiaozhizhu commented on #4247
# @alikins Thank you for your reply. My ansible is v2.1.0.0 and how can I upgrade ansible to v2.1.1.0?

[2016-07-27 08:58] xiaozhizhu commented on #4247
@alikins Thank you for your reply. My ansible is v2.1.0.0 and how can I upgrade ansible to v2.1.1.0?

[2016-07-27 09:10] AseemKumar opened #4260 "ansible_os_name missing from linux facts"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

setup
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

default config.
##### OS / ENVIRONMENT

ansible is running on Ubuntu, managing windows 2008 + and Oracle linux systems.
##### SUMMARY

Comparing the facts returned by setup module, as I am trying to add the info to a DB and finding that a lot of fact names are not common.
Querying a windo

[2016-07-27 13:40] jctanner commented on #4259
Hey, this is not waiting on me anymore?

[2016-07-27 13:57] bcoca commented on #4259
this needs more info

[2016-07-27 13:57] bcoca commented on #4259
more info again?

[2016-07-27 13:58] bcoca commented on #4259
needs_info ?

[2016-07-27 13:58] s-hertel commented on #4259
"needs_info"

[2016-07-27 14:01] bcoca commented on #4259
ansibot worked!

[2016-07-27 14:01] bcoca commented on #4259
this does not need_info

[2016-07-27 14:03] bcoca commented on #4259
does NOT needs_info

[2016-07-27 14:12] bcoca commented on #4259
i do !needs_info

[2016-07-27 14:20] shaunbrady commented on #3404
I confirm that @robusto 's fix works for a string.

[2016-07-27 14:44] dav1x commented on #2971
I'm looking into this as well. Folder nor notes are being populated. Here is the short of it:

Here are the clone parameters VMware expects:
https://www.vmware.com/support/developer/converter-sdk/conv61_apireference/vim.VirtualMachine.html#clone

vsphere_guest uses pysphere for cloning operations:

Here is the code that handles the clone section:
https://github.com/dannvix/pySphere/blob/20b88c3a5c

[2016-07-27 14:56] ansibot opened #4263 "IGNOREME: test issue"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

fireball.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

FOO BAR
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-07-27 14:57] #4263 closed, assigned to nobody

[2016-07-27 14:58] tannerjcghtester1 opened #4264 "IGNOREME: test issue"
issue type
bug report

component name

fireball

ansible version

1.0

summary

i don't like to make issues

[2016-07-27 15:01] #4259 closed, assigned to nobody

[2016-07-27 15:01] Navdeepuniyal opened #4265 "python-novaclient version issue"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

nova_compute
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

while running ansible playbook with nova_compute module in order to deploy a VM, error occurs:
fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": "python-novaclient is required for this module"}

As per my triage issue seem

[2016-07-27 15:39] jctanner commented on #4264
This needs_info, please provide blah,blah and blah.

[2016-07-27 16:09] tannerjcghtester1 commented on #4264
Here's your info!

[2016-07-27 16:35] jctanner commented on #4264
!needs_info

[2016-07-27 16:39] jctanner commented on #4264
personal note

[2016-07-27 16:39] jctanner commented on #4264
i just like to leave comments for myself.

[2016-07-27 16:44] jctanner commented on #4264
ok, i needs_info now.

[2016-07-27 16:52] jctanner commented on #4264
ok, i really !needs_info

[2016-07-27 17:02] jctanner commented on #4264
bug_resolved

[2016-07-27 19:06] dav1x commented on #3056
I'm looking into this as well. Folder nor notes are being populated. Here is the short of it:

Here are the clone parameters VMware expects:
https://www.vmware.com/support/developer/converter-sdk/conv61_apireference/vim.VirtualMachine.html#clone

vsphere_guest uses pysphere for cloning operations:

Here is the code that handles the clone section:
https://github.com/dannvix/pySphere/blob/20b88c3a5c

[2016-07-27 21:15] oskapt opened #4269 "get_url fails with "failed to create temporary content file: (-1, 'Unexpected EOF')" when not running locally"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

get_url
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Ubuntu 14.04 LTS
##### SUMMARY

`get_url` works locally but fails when configuring remote host
##### STEPS TO REPRODUCE

1. Run the playbook below with `ansible-playbook -c local test.yml` and it will work
2. Run it again connecting to a remote system and i

[2016-07-27 21:18] ShakataGaNai commented on #4228
I'm also running into this issue (Identical error message). My environment is similar, however I'm running this on the host machine rather inside of Docker.

Ansible 2.1.0, Ubuntu 16.04 host, Docker 1.11.2.  Also attempted to provide privileged flag, no change.

[2016-07-27 21:55] jralbert commented on #4258
Apologies, I misunderstood this: channel subscriptions to Satellite 6.x are handled by the redhat_subscription module, which I had not encountered. It might be worth updating the documentation to note this distinction to avoid others being confused in the same way, but the basis of the bug report I filed is not valid for this module and the issue should be closed.

[2016-07-27 23:30] jctanner commented on #213
ping @emonty and @berendt can you re-evaluate this?

[2016-07-28 01:09] grossws commented on #79
@gregdek, @bcoca what is correct reaction for ansibullbot/ansibot if I'm not going to implement subject feature request myself but neither don't want to close it (with `won't fix` or `not a bug` status) since I think it is good for ansible to add such feature?

[2016-07-28 07:34] alukovenko commented on #225
does not seem to break anything
notabug

[2016-07-28 09:49] #4265 closed, assigned to nobody

[2016-07-28 12:39] micafer opened #4272 "unarchive error "path XXXX does not exist""
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

unarchive module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

default ansible.cfg file installed using yum from EPEL.
##### OS / ENVIRONMENT

CentOS 7.
##### SUMMARY

Launching a simple unarchive task I get this error:

[code]

With ansible version 2.0.2 this error does not appear.
##### STEPS TO REPRODUCE

Launching this playbook with the

[2016-07-28 13:05] jctanner commented on #4264
needs_contributor

[2016-07-28 13:21] jctanner commented on #79
@grossws I just added "needs_contributor" to the bot for this situation.

[2016-07-28 13:23] jctanner commented on #4264
wontfix

[2016-07-28 13:44] #225 closed, assigned to skottler

[2016-07-28 14:10] grossws commented on #79
@jctanner, thanks

[2016-07-28 14:10] grossws commented on #79
needs_contributor

[2016-07-28 14:16] jctanner commented on #4264
bot_broken

[2016-07-28 14:45] jctanner commented on #4264
please resume normal functions

[2016-07-28 14:52] jctanner commented on #79
test comment, ignore me

[2016-07-28 14:58] jctanner commented on #4264
needs_info

[2016-07-28 15:07] tannerjcghtester1 commented on #4264
this is some info, please remove needs_info

[2016-07-28 15:50] font opened #4273 "Support yum autoremove"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

- yum
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

- Managing Linux
##### SUMMARY

At times it is necessary, particularly for cleanup plays, to remove all unneeded packages that were originally installed as dependencies. Currently this can be done via a `command: yum -y autoremove`. However, it would be best to incorporate it into the

[2016-07-28 16:11] Shrews commented on #213
This can be performed with the newer os_user and os_user_role modules.

[2016-07-28 16:11] #213 closed, assigned to nobody

[2016-07-28 17:08] ksator opened #4274 "junos_command issue with argument rpcs (if there is an IP @ in the RPC parameter)."
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

junos_command core module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

https://github.com/ksator/ansible-training-for-junos/blob/master/ansible.cfg
##### OS / ENVIRONMENT

$ uname -a
Linux ubuntu 3.19.0-25-generic #26~14.04.1-Ubuntu SMP Fri Jul 24 21:16:20 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
##### SUMMARY

I am facing this issue with A

[2016-07-28 17:10] mcreenan commented on #1691
Any update?  Working around this for now, but it would be nice to not have to.

[2016-07-28 17:21] alikins commented on #4258
https://github.com/alikins/ansible-modules-core/commit/e3ce70a68991d3d696febd32f2e9b7ae0e97044d updated the redhat_subscription module to be more clear it's for RHSM tool, but could probably still use some clarification that that means Sat6+.

rhn_channel could use some updates to reference RHN and <= Sat5 specifically.

[2016-07-28 17:24] hnakamur commented on #573
Sorry I didn't notice this issue earlier.
Do you have an idea about how to check whether systemd is available to be used? Is it easy to check some particular file exists?

I am not so familiar with various OSes and distributions, so I don't know whether we should change from OS detection to tool detection or not.

If we use only tool detection, we must define the ordered list of which tool or conf

[2016-07-28 17:38] trondhindenes commented on #4250
I haven't done much testing with source. Will have a look at this during the weekend.

[2016-07-28 18:29] FuYuanZhao commented on #4238
Yes , but when I create a local user "ansible" on the targeted server ,I will add ansible user to the user.ignore file, that's the same way I did on RHEL6 servers

[2016-07-28 20:52] jpmens commented on #4269
Cannot and will not look at this until end of August earliest.

[2016-07-28 21:02] krbullock commented on #3444
This appears to be fixed in 2.1.1. I just ran into the issue on 2.1.0, upgraded and now it works.

[2016-07-28 21:07] oskapt commented on #4269
That's fine. I am working around it with `shell: curl -O` for now. Get to it when you can. :smile:

[2016-07-28 21:18] DerekTBrown commented on #3444
@krbullock can you confirm that the problem is fixed for remove ELB as well?

[2016-07-28 22:10] krbullock commented on #3444
@DerekTBrown I haven't tried.

[2016-07-29 01:33] evgkrsk commented on #2839
Sure, apt_rpm is broken since ~2014 :-(

I think that resolved_by_pr #4277

I planning major module rewrite, though.

[2016-07-29 02:04] jctanner commented on #4264
@ansibot hey ... is this a mention?

[2016-07-29 05:19] vincentvdk commented on #4258
Hi, I currently don't have access to a RH Satellite instance. I'm afraid I can't test..

[2016-07-29 07:53] akvadrako commented on #4255
issue type: bug
component name: ec2_asg
summary: TypeError using ec2_asg.py replace_all_instances without desired_capacity

[2016-07-29 09:30] dborysenko opened #4279 "add_host runs only for first host in group"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

- add_host
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Red Hat 6.2; MAC OS 10.11.6
##### SUMMARY

Invoking add_host against group of two hosts actually runs against only one host (the first one in an inventory file)
##### STEPS TO REPRODUCE

hosts:

[code]

tst.yml:

[code]

run command:

[code]

##### EXPECTED RES

[2016-07-29 09:41] hakamairi commented on #3719
If I understood the mergerequest correctly this fix is going to be part of 2.2.0 version (was merged to devel), could it also be part of any intermediate 2.1.x release?

[2016-07-29 12:26] SimBou opened #4280 "Error "invalid selinux context" in copy module when using vxfs (veritas cluster) filesystem"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

copy module
##### ANSIBLE VERSION

ansible 2.0.2.0
ansible 2.1.0.0
##### CONFIGURATION

[selinux]
special_context_filesystems=nfs,vboxsf,fuse,vxfs
##### OS / ENVIRONMENT

RHEL 7.2 with SELinux in permissive
##### SUMMARY

Copy module fails to transfert a file when the destination is on an vxfs filesystem on a server with SELinux in permissive ena

[2016-07-29 14:19] defo89 opened #4281 "junos modules RPC timeout option"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

junos_config
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

[code]

[code]
##### SUMMARY

Default 30sec RPC timeout breaks commits on EX virtual chassis.
Need an explicit timeout option like in [junos_install_config](http://junos-ansible-modules.readthedocs.io/en/1.3.0/junos_install_config.html)
##### STEPS TO REPRODUCE

[code]
##### ACT

[2016-07-29 15:11] jean-christophe-manciot commented on #4098
After having upgraded to paramiko 2.0.1 with pip, the issue remains.

[2016-07-29 15:17] jctanner commented on #4230
ping @emonty @shrews @juliakreger @j2sol @rcarrillocruz

[2016-07-29 15:32] jabobs commented on #3056
@dav1x I will owe you a beer if you get that working.

[2016-07-29 15:35] #1866 closed, assigned to nobody

[2016-07-29 16:02] #2441 closed, assigned to nobody

[2016-07-29 16:04] #2049 closed, assigned to nobody

[2016-07-29 16:08] #2100 closed, assigned to nobody

[2016-07-29 16:11] #2121 closed, assigned to nobody

[2016-07-29 16:13] #2624 closed, assigned to nobody

[2016-07-29 16:15] grossws commented on #1577
@ansibot, wontfix: irrelevant for ansible 2.0 and 2.1 branches.

[2016-07-29 16:17] jctanner commented on #2625
@vmindru all of the public mailing lists are here http://docs.ansible.com/ansible/community.html#mailing-list-information

[2016-07-29 16:20] #2648 closed, assigned to nobody

[2016-07-29 16:26] #2848 closed, assigned to nobody

[2016-07-29 16:30] #2869 closed, assigned to nobody

[2016-07-29 16:42] #3128 closed, assigned to nobody

[2016-07-29 16:44] #3152 closed, assigned to nobody

[2016-07-29 16:48] #3269 closed, assigned to jctanner

[2016-07-29 17:03] mattclay commented on #3281
@alikins The problem occurs only when specifying a custom known hosts file with ssh_opts. The code in module_utils/known_hosts.py only consults the default known hosts files, instead of paying attention to the known hosts file(s) specified in ssh_opts.

[2016-07-29 17:17] #3515 closed, assigned to nobody

[2016-07-29 17:25] jctanner commented on #3622
@princeblr this issue is related to check mode functionality. Please file a new bug for your issue or seek collaboration on the ansible project mailing list.

!needs_info

[2016-07-29 17:54] jctanner commented on #4138
@einarc this is not an issue with the module. The behavior is true of any module+when+register ...

[code]

Please open a new issue at https://github.com/ansible/ansible/issues if you would like to see this behavior changed.

[2016-07-29 17:54] #4138 closed, assigned to nobody

[2016-07-29 17:57] jctanner commented on #4238
ping @grossws just letting you know this exists.

[2016-07-29 18:04] jctanner commented on #4238
@FuYuanZhao let us know what you find out, thanks.

needs_info

[2016-07-29 18:06] ToBeReplaced commented on #3670
Following up... If I do the following, will it be merged?

1) Make `8000:80` actually mean `any:8000:80`, or "I want to bind 8000 to 80 on some ip address", which is equivalent to the CLI style syntax, but does not update existing container ip address bindings.

[2016-07-29 18:18] grossws commented on #3936
@ansibot, needs_contributor

[2016-07-29 18:34] softzilla commented on #3039
resolved_by_pr #3491

[2016-07-29 19:27] #4264 closed

[2016-07-29 20:33] jctanner commented on #4222
@kontrafiktion please file this in https://github.com/ansible/ansible/issues

[2016-07-29 20:33] #4222 closed, assigned to nobody

[2016-07-29 20:41] jctanner commented on #4219
@mgregson, @alukovenko ping

[2016-07-29 20:43] dharrigan opened #4282 "apt_repository with ppa fails on Linux Mint 18 (Sarah)"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

apt_repository
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

apt_repository fails on Linux Mint 18 when using repo with ppa:foo

This is mentioned here: https://github.com/ansible/ansible/issues/4587 however that ticket has been closed.
##### STEPS TO REPRODUCE

Create a simple main.yml co

[2016-07-29 20:59] jctanner commented on #4202
ping @dagwieers, @pileofrogs

[2016-07-29 21:16] jpmens commented on #4177
@ansibot what response? Why am I being pinged for this? Handle it.

[2016-07-29 21:48] jctanner commented on #4112
bot_broken

[2016-07-29 22:19] kiview commented on #4257
I would suggest adding a parameter, which will trigger a `docker-compose pull`. Does this sound feasible?

[2016-07-29 22:43] jjshoe commented on #4078
@hyperized I think I see the bug, can you test setting wait_timeout to 1 for me?

[2016-07-30 01:34] jooadam opened #4284 "apt module does not install recommended packages for deb files"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

apt
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ubuntu 16.04 Server (local)
##### SUMMARY

Recommended packages are not installed when installing a deb package directly.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Recommended packages to be installed.
##### ACTUAL RESULTS

Recommended packages are not installed.

[2016-07-30 02:26] tima commented on #3895
@dvarrazzo are you using the `dest_port` param here or are you expecting the module to have a feature that recognizes the a src/dest is a remote and has a port in the URI?

[2016-07-30 02:29] tima commented on #3370
Unless I'm missing something, I believe this issue can be closed now.

[2016-07-30 02:34] tima commented on #3339
@davidfischer-ch I see in the actual results what you mean, but I need more specific to how you're calling the module.

EDIT: needs_info

[2016-07-30 02:57] bcoca commented on #4177
This is not an issue with ini_file but backups in general. When using with_items, as each item executes as an individual task, each one writes the backup, which if it happens fast enough, uses the same timestamp based name. Renaming the ticket to clarify this.

The patch does not fix the general issue and tries to avoid creating backups for tasks that execute in the same second, but this might not

[2016-07-30 02:58] tima commented on #2965
@phemmer Sounds intriguing though I do hesitate a bit. That module was supposed to handle the most common cases more easily then using `command: rsync` -- not _all_ things rsync can do. I'm open to new features if it avoid making things complicated or messy for the end user.

[2016-07-30 03:05] bcoca commented on #4177
Fixed via https://github.com/ansible/ansible/commit/123d54e736520c59d8c7afdcb1c6526df501b174

now having pid in the name should avoid time based collisions, here is example using your task:

[code]

[2016-07-30 03:05] #4177 closed, assigned to bcoca, jctanner

[2016-07-30 03:18] tima commented on #2781
I suspect this may be related to this here: https://github.com/ansible/ansible/pull/16756 -- though I'm not positive.

[2016-07-30 06:27] jean-christophe-manciot commented on #4098
When bots begin to intervene in the discussion, we're in trouble ;)

[2016-07-30 08:32] dvzubarev commented on #3895
I'm using the following simple code

[code]

I'm expecting that this `dest_port` will be used when connecting to a remote.
But instead of it, the port from /etc/ssh/ssh_config is in use (I have specified there Port 2222).
So I get `Connection refused` error.

[2016-07-30 12:32] alukovenko commented on #4117
@zyegfryed @kontrafiktion Thanks for contribution!
shipit

[2016-07-30 13:20] alukovenko commented on #4219
DO API is not really complex, and I would also like to remove external dependencies. @harneksidhu concern about upcoming features is valid; however, those features will still need to be included in Ansible module regardless of internal implementation - at the end of the day, we still need to update the module itself.

One additional concern about using external modules is that it uses separate ver

[2016-07-30 14:27] scottanderson42 commented on #4019
This isn't a bug with the module. The float parameter long_query_time is being passed into the module as a string.

[2016-07-30 14:46] jctanner commented on #4016
resolved_by_pr https://github.com/ansible/ansible-modules-core/issues/4046

[2016-07-30 14:47] #4016 closed, assigned to nobody

[2016-07-30 15:06] #3993 closed, assigned to nobody

[2016-07-30 15:27] evgkrsk commented on #4066
JFYI, is it impossible to manage system's packages with low-level package manager only (**rpm**/**dpkg**/...).

Module **apt_rpm** is intended to work with _apt-rpm_ (apt's port to work with rpm as low-level package manager) specificly. Only alive implementation today is in ALT Linux (http://git.altlinux.org/gears/a/apt.git), AFAIK.

To install package(s), use high-level package manager ansible mo

[2016-07-30 15:37] #4066 closed, assigned to nobody

[2016-07-30 16:03] #3899 closed, assigned to nobody

[2016-07-30 16:28] ghost commented on #4227
@minac This looks like a boto3 change. Listeners were not required according to the boto2 docs, but are per the boto3 docs. I will get a PR up this weekend that protects against this and updates the documentation.

[2016-07-30 16:35] jctanner commented on #3831
bot_broken

[2016-07-30 17:07] jctanner commented on #3645
bot_broken

[2016-07-30 17:45] Jmainguy commented on #3712
Makes sense. off the top of my head the logic I would think of trying would be

Check Mysql version
try and login normally using blank, user provided, or .my.cnf passwords
if login does not work, and version >= 5.7, parse the log for temporary password, if found use it, if that does not work, error out and say you tried to use temporary password but it didnt work, if not found report that the pass

[2016-07-30 18:28] EvanK commented on #3791
This is largely an educated guess, but I expect it has something to do with the job coming in as [folded style yaml](http://www.yaml.org/spec/1.2/spec.html#id2796251), very likely with a trailing newline.

Effectively, the new job _could_ have a trailing newline, but the old job would always be retrieved from the crontab _without_ any trailing newlines...hence a phantom change.

Perhaps the [CronT

[2016-07-30 19:48] rhoop commented on #3615
This sounds like a feature request. Do you have a working version you can submit for PR?

[2016-07-30 20:10] Jmainguy commented on #3835
I tried to recreate this on ansible-2.2.0-0.git201605131739.e083fa3.devel.el7.centos.noarch and was unable to reproduce.

imported a 240mb .tar.gz (took a few hours, but it worked).

This was on centos, can you try again with devel on ubuntu and let me know if this is still happening?

[2016-07-30 20:24] jctanner commented on #3592
@opennomad this should be filed in https://github.com/ansible/ansible/issues

[2016-07-30 20:24] #3592 closed, assigned to nobody

[2016-07-30 20:28] minac commented on #4227
Thanks Rick!

##

Miguel
https://www.migueldavid.eu

On 30 Jul 2016 5:28 p.m., "Rick Mendes" notifications@github.com wrote:

[2016-07-30 22:55] harneksidhu commented on #4219
Should we consolidate this with #4200 and include block storage support as well?

[2016-07-30 23:44] ghost commented on #4053
@jamesongithub

I tried several runs each with boto2 and boto3 and I cannot reproduce your issue. The ping_port changes reliably for me.

This is my Ansible version.

[code]

This is the playbook I used for testing for the second run.

[code]

Module output snippet from the update run.

[code]

You want to give this a try @jsdalton?

[2016-07-31 00:05] ghost commented on #3804
@IslandUsurper Your fix looks good. Have you figured out why your PR does not pass the tests?

@davidfischer-ch If you put up a PR and yours passes the tests you should give @IslandUsurper credit for the fix.

@gregdek I am not sure what your ansibot wants me or @jsdalton to do with this. There is a fix available that I would like to see merged if the tests pass.

[2016-07-31 00:23] AshleyYakeley commented on #1259
Wouldn't it be simpler to have a separate "fstab" module that controlled `/etc/fstab` but didn't mount or umount anything, and a "mount" module that controlled mounts but didn't touch `/etc/fstab`?

[2016-07-31 06:38] jordy25519 commented on #3760
raffienficiaud I think this is may actually be caused by changes to the docker implementation. Even using docker 1.11 without ansible, building fails to find the image locally.

[2016-07-31 08:34] raffienficiaud commented on #3760
I think I do not experience the same issue as explained here. The problem I was hitting is that, as soon as there is a `/` in the image name, it is interpreted as a registry. Removing all namespace `/` do actually work.
Sorry for the noise... (however the problem I had coincides well with the subject of this bug :) )

[2016-07-31 08:41] davidfischer-ch commented on #3804
Hello,

What content for the credits? I wasn't aware of this pull request when I faced the issue and implemented my fix.

[2016-07-31 10:43] alukovenko commented on #4219
Let's merge #4200 to this issue

[2016-07-31 10:44] alukovenko commented on #4117
EDIT: remove bot broken command - jctanner
maybe?

[2016-07-31 13:36] carsongee commented on #3689
Do you know if this only happens with newly created VPCs?  We already have a sleep and wait loop that even catches the exception in the stack trace reported and retries: https://github.com/ansible/ansible-modules-core/blob/devel/cloud/amazon/ec2_vpc.py#L365-L367 a few lines above where this exception handled, so I don't think this should be happening in general, unless we get the OK and then we do

[2016-07-31 13:48] bluen commented on #3929
This seems to be still the case in ansible-2.1.1 (installed via pip).

The error is not visible in ansible output - the container (swarm-manager, swarm-node, shipyard controller in my case) is started, but then exits with `No help topic found for  'server -d tcp://swarm:4000'` (in the case of shipyard controller here).

Passing command as array fixes the issue for me.

[2016-07-31 13:56] erjohnso commented on #4030
/cc @supertom

[2016-07-31 14:46] hnakamur commented on #573
I asked about checking whether systemd is used at https://groups.google.com/d/msg/ansible-devel/CNJyrMRPp50/f0pmsG8SAgAJ

[2016-07-31 14:46] erjohnso commented on #3150
/cc @supertom

[2016-07-31 14:46] erjohnso commented on #3100
/cc @supertom

[2016-07-31 15:01] hnakamur commented on #3360
Yes, it's related to #573.
I need to know how to check whether systemd is used in the hostname module.
I read #3713, but I didn't get what the conclusion is.
I think the `service_mgr` in facts is what I should look but I don't know how to do it in a module.
I'm asking about it at the ansible develop mailing list.
https://github.com/ansible/ansible-modules-core/issues/573#issuecomment-236433958

[2016-07-31 15:14] alukovenko commented on #3557
It seems that dopy brings a lot of problems, so it would be better to get rid of using dopy at all (take a look at #4219) - wontfix

[2016-07-31 15:15] agaffney commented on #2807
I was able to work around this by replacing the `/usr/bin/crontab -> /bin/busybox` symlink with this wrapper script (using ansible, of course):

[code]

[2016-07-31 15:17] agaffney commented on #2807
I'm okay with closing this issue as "won't fix", since it only happens on an ancient busybox, I'm apparently the first to run into it, and I have a functional workaround to the problem.

[2016-07-31 15:23] ronron22 commented on #3565
I closed this issue.

[2016-07-31 15:23] #3565 closed, assigned to nobody

[2016-07-31 15:30] #3557 closed, assigned to nobody

[2016-07-31 16:12] jctanner commented on #3227
bot_broken

[2016-07-31 16:14] jctanner commented on #3209
@rajatguptarg Please file this in https://github.com/ansible/ansible/issues

[2016-07-31 16:14] #3209 closed, assigned to nobody

[2016-07-31 17:47] jctanner commented on #3111
bot_broken

[2016-07-31 17:59] #3153 closed, assigned to docschick

[2016-07-31 18:06] #3039 closed, assigned to nobody

[2016-07-31 18:12] ghost commented on #3549
@Dmitry1987 I see the issue. Working on a fix today.

[2016-07-31 18:16] jctanner commented on #3021
@wfaler please file this in https://github.com/ansible/ansible/issues

[2016-07-31 18:16] #3021 closed, assigned to nobody

[2016-07-31 18:24] jctanner commented on #3004
bot_broken

[2016-07-31 18:30] jctanner commented on #2991
bot_broken

[2016-07-31 18:38] jctanner commented on #2970
bot_broken

[2016-07-31 18:53] davidfischer-ch commented on #3804
Hello,

Of course, but I will not put up a PR.
In fact I am eager to see this quick fix in devel to stop messing with a modified fork...

Thanks.

[2016-07-31 18:56] jctanner commented on #3151
bot_broken

[2016-07-31 19:03] jctanner commented on #2958
bot_broken

[2016-07-31 19:12] EvanK commented on #3216
This is documented in #3770, so bug_resolved?

[2016-07-31 19:13] MichaelBaydoun commented on #2970
PR was merged, going to close this

[2016-07-31 19:13] #2970 closed, assigned to nobody

[2016-07-31 19:23] ghost commented on #3804
@davidfischer-ch My comment was based on noticing your commit was almost a month after @IslandUsurper commit and the code was the same. I would rather you put up a PR so we can get this fixed sooner if @IslandUsurper  does not respond or responds that he cannot fix the Travis issue.

Ultimately, we have a known bug with a fix available and it is not getting merged. So we need to find a way to move

[2016-07-31 19:28] #3216 closed, assigned to nobody

[2016-07-31 19:30] jctanner commented on #3151
bot_broken

[2016-07-31 19:36] davidfischer-ch commented on #3804
Hi,

Can you specify which commit? Isn't it a merge commit in a branch of my fork?
I am sorry if github is looking for relations and report unrelevant info here.

Regards,

David

[2016-07-31 19:39] #2895 closed, assigned to nobody

[2016-07-31 19:44] erjohnso commented on #3369
/cc @supertom

[2016-07-31 19:51] #2839 closed, assigned to nobody

[2016-07-31 20:02] czerasz commented on #2935
@lightcode you are right! Thx for your feedback

[2016-07-31 20:02] #2935 closed, assigned to nobody

[2016-07-31 20:11] jctanner commented on #2754
bot_skip

[2016-07-31 20:22] jctanner commented on #2671
bot_broken

[2016-07-31 20:23] rcarrillocruz commented on #2714
I rather have this on os_server_actions.

rebuild is not a state itself, present/absent/suspended/paused is  (and yeah, i'm aware suspend/pause is in os_server_actions, I'd really like to see that moved to os_server at some point).

I'll review and test this in depth this week.

[2016-07-31 21:42] jbscare commented on #3221
ec2_group_facts would be another way to compare the live state before and after a change, but what I really had in mind here was a way to compare what ec2_group.py would do, against the live state, ideally in a way that would work with --check.

[2016-07-31 22:00] gregsidelinger commented on #2708
Sorry, forgot to come back mark the issue closed as the new ansiballs approach in 2.1 gets around the issue.

[2016-07-31 22:00] #2708 closed, assigned to nobody

[2016-07-31 23:11] jpic commented on #2855
@jbotelho2-bb did the upgrade work for you ?

[2016-07-31 23:29] grossws commented on #2718
@ansibot, needs_contributor

@dorkmatt, it should be added in [ansible/ansible](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts.py#L615) since [system/setup](https://github.com/ansible/ansible-modules-core/blob/devel/system/setup.py#L116) is just a thin proxy to `facts` module.

[2016-08-01 00:20] jctanner commented on #2626
bot_broken

[2016-08-01 00:21] hnakamur commented on #3137
Hi, thanks for your bug report.
It's related to issue #573.

[2016-08-01 00:47] jjshoe commented on #2607
needs_info

[2016-08-01 01:01] erjohnso commented on #2562
/cc @supertom

[2016-08-01 01:10] h-hirokawa commented on #4174
The fix has been already merged in eab6bb8.

[2016-08-01 01:10] #4174 closed, assigned to nobody

[2016-08-01 01:11] jctanner commented on #2465
resolved_by_pr https://github.com/ansible/ansible-modules-core/pull/2992

[2016-08-01 01:11] #2465 closed, assigned to nobody

[2016-08-01 01:45] omgjlk commented on #4230
This seems legitimate. I'll see if I can work up a patch to make server an optional argument.

[2016-08-01 01:57] omgjlk commented on #3272
resolved_by_pr #4068

[2016-08-01 02:00] omgjlk commented on #3009
resolved_by_pr #3388

[2016-08-01 02:02] omgjlk commented on #2901
This is a rather old report, and there have been updates to shade and python-novaclient since. Can you update those to the latest versions on your target system and re-run this creation attempt?

needs_info

[2016-08-01 02:05] omgjlk commented on #2599
resolved_by_pr #2871

[2016-08-01 02:18] jctanner commented on #2267
bot_broken

[2016-08-01 02:33] jctanner commented on #2129
This seems to be describing the unarchive module http://docs.ansible.com/ansible/unarchive_module.html

[2016-08-01 02:33] #2129 closed, assigned to nobody

[2016-08-01 02:36] jctanner commented on #2113
@dwcramer the quantum_router module is deprecated and no longer maintained.

[2016-08-01 02:36] #2113 closed, assigned to nobody

[2016-08-01 02:43] jctanner commented on #2037
resolved_by_pr https://github.com/ansible/ansible-modules-core/pull/3307

[2016-08-01 02:43] #2037 closed, assigned to nobody

[2016-08-01 02:54] #3272 closed, assigned to nobody

[2016-08-01 02:55] #3009 closed, assigned to nobody

[2016-08-01 02:56] #2599 closed, assigned to nobody

[2016-08-01 03:15] jctanner commented on #1610
bot_broken

[2016-08-01 03:16] #1577 closed, assigned to nobody

[2016-08-01 03:32] erjohnso commented on #1145
/cc @supertom

[2016-08-01 03:35] #1437 closed, assigned to nobody

[2016-08-01 03:37] erjohnso commented on #977
/cc @supertom

[2016-08-01 03:42] jctanner commented on #645
bot_broken

[2016-08-01 03:43] erjohnso commented on #717
/cc @supertom

[2016-08-01 03:53] yeukhon commented on #1851
This is a very old issue. I have to double check the current implementation, but when we first wrote the module, pushing to remote wasn't in our mind.

[2016-08-01 04:05] erjohnso commented on #154
/cc @supertom

[2016-08-01 04:43] gregswift commented on #3185
this should have been in 2.0.2 forward.

@eddwardo can you confirm?

[2016-08-01 05:43] algupta commented on #2006
Closing this issue.

[2016-08-01 05:43] #2006 closed, assigned to nobody

[2016-08-01 05:45] algupta commented on #2005
I am not sure, whether this issue still exists or not as I am currently not using Ansible.

[2016-08-01 05:55] JimBarber commented on #3700
Sorry for the delay in response, I've been away on leave.

I'm using the Ansible package from Debian backports, so until they pull in this fix I can't test?
That project recently upgraded the Ansible package to version 2.1 like so:

[code]

The package as shown by Debian package managers is:

[code]

This version still fails when I use the `--diff` parameter.
So I can only assume your fix is not i

[2016-08-01 06:09] JimBarber commented on #3700
I didn't mean to close this case. Re-opening.

[2016-08-01 07:01] jhawkesworth commented on #3700
Generally you'll need to use the latest development version of ansible to test it, and then pull the change into your copy of the development version of ansible.  There are some instructions here: http://docs.ansible.com/ansible/developing_test_pr.html although from memory they assume you have ansible installed from a git checkout which is described here: http://docs.ansible.com/ansible/intro_inst

[2016-08-01 07:14] jhawkesworth commented on #1480
I'm going to close this as a a 'wont fix'.  Its documented here: http://docs.ansible.com/ansible/win_template_module.html#notes how to get the desired behaviour, which is a side effect of jinja2's defaults (and background)

[2016-08-01 07:14] #1480 closed, assigned to nobody

[2016-08-01 07:22] jhawkesworth commented on #2456
This behaviour is as documented.  See the 'regex' description in the options documentation here: http://docs.ansible.com/ansible/win_lineinfile_module.html#options

Consider using template / win_template to achieve what you need.  Bear in mind you can loop inside jinja2 templates there is an example here: http://docs.ansible.com/ansible/win_lineinfile_module.html#options

Since this is the documen

[2016-08-01 07:22] #2456 closed, assigned to nobody

[2016-08-01 07:29] JimBarber commented on #3700
I had no luck creating a /etc/ansible/library directory and downloading the files there.
The test still failed, so it seems the files were not detected.

So instead I backed up the original files in the following directory:
    /usr/lib/python2.7/dist-packages/ansible/modules/core/windows/

Then overwrote the win_file.\* files with your new ones.

[code]

Then the test worked as expected:

[code]

[2016-08-01 08:13] discordianfish commented on #1129
@ansibot What feedback?

[2016-08-01 08:21] zimbatm commented on #2847
needs_contributor. There is probably something broken in the heuristic but I don't have the time to fix it.

[2016-08-01 08:21] zimbatm commented on #2893
needs_contributor

[2016-08-01 08:31] grossws commented on #1577
@gregdek, @jctanner should bot remove `waiting_on_*` in case issue is closed? Also similar case is `needs_contributor`.

[2016-08-01 08:39] GGabriele commented on #4082
This can be closed

[2016-08-01 08:51] msmiths commented on #3663
Hi David, Monty,

It turns out that this is an issue with using async tasks in conjunction with Ansible installed inside a virtualenv.

The hosts file that I use when executing the playbook that creates my OpenStack infrastructure is as follows:

[code]

I need to specify the ansible_python_interpreter argument to ensure that the python in my virtualenv is used when executing the tasks locally.  W

[2016-08-01 08:52] gangefors commented on #2439
Closing issue.
Can't be reproduced with Ansible 2.1.0.0 and the docker_container module.

[2016-08-01 08:52] #2439 closed, assigned to nobody

[2016-08-01 08:55] b1-88er commented on #3185
@gregswift I am still testing multiple exclude hosts.

[2016-08-01 08:56] bgandon commented on #3929
There is no space-based splitting of arguments like a shell would do. Instead, specify each argument as a list item:

[code]

This just lacks being documented properly.

[2016-08-01 08:57] jhawkesworth commented on #3204
This bug report is old, and the correct way to form paths for windows hosts is described above, so I am going to close this.  If there is more to add @michaelluich please re-open, but this looks like an answered question to me.

[2016-08-01 08:57] #3204 closed, assigned to nobody

[2016-08-01 09:27] zoltan commented on #4082
Thanks for the explanations and sorry for the late reply. I think the current behaviour is not THAT intuitive, and having those flags you mentioned @jedelman8 would be great.

Thanks again!

[2016-08-01 09:34] wimnat commented on #2688
@dhruvbansal unfortunately boto3 provides limited support for referencing managed policies by name.

@gregdek I think this has had enough +1s for merge - unfortunately noone tagged with shipit

[2016-08-01 10:05] galindro commented on #1445
No more time to check this

[2016-08-01 10:05] #1445 closed, assigned to nobody

[2016-08-01 10:07] galindro commented on #1343
Guys any return about this problem?

[2016-08-01 10:50] alukovenko commented on #607
needs_info
@axos88, what version of dopy do you use?

[2016-08-01 10:52] alukovenko commented on #2402
Will be fixed in #4219, wontfix

[2016-08-01 10:54] alukovenko commented on #4219
@kontrafiktion , @harneksidhu - it would be great do collaborate on this to add up the effort; would you be willing to contribute to developing this new module(s)?

[2016-08-01 10:55] alukovenko commented on #2396
Hopefully will be supported in #4219
wontfix

[2016-08-01 10:56] alukovenko commented on #1412
Going to get rid of dopy in #4219
wontfix

[2016-08-01 10:56] alukovenko commented on #1094
Hopefully will be fixed in #4219
wontfix

[2016-08-01 11:00] alukovenko commented on #2509
getting rid of dopy in #4219
wontfix

[2016-08-01 11:18] kontrafiktion commented on #4219
I already started, I think I have a first version next week

[2016-08-01 11:21] alukovenko commented on #4219
@kontrafiktion would you like to do it by your own? I would like to join.

[2016-08-01 11:28] rcarrillocruz commented on #708
Hi @yfried-redhat

glance_image module is considered deprecated.

Can you please use os_image instead? The disk_format is exposes as a parameter.

Thanks

[2016-08-01 11:29] rcarrillocruz commented on #743
I'd say this is not just an issue on glance_image, but on all OpenStack modules.

This will need a major change in the code base.

[2016-08-01 11:30] kontrafiktion commented on #4219
You are more than welcome. I have no idea yet, how to split up the work.
I just published my work in progress at https://github.com/kontrafiktion/ansible-modules-core/tree/4219_deprecate_digital_ocean_module

[2016-08-01 11:32] rcarrillocruz commented on #821
Hi @peterjenkins1

glance_image is considered deprecated, you should use os_image instead.

Please try that module your playbook and report back if you have the same issues.

Thanks

[2016-08-01 11:33] rcarrillocruz commented on #1424
Hi @ericwb

glance_image is deprecated, you should use os_image instead.

Please give it a try and let us know if you have this issue (from what I read in the code of os_image min_ram and min_disk is indeed used).

Thanks

[2016-08-01 11:48] #2281 closed, assigned to nobody

[2016-08-01 12:35] ndobbs commented on #143
This issue was fixed by implementing controls such as until and serializing machine's in 'batches' in order to avoid the AWS throttling limit.

[2016-08-01 12:56] martintopholm commented on #2848
Okay. Could it make sense to move some of the non-mutable parameters from extra_args to other attributes. E.g. support --proxy and --find-links as options to the module?

[2016-08-01 13:08] jbotelho2-bb commented on #2855
With the latest ansible devel, I'm able to create both the rule and the group. Unfortunately, when I run it a second time, it fails to check the security group rule. This is with the latest shade (1.9.0).

Here is the output of the second run:

[code]

[2016-08-01 13:16] jpic commented on #2855
What happens when you change [this line](https://github.com/ansible/ansible-modules-core/blob/7c52ea58f1b58023d1c7508afcdb388497172095/cloud/openstack/os_security_group_rule.py#L224):

[code]

With:

[code]

[2016-08-01 13:17] emonty commented on #3533
This has been fixed in the latest 2.0.

[2016-08-01 13:17] #3533 closed, assigned to nobody

[2016-08-01 13:18] jpic commented on #2855
Without modifying ansible's code, i wonder if it works when you add remote_group_id to your ansible task, does it work in this case ?

[2016-08-01 13:20] emonty commented on #2855
I'd also be interested in the answer to that. If it does, then it would be easy enough for us to fix to DTRT in shade

[2016-08-01 13:21] ghost opened #4290 "Select ip for interface on os_router module"
##### ISSUE TYPE

- Feature Idea
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

If the first ip of a subnet is alredy assigned, router is created but interfaces are not.
##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

If no IP is selected, ansible should use the first free IP on the newtork.
If IP is selected, ansible should use it to cr

[2016-08-01 13:21] jpic commented on #2855
Thanks for your reply !

What is DTRT ?

[2016-08-01 13:23] bcoca commented on #664
this is not module related and was fix a while ago, closing.

[2016-08-01 13:23] #664 closed, assigned to nobody

[2016-08-01 13:46] emonty commented on #743
I recommend moving to os_image - glance_image is fundamentally broken in many many ways and is deprecated.

wontfix

[2016-08-01 13:51] frenkel commented on #3344
This occured again for me on 2.1.0. What version incorporates the fix?

[2016-08-01 13:55] ghost commented on #2257
With 1.9.5 released, this issue was fixed.

[2016-08-01 13:55] #2257 closed, assigned to nobody

[2016-08-01 14:02] #2509 closed, assigned to nobody

[2016-08-01 14:03] #2402 closed, assigned to nobody