[2016-08-01 14:05] #2396 closed, assigned to nobody

[2016-08-01 14:07] #1412 closed, assigned to nobody

[2016-08-01 14:08] #1094 closed, assigned to nobody

[2016-08-01 14:08] #743 closed, assigned to nobody

[2016-08-01 14:24] hnakamur commented on #2004
As for `/etc/hosts`, it is documented at
http://docs.ansible.com/ansible/hostname_module.html#synopsis

As for systemd, this issue may be related to #573

[2016-08-01 14:30] Shrews commented on #1424
os_image does support these params. Please use the newer modules.

wontfix

[2016-08-01 14:33] IslandUsurper commented on #3804
@rickmendes, considering that the Travis problem was in a different module, I didn't think there was anything I could do.

[code]

I think Travis should be run again against my PR to see if the problem goes away. I didn't touch gc_storage.py, so it shouldn't have failed because of me.

[2016-08-01 14:33] Shrews commented on #708
As @rcarrillocruz said, this module is deprecated.

wontfix

[2016-08-01 14:34] Shrews commented on #820
Please use os_image as this module is deprecated.

wontfix

[2016-08-01 14:57] harneksidhu commented on #4219
@kontrafiktion Thank's for taking a shot at this! Not sure how to split up the work either but am available if you want to send some tasks my way or need help with testing/reviewing code. I'm looking forward to getting rid of dopy.

[2016-08-01 15:03] #1424 closed, assigned to nobody

[2016-08-01 15:03] #820 closed, assigned to nobody

[2016-08-01 15:03] #708 closed, assigned to nobody

[2016-08-01 15:08] #3804 closed, assigned to nobody

[2016-08-01 15:08] jctanner commented on #3804
The PR passes after a re-run of travis. I went ahead and merged, so this issue should be resolved. Thanks everyone.

[2016-08-01 15:15] bobobox commented on #386
Closing as this feature has been implemented in Ansible 2.0

[2016-08-01 15:15] #386 closed, assigned to nobody

[2016-08-01 15:29] smiller171 commented on #143
@ndobbs I would call that a workaround, not a solution. That said, many changes have been made and this was likely solved by now.

[2016-08-01 15:46] gregdek commented on #2688
@wimnat this isn't a PR -- and from what I can see, it seems the +1s in the issue are saying "I'd like it if this module exists", and _not_ the same as an actual "shipit" in the module itself (i.e. I downloaded this code and tested it and it works for me).

So everyone who gave a +1 here -- @Constantin07 @stephanadler @slok @mykola42 @matthewrkrieger @nagas @hirotaka-iijima @dhruvbansal -- please

[2016-08-01 15:52] timmahoney commented on #2299
This issue can be closed.

[2016-08-01 15:54] timmahoney commented on #2299
wontfix This is a limitation in AWS.

[2016-08-01 16:25] #2299 closed, assigned to nobody

[2016-08-01 16:33] jctanner commented on #4117
@alukovenko If we are waiting on a PR, I think the issue is technically waiting on you to either get the PR merged so that github closes the issue automatically or for you to use one of the various bot commands to close the issue. So with that workflow in mind, I'm keeping this "waiting_on_maintainer"

[2016-08-01 16:39] jctanner commented on #3151
ping @bpennypacker, @willthames

[2016-08-01 16:41] jctanner commented on #2958
ping @alukovenko

[2016-08-01 16:54] rogersmark commented on #3783
Seeing this issue as well, even with ansible 2.1.1.0. Converting to a list did not help in my instance however.

[2016-08-01 16:58] alukovenko commented on #2958
Getting rid of dopy in #4219
wontfix

[2016-08-01 16:59] alukovenko commented on #4221
#4219 is the main issue
wontfix here

[2016-08-01 17:00] bcoca commented on #4221
closing in favor of #4219

[2016-08-01 17:00] #4221 closed, assigned to nobody

[2016-08-01 17:11] smiller171 commented on #1370
@bcoca @ansibot  I think @jsmartin has abandoned this, but I can confirm if it's still an issue tonight. This was a big deal for me a year ago

[2016-08-01 17:13] alukovenko commented on #4117
resolved_by_pr in #4218

[2016-08-01 17:14] richardasaurus commented on #4200
+1

[2016-08-01 17:20] smiller171 commented on #1066
@bcoca @defionscode This issue has been open for over a year and it's possible that things have changed and it's no longer an issue. I can take the time to test if needed

[2016-08-01 17:27] #4117 closed, assigned to nobody

[2016-08-01 17:27] #2958 closed, assigned to nobody

[2016-08-01 17:41] steveej commented on #522
Pretty sure this was fixed by #547.

[2016-08-01 17:50] #603 closed, assigned to nobody

[2016-08-01 17:52] brandond commented on #3296
FWIW, this module appears to only be idempotent if you use instance_tags and count_tag properly. If you don't tag the instance with instance_tags, and then use count_tag to find an instance with those tags the next time around, it will happily keep creating more instances for you. It does not look at **anything** else when deciding whether or not to create another instance.

[2016-08-01 17:53] FritsHoogland commented on #178
Not sure what to do with the ansibot ping.

I am convinced a ssh module that needs less than raw will be helpful for ansible in general, because ansible is all about managing an infrastructures. Embedded devices are part of that!

Actually, you see specific custom made specific modules for this specific reason, like the Cisco and HP ILO modules. This can all be circumvented when a 'shell-less' mod

[2016-08-01 18:04] jctanner commented on #178
@FritsHoogland Hi, sorry if the notification was confusing. The intent was to notify the maintainer of the module (raw module == ansible core team) to let them know you still need resolution on this issue.

[2016-08-01 18:20] svpace commented on #3669
Failed to attract interest in the mailling list. Closing.

[2016-08-01 18:20] #3669 closed, assigned to nobody

[2016-08-01 18:25] oupala commented on #2004
The behaviour is consistent with the ansible documentation, but it is not consistent with debian documentation.

The module is known to change the hostname but it doesn't do it correctly.

The behaviour of the module and its documentation should be updated in order to get it work.

I don't understand what does systemd do in this issue. I think hostname module does not work on debian whatever init

[2016-08-01 18:31] mattupstate commented on #631
needs_contributor

[2016-08-01 18:31] mattupstate commented on #772
needs_contributor

[2016-08-01 18:31] mattupstate commented on #1213
needs_contributor

[2016-08-01 18:31] mattupstate commented on #1532
needs_contributor

[2016-08-01 18:31] mattupstate commented on #1932
needs_contributor

[2016-08-01 18:32] mattupstate commented on #2218
needs_contributor

[2016-08-01 18:32] mattupstate commented on #2237
needs_contributor

[2016-08-01 18:32] mattupstate commented on #2568
needs_contributor

[2016-08-01 18:32] mattupstate commented on #3055
needs_contributor

[2016-08-01 18:32] mattupstate commented on #3060
needs_contributor

[2016-08-01 18:32] mattupstate commented on #3325
needs_contributor

[2016-08-01 18:32] mattupstate commented on #3190
needs_contributor

[2016-08-01 18:32] mattupstate commented on #3299
needs_contributor

[2016-08-01 18:32] mattupstate commented on #3426
needs_contributor

[2016-08-01 18:32] mattupstate commented on #3923
needs_contributor

[2016-08-01 18:35] apolloclark commented on #3296
@brandond sounds good, could you update the documentation to include this? I found it really confusing.

[2016-08-01 18:43] pierrelucveilleux commented on #4229
I have the same issue

[2016-08-01 18:59] tima commented on #553
Given the age and the substantial rewrites of synchronize and core since I'm going to recommend this be closed. If the problem still persists and an issue is not already open, please open a new issue with updated information. Thanks.

wontfix

[2016-08-01 19:02] tima commented on #2781
Waiting on contributor input on this related PR: https://github.com/ansible/ansible-modules-core/pull/4211

[2016-08-01 19:04] Shrews commented on #3567
Unfortunately, I have no way to reproduce this error. Are you still experiencing this error? And have you tried it with the latest versions of shade and Ansible?

needs_info

[2016-08-01 19:05] armandocerna commented on #3249
This issue has been resolved as of 2.1

[2016-08-01 19:05] #3249 closed, assigned to nobody

[2016-08-01 19:11] #553 closed, assigned to nobody

[2016-08-01 19:13] Shrews commented on #3969
I believe the expectation when these modules were originally written was that these modules would be used for complete lifecycle of your inventory (server creation/modification/deletion), in which case the names would always be unique. If the instances were created without these modules, and you attempted to use them, then things might not work as expected (as you're seeing).

We can debate the wi

[2016-08-01 19:23] #3549 closed, assigned to nobody

[2016-08-01 19:32] omgjlk commented on #3969
I think it's reasonable to allow a name or a UUID to be taken in, and then treated as name or UUID internally. That way, if there _is_ conflict, the UUID can be used specifically to avoid confusion.

[2016-08-01 19:41] emonty commented on #3969
On 08/01/2016 02:32 PM, Jesse Keating wrote:

Yes. In case of duplicates, using UUID is the best way to go.

[2016-08-01 19:51] cooktheryan commented on #3549
@rickmendes I'm not sure if this is working completely yet or if the error is on my end.  It looks like it may be rejecting instance ids and the module can only work with enis.

fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "invocation": {"module_args": {"aws_access_key": null, "aws_secret_key": null, "device_id": "['i-d5664345']", "ec2_url": null, "in_vpc": true, "profile": nu

[2016-08-01 19:58] ghost commented on #3549
@cooktheryan I was testing it with instance_ids and was working. It is setup to work with both. The issue could be the way you are passing the ids. That does not look like an array. It looks like a string  "['i-d5664345']". Try ['i-d5664345'] or simply "i-d5664345" and see if you fair better.

[2016-08-01 20:06] cooktheryan commented on #3549
@rickmendes I was hoping to carry over a var from a previous play but I am in the process of transitioning from 1.9 to 2.1. Here is what I was running before.

[code]

[2016-08-01 20:08] tima commented on #2502
I cannot reproduce this error with 2.1.1.0 so I'm going to assume it was fixed. Can you please verify @goozbach?

...

waiting_on_contributor

[2016-08-01 20:13] tima commented on #3370
bug_resolved

[2016-08-01 20:15] smalenfant commented on #1213
Looks like Fastly fixed their IPv6 issue. Just an update.

[code]

[2016-08-01 20:30] #3370 closed, assigned to nobody

[2016-08-01 20:44] jctanner opened #4294 "TEST ISSUE IGNORE ME synchronize"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

synchronize module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

blah blah blah
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-08-01 20:44] jctanner commented on #4294
duplicate_of 9999

[2016-08-01 20:48] ghost commented on #3549
@cooktheryan I have been away from this module for a bit so all details are not yet in my head. I just checked the spec on the module and it does not take a list of instance/device ids. It only takes a singular id.

So try this:

[code]

You can always put the module call in a loop for multiples or cleaner, a play with multiple hosts.

ex)

[code]

presuming each host has an instance dictionary wi

[2016-08-01 20:49] #4294 closed, assigned to nobody

[2016-08-01 20:50] tannerjcghtester1 opened #4295 "TEST ISSUE IGNOREME synchronize"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
synchronize

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

synchronize this!

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-08-01 20:51] jctanner commented on #4295
needs_info

[2016-08-01 20:51] jctanner commented on #4295
!needs_info
needs_contributor

[2016-08-01 20:52] jctanner commented on #4295
needs_contributor

[2016-08-01 20:52] jctanner commented on #4295
duplicate_of 99999

[2016-08-01 20:52] #4295 closed

[2016-08-01 21:16] mschurenko commented on #2483
Yeah it's true that not every resource supports tags, but that's the exception, not the rule. If I use a tool like Terraform the resources that support tagging have a tag option. I don't have to use a separate resource to add tags. Why can't there be a common library for ec2 tagging that could be included in ec2 modules when they do support tagging?

[2016-08-01 21:23] jbotelho2-bb commented on #2855
@jpic with that line changed, it runs fine, but obviously it would assume a rule that has the wrong source group/IP is fine and does not need a change.

Adding remote_group_id causes an error because its not supported by the module:

[code]

[2016-08-01 22:04] tima commented on #2965
needs_contributor

[2016-08-01 22:28] sean-abbott commented on #1343
Still having this issue in 2.1.1.0.

[2016-08-02 00:03] cooktheryan commented on #3549
@rickmendes looks like error on my end:D. Thanks for the help! The module your pushed to devel works as expected

[2016-08-02 01:27] bingoarun commented on #3969
@Shrews , @j2sol , @emonty  : Thanks for the clarification. If we are good with keeping the variable as "name" , I think we are good to close this one .

[2016-08-02 01:35] omgjlk commented on #3969
A pull request to clarify the documentation that `name` could be a UUID as well would be welcome!

[2016-08-02 03:45] gregswift commented on #3079
@bcoca based on the workflow doc, what exactly should i do with this request? you left it as a feature_idea originally.

[2016-08-02 03:47] gregswift commented on #1674
@bcoca based on the workflow doc, what exactly should i do with this request? you left it as a marker.

[2016-08-02 03:49] gregswift commented on #861
needs_info

[2016-08-02 04:40] Ehekatl commented on #3783
@f4nt are u using git repo ? make sure you update sub module as well, I can confirm that this fix is already in 2.1.1 now

[2016-08-02 04:52] hutchic commented on #1551
oh thanks robot you're right this is very old. I have no clue if this is still an issue - at minimum it's not an issue I'm currently having

[2016-08-02 04:52] #1551 closed, assigned to nobody

[2016-08-02 04:55] hutchic commented on #3806
@orischwartz PR looks good going to close this and will just follow it

[2016-08-02 04:55] #3806 closed, assigned to nobody

[2016-08-02 06:34] prutseltje commented on #1932
Issue still exists in ansible 1.9.1
In ansible 2.1.1.0 the issue is solved

[2016-08-02 07:44] jhawkesworth commented on #3079
I think perhaps ansibot is confused as it was originally raised as a bug.  I've edited the initial report so it appears as a feature idea now, so hopefully that's enough to keep ansibot from prodding about this.

For info there is now a win_reboot action included in ansible and I understand @nitzmahone is working on async support for windows at the moment, so steps are being made towards implement

[2016-08-02 08:40] alukovenko commented on #4219
@kontrafiktion - would you be able to give us some access for your fork? then we can collaborate in a usual way with creating issues and committing directly...

[2016-08-02 08:51] mrgnx3 commented on #4138
@jctanner Is it expected behaviour that deeper nested failing conditions also register the fact?

An example of what I mean:

[code]

From the above example I would not expect "unexpected_fact" to ever be registered as it is nested within two failing blocks of code. However this is not the case. My background is more development than operations so I am new to this area and wondering if it is corre

[2016-08-02 08:55] kontrafiktion commented on #4219
@alukovenko not sure, what you mean: I can add you as a collaborator. Anybody else as well?

[2016-08-02 09:05] alukovenko commented on #4219
That's exactly what I meant. Thanks!

[2016-08-02 09:07] alukovenko commented on #4219
@kontrafiktion: Just a followup: if you turn on Options -> Features -> Issues, then we can use it to split tasks

[2016-08-02 09:11] kontrafiktion commented on #4219
done

[2016-08-02 12:08] esc commented on #3404
This is by far the best and most precise bug report for double-quotes-become-single-quotes in IAM policies. Thanks to @Dmitry1987 for reporting it. Is is exactly the issue that we are facing!

[2016-08-02 12:09] esc commented on #3404
I can also confirm that @robusto 's fix works.

[2016-08-02 12:10] jan-g commented on #4279
I agree, this can be a nuisance. It's not hard to add a "run_once: yes" to get the original behaviour.

[2016-08-02 12:16] esc commented on #3404
Has anyone tried: https://github.com/ansible/ansible-modules-core/pull/3932

It seems to me like the simple fix suggested by @robusto will be much easier to apply than a backwards incompatible refactoring that piggybacks two bug-fixes..

[2016-08-02 12:32] jctanner commented on #3079
@gregswift & @jhawkesworth if you ever feel like the bot is doing the wrong thing, please use the "bot broken" command, with an underscore instead of a space. I will sort through any issues with that command and try to fix the workflow.

[2016-08-02 12:37] esc commented on #3404
I made a pull-request here: https://github.com/ansible/ansible-modules-core/pull/4298

[2016-08-02 12:39] genei09 commented on #3964
with docker for mac out of beta, this is still an issue.

[2016-08-02 14:16] Shrews commented on #3969
Thanks @bingoarunprasath

notabug

[2016-08-02 14:20] #3969 closed, assigned to nobody

[2016-08-02 15:04] gregswift commented on #3079
bot broken

[2016-08-02 15:05] gregswift commented on #1674
EDIT: removed bot broken command -jctanner

[2016-08-02 15:19] marcinhlybin opened #4300 "easy_install: state 'latest' always shows changed"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

easy_install
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Defaults
##### OS / ENVIRONMENT

Mac OS X
##### SUMMARY

easy_install with `state: latest` always ends up with changed status.
##### STEPS TO REPRODUCE

Task:

[code]
##### EXPECTED RESULTS

State ok.
##### ACTUAL RESULTS

State changed.

[2016-08-02 15:21] grossws commented on #603
@jctanner, @gregdek, I think, ansibot should remove `waiting_on_*` after issue is closed.

[2016-08-02 15:25] bcoca commented on #1674
@gregswift, up to you. As the bot doc points out: "If this bug or feature request is something that you want implemented but do not have the time or expertise to do, comment with `needs contributor` and the issue will be put into a `waiting on contributor` state." (I took out underscores to avoid bot action)

You can also just say you wont fix (w/o space to trigger bot).

[2016-08-02 15:34] jctanner commented on #603
@grossws I've been considering it, but in this case the submitter closed the issue so the bot wouldn't have seen it. It's only getting state==open issues from the github API.

[2016-08-02 15:48] skorokithakis commented on #2368
I've given this a stab as well, but it seems like a rather significant refactoring is needed due to the way that boto3 changed from a connection-centric API to a client-centric API. Many of the calls are the same, and I'm not be sure whether things could be hacked around to support boto3, but it doesn't look trivial at a first glance.

[2016-08-02 15:57] grossws commented on #603
@jctanner in this case it can be catched via merged pull request but it's partial solution.

Maybe adding watch for mentioning `ansibot` would solve visibility issue?

[2016-08-02 16:06] Dmitry1987 commented on #3404
@esc thanks for the fix! will update my playbook when released.

[2016-08-02 16:25] tima commented on #2157
@dbohdan: This seems like correct behavior to me. Roles should be under some sort of version control or being managed thru ansible-galaxy. It's not a good idea to be storing arbitrary files being fetched in there that it makes sense that the fetch module does not use the role path with relative paths.

I checked synchronize with the latest stable release (2.1.1.0) and it does not support this (inc

[2016-08-02 16:25] #2157 closed, assigned to nobody

[2016-08-02 16:35] tima commented on #483
resolved_by_pr ansible/ansible#15306

[2016-08-02 17:04] dbohdan commented on #2157
@tima: I see. Personally, I don't mind this being resolved one way or another as long as `copy`, `synchronize` and `fetch` all behave consistently in the end. Good to know that 2.0 brings that.

[2016-08-02 17:08] gregswift commented on #1674
needs_contributor

[2016-08-02 17:23] tima commented on #2157
@dbohdan from my quick tests copy, fetch and synchronize are working as designed. A relative copy or sync src is relative to the roles files/ path. A relative fetch or sync dest is relative to the roles files/ path. All other relative paths are relative to the playbook running the role.

[2016-08-02 18:20] dbohdan commented on #2157
@tima I understood your previous comment to mean that `fetch` in 2.x still used `dest`s relative to the playbook directory, not the role's `files/` dir, and that `sync` has been updated to match it. If, instead, it is the case that

this matches what I describe as expected in the bug report and what two other users expected `fetch` to do in https://github.com/ansible/ansible/issues/4566. If so, th

[2016-08-02 18:24] zachmullen commented on #4269
I have the same issue. I notice it is happening when the server returns a 302 redirect.

[2016-08-02 18:35] #483 closed, assigned to nobody

[2016-08-02 18:39] Shrews commented on #4192
resolved_by_pr 3407

[2016-08-02 18:43] tima commented on #2157
Right. Sorry that came out wrong. Let's try again.

A relative copy or sync src is relative to the roles files/ path. All other relative paths are relative to the playbook running the role.

[2016-08-02 18:46] #4192 closed, assigned to nobody

[2016-08-02 18:47] sean-abbott commented on #1343
Ok, just in case anyone else has this problem I don't know that this is what I was running into.  I was running ansible with deletegate_to and forward agent, but apparently become was messing with forward agent. I was able to make everything work by using "become: no", as per this suggestion: http://stackoverflow.com/questions/20952689/ansible-ssh-forwarding-doesnt-seem-to-work-with-vagrant

And m

[2016-08-02 18:58] tima commented on #2502
needs_contributor

[2016-08-02 19:09] tima commented on #3895
Hum. OK. I think I understand what's going on. Either the module has to parse the ssh_config to get the Port in the event its not 22 like in your case or the logic needs to be simplified to use 22 even if its already the default and is unnecessary. I'm leading towards the latter here.

[2016-08-02 19:46] rogersmark commented on #3783
@Ehekatl - I'm running on Ubuntu and using the package from the PPA. I am running 2.1.1.0:

[code]

However, the docker_container.py module does not contain the changes from what I'm guessing is the [commit that addressed this problem](https://github.com/ansible/ansible-modules-core/commit/a75ee76aa3c359e1b87a136fab71c59f17fe8f9a).  The copy of docker_container.py on my machine doesn't have any of

[2016-08-02 19:48] dbohdan commented on #2157
@tima Ah, okay. That clears it up.

[2016-08-02 20:37] #2526 closed, assigned to nobody

[2016-08-02 23:41] Bonn93 commented on #2667
Also there for broken machines, a yum transaction can be cutoff and put the state of yum into a bad state requiring this too.

[2016-08-03 00:43] hyeonseongc commented on #2781
@tima both ansible/ansible#16756 and #4211 need to merge to fix this issue.
this issue is what I saw these days, and 2 PRs above will fix it.
since #4211 already merged, action plugin  also need to merged

sorry for inconvenience.

[2016-08-03 02:32] #4257 closed, assigned to nobody

[2016-08-03 03:09] chouseknecht commented on #4158
How do we actually know a build occurred or did not occur? If services are already running, then a build is not performed, even though the _build_ parameter is set to _true_. To force a build, you have to stop the services and then restart with _build_ set to _true_.

Using the following playbook, which is based on the docker-compose django example:

[code]

If I make a change to the Dockerfile, s

[2016-08-03 03:22] tima commented on #3895
@dvzubarev would like to have you check out #4302 and tell us how @abadger's fix works out for you.

needs_info

[2016-08-03 03:50] tima commented on #2781
@peter-jang Understood about how they are related. I ran this by someone in the core team to get this merged and they (rightfully) pointed out that you need some unit tests in your PR. I can have them reverse the other PR that went in already if needed.

[2016-08-03 04:54] #4158 closed, assigned to nobody

[2016-08-03 05:05] #3762 closed, assigned to nobody

[2016-08-03 05:07] #4020 closed, assigned to chouseknecht

[2016-08-03 07:05] robinro commented on #4260
I'm not convinced it is a good idea to add another linux naming fact. We already have `ansible_distribution*` and `ansible_lsb`, which have some redundancy and should contain all information you need.
One of the main issues with those two is that the information contained depends a lot on the distribution and I'm sure adding one more possibility will only increase the confusion.

[2016-08-03 08:43] offlinehoster commented on #2869
Sorry, i forgot about this issue.

With the authorized_key_module

[2016-08-03 08:46] offlinehoster commented on #3515
For example:

You have an init script under /etc/init.d/foobar  and you would like to run this as user alice, it would be awesome to have the option to add runas_user=alice to the service module command to run this script as user alice.

Example:
- service: name=foobar state=started runas_user=alice

So the process is started by the user alice...

You got it?

[2016-08-03 09:16] bbgrk commented on #3205
This is exactly what I need now. It's unfortunate that this is not supported currently. Is there any chance that this will be implemented?

[2016-08-03 11:47] AseemKumar commented on #4260
I am unable to find ansible_lsb in the returned facts. My point is that if there can be as many common facts as possible, it will make life easier. Or maybe what is showing up in ansible_os_name on windows can be put in ansible_distribution so there is commonality? ansible_distribution and ansible_distribution_version return the same information, so ansible_distribution can be changed.

Let's say

[2016-08-03 12:47] grossws commented on #4260
In my case `ansible_distribution` and `ansible_distribution_version` hold different values:

[code]

And `/etc/centos-release` contains `CentOS Linux release 7.2.1511 (Core)` (for same host).

As a workaround you can use something like

[code]

[2016-08-03 12:51] jctanner commented on #2869
@offlinehoster If this issue is still important to you, please file a new one with the contents of the issue template filled out.

[2016-08-03 13:01] brucellino commented on #3241
I hit this problem on ansible 2.2.0.  The suggested fix  - `if not remote_src or copy` -> `if not remote_src and copy` worked.
shipit :ship:

[2016-08-03 13:13] bcoca commented on #3515
That is what become does, it will run it as the become_user, if you set `become=true` and `become_user=alice`

[2016-08-03 13:35] JanMalte opened #4309 "django_manage command collectstatic always reports as changed"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

django_manage
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

running the `django_manage` command `collectstatic` is always reporting changed
##### STEPS TO REPRODUCE

[code]

debug output from registered ansible result

[code]
##### EXPECTED RESULTS

the command should only be reporting as change

[2016-08-03 14:40] jctanner commented on #1360
@astorije any updates?

needs_info

[2016-08-03 14:42] jhughes-mc commented on #4053
We've recreated this consistently, it appears to be directly correlated to how many API calls the module is doing in a short period of time. We have about 8 ELB's with health_check items on each ELB. Around ELB 5 or 6 it starts to stop configuring them reliably. I don't have any debug output but believe it's related to an API throttling error not being handled properly in the boto2 module. If I wa

[2016-08-03 15:22] jean-christophe-manciot opened #4311 "timeout [regression] Exception in multiple nxos_* modules when using SSH transport"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

nxos_nxapi
nxos_command
nxos_template
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

inventory = ./hosts
roles_path = /home/actionmystique/Program-Files/Ubuntu/Ansible/git-Ansible/Roles/roles
fact_caching = redis
fact_caching_timeout = 86400
##### OS / ENVIRONMENT
- **Local host**: Ubuntu 16.10 4.8
- **Target nodes**:
  - NX-OSv 7.3(0)D1(1) (

[2016-08-03 16:42] jean-christophe-manciot commented on #4311
##### COMPONENT NAME

nxos_nxapi

[2016-08-03 16:42] jean-christophe-manciot commented on #4311
Same issue with **nxos_command** run with "show running-config".

[2016-08-03 17:03] jean-christophe-manciot commented on #4311
Same issue with **nxos_template**.

[2016-08-03 17:37] jean-christophe-manciot commented on #4311
No such issue with any ios_\* modules.

[2016-08-03 17:38] baldurmen opened #4312 "Adding `\n<something>` at the end of a job in the cron module breaks idempotence"
#2316

##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

cron_module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Running with `retry_files_enabled = False`
##### OS / ENVIRONMENT

Debian testing running playbooks to a Debian squeeze machine
##### SUMMARY

Adding `\n<something>` at the end of a job in the cron module breaks idempotence.

I was trying this to try to fix #2316
##### STEPS T

[2016-08-03 17:54] jctanner commented on #1343
I am unable to reproduce this issue with the following playbook on any ansible version since 1.7.2 .

[code]

Since there has been no additional updates from the issue submitter and each subsequent response pertains to slightly different scenarios, I'm going to close this. If you have a similar issue, please provide a playbook and -vvvv output in a new ticket.

[2016-08-03 17:54] #1343 closed, assigned to nobody

[2016-08-03 18:19] EvanK commented on #4312
I suspect this is due to the way the cron module parses existing crontabs. Ansible seems to presume that **any managed job** consists of a single line comment (formatted as `#Ansible: <name>`), followed by a single line job.

Perhaps the cron module should _deliberately error out_ when a managed job that is about to be written contains newlines?

[2016-08-03 18:51] #3670 closed, assigned to chouseknecht

[2016-08-03 19:01] EvanK commented on #2807
Let's close this out, then? wontfix

[2016-08-03 19:05] #2807 closed, assigned to nobody

[2016-08-03 19:13] chouseknecht commented on #4228
If I run the following on a Centos 7 vagrant VM using the latest docker_container from source:

[code]

It works. Or, it at least creates the container and puts it in a _running_ state:

[code]

An inspection of the resulting container reveals the volumes:

[code]

[2016-08-03 19:44] chouseknecht commented on #4228
Ugh. ansibot.

I don't think this is an issue with docker_container, as I've shown that the volumes in question can actually be mounted when running docker_container inside a traditional VM. How things work in the context of williamyeh/ansible:debian8, I have no idea.

Also, as I stated, I am running docker_container from source. Lots of bugs have been closed since docker_container landed in 2.1,

[2016-08-03 19:44] #4228 closed, assigned to nobody

[2016-08-03 19:45] #4199 closed, assigned to nobody

[2016-08-03 19:47] ShakataGaNai commented on #4228
So I wanted to put in my 2 cents again that I had the exact same issue on Ansible 2.1.0 with an Ubuntu 16.04 host. No VM's.

[2016-08-03 19:56] chouseknecht commented on #4161
Verified that docker_container is working as expected. Running from source using latest devel branch. Environment: centos 7 with docker 1.11.2.

Using the same playbook as above:

[code]

Run the playbook:

[code]

Since there is no command in the task, the container starts and immediately exists with return code 0:

[code]

Add a command to the task, re-run and see running container:

[code]

[2016-08-03 19:56] #4161 closed, assigned to nobody

[2016-08-03 20:54] JanMalte commented on #4309
It looks like the newline characters are the reason of reporting always as changed.

[code]

[2016-08-03 21:28] chouseknecht commented on #4228
@ShakataGaNai I can confirm that it is indeed broken in 2.1.0. If I `pip install ansible==2.1.0` and run the example playbook, I get the reported error.  However, I can also confirm that it is fixed in 2.1.1.0

To get the fix you must either `pip install ansible==2.1.1.0` or [run from source](http://docs.ansible.com/ansible/intro_installation.html#running-from-source).

If there are other volume r

[2016-08-03 21:33] chouseknecht commented on #3949
resolved_by_pr #4315

[2016-08-03 21:37] #3949 closed, assigned to nobody

[2016-08-03 21:53] EvanK commented on #4312
I can only think of a couple reasons someone might want the `job` parameter to contain newlines:
- readability, in which case...
  1. cron as a standard doesn't support breaking across multiple lines like bash does (by backslash-escaping line breaks)
  2. tasks in a yaml format already give us the ability to span a job over multiple lines _in the task_, where during execution it will be flattened

[2016-08-03 21:56] jamesongithub commented on #4053
Yes, that is when we see it also. @rickmendes try launching 10 of them in parallel w/ the same aws account

[2016-08-03 21:59] ghost commented on #4053
@jamesongithub I am no longer a maintainer on this module. Perhaps @jsdalton can try it.

[2016-08-03 22:17] albertomurillo commented on #292
Wow it's been a while. I will send a PR later this week.

[2016-08-03 22:28] chevectra87 commented on #1701
+ 1

[2016-08-03 22:29] chevectra87 commented on #1701
+1

[2016-08-04 00:50] EvanK commented on #2316
I've tried (and am unable) to replicate this bug with Ansible 2.0.1.0 or 2.1.1.0 against remotes running ubuntu trusty and debian jessie.

I _did_ notice something odd in my tests. If I provision (which creates the cronfile _with_ a trailing newline), then **remove said newline after the fact** with vi:

[code]

Then provision _a second time_, ansible will see that the job itself exists (whitespac

[2016-08-04 01:12] baldurmen commented on #4312
Agreed, but #2316 has been open for more than 6 months, so it's normal to look for some hacks to solve it.

I have never seen a cron job on multiple lines no. I think erroring on new lines is indeed the way to go here, if the cron module actually add a new line at the end for you.

[2016-08-04 02:09] aporcano commented on #170
I am using the following instead of changed_when in case it's helpful to anyone.

[code]

[2016-08-04 02:31] EvanK commented on #4312
@baldurmen I presume you're experiencing the referenced newline bug, which I'm still unable to replicate.

~~What version of ansible and what os/versions (local and remote) are you seeing it with?~~ Disregard me, I'm lacking on sleep. This info is at the top of this issue :facepalm:

[2016-08-04 08:19] TheMP opened #4318 "Random line wraps breaking the yum module, disabling updating packages."
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

yum.py file in packaging module
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 6.7
##### SUMMARY

Issue lies in the following snippet in yum.py file:

[code]

The run_command in the first line of the snippet executes more or less (with some additional flags) the comman `yum check-update`. When updat

[2016-08-04 09:51] chouseknecht commented on #3783
I have `pip install ansible==2.1.1.0` running on Centos 7.

[code]

It works fine. Running the task from the original _Steps to Reproduce_:

[code]

[code]

If however, I revert to ansible 2.1.0, the problem appears:

[code]

[code]

So to get the fix you either need to `pip install ansible==2.1.1.0` or [run from source](http://docs.ansible.com/ansible/intro_installation.html#running-from-source).

[2016-08-04 11:33] mvk commented on #4041
Not clear what is waiting for what.

[2016-08-04 12:04] ChristianTacke commented on #3917
It would be nice, if one could determine from the result, whether the package is available for installation, if it is not installed yet.

[2016-08-04 12:29] ghost commented on #1077
I don't know about the problem of yeroc I fixed it with quoting

[2016-08-04 12:44] gundalow commented on #4082
Is this something we can make clearer by improving the documentation?

[2016-08-04 12:53] gundalow opened #4320 "ios_config.py - "before" not set"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ios_config
##### ANSIBLE VERSION

devel
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

From looking at the code I think we have a few syntax errors
`before` isn't defined - line 276

[code]

Missing a `before = module.params['before']` earlier, or just do

[code]

pep8 also reports some other issues, not sure if they are all valid, tho

[2016-08-04 13:21] slegga commented on #1522
My environment has changed. I can not tell if it work or not for me. I create a new request if I bump into this again. Thank you for your time.

[2016-08-04 13:21] #1522 closed, assigned to nobody

[2016-08-04 13:42] baldurmen commented on #4312
ansible 2.1.0.0, from a Debian testing to a Debian jessie machine

On 03/08/16 10:31 PM, Evan Kaufman wrote:

[2016-08-04 14:23] tillkuhn commented on #3528
I temporarily applied https://github.com/ansible/ansible-modules-core/issues/3528 to fix this problem, but with the latest [v2.1.1.0-1](https://github.com/ansible/ansible/releases/tag/v2.1.1.0-1) Ansible Ubuntu package this issue was re-introduced. Does anybody know why this important fix did not make it into the recent release, and for which release it can be expected? Thanks!

[2016-08-04 14:51] jalbstmeijer opened #4322 "2.1.1: ec2_vpc does not update/change routing table tags"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
inventory = ~/inventory/production
host_key_checking = False
log_path = ~/ansible.log

[ssh_connection]
pipelining = True
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Before with Ansible 1.9.6 and the patch mentioned here: http://grokbase.com/t/gg/ansible-project/149pfx39dg/tagging-ec2-vpc-route-tables-and-ga

[2016-08-04 16:01] snemir2 opened #4324 "azure_rm_virualmashine issue"
##### ISSUE TYPE

- Bug Report
- Feature Idea
- Documentation Report
##### COMPONENT NAME

azure_rm_virtualmachine module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Python 2.7.11
Modules:
azure (2.0.0rc5)
##### OS / ENVIRONMENT

fedora 23
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

creatiion of VM.
##### ACTUAL RESULTS

PLAYBOOK: provision_azure_playbook.yml **

[2016-08-04 16:15] gundalow opened #4325 "junos_package.py: package_version undefined"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

junos_package
##### ANSIBLE VERSION

devel
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

https://github.com/ansible/ansible-modules-core/blame/devel/network/junos/junos_package.py#L141

`wants_ver = module.params['version'] or package_version(module)`

I can't find anywhere in the `ansible/ansible` code base where `package_version` is

[2016-08-04 17:41] EvanK commented on #4312
I'm still unable to replicate...just to confirm, if you _remove_ the job in question (manually or by temporarily adding `state=absent` to the task and provisioning), and then reprovision to add it again, you are still seeing it added _without_ a trailing newline?

[2016-08-04 18:38] tima commented on #3339
@davidfischer-ch and others: I believe https://github.com/ansible/ansible/pull/16349 may resolve this. Could you please verify here?

[2016-08-04 20:41] measurabl-robot opened #4328 "mysql_user support EXECUTE ON PROCEDURE"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

mysql_user
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

I propose adding support to grant EXECUTE ON to a single stored PROCEDURE:
`priv=*.*:mydb.some_stored_procedure:"EXECUTE ON PROCEDURE"`

This cannot be accomplished using the syntax `priv=mydb.some_stored_procedure:EXECUTE` which results in the er

[2016-08-04 20:48] dekimsey commented on #4318
I've also encountered this issue. When I added some debugging output I see the following...

Where every three lines is raw_line, splitted line, action.

[code]

I'm thinking the use of repoquery --show-duplicates --plugins $spec might be a better approach.

[2016-08-04 20:48] jhawkesworth commented on #3700
Thanks for closing this off.  The fix is awaiting final review before merging at the moment.

[2016-08-04 20:57] dekimsey commented on #4229
Possibly related to #4318 ?

[2016-08-04 20:57] leedm777 opened #4329 "mysql_db dump silently fails if database does not exist"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

mysql_db
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Running Ansible from OS X 10.11.6, Python 2.7.12.
Database is MariaDB 5.5.50, installed on Ubuntu 12.04 (precise).
##### SUMMARY

When using `state: dump`, if the database to be dumped does not exist, the task does not fail.
##### STEPS TO REPRODUCE

tasks

[2016-08-04 21:19] supertom commented on #61
@bjolivot Thanks for filing and make the GCE module better.  As you pointed out, this issue is similar to #2111 (since closed) but has a subtle point which I'm glad you highlighted.

Previously, the module would fail silently (as you noted).  Now, in the situation you pose (in the "steps to reproduce"), an update to the network in which the firewall rule applies will occur.  Firewall rule names ar

[2016-08-04 21:24] EvanK commented on #2316
@steven-vogogo @talon-vonneudeck Please test the proposed fix (#4330), if you are able, and let me know if it addresses the bug.

[2016-08-04 21:30] EvanK commented on #4312
@baldurmen I've proposed a fix to the newline termination bug in #2316, but would appreciate feedback from anyone that is affected by it

[2016-08-04 22:13] #4214 closed, assigned to nobody

[2016-08-04 22:15] minac opened #4331 "Feature request: allow iterating listeners with with_items inside ec2_elb_lb task"
ISSUE TYPE

Feature Idea
ANSIBLE VERSION

[code]

OS / ENVIRONMENT

From Mac OS X Capitan to N/a (AWS)

SUMMARY

I need to create an elastic load balancer which listens on a lot of ports (i.e. 100+). I am aware that AWS ELBs do not allow for port ranges in their ELB module (just on security groups), so I would like to do something like this:

[code]

Which does not error out but only creates an EL

[2016-08-04 23:02] dmsimard commented on #593
So is this an issue or not ? I'm also experiencing the same issue with the service module not properly detecting systemd in the CentOS images.

I've set up a reproducer for the issue here:
https://github.com/dmsimard/ansible-service-issue

[2016-08-04 23:10] bcoca commented on #593
it is an issue, not sure how it is resolvable with auto detection as 'the container lies', in 2.2 service module will have `use=systemd` or you can use the systemd module directly.

[2016-08-04 23:22] gdanielson opened #4333 "nxos_config exception calling module_utils.netcfg.NetworkConfig.difference() with arg 'path'"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

nxos_config
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Complete ansible.cfg follows...

[code]
##### OS / ENVIRONMENT

Running Ansible from:

[code]

running in a virtualenv

Managing a Cisco Nexus switch
##### SUMMARY

nxos_config failing with exception msg: "MODULE FAILURE" while calling `module_utils.netcfg.NetworkConfig.difference()`

[2016-08-05 00:57] gdanielson commented on #4333
I see I have duplicated existing issue #4223  I did a search but obviously not good enough, I need to get better on that.   Apologies

[2016-08-05 00:57] #4333 closed, assigned to nobody

[2016-08-05 02:20] chouseknecht commented on #4085
@kiview @zagyi @andrefernandes

Feature PR out there for review. See [PR 1695](https://github.com/ansible/ansible/pull/16954)

[2016-08-05 05:55] ozbillwang commented on #2824
Need update to everyone, that stop/start doesn't work.

If you follow up the codes which @andrenarchy pasted at beginning to stop and start container, you lost all docker container's setting, include volume, ports, entrypoint and others.

Not sure if this is a bug in ansible docker module.

So the best command to restart docker container in ansible v2.0.x currently is to use the command directly.

[2016-08-05 07:45] kiview commented on #4085
Great work @chouseknecht, this feature together with https://github.com/ansible/ansible-modules-core/pull/4307 makes Ansible the perfect docker provisioning tool, thanks a lot for your effort :)

[2016-08-05 07:59] Constantin07 opened #4334 "cloudtrail.py - add enable log file validation option"
##### Issue Type:

Feature Idea
##### Summary:

It would be good to have an option to toggle the "Enable log file validation" feature for CloudTrail configuration, e.g.

[code]

Thanks,
Constantin

[2016-08-05 08:44] sirocode commented on #432
Hi guys, ping, please have a look! Currently Ansible elasticache module really request refreshing to support current features of Amazon ElastiCache.

[2016-08-05 09:44] alejojo commented on #3377
I have exactly same problem with `ansible 2.1.0.0` on RedHat 7.2

[2016-08-05 10:12] acortina-git opened #4335 "user module: 'update_password: on_create' always state to changed"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

user module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7.2
##### SUMMARY

When creating a user I have no problem. But when I add `update_password: on_create` the play state is always `changed`.
##### STEPS TO REPRODUCE

`roles/users/vars/main.yml`

[code]

`roles/users/tasks/main.yml`

[code]

##### EXPECTED

[2016-08-05 10:54] #61 closed, assigned to nobody

[2016-08-05 12:09] alkedr opened #4337 "docker_image doesn't accept state: build in 2.1.1.0"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

docker_image
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default ansible.cfg.
##### OS / ENVIRONMENT

N/A
##### SUMMARY

docker_image should accept `state: build` but it doesn't.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

According to http://docs.ansible.com/ansible/docker_image_module.html `state: build` should be deprecat

[2016-08-05 12:45] trondhindenes commented on #3746
closing this, as it was fixed in PR #3747

[2016-08-05 12:45] #3746 closed, assigned to nobody

[2016-08-05 12:48] trondhindenes commented on #4250
Pretty sure this is related to second-hop/kerb and not related to win_feature itself. This works as expected:

[code]

@mdorenkamp if it's okay with you I'll close this issue.

[2016-08-05 13:46] chouseknecht commented on #4235
I have tested the following with `pip install ansible==2.1.0`, `pip install ansible==2.1.1.0` and running from source (ansible 2.2). I'm not experiencing any image pull errors.

My installed docker-py is version 1.9 and docker is version 1.11.2

Here's how I'm testing:

Running a local v2 registry, and the only local image is registry:v2:

[code]

Run the following playbook to pull an image from t

[2016-08-05 13:54] chouseknecht commented on #4235
Aslo FWIW, the log from the registry container shows the URI that's being requested:

[code]

This looks a lot different than the URI in your example. This seems more like an issue with the version of docker or maybe the version of docker-py you are using.

[2016-08-05 13:55] chouseknecht commented on #4235
notabug

Closing. This does not appear to be an issue with Ansible 2.1.0, 2.1.1.0 or 2.2.

[2016-08-05 13:56] #4235 closed, assigned to nobody

[2016-08-05 14:02] chouseknecht commented on #4337
I can confirm that for some reason _build_ is missing from the list of state choices. Not sure why. However, it is marked as deprecated in the doc strings. Maybe it's time we ripped the bandaid off.

FWIW, your playbook will work if you remove _state_ altogether or set _state_ to _present_.

[2016-08-05 14:09] alkedr commented on #4337
I will also have to add `force: yes` to build image even if it already exists, right?

[2016-08-05 14:16] snemir2 commented on #4324
tried with azure module rc2 and rc4 with same results.

[2016-08-05 14:19] snemir2 opened #4340 "azure_rm.py inventory script is not installed with ansible/module"
##### ISSUE TYPE

- Bug Report
- Documentation Report
##### COMPONENT NAME

azure
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

[root@sn-lnx-vm ~]# updatedb
[root@sn-lnx-vm ~]# locate azure_rm.py

You are using pip version 7.1.0, however version 8.1.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
azure (2.0.0rc5)
azure-batch (

[2016-08-05 14:20] chouseknecht commented on #4337
@alkedr Yes, use _force_ to build an existing image.

[2016-08-05 14:47] #4337 closed, assigned to nobody

[2016-08-05 14:52] bcoca commented on #4340
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Ansible does not normally 'auto install' dependencies for modules, this is up to the user and reflected in module documentation.

In the future, this might be

[2016-08-05 15:13] chouseknecht commented on #4184
Yep. This is a bug. Seeing it while running from source as well. We're not handing _name_ parameter correctly when format is image:tag.

[2016-08-05 15:59] cjreyn opened #4343 "eos eapi failed commands"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

networking/eos_command
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Running the eos_command 'show version' using the eapi transport works fine. When running the command 'show running-configuration section Et1' it returns a failure. Both work fine when using cli as the transport.

Switch is an Arista 7

[2016-08-05 16:01] snemir2 commented on #4340
all of the modules/dependencies for modules has been installed, as per the documentation.    (i.e. azure module) -- yet still have this problem.

[2016-08-05 16:05] snemir2 commented on #4340
i really feel this should be re-opened.   All of the requirenements (azure pydhon sdk) have been installed, yet functionality claimed in the https://docs.ansible.com/ansible/guide_azure.html#dynamic-inventory-script section is not present.   It most likely is a bug.

[2016-08-05 16:09] cjreyn opened #4344 "eos eapi invalid command"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

networking/eos_command
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Running the eos_command 'show version' using the eapi transport works fine. When running the command 'show run int Et1' it returns a failure. Both work fine when using cli as the transport.

Switch is an Arista 7150S running 4.16.7M
#

[2016-08-05 16:30] egonbraun commented on #3140
I am also having the same issue here when trying to download a file from an s3 in us-west-1 from an ec2 instance in Frankfurt. I am using Ansible Version 2.1.1.0 with Python 2.7.6 and boto 2.42.0.

[code]

When running it I am having the error:

`fatal: [server]: FAILED! => {"changed": false, "failed": true, "module_stderr": "", "module_stdout": "sudo: unable to resolve host ip-10-0-1-208\r\nTrace

[2016-08-05 16:30] bcoca commented on #4340
So azure_rm.py is not a library or module but an inventory script, those depend on the packaging used.

If using  pip, for example does not install them and they need to be downloaded from github. https://github.com/ansible/ansible/tree/devel/contrib/inventory.

An rpm/deb install should locate them in /usr/share/ansible/contrib/, but that can vary depending on packager preferences.

[2016-08-05 16:32] bcoca commented on #4340
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-08-05 16:32] #4340 closed, assigned to nobody

[2016-08-05 18:38] chouseknecht commented on #2991
bug_resolved

I verified this is fixed in Ansible 2.1.0

Given the following playbook that executes the task reported by @vikas027:

[code]

The playbook runs and pulls the image. No _path_ required.

The only time a path is required is when a build is to be performed. To perform a build provide a path to the image context.

[2016-08-05 18:40] #4184 closed, assigned to chouseknecht

[2016-08-05 18:46] #2991 closed, assigned to nobody

[2016-08-05 19:24] chouseknecht commented on #4085
wontfix

This got shot down on review. It duplicates too much of the copy plugin code. It is convenient, but it creates a maintenance headache going forward. It will overtime duplicate problems we experience with the copy module today around permissions. Overtime we'll end up adding all the copy module parameters to the docker_service module.

It was decided that the better solution is to simply c

[2016-08-05 19:27] #4085 closed, assigned to chouseknecht

[2016-08-05 19:55] kiview commented on #4085
Bummer, but I totally understand the reasoning behind the decision.

[2016-08-05 20:29] ryanlovett opened #4347 "ziploader lock failure"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

executor/module_common.py
ziploader
##### ANSIBLE VERSION

[code]

I'm using the ansible ppa:

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

Possibly related to this closed bug:
https://github.com/ansible/ansible-modules-core/issues/3504

This error happens every time I run ansible-playbook.
##### STEPS TO REPRO

[2016-08-05 20:37] jctanner commented on #4347
@yanlovett please file this under https://github.com/ansible/ansible/issues

[2016-08-05 20:37] #4347 closed, assigned to nobody

[2016-08-05 20:56] privateip commented on #4344
This is actually not a bug with the module but rather an issue with the API running on EOS.  The Arista EOS eAPI doesn't allow you to send abbreviated commands.

Instead of `show run int Et1` use `show running-config interfaces Ethernet1`

Unfortunately though that particular command isn't supported over JSON encoding depending on the version of EOS (I'm not certain about 4.16 but I know it exists

[2016-08-05 20:56] #4344 closed, assigned to nobody

[2016-08-05 20:58] privateip commented on #4343
In the current eos_command module there is no way to specify the output format for eAPI commands.  The feature is being added to the eos_command module in 2.2.

[2016-08-05 21:21] chouseknecht commented on #3760
notabug

The _pull_ parameter defaults to True, which causes the build process to attempt pulling the FROM image. The only option for stopping the pull is setting _pull_ to False.

Prepending 'library' to the FROM image name is the default behavior when pulling from Docker Hub when the image name does not include an owner.  So if your pulling an image owned by me, for example, the image name would

[2016-08-05 21:29] #3760 closed, assigned to nobody

[2016-08-05 21:52] juju4 opened #4348 "service module: ubuntu xenial on travis: failure 1 running systemctl show for 'apache2': Failed to connect to bus: No such file or directory"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

service module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No extra
##### OS / ENVIRONMENT

Docker in Travis, mapping ubuntu xenial in local connection
##### SUMMARY

when using service task to check one is started, task is failed with above message
##### STEPS TO REPRODUCE

See
https://travis-ci.org/juju4/ansible-icinga2/jobs/150094107
ht

[2016-08-05 22:05] chouseknecht commented on #2983
resolved_by_pr  request #4349

[2016-08-05 22:09] chouseknecht commented on #2962
bug_resolved

This is handled in module_utils/docker_common.py. It checks for a minimum docker-py version of 1.7.0.

[2016-08-05 22:10] #2983 closed, assigned to nobody

[2016-08-05 22:10] chouseknecht commented on #2408
duplicate_of #2983

[2016-08-05 22:10] #2962 closed, assigned to nobody

[2016-08-05 22:17] chouseknecht commented on #2400
bug_resolved

Provide load_path to load an image from a .tar archive.
Provide archive_path to save an image to a .tar archive.
See examples in the [module doc strings](https://github.com/ansible/ansible-modules-core/blob/devel/cloud/docker/docker_image.py)

[2016-08-05 22:18] chouseknecht commented on #2103
bug_resolved

This is resolved in 2.1.0 and forward.

[2016-08-05 22:20] chouseknecht commented on #2056
bug_resolved

There is now an _rm_ option, which defaults to True, and automatically removes intermediate images. This is available in 2.1.0 forward.

[2016-08-05 22:20] #2408 closed, assigned to nobody

[2016-08-05 22:21] #2400 closed, assigned to nobody

[2016-08-05 22:21] #2103 closed, assigned to nobody

[2016-08-05 22:21] #2056 closed, assigned to nobody

[2016-08-05 22:22] chouseknecht commented on #1794
wontfix

docker.py is deprecated and replace by docker_container, docker_service and a refactored docker_image module.

[2016-08-05 22:23] chouseknecht commented on #1711
wontfix

The new docker modules support TLS.

[2016-08-05 22:26] chouseknecht commented on #1506
In the refactored docker_image module name is required. Not sure what happens if you pass an image ID. I'll check it out and report back, as I'm curious.

[2016-08-05 22:28] chouseknecht commented on #1450
bug_resolved

New docker modules work fine with docker-machine 1.11.2. The latest and greatest 1.12 RC release have not been tested yet. If we needed, we can open an issue for 1.12.

[2016-08-05 22:29] chouseknecht commented on #1337
bug_resolved

Resolved in the new Docker modules.

[2016-08-05 22:30] chouseknecht commented on #1185
wontfix

Docker modules have been refactored. If this is still an issue after testing with the Ansible 2.1.1.0, please open a new issue.

[2016-08-05 22:31] #1794 closed, assigned to nobody

[2016-08-05 22:31] #1711 closed, assigned to nobody

[2016-08-05 22:31] #1450 closed, assigned to nobody

[2016-08-05 22:31] #1337 closed, assigned to nobody

[2016-08-05 22:31] #1185 closed, assigned to nobody

[2016-08-05 23:03] juju4 commented on #4348
might be related to
https://github.com/ansible/ansible-modules-core/issues/161
https://github.com/influxdata/telegraf/issues/1022

[2016-08-05 23:22] chouseknecht commented on #1506
wontfix

It does not work. Likely because it defaults the tag to 'latest' and uses the tag when searching for an image. The new Docker modules use _name_ to identify containers and images. In the case of images the combination of _name_ and _tag_ uniquely identifies an image.

Not sure it's worth the investment to make it work with an ID at this point. But, if you or others have the time and incli

[2016-08-05 23:22] #1506 closed, assigned to chouseknecht

[2016-08-06 04:02] admirabilis opened #4351 "Cannot download deb package with apt or get_url"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

apt
get_url
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

become = True
##### OS / ENVIRONMENT

Xubuntu 16.04.1 LTS on Linux 4.4.0-31
##### SUMMARY

The DEB package from https://imagem.caixa.gov.br/banner/fgr/GBPCEFwr64.deb cannot be downloaded with either the apt or get_url modules.
##### STEPS TO REPRODUCE

Either

[code]

or

[code]

###

[2016-08-06 09:24] raffienficiaud commented on #3760
The whole problem in this case is, when you do not use any repository, it is not possible to use image names with any `/` in it. The simple following block does not work for instance

[code]

when the images names `{{ item.name }}` have eg. the following sequence:
- `bambooagent/base_image`
- `bambooagent/build_x`

In particular, if in the `Dockerfile` of the image `bambooagent/build_x` we have th

[2016-08-06 18:51] Hubbitus commented on #3241
It seams work now:

[code]

[code]

[code]

[2016-08-07 13:05] eagleusb commented on #1674
I'll take a look next week, if I can help on this.

[2016-08-07 16:29] lowwalker commented on #3783
I'm still seeing this on 2.1.1.0, however I'm not running with local connection. I'm running the module directly against the docker hosts.

[2016-08-07 18:20] daniilyar-confyrm commented on #3719
Same issue exists in docker_container module. I can confirm that https://github.com/ansible/ansible/issues/16680 fixed both docker_image and docker_container modules.

Is there any chance to get this fix into 2.1.X ?

[2016-08-07 18:25] omgjlk commented on #4230
So I looked into this. The shade code that backs this assumes that a fixed_address belongs to a server, and cannot handle it if the address belongs to something else instead. This will require shade work, which I'm not willing to take on at this time.

It is a legitimate issue, as fixed addresses, which can get floating addresses, don't just belong to servers.

[2016-08-07 18:29] harneksidhu commented on #4200
We are working on this alongside #4219

[2016-08-07 19:22] emonty commented on #4230
Oh good. That makes me eversohappy.

You're right, the current assumption in shade is that a fixed address belongs to a server. I also agree, we should fix it.

Deep in the bowels of the gargantuan amount of code we have to deal with floating ips (don't get me started) there is a section that understands ports-not-servers - but it's very deep in the darkness.

I'll start working on this. Thanks fo

[2016-08-07 19:37] emonty commented on #4230
https://review.openstack.org/352114

[2016-08-08 02:26] pmoosh commented on #2614
Why is this option in the documentation, although it seems not to be implemented?

[2016-08-08 04:23] winggundamth opened #4354 "docker_container module not exposed port properly when use same exposed port between tcp and udp"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

$ cat /etc/_release_
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.1 LTS"
NAME="Ubuntu"
VERSION="16.04.1 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 16.04.1 LTS"
VERSION_ID="16.04"
HOME_URL="http://www.ub

[2016-08-08 08:32] slegga commented on #1522
@Jmainguy close it. I report again if this is still a problem. Things has changed in my surroundings and I am not able to tell if it still a problem or not.

[2016-08-08 08:34] slegga commented on #1522
My environment has changed. I can not tell if it work or not for me. I create a new request if I bump into this again. Thank you for your time.

[2016-08-08 08:35] slegga commented on #1522
I close it.

[2016-08-08 08:35] sw360cab commented on #4085
to summarize will we able to deal with the issue when PR 1695 may be merged?

[2016-08-08 09:37] cjreyn commented on #4343
Ok thanks. Did you wan to leave this issue open until the feature is added, or shall I close?

[2016-08-08 09:38] orangefiredragon opened #4356 "docker_container module finishes execution before actual container execution is completed"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

OSX -> Ubuntu 14
##### SUMMARY

docker_container module finishes execution before actual container is completed
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Same as running:
- command: docker run --rm --interactive --volumes-from letsencrypt-d

[2016-08-08 10:16] kellytk opened #4357 "[service] Module should provide an option to query state without automatically changing it"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

service
##### ANSIBLE VERSION

[code]
##### SUMMARY

It would be helpful on occasion to break from Ansible's declarative configuration design and fetch the current state of a service without automatically changing it.

My goal is to identify whether or not the `pf` service is started, so I may notify the appropriate handler.  The reason for tha

[2016-08-08 12:17] #4250 closed, assigned to nobody

[2016-08-08 12:19] mszumilak opened #4359 "enabling enhanced networking at instance provisioning step in AWS"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

ec2
##### ANSIBLE VERSION

n/a
##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

n/a
##### SUMMARY

It would be great to be able to set attibute sriov-net-support to simple from the asnible level on instance spawning.

http://boto3.readthedocs.io/en/latest/reference/services/ec2.html#EC2.Instance.sriov_net_support
#### STEPS TO REPRODUCE
##### E

[2016-08-08 12:20] pmilewsk commented on #4359
+1

[2016-08-08 12:21] ajanikow commented on #4359
+1

[2016-08-08 12:21] ajoskowski commented on #4359
+1

[2016-08-08 12:22] mmoleksf commented on #3447
Any update on this issue?

[2016-08-08 12:37] intel-rrozestw commented on #4359
+1

[2016-08-08 12:39] kaikousa commented on #3180
I tried copy-pasting the module from devel-branch to my Ansible project's library-folder and running it but got the following error:

`fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": "Failed to create instance: Standalone DB Instances are not supported for the specified engine"}`

It seems that even with the Aurora support added to devel, the rds module is not fit for supp

[2016-08-08 12:49] kiview commented on #4085
It seems there won't be a merge of this concrete solution.

[2016-08-08 12:53] sw360cab commented on #4085
ok @kiview , sorry but I got lost. I just encountered the same issue using ansible (can't make images work on target host).
So actually this feauture would not be supported by **docker-service**, or am I missing smt?

[2016-08-08 12:58] kiview commented on #4085
I think it won't be supported in a way, that the file will be copied to the external host. Maybe there could be a solution, which will read the docker-compose file locally and act similar as to how the module would behave if the module was configured directly inside the playbook/role.

[2016-08-08 14:43] jimi-c commented on #1259
@SupremeGit please keep comments constructive. Any further comments like the one you left earlier (which you did edit, so thank you), and you will risk being banned from commenting.

[2016-08-08 15:00] ferrarimarco commented on #3719
Same issue here with 2.1.1.0. Any updates? Thanks

[2016-08-08 15:31] dvzubarev commented on #3895
thank you, works for me!

[2016-08-08 15:36] chouseknecht commented on #3783
@lowwalker

It works for me. Testing from source, which should essentially be the same as 2.1.1.0. The following runs against a host rather than using a local connection:

[code]

[code]

[code]

Do you have an example playbook where this does not work?

[2016-08-08 15:59] #3895 closed, assigned to abadger

[2016-08-08 16:06] abadger commented on #3895
Cool.  Fix has been merged to devel and the stable-2.1 branch.

[2016-08-08 16:48] queria commented on #3191
Case when **get_url** checksum is not provided is definitely **unable to ever use If-Modified-Since**:

https://github.com/ansible/ansible-modules-core/blob/c0d373f258b798c97cf7f97ab65a1a728201dbfb/network/basics/get_url.py#L333

In core modules, network/basics/get_url.py ... `main(...)` to reach obtaining `last_mod_time` (L347) for a file which exists **one needs to use force=True** ... as it sta

[2016-08-08 17:13] elmarx commented on #3344
@frenkel it's broken in 2.1.0, but fixed in v2.1.1.0-1, just tested it. See https://github.com/ansible/ansible-modules-core/issues/3344#issuecomment-227933542

[2016-08-08 18:34] Dude4Linux opened #4361 "Ansible 2.0.2.0 and later break Webmin port test"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

uri module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Local:
Ansible is running on a TurnKey GNU/Linux Ansible appliance version 14.1 (based on Debian Jessie)
Remote:
LXC is running on a TurnKey GNU/Linux LXC appliance version 14.1.
Chifflier's ansible-lxc-ssh plugin is used to connect to containers
https:/

[2016-08-08 18:36] Dude4Linux commented on #4361
@cloudnull, Thanks for your offer to help with this. Let me know what additional logs or information you need.

[2016-08-08 18:54] orangefiredragon commented on #4356
Not sure what else is needed

[2016-08-08 21:09] picpicpic commented on #3528
Hi,
Hmm... good question !
The devel branch is even in version 2.0.0-0.5.beta3, I'm a bit lost...
Does anybody know where to create the pull request in order to be included in the next release ?
Is the devel branch still to be used for bug fix ?
Thx in advance

[2016-08-08 21:20] dagwieers commented on #3241
Ok, this has been brought up before.

First of all, the unarchive module handles archives (as the name suggests) and foo.gz or bar.bz2 are not archives, but compressed files. (That was the default answer in the past #1035) Besides this, the module has more than one problem that requires a pure-python re-implementation. This re-implementation we could call "uncompress" and support compressed files

[2016-08-08 22:41] dagwieers commented on #913
Since @ansibot is bugging me about this old ticket, here is my feedback :-)

It seems weird that __creates__ behaves differently, but that's outside the control of the module itself. Can you test this with a more recent version of Ansible ? Just to ensure that was not a regression in an old version of Ansible ?

[2016-08-08 22:41] pierrre commented on #70
It looks like #441 wasn't merged.
Is it really fixed?

[2016-08-08 22:43] dagwieers commented on #1035
The unconfirmed plan is to have two new pure-python modules named **compress** and **uncompress** that handle both archives and compressed files and that replaces **unarchive** which then gets deprecated.

[2016-08-08 22:47] dagwieers commented on #1437
@mjuenema Is this no longer an issue, or do you no longer need this functionality ?

[2016-08-08 22:52] #3292 closed, assigned to nobody

[2016-08-08 22:53] dagwieers commented on #3048
I am all for this !

[2016-08-08 22:53] #3294 closed, assigned to nobody

[2016-08-08 22:54] #3296 closed, assigned to nobody

[2016-08-08 22:55] dagwieers commented on #2423
@all Please test this again with the latest **unarchive** module, and verify that you are using GNU tar and not BSD tar. Since the **unarchive** module does not support non-gnu tar. See #4352 for the details.

needs_info

[2016-08-08 23:04] dagwieers commented on #1578
I agree ! Contributions are welcomed.

needs_contributor

[2016-08-08 23:08] dagwieers commented on #2377
Fix has been merged.
Do we need to keep this open in order to get a response from the original reporter @rodush ?

resolved_by_pr #2594

[2016-08-08 23:14] dagwieers commented on #1823
@LukeHoersten The zip-support part has been rewritten, if you could reproduce your problem we would be grateful. If not, please close this ticket.

needs_info

[2016-08-08 23:14] mjuenema commented on #1437
I had a look at the code in Github and it appears that this check has
been removed already. I haven't actually tested it.

The 'unarchive' seem to have changed a fair bit over the releases. I
am going to do more tests and submit a patch should I still encounter
the problem.

Does that sound ok?

Markus

##

  Markus Juenemann
  markus@juenemann.net

On Tue, 9 Aug 2016, at 08:47 AM, Dag Wieers wrot

[2016-08-08 23:15] dagwieers commented on #3570
resolved_by_pr #3307

[2016-08-08 23:16] dagwieers commented on #3901
resolved_by_pr #3926

[2016-08-08 23:20] #3901 closed, assigned to nobody

[2016-08-08 23:20] #3570 closed, assigned to nobody

[2016-08-08 23:20] #2377 closed, assigned to nobody

[2016-08-08 23:24] dagwieers commented on #1437
@mjuenema That would be ideal. Thanks in advance !

needs_contributor

[2016-08-08 23:31] dagwieers commented on #3952
@all Please test this again with the latest unarchive module, and verify that you are using GNU tar and not BSD tar. Since the unarchive module does not support non-gnu tar. See #4352 for the details.

notabug

[2016-08-08 23:38] dagwieers commented on #4063
resolved by pr #4179

EDIT: removed bot command -jctanner

[2016-08-08 23:41] #3952 closed, assigned to nobody

[2016-08-08 23:50] dagwieers commented on #4063
bot broken or I misinterpreted what **resolved_by_pr** exactly does.

The PR does resolve the issue, but it is waiting to be merged. So @ansibot could check whether the PR is merged or not, and act accordingly.

[2016-08-09 00:39] dagwieers commented on #4202
resolved_by_pr #4244

[2016-08-09 00:42] #4202 closed, assigned to nobody

[2016-08-09 01:05] jctanner commented on #4063
@dagwieers I think checking the the linked PR is merged before closing is a good idea. I'll try to implement it asap, but in the meantime, I'm editing you command to make it not a command.

[2016-08-09 01:08] xiemeilong opened #4363 "'list' object has no attribute 'items'\r\n""
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2016-08-09 03:28] chouseknecht commented on #3528
The fix is in the devel branch. The devel branch will be the basis for release 2.2. I cherry picked commit [fee0055](https://github.com/ansible/ansible-modules-core/commit/fee0055f9f02bf8ff8a3ebe7a9a7237e1703a548), which I believe fixes the issue, to the stable-2.1 brach. If we cut another point release of 2.1, it will be included.

[2016-08-09 04:56] waddles commented on #4246
I struck this error message too using OSX then realised the (remote) inventory_hostname in play did not have docker installed yet. 👊

[2016-08-09 06:15] chouseknecht commented on #3760
@raffienficiaud You're right. If there is a '/' in the name passed to the Dockerfile FROM directive, it attempts to pull the image. I think that's a Docker issue or feature. It's not a docker_image issue.

I can verify that running from source (Ansible 2.2) works, if you pass _pull=no_. For example:

[code]

[code]

[code]

The playbook builds an image called 'testing/flask:v1', and in the second

[2016-08-09 06:43] picpicpic commented on #3528
Many thx !

[2016-08-09 09:11] tillkuhn commented on #3528
@chouseknecht yes https://github.com/ansible/ansible-modules-core/commit/fee0055f9f02bf8ff8a3ebe7a9a7237e1703a548 is the right one, thanks for including it!

[2016-08-09 10:45] sw360cab commented on #4085
Well, probably I need to read again the doc about **docker_service**, but in my experience using this plugin in a playbook to configure a role on a target host (aka running docker project on target host), was not possible (as the issue is stating). At this point this plugins looks useless in a real prod scenario.
But I am sure I am missing smt.

[2016-08-09 11:26] bsdlme commented on #1280
The current situation is that the user module on Solaris is doing harm to the shadow file.

When you change a user's password the user module directly edits the shadow file and only fills the first three columns: username,  password hash and last changed. It then replaces the rest of the line with empty ::: fields overwriting existing entries for password aging and failed passwords.

[2016-08-09 11:32] privateip commented on #4343
Lets leave it open for tracking purposes until the fixed is committed and verified

[2016-08-09 11:48] privateip commented on #4320
bug_resolved

[2016-08-09 11:48] bsdlme commented on #1280
Sorry, the last comment is not exactly true.
Nothing in the shadow file gets forgotten / reset. But because the user modfication does not use "usermod", it does not honor the settings for password aging from /etc/default/passwd:
- MAXWEEKS
- MINWEEKS
- WARNWEEKS

The user module should be able to read the file and set the apropriate values in the shadow file.

[2016-08-09 11:51] AseemKumar commented on #4260
Hi @grossws , I am gathering the facts by executing the adhoc command and storing all of it in a folder and then running other code on it to extract required values. How and where do I use the workaround that you have suggested?

[2016-08-09 11:51] #4320 closed, assigned to privateip, Qalthos

[2016-08-09 12:42] haisamido opened #4364 "S3 module destroys target file and fails with 'text file busy'"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

`Linux ip-172-31-5-115 4.4.5-15.26.amzn1.x86_64 #1 SMP Wed Mar 16 17:15:34 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
`
##### SUMMARY

Platforms are AWS Linux, identical for both ansible and target machine. When using the Ansible S3 module to copy an executable and send to target machine,

[2016-08-09 12:45] asheplyakov opened #4365 "apt_key always fails to import a subkey"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

apt_key
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

host OS: Ubuntu 14.04
controlled nodes' OS: Ubuntu 14.04
##### SUMMARY

Importing a (sign only) subkey with apt_key always fails, however the actual keyring gets created and contains the correct (sub)key.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

T

[2016-08-09 13:17] bcoca commented on #4280
Without access to a Veritas filesystem I don't see any way to reproduce nor debug this issue, so I'm going to leave this open in case a contributor with access can tackle this.

 @SimBou if you can run with high verbosity and provide a traceback it would  help narrow down where the problem originates.

ansibot: needs_contributor

[2016-08-09 13:27] chouseknecht commented on #4085
@sw360cab Like all other cloud modules, if the source files do not exist on the deployment node, they have to be created or copied there. This module works the same way that the s3 module works, for example.

[2016-08-09 13:58] ghost commented on #4246
@waddles That makes sense to me. However, I can still not make it work with 'hosts: localhost', which is my laptop with docker installed.

[2016-08-09 14:00] chouseknecht commented on #4246
@rickmendes error message? version of ansible and version of docker-py installed on *localhost*?

[2016-08-09 14:37] Ohadbasan opened #4367 "Can't use ec2_tags with ":" in them: templating error."
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

core
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

##### SUMMARY

Trying to access, whether with template or with a var file to an ec2 tag with ":"
for example
aws:autoscaling:groupName is the Name of the tag of the asg name in amazon (it's propagating to the machines)
trying to use that value
for example ASG: ec2_tags.tags.aws:autoscalin

[2016-08-09 16:39] #4188 closed, assigned to bcoca

[2016-08-09 16:58] ghost commented on #4246
@chouseknecht

[code]

[code]

playbook run

[code]

[2016-08-09 18:06] Zanthras opened #4368 "ios_config replace: block behaves like replace: line when there are no parents"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

networking/ios_config
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Fully default
##### OS / ENVIRONMENT

Ansible is running off a RHEL6.8 system
##### SUMMARY

IOS_config "replace: block" does not replace the block when there are no parents defined.
##### STEPS TO REPRODUCE

Existing config:
access-list 1 remark #### This line will be sent

[2016-08-09 18:49] darhon commented on #1965
+1

[2016-08-09 20:12] ahuffman opened #4369 "win_user module fails if the windows account has already been disabled"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

win_user.ps1
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Recieving an error message after attempting to enable a disabled account:
FAILED! => {"changed": false, "failed" true, "msg": "Exception calling \"Validate Credentials\" with \"2\" argument(s): \"This user can't sign in because this account is

[2016-08-09 20:14] jctanner commented on #2625
@vmindru any response to @jimi-c's question?

needs_info

[2016-08-09 20:40] jctanner commented on #4197
The warnings can be disabled via the "command_warnings = False" option in ansible.cfg. Git is specifically named in the comments for the option.

[2016-08-09 20:40] #4197 closed, assigned to nobody

[2016-08-09 20:41] jctanner commented on #2094
@LinusU any response to @robinro's question?

needs_info

[2016-08-09 20:58] askulkarni2 commented on #432
+1

[2016-08-09 21:08] lampwins commented on #3962
@privateip I have also run into this. I believe I have found a concrete example of it in the config. set `snmp location "“West Building”"` Notice the "extra" quotes on the string. These are not ascii and most likely a result of copying config out of a rich text editor. I guess Juniper has some use case for allowing unicode chars in these text fields. I also second changing to support unicode chars

[2016-08-09 21:21] vmindru commented on #2625
@jimi-c i did not i , i will attempt to do this tomorrow.

[2016-08-09 21:26] jctanner commented on #2742
@jan-warchol this is the testcase that I threw together based on your description ...

[code]

I tested across all ansible versions and these were the return codes ...

[code]

[2016-08-09 21:27] jctanner commented on #2742
So based on my understanding of your description, I see the expected behavior. If I have misinterpreted the description, please let me know.

needs_info

[2016-08-09 22:37] jctanner commented on #1509
Testcase ...

[code]

Results ...

[code]

[2016-08-09 22:39] jctanner commented on #1509
Based on the results above, I can not reproduce the described problem with any version of ansible. @tommarshall please review the testcase I gave and let me know if I've missed something.

needs_info

[2016-08-09 23:35] xrl opened #4371 "docker_image cannot update images without the force flag"
##### ISSUE TYPE

 Feature Idea
##### COMPONENT NAME

cloud/docker/docker_image
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

OSX to Linux CoreOS
##### SUMMARY

I need to register the output of `docker_image` and it never updates the image. I want to perform actions when my registry has new images then use `docker_container` to re-create the container. Without `docker_i

[2016-08-10 04:35] geerlingguy commented on #593
This seems to be the best option, because inside Docker containers do...weird things. I've run into this today in some testing:

[code]

And my digging brought me here. I think just setting `use` will probably be the best option for me.

[2016-08-10 08:09] SimBou commented on #4280
Here is the output with high verbosity :
ansible all -i my_server, -m copy -a "src=test_file  dest=/applis/test/" -vvvvvv
Using /home/my_home/.ansible.cfg as config file
Loaded callback minimal of type stdout, v2.0
<my_server> ESTABLISH SSH CONNECTION FOR USER: None
<my_server> SSH: ansible.cfg set ssh_args: (-o)(ControlMaster=auto)(-o)(ControlPersist=60s)(-o)(ServerAliveInterval=2)(-o)(ServerAliv

[2016-08-10 08:39] danidano commented on #902
+1

[2016-08-10 12:07] hryamzik opened #4375 "include_vars_module:"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

include_vars_module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Mac OS
##### SUMMARY

include_vars fails with error
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Vars loaded
##### ACTUAL RESULTS

[code]
#### WORKAROUND

[code]

[2016-08-10 12:09] hryamzik commented on #4375
Oops, it's only supported in 2.2, closing.

[2016-08-10 12:09] #4375 closed, assigned to nobody

[2016-08-10 12:46] xrow commented on #593
@geerlingguy, @bcoca

We also had many other issues. Basicly I have the impression: Docker is not designed or shall be not used for ansible and ansible is not meant to be used for docker. They are in a way competing products even though they are not or should be not.

If one from ansible would think about how to make ansible fit better into the scope of docker that would be a plus. https://www.ans

[2016-08-10 12:50] geerlingguy commented on #593
I think this should be written more like: "Docker is not designed or shall not be used as a traditional full VM or bare metal machine instance, and Ansible was originally designed for traditional full VM or bare metal machine instances."

Outside of Ansible itself, there are hundreds (likely thousands) of other similar issues cropping up as more and more people move their infra towards containers—

[2016-08-10 13:18] bcoca commented on #593
@xrow the issue is getting worse as docker has been changing how it deals with 'init' as they pivoted to 'the service is the container' approach so using a 'service' inside a container is becoming harder.

Ansible tries to detect which service tools work on the container, currently I'm not aware of any way that works on the newer docker containers, even testing the tools that you can find installe

[2016-08-10 13:21] xrow commented on #593
@geerlingguy

agree. I wish to rollout a playbook directly as a docker container. https://github.com/ansible/ansible/issues/17028

[2016-08-10 13:26] xrow commented on #593
@bcoca

I think there is no way. You did a great job. The only way I can image is if docker would expose the information of CMD at BUILD time, but why would Docker want to do that? Maybe Docker even can`t do that.

Wait... thinking...

If ansible is on control of the BUILD process as in ansible/ansible#17028 of docker, it could inject ENV to deftect it. This is maybe not in the favor of docker, bu

[2016-08-10 13:43] czerasz commented on #4228
I can confirm that this issue is not present on `2.1.1.0`. I just pulled the `williamyeh/ansible:debian8`.

[2016-08-10 14:17] sw360cab commented on #4085
Thank you @chouseknecht. As I said my concern were mainly because of my ignorance.
I'll give try to what you explained.

[2016-08-10 16:59] edysli commented on #3048
@ansibot component name "unarchive" added to description

[2016-08-10 18:01] cantorek commented on #4351
I'm not sure if I can or I should but, I'll answer this request.

This is a server issue.
This server sends a cookie and expects you to send it back.
Curl does not handle cookies by default and wget does, thus wget works for you but curl or libcurl based programs won't.
You can try to run below command to confirm that.

`wget --no-cookies https://imagem.caixa.gov.br/banner/fgr/GBPCEFwr64.deb`

You

[2016-08-10 18:53] admirabilis commented on #4351
Thank you for your answer! I'm not sure if I should close this bug, or if there is interest in implementing a workaround, since most servers in the web have some stupid useless requirement...

[2016-08-10 19:08] cantorek commented on #4351
You could just use
`shell: wget https://imagem.caixa.gov.br/banner/fgr/GBPCEFwr64.deb -O /tmp/warsaw.deb`
This should do the trick for you.

[2016-08-10 20:14] supertom commented on #4367
bot_broken

[2016-08-10 20:14] #1319 closed, assigned to nobody

[2016-08-10 20:47] admirabilis commented on #4351
OK, that works! Thanks!

[2016-08-10 20:59] jctanner commented on #4367
@Ohadbasan what module are you referencing?

[2016-08-10 21:15] resmo commented on #4351
closing due a server misconception resulting in indefinite loop if no cookie is set.

[code]

[2016-08-10 21:15] #4351 closed, assigned to nobody

[2016-08-10 21:43] #3791 closed, assigned to nobody

[2016-08-10 22:31] pzano commented on #3291
I second this one, for now it's a hack. user gid should be available. For now you have to use a lineinfile regex replacement for users with a uid/gid mismatch.

[2016-08-10 22:32] pzano commented on #3291
bump

[2016-08-11 00:02] willthames commented on #1509
@jctanner, without the full command line for the test, it's difficult to know why you can't reproduce with e.g. 2.1.1-0.0.2.rc2

Note that it only happens in checkmode.

[2016-08-11 00:21] danschmidt5189 commented on #1509
@jctanner As @willthames mentioned, your test ought to fail in check mode. Here's a detailed rundown:

## ./site.yml

[code]

## ./Vagrantfile

[code]

## ./ansible.cfg

[code]

## ./git-check-bug.sh

[code]

[2016-08-11 00:47] jctanner commented on #1509
@willthames and @danschmidt5189 my test command line does not contain --check ...

[code]

I've gone back over this issue a few times now, and I don't see any indication from the submitter that check mode was used. Check mode was only part of the discussion after @nirik's comment. @tommarshall's description only makes sense if the playbook is not in checkmode, because the directory would not be mo

[2016-08-11 01:26] willthames commented on #1965
This is a perfectly fine request, but needs_contributor to actually implement the PR.

[2016-08-11 01:32] danschmidt5189 commented on #1509
K, I'll wait on a response from @tommarshall before opening a new issue for the check mode bug.

To clarify, as it stands we have a reproducible test case indicating the git module returns "changed" when run in check mode, even when there would be no changes. The issue is whether that was the actual problem faced by the submitter; in any case, it _is_ a problem.

[2016-08-11 01:34] willthames commented on #1509
@danschmidt5189 the check mode bug is fixed in Ansible 2.1.1, afaik (see #3025)

[2016-08-11 01:46] caDevOps commented on #3241
From the Docs:  http://docs.ansible.com/ansible/unarchive_module.html
"Note
can handle gzip, bzip2 and xz compressed as well as uncompressed tar files"  - A bit misleading, unless i'm just misreading.. Hey that rhymes!

[2016-08-11 01:48] danschmidt5189 commented on #1509
@willthames FWIW I ran my tests against 2.2.0:

[code]

[2016-08-11 01:48] deployable commented on #593
@bcoca I don't think you can reliably autodetect init here, at least for a docker container, as a container is context based depending on how it is launched.  I would generally be running a lot of ansible setup during a `docker build` when there is no `init` system running, it might not even be installed initially, just ansible running in the container context.

The `use=` hint seems right for Doc

[2016-08-11 02:00] willthames commented on #1509
@danschmidt5189 ok, that is a different issue to #3025, which only applies to `HEAD`, not a named branch.

[2016-08-11 02:47] bcoca commented on #593
@deployable so that is already implemented that way. The default value of `use` is `auto` which means use `ansible_service_mgr` value, if not present or no module matches, fallback to the old service module.

So the way to override ansible_service_mgr IS to set `use=whatever`.

[2016-08-11 04:16] joemaller commented on #4272
Related issue on main Ansible repo: https://github.com/ansible/ansible/issues/17009, I suspect this is the same as #4247.

Problems seem to center around bf670bfdc2c193345a0365bd84e955005b432

[2016-08-11 04:17] joemaller commented on #4247
Related issue on main Ansible repo: https://github.com/ansible/ansible/issues/17009, see also #4272.

Problems seem to center around bf670bfdc2c193345a0365bd84e955005b432

[2016-08-11 04:44] deployable commented on #593
@bcoca Sorry, I read one of your previous discussions with xfor as "could not set" `ansible_service_mgr`, rather than "should not set it".

I'd just like to avoid writing playbooks specifically for containers with `use=` everywhere, overriding `ansible_service_mgr` seems to work fine in 2.2 so all good.

What do you think about having `none` as a valid state for `ansible_service_mgr`? It might all

[2016-08-11 08:18] tommarshall commented on #1509
Check mode was not used, however the issue is still present.

I've been able to further reduce the test case to the following:

#### `site.yml`

[code]

#### `Vagrantfile`

[code]

#### `ansible.cfg`

[code]

#### `inventory`

[code]

#### `run.sh`

[code]

I can confirm this issue is present on `1.9.6`:

[code]

and `2.1.1.0`:

[code]

I've removed the git install output, and replaced the clone d

[2016-08-11 09:05] jalbstmeijer opened #4384 "yum module not reporting error in Ansible 2.1.1.0"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

yum module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Centos 6.8
##### SUMMARY

When an yum install/update error occurs the module does not report an error, but playbooks fails.
##### STEPS TO REPRODUCE

ansible-playbook -sK yum-test.yml

yum-test.yml

[code]
##### EXPECTED RESULTS

with Ansible 1.9.6

[code

[2016-08-11 10:17] olfway commented on #3764
Actually that's pretty easy to fix

I hit this issue with zabbix-agent on debian 8 jessie with systemd with latest ansible release 2.1.1.0

zabbix-agent package has both sysv's /etc/init.d/zabbix-agent script and systemd's /lib/systemd/system/zabbix-agent.service service

there is a code in service.py:

[code]

ie it checks if service is-enabled in systemd and then if it's enabled in sysv
that's l

[2016-08-11 11:31] dagwieers commented on #3241
On Thu, Aug 11, 2016 at 03:46 AM, @caDevOps wrote:

It is factually correct, but could definitely be improved !

BTW Anyone can propose fixes by [editing the file directly](https://github.com/ansible/ansible-modules-core/edit/devel/files/unarchive.py) on GitHub. No prior Git-knowledge required. After editing it automatically clones and asks to create [a pull-request](https://github.com/ansible/ans

[2016-08-11 11:38] dagwieers commented on #4272
Could you please try by using the current devel branch ? (You can also try to download the module and put it in _./library/_ using Ansible v2.1)
I have this feeling that this has already been fixed (but the fix did not ship with v2.1 or v2.1.1).

If it doesn't seem to work, I would need more information related to that archive used. (e.g. filelist and metadata) or a simple reproducer (e.g. instruc

[2016-08-11 12:14] robphoenix opened #4386 "ios_template cannot write backups to host"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

`ios_template`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

changes to ansible.cfg

[code]
##### OS / ENVIRONMENT

Vagrant 1.8.5
Windows 7 Host
Ubuntu 14.04 Guest
##### SUMMARY

`ios_template` can create a `backup` folder but not write any files to it.

on the guest:

[code]
##### STEPS TO REPRODUCE

playbook:

[code]

inventory:

[code]

g

[2016-08-11 12:22] robphoenix opened #4387 "ios_template does not recognise save/save_config parameter"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

`ios_template`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

changes to ansible.cfg

[code]
##### OS / ENVIRONMENT

Vagrant 1.8.5
Windows 7 Host
Ubuntu 14.04 Guest
##### SUMMARY

When the `save_config` parameter is used in a playbook it is not recognised
##### STEPS TO REPRODUCE

[code]

or

[code]

or

[code]

or

[code]

##### EXPECTED RE

[2016-08-11 12:43] robphoenix commented on #4386
similar issue on SO: https://stackoverflow.com/questions/31756495/ioerror-errno-71-protocol-error-when-reading-a-file-with-python-in-a-virtua

[2016-08-11 13:25] #3764 closed, assigned to nobody

[2016-08-11 13:37] dagwieers commented on #1431
Right, I cannot reproduce this on Ansible v2.1.1 so I assume this is already fixed, or it was a regression in whatever Ansible-version was hot in May 2015 :-)

[code]

So can we close this issue ?

needs_info

[2016-08-11 13:38] gundalow commented on #4387
Looks like a real bug

Seems like in `ios_template` we have:
`extends_documentation_fragment: ios`, which is where the documentation for `save_config`/`save` comes from.

However I don't think we are bring in the default arguments.

[2016-08-11 13:41] gundalow commented on #4386
Does `/home/vagrant/shared/backup/` exist and is it writable by the user that this task is running as?

[2016-08-11 14:08] bcoca commented on #593
I need to test but None will either trigger fact gathering inside the service action plugin (which sets `ansible_service_mgr`) or just force a fallback to the service plugin which will still have the same issues in detection.

[2016-08-11 14:18] runesl commented on #2821
+1

[2016-08-11 14:29] dagwieers commented on #4063
@jctanner You are my hero ! ;-)

[2016-08-11 14:50] Dude4Linux commented on #4361
The problem seems to appear only for the Turnkey implementation of Webmin running in an LXC container. I created a container running the default Debian Jessie, installed the latest Webmin, and found the problem does not occur. The problem does not occur for Turnkey appliances running in Proxmox VM's.
Any assistance deciphering the failure above would be greatly appreciated.

[2016-08-11 14:56] tommarshall commented on #1509
I think the submodules could be at fault here. `.gitmodules` in the repository lists 6 submodules:

[code]

But the `.git/config` only shows the first three:

[code]

[2016-08-11 15:08] jctanner commented on #1509
@tommarshall what is in those configs before and after the second clone?

needs_info

[2016-08-11 15:39] tommarshall commented on #1509
@jctanner The contents of `.gitmodules` & `.git/config` are as shown above before the second clone, and are unchanged after the second clone.

[2016-08-11 15:44] #573 closed, assigned to nobody

[2016-08-11 15:51] buggsdummy commented on #4238
TASK [add jenkins user] ********************************************************
fatal: [x.x.x.x]: FAILED! => {"changed": false, "failed": true, "msg": "usermod: user 'jenkins' does not exist in /etc/passwd\n", "name": "jenkins", "rc": 6}

Along with that, maybe have ansible check with id <user> and if it returns a user then go instead of looking in /etc/passwd.

[2016-08-11 16:16] indrajitr commented on #3137
resolved_by_pr #4382

[2016-08-11 16:22] indrajitr commented on #3360
resolved_by_pr #4382

[2016-08-11 16:30] tommarshall commented on #1509
So it turns out the 3 submodules present in `.gitmodules` but not `.git/config` are left over from an incomplete delete operation. Each of those 3 submodule paths had been deleted from the repo without deleting the lines from `.gitmodules`.

I've cleaned up the `.gitmodules` file and 'changed' is now being reported correctly.

The repo was clearly at fault, but that doesn't explain the false posit

[2016-08-11 16:43] gundalow commented on #4387
@bordeltabernacle Thanks for this. The documentation is incorrect. The `save` (and a few other arguments) were added after `2.1`, they will be officially released in `2.2`

resolved_by_pr 17050

[2016-08-11 17:22] cocampbe opened #4389 "Cannot change root password on HP-UX"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

modules/core/system/user
##### ANSIBLE VERSION

ansible 2.0.2.0
##### OS / ENVIRONMENT

ansible OS - OEL 6 update 8
client - HP-UX 11.31
##### SUMMARY

Cannot change root password via ansible on HP-UX. The command used to mod the password is correct, /usr/sam/lbin/userdel.sam. HP-UX will not let you change the root password via privileged access

[2016-08-11 17:27] joemaller opened #4390 "Unarchive fails on MacOS: "Unexpected error when accessing exploded file: [Errno 2]""
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Unarchive
##### ANSIBLE VERSION

Tested with three versions (devel is using up-to-date checkout of modules-core)

[code]

Also:

[code]

_Works correctly with:_

[code]
##### CONFIGURATION

default config
##### OS / ENVIRONMENT

Mac OS X 10.11.6
##### SUMMARY

This seems to be Mac specific. (tested on/against 10.11.6)

Unarchive fails on Mac OS X

[2016-08-11 17:38] ipspace opened #4391 "Please make "waitfor" or "wait_for" consistent in the network modules"
##### ISSUE TYPE

- Documentation Report
##### COMPONENT NAME

ios_command
nxos_command

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ansible: Ubuntu
Remote: IOS 15.5, NXOS 7.0
##### SUMMARY
- ios_command module uses "wait_for" parameter (looking at the code it seems it recognizes "waitfor" but the documentation lists only "wait_for")
- nxos_command module uses "waitfor" parameter

Please

[2016-08-11 17:44] joemaller commented on #4390
I just re-did the bisecting I tried last night on https://github.com/ansible/ansible/issues/17009#issuecomment-239067587 and got the same result.

With Ansible checked out to https://github.com/ansible/ansible/commit/ef5a504b8ba939b61bf0bd223c1bdb8d2b92d291, bisecting modules-core stops on commit bf670bfdc2c193345a0365bd84e955005b432f31. The playbook included with this issue works correctly until

[2016-08-11 18:15] jctanner commented on #1509
@tommarshall 2 changes made this afternoon ...

https://github.com/ansible/ansible-modules-core/pull/3364
https://github.com/ansible/ansible-modules-core/pull/4392

With those, we should at least be able to understand in the future that the change bit has been caused by submodules.

[2016-08-11 18:30] builtbybrayne commented on #3975
Still happening in ansible 2.1.1.0.

[2016-08-11 18:45] samvarankashyap opened #4393 "ansible os_server module doesnot work with async_status"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

module : os_server and async_status
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Tried using os_server module in using async , its failing to handle , output of the job .
##### STEPS TO REPRODUCE

Create a playbook to boot a single instance on openstack async

[code]

##### EXPECTED RESULTS

Expected

[2016-08-11 19:15] builtbybrayne commented on #3975
Looks like commit d9f8fa56d8af9de402ee9f48ea832709b20754a8 collapsed two elif statements into one condition (lines 265 and 274-275).

I think the collapse of the conditions is incorrect. The  `index[1] == -1:` check seems to me to be saying that neither `insertafter` nor `insertbefore` have been set. The change therefore reads as saying that the default _in all cases where no regexp matched_ shoul

[2016-08-11 19:34] dagwieers commented on #4390
What's strange is that the commit you are referring to relates to tar files, and not zip files.
So I don't see how that is possible at a first glance. It doesn't use any affected code-paths.

Could you enable the DEBUG line at or near line [786](https://github.com/ansible/ansible-modules-core/blob/devel/files/unarchive.py#L786) and try again, and then send me the output ?

needs_info

[2016-08-11 20:50] jctanner commented on #1509
@tommarshall was the "incomplete delete operation" from the git module or another ansible module on the local checkout? Or was it upstream in the remote?

needs_info

[2016-08-11 20:59] antonpm1 opened #4395 "private_ip set as "no" fails in ec2 module - Ansible 2.1.1.0"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ec2
##### ANSIBLE VERSION

2.1.1.0
##### CONFIGURATION

All standard
##### OS / ENVIRONMENT

Fedora 23 and CentOS6
##### SUMMARY

I have a role using the ec2 module that sometime receives a private ip as a variable otherwise it is defined as "no". This was working ok in 2.0.2.0. but an upgrade to 2.1.1.0 Causes an error
##### STEPS TO REPRODUCE

[2016-08-11 21:21] LukeDRussell opened #4396 "ios_facts: show LLDP exception on IOS12.4"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Nothing
##### OS / ENVIRONMENT

Centos 7
##### SUMMARY

ISR Gen 1 routers running 12.4 code do not support LLDP. When "show lldp" is sent as part of ios_facts it is triggering an exception.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Perhaps ignore this specific error somehow and just return a blank?
####

[2016-08-11 21:57] pcastellazzi opened #4397 "User module break when ssh_key_bits is set"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

user
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ANSIBLE_CONFIG=/dev/null
##### OS / ENVIRONMENT

OS X 10.11.6
CentOS 6.7 and 7.1 as targets
##### SUMMARY

When ssh_key_bits is set i got a python traceback.
##### STEPS TO REPRODUCE

Run the following playbook:

[code]

##### EXPECTED RESULTS

I expected a  successful execution. Meaning an

[2016-08-11 22:25] jctanner commented on #4397
Reproduced by ...

[code]

[2016-08-11 23:11] willusher opened #4399 "IAM module not reliably deleting IAM roles"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

IAM
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

The IAM module is not reliably deleting IAM roles, returning error: `BotoServerError: 409 Conflict`.
##### STEPS TO REPRODUCE

Deploy new IAM role.

[code]

Then attempt to delete it

[code]
##### EXPECTED RESULTS

IAM role is deleted
##### ACTUAL RESULTS

[code]

[2016-08-11 23:16] #4397 closed, assigned to jctanner

[2016-08-11 23:27] jctanner commented on #4397
Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for

[2016-08-12 03:38] jctanner commented on #159
I think we have multiple solutions for this request in the comments and now also a filetree lookup from @dagwieers.

[2016-08-12 03:38] #159 closed, assigned to nobody

[2016-08-12 03:55] nrser commented on #4197
@jctanner would that disable all the command warnings (not just git)?

if it wasn't clear from my original post, i meant that it would be nice if ansible only warned to consider using a module instead of a command only if that module would be a consideration for replacing the command. of course, this would require a little more logic than the current implementation.

however, it seems that someone

[2016-08-12 04:43] chouseknecht commented on #4371
docker_image currently works the way the documentation reads. If the image exists locally, a new image will not be pulled, unless force is set.

To do what you're asking, docker_image would need to query the registry API directly to get the image manifest. To determine if the image should be pulled, it would simply compare the image Id in the manifest to the local image Id. That's probably not sup

[2016-08-12 04:58] chouseknecht commented on #4356
bug_resolved

This was fixed here: https://github.com/ansible/ansible-modules-core/commit/0884a942bf3b32d788febe601798b821fec7fb04#diff-6bcddfa230c2cd332a3bf40d133c372d But it appears to have not been cherry-picked to the stable-2.1 branch.

To get the fix you can copy the current docker_container source into a library directory [as documented here](http://docs.ansible.com/ansible/intro_configurat

[2016-08-12 05:00] chouseknecht commented on #4354
Yeah, I don't think we're handling udp at all. Will fix this.

[2016-08-12 05:03] #4356 closed, assigned to nobody

[2016-08-12 05:42] ipspace opened #4402 "nxos_feature is broken with CLI transport (show feature command doesn't generate JSON output)"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

nxos_feature
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

OS: Ubuntu
Remote: NXOS 7.2(0)D1(1)
##### SUMMARY

nxos_feature executes "show feature | json" on Nexus OS. This command does not return JSON printout, resulting in task failure
##### STEPS TO REPRODUCE

Execute the following playbook on a Nexus OS

[c

[2016-08-12 08:10] ipspace commented on #4402
It seems to be a Nexus OS software release/platform issue. I'd assume that **show feature** returns JSON object (when requested) on Nexus 9000, but it doesn't do that on Nexus 7000 (or at least not in Release 7.2). I can't possibly guess how hard it would be to add parsing of text printout, but it would be nice to have this module working on both platforms (and VIRL).

[2016-08-12 08:14] robphoenix commented on #4387
ah right, that makes sense, glad it's not actually just me missing something obvious, makes a nice change. :smile:
Shall I close this issue then?

[2016-08-12 08:16] ipspace opened #4403 "nxos_interface depends on nxos_feature which doesn't work on Nexus 7000"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

nxos_interface
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ansible: Ubuntu
Remote: NXOSv (VIRL) running NX-OS 7.2(0)D1
##### SUMMARY

nxos_interface uses nxos_feature when asked to configure VLAN interfaces. nxos_feature fails on Nexus 7000 or Titanium-based NXOSv. It would be nice if the nxos_interface module would survive the nxos_fea

[2016-08-12 08:17] alxschwarz commented on #3758
I think bug is fixed in version v2.1.1.0. Just tested.
Who can check also?

[2016-08-12 09:20] robphoenix commented on #4386
I've tried with `backup` not pre-existing, Ansible creates it, and it's writable by the vagrant user that I'm running everything as. I've also tried creating it prior to running the playbook; by the vagrant user, the root user, and on the Windows host.  None of these work.
Changing the `Vagrantfile` to `machine.vm.synced_folder "#{vagrant_root}/shared", "/home/vagrant/shared", owner: "root", group

[2016-08-12 10:08] gundalow commented on #4391
Hi @ipspace. You've made a good point, and this is something were are already aware of (though isn't tracked in GitHub), so thank you for the ticket.

ios_command: `wait_for=dict(type='list', aliases=['waitfor']),`
nxos_command only uses `waitfor`

This needs reviewing across:
- ansible-modules-core/network/
- ansible-modules-extras/network/

In particular:
- Examples should be consistent
- Alias

[2016-08-12 10:10] gundalow commented on #4387
Code has been merged so I'll close this now.

Do let us know if there are any other ways we can improve the code/documentation. Feel free to reach out on Freenode (gundalow).

resolved_by_pr 17050

[2016-08-12 10:10] #4387 closed, assigned to gundalow

[2016-08-12 11:08] dagwieers commented on #2866
@nicolas-g This is quite easy to do. Would you be willing to take this up ?

waiting_on_contributor

[2016-08-12 11:12] dagwieers commented on #4247
Should be fixed now in the devel branch (cfr. ansible/ansible#17009). Can you confirm ?

needs_info

[2016-08-12 13:53] #4006 closed, assigned to nobody

[2016-08-12 14:15] alex-leonhardt commented on #1159
it's been well over a year - closing this.

[2016-08-12 14:15] #1159 closed, assigned to nobody

[2016-08-12 15:00] ikrauchanka commented on #1701
+1

[2016-08-12 15:00] joemaller commented on #4390
Testing on latest devel checkout:

[code]

The debug line was enabled as requested:

[code]

The task is failing for all the following zip and tar archives:
- https://github.com/ideasonpurpose/basic-wordpress-vagrant/archive/master.zip
- https://github.com/ideasonpurpose/basic-wordpress-vagrant/archive/master.tar.gz
- https://wordpress.org/latest.zip
- https://wordpress.org/latest.tar.gz

Failure

[2016-08-12 15:43] vertrost commented on #234
still not resolved in ansible 2.1.0.0

[2016-08-12 16:27] ablack-idguk commented on #2638
I had a problem with this and found that removing replace_all_instances (or setting to false) fixed my error. It seems to have problems with replace operations generally, possibly.
![image](https://cloud.githubusercontent.com/assets/11860242/17629374/ebe31e86-60b1-11e6-8b78-7351907ed8eb.png)

[2016-08-12 16:59] jaxzin commented on #1162
@abadger Is there an issue open to track support for password-sudo?

[2016-08-12 17:35] AseemKumar opened #4408 "Make path parameter in win_msi unmandatory"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

win_msi
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default config
##### OS / ENVIRONMENT

ansible is running on Ubuntu Trusty and the systems being managed are linux and Windows.
##### SUMMARY

An app can be uninstalled by directly specifying the GUID, but the win_msi module has path as a mandatory parameter, hence cannot use win_msi i

[2016-08-12 17:45] joemaller opened #4409 "Unarchive fails verifying non-ascii named files in zip archives"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

files/unarchive.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

default
##### OS / ENVIRONMENT

Probably N/A

Controller: MacOS 10.11.6 & Ubuntu 14.04
Managed: Ubuntu 14.04
##### SUMMARY

The unarchive module fails while trying to verify the files in an unpacked archive if those files have non-ascii characters. This was discovered trying to

[2016-08-12 18:02] manishingole opened #4410 "Issue with Region in ansible module ec2_elb"
Hello,

I have installed ansible version 2.1.0.0 and I have created playbook to deregister ec2 instance from elb. However when I run playbook I get error like ""msg": "Region {option.region} does not seem to be available for aws module boto.ec2.autoscale. If the region definitely exists, you may need to upgrade boto or extend with endpoints_path"}"

I tried upgrading boto but  no clue. I am passin

[2016-08-12 18:31] manishingole commented on #4410
Well I am not able to understand which module you are talking about is that ec2_elb or aws module boto.ec2.autoscale

If you are talking about aws module boto.ec2ing .autoscale then this error coming when second task which is deregister instance from lb. so I guess its related to ec2_elb module which is ansible module.

[2016-08-12 18:56] AseemKumar opened #4411 "/r/n did not get removed when variable passed through regex_replace in raw module"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

raw
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default config.
##### OS / ENVIRONMENT

ansible is running on Ubuntu Trusty and the systems being managed are linux and Windows.
##### SUMMARY

I am trying to uninstall an application which is on Windows server. The windows box has PS 4 installed. I am querying the list of installed apps and

[2016-08-12 18:56] kuza55 commented on #2057
I just ran into this; it looked like it was not going to be fulfilled on the spot console, then I came back a few hours later and noticed that I had an instance running. I'm not sure if this is possible, but if it's possible to tag spot requests with the ec2 tags as well, it would be nice for ansible to "find" these instances once they've been launched; I ended up going and manually tagging the ru

[2016-08-12 19:04] indispeq opened #4412 "os_security_group_rule support numbered protocols"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

os_security_group_rule
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

Ubuntu 14.04
##### SUMMARY

I am trying to take advantage of the `protocol: 112` functionality of neutron to allow VRRP traffic between two instances that share a vIP. Since VRRP is a numbered protocol and with a legitimate use case, there shoul

[2016-08-12 19:08] mrummuka commented on #861
I believe I might just have encountered the same issue.
I've been experimenting with ansible 2.1.1.0 installed to Fedora 24 (ansible control host), with  "ubuntu/trusty64" as current Vagrant base image.
To me it seems as if Ansible is always waiting_for the _localhost_ to come up for (delay+timeout) time,  despite the other tasks use {{ inventory_hostname }} appropriately.

[code]

Here is the the

[2016-08-12 19:13] bbhenry commented on #454
+1

[2016-08-12 19:19] jctanner commented on #1360
resolved by https://github.com/ansible/ansible-modules-core/pull/4243

[2016-08-12 19:19] #1360 closed, assigned to nobody

[2016-08-12 19:24] jasonab commented on #3447
This bug appears to be fixed in 2.1.1.0

[2016-08-12 19:28] gregswift commented on #861
@mrummuka  Your wait_for doesnt specify port or path, and so the module actually just does a sleep for defined timeout period.  I haven't looked into what causes this, but I believe that without a specific delegate wait_for will delegate to localhost for a remote check because the target host would be down during the waiting.

[2016-08-12 19:42] dekimsey opened #4413 "ini_file doesn't handle multi-line entries"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ini_file
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Using a multiline string as a value in pre-existing ini_file results in duplicate entries.
##### STEPS TO REPRODUCE

It appears the ini_file was changed from a configparser to a by-line reader. However it does not maintain compatibility corr

[2016-08-12 19:48] bcoca commented on #4411
# Core Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a filter, this repo is dedicated to modules and filters live in the engine repo.We would appreciate if you can submit this there instead.

Submit pull requests or ideas to:
- https://github.com/ansible/ansible

Additionally, should you need more help

[2016-08-12 19:48] #4411 closed, assigned to nobody

[2016-08-12 20:31] jctanner commented on #637
"force" with yes|no appear to work as expected in this scenario. If force=no, the module fails with "Local modifications exist in repository (force=no)". If force=yes, the module proceeds to update references and HEAD.

[2016-08-12 20:31] #637 closed, assigned to nobody

[2016-08-12 20:44] ralfbergs opened #4414 "ec2_elb_lb: Ansible didn't detect "scheme" change"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ec2_elb_lb
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Changed the scheme from `internal` to `internet-facing`, and Ansible didn't detect that it had to change the state, i. e. perform some work.
##### STEPS TO REPRODUCE

Originally had the following:

[code]

Changed the above "scheme" line as f

[2016-08-12 21:42] jctanner commented on #238
Reproduced error with 1.7.2 ...

[code]

and with devel c669a38...

[code]

[2016-08-12 22:04] hoffoo commented on #4363
I can confirm the same issue

[code]

[2016-08-12 22:06] #238 closed, assigned to jctanner

[2016-08-12 22:06] jctanner commented on #238
Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for

[2016-08-12 22:59] jctanner commented on #614
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.  Our reasons for this are:
- The git module applies state rather than lifecycle. If docs updates are desired, please send a PR in your own words of how it wou

[2016-08-12 22:59] #614 closed, assigned to nobody

[2016-08-13 01:53] tima commented on #3339
resolved_by_pr ansible/ansible#16349

[2016-08-13 02:00] tima commented on #1162
@jaxzin: ansible/ansible#13099

[2016-08-13 02:01] #3339 closed, assigned to nobody

[2016-08-13 05:25] omairnaim1 opened #4417 "can someone tell based on this output what wrong m I doing"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

nxos_config
##### ANISBLE VERSION

N/A
##### SUMMARY

guest@ubuntu-64bit-14:/etc/ansible$ sudo ansible-playbook -i hosts test.yml

PLAY [leaf configuration] ******************************************************

TASK [nxos_config] *************************************************************
An exception occurred during task execution. To see the

[2016-08-13 05:37] omairnaim1 commented on #4417
Hi,

Can you please elaborate in detail,  I am new to Ansible

[2016-08-13 05:55] omairnaim1 commented on #4417
This is how my playbook look, can you comment for fixup?

---
- name: leaf configuration
  hosts: TC2-LIDC-Nexus-Layer3
  connection: local
  gather_facts: yes
- nxos_config:
  host: HCSCORE-VDC_HCSLIDCN7K01
      lines:
       - vlan 2999

[2016-08-13 06:48] agaffney opened #4418 "Docs for 'port' attribute in junos_* modules are wrong/incomplete"
##### ISSUE TYPE

- Documentation Report
##### COMPONENT NAME

junos_command (and related modules)
##### ANSIBLE VERSION

[code]
##### SUMMARY

The common `junos` module documentation says the following for the `port` parameter:

[code]

However, this is true only for `transport=cli`. When using `transport=netconf` (which seems to be the only option for many of the `junos_*` modules), the default

[2016-08-13 06:48] ipspace opened #4419 "ios_config crashes when there's no "dest" parameter"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ios_config
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ansible: Ubuntu
Remote: Cisco IOS 15.5
##### SUMMARY

ios_config.py crashes with KeyError when the **dest** parameter is not specified
##### STEPS TO REPRODUCE

[code]

##### ACTUAL RESULTS

[code]

[2016-08-13 06:49] ipspace commented on #4419
Suggest changing line 210 in ios_config.py to

[code]

[2016-08-13 06:54] #4418 closed, assigned to nobody

[2016-08-13 08:00] mrummuka commented on #861
OK, I did some additional experimentation and here are my observations:
1. @gregswift By adding port=22 the task wait_for still reports to be connecting to localhost, but now instead of waiting for delay+timeout it simply fails in few seconds after delay.
   `fatal: [myserver -> localhost]: FAILED! => {"changed": false, "elapsed": 31, "failed": true, "msg": "Timeout when waiting for myserver:22"}

[2016-08-13 10:30] ralfbergs commented on #454
+1

[2016-08-13 13:34] kluen commented on #3800
This should be fixed by PR #4049. Still open though.

[2016-08-13 14:56] gregswift commented on #861
@mrummuka I completely missed that you were defining it as a local action. that would be why its delegating locally

[2016-08-13 16:03] antonioantunes opened #4420 "apt module won't work with build-dep"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

apt
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
hostfile = hosts
remote_user = root
remote_port = 60022
private_key_file = ~/.ssh/id_rsa
host_key_checking = False
pipelining = True
gathering = smart
fact_caching_timeout = 86400
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_fact_cache
forks = 20
##### OS / ENVIRO

[2016-08-13 18:28] omairnaim1 commented on #3718
I have similar problem, it really doenst matter how long the VLAN name is it doesnt get done

[2016-08-13 18:48] indrajitr commented on #3137
Quite likely, this is bit different from #573. And #4382 might not have actually fixed the issue (despite my incorrect claim in the PR).

@jb11211, in case you have access to the shell, would it be possible to provide the output of:
- `python -c 'import platform;print(platform.linux_distribution())'`
- `python -c 'import platform;print(platform.dist())'`

[2016-08-13 18:48] indrajitr commented on #3137
needs_info

[2016-08-13 22:17] trondhindenes commented on #3640
I tried the exact playbook posted by the OP, and that works fine on my 2008R2 box:

[code]

Note that the OP's playbook does not try and install .Net 3.5, so all required components are in-box.

At this point this issue has discussed both 2012R2 and 2008R2, and .net3.5 in addition to Web-Server. I'm inclined to ask that we close this issue and re-open with a clear reproduceable error.
@javadevmtl

[2016-08-13 22:26] trondhindenes commented on #1917
Solved thru #2783, closing

[2016-08-13 22:26] #1917 closed, assigned to nobody

[2016-08-14 03:47] naslanidis commented on #3180
@kaikousa

I get a similar issue with this module:

When I run it with multi_zone set to yes:
 "msg": "Failed to create instance: VPC Multi-AZ DB Instances are not available for engine: aurora"}

When I run it with multi_zone set to no:
"msg": "Failed to create instance: Standalone DB Instances are not supported for the specified engine"}

So something is clearly not right here. I very much need s

[2016-08-14 06:19] xiaozhizhu commented on #4247
Thanks for everyone, I have received response and this issue has been resolved.

[2016-08-14 19:18] ralfbergs commented on #4322
+1

I had no resource tags at all in the beginning for my route table, and later added some. But they were not actually attached to the resource.

[2016-08-14 21:47] nipsy opened #4422 "replace module only replaces last match"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

replace
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Debian/testing (packaged ansible (currently 2.1.1.0) behaves the same as most recent dev branch)
##### SUMMARY

The replace module is only changing the last line matched by the supplied regex, instead of all matches.
##### STEPS TO REPRODUCE

Create _test.li

[2016-08-14 22:44] Fale commented on #4219
DO has [deprecated v1](https://developers.digitalocean.com/documentation/v1/) and therefore digital_ocean_sshkey is now broken. I hope the rewrite will soon be completed and merged in Ansible before the next release

[2016-08-14 23:57] privateip commented on #4402
/cc @jedelman8 @GGabriele

[2016-08-15 00:01] chapmanb commented on #4324
I ran into this as well and it's a bit difficult to debug since the entire import section of the module is enclosed in a try/except:

https://github.com/ansible/ansible-modules-core/blob/e5c530a4884aff9783181474c9112222b38e2ee0/cloud/azure/azure_rm_virtualmachine.py#L442

If any imports fail the module won't end up loading `VirtualMachineSizeTypes`, since it's at the end of the block, leading to t

[2016-08-15 01:42] EvanK commented on #4422
The module is working as intended, and this is actually a problem with the regex.

The first captured group, `[^#]+`, will _greedily_ match 1 or more of any character that's not a hash, **including newlines**.

A non-greedy match of `[^#]+?` will get you the wanted result, as would a match of `[^#\n]+`

@ansibot wontfix notabug

[2016-08-15 01:43] #4422 closed, assigned to nobody

[2016-08-15 05:17] EvanK commented on #3344
Fixed as of 2.1.1.0, so bug_resolved?

[2016-08-15 05:25] #3344 closed, assigned to nobody

[2016-08-15 05:29] omairnaim1 commented on #4417
Issue solved it was username and password issue in the playbook , for some
reason it want reading it from hosts file though it was defined there.

On Sunday, 14 August 2016, ansibot notifications@github.com wrote:

[2016-08-15 05:41] ozbillwang commented on #4246
got same error in:

[code]

Here is the error:

[code]

In fact the package has been installed on the client:

[code]

[2016-08-15 08:40] mmoleksf commented on #3447
I tryed this morning and it seems that the previous issue is gone but now I somehow cannot get it to connect to bucket. It always says that the bucket cannot be found. Here is the debug output from the run:

[code]

ansible code:

[code]

Am I doing something wrong?

[2016-08-15 08:43] michalmedvecky commented on #1178
+1, this behavior really sucks

[2016-08-15 08:45] gundalow commented on #4417
@omairnaim1 Do you think the documentation needs updating, if so any suggestions on how we can make it clearer?

[2016-08-15 08:51] gundalow commented on #4419
Hi,
Thanks for the bug report and suggested fix.

Doesn't appear to have been fixed in `devel` yet, so fix still needed.

[2016-08-15 08:58] gundalow commented on #4396
Thanks for the bug report and repo steps.

Seems like something we should fix.

Currently in the documentation we don't define any minimum version.

[2016-08-15 09:18] tommarshall commented on #1509
@jctanner it was already present in the history from the remote.

[2016-08-15 09:20] privateip commented on #4396
this is definitely a bug.  The module should check to see that LLDP is enabled first before trying to run the command.  This will be fixed for 2.2 final

[2016-08-15 10:32] kontrafiktion commented on #4219
The digital_ocean module handles ssh keys as well

[2016-08-15 12:56] bcoca commented on #861
@mrummuka, @jupiterh  modules only know the info you give them, they cannot do 'inventory resolution' themselves.

Whatever you pass to `hostname` will be what the module tries to connect to, if `inventory_hostname` is not resolvable try using `ansible_host`.

[2016-08-15 13:46] ghost commented on #4139
@chouseknecht Does this work as expected for you?

[2016-08-15 14:17] chouseknecht commented on #4246
@SydOps the min docker-py version is 1.7.0.  https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/docker_common.py#L47

[2016-08-15 15:20] jctanner opened #4425 "git module regression created by #4243"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

git module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

[code]
##### STEPS TO REPRODUCE

Use git module in non-local connection mode
##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-08-15 15:43] hyperized commented on #4078
The resulting AMI is infact created, but lacks the tags. I will try the wait: yes now.

[code]

[code]

Back to you @jjshoe

[2016-08-15 15:51] hyperized commented on #4078
Small update: using `wait: yes` and `wait_timeout: 1` both combined results in the exact same error, however it seems the AMI was not created.

[2016-08-15 16:15] jctanner commented on #4425
https://github.com/ansible/ansible-modules-core/pull/4426

[2016-08-15 16:22] #4425 closed, assigned to nobody

[2016-08-15 16:27] #4227 closed, assigned to nobody

[2016-08-15 16:52] minac commented on #4227
I'm confused. The listeners are mandatory as per AWS, so I don't understand this change. Can you please explain?

[2016-08-15 16:56] jctanner commented on #527
@pfalcon The git module and ansible have undergone many revisions since you filed this issue. Since we haven't heard from you in a while and we were waiting on further examples, I am going to close this issue. If you are able to reproduce the problem with a newer version of ansible, please file a new issue with an example playbook and -vvvv output.

[2016-08-15 16:56] #527 closed, assigned to nobody

[2016-08-15 17:01] ryansb commented on #4227
This change is just an update to the documentation to clarify that listeners are mandatory. The code is the same, but the error that used to be raised to the user wasn't very helpful.

[2016-08-15 17:06] minac commented on #4227
Thank you Ryan. Do you know when will this go live on the website?

##

Miguel
Website http://www.migueldavid.eu - LinkedIn
http://uk.linkedin.com/in/migueldavid/ - Taste Porto
http://www.tasteportofoodtours.com/

On 15 August 2016 at 18:01, Ryan Brown notifications@github.com wrote:

[2016-08-15 17:26] omairnaim1 commented on #4417
I think documentation needs to separate out network from applications. For people like me I am interested in looking at network centric documentation. Also examples should include complete code as most of us are new to this.

[2016-08-15 17:44] jctanner commented on #612
My test playbook ...

[code]

createrepo.sh ...

[code]

The run script ...

[code]

Results ...

[code]

[2016-08-15 17:45] jctanner commented on #612
Based on the results above, this testcase was resolved around v2.0.1.0-0.1.rc1 and has continued working since. @xytis if this is still an issue for you, please create a new ticket with full -vvvv output and a modified version of my test scripts above that clarify what detail I misunderstood.

[2016-08-15 17:45] #612 closed, assigned to nobody

[2016-08-15 17:48] gundalow commented on #4417
If under the Network section we had details explaining:
- How authentication works with Network Devices
- More explanation around the `delegate_to: localhost`
- More details around `provider`

Would that help?

I agree more full examples would help

[2016-08-15 18:22] ralfbergs opened #4427 "ec2_group requires "description" to delete SG"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ec2_group
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

`ec2_group` requires `description` parameter to be specified to delete a security group.

This doesn't make sense, IMHO, and it seems to contradict to [what Boto requires](http://boto.cloudhackers.com/en/latest/ref/ec2.html#boto.ec2.connection.EC2

[2016-08-15 19:39] ralfbergs opened #4429 "ec2_vpc: Must specify resource_tags when deleting(!) VPC"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ec2_vpc
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

According to [the doc](https://docs.ansible.com/ansible/ec2_vpc_module.html) you don't have to specify the `resource_tags` parameter when deleting a VPC.

However, this module barfs when this parameter is missing.
##### STEPS TO REPRODUCE

This is my

[2016-08-15 19:50] aisog opened #4430 "winrm NanoServer Unable to find type System.Security.Cryptography.SHA1CryptoServiceProvider"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

win_ping
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

default
##### OS / ENVIRONMENT

 Ubuntu 16.04.1 LTS
##### SUMMARY

Unable to establish winrm connection to new Windows Server Nano
##### STEPS TO REPRODUCE

ansible windows -i inventory/host -m win_ping

[code]

##### EXPECTED RESULTS

Establish winrm connection
##### ACTUAL RESULTS

[co

[2016-08-15 19:53] dmsimard opened #4431 "Git module has different behaviors when cloning fresh and updating git repository (unable to update properly)"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Git
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

Fedora 24
##### SUMMARY

Seeing different (unexpected) behavior when trying to update an existing repository.
- If a repository is cloned "fresh" with a refspec and FETCH_HEAD (i.e, a Gerrit patchset review), it will work
- If a repository is first cloned from mast

[2016-08-15 20:11] jhawkesworth commented on #4430
Since Nano server is really, really new, it would be helpful if you could link to some docs on getting a Nano server installed so others can at least reproduce this.

[2016-08-15 20:23] nitzmahone commented on #4430
Nano server likely won't be supported by Ansible immediately after release- there are a number of architectural issues that make it different from a normal Windows host that break the way Ansible talks to things. We've been doing some initial testing on the Tech Previews, and we'll make Nano server connectivity a first-class effort as soon as RTM bits are available (since MS has subtly changed the

[2016-08-15 20:49] aisog commented on #4430
ok I will be patient , thank you for rely quick response

[2016-08-15 21:18] jvantuyl commented on #2622
@t2d We defer to apt-key to actually handle the keys.  We would like to forbid short keys and use long keys only.  Unfortunately, we're blocked on this bug:  https://bugs.launchpad.net/ubuntu/+source/apt/+bug/1481871

When that's fixed, we'll drop short key support entirely.  This will probably break everyone, but it's security-critical so I'm fine with that.

[2016-08-15 21:22] jvantuyl commented on #2996
This seems to be fixed in commit 27df98b6fbbcb95106c808e15ac1064768ae5b05.  Closing.

[2016-08-15 21:22] jvantuyl commented on #2996
bug_resolved

[2016-08-15 21:25] jvantuyl commented on #3246
This is really an upstream Python issue.  Not much I can do except recommend that you try what's already been mentioned.  @Hashfyre What version of Python are you using?

In general, though, this is a wontfix (because I can't).

[2016-08-15 21:26] acdha opened #4433 "Documentation for unarchive module does not match remote URL behaviour"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

unarchive
##### ANSIBLE VERSION

[code]

(via Homebrew)
##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

OS X managing RHEL 6
##### SUMMARY

https://docs.ansible.com/ansible/unarchive_module.html has an example like this:

[code]

That doesn't match the behaviour observed with 2.1.1.0. It's not immediately obvious whether this is the sa

[2016-08-15 21:27] jvantuyl commented on #3958
This is really a feature more than a bug.  Don't have the bandwidth to implement it, though.

[2016-08-15 21:30] #3246 closed, assigned to nobody

[2016-08-15 21:30] #2996 closed, assigned to nobody

[2016-08-15 21:32] jvantuyl commented on #3958
waiting_on_contributor

[2016-08-15 21:32] jvantuyl commented on #3958
I need to learn to read... needs_contributor

[2016-08-15 21:33] jvantuyl commented on #3958
needs_contributor

[2016-08-16 00:57] jctanner commented on #996
Testcase ...

[code]

Test Script ...

[code]

Results ...

[code]

[2016-08-16 00:59] jctanner commented on #996
I don't see any evidence that the module can somehow carry across arguments between tasks. That is also not something that should be possible in ansible's architecture. Based on the test results above, I am closing this issue. If the original problem is somehow reproducible on a more recent version of ansible, please file a new ticket with the full ansible command line and -vvvv outputs.

[2016-08-16 00:59] #996 closed, assigned to nobody

[2016-08-16 02:25] ozbillwang commented on #4363
yes, I got the same error in ansible v2.1.1.0, the ansible playbook runs well in ansible version 2.0.x.

I only see this error after upgrade ansible to latest.

replace the module name from `docker` to `docker_container`, I got same error.

Rollback the version to 2.0.0.2 and 1.9.6, it runs fine.

[2016-08-16 07:45] t2d commented on #2622
@jvantuyl yes, that sounds very reasonable. short key collision is a real thing.

[2016-08-16 07:58] #3758 closed, assigned to nobody

[2016-08-16 10:18] dkhabarov opened #4436 "AttributeError: 'DockerManager' object has no attribute 'client'"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

docker module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### STEPS TO REPRODUCE

[code]
##### ACTUAL RESULTS

[code]

[2016-08-16 10:20] dkhabarov commented on #4436
[code]

[2016-08-16 10:42] code-and-such commented on #2982
I think I have a related problem ... Binding works properly when not giving a net (--net parameter). If a net is created the bind will be done on 0.0.0.0. Is this a different problem?

# Setup:

Created loopback @ 192.168.100.1
Starting docker deamon with --ip 192.168.100.1

## Working

docker run -d -p 1000:1000 myimage  -> works properly; bound to 192.168.100.1:1000

## Not working

docker netwo

[2016-08-16 10:46] chouseknecht commented on #4436
Do you have docker-py installed, and if so, which version?

[2016-08-16 10:55] dkhabarov commented on #4436
docker-py version: 1.9.0

[2016-08-16 11:02] chouseknecht commented on #2982
FWIW, this was addressed [here](https://github.com/ansible/ansible-modules-core/commit/74dbb61b8d3c6cb6073a6d9c1effe6608d3e5bf3) in docker_container. Note that the docker module is being deprecated and replaced by docker_container.

[code]

If you create a bridge network with optional parameter com.docker.network.bridge.host_binding_ipv4 and attach the container to the network via the _networks_ p

[2016-08-16 11:11] ratemyduck commented on #2982
Actually I found one:

Removing the files in /var/lib/docker/network/files and restarting the deamon fixes the issue.

[2016-08-16 12:47] ctx commented on #2769
Many modules can be affected and `serial: 1` doesn't help always:
Write to a file
- with_items
- local_action that runs for more than one hosts

For example the known_hosts module shows the problem:
https://github.com/ansible/ansible-modules-extras/issues/2489

Are there other plans/solutions than this mutex feature request?
What about caching the writes instead of locking the file?

[2016-08-16 13:27] arunjohn opened #4437 "win_get_url : Exception calling \"DownloadFile\" with \"2\" argument(s): \"The underlying connection was closed: An unexpected error occurred on a send.\"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

win_get_url
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Unable to download a file from a url using basic authentication to a windows box.
and getting the error:

Exception calling \"DownloadFile\" with \"2\" argument(s): \"The underlying connection was closed: An unexpected error occurred on a send.\

[2016-08-16 14:12] krzsza opened #4438 "Playcontext accumulates tags from different PlaybookExecutor instances"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
inventory = $WORKSPACE/test/ansible/vars/hosts
log_path = $PWD/ansible-report.log
timeout = 30
remote_port = 22
host_key_checking = False
private_key_file = $PWD/id_rsa
host_key_checking = False
[ssh_connection]
pipelining = True
##### SUMMARY

I have a code like this:

[code]

At the second call of run() t

[2016-08-16 14:18] bcoca commented on #4438
# Ansible Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about the core engine, this repo is meant for modules. We would appreciate if you can submit this there instead.
- https://github.com/ansible/ansible

Additionally, should you need more help with this, you can ask questions on:
- IRC: #ansible on irc.fre

[2016-08-16 14:18] #4438 closed, assigned to nobody

[2016-08-16 15:04] alikins commented on #422
This works in devel and 2.1/2.2.

Since the version this is reported against is very old and won't receive any updates, closing this issue.

[2016-08-16 15:04] #422 closed, assigned to nobody

[2016-08-16 15:20] alikins commented on #3047
The 'is_registered' detection used by the redhat_subscriptions module is based on the
result of 'subscription-manager identity'. If it's return code is 0, redhat_subscriptions considers the system registered.

(If you can, what is the output and return code of the 'subscription-manager identity' command on that system? I'm curious if the 'identity' sub command has changed.)

What does the playbook

[2016-08-16 15:27] lymichaels commented on #4436
Seeing the same issue here as well. I'm using ansible 2.1.1.0. Target machine has docker 1.10.3 and python-py 1.9.0 on centos 7.

[code]

[2016-08-16 15:32] MadVikingGod commented on #4389
I can confirm this, and that the -F is the "force" option for the usermod.sam program, to bypass the user logged in restriction.

[2016-08-16 15:50] alikins commented on #4318
Reproduced this with devel/

I don't see any way to prevent 'check-update' from line wrapping.

'yum list updates' doesn't wrap, but has some noise in it as well (especially with a LANG set).

'repoquery --pkgnarrow=updates '*''  seems closer
(sample output)

[code]

Or likely, with a --queryformat like:

[code]

[2016-08-16 16:00] senorsmile commented on #3231
I am having the exact same issue with a few containers.  On Ansible 2.0.2.  I get

"reload_reasons": "net (default => bridge)"

[2016-08-16 16:01] #4365 closed, assigned to nobody

[2016-08-16 16:07] gkhays commented on #4126
[Argos83](https://github.com/argos83/pysphere) no longer actively develops pysphere and suggests taking a look at the [VMware bindings for Python](https://github.com/vmware/pyvmomi). What is the possibility of using pyvmomi in future versions of the vsphere_guest module?

[2016-08-16 16:14] jctanner commented on #149
As of today the git module performance for this test case ...

[code]

I added some hooks into the module to validate the ls-remote calls and there is only one in the case of existing checkout. We have to make that one call at least to get the upstream hash in order to know if the local is behind.

I'm all for performance improvements, but this particular issue is not valid. If someone finds anoth

[2016-08-16 16:14] #149 closed, assigned to nobody

[2016-08-16 16:14] senorsmile commented on #3231
As previously commented, it seems to be expecting the network type to default to "bridge", but leaving it as type "default".

Changing line 1282 (in the current stable-2.0 branch of core modules) from

`expected_netmode = self.module.params.get('net') or 'bridge'`
to
`expected_netmode = self.module.params.get('net') or 'default'`

fixes this for me (for now).  I am sure I'm not considering all the

[2016-08-16 16:20] dkhabarov commented on #4436
Somehow I missed, but this module is deprecated. With: http://docs.ansible.com/ansible/docker_container_module.html works.

[code]

 With random ports on host system. But and there questions...

[2016-08-16 16:20] #4436 closed, assigned to nobody

[2016-08-16 17:27] chouseknecht commented on #2824
@SydOps or use the new docker_container module. The docker module is being deprecated and replaced by docker_container. You can also describe the app in Docker compose and manage it with the docker_service module.

[2016-08-16 17:47] jctanner commented on #4126
@gkhays we wrote a new module with pyvmomi https://github.com/ansible/ansible-modules-extras/blob/devel/cloud/vmware/vmware_guest.py

[2016-08-16 18:12] simonpie commented on #3810
So, how are we suppose to deploy product like wso2 that come in a large .zip archive ?  Using the command module ?

[2016-08-16 18:29] gumho opened #4440 "set_fact does not register into hostvars in 2.1.1.0"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

set_fact
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Reproduced on all my servers: OS X Yosemite, Centos 6.8, CentOS 7
##### SUMMARY

In 2.1.0.0, using set_fact would set a variable so that it was accessible from the host dict in the  hostvars variable. In 2.1.1.0, the variable is no longer there. Seems like this b

[2016-08-16 18:30] gumho commented on #4440
Additionally, the facts seem a lot shorter than it was in 2.1.0.0. I don't see things like "ansible_architecture" or "ansible_all_ipv4_addresses", etc.

[2016-08-16 18:33] singpolyma commented on #297
The workaround in the pull request only works if you don't want to change the password.  I would prefer to force the password change, since then that would still work -- even though it would have to happen every time (even when not changed), that's not a big cost.

[2016-08-16 18:58] wvidana commented on #297
@singpolyma Not sure if that can be done without permissions on the `pg_authid` table (AWS requirement, not ansible's fault). Still, the workaround is skipping everything https://github.com/ansible/ansible-modules-core/pull/4038

[2016-08-16 19:01] singpolyma commented on #297
@woqer my understanding is that the permissions issue means you can't _check_ if the password needs to be changed, not that you can't change it at all.  Might mean doing extra work of changing it from X to X, but that doesn't sound like a big cost to me.

[2016-08-16 19:10] wvidana commented on #297
@singpolyma I think you are right, but this can coexists with the `no_password_changes` flag too. Not sure right now on how to implement the password change though, there is some clue on how to get user/role information on the PR I mentioned before (using the `pg_roles` table instead of `pg_authid`)

[2016-08-16 19:35] dustymabe commented on #4272
looks like the same thing as https://github.com/ansible/ansible-modules-core/issues/4202, which was fixed in c94c6fef736b03b1c9c6fd226edd7c3c2273ceb8 - can this be closed

[2016-08-16 19:36] bcoca commented on #4272
closing as per above

[2016-08-16 19:36] #4272 closed, assigned to nobody

[2016-08-16 20:20] agaffney commented on #3984
Even with the fix in 2.1.1, this doesn't seem to be working for me. I'm trying to use `delete system ntp` to clear out all NTP info before setting the correct server, but the diff only shows it adding the new server.

Edit: my problem may be unrelated. It looks like `lxml` is screwing up somehow and returning an empty string when `ele.text` is used in the `get_config()` function in `module_utils/j

[2016-08-16 21:44] jhawkesworth commented on #4437
The error message implies there is a problem sending to the artifactory https server. I suggest you check if there is a firewall which is blocking traffic between the windows node and your artifactory server.

Worth checking the windows event log in case there is any further information on the error there.

Also, try connecting to the windows box via remote desktop and see if you can download from

[2016-08-16 22:11] pmarques opened #4441 "azure_rm_virtualmachine: error when specifying parameter subnet_name"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

cloud/azure/azure_rm_virtualmachine.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Mac OS X
##### SUMMARY

Using azure_rm_virtualmachine module to deploy a new virtual machine that specifies a subnet_name throws an error

[code]
##### STEPS TO REPRODUCE

Deploy a azure virtual machine using the playbook bello

[2016-08-16 22:20] ozbillwang commented on #2824
@chouseknecht

Thanks for your reply, with the latest version 2.1.1.0 I have some issues which i can't use the module `docker_container` properly.

https://github.com/ansible/ansible-modules-core/issues/4363

I have the same issue with `docker` or `docker_container` module in ansible 2.1.1.0

[2016-08-16 22:20] vmindru commented on #2625
tested this on branch stable-2.1 , works fine.

[2016-08-16 22:23] vmindru commented on #2625
tested this on devel branch , works fine.

[2016-08-16 22:29] vmindru commented on #2625
updated to latest commits in stable-2.0 , tested, works fine.

[2016-08-16 22:34] vmindru commented on #2625
i was not able to test this on 1.9 cause the env-setup would somehow fail even if i have the main repo on stable-1.9 and the submodules on latest stable-1.9.

tested on the packaged 2.1 works fine. I think this can be closed.

[2016-08-16 23:09] chouseknecht commented on #2824
#4363 was fixed for docker_container. If you drop the latest code into a library directory, you should be good.

[2016-08-16 23:12] chouseknecht commented on #2824
Actually, that might not be true. I'll double check that it's fixed.

[2016-08-17 00:24] MegaJim commented on #2970
Just in case anybody else runs across the same issue, I was getting this behaviour despite meticulously checking the exact_count, instance_tags and count_tag task variables in my play - in my case the first time I ran the playbook I was going from 0 servers to 2 (but 1 would be misconfigured and left in a weird state).

In the end I figured out that Ansible was running the command twice; once for

[2016-08-17 01:41] grossws commented on #297
@jctanner, @gregdek, I wasn't `postgres_user` maintainer IIRC. Seems to be some bug in @ansibot notifications.

[2016-08-17 03:12] chrisweaver commented on #3444
I just tried Ansible 2.1.1.0 and I got this error:

[code]

Looking at the code, it now does a remove before it does an add.  The remove is broken in 2.2 (as I said above).  Perhaps why the add is broken too.

I had to go back to 2.2 devel, where I can add (but not delete) ELBs.

[2016-08-17 04:28] senorsmile commented on #3231
PR submitted to stable-2.0 branch: https://github.com/ansible/ansible-modules-core/pull/4443

[2016-08-17 04:30] senorsmile commented on #1130
It looks like this bug is related to https://github.com/ansible/ansible-modules-core/issues/3231.

PR submitted to stable-2.0:  https://github.com/ansible/ansible-modules-core/pull/4443

[2016-08-17 04:54] likan999 opened #4446 "Synchronize module shouldn't use ssh if src and dest are on the same machine."
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

synchronize
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Fedora 24
##### SUMMARY

When using synchronize module to sync two files on a single remote host, it shouldn't involve SSH, otherwise it may hang indefinitely. In my case, I didn't set up ssh-agent forward and I don't want to (because I heard there are securit

[2016-08-17 08:19] jeffrey4l commented on #159
When having plenty of files in one folder need template. It is slow to use the with_items solution. I still expect Ansible can have the recursive template folder solution.

[2016-08-17 08:56] arunjohn commented on #4437
Hi,
I am able to download the zip file on the remote server from the browser.

So I ran this on ansible :  export ANSIBLE_KEEP_REMOTE_FILES=1
And ran the playbook again so that I can get the powershell script on the remote server.

And when i ran it again on the remote server I still get the same error.

I have pasted the the PS script found on the remote server for your reference.

`

$complex_ar

[2016-08-17 09:56] asmodehn opened #4449 "include_vars fails when specifying only `file`"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

include_vars
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ubuntu Trusty
##### SUMMARY

Include vars trigger Exception :

[code]
##### STEPS TO REPRODUCE

Use include_vars like this :

[code]

Note that this works as expected however:

[code]
##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2016-08-17 12:10] gundalow commented on #4417
@omairnaim1 I believe you've managed to address the original issue you had so I'll close this issue.

I've got a note of your suggestions on how to improve documentation.

[2016-08-17 12:10] #4417 closed, assigned to nobody

[2016-08-17 13:11] dagwieers commented on #159
@SeerKan `with_fileglob` is _not_ recursive.

@jeffrey4l  Agreed, it would be nice to have. I looked at implementing it once, but it's not as straightforward as one would think. Using with_items (or rather `with_filetree`) sufficed for us.

[2016-08-17 13:44] Ohadbasan commented on #4367
@jctanner  I'm not  sure if it's necessarily a module. might be a core problem.
I just got a var with a ":" in its name, tried to reference it in a template and it failed.

[2016-08-17 13:57] mwild1 opened #4450 "hg module unable to switch branches in some cases"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

source_control/hg
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

The current module assumes that the '-C' parameter is only used to update when there are local changes in the working copy, but it is also used for non-linear updates.

When the 'force' parameter is specified, the current module alw

[2016-08-17 13:59] ralfbergs opened #4451 "ec2: group_id doesn't seem to accept a list of security groups as documented"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ec2
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Ansible doesn't accept a list of security groups when launching an instance, while it's [documented](https://docs.ansible.com/ansible/ec2_module.html) that it does: "security group id (or list of ids) to use with the instance"
##### STEPS TO REPRODUCE

[2016-08-17 14:17] bcoca commented on #4449
The parameter was documented as added in 2.2, you are using 2.1

[2016-08-17 14:56] jimi-c commented on #4449
Fix added in `stable-2.1` to catch the empty/non-existent file name problem. This will also be included in the 2.1.2 release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks

[2016-08-17 14:56] #4449 closed, assigned to nobody

[2016-08-17 16:39] gregdek commented on #297
Hmm, yes. MAINTAINERS-CORE.txt points to "ansible" as the maintainer of this module, so...

bot_broken

[2016-08-17 16:50] jhawkesworth commented on #4437
Could you try the download from a browser using the developer tools to watch the network traffic.  I am guessing that there is a redirect involved somewhere which the PowerShell DownloadFile call isn't handling?

[2016-08-17 17:51] dustymabe commented on #4272
hey @bcoca @dagwieers I think there may be a second part to this bug. I just opened a PR: https://github.com/ansible/ansible/pull/17126

[2016-08-17 17:57] gfarrell opened #4453 "docker_container > networks is broken"
##### ISSUE TYPE
- Bug Report
- Documentation Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

when specifying `networks` as a list of dicts, an error occurs. Also, docker docs say that `networks` was introduced in version _2.2_ but that version doesn't appear to have been released.
##### STEPS TO REPRODUCE
1. Use `networks` con

[2016-08-17 19:06] Challa-shekhar opened #4454 "file module not working"
##### ISSUE TYPE

- Bug Report
- file module
##### COMPONENT NAME
- file module
##### ANSIBLE VERSION

[code]

##### EXPECTED RESULTS

File permissions changed
##### ACTUAL RESULTS

fatal: [10.135.226.129]: FAILED! => {"changed": false, "failed": true, "invocation": {"module_args": {"backup": null, "content": null, "delimiter": null, "diff_peek": null, "directory_mode": null, "follow": false, "for

[2016-08-17 19:19] jedelman8 commented on #4082
@gundalow Yes, of course.  Will try sending a PR in tonight for code and doc updates.

[2016-08-17 19:32] chouseknecht commented on #4453
This was fixed [here](https://github.com/ansible/ansible-modules-core/pull/3796). Looks like it made it into 2.1.1.0. If not, you can always run from source or place a copy of the latest module code in a library directory.

[2016-08-17 19:32] #4453 closed, assigned to nobody

[2016-08-17 19:37] chouseknecht commented on #2982
wontfix

As mentioned above existing docker.py module is being deprecated. Please try out the latest version of the docker_cotainer module. If docker_container fails to perform as expected, please open an issue for docker_container.

[2016-08-17 19:46] #2982 closed, assigned to nobody

[2016-08-17 19:52] chouseknecht commented on #4363
wontfix

The following playbook with all the same volume mounts works as expected using the latest docker_container. I'm running from source. There were commits added to docker_container on 6/1 that may not have landed in 2.1.1.0. They may be part of 2.1.1.0-1. Or, you can always run from source, or place a copy of the latest module code in a library directory.

[code]

[2016-08-17 20:08] chouseknecht commented on #2824
See my comment #4363. That issue has been fixed in the latest docker_container code.

Same thing here. The following playbook, which is almost identical to the example submitted by @larstobi, works as expected with the latest docker_container code. I am running from source. You can either run from source or place the latest docker_container module code in a library directory.

[code]

[2016-08-17 20:20] chouseknecht commented on #2824
wontfix

Existing docker.py module is being deprecated. Please try using latest docker_container.py module. To get the latest changes may require running from source or placing a copy of the most recent module code in a library directory.

[2016-08-17 20:26] #4363 closed, assigned to nobody

[2016-08-17 20:27] #2824 closed, assigned to nobody

[2016-08-17 20:38] jhawkesworth commented on #4437
Does your artifactory have a trusted certificate? Did some searching on your error message and came across this http://stackoverflow.com/questions/11696944/powershell-v3-invoke-webrequest-https-error/15841856

[2016-08-17 20:40] Challa-shekhar opened #4455 "Expect module not working module failure parsed false"
##### ISSUE TYPE

- Bug Report
- expect module
##### COMPONENT NAME

Expect module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

source: RHEL 6.8 pexpect 4.2
target: RHEL 6.8 pexpect 4.2
##### OS / ENVIRONMENT

RHEL 6.8
##### SUMMARY

Module failure related to the python not sure
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

play to work fine
##### ACTUAL RESULTS

[code]

[2016-08-17 20:41] #4454 closed, assigned to nobody

[2016-08-17 20:47] #4455 closed, assigned to nobody

[2016-08-17 21:13] chouseknecht commented on #4354
With the above PR exposed ports is now:

[code]

And published ports:

[code]

And from `docker ps`:

[code]

[2016-08-17 21:17] chouseknecht commented on #4354
resolved_by_pr #4456

[2016-08-17 21:17] #4354 closed, assigned to chouseknecht

[2016-08-17 21:19] dagwieers commented on #4272
@dustymabe Yes, the specific error can have multiple root causes. Unfortunately the maintainers have not been involved with the copy/remote_src change. I would take this up with the author (@jimi-c) of that commit (467516e5dade1efec15034d1eef5b2df32893447)

[2016-08-17 21:21] chouseknecht commented on #4371
wontfix

Marking as wonfix because adding this functionality is not a priority. It may be nice to have, and If the community would like to add it, a PR would be appreciated.

[2016-08-17 21:27] #4371 closed, assigned to nobody

[2016-08-17 22:16] yeukhon commented on #4450
@mwild1  would you be so kind to provide an example of a non-linear update so I can include in my test case?

[2016-08-17 22:35] mwild1 commented on #4450
The following commands in an empty directory will create a simple test case repo:

[code]

Working copy is clean, but `hg update` still needs either `-c` or `-C` to force the update (`-c` is a safe default, because it fails if the working copy is not clean, and the working copy can always be cleaned by using the current 'force' parameter in the module).

[2016-08-17 22:46] mwild1 commented on #4450
Oh, possibly one thing to be wary of... I'm not sure which version of Mercurial introduced `-c` (lowercase), but I'm pretty sure it's newer than `-C`. I'm not sure what versions the module aims to support, but that might be worth looking out for.

[2016-08-18 00:45] jbrockett opened #4460 "ec2_asg doesn't reflect load balancer changes to existing asgs"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ec2_asg
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

From: OS X El Capitan
Managing: AWS
##### SUMMARY

I am using the ec2_asg module to create an auto-scaling group for my application.  When first created, it had one ELB.  I had to add another ELB after it was created, but it would never update the ASG with t

[2016-08-18 00:49] hryamzik opened #4461 "pause until broken"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

pause
##### ANSIBLE VERSION

[code]
##### SUMMARY

Pause module stopped working with `until`.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Working prompt.
##### ACTUAL RESULTS

[code]

[2016-08-18 01:13] chrisweaver commented on #3924
@alikins That seems to be working.  Thanks for the help.

[2016-08-18 01:13] #3924 closed, assigned to nobody

[2016-08-18 04:41] cjongseok commented on #3783
2.1.1.0 works for me.
I tested on Ubuntu 14.04.4 TLS with the ansible package,

sudo apt-get install ansible=2.1.1.0-1ppa~trusty

[2016-08-18 06:43] AJ2090 opened #4463 "Unarchive module to support authorization when unarchiving from URL mentioned in src"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

Unarchive module
##### ANSIBLE VERSION

ansible 2.1.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
##### CONFIGURATION
##### OS / ENVIRONMENT

Ubuntu 16.04.1 LTS
##### SUMMARY

Currently to unarchive tarball from URL, we can use unarchive module as below.
- unarchive: src=https://example.com

[2016-08-18 07:18] #4082 closed, assigned to nobody

[2016-08-18 10:05] arunjohn commented on #4437
Hi,
I am able to download it through the browser on the remote server after passing the authentication.
The artifactory uses a valid class 3 certificate.

Could you please advice how I can get more verbose details from the powershell or ansible module to read the exact error ?

[2016-08-18 10:58] dagwieers commented on #4463
Right, similar requests have come up and our current stance is that we don't want to duplicate all functionality of the `get_url` or `uri` module in the unarchive module. While it is convenient to have a single task that does everything under the kitchen sink, it will be a lot harder to support duplicate code.

@abadger @bcoca Maybe one of the Ansible devs can shed some light on how to handle thes

[2016-08-18 13:08] jean-christophe-manciot opened #4464 "timeout: Cannot access NX-OS device with nxos_command in CLI/SSH"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

nxos_command
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

**Local host**: Ubuntu 16.04 4.4.0-34
**Target node**: NX-OSv 7.3(0)D1(1)
##### SUMMARY

Cannot configure anything using nxos_command module through CLI/SSH nor NX-API.
Using show commands works fine with nxos_command.
##### STEPS TO REPRODUCE

**Invent

[2016-08-18 13:29] dagwieers commented on #4440
@gumho I cannot reproduce that. In 2.1.0.0 as well as 2.1.1.0 it includes all host facts, but beware if the host you need facts from are not part of the host list (e.g. setup does not run for the host), they may not be included. I use _may_ because unless you cache them for a longer period and recently ran setup, it will not have any facts.

[2016-08-18 13:32] dagwieers commented on #4440
I also cannot reproduce your original report either. It works for me, on both v2.1.0.0 and v2.1.1.0.
Can someone else reproduce this issue on their environment ? @bcoca ?

[2016-08-18 13:39] bcoca commented on #4440
This might be an issue with '127.0.0.1' as a change to the implicit 'localhost'  was breaking things in 2.1.1.0, test against current devel or stable-2.1, a fix should be in place for that and will be released soon.

[2016-08-18 13:49] dagwieers commented on #4440
Aha, I did not test with 127.0.0.1 specifically. My reproducers always localhost (or some other made-up names).

[2016-08-18 13:51] jean-christophe-manciot opened #4465 "Exception using nxos_feature"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

nxos_feature
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

**Local host**: Ubuntu 16.04 4.4.0-34
**Target nodes**: NX-OSv 7.3(0)D1(1)
##### SUMMARY

Cannot configure features using nxos_feature module through CLI/SSH nor NX-API.
##### STEPS TO REPRODUCE

**Inventory** ./hosts:

[code]

Structure passed as **pro

[2016-08-18 13:54] bmillemathias commented on #1889
I can confirm this is not fixed in 2.1.x

[2016-08-18 15:25] jctanner commented on #4367
@Ohadbasan Please file this under https://github.com/ansible/ansible or post to the ansible-project mailing list.

[2016-08-18 15:25] #4367 closed, assigned to nobody

[2016-08-18 18:20] gumho commented on #4440
Ah yes I had 127.0.0.1 set in my inventory file. Sorry, should have included that in the description.

[2016-08-18 20:17] mattupstate opened #4466 "Docker module fails to parse envvars that are empty strings"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Ubuntu Xenial
##### SUMMARY

Sometimes I'm setting the value of an environment variable for a Docker container as an empty string. When the container is started for the first time all is well. However, when the container is already running, and the `docke

[2016-08-18 23:11] hryamzik opened #4468 "s3 list all"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

s3
##### ANSIBLE VERSION

[code]
##### SUMMARY

Currently s3 module can list only a 1000 keys. It has a marker option but it's unclear how to use it and paginating in a playbook doesn't seem to be the best idea. So I would love to see this code hidden in the module.

[2016-08-19 02:35] ederrm commented on #873
This works fine for me:

https://gist.github.com/ederrm/2968d61e6494f035c5d3aac3151ba922

[2016-08-19 02:38] edrzmr commented on #873
[this](https://gist.github.com/ederrm/2968d61e6494f035c5d3aac3151ba922) really works for me.

ansible: 2.1.1.0

[2016-08-19 07:46] linusgg opened #4471 "Unarchive Error, No such file or directory"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

unarchive
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu  management node
Centos 7 managed node
##### SUMMARY

Gives No such file or directory error when added extra_opts: "--strip-components=2"
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Changed
##### ACTUAL RESULTS

The archive file structure is

[2016-08-19 09:11] ghost commented on #902
+1

[2016-08-19 09:45] dagwieers commented on #4471
This is already fixed in #4131, but hasn't been merged yet.
Please test and leave feedback in the PR comments !

resolved_by_pr #4131

[2016-08-19 09:52] #4471 closed, assigned to nobody

[2016-08-19 10:47] dagwieers commented on #4409
Again, the problem here has to do with the fact that we use external commands and scrape the output (rather than use a pure-python implementation). The reason why there is a difference in interpretation is because listing files in the ZIP archive is done using pure-python means (**zipfile**) whereas the extracting is performed using the `unzip` command.

The right solution is to reimplement unarch

[2016-08-19 10:49] boufnichel commented on #3810
at the moment you can use the command module with "unzip" standard unix

[2016-08-19 10:59] dagwieers commented on #4390
From the output I can tell this:

[code]

So you are not using GNU tar but the native tar from MacOSX and that is not supported.
Please install GNU tar on MacOSX.

notabug

[2016-08-19 11:01] dagwieers commented on #4390
BTW Your report was op a .zip file, and the debugging information was related to the use of tar.

[2016-08-19 11:06] dagwieers commented on #4247
resolved_by_pr #4202

[2016-08-19 11:09] dagwieers commented on #3241
The **unarchive** module only supports archives, not compressed files. The documentation was improved to make that more clear. We anticipate a new pure-python **uncompress** module that will support compressed files as well as archives, which would then deprecate the unarchive module.

notabug

[2016-08-19 11:13] #4247 closed, assigned to nobody

[2016-08-19 11:13] #3241 closed, assigned to nobody

[2016-08-19 11:16] dagwieers commented on #1035
notabug

[2016-08-19 11:17] dagwieers commented on #2866
needs_contributor

[2016-08-19 11:19] dagwieers commented on #4169
In Bash there is a difference between _/foo/bar_ and _/foo/bar/_ if _/foo/bar_ is a symlink.
Can you reproduce this with a trailing slash ?

needs_info

[2016-08-19 11:23] #1035 closed, assigned to nobody

[2016-08-19 11:25] dagwieers commented on #4164
needs_contributor

[2016-08-19 11:26] dagwieers commented on #3048
needs_contributor

[2016-08-19 12:35] joemaller commented on #4390
The error with tar being used on zip archives is new. This had all been working for a very long time without needing to install GNU tar. It seems this changed in 983cdd00bc71571df74f5f5a8afbe20468c27bde?

The switch to GNU tar should really be mentioned in the release notes since it's a breaking change for Mac-based use. Also the note in the module docs could be more explicit.

Apologies for sendi

[2016-08-19 12:45] dagwieers commented on #4390
@joemaller The requirement for GNU tar has been there for a while, but it worked for some time also if it was not GNU tar in some cases. Since we are scraping the output, and since we allow for extra options to be added, it is impossible to support every tool calling itself `tar`. That's simply impossible.

We'd like to get away from using external commands and use a pure-python implementation, bu

[2016-08-19 12:46] dagwieers commented on #4390
duplicate_of #152

[2016-08-19 12:49] dagwieers commented on #3974
needs_contributor

[2016-08-19 12:52] LHSnow commented on #170
Alternatively, use the content + force options of the copy module. Leaves the file untouched if it does exist, creates it empty if it doesn't (triggering a change).

`- copy: dest=/some/path content="" force=no`

[2016-08-19 12:52] dagwieers commented on #913
Apparently `creates=` is no longer supported by the unarchive module (though still accepted).
Not sure when/why that happened. See #4164 for this.

Can you test your issue again with a recent Ansible and unarchive and report back ?

needs_info

[2016-08-19 12:55] #4390 closed, assigned to nobody

[2016-08-19 13:16] joemaller commented on #4390
@dagwieers Thank you!

[2016-08-19 13:38] smurfix commented on #2571
Any progress? this is a major problem for me.

While we're at it: removing the mountpoint directory should be optional, too.

[2016-08-19 14:14] riccardomurri opened #4472 "package: version specifiers only work with `yum`"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

`package` module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No changes to the stock `ansible.cfg`, and no settings in the environment either:

[code]
##### OS / ENVIRONMENT

Ubuntu 16.04 (xenial)
##### SUMMARY

[Documentation](http://docs.ansible.com/ansible/package_module.html) for the OS-independent `package` module states that `name=`

[2016-08-19 14:16] grossws commented on #1889
@bmillemathias, as I said in #1357, it was merged into `devel` but not to 2.1.x releases.

@ansibot, resolved_by_pr #1357

[2016-08-19 14:23] kyleroot commented on #4169
I'll check with the playbook later today. However I disagree that there's a difference between the handling of symlinks with a trailing / and those without in the shell generally. Are you thinking of a specific case?

[code]

Note: no trailing / on the symlink. The `-d` file test operator correctly returns true.

[code]

Or

[code]

[2016-08-19 14:25] #1889 closed, assigned to nobody

[2016-08-19 19:55] seanbarden commented on #1965
+1

[2016-08-19 20:50] codyrat opened #4475 "module junos_command rpc_args set int(value for kwargs[key] with r'\d+'"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

[code]
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

##### SUMMARY

Any kwarg for an rpc that contains a digit is interpreted and set to be typed as an integer.
When setting any field to an IP address, such as 192.168.0.0 or subnet 192.168.0.0/24 the regexp incorrectly types kwargs[key] = int(value)
##### STEP

[2016-08-19 21:02] aguynamedjoetoo opened #4476 "Yum module is throwing 403s, while a manual yum update works fine"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

yum module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ansible.cfg:

[code]

End instance talks to a proxy to the internet, with /etc/default/yum configured to use these proxies. Proxies are squid proxies that just simply forward on HTTP/HTTPS traffic, and for the purposes of this, have never presented an issue. (More in summary about this

[2016-08-19 21:05] aguynamedjoetoo commented on #4476
Also, should be noted, some how there was a lost space between copy/paste. There is indeed a space between 'latest' and 'update_cache' in the executions :D

[2016-08-19 21:18] adisharoon opened #4477 "RDS read replica both requires and disallows 'subnet' parameter"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

module: rds
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
log_path=~/.ansible/ansible.log
host_key_checking = False
vault_password_file = ~/.ansible_vault
##### OS / ENVIRONMENT

OS X El Capitan 10.11.6
##### SUMMARY

Using the rds module with 'command: replicate' to create a read-replica in a VPC results in a failure stating that

[2016-08-20 04:20] zhijieqing opened #4478 "unarchive module error--cloud not support Chinese"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

unarchive
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS Linux release 7.1.1503 (Core)
##### SUMMARY

Thank you for your reply!
But this issue [[](https://github.com/ansible/ansible/issues/17146) ] also appear in version 2.1.

the file [unarchive_test.zip] is in attach files and archive with [tar -czvf] .

Than

[2016-08-20 15:15] cbrinley commented on #4249
Your issue might be different but we are running into the same error. I'll be validating our scenario Monday but this is looking like it might be bug (somewhat a matter of interpretation). I currently believe when manipulating disks the module gets to a state where it is acting on an old version of the vm object.  Here is my thinking:

At the start of the vsphere_guest module it pulls a copy of th

[2016-08-20 17:53] trondhindenes commented on #3640
Still waiting for clarification from @javadevmtl.

[2016-08-20 17:55] trondhindenes commented on #2792
Maybe we should have called this module something like win_serverfeature but that ship has sailed. I'm gonna close this issue, as I consider it resolved thru the clarification in documentation. That said, we might go ahead and build a client-compatible version of it at some point, of there's a need for it in the community. @eoyslebo: hope you're ok with this. Leaving open for a few days in case yo

[2016-08-20 19:15] samvarankashyap opened #4486 "rax module doesnot work with async"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

rax module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Ansible rax module gives error with async
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected asynchronous call to rackspace and further add poll on jobid
##### ACTUAL RESULTS

error:
 ansible-playbook -vvvv pluck_rx.yml
Using /etc

[2016-08-20 19:16] samvarankashyap commented on #4486
this is a similar problem with os_server module issue [https://github.com/ansible/ansible-modules-core/issues/4393]

[2016-08-20 20:59] sivel commented on #4486
I believe the `os_server` issue is a result of something different.  This is claiming that `AnsibleModule` provided from `ansible.module_utils.basic` does not include an `ansible_version` attribute.

This seems to indicate some potentially larger issue.  There were other reports in the past about multiple ansible installations potentially causing problems with the new ansiballz wrapper.  If I had

[2016-08-20 22:54] likan999 commented on #1409
I am seeing similar issue. It works if I specify state=present. However, if I use state=latest, yum doesn't install the package yet doesn't report failure, which is pretty misleading.

[2016-08-21 01:21] alexfd commented on #952
`service nginx configtest` now exits with **1**

[code]

yet ansible still reports _changed_:

[code]

[2016-08-21 07:30] sHaggYcaT opened #4489 "Ansible "fail" module is probably broken in case of using Ansible's tags"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Ansible fail
##### ANSIBLE VERSION

Ansible 2.1.1, partly 1.9.6 affected too.
##### OS / ENVIRONMENT

Ubuntu 14.04
##### SUMMARY
##### STEPS TO REPRODUCE

==== Old Ansible code ====

[code]

=== pip install ansible==1.9.6, It works! ===

[code]

=== pip install ansible==2.1.1 This syntax doesn't works! ===

[code]

=== Try to write new syntax===

[2016-08-21 08:01] dagwieers commented on #4489
I see more than one issue with your examples.
- You _need_ to add `msg=` or `msg:` when using the fail module (in some examples you didn't)
- Your `when:` statement needs to be defined on the task-level, not as an option to the fail module (in some examples it's done wrong)
- Some examples do not use the proper indentation (e.g. list items with different indentation will not work and lead to synta

[2016-08-21 08:03] dagwieers commented on #4489
BTW Another point to be careful for, to make your example work I had to define **supervisord_disable_code** as a string, but you probably are using integers instead. However your conditional check in `when:` is comparing it to a string, that's why I defined it as a string.

notabug

[2016-08-21 08:09] #4489 closed, assigned to nobody

[2016-08-21 14:59] newbe36524 commented on #3640
if you install net3.5 first with dism.exe,there would be  no problem.
I Tested.

[2016-08-21 15:14] oupala opened #4490 "uri: status "changed" never thrown"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

uri
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

standard
##### OS / ENVIRONMENT

debian to raspbian
##### SUMMARY

status "changed" never thrown by a uri task, even if an http call is sent
##### STEPS TO REPRODUCE

Create a task that generate an http call:

[code]
##### EXPECTED RESULTS

The task should be executed the first time you launc

[2016-08-22 08:12] wombll commented on #3962
Also facing this issue, have just removed the str() for now so I can use the modules.

vim /usr/local/lib/python2.7/site-packages/ansible/module_utils/junos.py
before:
return str(ele.text).strip()
after:
return ele.text.strip()

vim /usr/local/lib/python2.7/site-packages/ansible/modules/core/network/junos/junos_template.py
before:
results['_backup'] = str(module.get_config()).strip()
after:
result

[2016-08-22 09:47] sfilipov opened #4493 "Add support to postgresql_privs for ALTER DEFAULT PRIVILEGES"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

postgresql_privs
##### ANSIBLE VERSION

[code]
##### SUMMARY

Currently `postgresql_privs` module does not support `ALTER DEFAULT PRIVILEGES`. This is a feature request to add such an option.

https://www.postgresql.org/docs/9.4/static/sql-alterdefaultprivileges.html

[2016-08-22 09:52] gundalow commented on #4475
Thank you for the bug report and clear steps to reproduce. This parsing bug is due to the following:

https://github.com/ansible/ansible-modules-core/blob/devel/network/junos/junos_command.py#L152

[code]

[2016-08-22 09:54] tommarshall commented on #1764
It turns out `ufw` has it's own sysctl config that is applied to the in memory config when the default policy is set.

That config disables the log_martians settings:

[code]

So both the `ufw` and `sysctl` modules are behaving correctly here.

[2016-08-22 09:54] #1764 closed, assigned to nobody

[2016-08-22 10:19] bcbrockway commented on #3080
I am also seeing this issue with ansible 2.1.0.0.

[2016-08-22 10:23] gundalow commented on #4391
https://github.com/ansible/ansible-modules-core/pull/4484/files adds `wait_for` into `nxos_command`

Other PRs to follow

[2016-08-22 10:29] aya opened #4494 "setup module fails with AttributeError: 'module' object has no attribute 'selinux_getpolicytype' in get_selinux_facts on Fedora Core 5"
##### ISSUE TYPE

 Bug Report
##### COMPONENT NAME

setup module
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Managed node running Fedora Core 5
##### SUMMARY

setup module fails on Fedora Core 5 in get_selinux_facts with error : "AttributeError: 'module' object has no attribute 'selinux_getpolicytype."
##### STEPS TO REPRODUCE

Run the setup module on a Fedora Core 5.
##### EXPECTED RESU

[2016-08-22 10:52] aya commented on #4494
Reported in ansible project [#17175](https://github.com/ansible/ansible/issues/17175)

[2016-08-22 10:52] #4494 closed, assigned to nobody

[2016-08-22 15:33] codyrat commented on #4475
@privateip @gundalow I've created a pull request that I believe fixes the issue.
#4495

[2016-08-22 15:46] dagwieers commented on #4169
Well, try a `file` or a `stat` to your symlink with or without a slash.

[code]

The output is different, so it is processing both differently.

If you add a slash, it no longer is looking at the symlink, but past it.

[code]

So python does not consider it as a link when you add a trailing slash.

I am not saying this will make a difference, and I am not saying it won't.

[2016-08-22 15:47] cbrinley commented on #4249
In our case adding a post update_disk check on the `changed` value and corresponding re-pull of vm state did the trick:

[code]

[2016-08-22 15:59] gundalow commented on #4475
resolved_by_pr 4495

[2016-08-22 16:08] #4475 closed, assigned to privateip

[2016-08-22 16:57] kyleroot commented on #4169
On my Mac and under FreeBSD I see the behavior I would expect normally. That it returns the type of the target irrespective of the trailing /. This is adhering to POSIX.

[code]

However with Bash under Linux I see what you describe. That's because the output of the `file` tool under Linux is non-standard.

[code]

If I set `POSIXLY_CORRECT` I can make `file` give me the correct behavior. The capa

[2016-08-22 17:29] dagwieers commented on #4169
Still python also makes a distinction, and for every platform.

Regardless, that's not your issue, your issue is related to the use of `_remote_checksum()` and more specifically `_execute_remote_stat()`. I will look into it and see if this interface can be changed or used differently.

[2016-08-22 17:43] zaphinath opened #4498 "Archive src with :// and remote_src=yes is removing a '/' in the URL"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

archive
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Using default
##### OS / ENVIRONMENT

Running ansible on OSX El Capitain and remote host is centos 7
##### SUMMARY

I am trying to download a remote tar and extract it. It appears that I am losing a / in the src
##### STEPS TO REPRODUCE

I am running the following command as one of my rol

[2016-08-22 17:50] #4498 closed, assigned to nobody

[2016-08-22 19:28] simonpie opened #4499 "lineinfile incorrectly writes outer quotes in result."
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

- lineinfile
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

The basic ansible version installed by brew on a fully patch El Capitan Mac controlling an oracle linux vm.
##### SUMMARY

When trying to insert a convoluted line using the lineinfile module, outer quotes are printed in the file whilst they should not be.  I

[2016-08-22 20:36] aguynamedjoetoo commented on #4476
Well... it stopped happening today. So I'm gonna go with some weird PEBKAC (PEBKAWS?) thing for now. Will re-open if I run into anything like it again.

[2016-08-22 20:36] #4476 closed, assigned to nobody

[2016-08-23 00:09] will-janz opened #4502 "Systemd module missing in Ubuntu Xenial PPA"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

systemd
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No config changes
##### OS / ENVIRONMENT

Linux Mint 18 (Sarah) / Ubuntu 16.04 Xenial
##### SUMMARY

Attempting to use the systemd module in my playbook resulted in the "no action detected in task" error. After running `ansible localhost -m systemd` I was given

[code]

however I did not i

[2016-08-23 00:12] sivel commented on #4502
The `systemd` module is listed as being added in Ansible 2.2 which has not been released yet.  Per your version output, you are still running version 2.1.1.0.

[2016-08-23 00:12] #4502 closed, assigned to nobody

[2016-08-23 00:13] sivel commented on #4502
You however can utilize the `service` module which can interact with systemd

[2016-08-23 02:48] stonier commented on #4371
+1 as a nice to have.

We could certainly use it, and to be honest, the current setup is unintuitive and took me 20-30 minutes of debugging to work out that `force: no` doesn't behave as expected, i.e. a changed image id does not download.

I am not knowledgeable enough about the details to make a PR, but at the very least, I think the `docker_image` documentation should be updated so that the une

[2016-08-23 07:37] shaung opened #4504 "docker_service: timeout option not respected"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_service
##### ANSIBLE VERSION

[code]
##### SUMMARY

The `timeout` option specified in a docker_service task seems to be not actually used.
##### STEPS TO REPRODUCE

SEE https://github.com/ansible/ansible-modules-core/blob/devel/cloud/docker/docker_service.py#L837-L862

[2016-08-23 09:32] geertn opened #4505 "Out of disk space condition gives error: 'temp_path' is not defined"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

core assembly
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Using ANSIBLE_KEEP_REMOTE_FILES=1:
fatal: [tbvaw0]: UNREACHABLE! => {"changed": false, "msg": "mkdir: cannot create directory '/home/geert/.ansible': No space left on device\n", "unreachable": true}
##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

When running ansible on a machin

[2016-08-23 10:02] ghost opened #4506 "uri module: index out of range"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

- `uri` module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

- OS: `SLES12`
- `python-setuptools` version:

[code]
- `python-pip` version.

[code]
##### SUMMARY

We faced the following problem with `URI` module:

[code]
##### STEPS TO REPRODUCE
- make `RPM` package on mentioned operating system,
- install `Ansibl

[2016-08-23 11:25] chouseknecht commented on #4504
Will take a look.

[2016-08-23 12:09] kellytk opened #4508 "[synchronize] become_user is not honored in the generated rsync command"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

synchronize
##### ANSIBLE VERSION

[code]
##### SUMMARY

"The user and permissions for the synchronize dest are those of the remote_user on the destination host or the become_user if become=yes is active." [1] is not honored.

[1] http://docs.ansible.com/ansible/synchronize_module.html
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

[cod

[2016-08-23 12:36] simonpie commented on #4499
Should I add something ?

[2016-08-23 12:58] tamarshall commented on #4217
Any progress on this? It's still an issue for me

[2016-08-23 13:44] jyundt opened #4511 "Cron module does not properly set SELinux context for user crontabs"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

cron_module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS / RHEL 7.2
##### SUMMARY

The cron module does not properly set the selinux context on crontabs.

The proper SELinux python deps are installed as part of a prior task and the selinux Ansible module functions as expected.
##### STEPS TO REPRODUCE

On a C

[2016-08-23 14:55] Ameausoone commented on #1259
I have the same issue, even when specifying fstype and src with state=unmounted. Ansible do not remove line from /etc/fstab.

ansible --version
ansible 2.1.0.0
on Red Hat Enterprise Linux Server release 6.8

[2016-08-23 15:04] kenwmitchell commented on #1259
@Ameausoone You might check out issue #2623 as what you are asking about is not exactly what this issue was about. You can see that #2623 might be a better fit and suggests looking at `state=absent` might be the functionality that you expect.

[2016-08-23 15:21] Ameausoone commented on #1259
@kenwmitchell  Thank you very much, it works  !

[2016-08-23 16:06] ydrisR opened #4512 "Setup.ps1 fails on windows hosts where facter is installed"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Setup.ps1
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Running ansible on Centos 7.
Managing Windows Server 2008
##### SUMMARY

Setup module fails when facter is installed on the target host.
##### STEPS TO REPRODUCE

Execute ansible setup module to gather facts from a host where Puppet is installed.
`ansible web

[2016-08-23 16:28] sivel commented on #4217
This is a result of how python handles HTTP requests.  When a POST request is made that results in a 30x response, python will follow the `Location` with a GET request:

As such, you get the following:
1. POST -> `http://httpbin.org/status/307`
2. GET -> `http://httpbin.org/redirect/1`
3. GET -> `http://httpbin.org/get`

The default in python, which you get with `all` is that 301, 302, 303, and 30

[2016-08-23 17:26] richard-hulm commented on #4217
See http://programmers.stackexchange.com/a/99966

It makes sense in the context of a web browser to stick to the safe action
of a GET

follow_redirects: ALL implies to me that you've given ansible permission to
follow 'unsafe' redirects (i.e. a POST) with the same method

[2016-08-23 19:03] jctanner commented on #4505
@geertn please file this under https://github.com/ansible/ansible/issues

[2016-08-23 19:03] #4505 closed, assigned to nobody

[2016-08-23 19:39] chouseknecht opened #4513 "Formatting on Docker Network Module page broken."
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

[Docker Network Module Page](http://docs.ansible.com/ansible/docker_network_module.html)
##### SUMMARY

Rendering of the table is broken with raw html visible in the comments column of the force parameter.
##### STEPS TO REPRODUCE

Visit the [Docker Network Module Page](http://docs.ansible.com/ansible/docker_network_module.html)

[2016-08-23 19:50] sivel commented on #4217
I see the point, and this is something that could potentially be changed, since we have code in place to control redirections right now.  My only concern is whether we want to be the ones trying to implement RFC 2616, which causes us to diverge from how this is handled in upstream python, which has made a conscious decision to diverge from RFC 2616.

[2016-08-23 20:26] #4513 closed, assigned to chouseknecht

[2016-08-23 22:11] eliaslevy opened #4516 "ec_asg does not support creation of ASGs that specify a placement group"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ec2_asg
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

ec_asg does not support creation of ASGs that specify a placement group, even though Boto does support it.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Creation of ASG with specified placement group.
##### ACTUAL RESULTS

[code]

[2016-08-24 02:31] whitequark opened #4519 "apt module fails to install build-deps for source-only package"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

apt
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Running/managing on Debian jessie x86_64
##### SUMMARY

The tarsnap project provides only source Debian packages in a repository (i.e. a deb-src repository only). These can be installed with `apt-get build-dep tarsnap` but not the equivalent apt module invocation.
##### STEPS TO REPRODUCE

[2016-08-24 06:02] kamsz opened #4520 "os_user does not honor OS env variables"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

os_user module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

Ubuntu 14.04, OpenStack Mitaka
##### SUMMARY

os_user module seems to not honor OpenStack environment variables. I've to specify the credentials inside the playbook in order for module to work.
##### STEPS TO REPRODUCE
- Source openrc
- Try to run os_user mod

[2016-08-24 06:03] kamsz commented on #4520
I've moved the https://github.com/ansible/ansible-modules-extras/issues/2480 to the modules-core repository. @thetrav has experienced the same issue in the linked issue

[2016-08-24 10:21] ShashankYadav opened #4521 "Force apt module to install a deb file if version is the same as installed version"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ansible-modules-core/packaging/os/apt.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Specified roles folder, inventory file and a log path

##### OS / ENVIRONMENT

N/A

##### SUMMARY

A package was installed on a remote ubuntu machine with apt module in ansible. If any change is made to the default configuration file provided by the deb p

[2016-08-24 11:00] resmo commented on #4521
this not a bug, works as designed.

And AFAIK, and unless rpm, a reinstall of a deb [would not fix deleted or changed configs](http://askubuntu.com/questions/66533/how-can-i-restore-configuration-files)

notabug

[2016-08-24 11:01] resmo commented on #4521
this not a bug, works as designed.

And AFAIK, and unless rpm, a reinstall of a deb [would not fix deleted or changed configs](http://askubuntu.com/questions/66533/how-can-i-restore-configuration-files)

[2016-08-24 11:09] #4521 closed, assigned to nobody

[2016-08-24 11:15] ShashankYadav commented on #4521
@resmo

Thanks for the quick reply. As I mentioned in my original comment, after looking at the code (492 of ansible-modules-core/packaging/os/apt.py), I realize that ansible intends to avoid re-installing the package if package name and versions match.

[code]

By doing the following change to the playbook, the file which was being provided by the deb package does get restored.

[code]

However m

[2016-08-24 12:17] resmo commented on #4521
The goal of ansible is to be idempotent, probably this functionality could be implemented by using the param `force`. But this would rather be a feature request than a bug.

However, if your aim is to "I know what I am doing, just reinstall this package because it was broken" probably the best option is to use command. I would say it is an edge case. package content doesn't get broken "usually".

[2016-08-24 12:25] ismaelfernandezscmspain opened #4522 "module ec2_ami_find doesn't works"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ec2_ami_find
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I have problems with ec2_ami_find module.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I want the last  ami version from  amzn-ami-hvm-
##### ACTUAL RESULTS

[code]

[2016-08-24 14:56] Shrews commented on #4520
Well that stinks. It's entirely probable, as @thetrav suggests, that we have some sort of parameter overlap happening. I don't have time myself to look into this, though, and will probably be several weeks until I can. Hoping a contributor can step up here.

needs_contributor

[2016-08-24 15:37] TaiSHiNet commented on #3689
I can confirm this is happening on 2.1.1.0 as well.
It's random (although seems to happen more often during "peak" hours), I guess it's due to AWS internal propagation/creation times.
Maybe we could assert describe-vpcs output before continuing to create tags.

[2016-08-24 16:55] samvarankashyap commented on #3663
please see  https://github.com/ansible/ansible-modules-core/issues/4393
Even i faced the same problem , however , i was able to resolve the problem with a dirty fix writing async_status custom module making it parse async output .
Apparently the output given by ansible os_server module when used in async is not a json output.

[2016-08-24 18:57] robinro commented on #149
@jctanner I don't think the issue is fixed when ansible takes _6 seconds_ while stand-alone git does the same job in _1 second_. Git also checks the remote for the current hash, so it transfers the same information. I would consider this fixed once the information going over the network is identical to what git pull does.

[2016-08-24 18:59] robinro commented on #149
Also as pointed out in https://github.com/ansible/ansible-modules-core/issues/149#issuecomment-198933315 the calls to ls-remote can lead to unnecessary module fails if the remote is not reachable.

[2016-08-24 22:36] dagwieers commented on #4463
wontfix

[2016-08-24 22:37] #4463 closed, assigned to nobody

[2016-08-25 01:47] willthames commented on #4384
This is not a yum module bug. I have reported this against ansible/ansible#17208

[2016-08-25 01:54] rohanpm opened #4529 "Yum module's state=present with URL/path of RPM won't update a package (behavior change)"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

yum
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

all default
##### OS / ENVIRONMENT

Host: RHEL 7.2 workstation
Target: RHEL 6.8 Server
##### SUMMARY

yum module with state=present, name=<url> will no longer install the RPM from the URL if a package of the same name is already installed.  Instead, it considers there are no changes to be mad

[2016-08-25 02:19] packeteer opened #4530 "vsphere_guest: should change backend to official API"
##### ISSUE TYPE
- Feature Request
##### COMPONENT NAME

vsphere_guest
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

  config file =
  configured module search path = Default w/o overrides
##### OS / ENVIRONMENT

OSX 10.10.5
Centos 7.2.1511
##### SUMMARY

vsphere_guest depends on pysphere, which has been unmaintained since 2013.

suggest we move the backend to official API from Vmware ie. htt