[2016-10-14 14:37] the2hill commented on #3183
Any updates on this? Will be attempting to utilize this module but require the returned ARN.

[2016-10-14 14:37] Mehonoshin commented on #4607
I'm too waiting for this feature.
Docker swarm mode was released multiple months ago, but currently there is no convenient way to deploy multicontainer app to cluster.
Docker compose is still not compatible with swarm mode, ansible too does not support it.

[2016-10-14 14:38] the2hill commented on #3183
Nevermind, looks like it my have merged. Thank you!

[2016-10-14 14:41] the2hill commented on #3183
I take that back, merged in a fork. Can we please get some attention here? (Sorry for spam, coffee kicking in)

[2016-10-14 15:30] bearrito opened #5270 "Azure Storage Document incorrect on Account Kind"
ISSUE TYPE

[code]

COMPONENT NAME

http://docs.ansible.com/ansible/azure_rm_storageaccount_module.html
https://github.com/ansible/ansible-modules-core/blob/stable-2.2/cloud/azure/azure_rm_storageaccount.py

SUMMARY

StorageBlob kind is inconsistent. Code indicates it as BlobStorage

[2016-10-14 16:35] dannyh13-33 commented on #663
+1

[2016-10-14 17:51] jean-christophe-manciot opened #5271 "[Enhancement] Add a "provider" parameter to snmp_facts module"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

snmp_facts
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

inventory   = ./hosts
gathering = explicit
roles_path = /home/actionmystique/Program-Files/Ubuntu/Ansible/git-Ansible/roles
private_role_vars = yes
log_path = /var/log/ansible.log
fact_caching = redis
fact_caching_timeout = 86400
retry_files_enabled = False
##### OS / ENVIRONMENT
- h

[2016-10-14 18:11] #5271 closed, assigned to nobody

[2016-10-14 18:27] gerhard-tinned commented on #4780
I am waiting too !!!

[2016-10-14 18:27] gerhard-tinned commented on #4542
I thought Ansible is an active project ???

[2016-10-14 18:29] indispeq commented on #2571
+1 for this. The case where you wouldn't add it to fstab would be in the case of an encrypted partition that you want to decrypt and mount manually. In this case a forced mount of the partition in fstab without decrypting it could corrupt the data on it.

[2016-10-14 19:20] dmsimard opened #5272 "RFE/Feature Idea: os_object - be able to specify the amount of threads used in operations"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

openstack/os_object
##### ANSIBLE VERSION

Not relevant
##### CONFIGURATION

Not relevant
##### OS / ENVIRONMENT

Not relevant
##### SUMMARY

swiftclient has built-in parameters in order to split tasks into different threads in order to speed up operations, example:

[code]

the os_object module does not expose these and it would be an interest

[2016-10-15 02:42] harneksidhu commented on #4219
@pmarques

Should this edge case be supported by do_sshkeys?
[code]

I expect the ssh key name to be renamed to key2 but it stays as key1.

[2016-10-15 12:25] mrtg commented on #5091
Hi,

the error message does not say that it cannot find the temporary file. It says that it cannot find the 'visudo' command. Do you call the module with `become: true`?

[2016-10-15 17:23] jan-warchol commented on #2650
Hi,
I'm not sure what information is needed. Is the example not clear?

[2016-10-15 17:31] harneksidhu commented on #4219
@pmarques Can do_sshkeys use the following keys for the api_token:

`api_token` with an alias of `API_TOKEN`

Can it also accept the following environment variables:
`DO_API_TOKEN` or `DO_API_KEY`

It would be nice to have this so that it can be consistent with the other modules

[2016-10-15 17:46] bcoca commented on #2650
This is not actually a bug, most modules do NOT return rc, mostly command/shell/raw/script do, other modules might or might not shell out to the system and have an rc to return.

failed/changed ARE standard things modules MUST return, rc is not.

Changing this into a feature request instead

[2016-10-15 20:12] harneksidhu commented on #4219
@pmarques
Can I complete do_sshkeys.py on my branch? I am ready to submit a PR for do_droplet.py but I need do_sshkeys.py completed first in order for it to work since ssh key id is a requirement for the droplet module.

[2016-10-15 20:52] bearrito commented on #1191
This is over a year old with no activity or response. Is this a valid mechanism for getting and receiving feedback on these requests?

Addition of a data disk is pretty fundamental activity especially for databases.

[2016-10-15 21:09] pmarques commented on #4219
@harneksidhu I'm updating it submit a PR, implementing the alias and add the rename. You can use the Key fingerprint as key ID

[2016-10-15 22:04] jan-warchol commented on #2650
Ok, I understand.
For the record: rather than using `task_result.rc == 1` in a condition, probably the correct way of getting what I needed is `task_result|failed`.

[2016-10-15 23:05] bearrito opened #5274 "Default deployment mode is inconistent with Azure ARM tools"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

https://docs.ansible.com/ansible/azure_rm_deployment_module.html
##### SUMMARY

The default mode for deployment should be incremental. This is the default mode of the native azure tools.

https://azure.microsoft.com/en-us/documentation/articles/resource-group-template-deploy/#incremental-and-complete-deployments

It seems dangerous to choose a d

[2016-10-15 23:27] pmarques commented on #4219
@harneksidhu PR submitted, ansible/ansible-modules-core#5275 @andrewsomething if you could give some feedback on this one I appreciate :)

[2016-10-15 23:38] harneksidhu commented on #4219
Thanks!! :

[2016-10-16 09:05] robinro commented on #5108
@ansible There is a PR open to fix this, please merge and also consider to cherry-pick back to 2.2-stable.

[2016-10-16 10:27] ghost commented on #5091
You're right… the module cannot find visudo. Because it's not on the search path when calling with `become:yes`(as I did).

Maybe this could be added to the documentation as a Gotcha.

[2016-10-16 12:57] resmo commented on #5108
resolved_by_pr #5135

[2016-10-16 13:17] juliedavila commented on #2821
Still waiting on https://github.com/ansible/ansible-modules-core/pull/3385 to be merged, but that should fix the issue

[2016-10-16 15:34] osiegmar opened #5277 "Support for Logon to Amazon EC2 Container Registry"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

docker_login
##### ANSIBLE VERSION

[code]
##### SUMMARY

As far as I know, the only way to logon to (and pull docker images from / push to) [Amazon ECR](https://aws.amazon.com/de/ecr/) is via the shell module. It would be nice if the docker_login module supports logon to ECR so that further ansible docker tasks can directly work with ECR.

Th

[2016-10-16 19:20] harneksidhu commented on #4219
#5278 Has been submitted. Will need #5275 to go in first though.

[2016-10-16 19:47] dtolj commented on #3648
Is there a possible workaround for this in order to insert before first match or replace first match.

[2016-10-16 21:21] jduncan-rva commented on #3762
wied03- almost certain docker-py was added to the base Atomic rpmtree. will confirm in the AM but I think this is OK to close.

[2016-10-16 23:25] chouseknecht commented on #5254
needs_contributor

[2016-10-17 00:40] evitorbarros commented on #4477
I had the same problem, but after removing the option "vpc_security_groups", it simply started to work :P

[2016-10-17 00:45] EvanK commented on #3256
@ansibot This should be resolved_by_pr #4487

[2016-10-17 03:20] srkiNZ84 commented on #297
For what it's worth, we've been running the following workaround task after calling "postgresql_user" with the "no_password_changes: true" set, to make sure the password actually matches what we need it to:

[code]

[2016-10-17 12:04] ypid commented on #5237
Considering the other [open issues against `apt_key`](https://github.com/ansible/ansible-modules-core/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20apt_key) it seems the current maintainer is not maintaining the module actively. What is the fallback for such a case? `apt_key` is in ansible-modules-core and this is a serious vulnerability.

[2016-10-17 12:08] jvantuyl commented on #5237
I'm maintaining plenty actively.  I just don't see any code being submitted, so there's nothing to be done.  Someone submits something that works, I'll be glad to vet and merge it.  Maintainer != free coding whenever someone feels like it.  ¯\_(ツ)_/¯

[2016-10-17 12:09] jvantuyl commented on #4519
needs_contributor

[2016-10-17 12:09] jvantuyl commented on #2622
needs_contributor

[2016-10-17 12:10] jvantuyl commented on #5237
needs_contributor

[2016-10-17 12:10] jvantuyl commented on #5119
needs_contributor

[2016-10-17 12:21] Mykolaichenko commented on #4269
Its new issue, playbook still working on old version of ansible
As workaround i've replaced get_url by wget

[2016-10-17 12:26] ypid commented on #5237
I get that. Thanks for your response. Does Ansible have any security policy for this? I had hoped so as this is a core module.

@jvantuyl Do the security implications of this bug appear to you?

[2016-10-17 12:29] dentarg commented on #902
about the workaround given in https://github.com/ansible/ansible-modules-core/issues/902#issuecomment-164043327, with ansible 2.1.2.0 it should be:

remove files from dir

[code]

[2016-10-17 12:29] ypid commented on #5237
You saw my example code [above](https://github.com/ansible/ansible-modules-core/issues/5237#issue-182532160)? ~~For properly solving this, the gnupg package in Python might be better although that will add another dependency?~~ Probably better to do this with run_command to avoid that …

[2016-10-17 13:19] jctanner commented on #5254
@guenhter very sorry for the bot spam. I will try to fix that logic today.

[2016-10-17 13:21] michelleperz opened #5284 "azure_rm_storageaccount throws SkuName' is not defined"
Moving #17949 to the correct location with my own information.
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

azure_rm_storageaccount
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

RHEL 7
##### SUMMARY

Using a similar example to the one found in the Azure guide, I receive a module failure that the SkuName is not defined

[code]

[code]
##### Additional Info

[code]

This happens rega

[2016-10-17 13:26] jctanner opened #5285 "please ignore! test issue."
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_network
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

no changes in environment
##### OS / ENVIRONMENT

Debian 8.6
Linux machine0 3.16.0-4-amd64 #1 SMP Debian 3.16.36-1+deb8u1 (2016-09-03) x86_64 GNU/Linux
##### SUMMARY

Docker network can't be created with driver `overlay`.
##### STEPS TO REPRODUCE

1) Setup docker in swarm mode (e.g

[2016-10-17 14:51] henderbj commented on #4269
I did solve on my playbook, as indicated on Oct 3rd.

[2016-10-17 15:15] gtirloni opened #5286 "docker_container - missing cap_drop"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

docker_container module
##### ANSIBLE VERSION

ansible 2.1.2.0
##### SUMMARY

docker_container module does not support removing capabilities (i.e. docker --cap-drop option).

cap_drop and cap_add were added to the docker module in ansible 2.0 but that module is marked as deprecated now.

[2016-10-17 16:14] jean-christophe-manciot commented on #5181
This issue has been solved & merged into ansible-modules-core but the ref to the submodules has not been updated yet.

[2016-10-17 16:23] jean-christophe-manciot opened #5287 "ios_config changes some items which do not need to be changed"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ios_config
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

inventory   = ./hosts
gathering = explicit
roles_path = /home/actionmystique/Program-Files/Ubuntu/Ansible/git-Ansible/roles
private_role_vars = yes
log_path = /var/log/ansible.log
fact_caching = redis
fact_caching_timeout = 86400
retry_files_enabled = False
##### OS / ENVIRONMENT
- hos

[2016-10-17 16:42] yiwork commented on #4815
I'm experiencing the same issue (and it is mostly related to, i believe, attaching a device to the container)

Test playbook:

[code]

Here is the output:

[code]

The docker command obviously on the 2nd task has to be different to get Ansible to replace the existing running container, however it is the same command that is issued the redis-image itself uses as the run command.

I'm currently runn

[2016-10-17 18:35] ghost commented on #4540
any update on this issue?

[2016-10-17 19:35] bearrito commented on #5284
Is the local connection pointed at an the system python?

Are you running ansible in a virtualenv ?

[2016-10-17 19:49] kellenanker opened #5288 "iam update user fails to find existing user"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

iam core module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Running on OS X Sierra (10.12)
##### SUMMARY

I was using the `iam` core module, and ran into an interesting bug when attempting to update an existing IAM user.

I first created an IAM user (whether this was done through Ansible or through AWS, the result

[2016-10-17 23:10] jgbillings opened #5289 "declare a "port" parameter for os_security_group_rule"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

os_security_group_rule

I end up with a lot of "os_security_group_rule:" statements that have:

port_range_max: "{{ item }}"
port_range_min: "{{ item }}"

For rules where only a single port is needed.   Is there some reason not to define a "port:" parameter that if that has been passed set port_range_min and port_range_max to that value?

That

[2016-10-18 01:44] jgbillings commented on #5289
ready_for_review

[2016-10-18 06:59] rmpratt1 commented on #4894
I just corrected this issue on my side in the file mysql_user.py

Line 355:

[code]

Line 216:

[code]

[2016-10-18 07:19] jvantuyl commented on #5237
@ypid I see your example code.  That said, it's not a pull request.  Unless you have something usable, I've got about zero time to develop something, let alone test it.  I don't have the resources to investigate or test this (so I'm loathe to make any deep changes).  If it was in the form of a pull request I'd only have to test.  That was what I meant by submitting code.

I'm not part of the Ansib

[2016-10-18 07:21] jvantuyl commented on #4519
needs_contributor

[2016-10-18 07:48] nichivo commented on #3500
I guess the question is why does \b now need to be escaped as \\b but not other character classes like \w and \d? Why doesn't YAML processing strip escapes for \w and \d as well?

The docs http://docs.ansible.com/ansible/porting_guide_2.0.html seem to be for a different case in Ansible v1 where 4 backslashes were needed and only 2 backslashes are needed in Ansible v2. But for lineinfile, I only ne

[2016-10-18 08:58] wangjild opened #5292 "git module always fails on update if local has modification"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

git
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

debian:8.0 jessie
##### SUMMARY

If local git repository has modification, an update attempt of always fails with Local modifications exist, even if force=yes was given.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-10-18 10:22] dminca commented on #4996
Don't have time to test this anymore, also switched os.

[2016-10-18 11:05] yrobla opened #5294 "File module shall support setting user's login group instead of just a group name"
ISSUE TYPE

[code]

COMPONENT NAME

file module

ANSIBLE VERSION

latest

SUMMARY

As explained in chown documentation:
If a colon  but  no  group  name follows the user name, that user is made the owner of the files and the group of the files is changed to that user's login group.

It would be nice to have this feature supported by ansible. Right now, the only way i found to set group ownership a

[2016-10-18 11:09] resmo commented on #3831
bot_broken

[2016-10-18 11:22] davojan opened #5295 "docker_service doesn't pass environment to docker-compose"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

docker_service
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

`docker_service` task doesn't pass environment variables defined using `environment` option at task- or playbook-level to the `docker-compose.yml` when using `project_src`.
##### STEPS TO REPRODUCE

Playbook:

[code]

`docker-compose.yml`

[2016-10-18 13:43] jctanner commented on #3831
@resmo thanks for the help. I'll try to get this fixed.

[2016-10-18 14:09] parberge commented on #5188
@rcarrillocruz I did some more testing. It seems to be related to permissions.
If I authenticate as admin instead of the project user the task is successful.
However, the router will be in wrong project (admin), and that's not what I want.
I see that the parameter `project` was added to ansible 2.2, but I can't use it since I use 2.1.

So, is there any way to solve it in 2.1? If not is it possible

[2016-10-18 14:53] aderixon opened #5296 "Service restart on Solaris is asynchronous"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

service (system/service.py)
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

From CentOS 7, managing Solaris 11.3 client
##### SUMMARY

Service restart on Solaris with SMF runs asynchronously, potentially causing subsequent tasks to fail if the service does not restart in time.
Analysis of code suggests the '-s' flag

[2016-10-18 15:12] ghost commented on #4814
I disagree that this is a duplicate. We have plenty of space available on the machine in question. Symptoms are the same, but doesn't appear to be the same root cause.

[2016-10-18 15:16] ghost opened #5297 "Bug Report: Fetch fails if ansible_ssh_host is localhost"
ISSUE TYPE

Bug Report

COMPONENT NAME

fetch

ANSIBLE VERSION

2.1.0.0

CONFIGURATION

These are the most relevant config items though I don't know that there is a correlation:
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

OS / ENVIRONMENT

N/A

SUMMARY

When ansible_ssh_host is set to localhost, fetch says it succeeds, but it never gets the file. It's important that localhost works the

[2016-10-18 15:16] ghost commented on #5297
I previously opened an issue for this (#4814) but believe it to be closed in error. The symptoms are the same as another issue in which the user didn't have enough space on the target filesystem, but that is not the root cause in this case.

[2016-10-18 15:37] ghost opened #5298 "ansible_host and ansible_ssh_host have different behaviors"
ISSUE TYPE

Bug Report

COMPONENT NAME

Core

ANSIBLE VERSION

2.1.0.0

CONFIGURATION

N/A

OS / ENVIRONMENT

N/A

SUMMARY

ansible_host and ansible_ssh_host are resolved differently when running a local action. I was under the impression that their behavior was supposed to be the same.

STEPS TO REPRODUCE

Use the below playbook with a host set to something other than local host

[code]

EXPECTED

[2016-10-18 15:38] jean-christophe-manciot opened #5299 "file does not see an existent directory and does not create an absent folder"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

file
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

inventory   = ./hosts
gathering = explicit
roles_path = /home/actionmystique/Program-Files/Ubuntu/Ansible/git-Ansible/roles
private_role_vars = yes
log_path = /var/log/ansible.log
fact_caching = redis
fact_caching_timeout = 86400
retry_files_enabled = False
##### OS / ENVIRONMENT
- host: Ubu

[2016-10-18 15:54] EvanK commented on #4917
I stand corrected...in my testing, [this try-except](https://github.com/ansible/ansible-modules-core/blob/f9f8af9fd660ec70679bcc550a5b2daea18fdaaa/system/cron.py#L243-L249) is working as expected (aborts reading when nonexistent file raises an `IOError`), and subsequently creates the file on write.

@linsomniac To answer your question: the **cron** module does not take owner/group/mode values, and

[2016-10-18 16:16] guenhter opened #5300 "shell command not escaping double quotes correctly"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

shell-module
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Debian 8.6

Linux machine0 3.16.0-4-amd64 #1 SMP Debian 3.16.36-1+deb8u1 (2016-09-03) x86_64 GNU/Linux
##### SUMMARY

For some formatting reasons, double curly braces are needed in a shell command. This worked in the past. But how, a hashtag is somehow produces by that workaround.

[2016-10-18 17:24] pixelrebel commented on #2645
Bump

[2016-10-18 17:50] jschwanz commented on #5172
I'm being impacted by this one as well.

[2016-10-18 18:06] dtardoin opened #5301 "docker_image_facts does not search for tag"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

docker_image_facts
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 14.04.5/Debian Jessie

Docker Version:

[code]
##### SUMMARY

docker_image_facts retuirns all named images regardless of tag, even when specifying a tag in the name attribute of the module.
##### STEPS TO REPRODUCE

Specify tag in docker-image_fa

[2016-10-18 18:36] omgjlk commented on #5289
Adding more input options does increase the complexity of the module, and the documentation. Given that it's trivially easy to specify the same port for the minimum and the maximum, I'm not inclined to want to add another way to input those values.

[2016-10-18 18:42] pixelrebel commented on #2645
PR https://github.com/ansible/ansible-modules-core/pull/2654 Merged.

Thanks!!!

[2016-10-18 18:42] #2645 closed, assigned to nobody

[2016-10-18 20:00] bcoca commented on #5298
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Both variables 'behave the same' when YOU set them and Ansible can use them to resolve the host.
The resulting value of `ansible_host` will be set to the host

[2016-10-18 20:00] #5298 closed, assigned to nobody

[2016-10-18 22:04] dminca opened #5303 "Unclear docker_container exposed_ports documentation"
##### ISSUE TYPE

- Documentation Report
##### COMPONENT NAME

- [cloud/docker/docker_container.py exposed_ports](https://github.com/ansible/ansible-modules-core/blob/devel/cloud/docker/docker_container.py#L125-L129)
##### SUMMARY

Unclear documentation: _List of additional container ports to expose for port mappings or links_.
**port mappings** could also have the meaning of _published ports_ in

[2016-10-18 23:26] jgbillings commented on #5289
What if say only minimum was set, could that be interpreted to mean that only a single port required and set that same port for both minimum and maximum?

[2016-10-18 23:43] omgjlk commented on #5289
I'm not really inclined to do that either. That's non-obvious behavior. What's the reticence to listing both the min/max ? This is what maps to the API itself.

[2016-10-19 00:08] supertom commented on #5298
bot_broken

The bot pinged me here, but I'm not involved with this issue.

[2016-10-19 01:14] jgbillings commented on #5289
Just seems redundant, for example in one config I have:

[code]

Why do in eight lines what you can do with four?

[2016-10-19 04:33] salman1485 opened #5308 "ios_config - binascii.Error: Incorrect padding"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ios_config
##### ANSIBLE VERSION

[code]

Note - I know that I'm using month old version of Ansible but I can confirm that I have had this issue a month back itself. So, unless this issue was fixed in last one month, I guess updating might not help.
##### CONFIGURATION

Mention any settings you have changed/added/removed in ansible.cfg
(or using

[2016-10-19 08:27] LuAmRaTeu opened #5309 "vsphere_guest: index out of range exception while reconfiguring disk size"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible_module_vsphere_guest
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Centos7
##### SUMMARY

got index out of range exception while configuring vm with vsphere_guest
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

normal playthrough with reconfigured disk-sizes
##### ACTUAL RESULTS

creating vm from tem

[2016-10-19 09:02] ypid commented on #5237
Thanks for your response. Lets hope that Ansible comes up a proper way to handle maintenance and not just try to make the original author the default maintainer as you said.

Thanks for writing the module!

[2016-10-19 10:04] Jalle19 commented on #5232
Any update on this?

[2016-10-19 10:53] pkkm opened #5310 "unarchive crashes with MemoryError when used on a huge archive with remote_src: false or copy: true"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

unarchive
##### ANSIBLE VERSION

Installed today using `sudo pip install -U git+https://github.com/ansible/ansible@devel`.

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Local OS: Ubuntu 16.04.1 LTS.
Remote OS: CentOS 7.
##### SUMMARY

The `unarchive` module crashes with a `MemoryError` when trying to extract a 140 GB tar archive with source

[2016-10-19 11:39] Senilein opened #5314 "make hostname work on Virtuozzo / OpenVZ"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

hostname
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

irrelevant
##### OS / ENVIRONMENT

[code]
##### SUMMARY

Module hostname should work also on Virtuozzo distribution, which is a systemd based CentOS-Fork
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

hostname should be set according to given variable
##### ACTUAL RESULTS

[2016-10-19 11:41] #5314 closed, assigned to nobody

[2016-10-19 11:49] Senilein opened #5315 "make hostname work on Virtuozzo / OpenVZ"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

hostname
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

irrelevant
##### OS / ENVIRONMENT

[code]
##### SUMMARY

Module hostname should work also on Virtuozzo distribution, which is a systemd based CentOS-Fork
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

hostname should be set according to given variable
##### ACTUAL RESULTS

[2016-10-19 12:45] paulquack opened #5316 "paramiko known_hosts IOError when executed from Tower"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

IOS_COMMAND
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Running under ansible-tower-3.0.2-1.el7.centos.x86_64
##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core)
##### SUMMARY

I have written a very basic playbook as per below.
When executing the playbook from within Tower an IOError exception is thrown.
When executing the playbo

[2016-10-19 12:49] paulquack commented on #5316
Ping @privateip

[2016-10-19 12:57] hnakamur commented on #5315
@ansibot Could you ping to the new maintainer?
https://groups.google.com/d/msg/ansible-devel/G2QXbNjiWyA/g3cuvf2WAgAJ
Thanks.

[2016-10-19 12:58] Jalle19 commented on #5232
I just happened to have a machine available which still had Ansible 2.1.0.0 on it, and the cron module behaves as expected there. As soon as I ran `apt-get install ansible` and got 2.1.2.0 I was able to reproduce this.

[2016-10-19 13:08] Jalle19 commented on #5232
Found the problem (#4270). It only breaks the use of `user` if the specified user is the same as the user who runs Ansible. Here's a way to reproduce it and highlight the problem:

[code]

After running this, you get this:

[code]

Expected output:

[code]

[2016-10-19 13:20] dagwieers commented on #5310
It appears the problem is not in the unarchive module, but rather in the unarchive action plugin that uses the standard framework to decrypt files (if necessary). I guess the routine to do that was never intended for huge files (as it appears to read the whole file in memory).

Since I am not involved in this piece of Ansible, it's probably wiser to open this issue against the ansible/ansible proj

[2016-10-19 13:25] dagwieers commented on #5310
The problematic commit is https://github.com/ansible/ansible/commit/bced8715cd89640b592eb4af8a21175f0de640ba from PR ansible/ansible#16957

@bcoca Do you know why vault.is_encrypted_file() is reading the whole file into memory ? And not simply a part of it (default is to read the whole content).

[2016-10-19 13:34] codegastudio commented on #3523
Same problem with raspberry pi on jessie
update_cache option looks to be the problem

[2016-10-19 13:39] pkkm commented on #5310
I'm not using Ansible Vault.

[2016-10-19 13:47] resmo commented on #5138
@RichVel can you confirm #4777 fixes the issue?

needs_info

[2016-10-19 13:51] jean-christophe-manciot opened #5317 "Cannot pull all facts with nxos_facts"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

nxos_facts
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

inventory   = ./hosts
gathering = explicit
roles_path = /home/actionmystique/Program-Files/Ubuntu/Ansible/git-Ansible/roles
private_role_vars = yes
log_path = /var/log/ansible.log
fact_caching = redis
fact_caching_timeout = 86400
retry_files_enabled = False
##### OS / ENVIRONMENT
- **L

[2016-10-19 13:58] resmo commented on #5138
commit fixing #4777 has been cherry-picked to 2.1 for 2.1.3

[2016-10-19 14:02] mdsummers commented on #4229
Seeing the same issue on Ansible 2.1 from EPEL on rhel7

[2016-10-19 14:08] ajacoutot opened #5318 "ios_config: multi-line banner"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ios_config
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None.
##### OS / ENVIRONMENT

Running on Fedora, managing Cisco 2960 switches.
##### SUMMARY

Trying to configure a 'banner motd' on the device does not work with multi-line.
##### STEPS TO REPRODUCE

Using this file as content source :

[code]

And this task :

[code]

Ansible fails w

[2016-10-19 14:29] mazzystr commented on #4204
The following works for us

[code]

[2016-10-19 14:32] jedelman8 commented on #5317
Can you confirm you have NX-API turn on and listening on port 8080?  If you can, please show the relevant nxapi config?  If that's correct, try doing a sub-set with the filter - it could be timing out to gather all relevant facts.

[2016-10-19 14:40] jean-christophe-manciot commented on #5317
On both spines:

[code]

With any subset:

[code]

[2016-10-19 15:21] fiunchinho commented on #2576
I just hit the same problem with ansible 2.1.0.0

[2016-10-19 15:51] adellam commented on #5232
It's working to me if I specify 'cron_file', so that /etc/cron.d is used. A workaround, but I cannot apply it to all my playbooks.

[2016-10-19 16:15] Jalle19 commented on #5232
Yeah, become_user is another workaround, but none of then are ideal.

[2016-10-19 16:33] #5303 closed, assigned to nobody

[2016-10-19 16:44] RichVel commented on #5138
Having difficulty installing the ansible-modules-core devel branch via pip, can someone let me know the URL to use?

[code]

This is on OS X 10.11 with pip 8.1.2 and setuptools 28.2.0.

If someone has devel branch installed, the repro is to run bug.yml in my first comment against a Linux server.

[2016-10-19 17:29] ogcportal commented on #1741
Is there any movement on this?  I would prefer not to have to install aptitude but instead use the default installed apt-get. Thanks.

[2016-10-19 17:32] kstegemoller commented on #1741
Is there any movement on this? I would prefer not to have to install aptitude but instead use the default installed apt-get. Thanks for the great tool.

[2016-10-19 18:02] #4318 closed, assigned to nobody

[2016-10-19 19:31] salman1485 commented on #5308
Just to let you guys know, I added below two lines as well in ansible.cfg (test environment) but still the known_hosts file does get updated when the playbook is executed.

[paramiko_connection]
record_host_keys=False

I see this issue in production only when playbook is executed against multiple devices so I cannot really apply above variable in prod ansible.cfg right away. But, I'll be more than

[2016-10-19 20:42] michelleperz commented on #5284
@bearrito I'm running this from Tower which does have Ansible in a virtualenv.  However, I can replicate outside of Tower as well.

[2016-10-19 21:55] byoungb commented on #2881
I think you need volume_type:ephemeral

[2016-10-19 22:06] byoungb commented on #2881
Nevermind that doesn't work Did anyone ever figure this out?
I have

[code]

I have tried a bunch of variations... but it never attaches

[2016-10-19 22:24] byoungb commented on #2881
figured it out!
this worked for me

[code]

so I think the real fix was using  /dev/xvdb instead of  /dev/sdb

[2016-10-19 23:27] BetaGrumm opened #5326 "ec2_metric_alarm does not recognize provided credentials"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ec2_metric_alarm
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

OSX/AWS
##### SUMMARY

Running the ec2_metric_alarm in a playbook results in the following error:

[code]

It fails to recognize boto profiles, or exported environment vars.
With some googling, I found other issues similar to this that occurred in other modules and one of the

[2016-10-20 03:42] jimmymccrory opened #5328 "Unable to change MPM module with apache2_module"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

apache2_module module
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ubuntu 14.04
##### SUMMARY

The initial check of currently enabled modules performed by apache2ctl can prevent modules from being enabled or disabled.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Modules being successfully enabled and disabled.
##### ACTUAL

[2016-10-20 03:56] jimmymccrory commented on #5328
bot_broken

[2016-10-20 09:16] tntC4stl3 commented on #5301
I tested on my laptop but didn't reproduce your issue.
And since the latest stable version of 2.1 is 2.1.2.0, probably you can upgrade your application and try again.

My playbook:

[code]

My execute result:

[code]

My ansible version:

[code]

[2016-10-20 12:16] TheFriendlyCoder commented on #2193
It would be nice if this same feature request could be extended to include support for creating local groups in the same fashion as well. We recently hit a problem where an attempt was made to create a new local group using the 'group' module, only to find out the group in question already existed in ldap. The 'group' task got skipped because the group already existed, and then subsequent tasks wh

[2016-10-20 12:24] TheFriendlyCoder commented on #2193
NOTE: I suspect, at it's core, the problem here lies with the system tools ansible is using under the hood. Based on my ad-hoc tests on CentOS 7.2, using 'usermod' to add a local user to an ldap group complete's successfully (ie: a 0 return code) however the operation doesn't actually add the user to the group. Further, I suspect the mechanism used by the 'group' module in Ansible is first checkin

[2016-10-20 12:35] TheFriendlyCoder commented on #2193
Also, another 2cents: I can see how skipping the 'group' task could make sense if the group exists on the system, whether the group is local or not, however I'd say that the 'user' module should probably fail if / when it attempts to add a user to a group - local or otherwise - and the user doesn't actually get added to the group. At least then problems like this could be detected as the plays are

[2016-10-20 12:56] gundalow commented on #5318
@ajacoutot Thank you for the bug report

/cc @privateip @Qalthos Is this something that needs fixing for 2.2?

[2016-10-20 13:49] Pkuutn commented on #3523
I have the same issue with Debian Stretch
Ansible 2.1.1

[2016-10-20 14:10] alekc opened #5333 "Weird git behavior on branch different from master."
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Git module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

Debian Jessie
##### SUMMARY

Weird behavior on git update

I use folllowing play to update our sw:

[code]

And on one branch variation ansible constantly pulling back my changes.

So just to explain better:

Let's reset our current branch to it's remote counterp

[2016-10-20 14:20] byoungb commented on #2881
Wow I feel dumb... this probably was working from the beginning I just forgot that AWS does not list the ephemeral volumes on the console management page!

[2016-10-20 14:45] bdowling commented on #5318
Yet another quirk with IOS configs that is not idempotent.  The banner command accepts almost any delim character, % and # are commonly used as long as it is not contained within the text, but when it saves the config it changes it to a Control-C.  When doing a show running it prints it as two characters ^C on the banner line and at then end of the potentially multi-line banner.

Note also that th

[2016-10-20 15:08] alekc commented on #5333
Looks like I've been able to solve it applying git rebase and reforcing discarding of some commits. Still imho we should guard against this issues

[2016-10-20 17:02] ericamador commented on #1409
I am also seeing @likan999's observation (thanks BTW!) that specifying `state=latest`, like in the example below _does not_ work, while stating `state=present` does:

[code]

[2016-10-20 17:08] ericamador commented on #1409
https://github.com/ansible/ansible-modules-core/issues/4119 ended up being the cause of this, in my case.

[2016-10-20 17:27] kkvilekval opened #5335 "docker_container reports "Error: docker-py version is 1.10.4. Minimum version required is 1.7.0.""
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Changing from deprecated  docker module to docker_container.  Get a bad check on docker-py
##### STEPS TO REPRODUCE

Install a docker-py > 1.7 and use docker_container
##### EXPECTED RESULTS

Works fine with docker module.. but it is depr

[2016-10-20 17:32] abadger commented on #4780
As a workaround you should be able to use lineinfile instead of authorized_keys... The present authorized_keys code treats the file something like a database of records and so it doesn't preserve order.  I'll take a look to see if there's an easy way to enhance it or not.

[2016-10-20 18:39] #5166 closed, assigned to jimi-c, bcoca

[2016-10-20 18:51] dtardoin commented on #5301
I upgraded to 2.1.2.0 and this issue persists in the instance that I'm searching for an alpine named image (I've tried some others with the same effect), but not nginx for whatever reason.  Also, this error started showing up:

[code]

docker images:

[code]

Ansible:

[code]

[2016-10-20 19:13] kkirsche opened #5336 "junos_netconf Module Failing With Local Connection: Paramiko required, yet is installed"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

junos_netconf module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

From:

[code]

Managing:

[code]
##### SUMMARY

When running junos_netconf module with `connection: local`, the output is:

[code]

yet Paramiko is installed:

[code]

I would expect that the local connection wouldn't state this either.
##### ST

[2016-10-20 20:02] tumbl3w33d opened #5337 "docker_container does not allow to disable container logging via log_driver"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

It is not possible to disable container logging, although 'none' is a valid option for docker run.

##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Container with disabled logging started.
##### ACTUAL RESULTS

[code]

[2016-10-20 20:39] jhawkesworth commented on #5229
bot_broken

As you have identified, I think write-host shouldn't be used as, from memory it defaults to the 'console' i.e. interactive login session window, which you won't have when running under winrm.  Write-out will put results onto the pipeline (and the end of the pipeline is STDOUT effectively).

[2016-10-20 20:42] salman1485 commented on #5308
Just checking if anyone could see this. We are using Ansible to update 100s of IOS devices at the same time and this random failure means human intervention as we have to pickup failed devices from *.retry file and then re-run playbooks. It really is upsetting.

Any help would be appreciated.

[2016-10-20 21:26] basictheprogram opened #5340 "WebException Unable to unzip package using built-in compression."
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

script module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Standard configuration for git pull of the devel branch
##### OS / ENVIRONMENT

Management host 10.12
Managed host Windows 10
##### SUMMARY

Attempting to use a script to install chocolatey and getting and error about unable to uncompress the file.
##### STEPS TO REPRODUCE

[code]

[2016-10-20 21:44] basictheprogram commented on #5340
Uploading the InstallChocolatey.ps1 scrip to the Windows10 computer and executing the script with CLI powershell works as expected.

Doing what the error message says to do

[code]

The InstallChocolatey.ps1 script works when executed via the Ansible script module.

So does the Ansible script module mess with the env? For security reasons?

[2016-10-20 22:01] alikins commented on #4780
In the current pr (#5339), it does that afaict.

However, it ignores comments in the 'key' argument passed to the module. Since the existing module can get a newline separated string with multiple key lines in it, the module just ignores comments lines in the new key info. That seems reasonable, but I am not sure what expectations are.

ie,
existing

[code]

and new key

[code]

I have no idea wha

[2016-10-20 22:26] kustodian commented on #2914
`include_role` feels like an overkill for something like this, since who would want to write a role for 2 tasks :D

This probably isn't that important. I just always found needing the `stat` task too much, for something as simple as "do it if the file exists, do nothing if it doesn't exist". I can't think of any clean and simple solution to this besides adding an additional argument (that I would

[2016-10-20 22:41] paulquack commented on #5316
Fix/work around is to modify /etc/tower/settings.py or just disable PRoot
AWX_PROOT_SHOW_PATHS = ['/var/lib/awx/.ssh']

Don't know if this means paramiko is using an absolute path, i.e. $HOME/.ssh/known_hosts rather than a relative path, whether this folder/file was overlooked by tower, or whether this is the correct given the way tower is exposing other dir's using PRoot...

[2016-10-20 23:24] MartinNowak commented on #5232
The regression is present in 2.1.2.0 but not in 2.1.1.0, so a temporary workaround is to downgrade.

[2016-10-21 00:26] tntC4stl3 commented on #5301
For the `Registry returned more than one result` issue, I encountered this before with `docker_container` module...
They fixed it in Ansible main repo but not sure when it will be put into 2.1.x.

Here is the pull request:
https://github.com/ansible/ansible/pull/16680

[2016-10-21 01:18] tntC4stl3 commented on #5335
This issue has been fixed in https://github.com/ansible/ansible/pull/17496
The temporary workaround is downgrade the `docker-py` to 1.9.0.

[2016-10-21 02:43] salman1485 commented on #5086
I will update this during the weekend. I have been running a lot of tests to understand why some of the things are not acting idempotent even though they are supposed to. I need to be convinced that I'm not doing anything wrong before I update this thread.

[2016-10-21 02:58] lukeorland commented on #2951
+1
- Ubuntu 16.10 remote host
- macOS ansible master

[code]

[code]

I attempted the workaround suggested [above](https://github.com/ansible/ansible-modules-core/issues/2951#issuecomment-218327951), but the directory doesn't exist

[code]

The @dohoangkhiem fix was not successful:

[code]

[2016-10-21 03:25] discretepackets commented on #633
+1

Thanks for the workaround @rhunwicks

[2016-10-21 07:21] willthames commented on #633
needs_contributor

[2016-10-21 07:36] willthames commented on #3940
resolved_by_pr #3951

[2016-10-21 07:40] willthames commented on #3180
@naslanidis I am one of the (inactive) current maintainers of the rds module, and I'd be happy to get a PR in that implements boto3 while maintaining boto2.rds2 compatiblity, if possible.

[2016-10-21 07:40] willthames commented on #3180
needs_contributor

[2016-10-21 07:41] willthames commented on #2368
needs_contributor

[2016-10-21 07:42] willthames opened #5343 "RDS: add boto3 capabilities"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

rds
##### ANSIBLE VERSION

2.3
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Add boto3 capabilities to rds so that lots and lots of other issues can be fixed. I'm going to update all those issues to mention this so that we can keep track of them (alternative is an rds_boto3 tag)

[2016-10-21 07:44] willthames commented on #4808
easyfix

[2016-10-21 07:44] willthames commented on #4808
Doesn't need boto3 so shouldn't be too hard to implement

[2016-10-21 07:44] willthames commented on #3605
needs_contributor

[2016-10-21 07:45] willthames commented on #3605
easyfix

[2016-10-21 07:45] willthames commented on #3180
Relies on #5343

[2016-10-21 07:46] willthames commented on #2368
Linking to #5343

[2016-10-21 07:46] willthames commented on #1784
needs_contributor

[2016-10-21 07:46] willthames commented on #1650
needs_contributor

[2016-10-21 07:47] willthames commented on #1320
needs_contributor

[2016-10-21 07:47] willthames commented on #633
LInking to #5343

[2016-10-21 07:49] willthames commented on #4477
needs_contributor

[2016-10-21 07:51] willthames commented on #3151
needs_info - I believe @bgeesaman and @einarc's responses point to related cause - without further info this can be moved to `notabug` later

[2016-10-21 07:53] willthames commented on #4145
needs_contributor

[2016-10-21 07:55] willthames commented on #3865
@einarc, @kernow is there a PR against the RDS module that fixes this issue?

[2016-10-21 07:56] willthames commented on #3865
needs_info

[2016-10-21 08:02] markusyou opened #5344 "setup module ansible variables for AIX client missing or not following Linux syntax"
##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

setup module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

standard ansible.cfg

##### OS / ENVIRONMENT

Redhat 6.7 ansible playbook server. AIX 7.1 client

##### SUMMARY

ansible_distribution_version and ansible_distribution_release variables do not follow convention as seen with Linux (see sample output)
ansible_distribution_major_versio

[2016-10-21 08:07] hlpinform commented on #4029
+1 to fix this issue, we ran into this issue today with this version:

ansible 2.3.0 (devel d9b570aaae) last updated 2016/10/17 09:47:20 (GMT +000)
  lib/ansible/modules/core: (detached HEAD 15f8c6835b) last updated 2016/10/17 09:47:24 (GMT +000)
  lib/ansible/modules/extras: (detached HEAD 4ca8e5347a) last updated 2016/10/17 09:47:28 (GMT +000)

[2016-10-21 08:19] kernow commented on #3865
@willthames yes, it's been open since July and you've already commented on the commit but looks like it was then forgotten. https://github.com/ansible/ansible-modules-core/pull/4143

[2016-10-21 08:36] Chris-YBS opened #5345 "win_file with "touch" produces a 2-byte file rather than an empty file"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

win_file
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

win_file with "touch" should produce an empty file when the file does not exist. In fact if produces a file with a UTF-16 LE Byte order mark:

$ od -t x1  /cygdrive/c/temp/etl_runtime.ini-empty
0000000 ff fe
0000002

If this is subsequently used wit

[2016-10-21 08:37] naslanidis commented on #3180
Hi @willthames

I needed an updated version of this module a little while ago so I've finished it for boto3.

https://github.com/ansible/ansible-modules-extras/pull/2845

I don't mind collaborating to merge it all into one module that supports boto 2 and 3. I purposely reused as much as possible and kept it in the same style in case of that exact possibility.  In the Google groups it was mentioned

[2016-10-21 08:48] #3151 closed, assigned to nobody

[2016-10-21 08:54] guenhter opened #5346 "Check if service is installed just with conditionals"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

service
##### ANSIBLE VERSION

[code]
##### SUMMARY

When I want to ensure, that a certain program is NOT running, I use the `service` module and set the parameter `state: stopped`. This works perfectly fine, when the service is really installed.
But in many cases, the service isn't installed and than this module just fails.
This is really ann

[2016-10-21 09:26] willthames commented on #3865
resolved_by_pr #4143

[2016-10-21 09:27] willthames commented on #3865
@kernow, apologies, I have struggled to keep up with all the RDS issues - I've asked for new maintainers on the ansible-devel mailing list.

[2016-10-21 09:31] willthames commented on #3180
@naslanidis if it's feature compatible after a rewrite to boto3, and we can get agreement on #2845 (or just point to the list discussion), then I'd be happy for the boto3 version to replace the boto2 version in 2.3. Given your contribution it would likely make sense for you to be a maintainer for the module if you can spare the time (I just posted a request for new maintainers on ansible-devel)

[2016-10-21 09:34] JulienPalard opened #5347 "pip uses pip2 and ignores virtualenv"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

pip
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ø
##### OS / ENVIRONMENT

Debian 8.6 jessie on both machines.
##### SUMMARY

Using the ansible `pip` module with a virtualenv, ansible uses `/usr/bin/pip2` instead of the shiny pip3 contained in the virtualenv.
##### STEPS TO REPRODUCE

[code]

[code]
##### EXPECTED RESULTS

I expect the `ans

[2016-10-21 09:35] rajiv2205 commented on #4936
Hi,

Facing the same issue. In the first go, everything setup correctly. After that, I made few changes in Dockerfile and re-run ansible with the following error:

+++++++++++++++++++++
fatal: [localhost]: FAILED! => {
    "changed": false,
    "failed": true,
    "invocation": {
        "module_args": {
            "api_version": null,
            "build": false,
            "cacert_path": null,

[2016-10-21 09:35] Chris-YBS commented on #5345
What else do you need from me?

[2016-10-21 09:36] willthames commented on #5343
rds_v2 as implemented in ansible/ansible-modules-extras#2845 seems like a good approach, but will need to backport recent simple changes in the rds module too.

Will also need to deprecate rds module. Can't simply replace them unless API and outputs are identical.

[2016-10-21 10:40] igr commented on #2951
This is one of the most annoying issues you can face with ansible, especially since you bump to it very early: practically your very first script will install something using apt. I wasted too much time just to make crazy workarounds that worked only for specific target OS.

[2016-10-21 11:28] jhawkesworth commented on #5345
@Chris-YBS - I think the ping was meant for me.

Nice catch.  Looks like this could be fixed by changing

`echo $null > $path`
on line 61 of win_file.ps1

to

`write-output $null | out-file -FilePath $path -Encoding ASCII`

However, I've learned a bunch since I ported this module and I think it could do with an overhaul as it has no error handling to speak of at all and doesn't handle symlinks eit

[2016-10-21 11:29] uda commented on #4282
Hi, any chance of this getting any attention? There are several temporary solutions out there, having one of them in the core should be better.

[2016-10-21 11:33] ryansb commented on #5112
This issue is now resolved in commit https://github.com/ansible/ansible-modules-core/commit/23da0fc2b85fa4f4c1fdb1185b14a0f626e8996a , please try it out and reopen if it doesn't work for you.

[2016-10-21 11:33] #5112 closed, assigned to nobody

[2016-10-21 11:38] ryansb commented on #1224
Hello, the functionality you're looking for is in `cloudformation_facts`. Here's an example:

Assume you have a stack called `network` and it has an output named `WebSecurityGroup`.

[code]

Full docs are at https://docs.ansible.com/ansible/cloudformation_facts_module.html

[2016-10-21 11:38] #1224 closed, assigned to nobody

[2016-10-21 12:31] jhawkesworth commented on #5340
My guess is that there was nothing to uncompress because of the 'The remote server returned an error: (503) Server Unavailable' so its possible that it was just a transient error.

[2016-10-21 13:06] kepeket commented on #4229
That's a wrong `if` condition in the yum plugin. I can provide a PR to fix this if you want.

[2016-10-21 14:48] #5108 closed, assigned to nobody

[2016-10-21 15:00] gunnarrb commented on #3183
Bump! I'm having the same problem.

[2016-10-21 15:05] rmpratt1 commented on #4894
This looks like it is an issue between python 2.6 and 2.7 it may potentially be a mac/linux issue as well. I'm not going to pile on a bunch of copies of python on my machine and a couple of machines so I'm leaving this as wontfix

[2016-10-21 15:27] tntC4stl3 commented on #5347
It's a bug relates to the `_get_pip` function in `pip` module.

[2016-10-21 16:28] #4780 closed, assigned to alikins

[2016-10-21 16:40] isaacfife commented on #1912
I just ran into this problem with version 2.1.2.0 and was successfully able to use @carljm's workaround with IdentityFile in the ssh config.

[2016-10-21 16:52] adichiru commented on #2951
I agree @igorspasic. I was assuming Ansible is more mature...

[2016-10-21 17:18] ypid commented on #5237
I reported this vulnerability here: https://www.ansible.com/security Lets see how serious the security handling of core modules is in Ansible.

[2016-10-21 18:46] wenottingham commented on #5237
Does reverting https://github.com/ansible/ansible-modules-core/pull/2794 fix it for you?

[2016-10-21 19:13] denisdefreyne commented on #1479
@runcom Ansible 2.2 is not out (it’s a release candidate atm). See https://releases.ansible.com/ansible/.

[2016-10-21 19:35] kihara-m commented on #4229
ansible 2.1.1.0

yum module wouldn't work with state=latest  but fine with state=present for local rpm.

This though isn't the case when the rpm are on a repository.  Looks like a bug to me

[2016-10-21 19:37] jfbibeau commented on #4229
Check out this fix - https://github.com/ansible/ansible-modules-core/issues/4529

This addresses the problem of local rpm with state=present not updating to the latest version. It's not available in any released version as far as I can tell, but I've been using this fix for a while and it works great.

[2016-10-21 21:07] abadger commented on #5237
@ypid could you see if #5353 is sufficient to fix this for you (and doesn't introduce any regressions)?

Also -- I've noticed that there aren't any tests for apt_key specifically.  If you'd want to add a few to /test/integration/target/apt_key   in the ansible/ansible repository that would help make sure we don't regress this or any other fix as other fixes are applied.  You can ping me in #ansibl

[2016-10-21 21:15] gerhard-tinned commented on #4780
REOPEN PLEASE!!!

In fact it dos NOT keep the order in the pre-existing file intact. That is the whole reason for this ticket.

I do not care about comments in the keys to add. In fact i don't have any there. It is only about the already existing keys and comments.

lineinfile is not a full replacement as it would mean i would have to replace the authorized_key module with multiple others includin

[2016-10-21 21:18] gerhard-tinned commented on #4780
OK, I dont really get it. Is it fixed with this commit?

Can you tell me in which version or maybe even when it will be available?

[2016-10-21 21:20] EvanK commented on #4917
@ansibot needs_info

[2016-10-21 21:22] EvanK commented on #4511
This _would_ be resolved_by_pr #4595 -- though the PR in question appears to need additional action

[2016-10-21 21:24] EvanK commented on #4312
@ansibot This will be resolved_by_pr #4488 -- which is itself waiting on the merging of #4330

[2016-10-21 22:26] abadger commented on #5119
reproduced with Ubuntu14.04

With https://github.com/ansible/ansible-modules-core/pull/5353 applied, this seems to work.  However, I do notice that even with that PR applied removing a key does not work.  Trying apt-key at the command line, it appears that apt-key doesn't understand how to delete with subkeys.  apt-key also doesn't return an error in that case.

[2016-10-21 22:32] abadger commented on #5119
I can't fix the deletion problem without reimplementing /usr/bin/apt-key in our module but I've added better documentation and explicitly check that the key is deleted (and raise an error if it hasn't).

I pushed the fix into #5353 because the fix there fixes half of this one and these are both security related fixes that are likely to be backported.

[2016-10-21 22:37] abadger commented on #3958
This is definitely a feature request.  As this commit to the module docs makes clear: d197f898a5769c2fc10ad702836c1145026c2b11

[2016-10-21 23:45] markusyou commented on #5344
Do not see that any section is missing. Componet was initially missing.

[2016-10-22 00:03] abadger commented on #2622
Pushed a fix for this to https://github.com/ansible/ansible-modules-core/pull/5353  it is a little unrelated but it builds on the existing cleanups there so it makes sense to combine it and backport it together.

[2016-10-22 00:06] abadger commented on #3958
After looking at the code, if someone would like to work on this feature request, the strategy I'd recommend is to take data and write it to a temporary keyring.  then use gpg or apt-key to list the keys in the temporary keyring and extract the ids.  this can use the same parsing as we already use to parse which keys apt-key currently knows about.  You can then compare the ids you've extracted aga

[2016-10-22 00:58] jctanner commented on #5142
needs_contributor

[2016-10-22 01:11] einarc commented on #3804
@jctanner Hi,

On what version of Ansible is the fix for this on? Because I downloaded 2.1.2 just yesterday and am getting this now without changing my code AT ALL that ran perfectly on 2.0.2?
Does anyone does regression testing?
I use pip.

[2016-10-22 09:05] keithrbennett commented on #3903
@mharvan The user_install=False option worked exactly as you said it would.  I am closing the issue.  I apologize profusely for the ridiculously long time it took me to respond to this.

[2016-10-22 09:05] #3903 closed, assigned to nobody

[2016-10-22 09:09] Du-St commented on #3140
Hello Ansible maintainers!

Is there any progress?? When do you expect resolution of this issue?

Thanks.

D.

[2016-10-22 09:18] pierreant-p commented on #4857
+1

[2016-10-22 09:34] #868 closed, assigned to nobody

[2016-10-22 10:19] tadayosi commented on #1117
+1

[2016-10-22 11:45] jpmens commented on #2966
resolved_by_pr 17312

[2016-10-22 11:55] JulienPalard commented on #5088
Can't reproduce it too, not sure what happened :(

[2016-10-22 11:55] #5088 closed, assigned to nobody

[2016-10-22 12:16] mindojo-victor opened #5355 "Changes to env vars on tasks to do not see prev changes"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

lookup env
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

Ubuntu 14.04
##### SUMMARY

If I set an environment variable at playbook level, the change is not seen in tasks in which I do `lookup('env', ...)`
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The task command should see both changes to `PATH` env va

[2016-10-22 12:49] #3185 closed, assigned to nobody

[2016-10-22 12:54] mindojo-victor commented on #5355
Sorry, I though `lookup` is a module. Should this issue be in the core Ansible?

[2016-10-22 13:16] #3968 closed, assigned to nobody

[2016-10-22 13:16] stxyzth commented on #3968
Cannot recreate the issue with the newest versions.

[2016-10-22 15:46] abadger commented on #4519
@whitequark  PR #5356 should fix this problem for you.  I'll be merging it as soon as it passes our continuous integration tests.

@jvantuyl needs_contributor didn't work for you because this was a problem with the apt module, not apt_key.  If github was sending you email about this I apologize... not sure why that would have happened; it doesn't look like you were CC'd explicitly in the comments.

[2016-10-22 15:51] whitequark commented on #4519
@abadger Thanks!

[2016-10-22 15:55] #5237 closed, assigned to nobody

[2016-10-22 15:55] #2622 closed, assigned to nobody

[2016-10-22 15:55] #5119 closed, assigned to nobody

[2016-10-22 15:56] #4519 closed, assigned to nobody

[2016-10-22 16:15] avacam commented on #491
waiting on resolution or verification of issue.

[2016-10-22 16:15] ypid commented on #5237
#5353 does not fix it, please reopen.

[2016-10-22 17:01] ypid commented on #5237
Fixed by: https://github.com/ansible/ansible-modules-core/pull/5357
Thanks to @abadger

@jvantuyl you might want to review the changes as well.

[2016-10-22 17:44] linsomniac commented on #4917
I can't reproduce this now.  At the time I submitted it, I had even worked with some folks on the #ansible IRC channel, and was urged to open this issue.  But I've set up a new test case and I just can't reproduce it.  So I'm going to close it.

I've been strugging with some "file: mode=" issues when using numeric ownership, and I'm wondering if the directory I was creating this in had weird modes

[2016-10-22 17:44] #4917 closed, assigned to nobody

[2016-10-22 21:34] supertom commented on #154
The following snippet is valid and demonstrates the proper use of the metadata field.  This snippet is from the gce module documentation:

[code]

@ryansb I recommend we close this ticket as this issue has been resolved.

[2016-10-23 00:35] ghost commented on #3053
@glenjarvis-repairpal  that test case passes and creates a security group.

[2016-10-23 00:39] mscherer commented on #5292
Isn't it a duplicate of https://github.com/ansible/ansible-modules-core/pull/5260 ?

[2016-10-23 00:59] #1788 closed, assigned to nobody

[2016-10-23 02:35] tedder commented on #1370
resolved_by_pr #5319

This is fixed in 2.3, which is the rewrite to boto3. [Here's the new code](https://github.com/ryansb/ansible-modules-core/blob/90dbc1841b54d5e73897876780610439768934fd/cloud/amazon/cloudformation.py#L465).

I just tested it locally too.

[2016-10-23 02:37] tedder commented on #1460
wontfix. [The documentation has been updated to include the "relative" disclaimer already](https://github.com/ansible/ansible-modules-core/blob/devel/cloud/amazon/cloudformation.py#L57).

[2016-10-23 02:41] tedder commented on #2819
`needs_info`. I'm trying this from a different working directory than the root of my plays and it appears to work, as of 2.3. Please let me know if you can reproduce.

I'd strongly suggest running cloudformation from your Ansible host, not a remote machine, since there's really no reason to do so. (okay, except perhaps to get an IAM role)

[2016-10-23 02:42] tedder commented on #2314
resolved_by_pr #5319.

[2016-10-23 02:43] tedder commented on #3293
resolved_by_pr #5319.

Note #1370 was the same issue- more info there.

[2016-10-23 04:38] salman1485 commented on #5308
@bdowling @jean-christophe-manciot

Looks like you guys have been using IOS modules these days. Have you ever seen this issue?

[2016-10-23 06:46] zserg commented on #5347
@JulienPalard take a look at #5359

[2016-10-23 08:27] JulienPalard commented on #5347
May fix my problem yes, but it may break others?

I'd be more confortable with a `python3 -m pip` as I'm explicitly giving `python3` as my virtualenv_python.

[2016-10-23 09:22] blackandred commented on #3571
I have also this issue.

[2016-10-23 14:56] #2362 closed, assigned to nobody

[2016-10-23 18:12] EvanK commented on #4795
Would there be merit to warning about a bad `cron_file` vs failing on it?

[2016-10-23 18:23] cdaringe commented on #1656
[code]

if you're on `apt` friendly systems

[2016-10-23 18:37] EvanK commented on #4795
It looks like this is a [de-facto standard for Debian & Redhat based distros](https://www.pantz.org/software/cron/croninfo.html) (at least for files under `/etc/cron.d`), but isn't necessarily [an LSB standard](http://refspecs.linux-foundation.org/LSB_4.0.0/LSB-Core-generic/LSB-Core-generic/etc.html).

So...yeah, a warning would be preferable to a failure

[2016-10-23 18:49] gerhard-tinned commented on #3523
+1

I have the same issue. Interestingly, my Ubuntu servers work without problem. my Debian host on the other hand shows exactly this issue.

[2016-10-23 20:15] ralfbergs commented on #5267
I think the needs_info label can now be removed, it seems as if I've supplied all info requested.

[2016-10-23 20:43] #2316 closed, assigned to nobody

[2016-10-23 22:12] g-- commented on #1419
Dear ansibot: it appears this has been resolved based on the commits.  I haven't tested it personally though.

[2016-10-23 22:16] g-- commented on #1419
judging from https://github.com/ansible/ansible-modules-core/blob/devel/packaging/os/yum.py it looks like this bug/feature omission is still unresolved.

It looks like @willusher is playing with a fix on a fork.  But I'm not sure why the original feature was reverted in the first place.. so.. :shrug:

[2016-10-23 23:14] Jmainguy commented on #5315
@hnakamur I will ensure you get removed and the new maintainer gets added, sorry for the ping.

[2016-10-23 23:14] Jmainguy commented on #5315
@Senilein See https://github.com/ansible/ansible-modules-core/pull/5362 for a fix to this, please give it a test.

[2016-10-23 23:25] Jmainguy commented on #2232
This is pretty interesting, I was gonna try and add the documentation for this, but I do not see what list actually does and why its not for playbooks. What does it do?

[2016-10-23 23:33] Jmainguy commented on #5315
@alikins Please review this as well

[2016-10-23 23:37] Jmainguy commented on #1328
I think this might be outdated, as the docs no long reflect what was reported in this ticket.

 @ansibot "resolved_by_pr a234e9b7b2a7b13400023dd3b703ca41f8163715"

[2016-10-23 23:40] abadger commented on #1328
Thanks for noticing!

[2016-10-23 23:40] #1328 closed, assigned to nobody

[2016-10-24 03:34] EvanK commented on #5138
@RichVel IIRC, the pip install is for ansible _as a whole_, and modules would be included from a specific branch for the major/minor version (`stable-2.0`, `stable-2.1` etc)

If you are able, [installing and running ansible from source](https://docs.ansible.com/ansible/intro_installation.html#running-from-source) would get you the latest `devel` for ansible and all modules.

[2016-10-24 03:44] emonty commented on #5250
Made a patch here:
https://review.openstack.org/390148

token_endpoint isn't actually a valid auth plugin - it is a python-openstackclient specific thing. However, it's still a pretty crappy experience for the user to hit against that - so I think making os-client-config do what you meant there is fair.

[2016-10-24 04:41] supertom commented on #5196
Hi @bjolivot and @basictheprogram

Am I correct that you're both seeing this on Mac OS X (and without virtenv)?  I don't have the same exact OS X version, but I did install ansible and libcloud via pip and can see that this works.

The current libcloud is now 1.3, any luck with that?

[2016-10-24 08:27] bjolivot commented on #5196
Hi,
It's working with libcloud 1.3 & ansible 2.1.2.0

I'm working on Debian Jessie not OS X

Thanks :)

[2016-10-24 08:45] reiz commented on #3719
I'm getting the same error with Ansible  2.1.2.0. Now I'm building my Docker images like this:

[code]

That's the good thing about Ansible. If a module is broken you can just use the shell module :-)

[2016-10-24 08:58] hakamairi commented on #3719
Another workaround, a pre step like:

[code]

[2016-10-24 10:40] mvaude opened #5366 "python shebang in scripts are not working on all platforms"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
- setup
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT
- NixOS
##### SUMMARY

When I use some specific playbooks, I got an error during the `setup` task because of the python shebang in the script generated by `ansible`. The problem occurs only when I am using a non local inventory but with the `connection: local`

[2016-10-24 12:28] Nindaleth commented on #1077
We ran into similar issue on Ansible 1.9.4 with output registered by this task:

[code]

Output from that contains some equal signs, which will break any further task working with this output. I found following workaround that helped us:

[code]

If you need to do this in local_action, you can too:

[code]

By the way, I didn't see anywhere in documentation a note on how to use local_action with c

[2016-10-24 13:29] bcoca commented on #5366
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

We don't use `env` as it does not always point at the 'correct python', that is what `ansible_python_interpreter` is for. http://docs.ansible.com/ansible/faq.h

[2016-10-24 13:29] #5366 closed, assigned to nobody

[2016-10-24 13:42] agustincastanio commented on #5161
Finally we are bypassing docker_image module and using shell with "docker build" command.
If build fails, we print stdout_lines from registered output variable.

Hope we can go back to ansible module in the future.

[2016-10-24 13:43] alikins commented on #4780
It's merged to devel/ branch (the future 2.3) currently. It is not currently backported to stable-2.2/ (the future 2.2 release).

Is the buggy reordering in 2.1 breaking things? If it is generating invalid authorized_keys files?

[2016-10-24 13:45] #5190 closed, assigned to nobody

[2016-10-24 13:55] gundalow commented on #5216
fixed by https://github.com/ansible/ansible-modules-core/pull/5218

[2016-10-24 13:55] #5216 closed, assigned to nobody

[2016-10-24 13:58] gundalow commented on #5041
@ismc Can you please respond to GGabrieles' comment https://github.com/ansible/ansible-modules-core/issues/5041#issuecomment-252244658

needs_info

[2016-10-24 14:02] theraser commented on #2781
This issue is resolved for me, thanks for your help :-)

[2016-10-24 14:02] #2781 closed, assigned to nobody

[2016-10-24 14:10] christonog opened #5368 "Ansible connection is sometimes dropped mid-play on windows hosts"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

win_user.ps1
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

I am using the Amazon created flavor of linux. ami id: ami-f5f41398
##### SUMMARY

For the win_user task, ansible fails to reach the remote host, despite already making a connection and performing tasks.
##### STEPS TO REPRODUCE

Can't seem to reproduce this

[2016-10-24 14:42] #245 closed, assigned to nobody

[2016-10-24 14:53] privateip commented on #5336
@kkirsche how have you installed python?   My suspicion based on the outputs from your log is that you have multiple versions of Python (or at least Python libs) installed on your system.  My guess is that when you run Ansible its running using the OSX system default Python which doesn't know about the paramiko libs being installed due to pathing issues.

To help troubleshoot further can you provi

[2016-10-24 14:56] wenottingham opened #5370 "systemd module docs poorly formatted"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

system/systemd.py
##### ANSIBLE VERSION

[code]
##### SUMMARY

status in 'return values' is illegible in the docs at:
  https://docs.ansible.com/ansible/systemd_module.html
##### STEPS TO REPRODUCE

Go to page
##### EXPECTED RESULTS

Not what I see.
##### ACTUAL RESULTS

![screenshot from 2016-10-24 10-55-46](https://cloud.githubusercon

[2016-10-24 14:58] #4818 closed, assigned to nobody

[2016-10-24 15:39] kkirsche commented on #5336
@privateip — Ansible was installed via Homebrew, and thus Python was installed as a dependency via Homebrew as well.

`brew list` includes `python`, `python3` and `ansible`.

Output from `python -c "import sys; print sys.path"` is:

[code]

[2016-10-24 16:26] jb11211 commented on #3137
Hey sorry for the delay. I'm in an intense release cycle right now. will get too this soon

[2016-10-24 17:33] gfarrell opened #5371 "docker_container networks not working as expected (viz. mac addresses)"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

[Relevant Docker docs](https://docs.docker.com/engine/reference/run/#/network-settings). Should be able to set mac address for the connected networks (I have my container connected to two networks, but need its mac address set in one

[2016-10-24 17:40] boudreau opened #5372 "ios_facts: gather_facts :hardware crash on cisco switches"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ios_facts: gather_facts : hardware
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

##### SUMMARY

Looks like the process to check the memory on the ios device uses "show memory statistics | include Processor". This command is not available on the Cisco switches and makes the module fail. Tested with Cisco 3850 switches.
##### STEPS TO REPR

[2016-10-24 18:11] mvaude commented on #5366
@bcoca thanks for the answer!

Sorry I didn't see this documentation part....

Next time I need help, I will definitely go to the user list.

[2016-10-24 19:01] gvilarino commented on #5284
Having exactly the same issue. Running `ansible` in latest `Ubuntu 14.04 LTS`

[2016-10-24 19:57] bcoca commented on #5355
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

First, lookup is not a module, yes this should be in ansible/ansible, but it is not a bug.

The `environment:` directive is not additive, you are overwriting i

[2016-10-24 19:57] #5355 closed, assigned to nobody

[2016-10-24 20:13] #2966 closed, assigned to nobody

[2016-10-24 20:39] mzhaom opened #5373 "template action could use ignore_regexp to skip a template change if the change matches the given regexp"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

template
##### ANSIBLE VERSION

[code]
##### SUMMARY

For certain configuration like bind database, we use ansible_date_time.epoch as the serial number, like this

[code]

And a change to the db file will trigger the bind service to be restarted. It works fine if there is real change. But sometimes the only change is the epoch thus the serial n

[2016-10-24 21:50] nitzmahone commented on #5368
@christonog What Windows flavor are you running? I've seen some OpenSSL oddities where the SSL tunnel gets wedged and causes a read timeout on 2008R2 (and have heard from others that it can happen on 2012R2, but never seen that one myself). Still not sure if the problem lies on the Windows side or the Linux side, though.

[2016-10-24 22:06] gvilarino commented on #5284
This fails [on line 180](https://github.com/ansible/ansible-modules-core/blob/7f55c9fc8eb05c525adeea69043620a7b3023ac4/cloud/azure/azure_rm_storageaccount.py#L180) with `SkuName` not being defined. That _should_ be [imported from `azure.mgmt.storage.models.storage_management_client_enums`](https://github.com/ansible/ansible-modules-core/blob/7f55c9fc8eb05c525adeea69043620a7b3023ac4/cloud/azure/azu

[2016-10-24 22:07] gvilarino commented on #5284
Maybe @chouseknecht or @nitzmahone can lend a hand?

[2016-10-24 23:11] nitzmahone commented on #5284
Yeah, a number of folks have run into this. Microsoft's complex deps chain doesn't always install correctly (likely due to a pip shortcoming/bug)- manually installing msrestazure fixes this issue. Do `pip install msrestazure` and all should be well. Here's the link to the bug on their side: https://github.com/Azure/azure-sdk-for-python/issues/644

[2016-10-24 23:11] #5284 closed, assigned to nobody

[2016-10-24 23:40] ghost opened #5376 "gce module ignores specified service account, always uses project default"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

gce
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

~/.ansible.cfg:

[code]

~/.ansible.hosts:

[code]
##### OS / ENVIRONMENT

`ubuntu-14.04` image running on existing GCE node, with `libcloud-1.3.0` installed via pip
(note: this also requires `backports.ssl-match-hostname` to function, an undeclared dependency)
##### SUMMARY

Ansible's "gce"

[2016-10-25 01:40] gvilarino commented on #5284
Thanks @nitzmahone that did make the error go away, but now I'm seeing something else:

`"msg": "Error retrieving resource group testinggroup - global name 'self' is not defined"`

I'm sure that resource group exists and with the same name; I'm seeing it now though the portal. My playbook looks like this:

[code]

Am I missing something?

[2016-10-25 02:53] nitzmahone commented on #5284
Yeah, looks like you'll get that with rc6. I'd suggest moving back to rc5 for now- the funny thing is it's failing in our code that prints an error when it checks the version number.

[2016-10-25 03:04] nitzmahone commented on #5284
Fixed by https://github.com/ansible/ansible/pull/18176

[2016-10-25 03:25] gvilarino commented on #5284
@nitzmahone ok, I tried that and even though I haven't been able to successfully use the module, I'm now seeing a permission error so it has to do with a different context. Thanks!

About what you posted: it sounds like your issue has to do with this: https://github.com/ansible/ansible/issues/17495 - I pinned `docker-py` to `1.9.0` and stuff seems to work (it's supposed to be fixed in `2.2`, altho

[2016-10-25 03:39] ferozkhan commented on #3344
this is my ansible version:

ansible 2.1.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

and it creates cron tasks for root instead of provided "user" parameter value.

[2016-10-25 03:57] #1124 closed, assigned to jctanner

[2016-10-25 07:57] ratbag98 commented on #3344
Ansible 2.1.2.0, FreeBSD 10.3 RELEASE. Ignores user and puts job in /var/cron/tabs/root.

[code]

[code]

[2016-10-25 08:47] gdanielson commented on #4223
Can confirm the issue I reported in nxos_config is now working again as expected.  Thanks!

[2016-10-25 11:36] vuninh commented on #1773
i got the same issue, and i tried to upgrade boto using below command and i fixed it

#  pip install boto --upgrade

root@ansible:/etc/ansible# pip install boto --upgrade
Downloading/unpacking boto from https://pypi.python.org/packages/29/64/51e30f48b0e160d384d13aeab66d416b68e404525a34a87aded0da82f32a/boto-2.43.0-py2.py3-none-any.whl#md5=c524e27de9900cb4b58feea092992ba8
  Downloading boto-2.43.0-p

[2016-10-25 14:27] gundalow commented on #5370
/cc @dharmabumstead Do you think the docs generator needs extending to support formatted output in the `RETURN` section?

https://github.com/ansible/ansible-modules-core/blob/devel/system/systemd.py#L94

[2016-10-25 14:28] e-gautier commented on #4029
+1

[2016-10-25 14:54] salman1485 commented on #5372
I tried this as well and even for me show memory statistics | include Processor is not working. I used v3650 so this seems to be a problem for multiple IOS devices.

Here is the output when I run the command directly on the device.

[code]

[2016-10-25 16:23] Zloy opened #5378 "File module calls /usr/bin/python to execute temp_name.ps1 PowerShell script on Windows"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Builtin **File** module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

pristine
##### OS / ENVIRONMENT

Host: Ubuntu 14.04, managed node: Windows Server 2012 R2
##### SUMMARY

I got an error and had turned verbose mode, so I saw that output:

[code]

Here is the strange line: `/usr/bin/python 'C:\Users\Administrator\AppData\Local\Temp\ansible

[2016-10-25 16:24] perigee commented on #932
The bug reappears in `2.1.1.0` :(

[2016-10-25 16:31] dan-passaro opened #5379 "Document Git module's result"
##### ISSUE TYPE

Documentation Report
##### COMPONENT NAME

git
##### ANSIBLE VERSION

[code]
##### SUMMARY

The Git module docs don't indicate that any result is available. In fact, the git module provides "after" and "before" results which are the commit IDs before and after the git command was run (I presume). This should be documented.

[2016-10-25 16:58] abadger commented on #4384
Confirming dag's fix fixes this issue:

[code]

Closing fixed in 2.2.0

[2016-10-25 16:58] #4384 closed, assigned to nobody

[2016-10-25 18:16] mohannmurthy commented on #2576
I am facing the same problem. Do we have any hack for time being?

[2016-10-25 18:16] mohannmurthy commented on #2576
Is it something to do with the CIDR range we use?

[2016-10-25 18:27] bdowling opened #5380 "shell.py has \r instead of \n ?"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ansible/module_utils/shell.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

I noticed that shell.py has carriage-return (\r) in send strings instead of newline in some places, I'm not sure if there was a particular reason for this?  After looking deeper, it does appear that it is allocating a P

[2016-10-25 18:32] basictheprogram commented on #5196
##

Bob Tanner tanner@real-time.com                                 | Phone : 952-943-8700
http://www.real-time.com, Linux, OSX, VMware, Windows | Fax      : 952-943-8500
Key fingerprint = 9906 320A 8BB6 64AD 96A7  7785 CBFB 10BF 568B F98C

[2016-10-25 18:56] linsomniac commented on #4917
Hmm, no, there was no become clause for the touch. I tend to run my entire
playbook under become as root.

On Fri, Oct 21, 2016, 15:20 Evan Kaufman notifications@github.com wrote:

[2016-10-25 19:03] caphrim007 commented on #5229
@nitzmahone I'd be happy to test any fixes for this as I seem to run into it consistently.

[2016-10-25 19:58] caphrim007 commented on #5229
@nitzmahone @jhawkesworth I no longer see the issues when I implement this

http://stackoverflow.com/questions/24370814/how-to-capture-process-output-asynchronously-in-powershell/24371479#24371479

Here's a PR to illustrate it in the code

https://github.com/ansible/ansible-modules-core/pull/5381

[2016-10-25 20:31] bmillemathias commented on #5379
I'm up to write that.

[2016-10-25 22:53] laurentgo commented on #1773
@vuninh I understand that upgrading boto will make the problem go away, but this module is supposed to detect which boto version is present and gracefully handle it. This bug is about a specific case not being handled properly.

[2016-10-25 22:54] supertom commented on #5376
Hi @scottingly, thanks for filing this issue.  And thanks for being so-detailed!

I've confirmed what you say is true, we always use the default account and we don't currently expose a way to set a different service account.  Unfortunately, we can't just repurpose service_account_email as it would change existing behavior, (plus it doesn't allow as much flexibility as users would want) so we're lo

[2016-10-25 23:17] ghost commented on #5376
Indeed, someone might want to assign multiple service accounts to the node, meaning it would need to take a list.  I did look at libcloud code and saw that the gce driver `create_node()` does actually take a `ex_service_accounts` list parameter, so this could theoretically work.

However, if you're saying that `service_account_email` was actually intended to be the service account of the user in t

[2016-10-26 00:21] #5229 closed, assigned to nitzmahone

[2016-10-26 02:19] linusgg commented on #3629
Plus one, it will be very helpful with this option.

[code]

[2016-10-26 03:52] gaddman commented on #4542
I've seen this same behaviour, using `connection: local`, rather than `delegate_to`. Ansible version 2.1.2.0

[2016-10-26 04:09] salman1485 commented on #5372
Update:

I hashed below two entries in file ansible/lib/ansible/modules/core/network/ios/ios_facts.py and now ios_facts seems to work fine.

[code]

Variables published by default were (some of these were null or did not return expected values):
ansible_net_all_ipv4_addresses
ansible_net_all_ipv6_addresses
ansible_net_config
ansible_net_filesystems
ansible_net_gather_subset
ansible_net_hostname
an

[2016-10-26 10:25] ffledgling opened #5385 "synchronize doesn't work when target is a VM on localhost on a different port"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

synchronize
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Linux -> Linux
Controller: Fedora 22
Target: Fedora 22
##### SUMMARY

synchronize refuses to copy files from the controller to the target machine, instead copying files around on the controller machine
##### STEPS TO REPRODUCE

[code]

`test.yaml`

[cod

[2016-10-26 11:03] ffledgling commented on #5385
Further info, I've tried the latest version of ansible, and the problem persists with the `synchronize` module, but the `copy` module works correctly/as expected.

I tested this against:

[code]

[2016-10-26 11:16] seb1281 commented on #1741
I'd also appreciate this functionality and have another suggestion for an option -> security

We have several servers that are only updated once or twice a year, when our people find the time to do it. A apt-get upgrade always holds the risk of installing updated package that break software made by us. But security-updates are really needed. Right now I'm doing it with a script one liner that is e

[2016-10-26 11:59] tristanbes opened #5386 "Key does not seem to have been added (but it has)"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

`apt_key`
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

The module says it fails but the key has successfully been added on servers
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Changed or OK output
##### ACTUAL RESULTS

[code]

But when running the command `apt-key list`, **the right key for yarn is listed*

[2016-10-26 12:07] wouteroostervld commented on #3003
Please note the warning in: https://www.percona.com/blog/2016/03/16/change-user-password-in-mysql-5-7-with-plugin-auth_socket/

You should set the password of root@localhost and enable mysql_native_password in one action. Otherwise root-access could be exposed.

Would it be possible to do the right thing automatically if MySQL(-like) 5.7+ is detected and you want to set a password?

Setting the pa

[2016-10-26 12:31] wturrell commented on #3003
[This is the approach I used](http://stackoverflow.com/a/40059130/763419) - i.e. set the desired root password in debconf, then install the MySQL package.  It'd be nice to be able to combine those first steps into a single task, i.e. not having to specify the password separately (or twice).

And perhaps it's desirable to remove the password from debconf afterwards (or maybe it isn't)?

[2016-10-26 13:53] abadger commented on #5386
This is a duplicate of https://github.com/ansible/ansible-modules-core/issues/5119  The fix has been cherry-picked to the stable-2.1 and stable-2.2 branches and will be released as part of 2.1.3 and 2.2.0.  Both of those are currently in release candidate phase.  If you'd like to test either of them you can find the tarballs here: http://releases.ansible.com/ansible/

Note that the reason this is

[2016-10-26 13:53] #5386 closed, assigned to nobody

[2016-10-26 13:55] wouteroostervld commented on #3003
@ricbra the cause of your problem is that in the current master the IDENTIFIED WITH mysql_native_password is only called if you set a password-hash but not if you use a plaintext password.

Busy with a patch right now.

[2016-10-26 13:56] wouteroostervld commented on #3003
@wturrell that's a work-around not a fix.

[2016-10-26 13:57] wouteroostervld commented on #3003
@wturrell interesting but not the specific issue discussed here.

[2016-10-26 13:58] tristanbes commented on #5386
Thanks for your reply. Any idea how to get the full key ? because application maintainers only specify subkeys in their installation procedure. Is there a golden rule to find out the full key @abadger ?

[2016-10-26 14:16] wouteroostervld commented on #3003
@geerlingguy FYI

[2016-10-26 14:23] fiunchinho commented on #2576
Seems like a regression, since several users are suddenly facing this issue. Any help @robynbergeron @adq ?

[2016-10-26 15:02] juanjomm opened #5391 "win_user module check mode always returns skipping (never changed or OK)"
##### ISSUE TYPE

- Feature idea
##### COMPONENT NAME

win_user module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

 ansible_user: xxxx
 ansible_pass: xxxxx
 ansible_connection: winrm
 ansible_ssh_port: 5986
##### OS / ENVIRONMENT

Ansible running in RHEL 7.2
OS remote is Windows 2012R2 with powershell 4.0
##### SUMMARY

When i execute the playbook in check mode on remote node (windows) the

[2016-10-26 15:10] sivel commented on #4542
This could very well be related to having multiple instances of the authorized keys module attempting to update a single file at once.

If you had multiple processes updating a single file simultaneously, the results are likely to be unexpected.

You can probably get around this by running the `authorized_keys` task, in a play that sets serial to 1, so that only 1 host is being processed at a sing

[2016-10-26 15:47] Zloy commented on #5378
Thank you, I see now. Closing.

[2016-10-26 15:47] #5378 closed, assigned to nobody

[2016-10-26 15:54] Zloy opened #5392 "Ansible complains of presumably valid syntax"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Probably ansible core or YAML parser
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Pristine
##### OS / ENVIRONMENT

I run ansible on Ubuntu 14.04 and manage node with Windows Server R2
##### SUMMARY

Ansible reports syntax error
##### STEPS TO REPRODUCE

I work on a playbook. The valid syntax makes ansible complaining

Here is my playbook:

[2016-10-26 16:05] tobinlandricombe commented on #4010
Very nice. Thanks.

[2016-10-26 16:05] #4010 closed, assigned to nobody

[2016-10-26 16:06] Zloy commented on #5392
Sorry, I found out that `win_command` was introduced in version 2.2 So, I have to upgrade. Closing

[2016-10-26 16:06] #5392 closed, assigned to nobody

[2016-10-26 16:23] bhudlemeyer opened #5393 "Modifying VM with vsphere_guest failing with current_devices is not defined."
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

vsphere_guest
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When trying to perform reconfigure of exiting vm failing with global name ' current_devices' is not defined
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Modify vm ram/cpu and ISO attached to VM
##### ACTUAL RESULTS

496600.14-1385

[2016-10-26 16:30] nitzmahone commented on #5391
This isn't a bug, it's a feature request: win_user doesn't currently implement check mode- it's standard Ansible behavior to skip modules in check mode when they don't declare support for it. It's on our list of things to do, but a few items in that module in particular may be difficult to implement check mode for (password support).

[2016-10-26 16:37] gbmeuk commented on #3719
There is a patch for this: https://github.com/ansible/ansible/pull/16680/files

Remember to move docker_common.pyc out of the way

[2016-10-26 19:44] jjtroberts commented on #3804
I'm also receiving the same error, though the load balancer gets created.

ansible 2.1.2.0

[2016-10-26 19:58] geerlingguy commented on #3003
@wouteroostervld - Thanks - right now I'm on leave for a birth, so haven't had time to dig in and test further with my mysql role or Drupal VM :(

[2016-10-26 20:01] AndydeCleyre opened #5394 "unarchive module fails on Alpine Linux (Docker container)"
This is a continuation of a [bug](https://github.com/ansible/ansible/issues/11348) on the ansible issues page that was closed due to inconsistent reproduction. This report includes consistent reproduction instructions. The bug is not limited to Alpine, but it eases this reliable reproduction.
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
- unarchive
##### ANSIBLE VERSION

[code]
##### CONFIGU

[2016-10-26 20:09] jamesmarshall24 opened #5396 "Yum ignores notify handlers"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

yum
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default
##### OS / ENVIRONMENT

RHEL 7.2
##### SUMMARY

##### STEPS TO REPRODUCE

1. Build a project directory similar to the one below:

[code]
1. Run playbook:
   ansible-playbook -i hosts main.yml

./main.yml

[code]

./roles/test/handlers/main.yml

[code]

./roles/test/tasks/main.yml

[c

[2016-10-26 20:12] jamesmarshall24 commented on #5396
@gundalow

[2016-10-26 20:17] dbohdan commented on #5394
I can reproduce this with Ansible 2.1.2.0, a Linux host (up-to-date openSUSE Tumbleweed) and a FreeBSD 10.3-STABLE VM.

[code]

@AndydeCleyre Does Alpine Linux use non-GNU tar? I think this may be the common factor between our two cases.

[2016-10-26 20:19] jjtroberts opened #5397 "Cannot Set Stickiness Policy on ec2_elb_lb in Ansible 2.1.2.0"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ec2_elb_lb
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT
- Linux 3.10.0-327.36.2.el7.x86_64 #1 SMP Mon Oct 10 23:08:37 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
- Python 2.7.5
##### SUMMARY

Was working in previous versions of Ansible, but now will not create an AWS ELB without throwing an error. The playbook will succee

[2016-10-26 20:21] dagwieers commented on #5394
Do you still have this issue on v2.1.2 or the master branch ? need_info

[2016-10-26 20:24] sivel commented on #5394
Per @dbohdan he can reproduce in v2.1.2.0

And just for extra data, alpine utilizes tar from busybox by default, but can install GNU tar via `apk -U add tar`

[code]

[2016-10-26 20:26] dagwieers commented on #5394
Alright, I didn't see @dbohdan 's comment while I was typing my response on a smartphone...

We only support GNU tar. So if that is why it fails, this is not a bug.

[2016-10-26 20:29] dbohdan commented on #5394
The command succeeds if you install GNU tar on the FreeBSD target.

[code]

[2016-10-26 20:30] kkirsche commented on #5336
I also tried:

[code]

To check if pip was using the wrong python. I also tried making sure homebrew's version had it:

[code]

[2016-10-26 20:41] dbohdan commented on #5394
@dagwieers I see that the module's `DOCUMENTATION` says it `requires C(gtar)/C(unzip) command on target host` but the module actually tries to use non-GNU tar as a fallback and fails with an error message that is fairly cryptic. This behavior confused me when I first encountered it a couple days ago because I wasn't sure if it was supposed to work. Could you make the module throw an error when GNU

[2016-10-26 20:42] AndydeCleyre commented on #5394
~~It still fails when installing GNU tar on Alpine. Output confirms it's using the GNU tar binary.~~

[2016-10-26 20:44] dagwieers commented on #5394
I believe somebody already did the work for that.

[2016-10-26 21:04] dbohdan commented on #5394
@dagwieers That's good to hear. For reference, the (already merged) PR is #4352.

[2016-10-26 21:07] AndydeCleyre commented on #5394
AH. OK. With GNU tar on Alpine it _does_ work if `dest` is specified as an absolute path, as is required.

[2016-10-26 21:22] gvilarino opened #5399 "Azure storage account facts module returns no facts at all"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

`azure_rm_storageaccount_facts`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default
##### OS / ENVIRONMENT

Ubuntu 14.04 LTS
##### SUMMARY

The module returns no useful information and provides no value. I have to fall back to the `azure-cli` `node.js` module in order to retrieve the storage account keys and manually parse the text output.

[2016-10-26 21:23] prahal opened #5400 "apt_repository: doc generation confused by file mode - interpret it as an octal value"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

apt_repository
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

( Debian stretch , irrelevant here)
##### SUMMARY

The ansible docs website tells to set '420' as default mode for apt sources.list.d files.
Which is wrong per debian apt breaks on this.
Luckily this is only in the generated documentation,
https://docs.ansibl

[2016-10-26 21:59] Qalthos commented on #5308
So first off, networking modules act a little differently than normal Ansible modules, and one of the ways they differ is that they ignore any of the host key checking flags, which is a bug, but not really the one we're here for, just letting you know why they don't seem to be doing anything.

This does seem like some issue with known_hosts being messed up somewhere along the way. I'm willing to b

[2016-10-26 23:07] RRAlex opened #5401 "authorized_keys can't handle key in [normal + cert-authority] mode together"
##### ISSUE TYPE
- Bug Report / Feature Idea
##### COMPONENT NAME

authorized_keys
##### ANSIBLE VERSION

[code]
##### SUMMARY

authorized_keys can't add a key in 2 different modes, trying to add both:

ssh-ed25519 AAAAC3NzaC1lZDI1... user@box
cert-authority ssh-ed25519 AAAAC3NzaC1lZDI1... user@box

will overwrite the first with the latest...
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

[2016-10-26 23:28] bdowling opened #5402 "Network modules should provide the actual device CLI interaction logging (raw output)"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

network, netcli, ios_command.py, ios_config.py
##### ANSIBLE VERSION

[code]
##### SUMMARY

Currently the network modules do not return any device debugging or raw device output.  This is a concern on one hand because network folk are reluctant to run tools on their network without knowing exactly what they are doing on their gear.  This is al

[2016-10-27 00:03] alitvak69 opened #5403 "ipv4_secondaries displays duplicate information"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

setup
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

# Enabled smart gathering

gathering: smart
##### OS / ENVIRONMENT

Ubuntu 16.04.1
##### SUMMARY

ipv4_secondaries displays duplicate  address information
##### STEPS TO REPRODUCE

Run
ansible -m setup hostname.foo -a "filter=ansible_eth1"

Receive a filtered response with eth1.  Here is e

[2016-10-27 00:13] watanabeshuji opened #5405 "ec2_ami_find module can not filter by root_device_type"
We want to find latest AMI.
We can filter by name, but can not filter by root device type (ebs, instance-store)
PR: https://github.com/ansible/ansible-modules-core/pull/5404

[2016-10-27 01:14] bcoca commented on #5296
@aderixon can you verify my PR above fixes the issue?

[2016-10-27 02:35] jctanner commented on #5396
bisect shows https://github.com/ansible/ansible/commit/d2b3b2c03e2934b126f5701e5f6e25821e2dbe35 is at fault.

[2016-10-27 02:45] jctanner commented on #5396
This fixes the handler issue, but I need to spend more time understanding it ...

[code]

[2016-10-27 04:05] chrrrles commented on #2280
Was wondering how to do idempotent ec2 operations until I found this issue - here's a PR to add back the documentation on id:

https://github.com/ansible/ansible-modules-core/pull/5407

[2016-10-27 06:11] gundalow commented on #5396
I'll look at creating an integration test for this. Does it only effect yum? Or is the bug when you have two or more handlers?

[2016-10-27 06:41] pixelrebel commented on #1641
I have the same issue in 2.1.2.0 on Sierra.
Task:

[code]

Error:

[code]

I wouldn't close this out just yet @ansibot

[2016-10-27 07:33] laurentribot opened #5408 "include_role : troubleshooting passing variable"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

include_role
##### ANSIBLE VERSION

[code]

(branch stable-2.2)
##### CONFIGURATION

local roles and libraries location
##### OS / ENVIRONMENT

Master: Ubuntu 16.04.2
Managed: Rhel 6.6
##### SUMMARY

role vars are not visible in vars attribute of include_role
##### STEPS TO REPRODUCE

[code]

role_test_a/tasks/main.yml :

[code]

role_test_a/vars

[2016-10-27 07:42] laurentribot opened #5409 "include_role: privilege escalation (nested role)"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

include_role
##### ANSIBLE VERSION

[code]

(branch stable-2.2)
##### CONFIGURATION

local roles and libraries location
##### OS / ENVIRONMENT

Master: Ubuntu 16.04.2
Managed: Rhel 6.6
##### SUMMARY

privileges are not pass to nested role
##### STEPS TO REPRODUCE

[code]

role_test_a/tasks/main.yml

[code]

role_test_b/tasks/main.yml

[code]
####

[2016-10-27 08:01] juanjomm commented on #5391
Perfect. I understand the complexity.
Thank you very much.

[2016-10-27 08:01] #5391 closed, assigned to nobody

[2016-10-27 08:25] bsodmike commented on #3760
@chouseknecht you rock 🎸

Easily spent about 4+ hours trying to debug why my build was failing, all I need is `pull=no`.  And yeah, I _had to_ go with slashes in my image names.

[2016-10-27 09:03] i5513 opened #5410 "Confuse ansible output executing script module ( it said about not ssh connection, but the script runned)"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

script module

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

I think I have not significative changes on default configuration
##### OS / ENVIRONMENT

Centos 7 and Debian Sid
##### SUMMARY

Perl script which crash (because it tries to access to something that not exist), make ansible to say it coud not connect with host
##### STEPS TO REPRO

[2016-10-27 10:24] henriklynggaard opened #5411 "Yum module reports OK despite package not installed"
##### ISSUE TYPE
- Bug Report
  ##### COMPONENT NAME
  Ansible core module: yum
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Have not made any changes, ansible installed via fedora 24 package manager as "dnf ansible"
##### OS / ENVIRONMENT

Fedora 24 Workstation
[vagrant@localhost aon_ansible]$ uname -a
Linux localhost.localdomain 4.5.5-300.fc24.x86_64 #1 SMP Thu May 19 13:05:32 UTC 2016 x86

[2016-10-27 10:44] missnebun commented on #2280
@tgerla @lwade another cool feature it will be to have MinCount option. I notice exact_count but if I use autoscailing and then run ansible all the instances that are over the exact_count number it will get terminate.
With MinCount ..... Let's say we set MinCount: 10 .... when ansible runs if there are over 10 instances then all good if there are only 6 instances then create another 4.

[2016-10-27 11:52] gerhard-tinned commented on #4780
It is not technically generating invalid files. Logically it is creating invalid files as the comments do not appear where they should. As the comments are not technically used for anything from ssh daemon, they are, strictly technically speaking, working.

The fact that comments stay in exactly the line they where before but the keys are reordered, causes keys and comments not to match up anymore

[2016-10-27 12:05] madarve commented on #2576
Can confirm the issue on v2.1.2.0-1

[2016-10-27 12:27] guenhter opened #5413 "Return codes for command-module whould be configurable"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

command-module
##### ANSIBLE VERSION

[code]
##### SUMMARY

Allowed return codes to be successful should be configurable in commands module
e.g. the command `grep` has three possible return codes: 0, 1, 2
but on only 2 signals an error.
So it should be possible, to configure 0 AND 1 as "good" return codes.

[2016-10-27 12:27] dimitrialexiou opened #5414 "S3 - Delete removes entire bucket instead of provided object"
##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

ansible/ansible-modules-core/amazon/s3.py

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No changes in ansible.cfg
##### OS / ENVIRONMENT

ami-c481fad3
Amazon Linux AMI 2016.09.0 was released on 2016-09-27
##### SUMMARY

The s3 module when used with the mode: delete, it is expected to throw an error when an object is defined. Instead it de

[2016-10-27 12:41] edgarmaloverian opened #5415 "group_by fails on integer values"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

group_by
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

if any key has numeric value, following is thrown:

An exception occurred during task execution. The full traceback is:
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/ansible/executor/process/worker.py", line 114, in run

[2016-10-27 13:43] #5396 closed, assigned to jctanner

[2016-10-27 14:20] jctanner commented on #5396
@gundalow we have fairly comprehensive unit tests for the function that was broken, but yeah we could definitely use an integration test.

[2016-10-27 15:32] markus-s24 opened #5418 "Add support for "default" privileges to postgresql_privs"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

postgresql_privs
##### SUMMARY

I would like to manage PostgreSQL "default" privileges with postgresql_privs too. E.g. using "ALTER DEFAULT PRIVILEGES..." instead of just "ALTER PRIVILEGES...". Suggestion: Add a parameter "default" with a default value of "false".

[2016-10-27 15:42] geerlingguy commented on #5109
Also, until 2.1.3 is released, if you installed via `pip`, run the following to go back to 2.1.1:

[code]

[2016-10-27 15:59] brutto opened #5419 "Passphrase protected private-key require to enter passphrase several times on one task to one host"
##### ISSUE TYPE
- Bug Report / Documentation Report
##### COMPONENT NAME

git
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

all default
##### OS / ENVIRONMENT

Use _Putty_ to _Centos 7.x_ via _Vagrant_ on _VM VirtualBox_ at _Windows10_
##### SUMMARY

I have passphrase-protected-ssh-private-key for access the private git repo. I copy this key to target host but every time i run ansible-git-ta

[2016-10-27 17:02] dgmorales opened #5420 "Unexpected token \r\n when running script module on windows target with environment var set on playbook"
##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

commands/script.py

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Only windows connection settings:
ansible_port= 5986
ansible_connection= winrm
ansible_winrm_transport= ntlm
ansible_winrm_server_cert_validation= ignore
ansible_user= Administrator
ansible_password= <redacted>
##### OS / ENVIRONMENT

Running from checkout on CentOS Linux re

[2016-10-27 18:07] bdowling commented on #5308
@AnsiNoob - I'm still in testing phases with ansible for network gear.  But I just ran a test across a handful of devices (devel branch).  I saw this trigger with 2, and more frequently with > 10 targets.

As Qalthos pointed out, the networking modules appear to be using paramiko client instead of the paramkiko_ssh wrapper that ansible uses for most activities.  I'm not clear on the history of thi

[2016-10-27 18:12] bcoca commented on #5413
This is what `failed_when` and `changed_when` are for

[2016-10-27 20:28] juju4 opened #5421 "[FeatureRequest] file module with recurse: differentiate file mode and directory mode, exclude options"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

file module

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ubuntu host to various guest
##### SUMMARY

When using file module with recurse, settings are set for all contents regardless of type.
Ideally, mode should be given the option to be set differently for file or directory like rsync
ex:

[code]

Also in many web tree, you have a

[2016-10-27 21:36] bdowling commented on #5308
Added upstream issue for reference.. https://github.com/paramiko/paramiko/issues/835

[2016-10-27 22:34] bdowling commented on #5318
@privateip fwiw, I was toying around with a few things here..  Banner seems a little different than the other command that have various prompts, since in this case just pasting the blurb should be enough to make it work.  I noticed that yaml could have a multi-line entry, so I tried working with | for the banner input.  Then I realized that ios_config was splitting this on newlines no matter what.

[2016-10-27 22:37] dgellow opened #5422 "Error: docker-py version is 1.10.5. Minimum version required is 1.7.0."
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_service
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Nothing relevant here
##### OS / ENVIRONMENT

From: MacOS
To: Debian 8
##### SUMMARY

I get the following error when I'm trying to use `docker_service`:

[code]

The error message doesn't make any sense, the minimum version is 1.7.0 and I have 1.10.5.
##### STEPS TO REPRODUCE

I se

[2016-10-27 23:58] ntfrnzn commented on #4752
With the current state, the documentation http://docs.ansible.com/ansible/unarchive_module.html should not contain an example, and perhaps should contain a warning.

[2016-10-28 01:01] privateip commented on #5402
@bdowling I agree with a lot of your thoughts here and we are planning to make some major changes in 2.3 to address this very issue.  Right now the network modules essentially provide an implementation that treats CLI over SSH as an API.  Moving to 2.3 that is all going to change in that CLI connectivity over SSH will be a true pluggable connection in Ansible.   This will allow us to decouple CLI

[2016-10-28 01:09] privateip commented on #5318
I have some working code that I hope to merge by weeks end that will address the banner issue.  The change focuses more on the specific banner use case by extracting from the config and candidate and doing the comparison and remediation independently of the rest of the config.  While this will fix the bug, one of my big items for 2.3 is going to be to clean up netcfg and integration multiline supp

[2016-10-28 02:17] bdowling commented on #5419
So you ran a ssh-agent locally and tried forwarding?  This would not work through become_user on remote because the SSH_AUTH_SOCK variable wouldn't pass into that sub environment by default, but if using sudo you could add this to /etc/sudoers  ...

[code]

I haven't tried this with ansible, but it should get you closer.

[2016-10-28 02:22] bdowling commented on #5419
Fwiw, not the first time this has been encountered... may want to read some of this https://github.com/ansible/ansible/issues/7235

[2016-10-28 06:35] robinro commented on #5328
@jimmymccrory Thanks for testing and reporting this bug.

Did your playbook work with previous ansible versions?

The usage of `with_items` is equivalent to 2 separate runs of the module. According to the error messages you posted the issue is that the underlying command does not accept either no mpm module at all or two mpm modules. So the module correctly fails since neither the disabling nor en

[2016-10-28 06:49] robinro commented on #5328
@n0trax What's your take on this issue?

[2016-10-28 07:37] mblarsen opened #5424 "file module directory mode with set-git flag (e.g 2755) in variable garbled"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

file
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Likely not relevant but:

[code]
##### OS / ENVIRONMENT

Running Ansible on macOS Sierra setting up Ubuntu 14.04.5 LTS
##### SUMMARY

When setting directory mode using a variable a value such as `2755` (that is with set gid flag) the mode turns into this:

[code]

If setting `mode: 2755` dir

[2016-10-28 08:43] jimmymccrory commented on #5328
@robinro Yes, this worked without issue until 2.2 with https://github.com/ansible/ansible-modules-core/commit/1eac4c560804161022f0bfbd071c3f6e05226b81 which changed how checking if a module was already enabled/disabled was done.

[2016-10-28 09:33] n0trax commented on #5328
@jimmymccrory the test was added to implement the check-mode for the apache module. Versions prior 2.2 does not have this test.

@robinro
How do you think we could enable / disable more than one module in one step?
IMHO it is the best to ignore the error in _module_is_enabled if 'force' is true.

offTopic:
The module check is actually done with `apache2 -M`, which is an alias for `-t -D DUMP_MODUL

[2016-10-28 10:10] brutto commented on #5419
@bdowling thanks for pointing! It helps me. That is my workaround

/etc/sudoers

[code]

ansible.cfg

[code]

tasks.yml (added before git task)

[code]

[2016-10-28 10:24] jmrenshaw commented on #5316
Thanks @paulbaker1985, this worked for me, in addition make sure you restart the ansible tower service after making the recommended change above.
ansible-tower-service restart

[2016-10-28 11:36] bbaassssiiee commented on #5053
@Jmainguy ping, there is a bug in mysql_user: that is waiting for your response. Please take a look at it.

[2016-10-28 12:37] Abdul-Anshad-A commented on #4249
I was able to reproduce both the issues reported on #4249 and #4743 in my environment.

issue #4249: Too many disks defined in comparison to the VM's disk profile.
    - Flushing vm properties cache after update_disks did the trick & dev_list had newly created disks.

issue #4743: when you create a new disk with thin type the disk is created in Thick Lazy Zeroed.
    - simply reading the vm[disk][

[2016-10-28 12:37] Abdul-Anshad-A commented on #4743
I was able to reproduce both the issues reported on #4249 and #4743 in my environment.

issue #4249: Too many disks defined in comparison to the VM's disk profile.
    - Flushing vm properties cache after update_disks did the trick & dev_list had newly created disks.

issue #4743: when you create a new disk with thin type the disk is created in Thick Lazy Zeroed.
    - simply reading the vm[disk][

[2016-10-28 13:07] ediskandarov-cur commented on #4516
+1

[2016-10-28 13:18] michaelgugino commented on #5328
@n0trax
I think the most correct approach would be to replace https://github.com/ansible/ansible-modules-core/blob/stable-2.2/web_infrastructure/apache2_module.py#L78

with a function that provides 'a2query' binary.  Proper switch for that module is '-m'.

[2016-10-28 13:21] jtognazzi commented on #5411
I also noticed this bug see [here](https://groups.google.com/d/msg/ansible-project/q2ylOE2usPw/VrPbyw9xBgAJ)

seems to be a duplicate of #5228

[2016-10-28 13:32] evrardjp commented on #5328
Agreed with @michaelgugino there.
Example: http://manpages.ubuntu.com/manpages/xenial/man1/a2query.1.html

[2016-10-28 14:07] salman1485 commented on #5308
Thanks for pitching in guys. Unfortunately this bug makes this module not very usable for production as usually Ansible in prod is used for multiple devices. With few failing randomly, every execution will need manual intervention and that is not good.

Let's see when we can find the fix for this ..

I'm going through code myself but I'm very new to all this.

[2016-10-28 14:20] rasselin commented on #3981
!needs_info
I'm not sure why ansibot added needs_info. Anyway, if there's no 'good' solution, the workaround is fairly straightforward. Just add the validate_certs on each os_\* module used. For example in ansible-role-cloud-launcher https://review.openstack.org/#/c/360675/
I wouldn't object to closing won't fix.

[2016-10-28 14:35] riccardomurri commented on #4472
Currently I use the following workaround: early in the playbook I set a variable
`__at__` to the value `'-'` on OSes that use `yum`, and to the value `'='` on
Debian/Ubuntu.

Then I call the package module like this::

[code]

(It's relatively straightforward, but may save someone a few minutes' time to
find it here.)

[2016-10-28 15:06] boudreau commented on #5372
on the router side the command does :

[code]

and on the switch side we could use "show memory | include Process" ?:

[code]

[2016-10-28 15:32] Qalthos commented on #5308
Fixing this properly is in the works for 2.3, but in the meantime, I have returned the key-checking behavior to what was there in 2.1, and not check or write to host key files. Let me know if this solves your problem.

[2016-10-28 15:52] cignul9 opened #5426 "[Feature Request] a set_fact interface that allows for a set_fact task looping with_dict"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

set_fact
##### ANSIBLE VERSION

ansible 2.1.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
##### OS / ENVIRONMENT

N/A
##### SUMMARY

I want my roles to share information from facts not discovered by setup.  Right now the only way to use set_fact is when the fact names are known at the time

[2016-10-28 15:56] robinro commented on #5328
@n0trax If you don't do the first check, you can't determine the changed state, which kills idempotency. I would then not call it `force`, but something even more drastic like `ignore_previous_state`.

Whatever solution we choose, it has to work with all distributions that are supported at the moment. opensuse 42.1 does not have `a2query` and also `apache2 -D DUMP_MODULES` does not work. It does p

[2016-10-28 16:19] bdowling commented on #5308
Are there any thoughts to implementing the equivalent of an ssh-keyscan within ansible to allow people to also enable/encourage them do stronger verification of host keys in their implementations of ansible?  e.g so the only updating of known_hosts is done by an admin (or at the least as a separate auditable task).

Savvy users could certainly do this outside of ansible, but given that ansible is

[2016-10-28 16:39] #5426 closed, assigned to nobody

[2016-10-28 16:44] ghost commented on #4887
Is there a chance we can get someone to help here?

[2016-10-28 17:25] darrenob commented on #3018
I have the same issue. Even when trying through an ad-hoc command:

[code]

On the host, it's been killed:

[code]

This only happens for 2 specific services, one of them shiny-server, the other a custom init script for an in-house java process. All other services can be managed ok by Ansible. Both of the bad ones restart ok manually on the host:

[code]

This not only happens with the service mod

[2016-10-28 18:45] a-panickar commented on #4857
+1

[2016-10-28 18:59] #5394 closed, assigned to nobody

[2016-10-28 20:09] welchwilmerck commented on #5144
Not observed on devel branch after submodule update.
`ansible 2.3.0 (devel 8331e915e0) last updated 2016/10/28 19:40:51 (GMT +000)
  lib/ansible/modules/core: (detached HEAD de7ec946e9) last updated 2016/10/28 19:48:00 (GMT +000)
  lib/ansible/modules/extras: (detached HEAD 8bd40fb622) last updated 2016/10/28 19:48:00 (GMT +000)
`

[2016-10-28 20:37] tknerr commented on #3752
another "workaround" if you are still using 2.1.0.0 is to supply the `--diff` flag:

[code]

[2016-10-28 21:40] ralfbergs opened #5429 "elasticache misses "Description" parameter"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

elasticache
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

From the AWS Console I can set a "Description" -- via this Ansible module I can't. So I would suggest to add this parameter.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expected that the module call would be run without any errors.
##### ACTUAL

[2016-10-28 21:42] #2280 closed, assigned to nobody

[2016-10-28 22:32] michaelgaribaldi opened #5430 "VLAN idempotency breaks with special case in eos_config"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

eos_config
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Using default config
##### OS / ENVIRONMENT

Ubuntu managing Arista
##### SUMMARY

 In this special case when multiple VLANS are created without a name (or the same name) associated to them, the "show run" of an Arista config puts them in one line such as "vlan 10-11". This breaks the

[2016-10-29 00:59] xenithorb commented on #52
I'm very interested in seeing this due to the use case provided in the example.

In order to protect against "special configs" which was mentioned in ansible/ansible#9006, what I think should be added is an "adjacency value", i.e. `adjacent_lines: [0-9]+`:
1. `adjacent_lines: 3`  -  Remove duplicates within a range of 3 lines above the last found regex

Ideally it would handle a range above, below

[2016-10-29 09:42] ahawkins commented on #5422
Hitting the same issue on 2.1:

[code]

[2016-10-29 09:49] mnieber commented on #2480
I could figure it out with the help of the above comments, but it still took me some time, so here's an example (note that it requires ansible version 2.1 or higher):

[code]

[2016-10-29 10:03] dgellow commented on #5422
@ahawkins FYI and if you're looking for a workaround, it seems to work with the combination of `docker-py v1.9.0` and `docker-compose v1.8.0`.
My ansible role is here if you want to check what I did: https://github.com/opspluslove/ansible-docker-compose

[2016-10-29 11:27] ahawkins commented on #5422
Thanks. For now I've just locked to ansible 2.0.2.0. The bug is not
happening there.

On Sat, Oct 29, 2016, at 03:33 PM, Samuel El-Borai wrote:

Links:
1. https://github.com/ahawkins
2. https://github.com/ansible/ansible-modules-core/issues/5422#issuecomment-257082919
3. https://github.com/notifications/unsubscribe-auth/AAC_IOCzF1h6m5MFkrXuoL0hwlcWFoVjks5q4xnkgaJpZM4Ki5i7

[2016-10-29 15:34] lukasojd commented on #902
+1

[2016-10-29 22:08] guenhter commented on #5413
Thanks. Exactly what i needed.

[2016-10-29 22:08] #5413 closed, assigned to nobody

[2016-10-30 02:06] naslanidis commented on #3180
Hi @willthames

I'd be willing to be a maintainer for the boto3 version of this module and can spare the time. I've not done much with earlier boto versions so it would be more difficult for me to maintain backwards compatibility but if that's not such a concern in Ansible 2.3 onwards then I'd be well suited to assisting.

[2016-10-30 03:43] juju4 commented on #4348
for reference, running privileged works, but not --cap-add=SYS_ADMIN

[code]

as seen here https://github.com/docker/docker/issues/7459
seems for cap-add need an unreleased docker.

[2016-10-30 15:07] robinro commented on #5328
needs_contributor
If someone has a suggestion how to solve this I'm open to it.

[2016-10-30 16:07] 0rzech commented on #3080
The same happens with Ansible 2.0.0.2.

[2016-10-30 18:39] juju4 opened #5433 "parsing oddity: escaping level different depending on distribution???"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

replace module but might be deeper level
##### ANSIBLE VERSION

installed inside container with python-pip

[code]
##### CONFIGURATION

Travis
##### OS / ENVIRONMENT

Travis with lxd container
##### SUMMARY

Fails on xenial
https://travis-ci.org/juju4/ansible-scumblr/jobs/171808676#L1365

[code]

but same code works with
trusty container: https:/

[2016-10-30 19:10] jeuniii opened #5434 "synchronize fails with become module"
#### ISSUE TYPE

Bug Report

#### COMPONENT NAME

synchronize

##### ANSIBLE VERSION

2.1.0.0

#### CONFIGURATION

Default

#### OS / ENVIRONMENT

RHEL 6.7

#### SUMMARY

I am trying to use the synchronize module to copy file from Ansible node to remote node. I want these files to exist as UserB on the remote nodes but I do not have access to UserB directly. Instead UserA has sudo privileges to sw

[2016-10-30 23:00] d3v1an7 opened #5435 "docker_service "Failed to import docker-py""
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_service

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No custom config
##### OS / ENVIRONMENT

OS X 10.11.6
##### SUMMARY

Ansible unable to locate docker-py, even though it's installed (see version output below).

**Versions:**

[code]

[code]

[code]
##### STEPS TO REPRODUCE

See example playbook:

[code]
##### EXPECTED RESULTS

d

[2016-10-30 23:04] d3v1an7 commented on #5435
FYI, the error when running the same playbook with Ansible  2.1.2.0 is the following:

[code]

And yep, `pyyaml` is definitely installed :)

[code]

[2016-10-31 07:27] Abdul-Anshad-A commented on #4249
@christiancruz11 @tklo If you guys could confirm whether the issue is resolved with the above script, I will open a pull request to have the change merged.

[2016-10-31 07:29] Abdul-Anshad-A commented on #4743
@ikkaro @alin-rba If you guys could confirm whether the issue is resolved with the above script, I will open a pull request to have the change merged.

[2016-10-31 08:04] Abdul-Anshad-A commented on #4942
@ronator I have raised a pull request to handle snapshot operations with vsphere_guest and its pending on maintainer's review. Meanwhile, can you help me out with testing the changes ? You will find more instruction on pull request #5390

https://github.com/Abdul-Anshad-A/ansible-modules-core/blob/snapshot_ops/cloud/vmware/vsphere_guest.py

[2016-10-31 08:36] gundalow commented on #5308
@bdowling interesting idea. To avoid mixing bug reports with feature enhancements could you please raise you idea on the Ansible mailing list. Thanks.

[2016-10-31 09:48] weiwei100 commented on #4857
+1

[2016-10-31 11:58] shaharmor opened #5438 "ec2_ami state:absent wait:yes should wait for AMI to be removed"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ec2_ami

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
`ec2_ami` module with args:
1. `state: absent`
2. `wait: yes`

should wait for AMI to be fully deregistered before continuing.

[2016-10-31 13:49] davey-dev commented on #2951
This suddenly just started happening to me on Ubuntu 14.04. Was working flawlessly before now.

[2016-10-31 14:12] michaelgugino commented on #5328
@robinro

Here's an approach I think will work:

Use a2enmod or a2dismod for the requested action (no pre-check needed).

Check for 'Module <module name> already enabled' or 'Module mpm_event already disabled' respectively.

This should cover all use cases, as long as stdout message is the same between distros.  I'm happy to cut a patch for this if needed.

[2016-10-31 14:24] anton-dealmeida opened #5439 "Ansible 2.2.0 Unarchive sudden unexpected results"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

unarchive
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I've been using this script and all since Ansible 2.1, I moved onto 2.2 rc1 2 weeks ago and this has been working well for setting up new environments. Suddenly today it Unzip's into 2 random folders and Unarchive does not extract to /var/www/

[2016-10-31 14:26] akmetainfo opened #5440 "yum list installed doesn't show source repo"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- yum

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Host: CentOS7
Managed: CentOS7

##### SUMMARY
no repo name is provided for yum list=installed

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

Also: compare with `yum list installed` in command-line:
[code]

[2016-10-31 14:29] aleksandr-vin opened #5441 "`postgresql_user` module does not treat quoted identifier well"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`postgresql_user` module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`$ cat ~/.ansible.cfg`:
[code]

`env | grep ANSIBLE_`:
[code]

##### OS / ENVIRONMENT
OS running:
[code]

OS managing:
[code]

##### SUMMARY
When using `postgresql_user` module with quoted identifier, then checks fail (because of regexp) and the task is always *changed*

[2016-10-31 14:29] akmetainfo commented on #5440
See [repoid is const always](https://github.com/ansible/ansible-modules-core/blob/f9fada7db09d48cc721738e0444d8f2cfd0a9e1c/packaging/os/yum.py#L552)

This will be appropriate too:

##### EXPECTED RESULTS

[code]

[2016-10-31 14:58] romain-dartigues commented on #4885
I'm also interested in a development of this feature.
I started to patch `mount.py` on my side, but I need community input for the design of the options... Does a PR related to this issue would help?

Related to ansible/ansible-modules-extras#3345

Regards.

[2016-10-31 15:34] dagwieers commented on #5439
Could you try using two tasks instead ?
One using the **get_url** or **uri** module and the second doing the unarchive (using a local file) ?

[2016-10-31 15:48] ddoskind commented on #2568
FWIW, we had a similar issue—in our case the problem was that the pip module, in [_get_pip](https://github.com/ansible/ansible-modules-core/blob/devel/packaging/language/pip.py#L265), creates a list of paths where to look for pip, starting with the virtualenv directory if set. But the binary names it looks for in these paths also are in a list, with `pip2` as the first entry. So as soon as `pip2`

[2016-10-31 15:58] ddoskind commented on #2568
I just noticed that `pip2` was only recently added to the list of pip binaries to search for (6f15dfd464549cbaecc99fd50dd61d013af5d74f), so our case is probably not directly related to the ones above.

[2016-10-31 16:02] ebeahan opened #5444 "Update ios_facts documentation to include provider dict in examples"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

ios_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Suggestion to update the ios_facts documentation to include the provider dict `cli` in the example section to be consistent with `ios_config` and `ios_command` documentation.

Proposed Example:

[code]

##### STEPS TO REPRODUCE

N/A

[2016-10-31 16:03] ddoskind commented on #2568
Actually there's already a PR for that: #5359. I'm sorry for spamming this issue 😭

[2016-10-31 16:09] robinro commented on #5328
@michaelgugino
I don't think this approach will work without a lot of extra trouble.

Have a look at the discussion and diff at
https://github.com/ansible/ansible-modules-core/pull/2417/files
and the issues mentioned in the first message there.

It turns out the stdout content depends on the distribution, see e.g. https://github.com/ansible/ansible-modules-core/pull/2091/files

Then for some modul

[2016-10-31 16:37] akmetainfo commented on #5440
This will be appropriate too:

##### EXPECTED RESULTS
[code]

[2016-10-31 16:56] michaelgugino commented on #5328
@robinro
What I'm proposing will not necessarily conflict with existing behavior.  The check of condition will still happen, it will just be determined at the time that the module is enabled or disabled.

I think parsing the stdout (not the return code, return code is 0 for already enabled/disabled) is a good compromise if some distros don't ship a2query.

I think adding the re checks to stdout fr

[2016-10-31 17:24] robinro commented on #5328
@michaelgugino I just wanted to make sure you are aware of the previous issues, so that we don't spend time on regressions.

Please open a PR so we can discuss your suggestions more concretely.
Please also create a test case for this issue (see https://github.com/ansible/ansible/blob/devel/test/integration/targets/apache2_module/tasks/actualtest.yml).

[2016-10-31 18:11] cherusk commented on #4885
**Got it working** in the meantime, though a little **awry**:

[code]

[2016-10-31 18:27] n0trax commented on #5328
@michaelgugino this sounds interesting. With this idea we have the check mode working and we don't have to deal with this apache error.

[2016-10-31 18:50] 399a36c3b7 opened #5445 "Unarchive module not working with "mode" option set and tar.gz archives"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
unarchive

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Unarchive does not work with `mode:` options set for a tar.gz archive, seems to work fine for a sample zip archive.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

[2016-10-31 19:39] jctanner commented on #2951
Related:
http://askubuntu.com/questions/561276/my-repos-became-corrupted-unable-to-parse-package-file
https://answers.launchpad.net/ubuntu/+source/apt/+question/267919
https://bugs.launchpad.net/ubuntu/+source/apt/+bug/346386

[2016-10-31 19:39] tima commented on #5434
@jeuniii This seems like a configuration problem on your boxes and not anything to do with Ansible or the synchronize module per se. http://unix.stackexchange.com/questions/122616/why-do-i-need-a-tty-to-run-sudo-if-i-can-sudo-without-a-password

notabug

[2016-10-31 19:42] #5434 closed, assigned to nobody

[2016-10-31 19:59] tima commented on #5385
@ffledgling I think the problem may be that you're using localhost that's not a recommended practice. Because of this it seems local is winning out over making a remote connection as you want. Have you tried forcing the connection type to smart or ssh? Have you tried giving this alias a different name like local_vm?

needs_info

[2016-10-31 20:00] asifiqbal commented on #3056
Any chance to make choosing a folder more flexible than only below subdir of the template?

[2016-10-31 20:24] EvanK commented on #3256
@ansibot This will be resolved_by_pr #4487 -- marked for inclusion but not yet merged

[2016-10-31 20:29] jctanner commented on #2951
I am able to reproduce the bug by injecting noise into one of the package list files ...

[code]

[code]

[2016-10-31 20:33] tima commented on #4446
duplicate_of https://github.com/ansible/ansible/issues/17097

[2016-10-31 20:42] EvanK commented on #5433
This is a wild guess, but it may have something to do with ansible's yaml parsing of the playbook. You could simplify the quoting (and do away with the need for escaping quotes) by using the long form for a task this complex:

[code]

[2016-10-31 20:45] EvanK commented on #5433
Also worth noting that yaml's odd escaping of single quotes is not accomplished with backslashes (`'that\'s wrong'`), but rather an _extra_ single quote (`'that''s right'`)

[2016-10-31 20:55] #4446 closed, assigned to nobody

[2016-10-31 21:15] yamatt opened #5446 "docker_container module doesn't match existing container when entrypoint is used"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`docker_container`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

Linux/Fedora 22

##### SUMMARY

When running a task with an `entrypoint` parameter, a docker container is destroyed and recreated each time after the first time it is run.

##### STEPS TO REPRODUCE

Fill in the variables and run this twice:
[c

[2016-10-31 21:39] romain-dartigues commented on #4885
Nice, but it doesn't `swapon` it for you :^)
I would have liked a similar comportment than if it was a regular filesystem, especially to be able to treat swap and other FS in the same way in a `with_item` directive, for example.

[2016-10-31 21:47] jctanner commented on #2951
My final testcase used to write #5448 ...

[code]

[2016-10-31 22:48] juju4 commented on #5433
Thanks @EvanK for the detailed feedback. Will do the change.

Still, an idea why one platform fails lint and not the others?
I understand quoting might have been too much here but in all test/prod instance except this one, it worked...

[2016-10-31 23:46] peterbsmyth commented on #4857
+1

[2016-10-31 23:55] naslanidis commented on #4857
In case people aren't aware, wimnat started modules for ALB and associated target groups and I've proposed some additions. The working versions are here I've been working on have now been added as PR's for wimnat to review but others can test/use them.

https://github.com/wimnat/ansible-modules-extras/pull/3/
https://github.com/wimnat/ansible-modules-extras/pull/4/

[2016-11-01 07:14] Abdul-Anshad-A commented on #4755
@lglussen I have raised a pull request which fixes the foresaid issue in vsphere_guest and its pending on maintainer's review. Meanwhile, can you help me out with testing the changes ? You will find more instruction on pull request #5423

https://github.com/Abdul-Anshad-A/ansible-modules-core/blob/issue_4755/cloud/vmware/vsphere_guest.py

[2016-11-01 09:04] aderixon commented on #5296
I believe the PR implements the correct behaviour in the general case and it does work correctly, but unfortunately my example above fails as MySQL still isn't fully up and responding when svcadm restart returns. I suspect this is just the way SMF and MySQL interact. Inserting a one second pause in the playbook after the restart works around this.

[2016-11-01 09:13] hoall commented on #4982
Hello,

since version 2.1 really seems to be stable, I would appreciate if you could fix this bug. It seems like the user module doesn't have an active maintainer anymore.

@abadger I'm sorry to mention you directly, but you seem to be the most active maintainer and it would be nice if you could take a look or ask someone to do it.

[2016-11-01 10:24] zepag commented on #5144
ok, will try to reproduce on 2.2.x recent branches.

[2016-11-01 11:12] mgedmin commented on #5347
This also affects Ansible 2.2.0: the `pip` module uses `/usr/bin/pip2 list` instead of `bin/pip` or `bin/pip-2.7` from my virtualenv.

[2016-11-01 11:53] valentin-nasta commented on #902
+1

[2016-11-01 14:37] #5347 closed, assigned to abadger

[2016-11-01 14:43] abadger commented on #5347
Fix applied to devel and stable-2.2 branches.  Will be in the 2.2.1 release.

[2016-11-01 15:03] steflsd commented on #5196
(Solved, see edit below)

Hi,

I am using Mac OS with Python 3.5 from brew.
I have installed ansible via pip.    ansible (2.2.0.0)
I have apache-libcloud (1.3.0) installed with pip.

I am getting -  FAILED! => {"changed": false, "failed": true, "msg": "libcloud with GCE support (0.17.0+) is required for this module"}

During the ansible run I print out the PYTHONPATH. Ansible is using python3.5

[2016-11-01 15:50] Freyert commented on #4246
I thought the behavior of Ansible was that it _packaged_ all the dependencies necessary to run a module on a remote host and then shipped it up. Thus negating the need to install and manage module versions across all the hosts.

---

but yeah, if you do install docker-py on the servers you're managing it changes the error message to a crazy one.

[2016-11-01 15:52] LennyLip commented on #261
same error, when 'sudo' is not installed on target system

[2016-11-01 16:03] EvanK commented on #5433
I honestly haven't a clue, but I'm confident that whatever is happening is deeper into the internals than the replace module, since [it just grabs the params it's given from the module common code](https://github.com/ansible/ansible-modules-core/blob/d2106f1c929908aaeaeb53a77f71a1b9b0d59049/files/replace.py#L120-L130)

The only other difference I see between those travis builds is a missing crypto

[2016-11-01 16:44] juju4 commented on #5433
No problem. Thanks.

[2016-11-01 16:44] #5433 closed, assigned to nobody

[2016-11-01 17:44] #5296 closed, assigned to bcoca

[2016-11-01 21:00] thaumos commented on #3444
I did a test on 2.2, and this worked for me on both create and delete.

@chrisweaver, can you confirm also?

[2016-11-01 21:23] brantlk opened #5455 "apache2_module fails for libapache2-mod-proxy-uwsgi"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apache2_module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
A playbook that was working with ansible 2.1.2.0 started failing when 2.2.0.0 was released. The playbook:

1) apt installs a bunch of packages, including apache2, libapache2-mod-proxy-html, and libapache2-mod-proxy-uwsgi, uw

[2016-11-01 21:28] #3256 closed, assigned to nobody

[2016-11-01 22:14] i5513 commented on #5410
Finally it is a ssh + perl problem it has not to be with ansible.

ssh return 255 when it cannot connect to the host
perl return 255 when it cannot compile its code

So ssh is returning 255 even when it could connect to the host

I think this issue can be closed in ansible (only ugly workarounds could be possible)

Well, I think ansible could return the stdout and the stderr from ssh command, and

[2016-11-01 22:14] #5410 closed, assigned to nobody

[2016-11-01 22:15] #5163 closed, assigned to bcoca

[2016-11-01 23:30] #2951 closed, assigned to jctanner

[2016-11-01 23:46] thenano opened #5456 "docker_service not working as expected on 2.2.0"
Hi,

Sorry if I'm making some sort of mistake, I can't find any reference to this issue and don't konw how to fix it. I'm using the same configuration that works with ansible 2.1.0, but it fails with ansible 2.2.0

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_service

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no specific config

##### OS / ENVIRONMENT
running from multiple OS

[2016-11-02 01:26] #3865 closed, assigned to nobody

[2016-11-02 05:47] adrianhowchin commented on #159
Why is this issue closed? It is a legitimate request, and would be very helpful for me too.

[2016-11-02 08:10] aerosol commented on #5116
I'm also facing this issue. I have a feeling it comes from the openstack platform I'm provisioning against and has little to do with local libs, since I can't run a playbook that worked last week and no local changes have been made :rage2:

@bryfry have you found anything?

[2016-11-02 08:34] aerosol commented on #5116
@bryfry oddly enough, downgrading `shade` locally pushed this a little bit forward for me

`pip install -I shade==1.11.1`

[2016-11-02 08:35] #4223 closed, assigned to privateip

[2016-11-02 08:57] macolo commented on #5347
in the meantime I fixed my failing deploy scripts (!!) by setting the `executable` option for the pip module: `pip: requirements={{ project_root }}/requirements.txt executable={{ project_venv }}/bin/pip state=latest`

[2016-11-02 10:18] gsempe opened #5457 "Git module fail to checkout by tag"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

git
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]
##### SUMMARY

##### STEPS TO REPRODUCE

Checkout a git version by tag, it fails the first time, works the second time

[code]

##### EXPECTED RESULTS

The expected result is obtained by calling again the command right after the first try fail with the error

[2016-11-02 10:21] robinro commented on #5455
@brantlk Thanks for reporting this issue.

The core of the problem is the upstream package.
If I run `apt install apache2 libapache2-mod-proxy-html libapache2-mod-proxy-uwsgi` I get

[code]

So the official installation leaves apache in a state where it can not be started. Please report this bug to ubuntu.
There is a related bugreport (and supposed fix) in debian: https://bugs.debian.org/cgi-bin/b

[2016-11-02 10:22] robinro commented on #5328
Please also have a look at #5455 when you try to fix this issue. Maybe we can have a general workaround for broken apache configs/inconsistent state.

[2016-11-02 10:26] #5455 closed, assigned to nobody

[2016-11-02 10:34] cbvkudupudi commented on #3404
Thank you.  Ran into same issue, @robusto fix worked.

[2016-11-02 10:41] m-messiah opened #5458 "pip does not working with virtualenv"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

pip
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

Debian Jessie

##### SUMMARY

PIP does not work with pyvenv-3.5 after update to ansible 2.2

##### STEPS TO REPRODUCE

Task
[code]

##### EXPECTED RESULTS

Successful update of pip and others in /www/env/site virtualenv

##### ACTUAL RESULTS

Fails on update

[2016-11-02 10:42] ikkaro commented on #4743
@Abdul-Anshad-A  the new disk is created in thin type. This part is fine.

[2016-11-02 11:03] danilo404 commented on #5458
I had the same issue yesterday, it seems that the task is ignoring the virtualenv parameter. To work around it, I removed virtualenv_command and passed the pip executable directly `executable={{ app_root_directory }}/env/bin/pip`

[2016-11-02 11:05] m-messiah commented on #5458
@daniloriecken nice workaraund, but it would not work with creation of virtualenv.
So, my workaround is downgrade ansible =(

[2016-11-02 11:13] adamchainz commented on #5458
For me on an existing install I found it fails at upgrading `pip`, not `setuptools` or `wheel`, because it seems to be trying to upgrade the system-wide `pip`.

@m-messiah you can work around creating a virtualenv with something like:

[code]

[2016-11-02 13:43] JeffreyDevloo opened #5459 "[Ubuntu 16.04 - ansible 2.2.0.0] apt-module throws KeyError: 'changed'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Changed the path.

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
Cannot install packages using apt-modules.

##### STEPS TO REPRODUCE
- Setup playbook with apt
- Run playbook

[code]

##### EXPECTED RESULTS
Module will throw a python KeyError causing the playbook to fail.

##### ACTUAL

[2016-11-02 14:09] snakelab commented on #2331
FYI: I got the same error with ansible 2.3.0., but if i create a local "library"-dir with the hostname.py copied in, it works.

[2016-11-02 14:09] Hyunk3l commented on #2576
+1 same issue here

[2016-11-02 14:11] richbolen commented on #3804
FYI - I'm seeing this issue in ansible 2.0.1.0 running on linux and would love a fix/workaround.  I can upgrade ansible if necessary

[2016-11-02 14:16] michaelgugino commented on #5328
@robinro It looks like my patch will fix this issue as well, except for when running check_mode.  That's probably an edge case that we can live with until ubuntu fixes their packages.

[2016-11-02 14:50] lbchv commented on #5171
+1
Faced with the same issue on ansible 2.2.0.0.
Same playbook was executed on two hosts: on the first - success executed, on the second failed with error above.

[2016-11-02 15:33] mdsummers commented on #4229
I'm no longer seeing this issue in ansible 2.1.2.0 from EPEL on el7

[2016-11-02 16:00] romain-dartigues commented on #159
@adrianhowchin < I understand the feature has been merged through ansible/ansible#14332 and will (hopefully) be available in ansible 2.2.
I'm waiting for it too.

[2016-11-02 17:58] Abdul-Anshad-A commented on #4743
@ikkaro Thank you. I will wait for the confirmation on issue #4249 and if things are good, I will open a pull request to get the change merged.

[2016-11-02 18:31] alanroche opened #5460 "cloudformation module on Ansible 2.2.0 throws "PhysicalResourceId" error intermittently."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
cloudformation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 14.04
##### SUMMARY

cloudformation module on Ansible 2.2.0 throws "PhysicalResourceId"  error intermittently.

##### STEPS TO REPRODUCE

Push a stack with Ansible cloudformation module on Ansible 2.2.0

[code]

##### EXPECTED RESULTS

##### ACTUA

[2016-11-02 18:57] tedder commented on #5460
What's your boto version where this is running? For what it's worth, 2.3 will have a completely rewritten module using boto3.

[2016-11-02 21:01] ssenaria commented on #5109
Was banging my head for 2 hours trying to figure out why I ran into this issue. If i use the cron module with `cron_file` it works perfectly. Otherwise, this error gets thrown.

[2016-11-02 21:25] ebmarquez opened #5462 "dellos9_command ansible hangs after reload command issued to remote device."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
dellos9_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT
[code]

##### SUMMARY
Create a task where the dellos9_command can issue a remote reload of the switch. Ansible will never timeout after the switch has rebooted.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code

[2016-11-02 22:15] Thingee commented on #5289
I hear what @j2sol is saying. All interfaces give some way of doing this, and this is the modules way of doing things. It's also good to see we have this covered in our [documentation example](http://docs.ansible.com/ansible/os_security_group_rule_module.html#examples) already.

Horizon for example shows a single port field or the ability to select port range. OpenStackClient allows both a single

[2016-11-02 22:58] omgjlk commented on #5289
If I understand it right, @Thingee you are advocating for adding a single port option to the module?

I wouldn't block it being added, I just don't like "fixing" UX issues of a given API in all the various downstream consumers, instead of just fixing the UX issue directly. But that's one hell of a windmill to tilt against.

[2016-11-02 23:01] Thingee commented on #5289
I actually wasn't advocating for the change. More just say each interface has their own way of dealing with the problem.

[2016-11-03 02:58] LukeDRussell commented on #4396
Hi there, sorry for the delay in testing this.

What I have found indicates there is still problems with ios_facts and older cisco devices.

[code]

[code]

[2016-11-03 03:00] LukeDRussell commented on #4396
Also, this is a different thing, but not sure if it happens before or after the LLDP check.

Would you like a separate issue for this one?

[code]

[code]

[2016-11-03 03:00] LukeDRussell commented on #4396
[code]

[2016-11-03 05:04] leewin12 opened #5464 "haproxy module fails with unknown type 'itertools.imap'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- haproxy
- ansible_modlib.zip/ansible/module_utils/basic.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None
##### OS / ENVIRONMENT

None
##### SUMMARY

HAproxy module also return `itertools.imap`  as well as cloudformation module (https://github.com/ansible/ansible-modules-core/issues/4867), but the patch does not apply to globally.

[2016-11-03 05:15] #5464 closed, assigned to nobody

[2016-11-03 05:36] skg-net commented on #5462
@ebmarquez Thanks for reporting the issue, will look into this and get back.

[2016-11-03 08:52] gdelpierre commented on #4029
Same as @mrgnr , name is not a required parameter.

[2016-11-03 08:58] alanroche commented on #5460
Now that you mention it, we did upgrade boto to a newer version recently...

## $ pip show boto

Name: boto
Version: 2.43.0
Location: /usr/local/lib/python2.7/dist-packages
Requires:
$

[2016-11-03 09:06] alanroche commented on #5460
FYI We also have boto3 installed side by side

## $ pip show boto3

Name: boto3
Version: 1.4.0
Location: /usr/local/lib/python2.7/dist-packages
Requires: jmespath, botocore, s3transfer
$

[2016-11-03 09:08] alanroche commented on #5460
and botocore....

## $ pip show botocore

Name: botocore
Version: 1.4.26
Location: /usr/local/lib/python2.7/dist-packages
Requires: docutils, jmespath, python-dateutil
$

[2016-11-03 09:09] alanroche commented on #5460
If something has changed in boto2. - we can pin the boto2 version as a workaround until fixed

[2016-11-03 09:31] benoahriz commented on #3719
same issue encountered.  Using a manual pull using shell module to work around :(

[2016-11-03 10:13] shaharmor commented on #4255
Same issue here

[2016-11-03 11:23] #4996 closed, assigned to nobody

[2016-11-03 11:51] johnnynotsolucky opened #5466 "NameError when running docker_login task against Docker Hub"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_login

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
 - OS X 10.11.6
 - Linux 4.4.23-31.51.amzn1.x86_64 x86_64

##### SUMMARY
docker_login module throws a `NameError` when validating the task parameters for Docker Hub authentication.

##### STEPS TO REPRODUCE
Run a docker_login task

[code]

##### EXPECTED RESU

[2016-11-03 13:19] NL9 opened #5468 "Ansible apt ignore cache_valid_time value"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

apt
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible.cfg:
[defaults]
hostfile = hosts

##### OS / ENVIRONMENT

OS you are running Ansible from: Ubuntu 16.04
OS you are managing: Ubuntu 16.04
##### SUMMARY

After upgradig to ansible 2.2 I always get changes in apt module because it ignore **cache_valid_time** value.
##### STEPS TO RE

[2016-11-03 13:33] Abdul-Anshad-A commented on #4249
@ikkaro has confirmed that issue #4743 is resolved, holding up until someone( @christiancruz11 @alikins @cbrinley @tklo ) confirms issue reported on this PR.

[2016-11-03 13:44] sirkjohannsen commented on #2480
Seems like it's broken again in 2.2

[2016-11-03 13:45] abadger commented on #4420
A fix to the build-dep functionality went into 2.2.0 that may fix this.
The fix was for packages that have a source package but no binary package
of that name.  Could you please give 2.2.0 a try and see if this problem
has been resolved?

needs_info

[2016-11-03 13:56] romain-dartigues opened #5469 "docker_service: api_version related problems"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
* docker_service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ansible.cfg:
[code]

##### OS / ENVIRONMENT

ansible target:

* Ubuntu Trusty
* docker-compose==1.7.0 and 1.9.0

##### SUMMARY

I'm unable to use the `docker_service` module because the `docker-compose` client version is incompatible with the server.
Setting the `api_version` e

[2016-11-03 14:23] abadger commented on #5422
This should be fixed in 2.1.x by b5c95ea6fa4b2fa1f27a9c4d87d093366ba7ea3c (which will be in 2.1.3, currently in the release candidate process.  Release candidates can be downloaded here: http://releases.ansible.com/ansible/ ).  It is also fixed in 2.2.0 which was recently released and should be available from pypi, http://releases.ansible.com/ansible/ and also being picked up by distribution packa

[2016-11-03 14:23] #5422 closed, assigned to nobody

[2016-11-03 14:35] lig opened #5470 "pip module doesn't use proper pip executable from virtualenv"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
pip_module

##### ANSIBLE VERSION
[code]
Could affect 2.1 also

##### OS / ENVIRONMENT
CentOS 7

##### SUMMARY
pip module uses `/bin/pip2` instead of the one from the virtualenv when virtualenv is specified and is newly created.
This result for example in that it unable to upgrade pip inside the virtualenv with the error
[code]
because it tries

[2016-11-03 14:52] romain-dartigues commented on #5469
## Edit

I just found I installed `docker.io` instead of `docker-engine`; everything seems to work fine with the latter (and ansible 2.2 with docker-compose 1.7.0).

Should this be classified as a documentation improvement instead of a bug?

[2016-11-03 15:18] lig commented on #5470
actually reproduces on any venv including previously created one

[2016-11-03 15:38] #5299 closed, assigned to nobody

[2016-11-03 15:54] jhart1685 opened #5472 "Service module no longer works with async"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
service module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Ubuntu 14.04 (but probably many others)

##### SUMMARY
On Ansible 2.1 , async could be specified on tasks using the `service` module. This was extremely useful to avoid playbooks from hanging if a service start did not return in a reasonable amount of t

[2016-11-03 16:23] sivel opened #5474 "yum module doesn't validate that RPM could be downloaded before reading"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME
`yum`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The `yum` module, in `fetch_rpm_from_url` does not attempt to validate that the request made and returned by `fetch_url` was successful, and instead immediately tried to `read` from that response causing:

[code]

##### STEPS TO REPRODUCE

Try

[2016-11-03 16:36] lig commented on #5470
Doesn't reproduce in ansible 2.1.2.0

[2016-11-03 16:50] lig commented on #5470
I think I might found the bug https://github.com/ansible/ansible-modules-core/commit/d2106f1c929908aaeaeb53a77f71a1b9b0d59049#commitcomment-19682440

[2016-11-03 17:02] laurentribot opened #5477 "include_role doesn't work with with_items and multi host"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Master: Ubuntu 16.04.2
Managed: Rhel 6.6

##### SUMMARY
include_role doesn't work with 'with_items' and multi host vars

##### STEPS TO REPRODUCE
Playbook
[code]
roles/role_test/tasks/main.yml
[code]

hosts:
[code]

host_vars/host1/main.yml
[code]
host_va

[2016-11-03 17:15] abassanini opened #5478 "Copy Module Fails with relatively large files"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Copy module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
[code]

##### SUMMARY
When trying to copy a large file (jdk installer 195Mb) the copy module fails, but works perfectly with small files (conf files for example)

##### STEPS TO REPRODUCE
Run an ad-hoc command with the large file

[code]

##### EXPECTED

[2016-11-03 17:53] c-mart opened #5479 "Inconsistent behavior of a host group passed to with_items in 2.2 release?"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
with_items, host groups

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
https://github.com/cyverse/openstack-ansible-host-prep/blob/master/ansible/ansible.cfg

##### OS / ENVIRONMENT
Ubuntu 16.04 LTS

##### SUMMARY
My organization uses [a role](https://github.com/cyverse/openstack-ansible-host-prep/tree/master/ansible/roles/host-credentials)

[2016-11-03 18:34] fxfitz opened #5480 "Windows Setup Module Doesn't Work If Running As SYSTEM"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Windows setup module (setup.ps1)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Not applicable.

##### OS / ENVIRONMENT

Not applicable.

##### SUMMARY
In commit 6225614d5fa73a9182e7b7fa8d8d7d8fa8e00c56 (PR #3777), additional properties were to the the facts that Ansible gathers for Windows to bring them more in line with what Unix machi

[2016-11-03 19:21] chriskarel opened #5481 "User module creates home directory for existing user with incorrect SELinux types and permissions."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
User module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing unusual

##### OS / ENVIRONMENT
OEL/RHEL 7

##### SUMMARY
Using the user module on an existing user, but changing their home directory, results in the new home directory created with improper filesystem permissions and SELinux types.

##### STEPS TO REPRODUCE
Have an exist

[2016-11-03 19:24] resmo commented on #5415
I can reproduce on devel

[2016-11-03 19:38] logan2211 opened #5483 "junos_config broken configurations and idempotency"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
junos_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Roles, plugins, inventory paths.

##### OS / ENVIRONMENT

CentOS 7 managing a Juniper EX3300 stack running 12.3R8.7

##### SUMMARY
The junos_config deploys broken/inconsistent configurations every time I run it.

##### STEPS TO REPRODUCE

Starting with blank port configuration:
[cod

[2016-11-03 19:39] resmo commented on #5415
resovled_by_pr https://github.com/ansible/ansible/pull/18345

[2016-11-03 20:12] indispeq commented on #2118
Hi, I am having the same issue with `shade==1.12.1`  . I am using Rackspace Private Cloud with openstack Kilo and have OS_ENDPOINT_TYPE = internalURL defined, but server creation times out with an error saying it cannot reach http://public-ip:8774/v3/xxx . I have tried looking in the code where this override happens. It seems like it is taking the PublicURL field by default and not checking if the

[2016-11-03 21:00] indispeq commented on #2118
Just as an FYI, since it was RPC and we do not hit it from the public IP, I used the openstack client to set the endpoint URLs for public to the internal IP used by admin and internal and this way I can launch an instance. This further shows that it is indeed taking publicURL and OS_ENDPOINT_TYPE is not taken into account.

[2016-11-03 21:02] sbrueseke opened #5484 "apt update_cache creates "changed" since ansible 2.2"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apt

##### ANSIBLE VERSION
ansible 2.2.0.0 (stable-2.2 b229898f80)

##### CONFIGURATION
none

##### OS / ENVIRONMENT
Debian 8 64bit

##### SUMMARY
In ansible 2.1.3.0 using the apt module with update_cache: yes created an "ok" when deb package was already installed.

In ansible 2.2.0.0 (stable-2.2 b229898f80) the same task is creating a "changed"

[2016-11-03 21:11] kkarimi commented on #2192
@defionscode this bug still exists, any news? thank you

[2016-11-03 21:32] ebmarquez opened #5486 "Nxos_reboot ends in timeout error when it's successfull"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_reboot
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
hostfile=localstage
#hostfile=mas-b43
ansible_ssh_user=admin
ansible_ssh_private_key_file=/home/emarq/.ssh/masd-rsa
host_key_checking=False

##### OS / ENVIRONMENT

Linux rr1masdansible 4.4.0-45-generic #66-Ubuntu SMP Wed Oct 19 14:12:37 UTC 2016 x86_64 x86_64 x86_64 GN

[2016-11-03 21:48] GGabriele commented on #5486
From nxos_reboot docstring:

[code]

[2016-11-03 21:51] resmo commented on #5484
This was explicitly implemented here https://github.com/ansible/ansible-modules-core/commit/9b2ee881d9470e1db0c3c7eef4cbb2fa28002db2#diff-9a59e06d4a12ceb05b4e5d01c271f1b3R885 /cc @cloudnull

I am not sure whether this is a bug or not.

~~IMHO `apt: pkg=hello update_cache=yes` would **not** always report changed. Only if apt indexes has changed.~~ No it always updates.

With `apt: update_cache=yes`

[2016-11-03 22:17] jsok opened #5488 "ini_file create option break backwards incompatibility"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
`ini_file`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY

Previous to 2.2, `ini_file` would create the `dest` file if it did not exist. However with the introduction of the `create` option in 2.2 this breaks backwards incompatibility since any module which previously assumed the `dest` would be cr

[2016-11-03 22:18] resmo commented on #5484
resolved_by_pr #5487

[2016-11-03 22:31] #4282 closed, assigned to nobody

[2016-11-03 22:38] jbenden commented on #3344
FreeBSD ports ppl, see [this bug report #214176](https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=214176) for a potential hotfix with `user` not completely working.

[2016-11-03 23:03] albertomurillo opened #5489 "docker_image returns changed even if the image is in the latest version"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`docker_image`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Pulling a docker image with `force=yes` always returns `changed` even if the image is in its latest version.

##### STEPS TO REPRODUCE
The following task always return changed even when the image is in its latest version.

[code]

Bu

[2016-11-03 23:05] aguynamedjoetoo opened #5490 "Service Module 'enable' does not work as expected with SysV scripts on systemd Systems"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Service Module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible Controller (AMZN Linux):
[code]

Remote Target (RHEL7):
[code]

##### SUMMARY
When using the Service module against a RHEL7 instance, it appears the service module is not working as intended when using SysV scripts. This was working in 2.1.2

[2016-11-03 23:33] tedder commented on #5460
Can you give a self-contained example that triggers this?

[2016-11-04 00:31] logan2211 commented on #5483
Maybe related to #3984 and #4007?

[2016-11-04 00:42] skg-net commented on #5462
!needs_info - we are able to recreate the issue.

[2016-11-04 01:41] #5372 closed, assigned to privateip

[2016-11-04 01:41] #5444 closed, assigned to privateip

[2016-11-04 01:44] tuwid opened #5492 "Instance creation failed => InvalidParameterValue: Value () for parameter groupId is invalid. The value cannot be empty""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_group / ec2

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
ElementaryOS Loki
macOS Sierra 10.12.1
##### SUMMARY
While doing some tests suddenly i started receiving this error while creating machines:

fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": "Instance creation failed => InvalidParam

[2016-11-04 01:45] privateip commented on #4396
track #5491

[2016-11-04 02:05] privateip commented on #5317
@jean-christophe-manciot is this 100% reproducible?  Its an odd place to see this error

[2016-11-04 02:49] privateip commented on #5318
I just committed a change that should fix the problem.  @ajacoutot could you re-test and confirm the fix?

needs_info

[2016-11-04 03:04] ebmarquez opened #5495 "nxos_command fails with cisco nexus version 7.x"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Cisco Nexus

Software
  BIOS: version 3.9.0
  NXOS: version 7.0(3)I4(1)
  BIOS compile time:  01/25/2016
  NXOS image file is: bootflash:///nxos.7.0.3.I4.1.bin
  NXOS compile time:  5/15/2016 20:00:00 [05/15/2016 20:24:30]

Hardware
  cisco Nexus3000 C3132Q Chassis
  I

[2016-11-04 07:22] tntC4stl3 commented on #5489
Actually I think it is correct to show `changed=True` because due to the document:

[2016-11-04 08:49] dagwieers commented on #5310
As already mentioned, I think this bug is reported to the wrong party, as a result the right party is not being informed. In order to get rid of the @ansibot nagging I will put this to needs_contributor

[2016-11-04 08:53] dagwieers commented on #5480
A quick fix would be to wrap it in a try-catch clause, I'd say propose it in a PR, and add your comments/questions there.

[2016-11-04 08:55] dagwieers commented on #5445
Please try with the latest unarchive from Ansible 2.2.0 or the devel branch.

[2016-11-04 09:04] tonydoval commented on #5310
Hi,

I have the same errror with copy module and huge files:

task path: /instaladores/instalar-libra6/roles/wl-software/tasks/main.yml:10
An exception occurred during task execution. The full traceback is:
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/ansible/executor/task_executor.py", line 119, in run
    res = self._execute()
  File "/usr/lib/python2.7/dist-packag

[2016-11-04 09:09] tonydoval opened #5496 "copy module crashes with Memory Error with huge files"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
copy module

##### ANSIBLE VERSION

The problem started with Ansible 2.1. With a file of 1.8GB and Ansible 2.1 I need up to 3GB of RAM to copy files but with Ansible 2.2 I need up to 6GB of RAM. With Ansible 2.0 this issue doesn't happen

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 16.04 LTS

##### SUMMARY

With module copy and huge files

[2016-11-04 09:32] robinro commented on #4002
I don't see a good reason not to have this, so I'd suggest
needs_contributor

[2016-11-04 09:33] robinro commented on #4002
There should probably be a warning in the docs though, that some possible args will mess up other features of the module, like idempotency.

[2016-11-04 09:41] ajacoutot commented on #5318
@privateip sure thing, but I will not be able to do so before Monday -- I hope that's alright.
Thanks!

[2016-11-04 09:42] robinro commented on #5457
Sounds like an issue with `depth=1`.
1. Does it work without the `depth=1` argument?
2. Does it work if you add the `refspec` argument with the hash of that commit?

[2016-11-04 10:32] kkarimi commented on #902
+1

[2016-11-04 10:32] kkarimi commented on #902
+1

[2016-11-04 10:32] kkarimi commented on #902
+1

[2016-11-04 11:10] linlinas opened #5498 "Git module does not work via http proxy"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- git module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
 Suse 12

##### SUMMARY

Git module does not work via http proxy

##### STEPS TO REPRODUCE

The connection which is initialized on the remote host, does not include proxy and is going straight to destination IP vi default gateway.

Example task
[code]
Ende

[2016-11-04 12:04] jhawkesworth commented on #5480
Personally I don't have a use for this particular fact, and its not clear to me what it is intended to communicate. I would probably support merging a change which didn't fail if there was no available value.

[2016-11-04 12:11] #5498 closed, assigned to nobody

[2016-11-04 12:12] linlinas commented on #5498
Setting up git_config with proxy solved the issue

[code]

[2016-11-04 13:55] alanroche commented on #5460
Unfortunately I cannot really, as it is intermittent. Sometimes the same code works other times not.
What is happening is pretty simple, - it is just pushing a new cloudformation stack.
I have however managed to repro this with verbose trace enabled if that is of any help.

ASK [cf-api-gateway : Provision Stack] ****************************
task path: /var/lib/jenkins/workspace/[REDACTED]/aws/ansi

[2016-11-04 14:36] ronator commented on #4942
Sorry, I missed your message. I will read it and see if can help you. Embarrassingly, I do not know how to test it. I am relatively new to github. I cloned your branch "snapshots_ops" and know I am stuck :(
Anyway I have to say :+1: for the effort.

[2016-11-04 14:48] jean-christophe-manciot commented on #5317
With ansible 2.3.0 commit git20161104.2131eab, it seems to function as expected with a subset != all:

[code]

leads to:

[code]

However, if I modify slightly the play with:

[code]

then I get the issue:

[code]

[2016-11-04 15:00] bcoca commented on #5484
I'm not sure this is a bug, as I would expect a 'changed' when the cache is updated, as per #1517 this was intentional change to make sure that this is so.

[2016-11-04 15:04] bcoca commented on #5488
cc @mscherer

[2016-11-04 15:05] sbrueseke commented on #5484
But this means that you are getting a "changed'" each time you run a playbook with modul apt, even the packages are already installed and only cache updated. Do you really expect that? For me it is important if the package was installed in this run of the playbook.

[2016-11-04 15:08] bcoca commented on #5490
try adding `use=service` as a workaround

[2016-11-04 15:55] gsempe commented on #5457
**With** the `depth=1` parameter and **with** `refspec=<hash>` parameter: **This is not working**
**With** the `depth=1` parameter and **without** `refspec` parameter: **This is not working**

**Without** the `depth` parameter and **with** `refspec=<hash>` parameter: **This is working**
**Without** the `depth` parameter and **without** `refspec` parameter: **This is working**

[2016-11-04 16:09] agajdosi opened #5499 "Unarchive module thinks existing local archive is nonexistent"
Issue close to this one: #932

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- unarchive module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing changed.

##### OS / ENVIRONMENT

from Fedora 24 workstation, to RHEL 7.2 workstation

##### SUMMARY

Unarchive module is unable to unzip file located on remote machine (I am using remote_src=yes), failing with:

When using default re

[2016-11-04 16:17] jean-christophe-manciot commented on #5317
All different subsets - hardware, config, legacy, and interfaces - function as expected, except 'all'.
Within the same environment, and increasing ansible timeouts in /etc/ansible/ansible.config:

[code]

nxos_facts crashes long before 30 s if I change `gather_subset: config` to `gather_subset: all`:
TASK [nxos_pull_facts : Fetching facts from the remote node] *************************************

[2016-11-04 16:22] luisico opened #5500 "os_server module not updating metadata on a running instance"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
os_server module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Running ansible on Debian.
Targeting OpenStack instances with CentOS 7.2

##### SUMMARY
Module `os_server` does not add meta key/value pairs (using option `meta`) to a running OS instance. Using the same options while creating the OS instance in the first

[2016-11-04 16:28] resmo commented on #5484
I also came to the conclusion that this is a valid bug. That is why I opened a PR.

[2016-11-04 16:31] robinro commented on #5457
Might be a similar thing as in #3817. The shallow code didn't care much about tag checkout in the past and obviously still has missing cases.

I'd be happy to review a PR.

[2016-11-04 16:38] #5217 closed, assigned to nobody

[2016-11-04 16:47] aguynamedjoetoo commented on #5490
@bcoca That works for now, thanks!

I tried poking on the module code yesterday to find out where the break-point was, but got distracted by something else. If I've got some spare time (who does these days?) I'll see if I can find exactly where this is breaking.

[2016-11-04 17:00] albertomurillo commented on #5489
Well, if i dont set `force=yes` i dont get the newer version. because the image already exists. So maybe this isn't a bug but more an enhancement.

I still believe that if the image wasn't changed the tasks shouldn't be reported as changed

[2016-11-04 17:10] gsempe commented on #5457
As an additional information it works with version 2.1.0.0 and so, as a workaround, we moved back to this version

[2016-11-04 17:41] thuandt commented on #3100
I can create instance with `gce` module, but instance is never start after created.

Is it extractly this issues?

[2016-11-04 19:44] bdowling commented on #5318
@privateip #5494  has a few issues.  breaks ios_config, if match is none, gather_facts is off or the device doesn't have banners:

[code]

Other issues:
- does not currently handle 'banner **motd**'  Not sure if there are other banner types missing as well.  This perhaps could be more flexible and just use `banner (\w+)`
- the desired config must be specified with ^C as the delimiter
- when sendin

[2016-11-04 19:45] civik commented on #2607
BIG bump..

In my opinion for `state=absent` when using yum module the MUST have additional guarding.  I'd almost classify this behavior as a bug at this point.  Specifying a package as absent can have really bad ramifications up to and including bricking an entire inventory file of systems with zero warning to the user.

`state=absent` should 'fail closed' and error when dependancies would be uni

[2016-11-04 20:12] bcoca commented on #5490
it is not the module you are looking for ....
In 2.1 we added the 'service' action plugin to try to separate the service module into 'per system' modules, for now we have the systemd one, which you were using via autodetection, use=service forces the usage of the 'old' service module (until we get a sysv_init one).

[2016-11-04 20:17] michaelgugino commented on #5328
Created validation patchset: https://github.com/ansible/ansible/pull/18371

[2016-11-04 22:47] aguynamedjoetoo commented on #5490
Ah, that makes sense. I did see the systemd one, and figured that was the direction the modules were going in. Any release branch in specific I can keep an eye out for the sysv_init? (:

[2016-11-04 23:18] jamesongithub commented on #4977
seeing this daily now in our ci

[code]

[2016-11-04 23:27] omgjlk commented on #4230
I've picked back up work on this, slowly.

[2016-11-05 08:23] ghost opened #5502 "get_url can not download file from github"
github said 400 bad request

[code]

Using wget and curl is ok

[2016-11-05 08:26] #4164 closed, assigned to nobody

[2016-11-05 08:30] HendrikSP commented on #3766
~~Please reopen~~

~~This still not fixed correctly: The container will always be connected to the default bridge. `docker run` does behave like this if `--network` is provided at least once~~

Ok, it works, you need to specify `purge_networks: yes`. Sorry :)

[2016-11-05 09:42] d3prof3t commented on #5458
I have also encountered the same issue of pip module not working with python3.5
My OS is Fedora 24.

### Playbook Snippet

[code]

In my case the `virtualenv_python` argument does not seem to work. Instead all my dependencies of requirements.txt get installed in global site packages of python2.7

[2016-11-05 10:17] jpmens commented on #5488
needs_contributor

[2016-11-05 12:01] sfenvironment commented on #2509
@alukovenko Am to understand by https://github.com/ansible/ansible-modules-core/issues/2509#issuecomment-236551283 that Ansible's core digitalocean module no longer has a requirement of dopy?

Can you please add a bit more information such "as of version xxxx, dopey is no longer required", etc?  Thanks.

[2016-11-05 12:03] gregelin commented on #2509
@alukovenko Am to understand by #2509 (comment) that Ansible's core digitalocean module no longer has a requirement of dopy?

Can you please add a bit more information such "as of version xxxx, dopey is no longer required", etc? Thanks.

[2016-11-05 12:15] alukovenko commented on #2509
Maybe @harneksidhu can shed line on current status?

[2016-11-05 17:48] manics commented on #5500
This has been bugging me for a while, I finally decided to try and fix it https://github.com/ansible/ansible-modules-core/pull/5503

[2016-11-05 18:25] abadger commented on #5458
This should be fixed in d2106f1c929908aaeaeb53a77f71a1b9b0d59049 for devel and 8f0ab373d59fd59fbb2942e870ebc6502dce0f89 for stable-2.2.  Will be in the 2.2.1 release.

Using the playbook task from the original comment:

[code]

If you wish to get the fix immediately, it's possible to download the version of pip.py from the github repository and install it into your ANSIBLE_LIBRARY path (or overwri

[2016-11-05 18:25] #5458 closed, assigned to nobody

[2016-11-05 21:06] harneksidhu commented on #2509
@gregelin We are removing the dopy requirement on this ticket #4219. We have a few pull requests already prepared .. #5278 and #5275. We just need to go over it and merge the code into mainline.

[2016-11-05 22:21] pauricthelodger commented on #4204
Also affects 2.2

[2016-11-06 00:13] gregelin commented on #2509
@harneksidhu Thank you for the clarifying details, and for removing the dopy requirement.

Please let us know the version of Ansible which will no longer require dopy.

[2016-11-06 00:19] harneksidhu commented on #2509
@gregelin To be honest, I am not confident what version of Ansible will no longer require dopy yet. Once the PR's are merged in, we will have a better idea then! The merging does take a while unfortunately.

[2016-11-06 02:24] hsanjuan opened #5504 "Git checkout: UnboundLocalError: local variable 'remote_head' referenced before assignment"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
git

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
pipeline = True + related ControlPath etc

##### OS / ENVIRONMENT
Linux

##### SUMMARY
Git checkout fails randomly. Seems like a race condition.

##### STEPS TO REPRODUCE

Have a step:

[code]

##### EXPECTED RESULTS
OK

##### ACTUAL RESULTS

Randomly get (about 50% of the time):

[code]

[2016-11-06 03:00] #5474 closed, assigned to sivel

[2016-11-06 05:00] d3prof3t commented on #5458
Thanks a lot @abadger

[2016-11-06 05:08] atulhm commented on #2509
Hey guys.  I got buried with so much stuff and neglected how I solved my problem.  Since I had 2 or 3 different user environments that invoke ansible, I took the easy way out and dockerized ansible with our specific settings.

I can't wait to make use of the tags with digital ocean.

Thanks for the support.

[2016-11-06 05:49] abassanini commented on #5478
Info added

[2016-11-06 09:38] salfand commented on #4703
Which response shall I give?

[2016-11-06 09:57] #3047 closed, assigned to nobody

[2016-11-06 12:36] #1460 closed, assigned to nobody

[2016-11-06 12:38] alanroche commented on #5460
I can confirm now that this exhibits on boto 2.41.0 also, which we had been using previously and did not observe errors on this version of boto prior to updating to Ansible 2.2.

PS. We need to use Ansible 2.2 as it seems to fix some errors with SSHing through AWS bastion servers:
https://github.com/ansible/ansible/issues/17349

[2016-11-06 13:25] trondhindenes commented on #5078
After a bit of testing: Looks like a 2012R2 node currently reports it pending reboot state correctly without modifying the setup.ps1 script. I'll spin up a 2008R2 node to see if it behaves differently.

[2016-11-06 14:27] trondhindenes commented on #5078
2008R2 indeed shows the wrong value for reboot_pending. Working on a fix.

[2016-11-06 14:41] jlec commented on #1948
See the following example

Check out the repo remotely using

`ansible all -i inventory -m git -a "repo=https://github.com/ansible/ansible-modules-core.git dest=/tmp/git-test update=yes"`

So we are on branch `devel`tracking `origin/devel`

Then log in into the remote box and run

`git checkout -b staging origin/staging``

Now we are on branch `staging`tracking `origin/staging`.

[code]

When runn

[2016-11-06 15:56] markusyou commented on #5344
bot_broken

[2016-11-06 16:06] trondhindenes commented on #5078
PR created, shouldn't take too long to get it in. @sm4rk0 If you want to test it, use the PR's copy of "powershell.ps1" from the main Ansible repo.

[2016-11-06 16:21] #5484 closed, assigned to resmo

[2016-11-06 16:34] trondhindenes commented on #5480
I don't think this is used. I'd propose that we implement this with a try/catch clause, and have the exception block just fill the same attribute with an empty string - just so that we set the attribute in either case.  @fxfitz , would you PR it? Please ping me and I'll make sure we get it thru review quickly.

[2016-11-06 16:45] trondhindenes commented on #5480
@jhawkesworth the idea behind the change was to get windows facts inline with facts from other OS'es, which I think is a very good idea - at least to have a base set of facts be available on all platforms. This would mean that various OSS projects based on Ansible facts gathering would work better on Windows as well.

[2016-11-06 17:35] gregelin commented on #2509
@harneksidhu Thanks for update, I understand. Will be glad whenever there digitalocean module with no dependency is available.

[2016-11-06 18:09] abassanini commented on #5478
ISSUE TYPE
Bug Report

##

Saludos,
Aldo

[2016-11-06 20:22] vboginskey commented on #2813
:roll_eyes:

[2016-11-06 20:22] #2813 closed, assigned to nobody

[2016-11-06 20:51] prata commented on #5435
I've run into this same issue:

"msg": "Failed to import docker-py - No module named requests.exceptions. Try `pip install docker-py`"

[prata@kusanagi playbooks]$ pip show docker-py; docker version; ansible --version; docker-compose --version

Name: docker-py
Version: 1.10.6
Summary: Python client for Docker.
Home-page: https://github.com/docker/docker-py/
Author: Joffrey F
Author-email: joffrey@

[2016-11-06 23:24] willthames commented on #2389
resolved_by_pr #2421

[2016-11-06 23:26] willthames commented on #3940
EDIT: removed bot broken command -jctanner
https://github.com/ansible/ansibullbot/pull/204

[2016-11-07 00:37] fxfitz commented on #5480
Will do! I'll have a PR up for this shortly. :-)

[2016-11-07 05:45] pankajrlal commented on #5504
I am also facing this

[2016-11-07 07:18] xalvarez opened #5508 "Add support for upgrading packages to package module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
package

##### ANSIBLE VERSION
2.1.2.0

##### OS / ENVIRONMENT
N/A

##### SUMMARY
As you know, yum can be used as follows to upgrade all installed packages:

That doesn't work for apt for example. That module requires using an upgrade parameter.

If we try to apply the same logic to package module as in yum, we would write something like:

How

[2016-11-07 08:25] danpilch opened #5509 "the field 'args' has an invalid value"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

groups

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

CentOS
##### SUMMARY

Cannot iterate (with_items) a list of dicts and create groups.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Creates groups
##### ACTUAL RESULTS

[code]

[2016-11-07 08:46] lbchv commented on #5171
@relviratellez, i've resolved my issue by updating docker-py on the server.

In the guide:

`pip install 'docker-py>=1.7.0'`

[2016-11-07 09:28] jmcollin78 opened #5511 "docker_image : make action explicit"
Hi,

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
docker_images

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Not relevant

##### OS / ENVIRONMENT
Not relevant

##### SUMMARY
The docker_images module is very difficult to use because there is no action attribute to tells what we want to do. The action is implicit (if path -> build, if tag sometimes it tags sometimes not, ...). It wou

[2016-11-07 09:32] ajacoutot commented on #5318
@privateip I can confirm what @bdowling wrote.
I was able to make 'banner login' work with multiline using a template (ios_config), so that's already an improvement though :-)
It'd be nice to have support for 'banner motd' has mentioned as well.
Thank you very much, it's going into the right direction imho.

[2016-11-07 10:08] hdimitriou commented on #5489
Since you set force=true, you force the change so you should handle it via 'changed_when'.
In my eyes what you see is proper behaviour.

[2016-11-07 10:09] keroloswilliam commented on #5310
hi,
i have the same error i am using ansible 2.2 and

Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/ansible/executor/task_executor.py", line 91, in run
    item_results = self._run_loop(items)
  File "/usr/lib/python2.7/dist-packages/ansible/executor/task_executor.py", line 274, in _run_loop
    res = self._execute(variables=task_vars)
  File "/usr/lib/python2.7/dist-

[2016-11-07 10:23] sm4rk0 commented on #5078
(Un)fortunately, I'm on vacation this week with limited access to work environment. I'll do it first thing next Monday.

[2016-11-07 11:14] Senilein commented on #5315
Thanks for fixing.
Works as expected with original version of Virtuozzo 7.2. After updating to most recent version of Virtuozzo,  fix does not work, as we get following facts

[code]

[2016-11-07 11:16] jaccoh opened #5513 "ansible 2.2: docker_service 'Error starting project - '"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_service

##### ANSIBLE VERSION
ansible 2.2.0.0
  config file = /home/jhoeve-a/GitCollections/authdns-ansible-code/ansible.cfg
  configured module search path = Default w/o overrides

##### CONFIGURATION
In version 2.2 I use:
[code]
In version 2.1.2 I used (due to lack of pull statement):
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04 / Ansib

[2016-11-07 11:29] dejlek commented on #5470
I can confirm that this bug caused me trouble last few days... I can confirm that bug exists.

Little bit more about the environment I am having this problem:

I use pyvenv-3.4 on Ubuntu Wily. Previous ansible release worked well, however with 2.1.2.0 the pip plugin stopped using the "virtualenv" parameter and uses /usr/bin/pip2 instead (!!!) which naturally makes the task fail.

[2016-11-07 11:43] fubarhouse commented on #5504
+1, everything has suddenly stopped working...
Seems to be when forced is true/yes.

[2016-11-07 13:29] pkkm commented on #5310
Pull request https://github.com/ansible/ansible/pull/18368 looks like it should fix the issue. (I can't easily verify this as I've finished my internship no longer have access to my employer's servers or code.)

[2016-11-07 13:52] #2389 closed, assigned to nobody

[2016-11-07 14:05] #3293 closed, assigned to nobody

[2016-11-07 14:05] #1370 closed, assigned to nobody

[2016-11-07 14:07] #2314 closed, assigned to nobody

[2016-11-07 14:19] manics opened #5514 "pip fails to parse complex version specifications such as "django>=1.8,<1.9""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
pip

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Should be platform independent.
[code]

##### SUMMARY
`pip` module fails to parse complex version specifications such as `"django>=1.8,<1.9"`

##### STEPS TO REPRODUCE

`test.yml`:
[code]
Run: `ansible-playbook -i /dev/null test.yml`

##### EXPECTED RESULTS

With `ans

[2016-11-07 15:28] ryansb commented on #5460
Hm, I wasn't able to repro this yesterday. Going to try a different way today, but if you're able to provide any info about your playbook that'd help. Does it have a particular resource type? Do you use outputs?

[2016-11-07 15:51] coreaut commented on #5228
This is fixed in ansible 2.2.

[2016-11-07 16:24] zero-code-hero commented on #5504
Also having this issue.

Code:

[code]

Error:

[code]

This has a 100% failure rate.

[2016-11-07 16:35] bcoca commented on #5490
devel

[2016-11-07 17:28] maciej opened #5515 "docker_container fails while pulling new image"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running ansible from: macOS Sierra
Provisioning: CentOS 7.2, Docker installed from https://yum.dockerproject.org/repo/main/centos/7

##### SUMMARY

`docker_container` module fails with:
[code]
while pulling an image

##### STEPS TO REPRODUCE

[2016-11-07 17:30] isharacomix commented on #2718
Ansible gets `ansible_distribution` from the built-in python `platform` module.

The platform module looks for a bunch of "version" files in /etc, reading the first one that matches alphabetically. The first such file (which is included on Cumulus) is `debian_version`. Python doesn't bother looking at os-version or any of the other files and returns `debian` based on the name and contents of that

[2016-11-07 17:39] jsbruneau opened #5516 "Wrong variable resolution when multiple parents role call the same child role"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None specific

##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core) - Ansible host and server

##### SUMMARY
When multiple parents includes the same child role but override some variables, the variable resolution is wrong.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2016-11-07 17:47] maciej commented on #5515
It does seem the issue is related to docker-py version 1.7.0. After updating to the latest 1.10.6 the problem gone away.
However the documentation https://docs.ansible.com/ansible/docker_container_module.html still states that 1.7.0 should be sufficient: `docker-py >= 1.7.0`

[2016-11-07 18:29] albertomurillo commented on #5489
Well maybe calling `force=yes` is a workaround and the correct use of the module should be to call `state=latest` to ensure it is changed only when the image gets updated and not when the image is already in the latest version.

I cannot use `changed_when` in this case because the output is the same either the image gets updated or remains the same.

Currently I'm calling the shell module but that

[2016-11-07 18:51] Abdul-Anshad-A opened #5517 ""docker_container" fails to execute when duplicate container with "ExposedPorts": null" already exists"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
ansible 2.3.0

##### CONFIGURATION
Default config

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Ansible module "docker_container" fails to execute when duplicate container with "ExposedPorts": null" already exists.

##### STEPS TO REPRODUCE
Run the below playbook twice. First time the container is created suc

[2016-11-07 19:10] mklassen opened #5518 "mysql_user support for FUNCTION and PROCEDURE privileges"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
mysql_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Currently only `TABLE` privileges can be manipulated with `mysql_user`

Granting execute privileges on a mysql `FUNCTION` requires an SQL statement of the form

[code]

Unfortunately if the `FUNCTION` keyword is included in `mysql_user`

[2016-11-07 19:34] bcoca commented on #5509
try:

`with_items: "{{test_system_groups}}"`

[2016-11-07 19:42] bcoca commented on #5310
Fixed by https://github.com/ansible/ansible/pull/18368

f you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
https://groups.google.com/forum/#!forum/ansible-devel - for strategy, fu

[2016-11-07 19:42] #5310 closed, assigned to nobody

[2016-11-07 20:00] chrmcd opened #5520 "timeout: ios_config: save times out"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Pretty much default, nothing that applies to this.

##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

When using:
save: yes
in ios_config while trying to push configuration and saving it, ansible times out with the message:
timeout trying to send command: copy running-config star

[2016-11-07 21:07] mxlan commented on #4977
Just started seeing this today: version 2.0.2.0

<pre>An exception occurred during task execution. The full traceback is:
Traceback (most recent call last):
  File "/home/**user**/.ansible/tmp/ansible-tmp-1478552595.92-221111833899136/ec2_elb_lb", line 3205, in <module>
    main()
  File "/home/**user**/.ansible/tmp/ansible-tmp-1478552595.92-221111833899136/ec2_elb_lb", line 985, in main
    elb_m

[2016-11-07 21:17] grizzlyanderson opened #5522 "docker_service Unable to load docker-compose."
The symptoms are the same as 3906, which is closed as resolved.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS-X 10.11.16  (executing playbook here)

host, running on virtualbox:
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.1 LTS
Release:	16.04
Codename:	xenial

##### SUMMARY
"Unable to load d

[2016-11-07 22:24] noirmist commented on #5504
Also having this issue

[2016-11-08 00:34] fubarhouse commented on #5504
This issue also affects 2.2.0 and 2.3.0, but does not affect 2.1.2.0.

[2016-11-08 00:39] tima commented on #727
wontfix

Ansible errs on the side of safety and recoverability whenever possible. The synchronize module forces `–-delay-updates` to avoid leaving a destination in a broken in-between state if the underlying `rsync` process encounters an error. Those synchronizing large numbers of files that are willing to trade safety for performance should call `rsync` directly. It's nothing we want to encourage

[2016-11-08 00:53] rtrvrtg commented on #5504
Can reproduce this 100% of the time when `force=yes` is set and the destination directory already exists.

[2016-11-08 00:59] #727 closed, assigned to nobody

[2016-11-08 01:03] fubarhouse commented on #5508
Correct me if I'm wrong but `state: upgrade` or `state: upgraded` would assume the package is already installed wouldn't it?

So we have absent, present, latest and installed at the moment.

An `upgrade: true` would be great though, that way upgrade can be executed after the module is made available instead of being dependent on a possibility that it already exists.

[2016-11-08 01:13] rilindo opened #5523 "Ansible docker_container not exposing ports (2.2.0.0)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Using the following config:

[code]

##### OS / ENVIRONMENT
- Workstation OS X MacSiera
- Server: Ubuntu 14.04 with port 2375 open for docker
- Python version: 2.7.10
List of python modules:

[code]

##### SUMMARY
The docker_container does not appear to be configuring and exposi

[2016-11-08 02:26] privateip commented on #5318
committing additional changes in #5524 to fix the issues noted above.  Two caveats.

1) Still requires configuring the banner using src argument
2) Using ^C is still required in the candidate config file but you can now configure the delimiter used during configuration changes.  See the `multiline_delimiter`

[2016-11-08 07:29] skg-net commented on #5462
@privateip @gundalow
Issue seems to be not handling the graceful ssh connection close from server. shell.recv will return data length of zero, when switch goes for a reload. Currently in [shell.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/shell.py) we haven't handled the recv length of zero

[code]

Let me know, how to handle this, do you want me to retry to establish

[2016-11-08 09:12] ajacoutot commented on #5318
@privateip That works perfectly for my use case.
Thank you _very_ much :-)

[2016-11-08 10:14] danpilch commented on #5509
Yep this works, thanks. Is `with_items: test_system_groups` now deprecated in favor of full jinja2 syntax?

[2016-11-08 10:57] elacour opened #5526 "apt module fail to upgrade installed only packages list if one package isn't available"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apt

##### ANSIBLE VERSION
2.1.1.0

##### CONFIGURATION
standard

##### OS / ENVIRONMENT
Debian

##### SUMMARY
I use apt module to perform upgrades on a list of packages and make sure only installed packages are upgraded:

   - name: upgrade "{{packages}}"
     become: true
     become_user: root
     apt: name={{item}} state=latest update_cache

[2016-11-08 11:37] xalvarez commented on #5508
Right now there isn't a _state: upgrade_ for apt but a specific upgrade parameter. yum module doesn't have this either. What I mean is that I'm not sure if that syntax would be correct.

[2016-11-08 11:48] marcinhlybin opened #5527 "systemd fails on masking nonexistent service"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
systemd

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Debian Jessie 64 GNU/Linux

##### SUMMARY
Module systemd fails to mask nonexistent service. Shell command `systemctl mask hello` works fine with nonexistent services. It is useful to mask service before package installation to avoid autostart, e.g.:

[cod

[2016-11-08 13:32] shanx commented on #2731
Is any more work on this required?

[2016-11-08 13:51] alanroche commented on #5460
OK,

I have some useful info now (I think) :)

The stack is failing to push, It was not obvious because it is a test stack that gets dropped after tests get run. Sorry about that, - but because the stack was getting dropped, it appeared on the surface as an intermittent error.  When I go into the CloudFormation console and query back on "Deleted Stacks" I can see clearly that the offending stack i

[2016-11-08 14:00] matts-mpg commented on #3102
Ended up here when googling for the exact topic. Also, changing the size of the default disk in a VM template would be super useful so once the machine is up some ansibling can be used to get the additional space partitioned and used via LVM/xfs_growfs.

PS- This really belongs under the newer vmware_guest module.

[2016-11-08 14:35] gkhasel1 opened #5528 "EC2"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-11-08 14:45] vce-xx commented on #5515
Upgraded to 1.10.6 and problem still there:
`$ ansible --version`
**ansible 2.2.0.0**
`$ pip list docker-py | grep docker-py`
**docker-py (1.10.6)**
docker-pycreds (0.2.1)
`$ ansible-playbook docker_container.play`
fatal: [jenkinsslave3]: FAILED! => {"changed": false, "failed": true, "msg": "Error pulling image xxx:443/xxx/xxx:ttt - **pull() got an unexpected keyword argument 'decode'**"}

[2016-11-08 15:05] gkhasel1 opened #5530 "EC2 Instance termination fails with SSH error"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
EC2 module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
This job is running from Ansible Tower

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
I have a playbook that launches an instance runs some tasks and later tries to terminate the instance. Getting inconsistent behaviour on termination, sometimes it suceeds other times it fail with a