[2016-11-08 15:47] bcoca commented on #5509
@danpilch it was deprecated in 2.0, removed in 2.2. Closing as this is not a bug.
You should have seen deprecation warnings in 2.0/2.1, its also documented in porting guide and changelogs/release notes.

[2016-11-08 15:47] #5509 closed, assigned to nobody

[2016-11-08 15:51] pondix commented on #5515
Same problem here with the following OS & packages:

[code]

Task:

[code]

Output:

[code]

[2016-11-08 15:54] maciej commented on #5515
@vce-xx @pondix just to be sure, are you checking `docker-py` version that's installed on the host (not the machine from where Ansible runs)? 1.10.6 works well for me.

[2016-11-08 15:55] pondix commented on #5515
Yes - I'm actually running the playbook locally on the same machine

[2016-11-08 16:10] marcinhlybin opened #5532 "apt module always returns CHANGED when using update_cache"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apt

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Debian Jessie 64 GNU/Linux

##### SUMMARY
When installing packages and using update_cache option apt module always returns state CHANGED even if packages are already installed.

In my opinion expected behavior would be:
1. when using update_cache AND installin

[2016-11-08 16:16] elacour commented on #5526
Here is a quick patch that is in the state "works for me" ;)
[apt.py.patch.txt](https://github.com/ansible/ansible-modules-core/files/578706/apt.py.patch.txt)

[2016-11-08 16:28] vce-xx commented on #5515
That makes perfect sense.
Thanks 👍

[2016-11-08 16:36] dbourcet commented on #5504
Also having this issue.

[2016-11-08 16:42] prupert opened #5533 "service module always changed when name contains @"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
service

##### ANSIBLE VERSION
[code]
Present in earlier versions as well, at least since 1.8, but probably before that.

##### CONFIGURATION
None.

##### OS / ENVIRONMENT
Ansible host: CentOS 7
Target host: CentOS 7

##### SUMMARY
When the service name contains a `@` character, a task that will ensure the service is started will always report a

[2016-11-08 16:45] solomongifford commented on #5504
For those that need a quick fix, you can find the git.py in the ansible source and remove the "after=remote_head".

[code]

[2016-11-08 17:28] tedder commented on #5460
Okay. It does seem like an edge case. I'm curious if you can repro in 2.3, as everything is different. Until then, marking this **wontfix**.

[2016-11-08 18:46] salman1485 commented on #5308
I'm planning to test the change in few days. I'll let everyone know if it goes in fine.

[2016-11-08 19:04] ebmarquez opened #5534 "dellos9_command confirm prompt timeout"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

dellos9_command
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux rr1masdansible 4.4.0-45-generic #66-Ubuntu SMP Wed Oct 19 14:12:37 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
##### SUMMARY

copy config to the startup-config on the local flash breaks because of yes/no prompt.

##### STEPS TO REPRODUCE

[code]

####

[2016-11-08 20:33] cdelgehier commented on #4249
@Abdul-Anshad-A :+1:

[2016-11-08 21:16] munkyjunky opened #5535 "Apt_Repository fails in Packer/Docker build"
##### Issue Type
- Bug Report

### Summary
When using Ansible with Packer & Docker the `apt_repository` module fails to fetch PPA information.

When using Ansible as a provisioner within Packer (Docker builder) the apt_repository step fails to add the PPA. When using the same step using Vagrant & a VirtualBox VM works, which suggests (to me) an issue with the Docker connection.

### Expected Behav

[2016-11-08 21:46] ssummer3 commented on #5460
I can replicate this error with a stack to create an EC2 Instance that has DisableApiTermination: true and a role that does not have permission to complete the stack.

The stack goes into ROLLBACK_FAILED due to not being able to terminate the instance, and KeyError: 'PhysicalResourceId' occurs.

[2016-11-08 21:46] fubarhouse commented on #5504
@solomongifford Thanks for the quick fix! Here's hoping for a patch in-release soon!

[2016-11-08 21:50] a-panickar commented on #4538
@rafi Were you able to resolve this? I thought i was doing something wrong with the conversion but this looks like a bug.

[2016-11-08 23:27] gaahrdner commented on #5515
Hitting this as well with `ansible 2.2.0` and `python-docker-py-1.7.2-1.el7.noarch`:

[code]

[2016-11-09 02:09] skinlayers opened #5537 "rds facts command does not support automated snapshots."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

rds

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

.bashrc
export ANSIBLE_CONFIG=$HOME/dbl_ansible/ansible.cfg
export EC2_INI_PATH=$HOME/dbl_ansible/inventory/ec2.ini

ansible.cfg changes
inventory      = $HOME/dbl_ansible/inventory/ec2.py
ask_sudo_pass = False
ask_pass      = False
roles_path    = $HOME/dbl_ansible/ops-ansible/roles
hos

[2016-11-09 02:47] #4119 closed, assigned to jctanner

[2016-11-09 03:36] JasperWallace commented on #3545
Seeing this again, ansible is selecting:

`2001:8b0:1111:1111::617a`

from (trimmed with `ip -6 addr show scope global` ):

[code]

`ip -6 addr show scope global permanent` gets the 2 useful ip's, either would be fine for  `ansible_default_ipv6.address` for me.

[2016-11-09 09:18] sirkubax opened #5538 "TypeError: run_command() got an unexpected keyword argument 'encoding'"
Module: shell
ansible 2.2.0.0

[code]

There is an error
I did try to debug it debug it 'in place'  with export ANSIBLE_KEEP_REMOTE_FILES=1

[code]

1) The issue itself - any ideas?
2) Shebang - I know I am the author of the idea of 'appending the 'egg' or external module library into the ansible exec :) but is there a way of 'shebang'ing' the ZIPDATA as plain text?

[2016-11-09 09:20] sirkubax commented on #5538
2 - I've found it in the code :+1: great
**explode**
/usr/bin/python /home/ubuntu/.ansible/tmp/ansible-tmp-1478682342.04-18662951438118/command.py explode

[2016-11-09 09:26] sirkubax commented on #5538
the line 189 of exploded file (/home/ubuntu/.ansible/tmp/ansible-tmp-1478682342.04-18662951438118/debug_dir/ansible_module_command.py)
rc, out, err = module.run_command(args, executable=executable, use_unsafe_shell=shell, encoding=None)

args:
killall -9 consul; service consul start

Now I need to dig into module.run_command()

[2016-11-09 09:50] sirkubax commented on #5538
[SOLVED] - some version mismatch!

The file:
/home/ubuntu/.ansible/tmp/ansible-tmp-1478682342.04-18662951438118/debug_dir/ansible_module_command.py

Was inconsistent with the core modules:
/home/ubuntu/.ansible/tmp/ansible-tmp-1478682342.04-18662951438118/debug_dir/ansible/module_utils/basic.py
(look for encoding keyword)

[code]

**Explanation:**
I was installing the ansible in virtualenv, dirrec

[2016-11-09 09:51] #5538 closed, assigned to nobody

[2016-11-09 09:52] sirkubax commented on #5538
Closing the ticket :)

[2016-11-09 10:04] svenfinke commented on #5504
@solomongifford Thanks for the quick-fix, but I honestly can't find the file... Where should it normally be located?
A patch for this bug would be quite nice, I also hope it will be released soon.

[2016-11-09 12:20] bhcopeland opened #5539 "become module: ascii exception"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
become

##### ANSIBLE VERSION

ansible 2.2.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

##### CONFIGURATION

##### OS / ENVIRONMENT
My OS: Arch 4.8.6
Server: Ubuntu 14.04

##### SUMMARY
5 servers deploy this, it only fails on one. However, this is the only server that runs inside LXC.

##

[2016-11-09 13:25] bertramn commented on #1849
Moved to Ansible 2.0+ some time ago and no longer face the issue, local install of rpms now seem to work fine.

[2016-11-09 13:44] dgarros commented on #4281
Hi
I think this is a very important feature, would it be possible to increase its priority ?
I've had to revert to Ansible Galaxy modules several times because of that
Thanks
Damien

cc/ @vnitinv @stacywsmith

[2016-11-09 14:16] Abdul-Anshad-A commented on #4249
Thank you @cdelgehier . I will open a pull request to get the changes merged.

[2016-11-09 14:19] Crapshit commented on #3291
We have the same problem here. A bugfix would be great.

[2016-11-09 17:11] tedder commented on #5460
Ryan, please attempt to repro on the 2.3/devel version of the module.

[2016-11-09 18:53] bcoca commented on #5527
please confirm that the above PR solves your issue

[2016-11-09 18:56] bcoca commented on #5533
can you show full output of the task running with `-vvv`?
Also if you could show the logs produced  on the target while running ansible with `ANSIBLE_DEBUG=1` ?

[2016-11-09 19:13] mdaize commented on #3411
Just ran into this bug. Once we removed several roles so we were below the 100 mark, the problem went away.

Running on Ansible version 2.1.2.0

[2016-11-09 21:06] #5539 closed, assigned to nobody

[2016-11-09 22:56] willthames commented on #5537
needs_contributor

[2016-11-09 22:57] tuwid commented on #5492
any news about this ?

[2016-11-09 23:14] autotune commented on #2731
@shanx not at this point, this has been pending core team review for months.

[2016-11-09 23:25] tuwid opened #5544 "rds param group module to enable logging"
There is no option to enable logging by default
##### ISSUE TYPE
 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
rds_param_group_module

##### SUMMARY
There is no option to change logging behaviour on RDSs

[2016-11-10 01:10] jimmy opened #5545 "Shell command suspends Ansible run"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
commands/shell.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Linux ip-172-31-55-146 4.4.0-45-generic #66-Ubuntu SMP Wed Oct 19 14:12:37 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY
Running `ansible-playbook` against a small playbook that uses the shell module on an `nvm` command suspends the run (as

[2016-11-10 01:13] skg-net commented on #5534
!needs_info.  We will work on this.

@ebmarquez  Please use dellos9_config module as work around. By adding a ‘do’ keyword in front the cli.

[code]

[2016-11-10 03:54] zer0glitch opened #5546 "include using when statement only applies to first task in include"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- inlcude

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

host_key_checking=false

##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core)

##### SUMMARY

When there is a top level playbook that will include a sub level playbook based upon a variable in the inventory file, the when statement only applies to the first task in the sub

[2016-11-10 04:29] #5546 closed, assigned to nobody

[2016-11-10 04:29] Abdul-Anshad-A commented on #4942
@ronator No issues, Let me try to explain the testing process as simple as possible.

### 1)Install from source & setup environment

[code]

### 2) Replace vsphere_guest module with the new modified one

`cp -f <path_to_vsphere_guest.py_cloned_from_my_snapshot_ops_branch> ./lib/ansible/modules/core/cloud/vmware/vsphere_guest.py`

### 3)Create play books accordingly as instructed on pull request #5

[2016-11-10 05:08] masteinhauser commented on #4269
Seeing this same issue still in Ansible 2.2. I haven't attempted yet with the test case first shared, but I tried to use the `checksum` and `tmp_dest` fixes without success.

I'll circle back on the initial test case in the morning and report back. I'll also likely move us to using wget to unblock us in the meantime.

[2016-11-10 07:07] 0utsider commented on #727
What a stupid approach - rather than give a people choice - you impose upon your solution.
The end is such that every write your module itself.

Congratulation !

[2016-11-10 07:20] ktaragorn commented on #4490
Same here, I used URI to elimilate a use of `command: curl` to create couchdb databases. I would expect this to be [ok] if the `creates` attribute file exists, or [changed] otherwise, alternatively it should be easy to configure `changed_when` style within the uri module. For e.g in my case a status 201 would be [changed] and a status 200 would be [ok]

[2016-11-10 07:23] ktaragorn commented on #4490
I was trying to do something with `register:` but since I am doing a loop, i seem to register the result of the entire module, not per item.

[2016-11-10 07:26] pniederlag commented on #727
+1 @0utsider @tima it's ridiculous to claim to be smarter than the users that ask for this option.

rsync has this option for some reason and it would be a more generous decision to give users of ansible the same freedom as rsync does.

If you don't have the time to support this change request in a sane manner: your point
If you claim declining this change-request is helping users of ansible in te

[2016-11-10 07:30] ktaragorn commented on #4490
I was trying to do something with `register:` but since I am doing a loop, i seem to register the result of the entire module, not per item.

[2016-11-10 08:16] membrive commented on #234
Same problem in ansible 2.2.0.0 extracting .tar.gz files, only in the top level directory.

[2016-11-10 09:24] lukasojd commented on #3764
+1

[2016-11-10 09:57] mvasilenko commented on #5144
I've observed this error whily trying to run ansible on Debian 7 x64.
The fix was to uninstall ansible AND all old dependencies (packages)

`$ sudo dpkg -r ansible`
`$ sudo apt-get autoremove`

After that, I've installed ansible AND most recent dependencies from scratch
`$ sudo pip install ansible`

Now all works fine, the problem seemes to be related with old dependency packages, not ansible itse

[2016-11-10 11:22] prupert commented on #5533
Full output of the task running with `-vvv`:

[code]

Logs on the target host while running `ansible` with `ANSIBLE_DEBUG=1`:

[code]

[2016-11-10 13:01] #3940 closed, assigned to nobody

[2016-11-10 13:01] #3276 closed, assigned to nobody

[2016-11-10 13:02] GGabriele commented on #5214
We can close this as #5450 has been merged.

[2016-11-10 13:04] #1735 closed, assigned to nobody

[2016-11-10 13:05] #913 closed, assigned to nobody

[2016-11-10 13:24] ksonj commented on #5470
According to the current changelog for 2.2.1 this is already fixed: https://github.com/ansible/ansible/commit/503537eb254a34cd15d236ab790a0190ecdc5d50

[2016-11-10 13:32] jappievw commented on #5522
Any luck on this in the meantime? Workaround probably?

[2016-11-10 13:51] wasimkham commented on #5504
@svenfinke The file (for me) is located here I think - /Library/Python/2.7/site-packages/ansible/modules/core/source_control/git.py

@solomongifford There are many instances in the file of "after=remote_head" - you suggest to remove them all?

[2016-11-10 13:55] BenEinwechter commented on #5504
@svenfinke and @wasimkham If you run `ansible-playbook` with three verbose flags, Ansible 2.2 will print out the path of the Ansible module being invoked:

[code]

I edited line 994 in /usr/lib/python2.7/dist-packages/ansible/modules/core/source_control/git.py

[code]

This change gets me around the problem. Not sure if it's correct, but it seems pretty benign, and I think it's what @solomongiffor

[2016-11-10 14:06] ryansb commented on #5460
I reproduced on latest 2.3, here's how I did it:
1. Create an IAM role that has read permissions, and ability to create an S3 bucket (policy below)
2. Create a template that includes an S3 bucket and another resource that the IAM role has no permissions for (I used SNS topic)
3. Use the module to create the stack, using the IAM role specified above

Template:

[code]

Policy:

[code]

Playbook:

[

[2016-11-10 14:06] ryansb commented on #5460
in_progress

[2016-11-10 14:25] #5460 closed, assigned to ryansb

[2016-11-10 15:03] jappievw commented on #5522
Found a workaround in the meantime on my mac. Ansible uses a different Python version than macOS does. Running `/usr/local/Cellar/ansible/2.2.0.0_1/libexec/bin/pip install docker-compose` worked for me.

[2016-11-10 15:10] theraser commented on #5206
This seems to be same bug as #2504

[2016-11-10 15:57] skapykat opened #5551 "cloudformation zero length field name in format when creating a stack"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

cloudformation
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When running the Cloudformation module, the tasks says it fails with "ValueError: zero length field name in format". However, the stack does get created correctly.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Cloudformation s

[2016-11-10 16:11] tedder commented on #5551
[code]

Reformatting error for my sanity.

[2016-11-10 16:20] tedder commented on #5551
@skapykat you must be running Python 2.6. There may be other problems, but if I can maintain compatability I'd love to do so. [This commit has the fix](https://github.com/tedder/ansible-modules-core/blob/cloudformation_fix_5551_format_zero_length_field/cloud/amazon/cloudformation.py); can you test it and let me know? If so I'll submit a PR.

[2016-11-10 16:20] skapykat commented on #5551
Found the issue. It looks like it was introduced in commit f040d63403f6c459a278918fa48fa8cb87754506. Lines 237 and 241 are not compatible with Python 2.6. Format specs require indices. so changing 'StackEvent {} {} {}' to 'StackEvent {0} {1} {2}' and doing the same on line 241 fixed the issue for me.

[2016-11-10 16:22] skapykat commented on #5551
Started typing while you were adding that. Tested the fix and everything worked properly. Thanks.

[2016-11-10 16:23] tedder commented on #5460
Thanks Ryan and Alan.

[2016-11-10 16:25] tedder commented on #5551
Great!

[2016-11-10 16:33] ryansb commented on #5460
@alanroche and @ssummer3 you can reopen this issue if the fix doesn't work for you.

[2016-11-10 17:04] jean-christophe-manciot opened #5553 "Cannot pull facts with snmp_facts on ASA"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

snmp_facts
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

inventory   = ./hosts
gathering = explicit
roles_path = /home/actionmystique/Program-Files/Ubuntu/Ansible/git-Ansible/Roles/roles
private_role_vars = yes
log_path = /var/log/ansible.log
fact_caching = redis
fact_caching_timeout = 86400
retry_files_enabled = False
##### OS / ENVIRONMENT

[2016-11-10 17:16] underguiz opened #5555 "ec2_asg does not work when using replace_all_instances option"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_asg

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
OSX, local_action

##### SUMMARY
When using the option replace_all_instances within below task:

[code]

I can see using aws console that the group size is indeed changing and that the launch_configuration was replaced as expected, but while the module is waiting for the newly launche

[2016-11-10 17:18] #5553 closed, assigned to nobody

[2016-11-10 17:25] grizzlyanderson commented on #5522
tried the docker install on the OS X machine, no change. I was using the word "host" wrong in my description (changed now)

[2016-11-10 18:25] AlainG80 opened #5557 "Playbook does NOT play vyos_facts vyos_command vyos_config modules."
##### ISSUE TYPE

 - Documentation Update

##### COMPONENT NAME
vyos_facts
vyos_command
vyos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
When using the ad-hoc command to troubleshoot the playbook modules, I get the following error:
[code]

##### STEPS TO REPRODUCE
[code]

[code]

##### EXPECTED RESULTS

I expected to gather the fa

[2016-11-10 19:08] nitzmahone opened #5558 "docker_container succeeds with empty result"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
2.2.0, 2.1.3

##### SUMMARY
The single `ansible_docker_container` key is being scrubbed from the ansible_facts result value, due to the fix for [CVE-2016-3096](http://www.cvedetails.com/cve/CVE-2016-3096/) from issue https://github.com/ansible/ansible/pull/15925. This is due to the return value's fact key

[2016-11-10 19:25] geekofalltrades opened #5559 "apache2_module fails on enabling shib2 when it's already enabled"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apache2_module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
My non-default configuration:

[code]

But this problem also affects a coworker whose configuration is different than mine.

##### OS / ENVIRONMENT

Ubuntu 16.04 host managing Ubuntu 16.04 nodes.

##### SUMMARY

When using apache2_module to enable the third-party shib2 (shibbolet

[2016-11-10 20:26] edrozenberg commented on #5234
I ran into this also, some kind of bug with 'directory_mode' value string interpretation/assignment.

Workaround for now is to quote the `directory_mode` value like this:

`directory_mode: '0775'`

Interesting that it's not a problem with `mode: 0xxx`.

I'm using `ansible 2.2.0.0`.

[2016-11-10 20:32] solomongifford commented on #5504
@wasimkham: @BenEinwechter is correct - its just the one in the snippet that I pasted in the comment above.  Thats the only one that needs to be removed.

@svenfinke:  @wasimkham is correct - /path/to/your/python/site-packages/ansible/modules/core/source_control/git.py

[2016-11-10 20:33] edrozenberg commented on #5234
@robwilkerson If you don't get a response on this consider upgrading to latest ansible then modifying the ansible version info in your original post above - maybe having the 'affects_2.2' tag on this issue will get someone to take a look.

[2016-11-10 20:46] bcoca commented on #5533
so this looks very weird, as if you are NOT passing the name of the service:

[code]

[2016-11-10 21:11] ahuffman opened #5560 "fetch broken"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

fetch
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL7
##### SUMMARY

##### STEPS TO REPRODUCE

I have a role that grabs the generated certificates off of a remote system back to the control server.  This suddenly broke when going to the latest version of Ansible.

Here's my code snippet:
- name: Fetch kube-api

[2016-11-10 21:42] phoenix741 commented on #5466
Hi,

I have the same bug, and the bugfix resolve the problem

[2016-11-10 22:05] mikecali opened #5561 "vmware_vm_shell: "The guest operations agent could not be contacted""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_vm_shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default configuration

##### OS / ENVIRONMENT
RHEL 7.2

##### SUMMARY
vmware_vm_shell module seems unable to find the vm shell on Vcenter even with successful login to vsphere. I am using this module to execute a script that is pre-loaded to the template that I baked using packe

[2016-11-10 22:07] #5561 closed, assigned to nobody

[2016-11-10 22:29] danielkza commented on #5409
I'm also observing the same problem (Ansible 2.2.0 from PyPI, on Ubuntu 16.04).

[2016-11-10 22:55] juju4 commented on #5470
same here. installing modules in a virtualenv and instead in root install.
Only happen on Centos (tested on 7), not xenial or trusty.

as workaround, specifying executable=/path/virtualenv/bin/pip seems good but it needs to be done an all pip module call...

hopefully 2.2.1 will be released soon. Thanks @ksonj

[2016-11-10 23:44] henriklynggaard commented on #5515
Seeing this too, ansible 2.2.0 and python-docker-py-1.7.2-1.el7.noarch.

Trying to use 2.1.2.0 from another ansible controller  afterwards results in a 404 image not found despite manual pulling is possible

sh-4.2# docker --version
Docker version 1.10.3, build 5206701

[2016-11-10 23:59] mamullen13316 opened #5563 "nxos_command fails with CLI Error when using the src option"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Using defaults
##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.3 (Maipo)
##### SUMMARY

Sending configuration to Nexus 9K fails when using the 'src' option and NXAPI as transport.  The same configuration works fine when using CLI as the transport.  The command '

[2016-11-11 00:21] scjody commented on #4029
Note that https://github.com/ansible/ansible-modules-core/issues/4029#issuecomment-230492142 is not a good workaround. If you end up with a package that defaults to interactive configuration on removal (I've seen this with kernel images), the task will hang.

https://github.com/ansible/ansible-modules-core/issues/4029#issuecomment-228577588 works for me, except I use `bash` because we don't instal

[2016-11-11 00:43] prupert commented on #5533
Well, I am passing the service name. That is why I am reporting this as a bug. ;-)

[code]

[2016-11-11 08:32] jappievw commented on #5522
Ah, clear. Did you ensure docker is running and available in the box? What versions of `docker` and `docker-compose` do you use there?

[2016-11-11 09:14] AlainG80 commented on #5557
Partially solved:
Troubleshooting steps: I reinstalled my ansible after purging the old version, this is a fresh install from  ppa:ansible/ansible
I added paths to my PYTHONPATH variable, in the bashrc file.
However these modules, and their documentation seem to be written for older versions of ansible:

[code]

[2016-11-11 11:15] RichVel commented on #5138
Tested this with 2.2.0.0 and I can confirm it's fixed, using the same test setup as above:

[code]

[2016-11-11 12:57] aleksandr-vin commented on #2283
@volker-fr , there are no error messages in #5442. M.b. a typo?

[2016-11-11 13:15] gyurco commented on #5488
The default for create should be 'yes' for backward compatibility.

[2016-11-11 13:41] klj613 opened #5567 "Ability to stop or start EC2 instances without changing any other settings"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ec2

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Ability to stop or start EC2 instances without changing any other settings.

Currently some settings such as "termination_protection" have a default value which will be applied to the ec2 instance. This causes issues when you have a generic pl

[2016-11-11 14:58] awiddersheim commented on #5470
Also having this problem on Centos7.

[2016-11-11 15:16] ebmarquez opened #5569 "nxos_facts: local_intf = item['ROW_nbor']['l_port_id'] -> TypeError: list indices must be integers, not str"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
hostfile=hosts
ansible_ssh_user=admin
ansible_ssh_private_key_file=/home/emarq/.ssh/id_rsa
host_key_checking=False
##### OS / ENVIRONMENT

##### SUMMARY

failure to execute facts commands on the remote switch.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

generate a lis

[2016-11-11 15:59] scjody commented on #5479
I can reproduce this. Here's the simplest playbook I can come up with:

[code]

Here's the error:

[code]

As above, this worked in 2.1.x but is broken in 2.2.x.

The interesting part is if I remove the optional "name" from my task I get:

[code]

Unfortunately, quoting `{{ item.name }}` does not fix the issue.

To be clear, here is the playbook used to produce the second error:

[code]

[2016-11-11 16:51] bcoca commented on #5479
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

You should have been getting deprecation warnings with those plays in 2.0/2.1 as 'bare' variables in `with_` were scheduled for removal, you need to change you

[2016-11-11 16:51] #5479 closed, assigned to nobody

[2016-11-11 17:24] jean-christophe-manciot commented on #4311
@privateip
With ansible **2.3.0 commit 20161111.3f785ee**
The issue described in this thread - accessing NX-OS devices - has been **fixed for NX-API**, **not when using CLI/SSH transport**, and there some cases where SSH is largely preferable to NX-API:

[code]

leads to:

[code]

although:

[code]

and in ./hosts:

[code]

**Same issue with nxos_command**:

[code]

leads to:

[code]

although:

[

[2016-11-11 18:16] #154 closed, assigned to nobody

[2016-11-11 18:16] grizzlyanderson commented on #5522
yes - if I ssh to the virtual box and run docker-compose on the yml file that ansible copied over to that box, the containers spin up fine.

[code]

[2016-11-11 18:27] jean-christophe-manciot commented on #5214
@GGabriele
With ansible **2.3.0 commit 20161111.3f785ee**, it is still not functioning correctly:

[code]

leads to:

[code]

Although **using nxos_config works fine** on the same target:

[code]

leads to:

[code]

[2016-11-11 18:29] GGabriele commented on #5214
The fix has not been propagated to 2.3 yet. That's only 2.2 right now.

[2016-11-11 19:37] thiagoalves commented on #4359
+1

[2016-11-11 20:03] stevekuznetsov commented on #4752
@jimi-c any thoughts on this?

[2016-11-11 20:29] munkyjunky commented on #5535
After a bit of debugging I've discovered this fails because the command `add-apt-repository` is not present on the 16.04 docker image. By installing `software-properties-common` to the system first, the command works.

I'm unsure why this worked for me using a VirtualBox VM - my only thought would be that the VM image I used already had the required packages installed. Looks like this isn't an iss

[2016-11-11 20:29] #5535 closed, assigned to nobody

[2016-11-11 20:36] msheiny commented on #4604
Also seeing this on `ansible 2.2.0.0`

[code]

[2016-11-11 20:58] Iril opened #5581 "ImportError: No module named _text"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
ansible.module_utils

##### ANSIBLE VERSION
snoopy downloads # ansible --version
Traceback (most recent call last):
  File "/usr/lib/python-exec/python2.7/ansible", line 46, in <module>
    from ansible.module_utils._text import to_text
ImportError: No module named _text
equery l ansible
 * Searching for ansible ...
[IP-] [  ] app-admin/ansible-2

[2016-11-11 21:33] bcoca commented on #5581
This looks like an incomplete or mangled installation, can you remove all ansible versions from the machine and try again?

[2016-11-11 22:02] nungster commented on #3419
I am having the same problem and tried many combinations of having a registry entry or not.  I pass in the variables using --extra-vars and still no pull.  I've verified I can pull the image locally and on the server I am trying to run this playbook against.  Here is the excerpt:

[code]

[2016-11-11 22:49] #5078 closed, assigned to trondhindenes

[2016-11-11 23:34] juju4 opened #5582 "[2.2][hostname module] Could not set property: Failed to activate service 'org.freedesktop.hostname1': timed out"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
hostname module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
local run on ubuntu xenial (inside lxc containers with kitchen-test+kitchen-ansible)

##### SUMMARY
hostname module fails to set with above error

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
set hostname without error.
was working with ansible 2.1

##### ACTUAL RES

[2016-11-11 23:41] relvira commented on #5171
@pezzak Thanks for the headsup, I'll try to upgrade docker-py as soon as I can.

Cheers!

[2016-11-12 04:14] jimmymccrory opened #5584 "args alias unsupported by service module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

service module

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

The 'args' alias for the 'arguments' parameter is not recognized as valid by the service module.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The playbook to complete successfully.

##### ACTUAL RESULTS

[code]

[2016-11-12 05:55] Iril commented on #5581
Thats solved.
emerge -C amsible, find -name ansible\* and delete every reference in python.
then emerge ansible again and all is well.
Guessing in my few goes to install the latest I got crossed wires.
Thanks again.
Keep up the great work with Ansible.

[2016-11-12 05:55] #5581 closed, assigned to nobody

[2016-11-12 20:44] gutmensch commented on #5522
I can confirm this bug...

ansible source host (os x 10.12.1):
`LM-TXL-14501202:ansible jazz$ ansible --version
ansible 2.2.0.0`

ansible destination host (ubuntu 16.04 LTS):
`root@stack /home/jazz # pip list | grep docker
docker-compose (1.8.1)
docker-py (1.8.0)
docker-pycreds (0.2.1)
dockerpty (0.3.4)
You are using pip version 8.1.1, however version 9.0.1 is available.
You should consider upgrad

[2016-11-12 22:49] logan2211 opened #5589 "os_network provider_network_type should allow 'local'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
os_network

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
'local' should be a valid provider_network_type in https://github.com/ansible/ansible-modules-core/blob/devel/cloud/openstack/os_network.py#L172

##### STEPS TO REPRODUCE
Create a network with os_network using provider_network_type: local

Use a neutron

[2016-11-13 04:01] edrozenberg opened #5590 "shell module - error 'dict object' has no attribute 'rc' when running launchctl cmd"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
shell module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MacOS 10.12.1 (16B2555) managing own machine with local connection

##### SUMMARY
Sporadic error with missing 'rc' object after running a shell command involving launchctl Apple utility. Only happens rarely (once for me, several times for my colleague

[2016-11-13 06:26] skhatri commented on #3952
Hello,
Regarding this issue in MacOSX:
There is a reference to use gtar also in 1.9.2 and it handles the scenario when you don't have gtar.
Any reason why it can't fallback to what the behaviour in 1.9.2 is?

File: ./ansible/modules/core/files/unarchive.py

[2016-11-13 08:22] dagwieers commented on #3952
No.

[2016-11-13 09:28] skhatri commented on #3952
ok. thanks. Will you consider a patch for this? Or Must everyone use gtar?

[2016-11-13 09:37] dagwieers commented on #3952
@skhatri Sure, if it results in an idempotent implementation that supports all functionality we have now and implements check-mode. Preferably implements diff-mode as well, similar to the unzip support.

[2016-11-13 09:39] dagwieers commented on #3952
@skhatri The behaviour in v1.9.2 was that it would always uncompress the archive, overwriting all files every time. So it was not idempotent, didn't support check-mode and it was not efficient.

Feel free to take the version from v1.9.2 and put it in your ./library/

[2016-11-13 10:24] vjestin commented on #2866
I ran into a similar issue in 2.1.2.0
It's fixed in  2.2.0.0. Now the error message will state that unzip command cannot handle the archive.

I would close this issue.

[2016-11-13 10:32] skhatri commented on #3952
@dagwieers I was thinking of not failing on

[code]

Wouldn't non-idempotency be ok over failing altogether?
Perhaps a flag to indicate strictness while deciding whether to fail or not?
Ok to just install gtar for my case or I could use the command module.

Thought I would raise it for your consideration and recommendation.

[2016-11-13 10:39] landryb opened #5591 "mount module can't update flags on a mounted FS on OpenBSD"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

mount module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OpenBSD

##### SUMMARY

https://github.com/ansible/ansible-modules-core/blob/devel/system/mount.py#L319 uses `-o remount`, which doesn't exist on OpenBSD. if you try to update the flags for an existing mountpoint, it will update fstab correctly, but then

[2016-11-13 15:06] fliiiix opened #5592 "git update fails every other time"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

git

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

The default which shipped with Fedora release 24 (Twenty Four).

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Git clone fails every other time, with this error message

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect that it works everytime not only every second

[2016-11-13 19:33] dagwieers commented on #5246
Right, I don't feel compelled to do anything for this, as I was not involved with the change to `remote_src` and I don't agree with this change. I think it was a bad choice to change it as was done as it only adds to the confusion.

Secondly, the "added in 2.0" reflects the downloading from URLs, not the change from `copy` to `remote_src` AFAIU. needs_contributor

[2016-11-13 19:35] dagwieers commented on #2866
bug_resolved

[2016-11-13 19:38] dagwieers commented on #3952
@skhatri That would be a bad idea because none of the options in the documentation would work with BSD tar, the code is NOT compatible with BSD tar (hence why we don't support it). If you really desire BSD tar support, **you will have to provide an implementation that is feature-complete with the existing implementation (or better)**. Otherwise I suggest to either install GNU tar instead, or backp

[2016-11-13 19:59] #2866 closed, assigned to nobody

[2016-11-13 21:00] skhatri commented on #3952
thanks for clarifying @dagwieers.

installing gnu-tar works for me. so does using tar command for the step that I had issue with (will look at it around xmas to see if i can contribute).

[2016-11-13 21:37] dagwieers commented on #3952
@skhatri Great, feel free to contact me if you have any questions.

PS We plan to have a pure-python implementation at some point in the future, which is probably the best way forward (no dependency on binaries any longer).

[2016-11-13 21:42] #5262 closed, assigned to resmo

[2016-11-13 21:55] ex-nerd commented on #5246
Seems like a simple change to the example's comment would clear things up.  Something like  `added in 2.0, remote_src behavior changed in 2.2`

[2016-11-14 01:10] elusiveity opened #5593 "redhat_subscription trying to register an already registered system"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

redhat_subscription

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No additional configuration.

##### OS / ENVIRONMENT

Ansible host: RHEL7
Managed node: RHEL7

##### SUMMARY

TASK [Subscribing to RedHat] ***************************************************
fatal: [hostname.local]: FAILED! => {"changed": false, "cmd": "subscription-manag

[2016-11-14 01:12] elusiveity commented on #5593
Originally posted to ansible/ansible-modules-extras mistakenly. Since [#3361](https://github.com/ansible/ansible-modules-extras/issues/3361) I have noticed that it will sometimes error on a run, but will run after that run.

Today, it has started failing with that error on every run.

[2016-11-14 01:28] sunshine69 commented on #5504
I got affected by this as well with force=yes

[2016-11-14 02:16] elusiveity commented on #5593
Have noticed that the module will fail with this message if iptables blocks the connection out.

If I block the connection out of the box to the rhn servers, it will error saying system is already registered as per OP.

[2016-11-14 02:58] dsummersl commented on #4312
#4330 is merged now, just waiting on #4488 it looks like.

[2016-11-14 04:47] dsummersl commented on #5232
I've reproduced this on tagged versions of 2.1.2, but I verified that the stable-2.2 branch does not have this problem because of 2f3fdc49(a cherry-pick of 531e09c probably).

resolved_by_pr 4777

[2016-11-14 04:59] dsummersl commented on #5232
I've reproduced this on tagged versions of 2.1.2, but I verified that the stable-2.1 branch does not have this problem because of 531e09c (also see https://github.com/ansible/ansible-modules-core/pull/4270#issuecomment-255305826).

@ansibot resolved_by_pr #4777

[2016-11-14 05:28] #5232 closed, assigned to nobody

[2016-11-14 08:03] jotunskij commented on #5499
I'm having the same problem.

**Commands**

[code]

**Result**

[code]

**Versions**
ansible 2.1.1.0 running on Mac OSX El Capitan 10.11.6 (15G1004)

[2016-11-14 08:47] saito-hideki commented on #5582
I reproduced this issue.

If your target linux system is managed systemd, current hostname module uses hostnamectl to manage hostname.
But, hostnamectl fails under lxd unpriv container(1). So now, hostname module can't manage this environment until fixing this bug.

Additional information:
1. https://bugs.launchpad.net/ubuntu/+source/apparmor/+bug/1575779

[2016-11-14 09:11] cdelgehier commented on #4742
I notice the same
`ansible 2.2.0.0`

[2016-11-14 09:55] HanXHX commented on #4792
On Ansible 2.2:

Playbook:

[code]

Output:

[code]

[2016-11-14 10:52] dagwieers commented on #4792
Can you please update your bug-report ? Or close this one and open a new one. Because this will be very confusing going forward...

[2016-11-14 11:49] james-gonzalez commented on #5458
Same exact issue. Virtualenv is created, but the packages from requirements.txt are being installed globally. What is the verdict on the best work-around ?

[code]

[2016-11-14 12:02] adamchainz commented on #5458
Use the latest pip.py as toshi wrote above

On Mon, 14 Nov 2016 at 11:49, James Gonzalez notifications@github.com
wrote:

[2016-11-14 12:03] d3prof3t commented on #5458
@cultavix Hey! As @abadger suggested to download and use the latest version of pip file from https://raw.githubusercontent.com/ansible/ansible-modules-core/devel/packaging/language/pip.py or wait till the stable 2.2.1 is out.

For me, I just rolled back my installation to 2.1.3, all the issues atleast pertaining to pip as you mentioned above are fixed now!

[2016-11-14 12:24] AlainG80 commented on #5557
[code]

Which is probably raised by:
/usr/lib/python2.7/dist-packages/ansible/plugins/action/net_template.py:79:            raise ValueError('missing required arguments: src')

[2016-11-14 12:35] james-gonzalez commented on #5458
Thanks, so I've actually gone with the solution proposed by @daniloriecken where I just pass in the pip command manually, within the virtualenv and that has solved the problem.

[2016-11-14 12:44] chrmcd commented on #4281
I would also like to see this implemented. Modified the junos.py file to add support for it myself, but I believe there are better ways for implementing it, as I don't consider myself to be anywhere near a good coder.

If you add the line:
`self.timeout = params['timeout']`
under (line 95)
`def connect(self, params, **kwargs):`
then you modify the kwargs line (line 247) under
`def commit_config(se

[2016-11-14 13:30] sm4rk0 commented on #5078
I tested the case described in Steps to reproduce and ansible now behaves as expected (devel version from git).
Thanks for fixing this!

[2016-11-14 13:49] BenEinwechter commented on #5592
@fliiiix This is a duplicate of https://github.com/ansible/ansible-modules-core/issues/5504 Temporary workaround in #5504

[2016-11-14 13:56] vperron commented on #5499
Can confirm. Exact same test does not work with ansible 2.1.1.0, works in ansibale 2.2.0.0

[2016-11-14 14:02] gundalow commented on #5557
@AlainG80 When using `ansible` in ad-hoc mode you use `-a` to pass the **a**rguments. See http://docs.ansible.com/ansible/intro_adhoc.html

Also it's `commands`, not `command`, see http://docs.ansible.com/ansible/vyos_command_module.html

So the command should be closer to:

[code]

However, playbooks are the way forward...

For Ansible, it generally makes sense to use `ansible-playbook` rather th

[2016-11-14 14:03] juju4 commented on #5582
Ok. Thanks @saito-hideki

[2016-11-14 14:41] dagwieers commented on #5499
That's because we added a fix to v2.2, and that's why we ask to test with the devel branch and to search for known/closed issues before reporting an issue.

It's to avoid spending time and resources on bugs that are already fixed.

bug_resolved

[2016-11-14 14:51] agajdosi commented on #5499
@dagwieers Sorry for that, missed it, will check it next time.

[2016-11-14 14:58] #5499 closed, assigned to nobody

[2016-11-14 15:04] sparunakian opened #5595 "Package module fails to install multiple packages on OpenBSD"
Hi!

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
- package

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing special

##### OS / ENVIRONMENT

Ansible running from ArchLinux, managing an OpenBSD machine

##### SUMMARY

When using the module package for installing multiple packages on OpenBSD, the installation fails. It works if the module openbsd_pkg is called directly.

#####

[2016-11-14 15:09] AlainG80 commented on #5557
I'm aware I need to use the -a but only selected components can have more arguments than the target host see the error from 3 days ago.
Thanks I'll stick with the playbooks, I only used the ad hoc command in an attempt to troubleshoot the playbook:
The provider is weird since unlike junos which has netconf, it is alsways cli.
I tried it according to your specification, without provider, without do

[2016-11-14 15:18] soichih commented on #5504
Is there a workaround for this? Maybe like - downgrading the ansible git module?

[2016-11-14 15:24] gundalow commented on #5557
`gather_subset:config` on the line above is missing a space between `:` and `config`

[2016-11-14 15:44] gundalow commented on #5086
@AnsiNoob Thanks, Let us know how you get on.

[2016-11-14 15:46] sst1xx commented on #5515
Could confirm the bug
CentOS Linux release 7.2.1511 (Core)
python-docker-py-1.7.2-1.el7.noarch
docker-engine-selinux-1.11.2-1.el7.centos.noarch
docker-engine-1.10.2-1.el7.centos.x86_64

[2016-11-14 15:48] furiml opened #5596 "win_command hangs when used asynchronously"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_command
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Managing Windows 7 from a Debian 8.5
Windows has its TMP & TEMP variables set to `D:\tmp\`.
##### SUMMARY

win_command is used to launch a virtually never-ending command. To avoid waiting forever for the task to complete, one can use the async & poll mode, but it doesn't seem t

[2016-11-14 15:52] BenEinwechter commented on #5504
@soichih See my comment above for a temporary workaround: https://github.com/ansible/ansible-modules-core/issues/5504#issuecomment-259695443

[2016-11-14 15:58] AlainG80 commented on #5557
I noticed it too late, thanks for your help.
So now I have the same failure message as the ad hoc command, despite hard coding the hostname or ip address:

[code]

The error might be due to the fact that I don't run vyos 1.1.7 http://packages.vyos.net/iso/release/1.1.7/ but Brocades proprietary vyatta os. The system is similar since Brocade doesn't add any new functionality to its 5400 offering. I

[2016-11-14 16:01] gundalow commented on #4281
@Akvarium Thanks for the suggested work around.
The Network modules went through a fairly large refactor in Ansible 2.2, so if anyone is wondering about applying the above patch into Ansible 2.1 just be aware you may have to do a bit more work.

We will look how to fix this fully, it might be something that should be added into all the networking platforms.

[2016-11-14 16:05] gundalow commented on #5557
Try changing `host:` to:

[code]

[2016-11-14 16:07] ceving opened #5597 "template src does not work for roles"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Module template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04.5 LTS

##### SUMMARY
The module `template` does not search in the `files` directory of a role as it is done by the `copy` module.

##### STEPS TO REPRODUCE

I have a file layout as the best practice documentation recommends:

    site.y

[2016-11-14 16:14] bcoca commented on #5597
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The template module reads the 'templates/' directory in roles and plays, it was never designed to use 'files/'.

In the future, this might be a topic more well

[2016-11-14 16:14] #5597 closed, assigned to nobody

[2016-11-14 16:31] #2057 closed, assigned to ryansb

[2016-11-14 16:36] #5488 closed, assigned to nobody

[2016-11-14 16:42] Jonnymcc opened #5598 "Broken pipe; Sharing connection closed."
Sorry if there are similar issues but I think I have a specific case.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
command module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac OS 10.11.6
OpenSSH_6.9p1, LibreSSL 2.1.8

##### SUMMARY
This happens sporadically. It appears to happen once and then on subsequent runs the error disappears. After waiting f

[2016-11-14 16:43] AlainG80 commented on #5557
One step further:

[code]

According to: https://groups.google.com/forum/#!topic/Ansible-project/Tloq0iVSgLg; I can restart the command using: ansible-playbook -vvvvv vyos2.yml --connection=local which has the same result as: changing the header to:

[code]

Removing the connection parameter from the command line or playbook resolves the: " does not support item assignment" failure.

[2016-11-14 17:04] #4516 closed, assigned to nobody

[2016-11-14 17:09] abadger commented on #4229
Since #4529 has been merged and mdsummers reports this has been fixed in 2.1.2.0 I'm going to close this bug.  I see that there were many commenters here and I'm not entirely sure that they are all referencing the same issue.  If you continue to see the problem in the latest 2.2.x release (or latest 2.1.x release although I can't promise whether we'll backport additional fixes there or not) please

[2016-11-14 17:09] #4229 closed, assigned to nobody

[2016-11-14 17:19] seansummers opened #5600 "ec2_ami_find is_public broken"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_ami_find

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A
##### SUMMARY
is_public does not work for 'yes', true, 'True', or 'true'

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS
[code]

[2016-11-14 17:20] seansummers commented on #5600
Probably due to the fact that [boto.ec2.image](https://github.com/melta/boto/blob/master/boto/ec2/image.py) is looking for a string of 'true' or 'false' and not a boolean, on lines 61,63.

[2016-11-14 17:47] alikins commented on #5593
whats the output  (and exit code) of running 'subscription-manager identity' on that system?

[2016-11-14 17:52] mkoshelev opened #5603 "mount module is broken on CentOS 5 in Ansible 2.2"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

mount

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

controller: Fedora 23
client host: CentOS 5.11

##### SUMMARY

'mount' module in Ansible 2.2 fails on CentOS 5 systems due to lack of /proc/self/mountinfo file. Support for mountinfo was added in kernel 2.6.26, but CentOS 5 is on kernel version 2.6.18.
The issue

[2016-11-14 19:48] bcoca commented on #5584
it is an issue with the systemd module, which does not accept args

[2016-11-14 19:49] Hayorti opened #5606 "win_copy module error in 2.2.0.0 (Unable to find '%s' in expected paths.)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- win_copy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
- No setting changes.

##### OS / ENVIRONMENT
- Host: CentOS 7
- Client: Windows Server 2012 R2

##### SUMMARY
The win_copy module was functioning correctly in Ansible 2.1.3.0, but the same module task now fails in Ansible 2.2.0.0 with the following message:
[code]

##### STEPS TO REP

[2016-11-14 19:55] bcoca commented on #5595
have you added openbsd_pkg to the squash_actions list?

[2016-11-14 20:18] #5584 closed, assigned to bcoca

[2016-11-14 21:13] sparunakian commented on #5595
No, I have not modified this option.

[2016-11-14 21:17] jhawkesworth commented on #5606
Hello.

The win_copy code itself has not changed between 2.1.3 and 2.2.0 so I think the problem is perhaps not with the win_copy code, but another part of the system.

Can you check that you are running from the same directory that you were when you were running 2.1.3?  Since 2.x, I have noticed that ansible is sensitive to the cwd that it is run from, especially when referencing relative paths su

[2016-11-14 21:26] dtoubelis opened #5607 "Shell module does not respect indentation with multiline command"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

shell

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04.1

##### SUMMARY

Shell module does not respect indentation with multiline command.

##### STEPS TO REPRODUCE

Run the play below:

[code]

##### EXPECTED RESULTS

Produce and execute the following python script:
[code]

##### ACTUAL RESULTS

The generated script is:
[c

[2016-11-14 21:32] jhawkesworth commented on #5596
I don't know exactly what is happening in your case but if you need to kick off long-running processes on windows I'd recommend using the win_nssm module to install your long-running commands as windows services.

Another trick you can use is create a link in the Startup folder for a particular user and set that user to auto logon.

Here's a simple script to create a start up folder link:

[code]

[2016-11-14 21:45] jhawkesworth commented on #5078
Since OP has reported fixed I'm closing this.

[2016-11-14 21:47] ghost commented on #3764
Nice! This is happening with many other services as well, for example, instead of running:

[code]

I have to run:

[code]

Then, it works! With the patch applied against my local Ansible, problem solved! Sevice module back to business.

Please, make this change available on Ansible's Ubuntu PPA!   :-D

[2016-11-14 21:55] bcoca commented on #5595
`"name": "['curl', 'lsof']",`this should not be happening unless the squash option has been expanded to include openbsd_pkg, can you try running asnible with?:

`ANSIBLE_SQUASH_ACTIONS="yum,apt"  ansible-playbook ....`

[2016-11-14 22:08] bcoca commented on #5595
argh ... i misread the ticket, please set the squash_actions in ansible.cfg to exclude `package`, as it will squash the items and pass them to openbsd_pkg, which does not support this.

[2016-11-14 22:35] Hayorti commented on #5606
@jhawkesworth Thanks for the response.

All of my playbooks are run from the "ansible" directory, and a large portion of the modules I'm using still work after the update. It's only win_copy that was causing some grief.

**Example 1**
I created a "files" directory as recommended, moved the script, and re-ran my playbook. It executed correctly, which is great.

Directory structure:

[code]

Task:

[2016-11-14 22:37] chrisweaver commented on #3444
I just tested with Ansible 2.2.0.  Exactly the same issues:
(1) idempotency on create is broken.  Re-creating an existing ELB fails with "Load Balancer already exists and it is configured with different tags"
(2) can't delete ELBs.  Deleting an ELB fails with "'NoneType' object has no attribute 'policies'"

What version of Boto are you using?

[2016-11-14 22:42] #5595 closed, assigned to nobody

[2016-11-14 22:53] thaumos commented on #3444
@chrisweaver, For this test, I am on 2.4.3 boto.  How about yourself?

Here's [my output](https://gist.github.com/thaumos/2594cc2f661f182de8b6f19b3eca4201) from the playbook run.  You'll see I can add, re-run, delete, and re-run.  I don't see the same errors as you.

As an aside, I don't actually recall the changed event happening each create run. However, it doesn't make a change on the console.

[2016-11-14 23:05] furiml commented on #5596
@jhawkesworth Thank you for your answer.
It's funny because I use win_command to avoid launching my process as a service :(
Already did the shortcut tip (should've written that as a workaround) but this adds several, close, reboots on a server in our office... And the fan is really, really loud at startup !
I'll give it a shot with the win_nssm, it may work, but this is not the intended use. Will

[2016-11-15 00:16] elusiveity commented on #5593
# subscription-manager identity

system identity: <redacted>
name: <redacted>
org name: <redacted>
org ID: <redacted>

On Tue, Nov 15, 2016 at 4:47 AM, Adrian Likins wrote:

[2016-11-15 00:54] simplesteph commented on #2576
Same issue here, recently updated ansible to match the devel branch. Probably a regression because of the recent activity

[2016-11-15 03:02] edrozenberg commented on #5590
It was almost certainly a user error and not a bug. Running this launchctl sudo task without asking for sudo password caused the output variable not have an RC (return code). Closing.

[2016-11-15 03:02] #5590 closed, assigned to nobody

[2016-11-15 03:18] chrisweaver commented on #3444
@thaumos I see from your output that you are not using ELB tags.  If I remove tags from my ELB, I also can recreate my ELB with no errors.

That doesn't help with deleting ELBs though.  I can't see why we get different results there, neither of us are using backend policies I believe.

I am also using Boto 2.4.3.

[2016-11-15 04:37] rolindroy opened #5612 "Ansible EC2 Module is not retrieving Instance information"
I wrote an ansible task to create ec2 instance and add the host as dynamic host. The task is working perfectly and created the instance, But Am not able to retrieve instance information.

Ansible version : 2.2.0.0 / Ubuntu 14.04

Here is my code

[code]
The output what am getting is

[code]

Is there any other way to do this.

issue type : need advice

[2016-11-15 04:42] rolindroy commented on #5612
@ansibot  issue type : need advice

[2016-11-15 05:15] thaumos commented on #3444
that's a great point @chrisweaver ... I "thought" I was using the right task here.  Could you provide a copy of the task you are using.  I know you mentioned earlier in chain which one, but I'd prefer you give me close to what you are actually running.  Just for sanity's sake.

[2016-11-15 05:21] thaumos commented on #5612
Hi @rolindroy, did you attempt at asking the project list or IRC for help on this?  This doesn't "seem" like a bug with EC2 module, at first glance.

[2016-11-15 06:00] rolindroy commented on #5612
@thaumos This issue has been resolved by modifying `with_items: "{{ ec2.instances }}"`
Thanks for the support.

[2016-11-15 06:00] #5612 closed, assigned to nobody

[2016-11-15 07:05] ivermac commented on #5539
Hey @bhcopeland, I'm getting the exact same error as you. I'm installing node using an nvm role (https://github.com/pablocrivella/ansible-role-nvm) and the failing task is the following:

[code]

Were you able to sort out this problem? If so, how did you sort it out?

[2016-11-15 09:07] maugli13 opened #5614 "ios_facts: very limited functionality"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.1 LTS
Release:	16.04
Codename:	xenial
##### SUMMARY

looks like ios_facts module covering only cisco routers, but switches running different version of software failing with different commands failure
##### ST

[2016-11-15 09:40] sparunakian commented on #5595
Hi. This works when removing the package module from the squash_actions. Thank you very much!

[2016-11-15 10:28] deejay1 opened #5615 "Pip doesn't respect virtualenv settings"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
packaging/language/pip.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

The pip module doesn't respect the virtualenv setting, but uses the stock /usr/bin/pip2 executable.
See https://github.com/ansible/ansible-modules-core/commit/d2106f1c929908aaeaeb53a77f71a1b9b0d59049#commitcomment-

[2016-11-15 10:57] ghost opened #5616 "files module copy: error copying files into fuse filesystem"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Host OS:
* macOS Sierra 10.12.1
* Python 2.7.12

Managed OS:
* Debian Jessie with Proxmox 4.3 installed
* Python 2.7.9

##### SUMMARY

I want to copy the firewall configuration file of Proxmox to the managed server.
But instead of copying, I get an error.
I

[2016-11-15 11:23] ghost commented on #5616
I just figured out, that the lastly mentiond copy invokation using "remote_src" actually does result in the same error.
When I was testing the remote_src attribute, the destination was equal to the source, so no copying was necessary. Therefore the module didn't produce an error.

[2016-11-15 11:44] NL9 commented on #5532
The same issue https://github.com/ansible/ansible-modules-core/issues/5468.

[2016-11-15 11:50] NL9 commented on #5484
The same issues https://github.com/ansible/ansible-modules-core/issues/5468 and https://github.com/ansible/ansible-modules-core/issues/5532.

[2016-11-15 12:25] jdevora commented on #3381
And it doesn't do what it says in the documentation
http://docs.ansible.com/ansible/lineinfile_module.html
backrefs:  "... and if the regexp doesn't match anywhere in the file, the file will be left unchanged..."

[2016-11-15 12:43] KarenTovmasian opened #5617 "vsphere_guest"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vsphere_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

MacOS X Sierra
##### SUMMARY

vpshere_guest requires to provide esxi hostname and datacenter, but within our organisation we don't have rights to create VM on the host, only in Resource Pool
##### STEPS TO REPRODUCE

ansible-playbook createvm_new.yml

[co

[2016-11-15 13:30] KarenTovmasian commented on #5617
ready_for_review

[2016-11-15 15:24] bbaassssiiee commented on #915
regression in ansible 2.2

[2016-11-15 15:25] AlainG80 commented on #5557
Setting gather_facts to no and connection to local seems to work:

[code]

[2016-11-15 15:54] olecrivain commented on #4977
Hi, Same error here! (ansible v2.2.0)

[2016-11-15 16:04] gundalow commented on #5569
Updated title of bug report.

[2016-11-15 16:07] vijayrajah commented on #5274
+1 ..

Also want to point out that, in the docs, the default behavior is listed as "incremental".  This is in-consistent with the module behavior.

[2016-11-15 16:07] jedelman8 commented on #5569
Pretty sure I have a PR in for this already. Can cross reference later.

[2016-11-15 16:37] fdutheil commented on #5603
Same issue here on a RHEL 5.11 host with ansible 2.2.0.0 on Ubuntu 14.04.5. Ansible 2.1.2.0 is not affected by this issue.

[2016-11-15 17:38] kkirsche commented on #5336
This issue still affects me in 2.2. Are there any tips on what I can do to help fix this?

[2016-11-15 22:12] TomaszKlosinski commented on #593
Is there a way to set this globally in ansible.cfg (or at least in the playbook)? I have ~100 roles with "service" tasks - rewriting this to use systemd module or "use=systemd" in service module seems a bit overkill.

[2016-11-15 23:48] colinbjohnson opened #5625 "cloudformation module = Add "Change Set" Support"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
cloudformation

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible.cfg is defaults.

##### OS / ENVIRONMENT
NA.

##### SUMMARY
Feature Idea: would like the ansible cloudformation module to support AWS CloudFormation "change set" creation. https://aws.amazon.com/blogs/aws/new-change-sets-for-aws-cloudformation/

##### STEPS TO REPRODUCE

[2016-11-16 00:15] tedder commented on #5625
Yep. This is why it was rewritten for 2.3, it just `needs_contributor`.

[2016-11-16 00:28] mftovey opened #5626 "negative lookahead assertion broken in Ansible 2"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
replace

##### ANSIBLE VERSION
ansible 2.2.0.0
  config file = /home/pdxmft/ansible/config/ansible.cfg
  configured module search path = ['/usr/share/ansible/']
[code]

##### CONFIGURATION
ANSIBLE_HOSTS=/home/pdxmft/ansible/config/hosts
ANSIBLE_CONFIG=/home/pdxmft/ansible/config/ansible.cfg

ansible.cfg is stock

##### OS / ENVIRONMENT

Server:

[2016-11-16 01:28] EvanK commented on #5626
This is odd, as the module is using python's built-in regexp engine _in precisely the same way_ across both major versions.

I'll dig in a bit deeper, but my first guess is that it's something to do with yaml parsing of the task params, before it's handed off to the module. It _might_ behave differently given a long form task:

[code]

[2016-11-16 02:37] jctanner commented on #5227
@Mihai-CMM what is the size of the file being copied and how long does it take before the connection times out?

needs_info

[2016-11-16 02:50] privateip commented on #5557
Working as designed.  All vyos_\* modules require `connection: local` to be set (use of `gather_facts` is optional) either at the task, play or playbook levels.  If you want to run ad-hoc same applies.

!waiting_on_maintainer

[2016-11-16 02:54] jctanner commented on #5424
Confirmed behavior for v2.1.2, v2.2 and devel. It looks like the mode is being converted to "mode": "05303" in the module args.

[2016-11-16 02:57] jctanner commented on #5424
@mblarsen I believe we added this relevant section to the file module docstrings recently ...

If I change the mode in your playbook to 02755, the final mode of the directory appears to be what you expected:

[code]

Please try 02755 instead.

needs_info

[2016-11-16 03:04] jctanner commented on #5496
@tonydoval Some of the memory utilization may have been improved by https://github.com/ansible/ansible/pull/18368

Can you please retest with devel and report your results?

needs_info

[2016-11-16 03:06] jctanner commented on #5528
@gkhasel1 Please file a new bug with the template sections filled out if you have found an issue.

[2016-11-16 03:06] #5528 closed, assigned to nobody

[2016-11-16 03:10] jctanner commented on #5340
@basictheprogram can you confirm if the error is transient or persistent?

needs_info

[2016-11-16 03:28] jctanner commented on #5517
@Abdul-Anshad-A thanks for the bug report and the fix. I merged your PR, so this should no longer be an issue.

[2016-11-16 03:28] #5517 closed, assigned to nobody

[2016-11-16 03:32] jctanner commented on #5435
I just ran into a similar issue:

[code]

Please clean out all copies of the requests library, reinstall it and then re-test ansible.

needs_info

[2016-11-16 03:51] jctanner commented on #5515
@maciej @vital-st1x @henriklynggaard @pondix

I reproduced the error on centos7 with the docker and python-docker-py packages from epel. Can you please confirm if removing the docker-py rpm and installing the latest from pip resolves the issue?

[code]

needs_info

[2016-11-16 04:42] mblarsen commented on #5424
@jctanner I did see the doc you quoted. So the extra digit in `02755` as compared to `0755` is to make sure it is octal?

If you mention in the docs that it is `chmod`es, then at least it should be able to take such input in a consistent matter.

In chmod symbolic mode you can say `+u` and `+g` to set uid and gid. Will this work here as well like: `u+g` ?

[2016-11-16 05:08] basictheprogram commented on #5340
Unable to duplicate. Tag it transient and close.

[2016-11-16 06:15] bitonio opened #5627 "service task: unsupported parameter for module: runlevel against Ubutun 16 LTS"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

MacOS X 10.11.6 (15G1108)

##### SUMMARY

We using a simple task service with runlevel against a Ubuntu 16.04.1 LTS (using systemd), I got the following error message: "unsupported parameter for module: runlevel"

##### STEPS TO REPRODUCE

The task is like thi

[2016-11-16 06:52] Mihai-CMM commented on #5227
@jjctanner   Thank you for looking into this:
 size of the file : 0,5 KB
[mcostache@localhost Proxmox_Ansible]$ ll -h superadmin.sql
-rwxr-xr-x 1 mcostache mcostache 538 Oct  3 16:02 superadmin.sql

connection times out after  : ~30 minutes
date && ansible-playbook -vvvvv populate.yml &&date

## Tue Oct 11 16:15:18 EEST 2016

10.3.0.60 : ok=1 changed=0 unreachable=1 failed=0
Tue Oct 11 16:46:42 EE

[2016-11-16 07:12] ebmarquez opened #5628 "nxos_command paramiko.ssh_exception.BadHostKeyException bad key exception failure"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

  nxos_command
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

##### SUMMARY

An updated switch configuration is sent to the switch.  The switch get's reloaded.  Post reload the ssh server key has changed on the switch.  The public key that is stored in known_hosts is no longer valid.  paramiko throws an erro

[2016-11-16 07:17] ebmarquez commented on #5534
Thanks, for the work around.

[2016-11-16 07:26] amasad commented on #4857
ALB has the long awaited support for Websockets. Would be great to get Ansible support for this.

[2016-11-16 08:16] fliiiix commented on #5592
@BenEinwechter thanks!
Closed as Duplicate of issue #5504

[2016-11-16 08:16] #5592 closed, assigned to nobody

[2016-11-16 09:34] anton-dealmeida commented on #5439
Hi there, so I got it to work again. The guys from CraftCMS didn't release the .zip file correctly so it did work, this did work correctly but the content of the zip was different as the actual files I targeted was a whole directory level deeper.

[2016-11-16 10:00] dagwieers commented on #5439
Great, thanks for reporting back !

notabug

[2016-11-16 10:07] robinro commented on #5559
@geekofalltrades Thanks for using ansible and the apache2_module module.

I can reproduce your issue.

The name of the module is `shib2` and as such it is enabled/disabled by a2enmod/a2dismod.
In `apache2ctl -M` it is however listed as `mod_shib` instead of `shib2_module`, the format which all other modules follow.

Please report the bug upstream to ubuntu, so the module listing is fixed and post

[2016-11-16 10:10] #5439 closed, assigned to nobody

[2016-11-16 10:20] donat-b opened #5630 "apt: module failure when installing package with unmet deps and update_cache enabled"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default

##### OS / ENVIRONMENT

[code]
##### SUMMARY

apt module doesn't behave as it should.

##### STEPS TO REPRODUCE

Attempt to install a package with unmet dependencies enabling update_cache.
Disabling update_cache circumvents the problem.

[code]

##### EXPECTED RESULTS

[code]

###

[2016-11-16 10:30] davidebelloni commented on #4712
Hi,
the issue persist because with IOS (maybe not all versions) it's not possible to use pipe after dir command, the error is on pipe char and not on all-filesystems keyword

[2016-11-16 10:42] Gronan commented on #3523
Same problem here with ansible 2.1.2 and ubuntu 16,
Installing `python-minimal` and `aptitude` did not worked for me though...

[2016-11-16 11:43] sigfrido commented on #5615
Hi,

I don't know if the error I'm getting is related to your bug report, but something broke with the last ansible upgrade. The following task worked flawlessly a couple of weeks ago:

[code]

This now creates the virtual environment giving apache the ownership of the files (as before), but fails installing requirements with "Permission denied: /usr/lib/python2.7/site-packages/django": so it's tr

[2016-11-16 11:47] Chris-YBS commented on #5606
I have discovered that when copying from local:

prior to 2.2 you had:

win_copy: src="**files/**log4j.xml" dest= ...

2.2 it is

win_copy: src="log4j.xml" dest=...

[2016-11-16 12:19] maciej commented on #5515
@jctanner installing docker-py (from pip) in version 1.10.6 resolves the issue for me.

[2016-11-16 12:46] ffledgling commented on #5385
@tima I don't exactly follow, where am I using localhost? I have a specific host called `vm` defined in my hosts file that I'm using from my playbook. Which alias would you like me to give a different name? `local_vm` instead of `vm` ?

Is the suggestion to not use VMs running on localhost in the first place?

[2016-11-16 12:51] damien-carcel commented on #5515
Hello.

I can confirm this issue on Archlinux too. Everything up to date: ansible 2.2.0, python 2.7.12 and docker-py 1.10.6.

I tried to remove docker-py, then install it with pip, but that changes nothing…

For the moment, I reverted to ansible 2.1 to get things working again.

[2016-11-16 13:19] tdely commented on #4029
https://github.com/ansible/ansible-modules-core/issues/4029#issuecomment-228577588 works for me as well, but only when the package specified is installed or removed; if there is no change to the package no autoremove action is taken.

[2016-11-16 13:55] davidak commented on #5459
I have the same error when i try to install 8 packages with the apt module. It worked with only 3 of them.

[code]

you find the whole code at https://github.com/davidak/ansible-ubuntu-desktop/blob/bd07fcbc894eb9d217a9d67abb802a23307c3c73/roles/common/tasks/libreoffice.yml

---

elementary OS 0.4 Loki (based on Ubuntu 16.04 LTS)

[2016-11-16 14:27] jctanner commented on #5545
Reproduced with 2.3/devel.

[2016-11-16 14:30] gundalow commented on #4712
Reopening this bug based on the above comments.

@davidebelloni Do you know what versions of IOS this is still failing on? Thanks in advance.

[2016-11-16 14:31] jctanner commented on #5545
@jimmy what is the usecase here? Why are you prefixing shell commands with an interactive subshell via "bash -ic" ?

needs_info

[2016-11-16 14:45] ghost commented on #915
I just encountered this for the first time using Ansible 2.2 on Debian with a Centos 7.2.1511 target host.

[code]

Leads to:

[code]

Then I ran this command on the server

[code]

And if I rerun the Ansible script, it works like a charm.
Maybe the service module can run systemctl or chkconfig when it initially fails.

Thx for your support!

[2016-11-16 15:14] bcoca commented on #5627
the filtering was off, looking for the plural, this commit should fix (out in next 2.2 and 2.3 releases) https://github.com/ansible/ansible/commit/afaec3da82a947f22608c8228720d99baa974538

[2016-11-16 15:14] #5627 closed, assigned to nobody

[2016-11-16 15:15] jean-christophe-manciot opened #5632 "Exception with ios_command: AttributeError: 'list' object has no attribute 'splitlines'"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ios_command
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

inventory   = ./hosts
gathering = explicit
roles_path = /home/actionmystique/Program-Files/Ubuntu/Ansible/git-Ansible/Roles/roles
private_role_vars = yes
log_path = /var/log/ansible.log
fact_caching = redis
fact_caching_timeout = 86400
retry_files_enabled = False
##### OS / ENVIRONMEN

[2016-11-16 15:33] acidjunk commented on #5504
+1 for a fix

[2016-11-16 16:00] AlekseyKrylov opened #5633 "vsphere_guest powered_on error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vsphere_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

vsphere_guest module failed with requirements of vm_disk configuration.
vm_disk parameter is not required : see [[http://docs.ansible.com/ansible/vsphere_guest_module.html]]

##### STEPS TO REPRODUCE

just run playbook

[code]

#####

[2016-11-16 16:03] AlekseyKrylov commented on #5633
same results on Centos 7 and Fedora 24

[2016-11-16 16:20] queria opened #5634 "with requests==2.12.1 os_network fails when auth_url has ipv6 address for host"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

os_network
though could be any other where ipv6 address in http url gets passed to requests (not tested)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Should not be related (no local config, unmodified distro version in /etc).

##### OS / ENVIRONMENT
Fedora 24

##### SUMMARY
When auth_url for os_network is in form of "https://[2001:db8::

[2016-11-16 16:24] dtoubelis commented on #5607
Same problem is present in `2.2.0.0`

[2016-11-16 16:26] hsanjuan commented on #5504
FYI, there is a PR for this: #5505

[2016-11-16 16:36] RokLenarcic opened #5635 "Synchronize module ignores remote_user parameter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Module `synchronize`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
macOS Sierra

##### SUMMARY
Synchronize module doesn't use user specified in `remote_user` to connect to another system.
Works correctly in `2.0.2.0`.

##### STEPS TO REPRODUCE
You need a machine that runs Ansible.

A host, let's call it `staging_mac

[2016-11-16 16:49] sivel commented on #5626
Yes, it seems that due to a change in the parser between 1.x and 2.x, the `key=value` version results in an improperly escaped string.  This isn't anything specific with the `replace` module.

#### key=value

[code]

#### key: value

[code]

You will notice that in the `key=value` example, the `\b` is not escaped, whereas with the YAML `key: value` format, it is `\\b`.  (Ignore the True/False valu

[2016-11-16 16:51] kkirsche opened #5636 "Junos Facts Does Not Support "Set" Config Format"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`junos_facts`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core)

##### SUMMARY

`junos_facts` does not support the `set` config_format` as stated in http://docs.ansible.com/ansible/junos_facts_module.html

##### STEPS TO REPRODUCE

use the following config within a playbook a

[2016-11-16 17:00] EvanK commented on #5626
Thanks for confirming, @sivel!

While it's not a fix, I can update the module docs to use the long form, and add a note about metacharacter escaping in 2.x

[2016-11-16 17:07] Abdul-Anshad-A commented on #5633
I'm unable to reproduce this on my environment, could you please comment out the "vars_files" section and re-run playbook with hard coded values ?

[2016-11-16 17:10] mftovey commented on #5626
Easy enough for me to adapt to.  I will make the necessary changes to my code and move on.
Thanks!
-Mark

[2016-11-16 17:19] Abdul-Anshad-A commented on #5633
Ok, I was able to reproduce this issue when I try to power on a vm which doesn't exists. I still believe its a bug, will try to write up a path to display relevant error message instead of misleading one.

[2016-11-16 18:04] nitzmahone commented on #5596
Yeah, I just ran into the issue where win_shell/win_command are blocking the async return yesterday (I hadn't used them together until then). I'll take a look at that, but @jhawkesworth is right; if you're just trying to run a perpetual process, async is _not_ the right tool for the job. The watchdog wrapper will eventually destroy the process when the timeout expires, all output gets captured to

[2016-11-16 18:08] nitzmahone commented on #5606
@Chris-YBS is correct- this doesn't actually have anything to do with the win_copy module itself. You're running afoul of Ansible's "DWIM" (Do What I Mean) stuff- when you're inside a role, the documented behavior of copy modules is to automatically look first in files/ in the role (and script pulls from scripts/, template pulls from templates/, etc). However, I think this was an unintended breaka

[2016-11-16 18:23] peterbsmyth opened #5637 "ec2_elb_lb misconfigures minimum size, desired size, and maximum size"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_elb_lb

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Operating on: ubuntu 14.04
Managing: ubuntu 14.04

##### SUMMARY

When updating an existing ELB with min size 2 and max size 10, inevitably sometimes the resulting configuration has a min size of 3 and max size of 11 (as well as a desired size of 3). Th

[2016-11-16 18:27] EvanK commented on #5626
Yep, what's happening here specifically is the **word boundary escape sequence** (`\b`) is being parsed instead as the **string literal backspace escape sequence**.

It's also the only sequence that does double duty, as noted in the python docs:

[2016-11-16 18:42] Hayorti commented on #5606
@nitzmahone

Thanks for the response. And apologies for all the reading I'm making you guys do for this.

I do have to disagree with you in regards to the documented behaviour of these modules. I can't see any documentation that dictates that these modules look for contents in specific directories. If there is documentation, it definitely isn't within the module docs themselves, which is probably

[2016-11-16 18:52] dtaylor-iidnet commented on #3140
Hi Folks,

I have a workaround. Seeing as ansible uses boto under the covers, I looked for anyone talking about that there, and found this:
https://github.com/jschneier/django-storages/issues/28

BodhiSukha had a fix, involving setting the environment variable as follows:

[code]

and leistungsabfall confirmed it. OK, they did it within a prog, so perhaps that is harder. I guess you could add it t

[2016-11-16 19:03] jctanner commented on #5227
@Mihai-CMM I suspect there is a prompt being displayed that sshpass does not know how to handle or stfp is defunct on the remote machine. Please try testing sftp directly to see if the problem can be reproduced outside of ansible ...

[code]

needs_info

[2016-11-16 19:54] Thingee commented on #5116
I just gave this a try on city cloud with ansible 2.2.0.0 and shade 1.12.1 and didn't experience any problems. Is there a particular public cloud you're able to reproduce this on so I can further look into this problem? Thanks!

[code]

[code]

[2016-11-16 20:10] Dirk-c-Walter commented on #5171
Faced with the same issue on ansible 2.2.0.0-1. Docker-py 1.7.2 is installed on the target, I don't specify the ip4 address but still get this issue.

[code]

I need a fix or workaround. :(

[2016-11-16 20:16] lbchv commented on #5171
@Dirk-c-Walter maybe you have a typo?

[2016-11-16 20:20] Dirk-c-Walter commented on #5171
@pezzak Nah I changed the names when copy and pasting the code over.  good catch though :)

FYI when introducing a typo deliberately the error becomes a

without typos the error is the same as you get:

What version of docker-py are you using to bypass this problem?

[2016-11-16 20:40] omgjlk commented on #5116
needs_info

[2016-11-16 21:04] geekofalltrades commented on #5559
Thanks. Bug has been reported [here](https://bugs.launchpad.net/ubuntu/+source/shibboleth-sp2/+bug/1642393).

[2016-11-16 22:58] Dirk-c-Walter commented on #5171
Ok workaround found it needs docker-py 1.9.0 to be installed as that adds the ipv4_address argument. If you install 1.10.x you will find that ansible thinks it is too old and so will refuse to run...

[2016-11-17 04:01] bcoca commented on #5527
so one thing about masking non existing services, it varies across systemd versions/setups.
`#>systemctl mask idont`
on some platforms I get:
`Failed to execute operation: Access denied`
on others
`Created symlink from /etc/systemd/system/idont.service to /dev/null`

so I'll need to update my 'fix' to account for both behaviours

[2016-11-17 07:36] packeteer commented on #5515
fwiw, I'm hitting the same issue
OSX El Cap with python 2.7.12 and pip installed ansible 2.2.0, running against vagrant centos 7 box (Docker 1.10.3, docker-py 1.7.2)

pip installing docker-py (1.10.6) on the target solves the issue

[2016-11-17 08:24] sikanhe commented on #871
I figured it out, this is happending using the TagName: "{{ tagvalue }}" syntax or the TagName=tagvalue syntax in count_tag. The workaround is defining the tags like this count_tag: { "type": "{{ type }}" }

[2016-11-17 08:38] ogenstad opened #5642 "Networking, more userfriendly error when raising BadHostKeyException"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - ios_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
A network device has changed the SSH key.

##### STEPS TO REPRODUCE
Login to device to store the public key locally, then regenerate the ssh key on the device

##### EXPECTED RESULTS
The task fails as expected. However the error is q

[2016-11-17 08:52] sikanhe opened #5643 "count_tag ignored tag value"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
ec2

##### ANSIBLE VERSION
ansible 2.2.0.0

##### CONFIGURATION
[defaults]
host_key_checking = False
inventory = hosts.ini
vault_password_file = vault_pass.txt

[ssh_connection]
ssh_args=-o ForwardAgent=yes
control_path = %(directory)s/%%h-%%r

##### OS / ENVIRONMENT
OS X El capitan

##### SUMMARY
when using count_tag like so:

`count_tag: Name=T

[2016-11-17 08:55] sikanhe commented on #5643
nvm the problem was on my end

[2016-11-17 08:55] #5643 closed, assigned to nobody

[2016-11-17 09:01] AlekseyKrylov commented on #5633
Thanx to Abdul-Anshad-A

Unfortunately, main problem is difference between hostname and guest name.

[2016-11-17 09:01] #5633 closed, assigned to nobody

[2016-11-17 09:08] Chris-YBS opened #5644 "Spurious warning when running win_file to create directory since 2.2"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Logfile location changed only
##### OS / ENVIRONMENT
N/A

##### SUMMARY
When an directory is created with win_file a spurious warning is produced:

---
TASK [win_file] ****************************************************************
 **[WARNING]: Module invocation had junk after the J

[2016-11-17 09:25] lhuard1A commented on #5492
Hello,

The `ec2` module invocation is missing `vpc_subnet_id:` parameter.
As there is a `group_id:` parameter specified, you need to explicitly specify a `vpc_subnet_id:` parameter with the ID of a subnet of the same VPC as the security group.

[2016-11-17 09:43] hvisage commented on #5504
+1

In our case: first run (two current django deploys) it fails, then the 2nd run works fine.

[2016-11-17 09:50] jhawkesworth commented on #5644
Hi @Chris-YBS , this was discovered very late on in 2.2 - after the final release candidate.  You can blame me for not testing sooner.
However, @nitzmahone has already merged a fix for it in commit de7ec946e9d1cdb636f172b4ec9aeff7e07191d4 so will be fixed in next ansible release.

For this reason I'm closing this issue.
Jon

[2016-11-17 09:50] #5644 closed, assigned to nobody

[2016-11-17 09:51] BarryCui opened #5645 "win_copy with JSON"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
default config
##### OS / ENVIRONMENT
CentOS7  for ansbile control machine and Windows server 2008 R2 SP1 for managed machine

##### SUMMARY
I got an error when transferring files which include JSON data via win_copy module.

##### STEPS TO REPRODUCE
I was transferring files end with

[2016-11-17 10:14] kotofos commented on #1656
On 10.11 OS X and ansible issue is still there. I can run pip3 in command line on target host, but ansible pip module can't find it. Even when I specify executable=pip3. So I have to specify full path to pip3.

[2016-11-17 10:15] ashleydw commented on #5234
Same here, but running ansible again will succeed

[2016-11-17 11:19] gundalow opened #5646 "junos_config: obj, end = self.raw_decode(s, idx=_w(s, 0).end()) -> TypeError: expected string or buffer"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
junos_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2016-11-17 13:31] tuwid commented on #5492
@lhuard1A tried that also a few times before i posted this, still had the issue. The thing that concerns me is that it worked a couple of days. I dont think i would have been able to set it up at all if any of those params were missing though

[2016-11-17 13:33] tuwid commented on #5544
Managed a workaround like this :

[code]

[2016-11-17 13:50] pahansson opened #5647 "ios_command module fails with "msg": "matched error in response: ...""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_command

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When running the ios_command module with "show ip bgp" on a Cisco 6500 the module fails with;

"msg": "matched error in response: up-path, f RT-Filter, \r\n              x best-external, a additional-path, c RIB-compressed, \r\nOrigin codes:

[2016-11-17 14:20] jhawkesworth commented on #5645
Looks like you have hit a read timeout.  win_copy has been known to struggle to transfer big files >100Mb.
Are the files you transferring large?  What is total size of files to be transferred?
For large files, typically I use win_get_url module to fetch files from a webserver.  It is quicker than win_copy for big things as it avoids overhead of winrm soap protocol.

needs_info

[2016-11-17 14:34] Jmainguy commented on #5053
Can you try using latest devel, looks like it works now

[code]

[2016-11-17 14:35] Jmainguy commented on #5053
ansibot 'needs_info'

[2016-11-17 14:41] ericcitaire opened #5649 "os_volume always returns `changed=true`"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
Module `os_volume`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Running from Mac OS 10.11.6 with virtualenv, managing Open Stack API

##### SUMMARY
When destroying an OpenStack volume, the module always resturns `changed=true`

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS

[2016-11-17 14:43] #5285 closed, assigned to nobody

[2016-11-17 14:57] kutay commented on #4977
Hello, I have the same issue too (ansible v2.3.0)

[2016-11-17 18:53] jctanner commented on #915
@bbaassssiiee @tkinz27 If you have found a bug in 2.2, please open a new issue. This ticket was originally for ansible 1.9

[2016-11-17 19:40] Gillingham commented on #915
@jctanner the bug has been outstanding since 1.9, a fix has never been included in ansible so it's migrated from 1.9 -> 2.2 as the versions have incremented. Do you want a duplicate bug opened for every version of ansible?

[2016-11-17 20:00] nickmisasi opened #5651 "Update URI documentation to remove deprecated example and add new one"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

uri
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Trusty
##### SUMMARY

In the documentation for the uri module (http://docs.ansible.com/ansible/uri_module.html) the examples only show examples for HEADER_, which is deprecated as of 2.1 in favour of the "headers" argument. I forked the repo and set upI'm

[2016-11-17 22:30] mgodwin commented on #3018
Hate to +1 this, but recently was bit by this one as well.  Forgot the `become: yes` directive in my handler and couldn't bounce `apache2`.  Scary because it 'appeared' to work but definitely didn't bounce the service.  Did confirm that running it as a task w/o the correct privileges does blow up.  Also adding `become: yes` does fix the problem, but am a little uneasy about it now that I got a fal

[2016-11-17 22:51] rilindo commented on #5523
Anybody here have the same problem or am I doing something wrong?

[2016-11-17 23:02] bbc2 opened #5653 "`file` module unexpectedly makes symlink point to `None`"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
file

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Not changed.

##### OS / ENVIRONMENT
Archlinux

##### SUMMARY
The "file" module makes a target symbolic link point to `None` when the `follow` option is enabled.

##### STEPS TO REPRODUCE

I can reproduce it locally but it originally happened on a remote host.
[code]

##### EXPECTED RESULTS

[2016-11-17 23:58] ketanio opened #5654 "ec2_metric_alarm region issue."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_metric_alarm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]
##### SUMMARY
There is no `connect_to_aws` module in `boto.ec2.cloudwatch`. It should be changed to `connect_to_region`. This causes only region `us-east-1` to connect and rest of the regions give a `400 Bad Request` error.  [Reference to

[2016-11-18 00:22] #5654 closed, assigned to nobody

[2016-11-18 00:43] omgjlk commented on #5649
Yup, this module doesn't check to see if work is needed first.

[2016-11-18 01:24] BarryCui commented on #5645
@jhawkesworth the directory has only 3M. I didn't get such error in Ansible 1.9, in which I couldn't use lots of new windows modules though.

[2016-11-18 01:36] simplesteph opened #5655 "EC2_ASG: Support NewInstancesProtectedFromScaleIn parameter"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ec2_asg

##### ANSIBLE VERSION
[code]

##### SUMMARY
see http://boto3.readthedocs.io/en/latest/reference/services/autoscaling.html#AutoScaling.Client.create_auto_scaling_group

parameter NewInstancesProtectedFromScaleIn is currently unsupported

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
param to be taken into account

[2016-11-18 03:28] markusyou opened #5656 "Mount nfs to AIX managed host"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- mount
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running Ansible from Red Hat Enterprise Linux Server release 6.7 (Santiago)
managing AIX 7.1.0.0

##### SUMMARY

Unable to mount NFS filesystem to managed host.  Tried NFS server on Redhat and NFS server on AIX,

##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2016-11-18 03:44] dsummersl commented on #2769
As a followup to this, I've found a couple more tickets that would be addressed by this feature:

https://github.com/ansible/ansible-modules-core/issues/467 (cron)
https://github.com/ansible/ansible-modules-core/issues/4542 (authorized_key)

I'm one of the maintainers for the cron module - not sure if I should just close that bug and reference this ticket, or try to address the issue.

[2016-11-18 09:19] ganeshrn commented on #5646
@gundalow I am looking into this issue. The root cause is 'config' passed in 'guess_format' [function](https://github.com/ansible/ansible-modules-core/blob/devel/network/junos/junos_config.py#L176)   is list object

[2016-11-18 09:31] #5516 closed, assigned to nobody

[2016-11-18 09:31] #5477 closed, assigned to nobody

[2016-11-18 09:31] #5409 closed, assigned to nobody

[2016-11-18 09:31] #5408 closed, assigned to nobody

[2016-11-18 09:31] #5205 closed, assigned to nobody

[2016-11-18 09:31] #5204 closed, assigned to bcoca

[2016-11-18 09:31] #5077 closed, assigned to nobody

[2016-11-18 09:52] agarthetiger commented on #2894
I am not working behind a proxy now so unable to test any further or check the configuration used on my previous employer's systems.

[2016-11-18 09:52] #2894 closed, assigned to nobody

[2016-11-18 10:20] gundalow commented on #5646
Possible fix in https://github.com/ansible/ansible-modules-core/pull/5658

[2016-11-18 10:20] ArKam opened #5659 "add validate_certs directive on unarchive module."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

unarchive
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04 LTS
##### SUMMARY

It would be nice to be able to allow a remote unarchive from self-signed or badly forged SSL HTTP Endpoint like it is possible with the validate_certs directive on the GET_URL module.
##### STEPS TO REPRODUCE

[code]
"N/A"

#

[2016-11-18 11:17] cadavre commented on #18
This was working fine on 2.1.1.0 and previous but on 2.2.0.0 happens again.

[code]

Fixes the issue.

My dir structure:

[code]

From project root I call `ansible-playbook ansible/playbook.yml` and path to my `key.pem` is defined in `inventory`:

[code]

It's all fine if having same behaviour in each version, madness is when you change from 1.7 to 2.1 and things work fine but then you update to 2

[2016-11-18 11:29] darrenob commented on #3018
@ mgodwin Thanks for the response. Unfortunately that doesn't work for me. The service doesn't bounce even when `become: yes`

[2016-11-18 12:00] jctanner commented on #5656
@markusyou are you saying that it could not mount on the rhel server either?

needs_info

[2016-11-18 12:01] dsummersl commented on #467
This turns out to be a common problem with quite a few modules. Here is feature request that addresses the issue: https://github.com/ansible/ansible-modules-core/issues/2769

I think in light of this being a fairly systemic problem it should be fixed more generally in that feature request. I'll leave this open for comment.

[2016-11-18 12:11] Mihai-CMM commented on #5227
@jctanner
Thanks again. sftp output

[mcostache@localhost Proxmox_Ansible]$ date
Fri Nov 18 14:08:51 EET 2016
[mcostache@localhost Proxmox_Ansible]$ sftp root@10.3.0.60
root@10.3.0.60's password:
Connected to 10.3.0.60.
sftp> put superadmin.sql /tmp
Uploading superadmin.sql to /tmp/superadmin.sql
superadmin.sql

[2016-11-18 12:31] jctanner commented on #5653
Reproduced with devel (2.3) on centos7. Testcase ...

[code]

Results for all 2.x versions ...

[code]

[2016-11-18 12:36] EddFigueiredo commented on #5555
I'm having the exact same problem here.

[2016-11-18 13:46] jctanner commented on #5616
This is a bug in https://github.com/ansible/ansible/blob/stable-2.2/lib/ansible/module_utils/basic.py#L2000-L2003 ... we aren't assigning "exception" before adding it to the message.

[2016-11-18 13:51] horalstvo commented on #792
I'm missing exactly this feature in docker_service.

[2016-11-18 13:59] jctanner commented on #5603
@jtyr can you please take a look?

[2016-11-18 14:01] jctanner commented on #5598
duplcate_of https://github.com/ansible/ansible/issues/12919

[2016-11-18 14:05] jctanner commented on #5591
The relevant commit is a backport of a different patch
https://github.com/ansible/ansible-modules-core/commit/d843204575952a57e7e866bf21f93d6eb957ce04

[2016-11-18 14:06] horalstvo opened #5661 ""docker_service" misses env-file option that "docker" got in 2.1"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
docker_service

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
N/A
##### SUMMARY
What happened to me was that I had some variables defined in the env file in the folder with docker-compose file. I referenced this env file with the env_file directive in my service definition. I set some of these variables in the environment section of the

[2016-11-18 14:21] danielmrosa commented on #5555
Hello @ansible
Please, any news about this issue ? This feasture replace_all_instances is very important to save our time working with austoscaling. Iḿ looking forward to see this feature working.
Thanks in advance,

[2016-11-18 14:23] jctanner commented on #5607
The example task produces an IndentationError in -every- version of ansible.

[2016-11-18 14:29] jctanner commented on #5560
@ahuffman What directory are you executing ansible from and what path is the top level playbook in?

needs_info

[2016-11-18 14:48] jtyr commented on #5603
@mkoshelev Please could you try to replace the `/proc/self/mountinfo` by `/proc/1/mountinfo` in the `mount.py` file?

[2016-11-18 14:50] wvangeit commented on #5582
+1

[2016-11-18 14:56] rosowiecki commented on #5603
@jtyr There's no /proc/1/mountinfo on RHEL5 kernels either.

[2016-11-18 15:03] #5527 closed, assigned to bcoca

[2016-11-18 15:19] dtoubelis commented on #5607
I guess it stayed hidden because indentation is irrelevant in `sh` and not that many (sane) people cared to use it with `python` or `ruby` ;-)

[2016-11-18 16:16] ganeshrn commented on #5636
@kkirsche AFAIK Ansible uses JUNOS 'get-configuration' RPC to retrieve facts from device. As per JUNOS documentation 'get-configuration' supports text or xml format only. So I think the error message displayed is correct.

[2016-11-18 16:24] kkirsche commented on #5636
Which would be fine, but that means the documentation is wrong as it says it supports set

[2016-11-18 16:44] Jonnymcc commented on #5598
I also occasionally get an error about the SFTP mechanism failing and then an ok from each server for that task. It appears as though Ansible failed to upload the task file and then just passes anyways. I think I recently updated openssl so maybe it is a bug in openssl.

[2016-11-18 17:39] jhawkesworth commented on #5645
Please advise which version of pywinrm you are using?
Please upgrade to latest pywinrm (0.2.1 at time of writing) as it is faster and better at transferring files.

Since you seem to be hitting a timeout maybe you can use block and retry the win_copy if it fails.
see http://docs.ansible.com/ansible/playbooks_blocks.html

needs_info

[2016-11-18 17:45] AlainG80 commented on #5557
Thanks for your help, I will work on the vyos_facts module, since it produces a big list of running config and commits. Itemized facts are more useful to make the vyos_config more dynamic.
Hope this is useful documentation for the next person encountering these ambigious lower level error messages.
!bug_report
!needs_info
!waiting_on_maintainer

[2016-11-18 18:46] ahuffman commented on #5560
I was experiencing the problem from both ansible-core, where the playbook
was in /etc/ansible/ and from Ansible Tower, where the playbook was in the
root of the project directory:
/var/lib/awx/projects/<project_dir/playbook.yml.

On Fri, Nov 18, 2016 at 9:29 AM, jctanner notifications@github.com wrote:

##

Regards,

Andrew

[2016-11-18 18:59] jcshort commented on #5560
I've also run into this with 2.2, it appears the scp source and destination are flipped, as in ahuffman's original report:

[code]

If the local file exists, the fetch module succeeds, but of course the scp overwrites the remote path with the local file.

[2016-11-18 19:24] gundalow commented on #5636
Yup, think seems like a docs issue, good spot.

@kkirsche Your PR seems to be against `kkirsche/ansible-modules-core` if you raise a PR against `ansible/ansible-modules-core` we can get the official documentation updated.

[2016-11-18 19:26] ahuffman commented on #5560
++ What Jason Short mentioned

On Fri, Nov 18, 2016 at 1:59 PM, Jason Short notifications@github.com
wrote:

##

Regards,

Andrew

[2016-11-18 19:40] mikemartino opened #5669 "Failure when adding a program using supervisorctl which disables supervisorctl on managed host"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
supervisorctl

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
host_key_checking = False
private_key_file = /home/mike/.ssh/id_rsa
retry_files_enabled = False

[ssh_connection]
ssh_args = -o ControlPersist=60s -q
scp_if_ssh = True

##### OS / ENVIRONMENT

OS running Ansible: Linux
OS being managed: Linux

##### SUMMARY

- I have a

[2016-11-18 20:06] kkirsche commented on #5636
@gundalow I had started to do it, but the templates ~~you guys~~ the ansible team uses asked for a bunch of stuff like command run before and after, which I don't have time to do today with some of the deadlines I'm under. It wasn't just something I could punt to the team based on the template

[2016-11-18 20:07] nitzmahone commented on #5596
Fixed by https://github.com/ansible/ansible-modules-core/pull/5666, cherry-picked to stable-2.2 for 2.2.1RC1.

[2016-11-18 20:07] #5596 closed, assigned to nitzmahone

[2016-11-18 20:22] kkirsche opened #5672 "Add information to contributing guide about running ansible core with changes"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

`package`

##### COMPONENT REAL NAME
Not really, just shut @ansibot up — it's actually:
`CONTRIBUTING.md`

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY

Currently, the pull request template requests end users to run the module(s) before and after their changes, yet there is no guide on

[2016-11-18 20:33] kkirsche commented on #5636
@gundalow — PR failed build due to a timeout of the opensuse container

[2016-11-18 20:51] #2429 closed, assigned to nobody

[2016-11-18 21:13] arlaneenalra commented on #5504
Just got bit by this.  Looks like local modifications to the git repo on the server are the triggering factor for us.

[2016-11-18 21:42] noseworthy commented on #5539
I have the same thing going on! I can reproduce 100% with the simplest of commands when trying to use `become` to become a user other than `root`, which apparently there's issues with: https://docs.ansible.com/ansible/become.html#becoming-an-unprivileged-user

[code]

using ansible version: 2.2.0.0

Changing the format string in `ansible/plugins/action/__init__.py:392` to be a `unicode` string ins

[2016-11-18 21:42] danielkza commented on #5409
@ansibot That repository does not exist. Are you misbehaving?

[2016-11-18 21:43] jctanner commented on #5653
Bisected to https://github.com/ansible/ansible/commit/2392865d69821a50c0c8038e61747b38b9be6b0b for ansible/ansible
https://github.com/ansible/ansible-modules-core/compare/baa2e930bba851fa4c5b697bf3ac0b3f7513de64...269c06a4c9b5f842e508fbe16d956e6c901896ac#diff-ec997744320cc294d6e1d2a1e1b68938

[2016-11-18 21:46] jctanner commented on #5409
@danielkza yeah, that's a bug in the bot. It should have directed you to https://github.com/ansible/ansible/issues because all of the real code for include_role is there.

[2016-11-18 21:51] kkirsche commented on #5672
This isn't something that needs modules specifically.

ready_for_review

Is there anything that can be done to make non-module issues but process related issues here without upsetting ansibot?

[2016-11-18 22:28] water4u99 opened #5674 "template module creates an acutal new line when reading (m?)\n"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
template

##### ANSIBLE VERSION
2.0 and higher

##### CONFIGURATION
[ssh_connection]
control_path = %(directory)s/%%C

##### OS / ENVIRONMENT
Mac OS X 10.11.6
Centos 6.x, 7.x

##### SUMMARY

In the input .j2 file, we substitute a variable with an environment variable that has a line/string that contains a grok expression containing "(?m)\n" .  T

[2016-11-18 22:39] RNanney opened #5675 "Issue connecting when using nxos_acl"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_acl

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Can not connect with transport: cli to the device

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
I expected a connection to the switch

##### ACTUAL RESULTS

[code]

[2016-11-18 22:53] markusyou commented on #5656
@jctanner The issue looks to only be related to mounting to an AIX managed host. Aix uses /etc/filesystems not /etc/fstab

[2016-11-18 22:55] jtyr commented on #5603
According to [this](http://man7.org/linux/man-pages/man5/proc.5.html) man page, the `/proc/[pid]/mountinfo` is supported from the kernel version 2.6.26. Please could you confirm which version is available on RHEL5?

We should  modify the module to check the kernel version and fall back to the original behavior if it's too old.

[2016-11-18 23:16] mkoshelev commented on #5603
CentOS 5 have kernel 2.6.18. This is from fully updated CentOS 5 system:

[code]

RHEL 5 have the same kernel version:
https://access.redhat.com/errata/RHSA-2016:2124 (see 'Updated packages' tab)

[2016-11-19 00:02] jctanner commented on #5653
Prototype patch:

[code]

[2016-11-19 00:07] senderista commented on #5504
+1 just hit this after upgrading to 2.2

[2016-11-19 02:06] abadger commented on #5653
@jctanner Looks about right.  Just one change I'd recommend.  Since b_src should always be a byte string, use to_bytes:

[code]

[2016-11-19 11:13] arohr commented on #5504
+1
same as @hvisage first run fails, second works fine

[2016-11-19 12:00] GGabriele commented on #5486
I believe we can close this.

[2016-11-19 12:05] GGabriele commented on #5675
Can you try adding `username` and `password` to `cli`?

[2016-11-19 13:39] thenano commented on #5456
Any news on this issue? I'm now facing other issues (https://github.com/ansible/ansible/issues/17495) because I can't upgrade ansible to 2.2 and must use an older version of docker-compose. Am I doing something wrong?

[2016-11-19 14:32] BarryCui commented on #5645
@jhawkesworth I'm using the lastest version of it, which is 0.2.1.  And I did some tests yesterday. I came across this error each time when I was transferring files end with .xlsx, which include JSON data. So the problem I think is that maybe win_copy doesn't support copying files with JSON data included.

[2016-11-19 19:05] eileenzliu opened #5680 "ansible_module_iosxr_install_config "get_module" not defined"
Hi,

I am trying to install switch configurations on Cisco IOS-XR devices, but got the following errors:

"module_stderr": "Traceback (most recent call last):\n  File \"/home/netconf/tmp/ansible_QqtuAl/ansible_module_iosxr_install_config.py\", line 138, in <module>\n    main()\n  File \"/home/netconf/tmp/ansible_QqtuAl/ansible_module_iosxr_install_config.py\", line 94, in main\n    module = get_mo

[2016-11-19 21:34] ghost commented on #2910
I'm also curious about this! Looks like that the interface order is inverted, with the latest, appearing first, right after "lo", look:

[code]

[2016-11-19 23:52] eileenzliu commented on #5680
Hi,

The ansible module name is iosxr_config. The errors I got was as follows:

Thanks,

-Eileen

An exception occurred during task execution. The full traceback is:
Traceback (most recent call last):
  File
"/home/netconf/tmp/ansible_L7yDDt/ansible_module_iosxr_install_config.py",
line 138, in <module>
    main()
  File
"/home/netconf/tmp/ansible_L7yDDt/ansible_module_iosxr_install_config.py",
li

[2016-11-20 00:11] ide commented on #3719
As of Ansible 2.2.0 (now available via pip) the `docker_image` module can pull images successfully. Ex:

[code]

[2016-11-20 04:56] josephgimenez commented on #4246
I ran into this issue as well, regarding the Docker module not importing.  In my case, it was because Ansible was calling a different python interpreter on my machine than I was expecting.  Ansible seems to default to using /usr/bin/python (system default python interpreter), whereas I was expecting it to use the interpreter installed by homebrew at /usr/local/bin/python.

The workaround I used wa

[2016-11-20 10:56] bmalynovytch opened #5683 "add_host should accept a list in the groups parameter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core module: `add_host`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac OS X 10.12.1

##### SUMMARY
Adding a host with `add_host` module fails when `groups` is provided as a list.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Should run without error

##### ACTUAL RESULTS
Fails with following erro

[2016-11-20 16:59] d3prof3t commented on #5615
@deejay1 Please refer to this issue. Seems duplicate to me. https://github.com/ansible/ansible-modules-core/issues/5458

[2016-11-20 19:51] alonshoshani commented on #5459
I'm using ansible 2.2.0.0 and try to install collectd

[code]

Get this error:

[code]

[2016-11-20 20:51] ozbillwang commented on #4246
Thanks to point out the root cause, @asyncsrc

http://docs.ansible.com/ansible/intro_inventory.html
https://github.com/ansible/ansible/issues/6345

[code]

[2016-11-20 23:07] resmo commented on #5630
This should be fixed by be0e6faa7b550e6608ff5ce1c4e91f4cac25dff8 in 2.2.1
Any chance to test with 2.2.1-rc1?

needs_info

[2016-11-20 23:27] dagwieers commented on #5659
As I am not a big fan to port every possible flag from get_url to unarchive and I fundamentally disagree that modules become more complex because it's more convenient to use a single action. So if others want to implement this and merge this, I won't object but I won't do it myself.

needs_contributor

[2016-11-21 05:36] sunshine69 commented on #527
Not sure why it is closed, I have hit the same problems with ansible 2.2 now

[2016-11-21 06:36] michalmedvecky commented on #5116
I can confirm this issue:

    ansible==2.2.0.0
    shade==1.13.1
    python-openstackclient==3.4.0

I have been facing this issue since trying against openstack Mitaka (I've been testing my playbooks against Liberty). I can't tell you if it depends on openstack version or not.

I've found out, that `image` parameter does not propagate into `kwargs` for `ServerCreate` in shade's `openstackcloud.py

[2016-11-21 06:43] michalmedvecky commented on #5116
@Thingee I also observe a slight difference between my and yours `-vvvv` output:

My is a string:

    "image": "66ae409c-f2ea-4a8c-a25c-3859d79f9f33",

Your is a dict:

    "image": {
            "id": "f3a5855a-eb28-4806-bb2c-0090b889782f",
            "name": "Ubuntu 16.04 Xenial Xerus"
        },

Task definitions do not differ (except you're using image name instead of id and I have no idea w

[2016-11-21 08:45] vanhuto commented on #902
+1

[2016-11-21 09:40] jansauer opened #5685 "Error while fetching server API version"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- docker_container

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
- macOS 10.12.1
- ansible, docker and python installed with brew

##### SUMMARY
I try to setup a docker container with ansible `docker_container` via a docker tls connection.

##### STEPS TO REPRODUCE

hosts:
[code]

provision.yml
[code]

[code]

##### EXPECTED RESULTS
Ansi

[2016-11-21 10:05] landryb commented on #5591
Interesting, but that still uses `-o remount`...

[2016-11-21 10:21] deejay1 commented on #5615
@d3prof3t  Yeah, it's a duplicate of #5458 - sorry

[2016-11-21 10:21] #5615 closed, assigned to nobody

[2016-11-21 11:41] hryamzik opened #5686 "set_fact doesn't override role parameters"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

set_fact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

set_fact doesn't override role parameters

##### STEPS TO REPRODUCE

playbook:
[code]

my_role/tasks/main.yml
[code]

##### EXPECTED RESULTS

some_var: b

##### ACTUAL RESULTS

some_var: a

[2016-11-21 12:28] gfarrell commented on #5371
No combination of networking parameters seems to achieve the right result here. If I don't connect to the default docker network, then my custom network still gets a random MAC address which clashes with other containers on my network.

[2016-11-21 13:01] maxkueng opened #5687 "sysctl config should not be written to /etc/sysctl.conf on Arch Linux and Manjaro"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
sysctl

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Running Manjaro Linux, managing Manjaro Linux (local connection)

##### SUMMARY
On Arch Linux and Manjaro Linux `/etc/sysctl.conf` [is deprecated](https://www.archlinux.org/news/deprecation-of-etcsysctlconf/) but Ansible still saves configurations there. I'm

[2016-11-21 14:02] bmalynovytch commented on #5683
This issue seems to be fixed in `2.2.0.0`.

[2016-11-21 14:02] #5683 closed, assigned to nobody

[2016-11-21 14:05] #5653 closed, assigned to jctanner

[2016-11-21 14:12] TomaszKlosinski commented on #2006
Could you please document that here:
http://docs.ansible.com/ansible/vsphere_guest_module.html

[2016-11-21 14:20] dagwieers commented on #5686
Well, this is working as designed:

http://docs.ansible.com/ansible/playbooks_variables.html
[code]

Although in this case maybe you could question this particular behaviour in the design. Maybe there are use-cases for this behaviour as well.

You could use include-vars, block-vars or task-vars to work around this design.

[2016-11-21 14:22] jctanner commented on #5685
The first error is a duplicate of https://github.com/ansible/ansible-modules-core/issues/4246

The second error implies that the docker service is not running at the specified address: https://review.openstack.org/#/c/289211/

Can you please verify the service is running and if defining the docker_host parameter makes any difference?

needs_info

[2016-11-21 14:24] dagwieers commented on #5686
In any case, this is not related to the **set_fact** module and so the wrong people are being informed. Sadly there is no bot-command to forward this issue to someone else, the only thing I can do is declare it:
notabug

Pinging the bot-people so they can look at this forwarding-capability to re-assign bugs.
bot_broken

[2016-11-21 14:32] duck-rh commented on #5686
I think people expect set_fact to be dynamic, which means overriding any configuration from the moment it is run in the play. Same for includes.

[2016-11-21 14:50] hryamzik commented on #5686
Agree with @duck-rh. In fact if `set_fact` fired a warning or error it won't be that frustrating.

[2016-11-21 14:55] dagwieers commented on #5686
@duck-rh Again, I am sympathetic to your cause, however I am not the person who gets to decide about behaviour (or changing existing behaviour). So please bring it up to the right people, I would suggest in the ansible/ansible repository. This is not related to the **set_fact** module, and I do not have any other jurisdiction so your comments get lost here, I'm afraid.

notabug

[2016-11-21 14:57] jctanner commented on #5672
@kkirsche general documentation requests should be filed in https://github.com/ansible/ansible/issues . This repository is for a specific set of modules, which is why ansibot behaved the way it did.

EDIT: I read the description too quick.

[2016-11-21 14:59] dagwieers commented on #5686
@hryamzik **set_fact** should not bring up warnings because it is up to late evaluation anyhow. But more importantly, Ansible can not suggest one thing over another because it cannot know what the user exactly wants to do. And we cannot assume that our own use-case is the only use-case either.

Others have made that same mistake before us, regressions ensue...

[2016-11-21 15:02] duck-rh commented on #5686
@dagwieers Your comment was not here when I began mine (but was interrupted so it was posted later), so I just read it. Forwarding is basic bug triage, so I hope you'll get it soon. I will follow your advice in the meanwhile.

[2016-11-21 15:07] dagwieers commented on #5686
@duck-rh No problem.

PS Yes, forwarding is basic bug triage, just like all the other bot commands are bug triage related as well :-) The goal is to give module maintainers some control over how bugs are handled without giving them full access to Github issues (and all other issues). So I think forwarding should be part of that, e.g. forward to Ansible developers if it is not related to the module

[2016-11-21 15:09] jctanner commented on #5672
@kkirsche

Are you talking about this template? https://raw.githubusercontent.com/ansible/ansible-modules-core/devel/.github/PULL_REQUEST_TEMPLATE.md

I do see a mention of testing in https://raw.githubusercontent.com/ansible/ansible-modules-core/devel/CONTRIBUTING.md which I agree is lacking in context.

We have a pretty long module development doc here: http://docs.ansible.com/ansible/dev_guide/

[2016-11-21 15:10] RNanney commented on #5675
@GGabriele: adding username and password to cli worked.

[2016-11-21 15:13] GGabriele commented on #5675
@RNanney awesome! :)

[2016-11-21 15:14] dagwieers commented on #5686
notabug

(It seems once you declare bot_broken,  you cannot make other commands work...)

[2016-11-21 15:17] jansauer commented on #5685
#4246 was where i found the export info. Since it was part of the steps to reproduce i did not want to omit it but i neither had the issue id on hand.

The service is running. When i export the docker cert, host and tls settings it can be used normally.
[code]

Changing the docker_host parameter to a unused ip results in the same error. Looks like ansible isn't using `tls_hostname`. When i first e

[2016-11-21 15:37] jctanner commented on #5661
@horalstvo The component name in your title and component section is "docker_service" but the summary talks about docker_compose? Which one is this about?

needs_info

[2016-11-21 15:38] RNanney commented on #5675
Should this module be able to use the ANISIBLE_NET_USERNAME and ANSIBLE_NET_PASSWORD environment variables?

[2016-11-21 15:48] jonasv opened #5688 "include_vars doesn't work with register ?"
Please delete this ticket

[2016-11-21 15:49] GGabriele commented on #5675
No, these variables are useful when `connection: ssh` to control a remote host.

[2016-11-21 15:56] jansauer commented on #5685
looks like the requests python part does not like my ipv6 hostname.  The `URL has an invalid label.` message commes from here https://github.com/kennethreitz/requests/blob/1e198f911512ed51b6ada450823c9570ca9c7501/requests/models.py#L372

Switching to `export DOCKER_HOST=tcp://docker.hompage.de:2376;` and recreating the server cert with this domain included gets me another step further. Now i get a

[2016-11-21 15:58] #5688 closed, assigned to nobody

[2016-11-21 16:12] RNanney commented on #5675
I'm confused because the documentation for the module says the environment variables will be used if username and password are not set. The previous task using the nxos_command module in my example playbook was able to use the environment variables for authentication over ssh.

[2016-11-21 16:15] jansauer commented on #5685
Based on https://stackoverflow.com/a/26392858 i installed alle se pip's.

[code]

leading the newest error^^

[code]

[2016-11-21 16:27] jtyr commented on #5603
Thanks for confirming the kernel version in RHEL5, @mkoshelev. Please could you test the fix proposed in the PR #5689.

[2016-11-21 17:37] kevin-p opened #5691 "nxos_config, rollbacked on abnormal checkpoint created by Ansible"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - nxos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Hi,

While writing a new role for nexus switches dedicated to radius configuration I executed a "non working" version of my role. As expected Ansible rollbacked the change when it encountered an error.

But the ckeckpoint created by Ansib

[2016-11-21 19:40] abadger commented on #5591
This should be fixed by the inclusion of these two PRs: https://github.com/ansible/ansible-modules-core/pull/2445  https://github.com/ansible/ansible-modules-core/pull/5673

if you can confirm that latest devel or latest stable-2.2 work, that would be great.  If you can't I'll close this in a few days.  It works with my tests on FreeBSD (which also uses -u for remount).

needs_info

[2016-11-21 20:38] #3563 closed, assigned to nobody

[2016-11-22 01:26] rcutmore commented on #5104
Another workaround would be to use the `extra_args` option of the pip module.

    - name: Install a Virtual Environment
       pip: virtualenv_python=python3 virtualenv=~/venv requirements=~/wine/requirements.txt extra_args='--quiet'

[2016-11-22 04:05] patrickjolliffe opened #5692 "cron module failing if entry already exists (on RHEL5)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cron module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 6.4 (Santiago)

##### SUMMARY
cron module seems to fail if entry already exists

##### STEPS TO REPRODUCE
[code]

On target machine you can see cron entry was created fine:
[code]

##### EXPECTED RESULTS
Should do nothing as entry already ex

[2016-11-22 04:23] patrickjolliffe commented on #5692
Ran with extra logging:
[code]

[2016-11-22 05:13] patrickjolliffe commented on #5692
[code]

[2016-11-22 05:13] ganeshrn commented on #5483
I figured out a few issues in code here https://github.com/ansible/ansible-modules-core/blob/devel/network/junos/junos_config.py#L212-L229

The config received from device (using 'get_config') is in text format and is converted to 'set' format in 'config_to_commands' function. The diff of config from playbook and one received from device fails for below cases during second run.
[code]
Hence above

[2016-11-22 05:15] patrickjolliffe commented on #5692
https://bytes.com/topic/python/answers/704087-startswith-prefix-start-end-query

That particular aspect of the functionality (the multiple
prefixes in a tuple) was only added Python 2.5. If you're
using <= 2.4 you'll need to use "or" or some other approach,
eg looping over a sequence of prefixes.

[2016-11-22 06:30] patrickjolliffe commented on #5692
Change at line 693 in cron.py, and now working OK for me.  Probably a neater way to do it, but tested and it works for me.  Python 2.4 should be supported on target machines right?
[code]

[2016-11-22 07:08] EvanK commented on #5692
@hkpatv You are correct, PR incoming

[2016-11-22 08:38] BarryCui commented on #5645
@jhawkesworth I finally found where I got stuck. There're two issues.
First, the bug disappeared when I created a folder with the same name as the source folder on the destination server.
Then I got this JSON error again when I had finished transferring about 20 .dll files, which was weird, because It didn't work at all when I got this error before.
So I rewrote the playbook into two yml files, ea

[2016-11-22 09:20] landryb commented on #5591
Tried with 2.2.1.0-0.1.rc1 (not sure it has those two PRs), there's no error message, but the living FS isn't updated.

before:
[code]
ansible invocation with local connection:
[code]
after:
[code]

[2016-11-22 09:24] davojan commented on #5661
@jctanner There is no contradiction in @horalstvo's description. There is no special ``docker_compose`` module, we work with docker-compose via ``docker_service`` module.

So the issue is about working with docker-compose via ``docker_service`` module.

[2016-11-22 09:25] landryb commented on #5591
According to https://github.com/ansible/ansible-modules-core/commits/stable-2.2 2.2.1.0-0.1.rc1 should have those two PRs, so.. i'm puzzled.

[2016-11-22 09:26] landryb commented on #5591
Same thing using ` -b --become-method=doas` instead of `doas ansible`

[2016-11-22 09:28] bdgscotland commented on #3523
+1 on AWS Ubuntu 16.04 LTS AMI and Ansible 2.2.0.0
Workaround for me:
  pre_tasks:
  - name: 'install python2'
    raw: sudo apt-get -y install python-simplejson

  - name: 'install aptitude'
    raw: sudo apt-get -y install aptitude

[2016-11-22 10:21] drybjed commented on #3996
@abadger Looks like `item["copy"]` works as expected inside the role. I will use that then, thanks.

[2016-11-22 10:21] #3996 closed, assigned to jimi-c, bcoca

[2016-11-22 10:25] coodix commented on #5522
Got same error:

[code]

Docker installed on OS X by Docker Tollbox:

[code]

Ansbile:
[code]

deploy.yml:

[code]

[2016-11-22 10:29] dagwieers commented on #3996
It's unfortunate that in this case dict methods and dictionary keys are in the same namespace. Which means that it is probably unwise to use dictionary keys that might be dict methods. My advice after this bug-report, use dictionaries as dictionaries as much as possible.

[2016-11-22 11:14] andsens commented on #3497
If there is any news on this please mention me, I'm unsubscribing for now. Getting kind of tired of the @ansibot notifications.

[2016-11-22 12:05] KarenTovmasian commented on #5617
Another ping!

[2016-11-22 13:28] maxrothman commented on #1701
This issue has been open for over a year. Is it scheduled to be worked on anytime soon?

[2016-11-22 13:28] maxrothman commented on #1869
This issue has been open for over a year. Is it scheduled to be worked on anytime soon?

[2016-11-22 15:21] gundalow commented on #3591
We will fix this in 2.3, this will not be backported to 2.2.

[2016-11-22 15:22] gundalow commented on #3601
This works as designed for Jinja2

[2016-11-22 15:22] #3601 closed, assigned to nobody

[2016-11-22 15:23] pgrange opened #5697 "The module service will fail in check mode if the target service is not yet installed on server."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible module service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
no settings in ansible.cfg

##### OS / ENVIRONMENT
Debian/wheezy

##### SUMMARY
The module service will fail in check mode if the target service is not yet
installed on server.
For instance my playbook installs apache2 and, later restart apache2.
Running ansible-playbook

[2016-11-22 15:23] gundalow commented on #3718
With @privateip to review

[2016-11-22 15:24] dabruzzo commented on #3591
Look forward to update to 2.3 release.

Thanks

--
Dario

On Tue, Nov 22, 2016 at 4:21 PM, John R Barker <notifications@github.com>
wrote:

[2016-11-22 15:28] gundalow commented on #4274
The fix will need backporting to `stable-2-2`

[2016-11-22 15:29] gundalow commented on #4311
Fix will go into `stable-2.2`

[2016-11-22 15:30] gundalow commented on #4465
Closing as per @GGabriele's comment

[2016-11-22 15:30] #4465 closed, assigned to nobody

[2016-11-22 15:32] gundalow commented on #4635
We've deprecated the `_template` modules in 2.2 and we suggest you use the `_config` modules instead.

[2016-11-22 15:32] #4635 closed, assigned to nobody

[2016-11-22 15:32] privateip commented on #4966
closing this issue, upstream bug is fixed

[2016-11-22 15:32] #4966 closed, assigned to nobody

[2016-11-22 15:33] water4u99 commented on #5674
Hi - first time posting - had an ansibot waiting for my response.  thought i've proven i'm human.  anything else i need to do?  -thanks

[2016-11-22 15:35] gundalow commented on #5086
@AnsiNoob Did you get a chance to test this again?

[2016-11-22 15:35] privateip commented on #5181
fixed and verified

[2016-11-22 15:35] #5181 closed, assigned to nobody

[2016-11-22 15:38] gundalow commented on #5287
@privateip to investigate

[2016-11-22 15:39] privateip commented on #5318
fixed and verified

[2016-11-22 15:39] #5318 closed, assigned to nobody

[2016-11-22 15:39] gundalow commented on #5317
@private knows what the issue is. The fix will need backporting to `stable-2.2`

[2016-11-22 15:42] gundalow commented on #5430
@privateip to explain the issue

[2016-11-22 15:45] #5557 closed, assigned to nobody

[2016-11-22 15:47] gundalow commented on #5563
@privateip to dig into this to understand the root cause

[2016-11-22 15:55] gundalow commented on #5614
@privateip to check, believe we have a PR for this

[2016-11-22 15:55] rogerscuall commented on #4635
I see you have the key **src** in `_config`, can we use the extend option in Jinja with this?

[2016-11-22 15:57] gundalow commented on #5647
Fix will need to be backported to `stable-2.2`

[2016-11-22 15:58] briceburg commented on #1912
It would be great to see an official workaround for this;
  * if it's the `TMPDIR` solution, maybe allow specifying this in the git module or documenting how to do so outside the task block.
  * if it's to use a IdentityFile for host github.com in the user's keyfile, perhaps document how to do so w/ ansible? I think this workaround is worse because it doesn't handle allowing the user to connect to

[2016-11-22 15:59] #5636 closed, assigned to gundalow

[2016-11-22 16:00] michaelgaribaldi commented on #5430
Hello,

Here is the issue at hand, summarized in this email.

If there exists multiple VLAN’s defined on an Arista switch without names associated, they are displayed in a single line in the config like so:

veos-01(config)#show run | inc vlan
vlan 15,20
vlan 122
vlan 123
vlan 124
vlan 125
vlan 222
vlan 223
vlan 300
   switchport access vlan 300
veos-01(config)#

Even though VLAN 15 and VLAN 20 ar

[2016-11-22 16:02] gundalow commented on #5691
This may be a Cisco bug, need to investigate

[2016-11-22 16:10] gundalow commented on #5316
Hi,
Please raise this with the Tower Support Team https://support.ansible.com/hc/en-us/requests/new

[2016-11-22 16:10] #5316 closed, assigned to nobody

[2016-11-22 16:12] conleym commented on #3636
Should ansibot be pinging @manicminer instead?

[2016-11-22 16:16] EvanK commented on #5692
@ansibot resolved_by_pr #5693

[2016-11-22 16:19] fxfitz commented on #5480
Blah, sorry for the delay, been really busy. I will get something up by the end of the weekend! :-D

[2016-11-22 16:33] mkornatz opened #5699 "include_vars unable to find in expected paths, when in nested role"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_vars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS 10.12.1 (Sierra)

##### SUMMARY

Ansible is not finding vars files that are included in the same _nested_ role directory. For roles that are not in nested directories, this error does not occur.

##### STEPS TO REPRODUCE

1. Create a role yml

[2016-11-22 16:49] #5699 closed, assigned to nobody

[2016-11-22 16:58] EvanK commented on #4312
@ansibot resolved_by_pr #4488

[2016-11-22 17:35] omgjlk commented on #5500
PR is marked as shipit, this will be closed soon.

[2016-11-22 19:54] tomislacker opened #5701 "ec2_elb_facts should support check mode"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_elb_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
*N/A*

##### OS / ENVIRONMENT
*N/A*

##### SUMMARY
Since the `ec2_elb_facts` is strictly a read-only operation, it should support running with `--check`

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS
It would be expected that `ec2_elb_facts` would still fetch th

[2016-11-22 20:00] jctanner commented on #5697
This worked in 1.9.x and below and I also see references to it being fixed a few times:

https://github.com/ansible/ansible/issues/3615
https://github.com/ansible/ansible/issues/4102
https://github.com/ansible/ansible/pull/4106
https://github.com/ansible/ansible-modules-core/pull/1407

I see the described [incorrect] behavior on devel (2.3), so I'm going to dig in and see where we went wrong.

[2016-11-22 20:08] tomislacker commented on #5701
Wrong project. Moved to ansible/ansible-modules-extras#3521

[2016-11-22 20:08] #5701 closed, assigned to nobody

[2016-11-22 20:19] sean-abbott commented on #2936
This is still an issue for me with 2.2.0.0.

    - name: "unpack solr tarball"
      become: yes
      unarchive:
        remote_src: no
        src: "{{ solr_repo_path }}/tmp/{{ solr_tarball }}"
        dest: "{{ release_path }}"

yields:
fatal: []: FAILED! => {"changed": false, "dest": "/srv/releases/production/20161122150414", "extract_results": {"cmd": ["/bin/tar", "--extract", "-C", "/srv/rel

[2016-11-22 21:00] gundalow commented on #4635
The `src:` option in the `_config` modules in 2.3 will do everything that the older `_template` modules used to do.

[2016-11-22 21:02] jctanner commented on #5697
resolved_by_pr https://github.com/ansible/ansible-modules-core/issues/5702

[2016-11-22 21:09] YSelfTool commented on #5560
I have this problem as well.
The reason seems to be that internally, fetch calls '_file_transport_command', which always concats host to the second argument (therefore the target). Fetch should add it to the first (source), so the file get's fetched from the remote node to the local system.

[2016-11-22 21:26] mtnbikenc commented on #5533
@prupert, Should that not be using colons?
[code]

[2016-11-22 22:19] bcoca commented on #5686
Core  Repo Information
==================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears not to be a submission about a module but a core issues.  We would appreciate if you can submit this there instead.

   * https://github.com/ansible/ansible

This has to do with variable precedence, which is handled in the core code, not set_fact.

Additiona

[2016-11-22 22:19] #5686 closed, assigned to nobody

[2016-11-23 00:02] suryajak opened #5704 "win_file is pre-appending user local directory when given absolute path"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Trying to create a directory using win_file is failing. The error messages seems to indicate that the user local directory is getting pre-appended. Even then it should have successfully created the directory but it failed
##### STEPS TO REPRODU

[2016-11-23 00:26] rogerscuall commented on #4635
This was exactly the reason of this request, the previous ios_template was
not able to use jinja templates when the extend instruction was used in
jinja. Any way we can request this for ios_config or more this case to
ios_config?

On Tue, Nov 22, 2016 at 4:00 PM John R Barker notifications@github.com
wrote:

[2016-11-23 00:52] suryajak commented on #5704
I figured out the issue. It looks like this is a doc bug where the examples given use windows style path: http://docs.ansible.com/ansible/win_file_module.html. Since "\" is an escape character in yml, the doc examples need to be updated accordingly.

[2016-11-23 03:12] rahulraghu94 commented on #5104
Thank you, that works.
I'll close the Issue

[2016-11-23 03:12] #5104 closed, assigned to nobody

[2016-11-23 04:31] psviderski commented on #5459
I got the same error when I tried to install a new version of a package that was marked as held back. `apt-mark unhold package_name`  before execution of the playbook solved the issue (ansible 2.2.0.0).

[2016-11-23 09:44] #4815 closed, assigned to nobody

[2016-11-23 10:19] dschneller commented on #5459
Also broken for 14.04 targets.

[2016-11-23 10:35] kassiansun opened #5707 "Support docker --sysctls options in docker_container"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloud/docker_container

##### ANSIBLE VERSION

[code]

##### SUMMARY
docker has new '--sysctl=' options with 1.12 release, docker-py also came with sysctls options in release 1.10, we should add this feature in docker module

[2016-11-23 11:55] dschneller commented on #5459
Cannot reproduce with a current checkout from the stable-2.2 branch (ansible 2.2.1.0 (stable-2.2 ac076dfc12)) -- any idea when a 2.2.1 release will be made?

[2016-11-23 12:02] dschneller commented on #5459
If I am not mistaken, https://github.com/ansible/ansible-modules-core/pull/5487 fixes this.

[2016-11-23 12:06] nusenu opened #5708 "package module fails to iterate over list with 'with_items' (OpenBSD target)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
module name: package

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Target runs: OpenBSD 6.0

##### SUMMARY
Package module fails to iterate over list (with_items loop) when run against OpenBSD.

##### STEPS TO REPRODUCE
os specific module works:
[code]

generic package module fails (fails against OpenBSD targets, wo

[2016-11-23 13:33] sb-builder opened #5709 "ec2_group FAILED"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_group

##### ANSIBLE VERSION

2.2.0

##### CONFIGURATION

##### OS / ENVIRONMENT

Workstation - OS-X
Managed - Ubuntu 14.04

##### SUMMARY

##### STEPS TO REPRODUCE

the task is executed on the remote machine which is Ubuntu 14.04. When I moved the execution to the local machine (OSx) it worked.

- name: AWS Security
  ec2_group:
    name: c

[2016-11-23 13:57] mtnbikenc opened #5710 "systemd module failing on systemctl show for Fedora systems"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

systemd module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default config

##### OS / ENVIRONMENT

Manager: Fedora 25
Managed: Fedora 25 or Fedora Atomic Host 25

##### SUMMARY

When using the Ansible systemd module to manage a Fedora 25 or Fedora 25 Atomic Host system, the module exits reporting there was a failure running `systemctl

[2016-11-23 14:37] stepanv opened #5711 "docker_container 's entrypoint directive incompatibility between 2.2.0.0 and 2.1.3.0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux and MacOS, probably unrelated

##### SUMMARY

`docker_container`'s `entrypoint` directive

- in 2.2.0.0, it doesn't work with *exec form* parameters correctly
- in 2.2.0.0, it works ok with *shell form* parameters
- in 2.1.3.0, it didn't work wit

[2016-11-23 14:39] mtnbikenc commented on #5710
FYI - systemd v232:
https://github.com/systemd/systemd/commit/bd5b9f0a12dd9c1947b11534e99c395ddf44caa9

Currently installed on Fedora 25:
[code]

[2016-11-23 15:00] SKSJeffrey opened #5712 "yum: different results on CentOS vs RHEL"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

I am calling the ANSIBLE_ROLES_PATH environment variable during execution.

##### OS / ENVIRONMENT

Running from: **Fedora release 23 (Twenty Three)**

Managing:

1. **CentOS Linux release 7.2.1511 (Core)**
2. **Red Hat Enterprise Linux Server release 7.3 (Maipo)**

##### SUMMARY

A play

[2016-11-23 15:08] jctanner commented on #5708
Duplicate of https://github.com/ansible/ansible-modules-core/issues/5595

The long term fix is in devel and will be included in 2.3: https://github.com/ansible/ansible/commit/c005ae3cd95bca0267f57e26abcbe0b8e128c8fd

[2016-11-23 15:08] #5708 closed, assigned to nobody

[2016-11-23 15:25] developerinlondon commented on #2667
any updates on this?

[2016-11-23 15:38] jhawkesworth commented on #5704
Not sure why this is open.  The examples don't show double quotes (at least when I look at them in firefox)?

If you need to use double quotes then you have to escape backslash characters with a second backslash.

You can often use linux-style path separators i.e. forward slashes, although i find this confusing, so it isn't something I do, and there are some places where it won't work, for a varie

[2016-11-23 16:43] abadger commented on #5591
@landryb  What happens if you run "doas mount -u -F/etc/fstab /dev/sd0d" (which is what ansible is going to attempt first to remount on openbsd)?

[2016-11-23 16:47] robphoenix opened #5713 "[Regression] ios_command module failing with paramiko.hostkeys.InvalidHostKey"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`ios_command`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
host_key_checking = False
inventory = ./hosts
library =   ../ntc-ansible/library:../napalm-ansible/library
log_path = ./logfile
retry_files_save_path = ./retry/
forks = 50

[paramiko_connection]
record_host_keys = False

[ssh_connection]
ssh_args = -o ControlMaster=a

[2016-11-23 16:59] bcoca commented on #5710
I recently merged #5543, which should fix this, can you confirm?

[2016-11-23 17:01] geerlingguy commented on #915
I've also started hitting this again in 2.2, but only for certain cases (where an init script is installed as part of a package—in this case Solr): https://travis-ci.org/geerlingguy/ansible-role-solr/jobs/178318292#L391-L396 — and only on CentOS 7 (not on Debian 8 or Ubuntu 16.04, which have different setups).

Technically it would be best if I could convince Apache Solr to add a unit file upstrea

[2016-11-23 17:01] gundalow commented on #3310
@dmcnaught A PR that should fix this issue has been created https://github.com/ansible/ansible-modules-core/pull/5387
Could you please test than and add a comment on the PR.

Thanks in advance.

[2016-11-23 17:03] gundalow commented on #5041
@ismc You went offline before we got to this in today's Networking Meeting on IRC. Feel free to poke me on Freenode (gundalow)

[2016-11-23 17:15] dmcnaught commented on #3310
Sure - thanks.

[2016-11-23 17:17] abadger commented on #5591
Well.. on freebsd10 ```mount -u``` seems inconsistently broken...
* fstab has:

* mounted by boot
* Confirmed that nosuid was in the live mount options by running mount and checking output
* Removed ```,nosuid``` from the fstab line
* Ran mount -u -F /etc/fstab /dev/ada0p3
* Comfirmed that nosuid had been removed from the live mount.
* Re-added ```,nosuid``` to the fstab line
* Ran mount -u -F /et

[2016-11-23 18:23] mtnbikenc commented on #5710
Unfortunately it does not.  The systemd module still exits on failure to run `systemctl show` given the rc=1 exit code of systemd (systemd-231-10.fc25.x86_64).

https://github.com/ansible/ansible-modules-core/blob/351dd9344e4f9c41d47ba574f554eb16c15c2ce2/system/systemd.py#L278

Current versions of systemd:
Fedora 25 (Atomic Host): systemd-231-10.fc25.x86_64
RHEL Atomic 7.3.0: systemd-219-30.el7_3.

[2016-11-23 18:56] bcoca commented on #5710
great ... inconsistent return codes ....

[2016-11-23 19:03] bcoca commented on #5710
@mtnbikenc  please confirm that the above PR fixes the issue for you

[2016-11-23 19:20] #5710 closed, assigned to bcoca

[2016-11-23 19:38] geerlingguy commented on #5457
Same issue here—with `depth=1`, I can't get the following to work anymore (for my PHP role, see build failure here: https://travis-ci.org/geerlingguy/ansible-role-php/jobs/178379790#L384, for role task here: https://github.com/geerlingguy/ansible-role-php/blob/master/tasks/install-from-source.yml#L79-L86

[code]

If I remove `depth: 1`, it works. This was working in Ansible < 2.2.0.

[2016-11-23 19:50] jctanner commented on #5711
@stepanv

The behavior changed because of https://github.com/ansible/ansible-modules-core/commit/a75ee76aa3c359e1b87a136fab71c59f17fe8f9a

 Here's a workaround if you can't make your commands into strings prior to the task call ...

[code]

@chouseknecht what would the repercussions be if we set the param type back to list and then joined them later?

[2016-11-23 20:48] privateip opened #5716 "Fix command timeout in network modules"
This issue is a superset tracking a number of issues around command level timeouts.   This blanket issue will track the progress until it is resolved.

Associated issues

https://github.com/ansible/ansible-modules-core/issues/3999
https://github.com/ansible/ansible-modules-core/issues/4098
https://github.com/ansible/ansible-modules-core/issues/4311
https://github.com/ansible/ansible-modules-core/i

[2016-11-23 21:21] #5591 closed, assigned to abadger

[2016-11-23 23:30] splitice commented on #3764
+1 Agreed this bug is very annoying

[2016-11-24 00:59] henridwyer opened #5717 "user module: add parameter for --disabled-password option"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
user

##### ANSIBLE VERSION
2.2.0.0

##### SUMMARY
Sometimes it can be useful to create a user with the flag --disabled-password, instead of just not setting a password.

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS
Taken from:
http://stackoverflow.com/questions/39013796/create-user-with-option-disabled-password-by-ansible/39018859

Compar

[2016-11-24 02:24] cooniur commented on #143
I agree with @smiller171, the "until" solution is indeed a workaround. Ansible should provide a way of setting polling rate on cloud services (not only AWS, but also others).

I got the same throttling error while using rds module to restore databases.

Please consider re-open this ticket

[2016-11-24 02:49] christiancruz11 commented on #4249
@Abdul-Anshad-A Apologies, I'll try it again. we reverted back to use vcenter module.

[2016-11-24 03:41] christiancruz11 opened #5718 "vsphere_guest: datastore does not exist when deploying on esxi 6"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vsphere_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
We have a playbook that provision a VM. We run this from Ansible tower.
It works on ESXi 5 but fails on ESXi 6.
We tried to hard code the datastore but still same error.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It should cr

[2016-11-24 04:22] iamjsed commented on #3036
+1

[2016-11-24 05:36] lmilbaum commented on #5709
Just a thought here:  executing this task on the managed host fails but not on the control machine. There might be a dependency that I have missed which is the root cause of the failure?

[2016-11-24 07:43] landryb commented on #5591
Afaict, our `mount` doesn't support -F, cf http://man.openbsd.org/mount.8. When i want to update flags, i just use `mount -u -o<theflag> <mountpoint>` or `mount -u -o<theflag> <device>`. That will just update the mentioned flags, not changing other flags already set.

When using `-u`,  the manpage says ` The options set in the fstab(5) table are ignored.` so even if the fstab has been correctly up

[2016-11-24 10:01] bmalynovytch commented on #5504
The fix provided by #5505 seems to be fine.

If acceptable, in the meanwhile, you may use `check_mode: false`, which should prevent the error from being raised.

[2016-11-24 10:13] bmalynovytch commented on #5504
Fix provided by #5505 works 👍

[2016-11-24 10:25] robphoenix commented on #5713
This problem is specific to 2.2. If I pin ansible to 2.1 then the playbook works perfectly as expected.

[2016-11-24 10:26] geektoor commented on #5209
Hey,

i ran into the same issue. After i dug a bit into it, i found a "side note" here:
http://docs.openstack.org/infra/shade/usage.html
at add_auto_ip:

I think this is a "bit" bad, as auto_ip is set to yes by default. And even if i specify a floating ip pool, it fails, because it tries to assign an IP from the first floating pool in the list.
Suggestion: make at least ip_pool working when auto_i

[2016-11-24 10:29] jtyr commented on #5603
@mkoshelev @rosowiecki @fdutheil This issue should be fixed by the merged PR #5689. Please test it and let us know if the issue is resolved.

[2016-11-24 13:02] offlinehoster opened #5722 "Docs not clear: git clone to existing non-empty"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
git

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
nothing special -> default

##### OS / ENVIRONMENT
Ubuntu 16.04 LTS

##### SUMMARY
Using git module inside a playbook to clone an existing repo from gitlab.
The destination directory is the current user homedir, for example /home/user/
There exist already some files, like .bashrc or .ssh and

[2016-11-24 13:04] offlinehoster commented on #5722
Connecting by ssh to the host and run a git clone inside /home/user is perfectly running, so for me there is a bug inside the ansible git module.

[2016-11-24 14:37] ghost commented on #5090
After moving pipelining = True to the [ssh_connection] section, there aren't errors anymore.

[2016-11-24 14:37] #5090 closed, assigned to nobody

[2016-11-24 14:43] geektoor opened #5724 "os_floating_ip doesn't provide feedback about assigned IP"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
os_floating_ip

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
nothing changed from default settings of ubuntu ansible ppa

##### OS / ENVIRONMENT
ubuntu mate, 16.04.1 LTS
ansible-ppa: http://ppa.launchpad.net/ansible/ansible/ubuntu
OpenStack version: Mitaka (upstream)

##### SUMMARY

The os_floating_ip module lacks the floating IP as feedbac

[2016-11-24 14:47] alex-left commented on #4225
I have the same issue, only happens with "NOCREATEUSER" role flag.
The error's output is very confusing (seems like something with the ssh connection, but all is ok):

`    _"module_stderr": "OpenSSH_6.7p1 Debian-5+deb8u3, OpenSSL 1.0.1t  3 May 2016\r\ndebug1: Reading configuration data /etc/ssh/ssh_config\r\ndebug1: /etc/ssh/ssh_config line 19: Applying options for *\r\ndebug1: auto-mux: Trying e

[2016-11-24 16:13] gundalow commented on #5268
@rcutmore FYI, so you can see the discussion here

So we aren't sure if this is actually a bug. If you want a file to go into the users home directory then you should specify that, either full path or `~/`. I believe that's how everyone today has written their playbooks

Some users may not have a home directory, so when you log in you are put in '/'

The documentation states http://docs.ansible.co

[2016-11-24 16:42] jean-christophe-manciot opened #5725 "ios_command: Weird stdout & missing results[].cli_command field when a pipe is used"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ios_command
but the issue might be caused by another module such as "include_role" for instance.
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

inventory   = ./hosts
gathering = explicit
roles_path = /home/actionmystique/Program-Files/Ubuntu/Ansible/git-Ansible/Roles/roles
private_role_vars = yes
log_path = /var/log/ansible.log
fact_caching =

[2016-11-24 16:48] gundalow commented on #5704
@nitzmahone @samdoran Something to consider when we do the `docs_fragment` for the Windows modules?

[2016-11-24 16:58] gundalow commented on #5707
@kassiansun Would you like to create a Pull Request to add this functionality to `docker_container`?

[2016-11-24 17:00] heathdbrown commented on #3876
@gundalow we did not get a response back and I am following back up to see if the issue got missed somewhere.

[2016-11-24 17:09] gundalow commented on #5709
Hi,
Thanks for the bug report.

The backtrace ends
[code]
Which makes me think the issue is actually in the botocode

1) What version of boto do you have on OSX & 14.04
2) Does updating boto fix the issue

needs_info

[2016-11-24 17:12] gundalow commented on #5716
bot_skip

[2016-11-24 17:19] bcorijn commented on #5515
Same issue here.
Running from OSX Sierra against a Ubuntu 14.04 box with Docker 1.9.1. Updating docker-py 1.10.6 on the remote machine through pip did not help, tried with Ansible 2.1.3, 2.2.0, 2.3.0, none of them worked.

[2016-11-24 17:25] gundalow commented on #5712
Hi,
Thanks for the bug report. This is a strange case.

1) If after you've manually installed the packages and rerun ansible with all the packages listed do you still get the `"No package matching 'libsemanage-python' found available, installed or updated"` message?

2) If you run with `yum: name=libsemanage-python state=present` does it work

[2016-11-24 17:26] gundalow commented on #5713
Thanks for confirming that this used to work on 2.1

[2016-11-24 17:30] gundalow commented on #5718
Hi,
Thanks for the bug report, I'm sure you've checked this already, but just to be sure.

1) Does `ESX_PRD_VIDEO_APP_Green_DP0_DS1` exist on the ESXi6 host (is there a typo etc)
2) Does the specified user have permissions to read datastores and write on the ESX6i machine?

needs_info

[2016-11-24 18:28] gundalow commented on #5722
I wonder if this is a documentation issue
http://docs.ansible.com/ansible/git_module.html

From looking at the examples it seems like `dest` should be the root of the checkout, so you'd something similar to

[code]

[2016-11-24 18:34] gundalow commented on #5724
@geektoor Thanks for the bug report. Seems like a legitimate issue.

When fixed this will need documenting in the
[code]
Block in the module

[2016-11-24 19:02] gundalow commented on #5725
Thanks for the bug report and repo case. This does look like a real issue, we will investigate and get back to you.

[2016-11-24 19:03] gundalow commented on #5722
When you run `git clone` from the command line what's your cwd and the full command?

needs_info

[2016-11-24 19:19] gundalow commented on #3876
@heathdbrown Thanks for the update

[2016-11-24 19:30] gundalow commented on #5717
Hi,
Thanks of the suggestion. This may require some work to make it function across all the distros and platforms the  that the `user` module supports.

This isn't something we (Ansible Core Team) plan to work on, so we'd be looking to the community to implement this with appropriate integration tests.

[2016-11-24 19:51] robphoenix commented on #5713
No worries, let me know if there's anything else I can do to help. I also tried with pre-2.0 and post-2.0 Paramiko as I know there were some breaking changes but it had no effect.

[2016-11-24 20:15] christiancruz11 commented on #5718
@gundalow
Hi,
1. Does ESX_PRD_VIDEO_APP_Green_DP0_DS1 exist on the ESXi6 host (is there a typo etc)
**I have  triple check that the datastore above exist and no typo.**
2. Does the specified user have permissions to read datastores and write on the ESX6i machine?
**User have admin rights to read and right on the datastore.**

The environment that I am working on ESXi6 doesn't have datastore cluste

[2016-11-24 21:41] suryajak commented on #5704
@jhawkesworth I kept it open because the example on this doc page doesn't work:  http://docs.ansible.com/ansible/win_file_module.html

The way to make that example to work is to update the following:

`- win_file: path=C:\temp\foo.conf`
to:
`- win_file: path=C:/temp/foo.conf`

Is there a different place I should move this bug to? Alternatively I am happy to update the doc, let me what repo that is

[2016-11-24 21:46] rcutmore commented on #5268
@gundalow Makes sense, thanks for reviewing.

[2016-11-24 22:51] a1dutch commented on #5558
Seeing the same issue, kind of hard to work out whats going on/wrong when the image doesn't start.

I had to set 'log_driver: syslog' and check 'journalctl -u docker.service' in ubuntu to work out why it was failing

[2016-11-24 23:18] christiancruz11 commented on #5718
The datastore cluster didn't work too. I believe that option is used for cloning from a template.  Our playbook is using iso to boot from cd.

[2016-11-25 08:05] gundalow commented on #5704
Hi,
The example docs have recently been updates (though not live yet) to
https://github.com/ansible/ansible-modules-core/blob/devel/windows/win_file.py

Could you please see if the multi-line format with `key: value` works?

Thanks in advance

[2016-11-25 09:20] kevin-p commented on #5691
Hi,

Are you the one who created a bug to Cisco ? It seem to be very new (24/11/2016)

It's exactly the problem I had.

https://bst.cloudapps.cisco.com/bugsearch/bug/CSCuz00514

[2016-11-25 09:23] #4437 closed, assigned to nobody

[2016-11-25 09:25] seschwar opened #5728 "Module for managing Docker Volumes"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- a hypothetical docker_volume module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Debian GNU/Linux

##### SUMMARY

Ansible includes several module to manage various Docker objects like containers, images and networks. However a module for managing Docker volumes directly is missing. Such a module would be

[2016-11-25 09:31] ganeshrn commented on #4274
@gundalow I am not seeing this issue in stable-2.2 branch.
@ksator Can you please update ansible version to (>=)2.2 and check if this issue is seen.

[2016-11-25 09:36] elacour commented on #5630
Ok, will test this as soon as possible

[2016-11-25 09:36] seschwar opened #5729 "docker_image_facts: unable to deal with image IDs"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- `docker_image_facts`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Debian GNU/Linux

##### SUMMARY
`docker` allows addressing images by ID. Ansible should do the same. Otherwise it's impossible to inspect an unnamed image.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The output should be the same a

[2016-11-25 09:49] seschwar opened #5730 "docker_image: unable to deal with image IDs"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- `docker_image`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Debian GNU/Linux

##### SUMMARY
`docker` allows addressing images by ID. Ansible should do the same. Otherwise it's impossible to delete an unnamed image.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The output should be the same as from

[2016-11-25 09:55] seschwar opened #5731 "docker_container: unable to deal with image IDs"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- `docker_container`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Debian GNU/Linux

##### SUMMARY
`docker` allows addressing images by ID. Ansible should do the same. Otherwise it's impossible to create a container for an unnamed image.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The output should

[2016-11-25 10:01] #5728 closed, assigned to nobody

[2016-11-25 10:03] seschwar opened #5732 "docker_network: unable to deal with network IDs"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- `docker_network`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Debian GNU/Linux

##### SUMMARY
`docker` allows addressing networks by ID. Ansible should do the same. For the sake of consistency with the `docker` CLI and other modules.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The output should b

[2016-11-25 10:06] seschwar commented on #5728
Nice parsing @ansibot... This does not concern the existing `docker` module but proposes a new `docker_volume` module.

[2016-11-25 10:12] seschwar commented on #5728
bot_broken

@ansibot or @ansible, please reopen this issue.

[2016-11-25 10:29] alex-left opened #5733 "django manage: fails before to skip the task"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
django_manage

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
all defaults

##### OS / ENVIRONMENT
 not platform-specific

##### SUMMARY
I have a main playbook, this playbook have an include file task with conditional:

[code]

So, my condition is false and tasks included in "fixtures.yml" must are skipped, but one task of "fixtures.yml" use a

[2016-11-25 10:37] nsteinmetz commented on #5470
I can confirm it works as exepected with 2.2.1-rc1 grabbed from http://releases.ansible.com/ansible/

[2016-11-25 11:19] alex-left commented on #5733
sorry but i can reproduce the problem with other modules

[2016-11-25 11:19] #5733 closed, assigned to nobody

[2016-11-25 11:57] mohi048 opened #5734 "stuck on auth parameters"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

os_server

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
ubuntu 14.04
Openstack Mitaka

##### SUMMARY

1. Tyring to create an instance via ansible
2. Getting "msg": "Error fetching server list on ********s:: (Inner Exception: Problem with auth parameters)"}

##### STEPS TO REPRODUCE
1. Run the playbook

[code]

###

[2016-11-25 12:19] mohi048 commented on #5734
Some additional info -:
Sourced openstack credentials file

[root@linux]# python -m os_client_config.config
('envvars', '', {'auth_type': u'password', u'compute_api_version': u'2', 'key': None, u'database_api_version': u'1.0', u'metering_api_version': u'2', 'auth_version': '3', u'network_api_version': u'2', u'message': u'', u'image_format': u'qcow2', 'networks': [], u'image_api_version': u'2', 've

[2016-11-25 12:53] gundalow commented on #4103
@ganeshnalawade has kindly offered to take on this issue and create a PR

[2016-11-25 13:18] ndobbs commented on #143
I reopened this issue due to the fact that its not resolved and we still have people reporting in the thread.

[2016-11-25 14:43] mwjackson opened #5736 "jinja2 newline_sequence header broken"
##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME
lib/ansible/template/__init__.py#L477

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible on ubuntu 14.04, targeting same & windows server 2012r2

##### SUMMARY
addition of ast.literal_eval breaks the documentation suggestion of fixing newlines in windows templating by using newline_sequence header

##### STEPS T

[2016-11-25 14:49] rindek commented on #605
Still present in ansible 2.1

[code]

does not map ports, however new `docker_container` module seems to do the trick and mapping works properly

[2016-11-25 15:18] arunjohn commented on #4437
Sorry for the late response.
I am currently using the plugin maven_artifact which does download the files from artifactory as expected.

[2016-11-25 16:58] bchivari opened #5737 "docker_service: Odd "pull: yes" behavior with private docker registry"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docker_service
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Out of box

##### OS / ENVIRONMENT

CentOS 7
##### SUMMARY

Pertaining to a private docker registry (https, v1) that has been successfully authenticated to with docker_login in a previous step:

For docker_service ```pull: yes``` only works as expected when (older) image alread

[2016-11-25 17:35] gundalow commented on #5736
Hi, thanks for the bug report

cc @nitzmahone

[2016-11-25 18:25] spikerobinson commented on #5259
I am still experiencing the same problem on 2.2 - win_command and win_shell missing. I am running ansible 2.2 and I have updated ansible with yum via EPEL, today.

[code]

any playbook referencing win_command or win_shell emits this error:
[code]
...which disappears as soon as I substitute any other module name

I am guessing maybe the yum package at EPEL has a version of 2.2 that does not include

[2016-11-25 22:21] arnabsinha4u commented on #5558
Ran into the same issue with the docker_container module. Spins up container successfully but the dict is empty when tried to be retrieved by ansible_docker_container. using ansible 2.2 version.
Registering a var displays only couple of values like Changed and not the defaults like rc etc.

[2016-11-26 00:39] ambivalentno commented on #3871
as I've found this ticket while googling (and I'm working on this), here's a sample on how to create superuser in sort-of idempotent way:

[code]

I have to note not all people will use default django's user model (django.contrib.auth.models.User). Therefore, sothing like settings.AUTH_USER_MODEL should be used.
Also, it's still not idempotent enough, as update of username, email and password don'

[2016-11-26 02:23] #3860 closed, assigned to nobody

[2016-11-26 12:04] jhawkesworth commented on #5259
@spikerobinson closed tickets don't always get seen so generally its best open a new one if you are having issues (but reference old ones if they have useful background).

Could you run a
find / -name win_command.ps1
just to be extra sure the files are missing?
Personally I use pip but when I used to use yum I recall once upgrading and the modules not being visible until I'd logged off and on agai

[2016-11-26 13:53] #5551 closed, assigned to nobody

[2016-11-26 14:21] mkrull commented on #1936
pong

[2016-11-26 14:38] JulienPalard commented on #4973
Those weekly pings are annoying.

[2016-11-26 15:18] spikerobinson commented on #5259
@jhawkesworth, thank you. I did log back in after yum update and just retried that but still same effect. Using the find command I see that win_command and win_shell ps1s are both present and world-readable, at

`/usr/lib/python2.6/site-packages/ansible/modules/core/windows`

I also checked `ansible-docs -l ` and again `win_command `and `win_shell `are not listed

I thought maybe this is a module

[2016-11-26 15:28] spikerobinson commented on #5259
OK I have found the problem. For some reason I have two copies of the ./windows/ module folder, at two different paths, and only one of them has the two new modules `win_command `and `win_shell`

[code]

My ansible installation is using the first module path, which does not have the two new modules. It's failing to search the second path which does have the two new modules. These are different har

[2016-11-26 16:53] jhawkesworth commented on #5259
@spikerobinson Do you perhaps have a pip installation of ansible and a yum installation?
(I'm guessing here based on the .egg bit in the first of your python site packages?)

[2016-11-26 17:11] plockc commented on #5722
I had this issue as well 2.1.1, but as @gundalow suggests, looks like it's not well documented that dest includes the local clone name and not just the directory where you want the clone placed.

[2016-11-26 18:46] ganeshrn opened #5738 "junos_config module fails if config statement not found on device"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
junos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

Ensure interface ge-0/0/2 is not configured on device. Run below playbook.

[code]

##### EXPECTED RESULTS
Ansible run should log a warning message "warning: statement not found"
and continue to execute.
Similar to

[2016-11-26 18:55] spikerobinson commented on #5259
@jhawkesworth you are quite correct. I uninstalled both the `pip `package and the `yum `package and then reinstalled. Reinstalling the `yum `package (only) did not solve my problem, but reinstalling the `pip `package (only) has fixed the problem. I guess there may possibly still be a problem with the `yum `package, 2.2, and `win_command `/ `win_shell`

[2016-11-27 04:20] richardweiu opened #5740 "blockinfile marker is null while replace the last line"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- blockinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

the default setting

##### OS / ENVIRONMENT

ubuntu 14.04 3.16.0-37-generic
##### SUMMARY

- I don't want inser any marker info,but when I set

+ `no` , it will inser `False` befor and after the content
+ `null`,it will inser `None` befor and after the content
+ `""`, it will i

[2016-11-27 04:44] #5740 closed, assigned to nobody

[2016-11-27 08:38] mhmdio opened #5741 "typo error at ansible-modules-core/cloud/amazon/ec2_ami_find.py"
- Documentation Report
- ansible-modules-core/cloud/amazon/ec2_ami_find.py
- Ansible 2.2 documentation
- inline 236 rood instead of root and the same with 5 lines plus

[2016-11-27 08:51] #5741 closed, assigned to nobody

[2016-11-27 09:44] coodix commented on #5522
Problem was in that  there wasn't pip and mandatory libs installed on target server. Resolved by adding appropriate instructions into playbook.

[2016-11-27 10:31] morokin commented on #4041
Same issue affects Ansible 2.2

[2016-11-27 13:19] tuwid commented on #5109
Its correlated to the kernel version, if you have a non standard it would rase this error.
Usually this comes from OVH custom kernels like
[code]
The xxx here mess up the matching

[2016-11-27 14:09] wenindoubt commented on #5712
@gundalow

I actually rewrote my entire playbook with the same exact code and it worked this morning.

1. I did not get to try this as I simply rewrote the entire playbook and it worked

[code]

2. If I ran `yum: name=libsemanage-python state=present`, it did work if I installed it individually.

I'm going to do some further tests this week.

[2016-11-27 14:47] psionikangel commented on #5522
@coodix What were the libs that you had to install on the target server in order for it to work? They're not mentionned in the documentation at https://docs.ansible.com/ansible/docker_service_module.html

[2016-11-27 17:00] candlerb opened #5744 "unarchive with zip file: 'owner' and 'group' set files but not directories"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

unarchive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing significant

[code]

##### OS / ENVIRONMENT

Running ansible from Ubuntu 16.04, managing Ubuntu 16.04

##### SUMMARY

unarchive module 'owner' and 'group' set the *file* ownership but not the *directory* ownership

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

T

[2016-11-27 19:49] simplesteph commented on #5655
This involves updating the entire module to boto3 to support this new feature. Should we create a separate issue to update ec2_asg to boto3?

[2016-11-28 04:45] sourabh-idoorkar commented on #1077
Seeing same error for a set_fact task

The step:
`set_fact output='{{ test1output }}'`

Error:
`fatal: [dev] => A variable inserted a new parameter into the module args. Be sure to quote variables if they contain equal signs (for example: "{{var}}").`

If I change line to use different type of quotes:
`set_fact output="{{ test1output }}"`

Error:
`fatal: [dev] => a duplicate parameter was found in

[2016-11-28 08:07] kkjamdagni opened #5748 "Requirement issue with installation"
I am trying to install (sudo sh ./setup.sh) ansible tower on a POC  server and getting below error message:

The file system mounted at /var does not meet minimum disk space requirement.

I have checked the documentation and it suggests to increase the /var/ directory space to at least 10 GB which is currently 2 GB only. But as per our infrastructure team it is not possible to increase the overall

[2016-11-28 10:02] ArKam commented on #5659
That it's not a request for more complexity but rather to improve the way unarchive already handle SSL. That's a feature witch is mostely required in enterprise where you can't access outside repo but only internal trusted repo with SSL certificats that are provided by an internal CA. Ansible is mainly aiming to be use by enterprises.
It's a complete nonsens to have to use two steps (get_url + una

[2016-11-28 10:24] ogenstad commented on #5308
A workaround is to run it the first time with `ansible-playbook -f 1` to set the forks to 1. That way the ~/.ssh/known_hosts file is created in the correct manner.

I also found another issue when the known_hosts file doesn't exist at all. Are any of these fixed in the devel branch now?

[2016-11-28 10:25] hlavacek87 commented on #3056
Hello,

still not able to deploy vm from template on the different datastore. The template resides on datastore1 and we need to deploy vm on datatore2.
It is not possible to achive this even with the second task with "reconfigure".

The only parametr which is working seems to be folder. IPaddress, MEM, CPU or disk dont.

Did anybodyfind out how to achive this? Thank you.

Here is simple code:
- na

[2016-11-28 11:23] ogenstad commented on #5336
The issue is that the modules are run using `/usr/bin/python` not `/usr/local/bin/python`, and the required modules aren't installed in the system version of Python.

Try setting ansible_python_interpreter in the inventory (http://docs.ansible.com/ansible/intro_inventory.html)

@gundalow, this is exactly the type of issue we talked about on Slack last Friday.

[2016-11-28 11:24] gundalow commented on #5646
Fixed by https://github.com/ansible/ansible-modules-core/pull/5658

[2016-11-28 11:24] #5646 closed, assigned to nobody

[2016-11-28 11:28] m-messiah commented on #5458
Hey, what about 2.2.1 or 2.2.0.1? A month went out, but there are no changes in PyPI or other.

[2016-11-28 11:43] coodix commented on #5522
@psionikangel , actually requirements are described on that page below the "Requirements (on host that executes module)" header.

My working playbook is:

[code]

The idea is that python, pip and docker_compose package should be installed on target machine.

[2016-11-28 12:05] prupert commented on #5533
Why should it be using colons? Everywhere in the documentation module arguments are placed after `=`, not `:`.  I have always have been following that. :-)

[2016-11-28 12:09] fiunchinho commented on #3804
Hitting this issue too. Any news?

[2016-11-28 12:24] gundalow commented on #5691
@kevin-p I've not raised a bug for this.

Does the `Known Affected Releases` apply to the version of NXOS you are running?

[2016-11-28 12:29] gundalow commented on #5722
@plockc @offlinehoster If you can suggest some wording I'll update the docs to make this clearer.

[2016-11-28 12:31] gundalow commented on #5569
@jedelman8 Gentle reminder, do you have a PR for this?

[2016-11-28 12:33] gundalow commented on #5214
Closing as per @GGabriele's comment

[2016-11-28 12:33] #5214 closed, assigned to nobody

[2016-11-28 13:29] cben commented on #5515
On Fedora 24, had bug with `python-docker-py` 1.8.1-1.fc24, solved by getting 1.10.4-1.fc26 from rawhide:
[code]

[2016-11-28 13:46] dagwieers commented on #5659
You are entitled to an opinion, as am I.

And it's not just because of this issue that I have this opinion, but rather as the maintainer of the unarchive module I received many requests for all possible URL fetching functionality and options that mimic what **get_url** (or **uri**) already implement. (authentication, proxy support, SSL functionality and options, client certificates, other schemes

[2016-11-28 14:18] DavorSaric opened #5749 "vs state"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-11-28 14:26] dagwieers commented on #5744
Interesting, can you do the following on your zip-file ?
[code]
It should list all the files (and directories) in your archive.
My only guess is that some directories are not part of the archive.
needs_info

[2016-11-28 14:31] candlerb commented on #5744
Your guess is correct: the zip contains only files, not directories.

[code]

[2016-11-28 14:47] richbolen commented on #3804
Upgrading to ansible 2.2.0 fixed this problem for me.

[2016-11-28 14:58] dagwieers commented on #5149
This is indeed a bug, we don't consider size changes at this point. I just added a fix to an existing open PR #5721

Can you check if this change fixes your issue ? (see the SIZE_DIFF_RE pieces)

[2016-11-28 15:04] DavorSaric commented on #5749
I didn't opened this... What is this?

[2016-11-28 15:04] #5749 closed, assigned to nobody

[2016-11-28 15:06] emonty commented on #3981
https://review.openstack.org/403748 is step one in fixing this. PR will be coming for the ansible side.

[2016-11-28 15:29] #5336 closed, assigned to Qalthos

[2016-11-28 15:30] dagwieers commented on #5744
Hmm, that's unfortunate, but it explains why we haven't seen this issue before.

If this is your own archive, I would advice to include directories (and directory-permissions) as part of the archive. The alternative is that we would add directories (and guess permissies) ourselves, but that would mean that unzip would modify pre-existing directories not part of the archive, and maybe some people a

[2016-11-28 15:45] offlinehoster commented on #5722
I expected for dest, where i can checkout my "repository".

[code]
This is how it is written at the docs.

For me it does not make any sense. I can checkkout by dest to a clear/new directory, but not to an existing one with some files inside.

So the dest option needs to define a complete new directory, and it doesn't need to be named by the repository. You can define dest=/home/user/bla even if t

[2016-11-28 15:53] candlerb commented on #5744
Fair enough. The ideal behaviour would be if unzip would apply `owner:group` permissions only if it creates the directory itself; any pre-existing directories (which are not in the zipfile) would be left alone.

However for now I have a simple workaround:

[code]

and it's good enough.  +1 for documenting the behaviour.

[2016-11-28 16:03] dagwieers commented on #5744
Ok, I will add a note to the module so it becomes part of the documentation.

Thanks for reporting ! We learn something new about ZIP every day ;-)

[2016-11-28 16:09] kkirsche commented on #5672
@jctanner Yes, I'm referencing https://raw.githubusercontent.com/ansible/ansible-modules-core/devel/.github/PULL_REQUEST_TEMPLATE.md — specifically, "Please paste verbatim command output below, e.g. before and after your change. Even in the event of a Docs Pull Request, this allows the Ansible team to quickly verify that there were no accidental syntax mistakes."

Looking at the CONTRIBUTING.md gu

[2016-11-28 16:15] dagwieers commented on #5744
This is notabug per se, but induced an improvement nevertheless.

PR #5721 add the following not to the documentation:
- ZIP files consisting of files, but not directories may find that ownership or permissions of parent directories may not be set as expected when created.

[2016-11-28 16:16] kkirsche commented on #5336
Ah, ok. Thanks @ogenstad. You were correct. If anyone wants to fix this without `ansible_python_interpreter`, you can do:

    sudo /usr/bin/python -m pip install junos-eznc paramiko

[2016-11-28 16:17] kkirsche commented on #5336
The key for me was to not run `-U` as that attempts to update files in protected directories, which SIP (System Integrity Protection) will prevent

[2016-11-28 16:18] #5744 closed, assigned to nobody

[2016-11-28 16:31] hlavacek87 commented on #3056
OK, I think that I was able to manage it myself via updating the vsphere_guest.py ansible library manually with the following:

from ROW num: 749

                datastore_mor = None
                for ds_mor, ds_path in vsphere_client.get_datastores().items():
                   if ds_path == vm_extra_config.get("datastore"): datastore_mor = ds_mor; break
                cloneArgs["datastore"]

[2016-11-28 16:38] keepworld commented on #5495
Hi, any update regarding this issue ?

[2016-11-28 16:55] dagwieers commented on #5744
Hmm, it seems I misinterpreted the solution you proposed.

If the directory did not already exist you prefer we would create it with the requested ownership.
But we do not know what permissions. So I am not sure if this is expected behaviour.

[2016-11-28 17:05] candlerb commented on #5744
But we do not know what permissions.

Well, the 'template' and 'copy' modules have 'owner', 'group' and 'mode' options, and if you don't specify those, it falls back to some sort of default.  Last time I looked at this, I think the ownership was whatever user ansible was running as; as for the mode, maybe it just came from umask?

I note that the unarchive module does have a `mode` option. However

[2016-11-28 17:06] tafax commented on #527
Same here. Ansible 2.2 seems to have the same problem.

[2016-11-28 17:15] wenottingham commented on #5748
Hi, you appear to be in the wrong repository - this repo is for issues with certain Ansible modules.

Please contact your Ansible trial representative, or file a support ticket at https://access.redhat.com/.

[2016-11-28 17:27] nudomarinero commented on #4041
I have found the same issue in old versions of Ansible and in the latest available (2.2)

[2016-11-28 17:41] tdjfr opened #5751 "win_service trouble with Windows 2012R2"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I want to start (or stop) service on Windows2012R2 server and take this error
An exception occurred during task execution. The full traceback is:
At C:\Users\Administrator\AppData\Local\Temp\ansible-tmp-1480354748.14-17345256285605\win_service.ps1:296 ch

[2016-11-28 17:51] abadger commented on #5591
Okay.  So we'll need to document that openbsd does not take the fstab parameter and then make it throw a nice error if it's specified and we're on openbsd.  I'll work on that an CC you on the Pull Request.

For unmount/mount, I agree it's not ideal.  We'll gladly take a PR to implement remount on the BSDs.

[2016-11-28 17:53] tdjfr commented on #5751
ok. Bug in the sevrice on the windows server. Sorry for disturbing

[2016-11-28 17:53] #5751 closed, assigned to nobody

[2016-11-28 18:09] psionikangel commented on #5522
This was strange. I had all the requirements already installed on the target server. The only difference is I had installed them through apt instead of pip.

Installing them with pip fixed the issue.

[2016-11-28 18:18] #5268 closed, assigned to nobody

[2016-11-28 18:27] chuckyz commented on #5656
@markusyou have you tried using the `fstab` flag like the following:

[code]

[2016-11-28 19:15] #5697 closed, assigned to jctanner

[2016-11-28 19:52] geektoor opened #5753 "os_network missing --dns-domain / dns based on hostnames not working in tenant"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
os_network or os_subnet

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default settings

##### OS / ENVIRONMENT

Ubuntu Mate 16.04.1 LTS

##### SUMMARY

While trying to figure out why DNS within the tenant is not working, i found the following issue:
If i use os_network to create a network, there is no option for specifying the dns-domain

[2016-11-28 20:12] abadger commented on #5656
needs_info

[2016-11-28 20:13] jctanner commented on #5607
Here is a workaround ...

[code]

[2016-11-28 20:17] jctanner commented on #5607
I'm closing this as wontfix for a few reasons:

1) We will never know if the user intended to have the whitespace or not, so we can't just delete it.
2) Scripting languages that rely on tabs and indentation are intended to run through the "script" module, not the command or shell modules.
3) python scripts can be written in oneline and run via python -c "print foo; print foo2".

[2016-11-28 20:17] #5607 closed, assigned to nobody

[2016-11-28 20:37] jctanner commented on #5603
@mkoshelev Please update the ticket once you have had a chance to test the changes made by #5689

needs_info

[2016-11-28 20:53] jctanner commented on #5685
@jansauer have you tried using the real hostname instead of "localhost"?

needs_info

[2016-11-28 21:04] jctanner commented on #5672
@kkirsche Is this what you were looking for? http://docs.ansible.com/ansible/dev_guide/developing_modules.html#testing-modules

needs_info

[2016-11-28 21:07] kkirsche commented on #5672
Yep, @jctanner — that would be what I'd be looking for when I'm contributing

[2016-11-28 21:25] jctanner commented on #5672
resolved_by_pr https://github.com/ansible/ansible/pull/18658

[2016-11-28 21:26] kkirsche commented on #5672
Thank you for adding that

[2016-11-28 21:27] jctanner commented on #5672
No problem. We'll see what our docs person does with it.

[2016-11-28 22:01] dtoubelis commented on #5607
1. It would be the best not to alter user intent. This problem is self inflicted by relying on assumption of certain behaviour instead leaving it up to the developer. This is an anti-pattern by my standards.
2. True, but running it via shell provides a convenient shortcut and better visibility for playbook intent.
3. Also true, but it is rather a workaround than a sensible solution.

My use case i

[2016-11-28 22:01] bcoca commented on #5659
@ArKam  please consider that @dagwieers is doing this as a volunteer, it is up to him what he wants to work on.

That said, I mostly agree with him, the uri functionality is already fully supported in it's own module and copying all that functionality here is redundant. The increased complexity and maintenance is not worth the trouble to save 1 extra task from a playbook.

[2016-11-28 22:09] christiancruz11 commented on #5718
Any update on this issue please?

[2016-11-28 22:43] jfenal-zz commented on #3300
https://github.com/ansible/ansible-modules-extras/pull/3559

[2016-11-29 03:01] jctanner commented on #5672
PR merged, so we should see this change on the docsite as soon as we publish it again.

[2016-11-29 03:01] #5672 closed, assigned to nobody

[2016-11-29 05:46] my2ter commented on #777
+1

[2016-11-29 09:48] lazize commented on #5091
With the full path it works fine.
Would be nice to mention it in the documentation.
If possible would be very good to have a more detail error message, like:
'visudo, No such file or directory'
'File visudo not found'

Something that explain more the problem.

[2016-11-29 09:52] ydh commented on #5053
ansibot 'needs_info'

[2016-11-29 10:13] dagwieers commented on #5744
@candlerb Can you open this issue again ? Maybe update the title to reflect our new findings. I agree we need a solution for this and what you propose makes sense. I don't know if I will have the time for this, but we should keep this issue around until it is dealt with.
needs_contributor

[2016-11-29 10:16] candlerb commented on #5744
I don't see a way to reopen - do you want me to submit a new issue?

[2016-11-29 10:24] candlerb commented on #5744
(Related issue: #234)

Also: what do you think about having separate file_mode and directory_mode options? Unfortunately I don't know of any other module which does this. It could be useful for other modules which touch both files and directories, as requested [here](http://stackoverflow.com/questions/28778738/ansible-mode-755-for-directories-and-644-for-files-recursively) and [here](http://superu

[2016-11-29 10:46] dagwieers commented on #5744
As the creator of this ticket you should be able to reopen though ?

Wrt. mode-support, the main issue is that unarchive does not set the permissions, it leaves this up to a mod_util function `set_fs_attributes_if_different()`. I would have to look into this, initially it was possible but the problem was that it did not support directory modes and as such it was disabled in a subsequent PR.

Also,

[2016-11-29 10:52] candlerb commented on #5744
I can edit the title. According to [this](http://stackoverflow.com/questions/21333654/how-to-re-open-an-issue-in-github) and [this](https://github.com/isaacs/github/issues/583) I can only reopen an issue if I closed it myself - which I didn't.

Pure python sounds like the right approach to avoid all the problems with incompatible tar/zip implementations.

[2016-11-29 11:51] lpirl opened #5755 "service/systemd module cannot enable new ("missing") services"
##### ISSUE TYPE
 - Bug Report (regression)

##### COMPONENT NAME
module `service`/`systemd`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
nothing relevant there

##### OS / ENVIRONMENT
both Debian stretch/sid

##### SUMMARY
I used to use the `service` module to enable (i.e. add) new services (i.e. unit files) with Ansible 2.1. With 2.2, the corresponding Playbook fails with "Could not find

[2016-11-29 11:59] cherusk opened #5756 "Commands modules: cutting off "long" lines"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

all command modules

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Long lines are cut off at 81 chars

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Long lines are not truncated in any way.

e.g.:

[matthias@fedora24 ~]$ findmnt -o OPTIONS --target /sys/fs/cgroup/systemd
OPTIONS
rw,nosui

[2016-11-29 12:13] vmindru commented on #5755
i will try to reproduce this

[2016-11-29 12:45] gerhard-tinned commented on #4542
Is there anyone working on this ... except the ansibot??

[2016-11-29 13:30] jansauer commented on #5685
@jctanner changing `localhost` in the inventory hosts file or setting `ansible_ssh_host` doesn't help. But I also tried the `docker_container` `tls_hostname` which works but in a very strange way.

First things first, thx @jctanner it finally works.

Recap:
1. `Failed to import docker-py - No module named requests.exceptions. Try 'pip install docker-py'`
	Was a misconfiguration of my env and I had

[2016-11-29 13:38] JamesUoM opened #5757 "Yum module fails when installing via URL if a yum http_proxy is required"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
yum

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Red Hat 6

##### SUMMARY
The Yum module fails when trying make sure an RPM is installed via a URL if it must do so via a http proxy.

I found that line 246 in the yum module it tries to fetch the url directly possibly circumventing the proxy settings:
https://github.com/ansible/ansible-m

[2016-11-29 13:53] BastianVoigt opened #5758 "unarchive: Inaccurate error reporting"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
unarchive

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
When unarchiving a ZIP archive on a remote Ubuntu16 server, it fails with the message "Python isn't installed on the system", although python (2.7) IS installed on the system. The actual error message is caught in _remote_checksum() a

[2016-11-29 14:01] JamesUoM commented on #5757
A workaround it to specify the http_proxy as an environment variable.

[2016-11-29 14:21] ImuMotive commented on #5073
Experienced on ansible 2.2.0.0

Not present on 2.1.1.0
[code]
[code]
I can reproduce this error consistently. We apply roles multiple times for our pre-bake, then deploy steps at AWS. We start with a CentOS 6.8 minimal image.

The role is applied successfully the first time. We shutdown the machine then start it up again for the next step. At this point the mounts are already present. When the rol

[2016-11-29 14:42] omarqureshi opened #5759 "EC2 instance_initiated_shutdown_behavior default should be more intelligent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
EC2

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
N/A

##### SUMMARY
When creating an instance-store backed instance, the default of "stop" on instance_initiated_shutdown_behavior is not a valid default. Explicitly setting to "terminate" resolves the issue.

##### STEPS TO REPRODUCE
Running a playbook with the following task

[code]

####

[2016-11-29 14:46] omarqureshi commented on #5759
https://github.com/ansible/ansible-modules-core/blob/52d376c88e3456535e20eb45287392bef379cc70/cloud/amazon/ec2.py#L1131 is where the general check is

[2016-11-29 15:01] jtyr commented on #5073
Thanks for the details, @ImuMotive. I will run some more tests later today.

[2016-11-29 15:31] bart2 opened #5760 "unarchive: unhelpful error message when "owner" does not exist and unarchiving tar.gz"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
unarchive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When "owner" parameter is set to user that does not exist, and we are extracting tar.gz archive the module fails with unrelated error message: "Unexpected error when accessing exploded file: [Errno 2] No such file or directory:"

Interesting

[2016-11-29 15:39] gvilarino commented on #5399
it seems nobody really cares about azure integration :/

[2016-11-29 15:54] dabruzzo commented on #5520
If the problem is related to the confirmation after the command, it could be fixed moving from old command: "copy running-config startup-config" to "write memory".

TASK [ios : Apply new logging configuration] ***********************************
fatal: [192.168.29.4 -> localhost]: FAILED! => {"changed": false, "failed": true, "msg": "timeout trying to send command: copy running-config startup-conf

[2016-11-29 16:00] vmindru commented on #5755
this is seems to be fixed , not able to reproduce on devel branch

[code]

[code]

[2016-11-29 16:11] lpirl commented on #5755
Thanks @vmindru, good to hear.
The warning feels a bit like a legacy of the defect (since Ansible does not seem to expect systemd services as files).
Should that maybe be fixed?

[2016-11-29 16:13] vmindru commented on #5755
@lpirl  good question maybe maintainer of this module could look into it, I will check why it pop's up tomorrow.

[2016-11-29 16:16] bborysenko opened #5762 "get_url/uri: Using client certificate for HTTPS"
##### ISSUE TYPE: Feature Idea

##### COMPONENT NAME

`get_url`/`uri` modules

##### SUMMARY

Will be great to add support for client certificates for HTTPS request. Similar to `curl --cert ...`

[2016-11-29 17:00] mbarper opened #5763 "Ad-hoc shell module freeze and never return to linux prompt"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

shell
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Nothing configured
##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 6.8 (Santiago)
##### SUMMARY

When running a remote command with the module shell in ansible, for a list of servers and with sudo,
the command run fine in the remote servers but the ansible command never re

[2016-11-29 17:17] jpmens commented on #5762
needs_contributor

[2016-11-29 17:30] bcoca commented on #5755
there are several issues here, one of them is that not all versions of systemd handle missing files the same way, the systemd module in devel should be able to handle most differences at this point.

[2016-11-29 18:06] bcoca commented on #5756
can you post the actual results? i use long lines w/o any issues and cannot reproduce this problem.

[2016-11-29 18:43] #5748 closed, assigned to nobody

[2016-11-29 18:48] sivel commented on #5762
This is in progress already at:

https://github.com/ansible/ansible-modules-core/pull/5398
https://github.com/ansible/ansible/pull/18141

[2016-11-29 18:48] #5762 closed, assigned to nobody

[2016-11-29 19:15] #3003 closed, assigned to nobody

[2016-11-29 19:23] joeczucha commented on #5504
Thanks for the workaround @BenEinwechter, that will keep me moving whilst we wait for an official fix.

FWIW, installed with homebrew on OSX, I had to modify:

`/usr/local/Cellar/ansible/2.2.0.0_1/libexec/lib/python2.7/site-packages/ansible/modules/core/source_control/git.py`

[2016-11-29 19:36] briceburg commented on #1912
FWIW, we're using the TMPDIR workaround as follows;

[code]

[2016-11-29 20:27] cherusk commented on #5756
Sure, updated. Could reproduce even on different an more recent env.

[2016-11-29 20:28] tweeks024 opened #5765 "include_vars does not honor failed_when for missing files"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_vars
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

include_vars no longer honors `failed_when: false` for missing files.

note, we can work around this using the suggestions [here](http://stackoverflow.com/questions/28119521/ansible-include-task-only-if-file-exists)
##### STEPS TO REPRODUCE

[2016-11-29 20:43] bcoca commented on #5756
what is being truncated? you are asking findmnt for only the options, that is what is displayed

[2016-11-29 20:53] bcoca commented on #5756
running your command directly and through ansible i get same output. Using this test i see no truncation:

`ansible -m raw -a 'for a in $(seq 0 1 300); do echo -n lola; done`

[code]

[2016-11-29 20:53] #5765 closed, assigned to nobody

[2016-11-29 20:58] zubrabubra commented on #4204
Looks like it might be the problem of some of RedHat AMIs v 6.5 / 7.0, please check the [link](https://access.redhat.com/solutions/1599103)
In case your infrastructure allows switching to the different version you can use 7.3 which does not have this issue.

[2016-11-29 21:41] bcoca commented on #4805
fixed via 5129e2fe169d5d4aac3626d0833bcf952bb89b87, which is now used by service modules to indicate missing service in a clear and consistent manner

[2016-11-29 21:41] #4805 closed, assigned to bcoca

[2016-11-29 21:43] fubarhouse commented on #5504
For me this is a pretty critical fix, me and all of my team literally cannot update and have to always make sure we're using 2.1.x.x until the fix is in release.

Any chance we could get an ETA on this?

[2016-11-29 23:17] wimnat opened #5767 "ec2_eip does not assign an ip to an eni"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_eip

##### ANSIBLE VERSION
ansible 2.3.0 (devel a83b00bbc0) last updated 2016/11/29 22:28:22 (GMT +000)

##### CONFIGURATION
standard

##### OS / ENVIRONMENT
centos

##### SUMMARY
If trying to assign an eip to an eni, the task will fail with a boto "MissingParameter" error.

##### STEPS TO REPRODUCE
Run the following task.

[code]

##### EXP

[2016-11-30 01:03] wimnat commented on #5767
OK so i worked out this was happening because I hadn't specified in_vpc.

This would always be required when working with an ENI because ENIs are VPC only.

I've created a PR that just checks if in_vpc is set when working with ENIs and fails if not.

https://github.com/ansible/ansible-modules-core/pull/5768

[2016-11-30 02:30] gbolo commented on #5515
having the same issue on both Centos 7.2 and RHEL 7.3
[code]

using:
[code]

I can also confirm that everything works fine on ansible 2.1

[2016-11-30 02:50] mide commented on #5220
I too am having an issue with the `s3` module. It seems when I try to `PUT` an object into a bucket that already exists I get thrown an error. This is obviously not expected.

Running the following:
[code]
yields me this error:
[code]

I am running Ansible `2.2.0.0`.
[code]

**Update:** Oops, this was my fault. My IAM user that I was using for provisioning was lacking the right permissions. 😥  Onc

[2016-11-30 05:06] duck-rh commented on #4805
thanks a lot :-)

[2016-11-30 05:40] mcassaniti opened #5769 "Extend script module to ingest JSON output on stdout"
Detail | Information
--------|--------
Issue Type | Feature Idea
Component Name | script
Ansible Version | <=2.2
OS / Environment | N/A

# Feature Explanation
I'd like to see the script module extended (don't forget Windows users here either) so that if a script outputs JSON that Ansible understands, the JSON blob is ingested into Ansible just like it would be if it was returned from a module. I'd