[2016-08-25 08:31] zarnovican opened #4531 "random filter: add optional seed"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

filter 'random'
##### ANSIBLE VERSION

[code]
##### SUMMARY

Add ability to specify seed to a 'random' filter.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

[code]
##### NOTES

One application for such feature is random (but idempotent) cron times.

[code]

Numbers are random between hosts, but the task is idempotent when executed mu

[2016-08-25 08:47] zarnovican commented on #4531
Duplicate of https://github.com/ansible/ansible/issues/15621

[2016-08-25 08:47] #4531 closed, assigned to nobody

[2016-08-25 09:28] relgames opened #4532 ""file: path=/path state=absent force=yes" fails with Errno 39 Directory not empty"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

file
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Scientific Linux release 7.1 (Nitrogen)
##### SUMMARY

Remove dir task failed with Directory not empty but it is supposed to delete the directory.
It is local file system (NOT nfs), xfs
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Directory is delet

[2016-08-25 10:17] jhawkesworth commented on #4530
I believe the idea is to get vmware_guest http://docs.ansible.com/ansible/vmware_guest_module.html (which uses pyvomi) and associated vmware_... modules to provide the same facilities as vsphere_guest eventually.

[2016-08-25 12:04] mgedmin opened #4533 "Support for a2ensite"
##### ISSUE TYPE
- Feature Idea
##### SUMMARY

There's `apache2_module` that wraps a2enmod/a2dismod, but there's no wrapper for a2ensite/a2dissite.  It would be nice to have an `apache2_site` module that would allow something like

[code]

[2016-08-25 13:17] ablack-idguk opened #4534 "docker_container removes published ports when used for restart"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu Trusty on EC2
##### SUMMARY

docker_container alters the ports when used to restart a docker contaienr
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The restarted container should of had the same published port i.e.
0.0.0.0:8815->8888/tc

[2016-08-25 13:37] jctanner commented on #4530
@packeteer @jhawkesworth is correct. vmware_guest is the rewrite with pyvmomi. It is not as comprehensive as vsphere_guest yet, but it's slowly getting there. It can clone templates at the very least.

[2016-08-25 13:37] #4530 closed, assigned to nobody

[2016-08-25 14:23] ffk23 commented on #3763
The workaround doesn't work if  force: true :(

[2016-08-25 15:55] mwhite14 commented on #4440
I am experiencing the same issue on Ubuntu 14.04

[2016-08-25 16:16] rafi opened #4537 "[ecs_service_facts] value of details must be one of: true,false, got: True"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

`ecs_service_facts`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

OSX
##### SUMMARY

Running this playbook (with `details: true`):

[code]
##### EXPECTED RESULTS

Detailed result as mentioned in [docs](http://docs.ansible.com/ansible/ecs_service_facts_module.html).
##### ACTUAL RESULTS

[code]

[2016-08-25 16:17] rafi opened #4538 "[ecs_taskdefinition] Invalid type for parameter containerDefinitions[0]"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

`ec2_taskdefinition`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

OSX
##### SUMMARY

An exception when trying to use variables for `cpu` and `memory` parameters in the `containers` list.
##### STEPS TO REPRODUCE

Run playbook:

[code]
##### EXPECTED RESULTS

Create a new ECS task-definition with 512 cpu and memory.
##

[2016-08-25 16:23] #4537 closed, assigned to nobody

[2016-08-25 16:31] fortijames commented on #1124
+1

[2016-08-25 16:52] whitequark opened #4539 "Copy module ignores empty content"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

copy
##### ANSIBLE VERSION

[code]
##### SUMMARY

The file module explicitly rejects creation of files when they do not exist as a design point (per its documentation). The copy module appears to provide a way to do this, by using `copy: content= force=no`. However, this doesn't actually work.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESUL

[2016-08-25 16:56] whitequark commented on #4539
Nevermind, I just realized that the `file` module supports `name` but `copy` does not, and the ambiguous error message confused me. Not a bug, with `dest` it works as expected.

[2016-08-25 16:56] #4539 closed, assigned to nobody

[2016-08-25 17:36] naeemhaq commented on #3180
+10

[2016-08-25 18:04] rafi commented on #4538
@Java1Guy -- Pinging you 🙏

[2016-08-25 18:09] mliudev commented on #1616
👍

[2016-08-25 18:20] ghost opened #4540 "ec2_metric_alarm period not in seconds and causes issues with aws api"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ec2_metric_alarm
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Fedora release 22
##### SUMMARY

The period parameter is documented as a "seconds" field, but it seems to be in minutes and the aws boto api expects this in seconds and 60 seconds is the min value. This causes issues if I try to set this to 5min because bo

[2016-08-25 18:24] robinro commented on #4533
Based on apache2_module this should be straight-forward to implement. I'd be happy to review such a module if a PR exists.

[2016-08-25 18:26] sivel commented on #4533
There is a PR open for this at https://github.com/ansible/ansible-modules-extras/pull/1240

[2016-08-25 18:26] #4533 closed, assigned to nobody

[2016-08-25 19:13] zachradtka opened #4542 "`authorized_key` with `delegate_to` not always adding keys to `~/.ssh/authorized_keys`"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

authorized_key
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Utilizing `delegate_to` and `authorized_key` to implement passworless SSH on a cluster does not work. Some, not all keys will get added to `~/.ssh/authorized_keys` while Ansible reports that all keys have been added.
##### STEPS TO REPRODU

[2016-08-25 20:14] jjshoe opened #4543 "ec2 aws module does not error when no image id is specified"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ec2
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

ubuntu 14.04
##### SUMMARY

Returns ok instead of erroring when no image id is specified
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

return a fail, image id is required per docs
##### ACTUAL RESULTS

returned an ok and no instance matches tag tage in a s

[2016-08-25 20:17] jjshoe commented on #4543
This appears to be related to state: running, even if I specify an image an instance isn't made until I put state: present.

[2016-08-25 20:42] Java1Guy commented on #4538
Looks like an Ansible issue as to why your filters aren't working to convert to integer... I might try taking out the double quotes if Ansible 2.1 now supports {{ after : which I don't know if it does.
It seems a lot of people have had this problem in various contexts.  A workable solution would be to make the module check for int and string and cast before using it.

[2016-08-25 22:27] naslanidis commented on #3180
Just an FYI, if you're seeing this:

fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": "Failed to create instance: Standalone DB Instances are not supported for the specified engine"}

It's because you need to have an Aurora cluster created before you try and create the Aurora instance and you must pass the cluster name as one of the arguments when calling the create_db_inst

[2016-08-25 22:50] dagwieers commented on #4440
Well, it definitely is not a module bug. So there is not a lot I can do as a module maintainer.
According to @bcoca a fix is imminent.

wontfix

[2016-08-25 22:52] #4440 closed, assigned to nobody

[2016-08-25 23:04] cordoval commented on #3661
just lost some hours to this too, wished there were a workaround

[2016-08-25 23:46] simonbaird commented on #4529
I haven't confirmed this properly, but I have a similar issue when installing a package from a local file. So the bug may affect installing from a local file as well as installing from a url.

[2016-08-25 23:50] willthames commented on #4529
Demonstration playbook for a vanilla centos 7 host:

[code]

Results:

[code]

No upgrade actually occurred in spite of two yum tasks asserting that there was no need to do so:

[code]

[2016-08-26 00:19] ggillies opened #4546 "os_user to not force updating password on existing users"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

os_user
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Fedora 24, ansible installed from pip, ansible.cfg as follows

[code]
##### SUMMARY

When using the os_user module, you need to specify the password attribute for users you wish to create when they are brand new users, and also if the users exist. This can cause

[2016-08-26 00:24] simonbaird commented on #4529
Attention @brkim :)

[2016-08-26 00:31] danwashusen commented on #3817
I think I'm also seeing the same just trying to update a shallow clone...
`git: repo={{ git_url }} dest={{ path }} version={{ git_version }} depth=1 accept_hostkey=yes force=yes`

[2016-08-26 01:10] joshmullis opened #4548 "Proposal for command module error if special characters passed"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

command module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

This situation deals with the act of changing the "module_name" config setting.

Day1:   "module_name = shell"
Day2:   "module_name = command"
##### OS / ENVIRONMENT

RHEL 7.2
##### SUMMARY

Proposing the command module errors out when special/invalid characters are passed in th

[2016-08-26 03:50] abadger commented on #2293
This is now working in the devel branch.  It was most likely fixed by this PR https://github.com/ansible/ansible/pull/14490 which is also in the 2.1.x release series.

[2016-08-26 03:50] #2293 closed, assigned to nobody

[2016-08-26 03:58] iambibhas commented on #2731
This will be handy! @ansible

[2016-08-26 04:52] point911 opened #4552 "[ec2] assign_public_ip"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

- ec2
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

ubuntu 14.04
##### SUMMARY

I'm using ec2 module and put directly not to assign public ips during server provision.

But server was created with public ip

assign_public_ip: no
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

There should be no public ip
##

[2016-08-26 07:02] mgedmin opened #4554 "unarchive in 2.2 fails to unarchive a zip file"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

unarchive

[code]
##### CONFIGURATION

nothing pertinent
##### OS / ENVIRONMENT

Ubuntu 16.04 controller, Ubuntu 14.04 target
##### SUMMARY

The unarchive module in current git devel fails to extract a zip file.  This is a regression: the same playbook works fine with Ansible 2.1.1.0.

The playbook is

[code]

The error given is

[code]

The dire

[2016-08-26 08:02] hryamzik commented on #4461
Closing this as it turned out to be a general issue, ansible/ansible#17256

[2016-08-26 08:02] #4461 closed, assigned to nobody

[2016-08-26 10:37] bingoarun commented on #4546
Hi @ggillies ,

If the maintainers agree on making the password parameter optional, this will work. I will submit a PR for this if they agree.

Ideally, both openstack client and shade lets you to create a user without setting a password. So it is how it should be. However lets wait for the maintainers to comment on this.

Also your "set password for new users" task will need to be modified as bel

[2016-08-26 10:43] sharuzzaman opened #4555 "please create new module service_stat"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

service_stat
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

no
##### OS / ENVIRONMENT

ansible server: CentOS 7
managing:
CentOS 5,6,7
RHEL5
Ubuntu
Debian 6,7,8
##### SUMMARY

Please create service_stat that will return states of the services, such as installed, exist, running, uid of service, pid of service, etc
Right now, there is no cro

[2016-08-26 12:00] emonty commented on #4546
Yah - I think making it optional is a fine idea. shade supports it being an optional parameter already.

[2016-08-26 12:10] bingoarun commented on #4546
Thanks for the confirmation @emonty . I will submit a PR for it.

[2016-08-26 13:50] tuwid commented on #237
I would recommend a similar workaround

[code]

[2016-08-26 13:56] qwebot opened #4557 "AttributeError: 'DockerManager' object has no attribute 'client'"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

docker module
##### ANSIBLE VERSION

ansible 2.1.1.0
##### DOCKER VERSION

1.11.2
##### DOCKER-PY VERSION

docker-py version: 1.5.0
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

Problem with parameter env_file. If we set key => value in env para

[2016-08-26 13:57] enekofb opened #4558 "Timeout configuration for rax_dns_record"
##### ISSUE TYPE
- Feature
##### COMPONENT NAME

rax_dns_record
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

nothing changed
##### OS / ENVIRONMENT

mac osx 10.9.5
##### SUMMARY

Trying to add a dns record through ansible, rax_dns_record hits pyrax default dns timeout resulting in

"msg": "The API call to '/domains/4789666/records' did not complete after 5 seconds."

So even if 5 seconds sho

[2016-08-26 14:05] enekofb commented on #4558
https://github.com/enekofb/ansible-modules-
core/commit/4d78bed5c7d5b3eeb726528d20a7e7435969bcfc

[2016-08-26 15:43] robinro commented on #3817
@danwashusen
I believe your issue is different from the originally posted one. It sounds like
https://github.com/ansible/ansible-modules-core/issues/3782, which was fixed in 2.1.1. Please open a new issue if this fix does not cover your usage.

[2016-08-26 15:49] kal4l commented on #106
What is the fix version for this? I'm getting the issue on ansible version 2.1.1.0.

[2016-08-26 17:05] jctanner commented on #2625
I am unable to reproduce this with 1.9.6 or devel, so closing. If anyone is able to reproduce with a recent version of ansible, please file a new issue.

[2016-08-26 17:05] #2625 closed, assigned to nobody

[2016-08-26 22:05] jsmartin commented on #3122
Finally hit this bug today.  No idea what is the root cause.  I don't think you have to do special coding to get async to work with modules.  Perhaps the core maintainers can chime in here.

[2016-08-26 22:59] gundalow commented on #4403
What's the relationship between this and https://github.com/ansible/ansible-modules-core/pull/4459 which seems to have been closed

[2016-08-26 23:06] jsmartin commented on #3122
Digging deeper into this issue... I register the results of an async'd cloudformation task.

I noticed as part of the output is the "results_file": "/Users/jmartin/.ansible_async/15185602322.22898",

So I opened that file and see:

{"msg": "Traceback (most recent call last):\n  File \"/Users/jmartin/.ansible/tmp/ansible-tmp-1472246721.12-25785912081488/async_wrapper\", line 90, in _run_module\n

[2016-08-26 23:10] nitzmahone commented on #3122
You might be running into similar issues as https://github.com/ansible/ansible/issues/17035.

There's an output scrubber in the normal module exec action that can filter garbage from stdout to find just the JSON module return, but async doesn't currently have access to it, so any badly-behaved module that has extra "junk" in stdout will fail this way under async (since async reads the JSON from st

[2016-08-26 23:14] jsmartin commented on #3122
@nitzmahone the stacks get created just fine when they are not run in async mode.

I did some further digging and ran  the "/Users/jmartin/.ansible/tmp/ansible-tmp-1472246721.12-25785912081488/cloudformation" file that the async_wrapper contained, and it created the stack.  So I don't think there's a cloudformation module problem.  Something higher up the chain.

[2016-08-26 23:25] nitzmahone commented on #3122
Yeah, I just meant that it might _not_ be the most typical async issue of "module ran fine but extra junk in stdout prevented retval parsing". IIRC I've heard complaints of async issues with things like `ansible_python_interpreter` too, so if you're running from a venv or something else where you're not always using the system python version, that might be an avenue to explore. Also curious if it

[2016-08-26 23:35] jsmartin commented on #3122
Tried in both devel and 2.1.1, neither work.  I am running it inside a venv.  I've tried it with and without ansible_python_interpeter too.  No affect.

[2016-08-26 23:42] jsmartin commented on #3122
Seems to be more like these issues:  https://github.com/ansible/ansible/issues/13421 and https://github.com/ansible/ansible/issues/16724

[2016-08-27 11:30] dfederlein commented on #4084
Confirmed behavior in 2.2 via customer.  Please escalate.

[2016-08-27 11:33] surfer190 opened #4575 "Unarchive module thinks existing dirs are nonexistent"
This issue was closed and asked to be reopened if it persisted. It has.

 #932
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

unarchive
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Local: Mac el capitan
Remote: ubuntu 16.04
##### SUMMARY

Executing the following task gives:

[code]

Gives the error:

[code]

[2016-08-27 12:20] bingoarun commented on #4546
Submitted a PR - https://github.com/ansible/ansible-modules-core/pull/4574

[2016-08-27 12:52] dagwieers commented on #4575
I don't see any relation to #932. needs_info

[2016-08-27 14:51] #1531 closed, assigned to nobody

[2016-08-27 18:02] ipspace commented on #4403
If I understood @jedelman8 correctly #4459 solved this one.

[2016-08-27 23:10] admirabilis opened #4584 "apt module does not install deb from files/"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

apt
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Xubuntu 16.04 with Linux 4.6-4.dmz.3-liquorix-amd64
##### SUMMARY

The convention from other core modules, like copy, unarchive and script, is to find role files under the files/ directory. The apt module does not search for file under files/, though.
##### STE

[2016-08-28 01:56] bcoca commented on #4384
It is a bug of both systems, yum should be reporting per item correctly and the module results handling should not be permissive of a incorrect/bad 'results' reporting.

[2016-08-28 07:30] rafi commented on #4538
@Java1Guy Ansible 2.x **requires** strict double-quotes wrapping curly-braces.
It will be great if the module casts strings to integers for: (per [Task Definition Parameters](http://docs.aws.amazon.com/AmazonECS/latest/developerguide/task_definition_parameters.html))
- `cpu`, `memory`, `memoryReservation`, `portMappings.hostPort`, and `portMappings.containerPort` all should be integers.
- `ulimits

[2016-08-28 11:01] ddimri opened #4585 "Ansible 2.1.1 is not returning variable from one host to another"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

ansible 2.1.1.0r=ec2
##### CONFIGURATION

Default
##### OS / ENVIRONMENT

Red Hat Enterprise Linux version 7.2
##### SUMMARY

I want to pass "private_dns_name" of my newly created ec2 instances to some other host in my ansible play book. I have tried using set_fact module to define the variable but no luck! This is ansible playbook entries for h

[2016-08-28 15:36] twistedpair commented on #1701
This has been broken for over **13 months**! If it's not going to be fixed, at least remove any mention of it from the [docs](https://docs.ansible.com/ansible/ec2_module.html) so people that read the manual don't waste their time.

[2016-08-28 16:25] ddimri commented on #4585
Thanks for your reply.

All i am trying to do is to get the public_dns_name of new EC2 instance from host1 in my host2 playbook. I am using ec2_fact module. any help you can offer would be highly apprecaited

[2016-08-28 21:44] JacobHenner opened #4587 "docker_container not preserving case for boolean environmental variables"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default configuration is being used.
##### OS / ENVIRONMENT

Running on Arch Linux, managing Ubuntu
##### SUMMARY

When passing an environmental variable to docker using docker_container, a key with a value of _true_ will be passed to Docker as _True_ instead of _true_. Placing

[2016-08-29 01:03] naslanidis commented on #3180
FYI I've added PR for a new module to manage RDS clusters for Aurora if anyone wants to use/test.

https://github.com/ansible/ansible-modules-extras/pull/2804

[2016-08-29 01:16] wied03 commented on #3762
@jduncan-rva - I'm running Atomic CentOS 7.20160707 and it came with docker.py. Have things changed since you filed thus bug?

[2016-08-29 09:25] MichaelRiss commented on #2966
I did read into the code and in `ansible/lib/ansible/modules/core/network/basics/get_url.py` there is this snippet

[code]

which checks whether there is already a file at the destination. If yes, it takes its age which is later used in `ansible/lib/ansible/module_utils/urls.py` to set a `If-Modified-Since`-Header, else it sends `no-cache`.

[code]

So, the logic seems ok if a file already exists,

[2016-08-29 14:05] webdaford commented on #3762
No, it's still happening.  I can install on one Ubuntu 16.04 machine,
but not another.  I don't see any other information about what might be
wrong or different between the two machines. Frustrating.

Dan

On 08/28/2016 09:16 PM, Brady Wied wrote:

[2016-08-29 14:20] mliudev commented on #4078
I think the problem here is that the code wants to wait until the image state is 'available' before further processing and tagging. The question is if the AMI must be in the available state before adding tags. If not then the module can skip waiting until available and just tag a 'pending' image. I think in either case you have to wait until the proper state for tagging.

The secondary issue is wh

[2016-08-29 14:25] wied03 commented on #3762
@webdaford - see @bcoca  response

[2016-08-29 14:28] jsmartin commented on #3122
This is definitely a case of ansible not using the specified interpreter.  Below is a snippet from the file `/Users/jmartin/.ansible_async/15185602322.22898`. As you can see, the first message is that boto is not found.  I can assure you that it's in my running virtual env.  I even went so far as hard coding the absolute path the python interpreter to the hosts file to no avail.

`{"msg": "boto re

[2016-08-29 14:44] jjshoe commented on #4078
This was discussed heavily on #ansible-devel, the proper thing to do is wait until state pending, then start the wait timer.

[2016-08-29 14:45] jjshoe commented on #4078
A work around for now would be to let it wait, but async it.

[2016-08-29 15:40] jsmartin commented on #3122
It appears that when the cloudformation module is invoked in async mode and the template is passed with a relative path, the template cannot be found.

I discovered this by digging through the async_wrapper module and adding some debug commands after line 81:

[code]

in the log file I noticed:

[code]

You **must** put in the absolute path to the file.  I solved this by using:

[code]

Not ideal,

[2016-08-29 16:48] grybak-arista opened #4590 "Validation of src indentation for network/eos/eos_template"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

network/eos/eos_template.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

When passing a src template into network/eos/eos_template, it would be nice to have the indentation of the template validated, and a failure generated if the indentation does not match the expected 3-space indent.

Often, a

[2016-08-29 18:46] jsmartin commented on #3122
I've put to make ansible a little more helpful in diagnosing these kinds of async-specific issues.  PR here: https://github.com/ansible/ansible-modules-core/pull/4591

Going to file this notabug .

[2016-08-29 18:46] #3122 closed, assigned to nobody

[2016-08-29 18:59] jaydg opened #4592 "docker_service: Failed to cast value to int in scale parameter while using variable"
Partially copied from https://github.com/ansible/ansible/issues/17017
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_service
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No special configuration required
##### OS / ENVIRONMENT

##### SUMMARY

Throws `unsupported operand type(s) for -: 'str' and 'int'"` while using variable in docker_service scale parameter even if variable is cas

[2016-08-29 20:04] basictheprogram commented on #4029
Issue is in devel too.

$ ansible --version
ansible 2.2.0 (devel 8210260d94)

[2016-08-29 20:31] mxxcon opened #4594 "ec2_elb_* modules should support operations on ELB policies"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

ec2_elb, ec2_elb_lb, ec2_elb_facts
##### ANSIBLE VERSION

[code]
##### SUMMARY

Please add support to work with ELB security policies as reported by AWS's `describe-load-balancer-policies` api call, for example setting ELB's SSL security policies as documented in https://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-security-polic

[2016-08-30 04:19] gbannister opened #4596 "newly created containers always have default network even with purge_networks"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

default
##### OS / ENVIRONMENT

docker for mac
##### SUMMARY

When creating a completely new container instance with purge_networks set to "yes", the container is created with the default bridge.  The second time that the same playbook is run, the playbook updates the containe

[2016-08-30 05:17] gbannister commented on #4596
Ok, so doing a bit of debug, I have found out that the id for the default 'bridge' network is not set when there is no existing container, but it _is_ set when the container exists.  Hence line 1770 succeeds the second run and is silently ignored the first run.

[2016-08-30 07:56] jesusch commented on #980
##### COMPONENT NAME

vsphere_guest

I guess that's what the bot expects in the description?

[2016-08-30 09:59] #2322 closed, assigned to nobody

[2016-08-30 10:42] winggundamth opened #4600 "Can not use state: started when specify log_driver in docker_container module"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When I use state: started to start container with container that created with log_driver option. It always remove container and show error Error creating container: 400 Client Error: Bad Request ("No command specified")
##### STEPS TO REPRODUCE

[code]
#####

[2016-08-30 11:36] mailtonskiran commented on #3631
i am finding it difficult to execute unarchive in mac OS EI Captain version 10.11.6 (15G31). - unarchive: copy=no src=/home/ec2-user/ansible-test/xyz.zip dest=/home/ec2-user/ansible-test/ and also I tried unarchive: copy=no src="/home/ec2-user/ansible-test/xyz.zip dest="/home/ec2-user/ansible-test/" remote_src=yes. I have Python 2.7. This does not seem to work. Any clue would be much appreciated.﻿

[2016-08-30 12:02] peterjenkins1 commented on #4546
This is exactly the issue I was having. Thanks for the PR @bingoarunprasath.

[2016-08-30 13:15] chrisweaver commented on #3444
I just tried v2.1.2.0-0.1.rc1.  Same issues as above.
(1) idempotency on create is broken:

[code]

and
(2) can't delete ELBs:

[code]

[2016-08-30 13:16] #3144 closed, assigned to nobody

[2016-08-30 13:37] elho opened #4604 "lineinfile no_log does not work with ansible-playbook -D, --diff"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

lineinfile
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

CentOS 7
##### SUMMARY

Unlike other modules like e.g. template, once ansible-playbook is called with the -D, --diff Option, theno_log Option is ignored and (potentially sensitive) information is output.
##### STEPS TO REPRODUCE

Create playbook containing a lineinfile task wih no_l

[2016-08-30 13:51] jfbibeau opened #4605 "yum module with rpm file and state=latest errors"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

yum
##### ANSIBLE VERSION

[code]

Note that i've replaced the yum.py module with the one from the `devel` branch to pick up the latest changes in testing this.
##### OS / ENVIRONMENT

RHEL 7.2
##### SUMMARY

Initial problem that exists with ansible 2.1.1.0:
- Specifying an rpm path with yum module and state=latest is not supported. This appears

[2016-08-30 13:55] jfbibeau commented on #4605
In fact someone appears to have already thought about this and put in the following code, but it doesn't seem to work in this case?

https://github.com/ansible/ansible-modules-core/blob/devel/packaging/os/yum.py#L703

[code]

[2016-08-30 14:13] mliudev commented on #4078
That makes sense. So the pending state allows for creation of tags? Also is there a link to the discussion? I can't seem to find it in the groogle groups. Is it an IRC channel?

Thanks for suggesting the work around.

[2016-08-30 14:55] #4412 closed, assigned to nobody

[2016-08-30 14:55] ryansb commented on #4412
Fixed in #4444

[2016-08-30 14:59] frimdo opened #4607 "Support of new docker 1.12 features (swarm, service, stack)"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME
- docker_service
- docker_stack
- docker_swarm
##### SUMMARY

Docker released new features with version 1.12. It would be great to have docker modules that supports them. Those features are:
###### # Docker service
- [service create](https://docs.docker.com/engine/reference/commandline/service_create/)
- [service inspect](https://docs.docker.com

[2016-08-30 15:16] MichaelRiss commented on #2966
Just deleting the `else` branch would have ignored the `force` option, therefore the final version for the pull request is more refined.

[2016-08-30 18:44] marcovnyc commented on #4204
I solved this problem instead of using the example
- device_name: /dev/xvda
  i used this instead.
- device_name: /dev/sda1

then the root drive was created as a 20 Gig drive as  i had defined it.

root@ip-172-31-154-181:~# df -h
Filesystem      Size  Used Avail Use% Mounted on
udev            7.4G   12K  7.4G   1% /dev
tmpfs           1.5G  352K  1.5G   1% /run
/dev/xvda1       20G  1.2G   18G

[2016-08-30 19:02] gundalow commented on #4590
Hi,
Thanks for the suggestion. This sounds like something useful to add that could catch issues. We are currently busy working toward to final 2.2 release. After that release we can look at this.

[2016-08-30 19:07] gundalow commented on #4419
@ipspace Would you like to raise a PR to fix this as you have a test machine?

[2016-08-30 19:15] ipspace commented on #4419
Looks like that line is gone from the latest sources. Planning on redoing the tests tomorrow.

[2016-08-30 19:22] gundalow commented on #4419
Thanks :)

[2016-08-30 23:15] mailtonskiran commented on #3810
That (command: unzip ) neither worked for WSO2 product which it used to work in earlier versions.
i am finding it difficult to execute unarchive in mac OS EI Captain version 10.11.6 (15G31).
- unarchive: copy=no src=/home/ec2-user/ansible-test/wso2am-1.10.0.zip dest=/home/ec2-user/ansible-test/ mode=0777
- unarchive: remote_src=yes src=/home/ec2-user/ansible-test/wso2am-1.10.0.zip dest=/home/ec2-u

[2016-08-31 03:34] opichon opened #4613 "digital_ocean module not working"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

digital_ocean module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

none
##### OS / ENVIRONMENT

OSX El Capitan 10.11.6
dopy-0.3.7
six-1.10.0
##### SUMMARY

Running task using digital_ocean module to create a droplet fails with the following error:

[code]
##### STEPS TO REPRODUCE

Run pretty much any task using digital_ocean module. IN the e

[2016-08-31 09:17] ipspace commented on #4419
Now it crashes in a totally different way ;)

Here's what I downloaded from Github this morning

[code]

Here is the playbook:

[code]

And here is the crash dump:

[code]

I fixed the error in line 299 in ios_config.py - changed it to

[code]

Which made ios_config.py module to execute all commands on the router (including "exit") but then it hangs. Not sure I'd be able to debug that one...

[2016-08-31 09:37] gundalow commented on #4419
@ipspace Thanks for taking the time to retest this.

It's likely you've hit some of the refactoring that's going on as part of the preparation for Ansible 2.2.

I'll make this bug as requiring fixing for the 2.2.0 release so we ensure we get this tested.

[2016-08-31 12:50] privateip commented on #4419
@ipspace this should now be fixed.  will leave this issue open until we hear back that it tested okay

[2016-08-31 15:19] neolefty opened #4619 "django_manage - Allow additional parameters such as "--noinput""
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

django_manage
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Running django tests, I would like to add the parameter "--noinput" which forces interactive queries to choose the default option. For example, if a test failed, it will leave the test database behind and, on the next run, offer (interact

[2016-08-31 15:24] Cougar commented on #3205
I'm not sure if 507aa1b is good enough for pull request and merge to the devel but this is what I use right now. So far I have used it successfully for CoreOS automatic installation (config drive ISO mounted s vm_cdrom2). I haven't found any other solution how to install CoreOS by Ansible.

There are some things that I don't like in this patch:
- copy-paste of `vm_cdrom` code. should be refactored

[2016-08-31 15:57] #4084 closed, assigned to bcoca

[2016-08-31 16:01] mailtonskiran commented on #3810
getting -> "failed": true, "msg": "[Errno 7] Argument list too long", "rc": 7} for a big zip file

[2016-08-31 16:03] abadger commented on #4084
This should be fixed via https://github.com/ansible/ansible/issues/17325 Merged to devel and the stable-2.1 branch.  I believe the plan is to have a 2.1.2rc2 later today so this fix should be included there.

[2016-08-31 16:05] jfbibeau commented on #4605
So the problem is latest doesn't have that chunk of code - it runs through the latest() logic, does an `is_installed` check with returns false, and adds the package to the install list.

This ends up running the yum install command which returns rc=1 when the package is already installed.

Multiple ways we could fix this...
1. Fix is_installed to return true when evaluating an rpm path, which will

[2016-08-31 16:09] dagwieers commented on #3810
If you want a quick fix, disable the following two lines: https://github.com/ansible/ansible-modules-core/blob/devel/files/unarchive.py#L542

[code]

Beware though that this means the **complete** zip file will be unarchived everytime there is a change, any change.

[2016-08-31 16:58] dagwieers commented on #3810
Please test !

[2016-08-31 19:23] Shrews commented on #1658
waiting_on_contributor

[2016-08-31 22:07] manubhadoria opened #4628 "junos_command errors out with "TypeError: Type 'str' cannot be serialized""
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

junos_command core module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No changes to configuration
##### OS / ENVIRONMENT

$ uname -a
Linux dev-net-01 4.4.0-31-generic #50-Ubuntu SMP Wed Jul 13 00:07:12 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
##### SUMMARY

I have an Ansible script where i am simply using junos_command module to get users

[2016-08-31 22:54] xuchen81 commented on #2951
Updates??

[2016-08-31 22:55] courtneywhalen commented on #1701
+1

[2016-09-01 00:58] ienliven commented on #3180
rds_cluster works great, well done! how do I create the actual instance inside the cluster ? rds module does not seem to support it. I am getting "Failed to create instance: Standalone DB Instances are not supported for the specified engine"

[2016-09-01 01:10] naslanidis commented on #3180
@ienliven

At least when using the boto3 api, there's an argument called 'DBClusterIdentifier' where you pass the name of your cluster when creating the instance. That's what it's complaining about when it says standalone isn't supported, it needs to know which cluster to join.

https://boto3.readthedocs.io/en/latest/reference/services/rds.html#RDS.Client.create_db_instance

The old rds_module for

[2016-09-01 01:41] naslanidis commented on #3180
@ienliven

https://github.com/naslanidis/ansible-modules-extras/blob/updated_rds_boto3_module/cloud/amazon/rds_boto3.py

[2016-09-01 02:20] mailtonskiran commented on #3810
For a command - unarchive: src=/home/ec2-user/ansible-test/wso2am-1.10.0.zip dest=/home/ec2-user/ansible-test/ copy=no mode=0777
I am getting

XXXXXXXXXXXXX-d /home/ec2-user/ansible-test/", "failed": true, "msg": "[Errno 7] Argument list too long", "rc": 7}

NO MORE HOSTS LEFT *************************************************************
 [WARNING]: Could not create retry file 'site.retry'.

[2016-09-01 03:10] mailtonskiran commented on #3810
Sorry, I meant to say 542 and 544.
542: if self.includes:
544: cmd.extend(map(shell_escape, self.includes))

[2016-09-01 03:50] mailtonskiran commented on #3810
This is my ansible installation on mac
/usr/local/Cellar/ansible/2.1.1.0/libexec/lib/python2.7/site-packages/ansible/modules/core/files
[unarchive.txt](https://github.com/ansible/ansible-modules-core/files/448765/unarchive.txt)

This is my original system Python installation on mac
/Users/sgj929/Library/Python/2.7/lib/python/site-packages/ansible/modules/core/files
[Lib_unarchive.txt](https://gith

[2016-09-01 03:56] ienliven commented on #3180
@naslanidis You rock! Thanks

[2016-09-01 09:38] azureliang commented on #3177
I met a similar error, how did you modify your repo/config?

failed: [10.252.155.73] => (item=[u'sudo']) => {"failed": true, "invocation": {"module_name": "yum"}, "item": ["sudo"], "module_stderr": "OpenSSH_5.3p1, OpenSSL 1.0.1e-fips 11 Feb 2013\ndebug1: Reading configuration data /etc/ssh/ssh_config\r\ndebug1: Applying options for *\r\ndebug1: auto-mux: Trying existing master\r\ndebug2: fd 3 sett

[2016-09-01 09:57] azureliang opened #4631 "yum install failed with AttributeError: \"'NoneType' object has no attribute 'unshare_data"
I met following error when do yum install , seems the package is already installed, but an exception occured:

Issue Type：
    Bug Report

Environment:

Ansible Master: Oracle Linux 6
Remote Hosts: Oracle Linux 5.11

Summary:

tasks:
- name: Yum install dependency packages
  environment:
    http_proxy: http://rmdc-proxy.oracle.com:80
  yum:
    name: "{{ item }}"
    state:  "installed"
  with_it

[2016-09-01 12:33] whitequark opened #4633 "unarchive module does not actually support downloading files"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

unarchive
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ansible from Debian unstable/testing, managing Debian stable
##### SUMMARY

The unarchive module [documentation](https://docs.ansible.com/ansible/unarchive_module.html) claims that it can download files, but in fact it cannot.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

[2016-09-01 12:36] whitequark commented on #4633
Ah, the documentation is misleading: it says "added in 2.0":

[code]

however the command as written will only execute in 2.2. If I add `copy=no` then it works as it should. I think this should be fixed as a documentation bug.

[2016-09-01 14:02] Jmainguy commented on #4328
I am not too familiar with stored procedures, that being said if somebody is willing to work on this feature I would be glad to review the PR.

[2016-09-01 14:09] ttbigc commented on #3177
Guess I should of updated my findings when I closed this issue.
I found that Oracle released an update to yum RPM (yum-3.2.22-40.0.2.el5) for Oracle Linux 5 that breaks ansible during certain yum_module tasks (mainly when RPM already installed).
To resolve I just excluded this package and used these tasks to correct:
- name: Check if yum-3.2.22-40.0.2.el5 installed
  shell: rpm -q yum-3.2.22-40.0.

[2016-09-01 14:10] Jmainguy commented on #4328
@ansibot it really doesnt

[2016-09-01 14:19] ryansb commented on #4328
needs_contributor

[2016-09-01 16:13] StephaneBunel commented on #1124
+1

[2016-09-01 17:00] Jmainguy commented on #4329
@leedm777 I just tried this with latest ansible devel from today, on ubuntu 16.04 and was unable to reproduce.

[code]

Looks like ubuntu12.04 is no longer supported according to https://wiki.ubuntu.com/Releases, can you reproduce this on ubuntu 14/16 or any other os?

[2016-09-01 17:01] Jmainguy commented on #4329
needs_info

[2016-09-01 17:23] leedm777 commented on #4329
@Jmainguy Ubuntu 12.04 is supported until April 2017.

[2016-09-01 17:47] jgrigonis opened #4634 "replace.py is failing with an UnboundLocalError"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

replace
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

OS X controller
centos 6 target
##### SUMMARY

Seems like a bad commit
5728ef89f0764be9066fc1bf0fbbf7785e60f4cb
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Do a replacement
##### ACTUAL RESULTS

[code]

[2016-09-01 17:49] Jmainguy commented on #4329
@leedm777 My bad, I am an idiot, dunno why I thought it was 2017 already. Will test on 12 and get back to you shortly.

[2016-09-01 17:52] leedm777 commented on #4329
@Jmainguy You must be FROM THE FUTURE!

Thanks a lot for looking into it.

[2016-09-01 18:08] rogerscuall opened #4635 "ios_template failing to extend a jinja2"
##### ISSUE TYPE

- Bug Report: jinja2 extend
##### COMPONENT NAME

ios_template
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Is not possible to inherence using templates.
##### STEPS TO REPRODUCE

[code]

[code]
##### EXPECTED RESULTS

Use inheritance with Jinja2 to complete the template.
##### ACTUAL RESULTS

[code]

[2016-09-01 18:36] dagwieers commented on #3810
@mailtonskiran That's impossible. If we are not adding anything to the argument-list, there's no possible way the argument-list would be too long. My guess is that you are not editing the file that is being actually used.

[2016-09-01 19:00] davidhulick opened #4636 "win_template always reports "changed""
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

win_template
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Running Ansible from CentOS Linux release 7.2.1511 (Core)
Running Ansible against Windows Server 2012R2
##### SUMMARY

win_template always reports changed, even when only variable is consistent between runs.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RE

[2016-09-01 19:35] bjolivot commented on #2111
Great ! thank you :)

[2016-09-01 19:46] kjdms opened #4637 "Error "invalid selinux context" in multiple modules when using symbolic links to nfs filesystems"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

template module, copy module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ansible_managed = Ansible managed: {file} on {host}
become=True
become_method=sudo

All other settings are default. No ANSIBLE_\* environment variables have been created or modified.
##### OS / ENVIRONMENT

Ansible control server: RHEL 6.8
Managed node: RHEL 7.2
####

[2016-09-01 20:02] Jmainguy commented on #4329
@leedm777

Installed ubuntu 12.04, and Mariadb 5.5, was unable to reproduce on latest ansible devel.

[code]

So, I think this is fixed in latest devel, can you confirm?

[2016-09-01 20:19] wesleyae opened #4639 "meta: flush_handler does not run when notified by yum module"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

yum, meta
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
inventory = ./inventory.yml
roles_path = ~/ansible/roles
##### OS / ENVIRONMENT

Ansible Controller: Ubuntu
Managed Machine: CentOS 7.2
##### SUMMARY

The meta: flush_handler does not run when a notify is specified in a yum task. Event though, the exact same playbook will ref

[2016-09-01 20:25] Jmainguy commented on #1662
@cortopy Sorry for the delayed response.

mysql_user now allows encrypted as an option, if you know the encrpyed hash mysql would use for the password, you can now supply that as an option and it wont encrypt it a second time. Can you test that and see if it meets your needs, or if we still need to add another feature here?

[2016-09-01 20:26] Jmainguy commented on #2357
Looks like nobody else was able to reproduce. Ok to close out?

[2016-09-01 20:27] Jmainguy commented on #2357
needs_contributor

[2016-09-01 20:52] axos88 commented on #607
not sure what version i used in january 2015... I moved on from DO in the meantime

[2016-09-01 21:41] jesse-welch commented on #3153
This change appears to break mount tasks on RHEL6 / CentOS6.

Error mounting < /Some/Path > : /bin/mount: invalid option -- 'T'

[2016-09-01 22:12] jhawkesworth commented on #4636
Last time I looked, the win_ template action was a very thin wrapper around the template action. So I am curious if template behaves the same way (on Linux hosts). If template on Linux is behaving as you expect, then I suspect the issue would be in win_copy, win_file or possibly in the shared module code in powershell.ps1

I will investigate as soon as I get a chance.

[2016-09-01 22:27] mscherer commented on #3153
Indeed, can you open a new issue, I will work on a fix.

[2016-09-01 22:33] pschiffe opened #4643 "docker_container: support --tmpfs option"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Linux
##### SUMMARY

docker_container module currently doesn't support `--tmpfs` docker run option. This option is useful when running containers with `read_only` option, or for example, when running systemd inside of the container: `docker run -d --

[2016-09-01 23:35] davidhulick commented on #4636
template running against a CentOS 6.8 host works as intended.

[2016-09-01 23:47] Jmainguy commented on #1662
ansibot needs_info

[2016-09-02 05:34] EvanK commented on #4634
@ansibot resolved_by_pr #4646

[2016-09-02 05:44] #4634 closed, assigned to nobody

[2016-09-02 05:44] alukovenko commented on #607
Seems to be caused by dopy, wontfix

[2016-09-02 05:54] #607 closed, assigned to nobody

[2016-09-02 06:03] atul-ram commented on #4223
i have faced similar issue in asa_config

[2016-09-02 10:20] subcreator commented on #3523
I have the same problem!

[2016-09-02 11:40] paulquack opened #4647 "ios_facts: exception due to missing itertools"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ios_facts
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7
##### SUMMARY

Running against Cisco ASR1000 resulted in exceptions being thrown.
##### STEPS TO REPRODUCE

ansible -m ios_facts -a "host=asr01.lab username=pbaker password=xxxxxx gather_subset=interfaces" localhost -vvv
##### RESULTS AND SUGGESTED FIX

[2016-09-02 12:04] kozchris opened #4648 "unarchive leaving files in .ansible tmp directory"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

unarchiver
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
# no changes from default
##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 6.7 (Santiago)
##### SUMMARY

After running role containing unarchive commands the temporary data created by the unarchiver inside of the /tmp/.ansible/tmp directory is not removed.
##### STEPS TO

[2016-09-02 12:11] privateip commented on #4223
See note in ansible/ansible-modules-extra#2781 regarding asa_config

[2016-09-02 12:12] privateip commented on #4223
The nxos_config module should be fixed in 73352bb9a32acc01a49123a5e8ad732d71a2519a

Could you retest and report if the problem still exists?

[2016-09-02 12:17] privateip commented on #4647
@paulbaker1985 thanks for the bug report. I just submitted a PR to fix the issue.

[2016-09-02 13:07] #4647 closed, assigned to nobody

[2016-09-02 13:18] cortopy commented on #1662
thanks @Jmainguy !
Unfortunately I don't have access to a mysql server that's up and running to quickly test this. What you say sounds about right

[2016-09-02 14:01] gcmalloc commented on #2989
I just felt on the same issue, any news on this ?

[2016-09-02 14:56] jesse-welch commented on #3153
@mscherer  Thanks, I'll open a new issue today with the necessary details.  From my initial review, it appears that the -T option was introduced somewhere between:
'mount from util-linux-ng 2.17.2'
and
'mount from util-linux 2.23.2'.

[2016-09-02 18:56] yourcelf opened #4658 "wait_for applies delay to each item in with_items"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

`wait_for`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 14.0.4.5
##### SUMMARY

Counter-intuitively, the `wait_for` module will apply the `delay` parameter to each item when used `with_items`.  So executing `wait_for` with `delay=60` with 20 items will add 20 minutes total of waiting.
##### STEPS TO REPRODUCE

[2016-09-02 19:08] resmo commented on #4658
notabug

Rather then using with_items it is more practical to apply one task per ec2 instance but with local_action. As an example see this example (using a different cloud) but it pretty much covers your example https://github.com/resmo/ansible-cloudstack-example/blob/master/playbooks/cloud.yml

[2016-09-02 19:17] #4658 closed, assigned to nobody

[2016-09-02 19:22] yourcelf commented on #4658
I don't believe your example is relevant to my use case -- I'm creating 20 copies of a single vm, with local execution of the play, e.g.:

[code]

So this pretty much has to be done `with_items`.  At any rate, if this behavior of `delay` in `wait_for` is expected, I'll open a separate issue for a docs change for the ec2 example and wait_for.

[2016-09-02 19:27] sivel commented on #4658
The best way to handle this is to not run your `wait_for` immediately after `add_host`, but instead break into a new play targeting `ec2_host_group_name`, and do your wait_for there.  Similar to:

[code]

If you have further questions please stop by IRC or the mailing list:
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2016-09-02 21:02] leonardolang opened #4660 "Unarchive fails with cryptic message"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

unarchive
##### ANSIBLE VERSION

[code]
- **NOTE: Using ansible from git, commit c8b8cda (lastest version) - but issue happening at least since commit d54f527**
##### CONFIGURATION

[code]

No ANSIBLE_\* variables set.
##### OS / ENVIRONMENT
- master = Arch Linux
- remote = CentOS 7
##### SUMMARY

Unarchive fails with an odd error message.

Filen

[2016-09-02 23:08] jamesmarshall24 opened #4668 "Log output for git module does not redact all password references"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

Git module
http://docs.ansible.com/ansible/git_module.html
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Everything default except:
log_path = /var/log/ansible.log

/var/log/ansible.log owned by awx:awx, but this condition is not necessary
##### OS / ENVIRONMENT

CentOS 7, but not platform specific
##### SUMMARY

Passwords passed through th

[2016-09-03 06:50] hegemogy commented on #1135
I think I'm having the same issue.
- ansible 2.1.0.0 on Debian with internet access
- configuring CentOS 6.5 without internet access

Ansible yum commands are fine after putting a "proxy = http://..." statement in /etc/yum.conf, but ansible url_get commands fail with the "[Errno -2] Name or service not known" error.
I've tried "http://..." and "socsk5h://" in the http_proxy and https_proxy environ

[2016-09-03 14:14] lucascbeyeler opened #4690 "[Bug Report] Module service/systemd doesn't work well with a list of services"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
- service and systemd
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No config
##### OS / ENVIRONMENT

Any environment
##### SUMMARY

When you use the modules service or systemd, and try to pass the name field as {{ variable }}, they don't loop and return to you the error "Access Denied", even if you run as root. The same don't happens if you

[2016-09-03 14:21] lucascbeyeler commented on #4690
Just making a correction: with "with_items" it works, but if I put the var inside a different file (like in the "roles" structure) the error happens...

vars/packages.yml

[code]

systemd.yml

[code]

[2016-09-04 04:57] azureliang commented on #3177
Thanks a lot! according to some policy, I can not downgrade the yum in the image, so maybe I can only do somthing on  ansible

[2016-09-04 05:53] t1anchen commented on #2756
This issue still existed on `docker-py==1.2.3`, `ansible==2.1.1.0`, `six==1.10.0` under virtualenv and broke my CI testing ...

[2016-09-04 08:13] mjgil opened #4693 "Mount Fails in Ubuntu 14.04"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

mount.py
##### ANSIBLE VERSION

[code]

5f1d6de

[2016-09-04 08:23] danielkza opened #4694 "unarchive module doesn't observe umask for idempotence with tar files"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

unarchive
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Fedora 24 x86_64 (local playbook)
##### SUMMARY

The `unarchive` module will never mark an action as unchanged if files in a TAR archive differ from existing files only by the current umask.
##### STEPS TO REPRODUCE

Run the following commands and observe the action always change:

[

[2016-09-04 10:13] robinro commented on #4693
@mjgil Can you please give more details what fails, i.e. an example playbook to reproduce the problem?

Also the ansible output with `-vvv` and output of `mount -v` and the content of `/etc/fstab` (each before/after the mount command) might be helpful.

[2016-09-04 10:27] robinro commented on #4668
This should be an issue somewhere in _log_invocation in lib/ansible/module_utils/basic.py and not really specific to git, but to the type/name of return value.

[2016-09-04 11:04] ChristianTacke opened #4695 "file: Allow setting mtime"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME
- file
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

It would be nice, if the file module could not only touch (set the mtime) the current time, but also a given time.
It is probably not really simple to decide on a format for the time. People might want to put things like "1 week ago" in there. For the start, I'd sugg

[2016-09-04 13:47] asabil opened #4700 "unarchive fails with filename too long when downloading URL"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

files/unarchive
##### ANSIBLE VERSION

Running Git HEAD

[code]
##### OS / ENVIRONMENT

Target machine is a Debian Linux 8.0
##### SUMMARY

If the URL contains too many query parameters (the one I am using was generated using the s3 geturl task), the temporary file created ends up with a very long name.
##### STEPS TO REPRODUCE

[code]
##### EXPE

[2016-09-04 17:12] dagwieers commented on #4700
I would advice to use the **get_url** or **uri** module to download the file in a prior action, and remove it in a subsequent action. Personally, I think the download functionality as part of the **unarchive** module was a mistake.

If someone wants to fix this, be my guest. needs_contributor

[2016-09-04 17:19] dagwieers commented on #4694
You provide the option **keep_newer** so it assumes the file on disk is the one you want to retain (when it is newer). So it should not be changing the file (as the output clearly show), as such I expect it to not report any changes and also not perform any changes.

Can you elaborate what you think is the problem ? needs_info

[2016-09-04 17:23] dagwieers commented on #4660
It is in fact not a cryptic message (at least if you look what the code does). The file type is not supported. It claims to be a **tar.gz** file, but either it is not, or you lack the commands to support the file. (gtar, bzip2 ?)

Or this is a bug, and we need more information (either to reproduce it ourselves, or to understand what is going on). needs_info

[2016-09-04 17:25] dagwieers commented on #4648
Can you please test if this is still the case with the devel branch ? needs_info

[2016-09-04 17:27] dagwieers commented on #4633
Well, personally I think adding download support to the **unarchive** module was a big mistake. (and the whole copy/remote_src is another mistake IMO)

I would suggest to use **get_url** or **uri** in a prior task and remove the file in a subsequent action. Or find someone to troubleshoot and fix this problem. needs_contributor

[2016-09-04 17:38] danielkza commented on #4694
@dagwieers The problem is that the action never converges to an OK state - it is always marked as changed, even though, as you said, no changes are made after the first run.

If you look a the code that handles checking the differences for ZIP files, it specifically allows files to differ from the archive only by the current system umask. TAR respects the umask when _extracting_, but seemingly not

[2016-09-04 17:56] dagwieers commented on #4575
The **unarchive** module by default copies the file from your management system to the target. Which means it is looking for the file _/tmp/beats-dashboards-1.2.2.zip_ on your management server. While the **get_url** module downloads a file on the target system.

So there are two options:
- either you download the file on your management server (e.g. **connection: local** and **run_once: yes**)
-

[2016-09-04 18:04] #4575 closed, assigned to nobody

[2016-09-04 18:17] dagwieers commented on #4555
The whole point of [idempotence](https://en.wikipedia.org/wiki/Idempotence#Computer_science_meaning) is that you shouldn't care whether the service is running or not (or what the PID is), but you only declare what you want, e.g. **service: name=httpd state=started**. If it is not running, it will ensure it is running (**[changed]**), if it was already running it doesn't need to do anything (**[ok]

[2016-09-04 18:21] dagwieers commented on #4694
@danielkza I think the problem might be related to the fact that this is not a pure-python implementation (and we rely on gtar and some file-attributes related cleanup logic that is not-specific to unarchive). The zip implementation is better in that regard as it takes care of everything itself.

If you want to do this properly we either have to rewrite the whole gtar logic (as we did for unzip),

[2016-09-04 18:25] dagwieers commented on #4554
Probably best to enable the debug-lines inside the module to understand what is going on, or provide us with a simple reproducer. needs_info

[2016-09-04 18:25] danielkza commented on #4694
@dagwieers I see. I can think of some possible solutions in the meanwhile, that don't involve a complete rewrite, such as:
- manually setting the umask to 0 before extracting
- resurrecting the logic that looks for "is newer or same age" in the tar output even when diffing is used
- documenting that an explicit mode needs to be set if `keep_newer` idempotence is to be relied upon

Does any of thos

[2016-09-04 18:27] dagwieers commented on #4554
From the output is appears that only the directory is taken into account to be unarchived, so I assume the ZIP file is somehow unorthodox to what the implementation expects. Since we rely on the unzip command and scraping the output, it is not impossible that the output simply doesn't match what we expect from unzip. (Yes, this is all horrible and we need a pure-python implementation rather than t

[2016-09-04 18:57] dagwieers commented on #4478
This is caused by the fact that we enforce LANG=C so that scraping the output works cross-language.

If you comment out the line [#745](https://github.com/ansible/ansible-modules-core/blob/devel/files/unarchive.py#L745) you'll see it works fine:

[code]

@abadger Another reason to implement this pure-python and get it over with. :-(

wontfix as we plan to reimplement this as a pure-python **uncomp

[2016-09-04 19:06] #4478 closed, assigned to nobody

[2016-09-04 20:14] kozchris commented on #4648
I'll make some time to test the devel branch when I get back to work next week.

[2016-09-04 20:24] dagwieers commented on #4648
If it still fails with the devel branch, it would help if I get a minimal reproducer. needs_info

[2016-09-04 21:08] dagwieers commented on #4478
@zhijieqing Can you please test PR #4702 , I think it may fix your problem.

[2016-09-04 21:13] dagwieers commented on #4648
@kozchris I just discovered that the **source** file may be left behind in those cases where the module fails. I assume that the cleanup action (possibly from the action_plugin) is not performed (correctly) on error.

Please provide me with info on the devel branch, _and_ a minimal reproducer, and then we can check if this has the same root cause. Thanks !

[2016-09-04 21:23] kozchris commented on #4648
Thanks for checking into this. I'm not seeing any failures even when running my test with the -vvvv switch on 2.1.0.

I'm not sure how much smaller I can make the Steps to Reproduce already included in this issue report shorter. I'm sure that the default ansible.cfg will give the same result. I'm happy to help but could you clarify what you mean by minimal reproducer? Thanks!

[2016-09-04 21:29] dagwieers commented on #4648
Minimal, in the sense that you try to reduce the example as much as possible. In your case, not changing the _remote_tmp_ if that's not required to show the issue, or doing it on localhost so I do not have to modify the example, etc... None of my examples leave behind the _source_ unless unarchive 'crashes', so if your minimal viable example fails for you and doesn't for me, the issue is related t

[2016-09-04 21:31] kozchris commented on #4648
Thanks, I wanted to be sure my interpretation matched yours.

[2016-09-04 21:32] dagwieers commented on #4648
OK, now let's put the labels back. needs_info

[2016-09-04 22:19] dagwieers commented on #4169
Alright, looking into this again, the problem is related to the fact that the stat module reports that a symlink pointing to a directory is not a directory but a symlink (different than what python does cfr. examples above).

[code]

Now if I do the same thing with a trailing slash, it works correctly:

[code]

So a trailing slash should make a difference, but it doesnt. So it seems somewhere alon

[2016-09-04 22:40] dagwieers commented on #4169
After testing this with v2.1.0.0, v2.1.1.0 and devel branch, I can not reproduce this when a trailing slash is provided. Please reopen and provide me with a minimal reproducer with a trailing slash that causes this issue.

notabug

[2016-09-04 22:45] dagwieers commented on #4554
bot_broken

Once again, ansibot assumes that the **needs_info** can be removed when the requester for more information adds additional information. When **needs_info** is set, ansibot should only consider comments from the original reporter (or maybe from outsiders) as an indication that information is provided IMO.

(Or maybe it should only act on **!needs_info** to remove the label ?)

[2016-09-04 22:48] dagwieers commented on #4409
resolved_by_pr #4702

[2016-09-04 22:49] dagwieers commented on #4478
resolved_by_pr #4702

[2016-09-04 22:49] #4409 closed, assigned to nobody

[2016-09-04 22:49] #4169 closed, assigned to nobody

[2016-09-04 22:51] dagwieers commented on #4063
@JesseEmond Can you test whether #4179 fixes your issue ? needs_info

[2016-09-04 22:53] dagwieers commented on #4554
needs_info

[2016-09-05 00:14] whitequark commented on #4633
@dagwieers But I've already troubleshooted the problem, see https://github.com/ansible/ansible-modules-core/issues/4633#issuecomment-244065263. This is only a documentation bug now. Just change 2.0 to 2.2 in the example to make it not appear like unarchiving is supported on 2.0.

[2016-09-05 00:17] dagwieers commented on #4633
@whitequark What was added in 2.0 was the downloading of files. So the description was correct as it was. However we cannot provide examples for older and newer versions, and **remote_src** is the new option. So maybe the documentation fix is a bit more complex to make that clear.

[2016-09-05 00:27] dagwieers commented on #4214
This is not fixed IMO, I implemented PR #4617 to ensure this works for yum.

[2016-09-05 06:33] mgedmin commented on #4554
The zip file is here: http://netcologne.dl.sourceforge.net/project/logicaldoc/distribution/LogicalDOC%20CE%207.3/logicaldoc-community-installer-7.3.zip

`unzip -l` shows its contents as

[code]

I've updated the original description with an example playbook that reproduces this.   It's also available at: https://github.com/mgedmin/ansible-bug-modules-core-4554 (clone and run `make`).

[2016-09-05 06:44] mgedmin commented on #4554
Here's the output of `unzip -ZT -s /tmp/logicaldoc-installer-7.3.zip`:

[code]

Note all those `a` permission bits?  That's probably the MS-DOS "archive" bit.  AFAICT unarchive.py skips these entries because of [this check in ZipArchive.is_unarchived](https://github.com/ansible/ansible-modules-core/blob/ecca37a959df39794b2421cfcddbb5344c88a31c/files/unarchive.py#L342-L343):

[code]

[2016-09-05 09:55] 0angelic0 commented on #4246
I also have the problem here on OS X 10.11.6. The remote host is already installed docker-engine.

[code]

[code]

[2016-09-05 10:35] salfand opened #4703 "Update IAM username in AWS succeed however playbook returns with an error"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

IAM
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core)
##### SUMMARY

Runs the playbook in order to rename the IAM user in AWS. The IAM user actually renamed in AWS But the playbook returns with an error.
##### STEPS TO REPRODUCE

1. Create IAM user in AWS account
2. Run the playbook i

[2016-09-05 13:42] gundalow commented on #4223
needs_info @geezyx  Can you please retest this on `devel`

@atul-ram Can you please also retest on `devel`

[2016-09-05 13:45] dagwieers commented on #4554
Yes, that's it.

[2016-09-05 13:56] gundalow opened #4704 "eos_template TypeError: __call__() got an unexpected keyword argument 'replace'\n","
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

network/eos_template
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

[code]

Which was added by:
https://github.com/ansible/ansible-modules-core/commit/074273dbb4c0736393b8601014c21193ce731800#diff-909aa240cd209491e24c54e51cba5996R201

I don't seen any other instances `modules.config` being used like this,

[2016-09-05 14:00] dagwieers commented on #4554
@mgedmin Can you try with my latest patch ? If this is the cause, we should push this to stable-2.1 and devel without delay.

[2016-09-05 14:53] dagwieers commented on #4633
duplicate_of #4433

[2016-09-05 14:58] dagwieers commented on #4433
The **remote_src** option is to be introduced for Ansible v2.2, unfortunately the documentation was updated but is not versioned for specific versions. So the examples are already using the new options, whereas those are not yet available in v2.1 or older. This is a known issue with the documentation in general. (It reflects the devel branch, not any of the stable branches...)

Also see: ansible/a

[2016-09-05 15:01] #4633 closed, assigned to nobody

[2016-09-05 15:01] #4433 closed, assigned to nobody

[2016-09-05 15:08] dagwieers commented on #3996
Alright, while the `copy: False` statement is unambiguously a boolean, the assignment `copy: '{{ item.copy | d(omit) }}'` does not seem to be. If you would be doing `copy: '{{ item.copy | d(omit) | bool }}'` I expect this to work.

Can you test this ? needs_info Thanks in advance !

[2016-09-05 15:36] winggundamth opened #4706 "docker_container module got "No such image" when using same image with difference tag"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

I always got "Error creating container: 404 Client Error: Not Found (\"No such image: xxx:yyy\")" when using same image name with difference tag
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

It should can be run without an

[2016-09-05 16:59] trondhindenes commented on #4512
@sirdy what happens if you execute the entire file? To test, set ANSIBLE_KEEP_REMOTE_FILES=1 on your control node, execute the (failing) task, and then go to the temp dir of the ansible user account on your windows node, where you'll find the entire ansible file (this allows us to test with the entire bootstrapped ps1 file instead of just the module section of it).

[2016-09-05 17:01] trondhindenes commented on #2792
closed via https://github.com/ansible/ansible-modules-core/pull/4421

[2016-09-05 17:01] #2792 closed, assigned to nobody

[2016-09-05 19:07] ipspace commented on #4419
This one is fixed (successfully removed and created an ACL), however there's another totally unrelated crash. Opening a new issue.

[2016-09-05 19:13] gundalow commented on #4419
@ipspace Thanks for confirming, if the other issue is in networking please add `@gundalow` and I'll have a look

[2016-09-05 19:13] #4419 closed, assigned to nobody

[2016-09-05 19:20] ipspace opened #4707 "before parameter crashes ios_config"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ios_config
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Ansible: Ubuntu
Target: Cisco IOSv
##### SUMMARY

Simple ios_config tasks work correctly, before parameter crashes ios_config.py
##### STEPS TO REPRODUCE

[code]
##### ACTUAL RESULTS

[code]

[2016-09-05 19:35] gundalow commented on #4707
@ipspace Thanks for the bug report, and steps to reproduce we will look into this.

Blocking against `2.2.0` as this needs fixing

[2016-09-05 19:47] #4707 closed, assigned to privateip, Qalthos

[2016-09-06 00:19] elnur commented on #4460
Experiencing the same problem.

[2016-09-06 00:30] elnur commented on #4460
Except in my case there were no load balancers in an ASG at all and I decided to add one. But nothing changed.

[2016-09-06 05:56] mgedmin commented on #4554
Note that Ansible 2.1 does not have this bug.

[Your PR](https://github.com/ansible/ansible-modules-core/pull/4705) fixes this bug for me with Ansible 2.2.

[2016-09-06 07:10] seb1281 opened #4711 "Problm with copy module when using not default ssh port"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

copy module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

Ubuntu Server 14.04.5 LTS (GNU/Linux 4.4.0-34-generic x86_64)
##### SUMMARY

We hae a host in our inventory that uses port 23 as listening port for the OpenSSH server. We have set ansible_ssh_port to 23 for this box.
The Setup which gathers information is workin

[2016-09-06 09:40] gundalow opened #4712 "ios_facts: `dir all-filesystems | include Directory`not supported on all devices"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ios_facts
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

3750
flash:c3750-advipservicesk9-mz.122-44.SE4.bin"
WS-C3750-24PS-S
##### SUMMARY

ogenstad:

Thanks to @ben-cirrus (from networktocode Slack) for this bug report
##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

No backtrace, facts returned
##### ACTUAL RESULTS

[2016-09-06 09:52] gundalow commented on #3884
Marking as blocking `2.2.0` as this may be a regression

[2016-09-06 09:57] gundalow commented on #4465
@GGabriele Any ideas about this one?

[2016-09-06 10:16] GGabriele commented on #4465
I think it's a NXOSv bug. This is from NXOSv NX-API sandbox:

[code]

1) The dict key here is `TABLE-cfcFeatureCtrlTable` instead of `TABLE_cfcFeatureCtrlTable` which is commonly returned from N9K.
2) `show feature` doesn't return all the features.

[2016-09-06 10:28] ghost opened #4713 "Can't provide credentials to Ansible Azure module"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

azure module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

AZURE_CLIENT_ID=xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
AZURE_SECRET=xxxxxxxxxxxxxxxxx
AZURE_SUBSCRIPTION_ID=xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
AZURE_TENANT=xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
##### OS / ENVIRONMENT

Ubuntu
##### SUMMARY

I'm trying to manage my Azure cloud with Ansibl

[2016-09-06 11:18] jean-christophe-manciot commented on #4465
@GGabriele: NX-OSv code ("titanium") has been ported from N7k platforms: have you tested your code on the latter?
All Nexus platforms have **different NX-OS implementations**; the latest ones are:
- 7.0: N3k and N9k in standalone mode (ACI is out of the picture here)
- 7.2: N56xx
- 7.3: N7k and N77xx

So, can you introduce some flexibility in your code depending on the target NX-OS type and API ve

[2016-09-06 12:24] jedelman8 commented on #4465
Hi @abhinavmodi - @GGabriele is going to build some conditional logic into this module for the 9K, but can you test on physical 7K/5K platforms?

[2016-09-06 12:31] jedelman8 commented on #4465
Disregard previous comment, think we are going to just parse raw text to minimize the use of what seems to be a buggy API. @abhinavmodi

[2016-09-06 13:38] mailtonskiran commented on #3810
I just did added the comments, no effect. But, when I meddled with unarchive from the other location file, it started working. I also see the complete list of files unarchived :-)

[2016-09-06 13:38] mailtonskiran commented on #3810
Thanks @dagwieers

[2016-09-06 13:39] dagwieers commented on #3810
@mailtonskiran I have no clue what this _"other location file"_ is, but I am happy that it now works for you ! :-)
Thanks for testing !

[2016-09-06 13:40] dagwieers commented on #4554
@abadger Please merge in stable-2.1 and devel !

[2016-09-06 14:50] guenhter opened #4716 "Replace Module not able to have replacements with colon"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

replace module
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Debian 8.5
##### SUMMARY

When a replacement string with "something: " is used, this is not working.
##### STEPS TO REPRODUCE
1. Take sample from plugin page:
   `- replace: dest=/etc/apache/ports regexp='^(NameVirtualHost|Listen)\s+80\s*$' replace='\1 127.0.0.1:8080' validate='

[2016-09-06 15:09] guenhter commented on #4716
Not an issue. Is just a syntax YAML Problem and must be solved via quoting:

https://github.com/googleads/googleads-python-lib/issues/2

[2016-09-06 15:09] #4716 closed, assigned to nobody

[2016-09-06 15:24] kozchris commented on #4648
I have updated the initial issue with the steps to create a minimal example. I was able to test as root using the devel branch. The .ansible/tmp directory is still left although it does not have a source file in it. I tried to test as a user other than root but I keep getting an error from ansible-playbook > ERROR! Unexpected Exception: pyasn1>=0.1.7

The source files seemed to be what was taking

[2016-09-06 17:27] pporada-gl commented on #1419
This would help my org out as well.

[2016-09-06 17:30] #4554 closed, assigned to nobody

[2016-09-06 17:38] npolonski commented on #2415
Any update on this?

[2016-09-06 18:02] telbizov opened #4717 "apt: wait for lock"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME
- apt
##### ANSIBLE VERSION

Any, but most likely 2.x branch
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Debian family Linux running apt package management
##### SUMMARY

This is a feature request but also works around a problem that is very common when manipulating apt packages/repositories on a given host from multiple instances of apt.

[2016-09-06 19:20] Shrews commented on #2989
I, personally, do not have access to a cloud provider where this is reproducible. This will need a contributor who has such access to look into it.

[2016-09-06 19:21] Shrews commented on #2989
needs_contributor

[2016-09-06 20:43] leonardolang commented on #4660
@dagwieers About your questions:
- `tar -zxvf` successfully extracts the archive. More info about the archive/system:

[code]

[code]

[code]
- I didn't specify "/root/.ansible/tmp/ansible-tmp-1472849250.29-49307224828763/source" as the source archive, I specified "blah.tar.gz".

  So, at the very least, some internal mechanism-specific information is leaking to the outside - thus the term "crypti

[2016-09-06 21:11] dagwieers commented on #4660
Well, it complained about _/root/.ansible/tmp/ansible-tmp-1472849250.29-49307224828763/source_, and not about _blah.tar.gz_. So maybe the file didn't transfer correctly, or it got corrupted somehow ? needs_info

[2016-09-06 21:25] swimlappy commented on #4552
I just experienced the same issue using Ansible 2.1.2.0

[2016-09-06 21:25] swimlappy commented on #4552
I just experienced the same issue using Ansible 2.1.2.0

[2016-09-06 21:25] swimlappy commented on #4552
I just experienced the same issue using Ansible 2.1.2.0

[2016-09-06 21:25] swimlappy commented on #4552
I just experienced the same issue using Ansible 2.1.2.0

[2016-09-06 21:25] swimlappy commented on #4552
I just experienced the same issue using Ansible 2.1.2.0

[2016-09-06 21:25] swimlappy commented on #4552
I just experienced the same issue using Ansible 2.1.2.0

[2016-09-06 21:42] swimlappy commented on #4552
Hmm, seems someone setup a particular subnet to always assign a public IP.  So, in that case it would always ignore this option.  Once I fixed that, it worked as expected.  You might investigate that on your end.

[2016-09-06 22:08] leonardolang commented on #4660
Ok, so seems the mistake was on my side - I just found "tar" was not reachable via default PATH for the root user. I fixed it and everything seems to be working fine now. Thanks for your help!

[2016-09-06 22:12] dagwieers commented on #4660
@leonardolang Thanks for clarifying. Another ticket in the list we can close !!

PS Regarding your feedback related to the error-message, I am contemplating improving that message. Related to #3974.

[2016-09-06 22:20] #4660 closed, assigned to nobody

[2016-09-06 22:59] dagwieers commented on #4648
AFAICT it should have been fixed in v2.1.0.0 from https://github.com/ansible/ansible/commit/a5d79a39d51a256937d6e5742befa169629b7caf by @bcoca. Unless there was another related fix. Can't tell easily.

[2016-09-06 23:30] dagwieers commented on #1823
Alright, I cannot reproduce this. Works fine for me. notabug

PS What's more, this is not a very efficient way to do it because replaying the playbook causes a 177MB file download every time just to evaluate whether it is needed or not. Even in check-mode :-/

[2016-09-06 23:41] dagwieers commented on #2423
@anthonygreen Without any additional information, or a confirmation this is still a problem after refactoring the zip-support in unarchive, I am closing this issue as wontfix. Please re-open if this would still be a problem to you.

[2016-09-06 23:47] dagwieers commented on #4109
Lacking any feedback, I declare this issue as resolved_by_pr #4131

[2016-09-06 23:53] dagwieers commented on #3996
@bcoca @jimi-c I can confirm that my solution works, and the original report fails. If you agree that this works-as-designed, we can close this ticket.

[2016-09-07 01:16] JonZeolla commented on #1135
I'm having this same issue as well, using ansible 2.0.0.2 on CentOS 7.

[2016-09-07 03:16] #4109 closed, assigned to nobody

[2016-09-07 03:17] #2900 closed, assigned to nobody

[2016-09-07 03:18] #1823 closed, assigned to nobody

[2016-09-07 06:40] jpmens commented on #2988
So, somebody should add the empty line.

[2016-09-07 06:42] jpmens commented on #2987
wontfix due to time constraints

[2016-09-07 06:48] #2987 closed, assigned to nobody

[2016-09-07 06:52] my2ndhead commented on #2987
You can't just close this issue just because of time constraints. This is a major bug that breaks a lot of things.

[2016-09-07 07:02] jpmens commented on #2987
I agree. I did not close it.
I assume my comment caused the bot to close it. What I meant to do was to say "I cannot fix this"

@bcoca Please reopen.

[2016-09-07 09:09] ghost commented on #4713
Answered on [SO](http://stackoverflow.com/questions/39344531/cant-provide-credentials-to-ansible-azure-module):

[2016-09-07 09:09] #4713 closed, assigned to nobody

[2016-09-07 09:30] logronoide opened #4720 "os_security_group_rule does not implement delete/remove actions"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

os_security_group_rule
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

N/A
##### SUMMARY

I want to implement a cleanup process that removes some specific security group rules. Reading and reviewing the code I cannot see how to remove the security group rule once I have the uuid with the security rule ID. The documenta

[2016-09-07 09:36] rcarrillocruz commented on #4720
Have you tried putting 'state: absent' ?

By default, the module will always create (i.e. state: present), but 'state: absent' will delete them.

[2016-09-07 09:44] eirnym commented on #2423
@dagwieers Why not to add support for BSD tar? the only `--diff` may be problem

[2016-09-07 10:47] dagwieers commented on #2423
@eirnym We accept contributions. I don't think we would refuse a proper implementation that is backward compatible. But the current logic heavily relies on --diff and we don't want to have a generic poorer implementation just to support BSD tar (especially when GNU tar is available).

Again, a pure-python implementation is probably time better spent.

[2016-09-07 11:16] logronoide commented on #4720
It worked. Thank you for the response. My fault, some 'cloudy' modules has 'command' to send actions and that's what I was looking for.

Request closed.

[2016-09-07 11:16] #4720 closed, assigned to nobody

[2016-09-07 12:22] enekofb opened #4721 "Create servers tasks returns with not all instances running and without timeout being reached."
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

rax
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

not modified
##### OS / ENVIRONMENT

ubuntu 16.04
##### SUMMARY

Create servers return with not all instances running and without timeout being reached.
##### STEPS TO REPRODUCE

1- create server with rax module with following configuration

`
  local_action:
      module: rax
      credentia

[2016-09-07 13:29] gundalow commented on #4704
resolved_by_pr 4719

[2016-09-07 13:35] #4704 closed, assigned to privateip

[2016-09-07 13:55] gundalow commented on #4704
Confirmed
`ansible-playbook -vvv all.yaml -i inventory  -e "limit_to=eos_template"`

Now passes

[2016-09-07 14:20] eleonora-ciceri opened #4722 "os_image module does not delete image"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

os_image
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None.
##### OS / ENVIRONMENT

OSX 10.11.13
##### SUMMARY

When trying to use Ansible to delete an OpenStack image, an error saying "VALUE_SPECIFIED_IN_NO_LOG_PARAMETER" for auth values is specified.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

At least, a connection to Open

[2016-09-07 14:30] rcarrillocruz commented on #4722
Could you please confirm if you have OpenStack related envvars from the shell you run your playbook?

i.e.
env |grep OS
ansible-playbook your_os_image_delete_playbook

[2016-09-07 14:43] gregswift commented on #2788
@pwnall My apologies.. I thought I replied this last time it pinged me.

So this is a [long running pattern with Ansible](https://support.ansible.com/hc/en-us/articles/201958037-Reboot-a-server-and-wait-for-it-to-come-back).  I'm actually surprised this example isn't in the main docs, although i guess it is better when paired with the reboot.

Two main differences I see here:
- Doesn't do the wait

[2016-09-07 15:54] gundalow commented on #4213
@GGabriele Any thoughts on this?

[2016-09-07 16:11] privateip commented on #4213
assigning this to me to fix

[2016-09-07 16:18] eleonora-ciceri commented on #4722
@rcarrillocruz  No, I do not have them configured, since I did not find them in the documentation page of os_image.
I have just the ones that I use for Packer (to build images with it):

[code]

I tried to remove the `auth` field from my playbook file, but I still get the same error:

[code]

Could you please point me at their correct configuration?
Thank you.

[2016-09-07 16:34] bcoca commented on #4690
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

The problem is that you are passing a list to `name` when it only takes a string, it works `with_items` as it takes that list and passes only each string to the mod

[2016-09-07 16:34] #4690 closed, assigned to nobody

[2016-09-07 19:41] gundalow commented on #3340
For Ansible 2.2 this functionality will be made available in the `ops_config` module.

Closing as code has been done

[2016-09-07 19:41] #3340 closed, assigned to privateip

[2016-09-07 19:42] gundalow commented on #3591
@privateip and I reviewed this today. If we get time for 2.2 we would like to do this, however it is a low priority.

[2016-09-07 19:43] gundalow commented on #3601
@privateip and I reviewed this today. If we get time for 2.2 we would like to do this, however it is a low priority.

[2016-09-07 19:43] gundalow commented on #3718
@privateip and I reviewed this today. We plan to get this fixed for 2.2

[2016-09-07 19:44] gundalow commented on #3781
We believe this may be a understanding/documentation issue. @privateip will review.

[2016-09-07 19:46] gundalow commented on #3831
This is a very sensible question, however we are not currently at that stage of being able to provide that.

Leaving open in the backlog as this is something we need to do

[2016-09-07 19:46] gundalow commented on #3876
@heathdbrown What response did you get from Cisco?

[2016-09-07 19:49] gundalow commented on #3984
We believe this is fixed, though we need to test to confirm

[2016-09-07 19:49] gundalow commented on #3998
Feature request. A maybe for 2.3

[2016-09-07 19:49] gundalow commented on #3999
Needs fixing for 2.2

[2016-09-07 19:50] gundalow commented on #4098
Confirmed this needs fixing for 2.2

[2016-09-07 19:51] gundalow commented on #4103
Just to confirm what was said in today's Networking Meeting we (Ansible) will not have time to work on his for 2.2

[2016-09-07 19:52] gundalow commented on #4274
Reviewed, this needs fixing for 2.2

[2016-09-07 19:52] gundalow commented on #4281
Reviewed, needs fixing for 2.2

[2016-09-07 19:53] gundalow commented on #4311
Reviewed, this needs fixing for 2.2

[2016-09-07 19:54] gundalow commented on #4325
Reviewed, needs fixing. Some old code left from before the refactoring

[2016-09-07 19:55] gundalow commented on #4343
needs_info

We believe this is fixed Can you please retest on `devel`? Thanks in advance

[2016-09-07 19:55] gundalow commented on #4368
We need to look at this a bit more to understand the issue

[2016-09-07 19:57] gundalow commented on #4386
This may be because when running with connection_local we are running with the credentials that don't have permissions to write.

@privateip to tets

[2016-09-07 19:57] gundalow commented on #4391
Done

[2016-09-07 19:57] #4391 closed, assigned to nobody

[2016-09-07 19:58] gundalow commented on #4396
This is done. Please retest on `devel` and reopen the ticket if the issue still occurs

[2016-09-07 19:58] #4396 closed, assigned to privateip

[2016-09-07 19:59] gundalow commented on #4402
@jedelman8 @GGabriele Could you please have a look at this, this seems like a valid 2.2 bug in your code.

[2016-09-07 20:01] #4403 closed, assigned to nobody

[2016-09-07 20:03] gundalow commented on #4403
@ipspace The fix for this has been integrated into `devel` please reopen this ticket if you are still experiencing issues

[2016-09-07 20:03] gundalow commented on #4464
We believe this is fixed, @privateip to test to confirm

[2016-09-07 20:04] gundalow commented on #4628
We believe this is fixed, @privateip to test to confirm and close ticket if so

[2016-09-07 20:06] gundalow commented on #4635
We need to add a test case in for this

[2016-09-07 20:36] jhnlsn commented on #4246
I'm getting the same error as everyone else here:

[code]

[code]

Downgrading back to `Ansible: 2.1.0.0` does not throw the error.

[2016-09-07 20:41] rogerscuall commented on #4635
The idea behind this is the same of why using [inheritance with jinja2](http://jinja.pocoo.org/docs/dev/templates/#template-inheritance) and any other template module in Ansible.
In my case specifically I have a bunch of prefix-lists, some are global (for all routers) some not, the whole configuration of one router has global prefixes and local prefixes. Using this feature I have only one template

[2016-09-07 20:42] MikeSpreitzer commented on #3631
Did you try `brew install gnu-tar` ?

[2016-09-07 21:09] omairnaim1 commented on #3718
Do you by chance know a company or individual who is knows for automation
around Cisco clouds?

On Wed, Sep 7, 2016 at 3:43 PM, John R Barker notifications@github.com
wrote:

[2016-09-07 23:22] eirnym commented on #2423
@dagwieers I'll write it on pure Python. it's easier than support holy wars between BSD, POSIX and GNU versions.

[2016-09-08 04:35] MikeSpreitzer commented on #3631
I have experimentally verified on MacOS 10.10.5 and python 2.7.10 and Ansible 2.1.1.0 that `brew install gnu-tar` wards off this bug.

[2016-09-08 05:45] dagwieers commented on #3631
Alright, so it is notabug, BSD tar is not supported, only GNU tar.

[2016-09-08 05:52] dagwieers commented on #2423
It has nothing whatsoever to do with holy wars. I am afraid you are overlooking the complexity. It is not specific to the lack of `--diff`, we use some other options specific to GNU tar and we are scraping the output as well.

So the only pragmatic way to support this with one implementation is GNU tar, which is available on all UNIX platforms...

[2016-09-08 06:37] eleonora-ciceri commented on #4722
I downloaded the `OpenStack RC file V2.0` and used those envvars (instead of V3). Now it is working.

[2016-09-08 09:07] gundalow commented on #4635
@rogerscuall Thanks for explaining the test case, that information is always useful to help our priorities and ensure we are implementing the correct fix.

Reviewed and agreed this needs fixing for 2.2

[2016-09-08 10:43] cjreyn commented on #4343
It seems like its still broken (I used devel with latest commit 982db58):

TASK [test_arista_command : Get existing ACLs] *********************************
task path: /home/reynolds/wc/cfg/ansible/roles/test_arista_command/tasks/main.yml:8
Using module file /usr/lib/python2.6/site-packages/ansible/modules/core/network/eos/eos_command.py
<192.168.0.2> ESTABLISH LOCAL CONNECTION FOR USER: reynolds
<

[2016-09-08 10:58] ikkaro opened #4742 "vm_nic - vsphere_guest.py - Not working on reconfigure"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

vsphere_guest.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default configuration
##### OS / ENVIRONMENT

N/A
##### SUMMARY

vm_nic is not added on reconfigure
vm_nic is not removed on reconfigure
Just works chaning the network (portgroup)
##### STEPS TO REPRODUCE

CASE1 Add network.
I create a new VM and then I reconfigure it.

[code]

C

[2016-09-08 11:10] ikkaro commented on #4742
Updated

[2016-09-08 11:19] ikkaro opened #4743 "vm_disk - vsphere_guest.py - thin disk type"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

vsphere_guest
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default configuration
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Moreover the issue https://github.com/ansible/ansible-modules-core/issues/4249 , when you create a new disk with thin type the disk is created in Thick Lazy Zeroed.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESUL

[2016-09-08 11:48] gundalow commented on #4343
Thank you for retesting

1) Can you please provide the output of `ansible-playbook --version`
This will let us check that the git submodes (for ansible-modules-core & ansible-modules-extras)  also got updated.

2) Can you please provide a playbook for the failing case?

[2016-09-08 12:04] privateip commented on #4343
@cjreyn I should have provided a little bit more verbose explanation.  For commands that are unconverted to JSON, you have to specify the format to be text in order to run them over eAPI.  To support this, we have added the ability to provide the command as a hash that specifies the output.  This allows you to set the format on a command by command basis.

Below is an example playbook

[code]

And

[2016-09-08 12:07] rwky opened #4744 "apache2_module fails for php7.0 on Ubuntu Xenial"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

apache2_module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Ubuntu Xenial lists the php7.0 module as php7_module when running apache2ctl -M this breaks the regexp checking if the module is enabled.

I've made a work around here https://github.com/rwky/ansible-modules-core/commit/00ad6ef035a10da

[2016-09-08 12:19] robinro commented on #4744
@rwky Thanks for the bug report.

Does `name=php7 state=present` work?

Please give the full output of ansible when run in verbose mode (`-vvv` added to command)

[2016-09-08 12:24] rwky commented on #4744
Nope php7 doesn't work since that's not a valid module (I blame Ubuntu/Debian for this bad naming system).

This is the output with php7

[code]

This is the output with php7.0

[code]

[2016-09-08 12:37] robinro commented on #4744
Thanks for the output of both commands.

I'm unsure whether we should fix this in ansible, or whether one should try to get ubuntu to fix it. `apachectl -M` should output exactly the same name as needed to enable/disable it. Please consider to open a bugreport against the php module with ubuntu.

In the meantime I would consider merging your workaround. Neither debian nor opensuse ship php7 offici

[2016-09-08 12:45] rwky commented on #4744
PR created, and I've reported the issue to Ubuntu https://bugs.launchpad.net/ubuntu/+source/php7.0/+bug/1621463 however I doubt it'll get fixed in Xenial since that's an LTS release.

[2016-09-08 12:48] cjreyn commented on #4343
@privateip thanks for the follow up. I can confirm this works for me. @gundalow sorry for not including the playbook to start with. Will include next time. Thanks all for the fix.

[2016-09-08 12:49] cjreyn commented on #4343
I'll let you guys change the status of this issue (I'm not sure if 'closed' is the state you want it to finish in!?)

[2016-09-08 13:01] ikkaro commented on #4742
##### ISSUE TYPE
 - Bug Report

[2016-09-08 13:07] edgarsj commented on #3810
Same happening for me with latest devel version (982db58).

Checking with:
 `ANSIBLE_KEEP_REMOTE_FILES=1 ansible wc-linux64-3 -vvv -b -m unarchive -a "src=https://dl.google.com/android/repository/android-ndk-r12b-linux-x86_64.zip dest=/opt creates=/opt/android-ndk-r12b copy=no"`

Output has: `"cmd": "/usr/bin/unzip -o /tmp/ansible_6jJQ3g/android-ndk-r12b-linux-x86_64.zip 'android\\-ndk\\-r12b\\/'

[2016-09-08 13:11] edgarsj commented on #3810
Oh, I read the commit 078f2a mentioned above.

So should we rewrite our ansible playbooks to manually download and extract Android NDK zip instead of using unarchive module that actually worked ok in the past?

[2016-09-08 13:12] TobiMarg commented on #467
I ran into this today using ansible 2.1.1.0, so it is still a problem and because there is no error (message), it took quite some time to figure out the problem.
The workaround using `serial: 1` helped. If it can't be fixed there should at least be a warning or even an error when using `cron` with `delegate_to` but without specifying `serial: 1`.

[2016-09-08 13:46] nichivo opened #4746 "ini_file - Insert missing option line before blank lines at the end of the section"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ini_file
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

New lines are added to an existing section after blank lines separating sections, but should instead be added before blank lines at the end of a section.
##### STEPS TO REPRODUCE

Use ini_file to add a new line to a file.

Given test.ini:

[

[2016-09-08 13:55] dagwieers commented on #3810
@edgarsj That note was related to the line directly above, which means we have to unzip the complete archive if one or more files have modifications. (Obviously we exclude files that are excluded on the command-line, or when keep_newer is used) That was the behaviour you deemed "worked ok in the past".

I don't think it is ok to extract the whole archive when a single file is modified, but I canno

[2016-09-08 14:52] MikeSpreitzer commented on #3631
Can somebody explain why tar is relevant to a bug wrt unzipping?

[2016-09-08 14:57] robinro commented on #4744
resolved_by_pr #4745

[2016-09-08 15:00] #4744 closed, assigned to nobody

[2016-09-08 15:02] jctanner commented on #4083
Possibly a duplicate of https://github.com/ansible/ansible-modules-core/issues/454

[2016-09-08 15:15] winggundamth opened #4748 "docker_container module always recreate container if combine hostname and network_mode: host"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

docker_container module always recreate container if use network_mode: host and specify hostname. If you remove network_mode or hostname it will work fine.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

When you rerun playb

[2016-09-08 15:21] winggundamth commented on #4706
ping @chouseknecht can you help me on this?

[2016-09-08 15:22] winggundamth commented on #4600
ping @chouseknecht can you help me on this?

[2016-09-08 15:22] winggundamth commented on #4748
ping @chouseknecht

[2016-09-08 15:24] winggundamth commented on #4230
I can see shade's patch has been merged. so any update on this?

[2016-09-08 15:36] dagwieers commented on #3631
It shouldn't.

Have you been testing the same version. A lot of things have improved in unarchive over the last releases.

[2016-09-08 15:55] ydrisR commented on #4512
Executing the script on the server it fails on the same line but with a different message:
ConvertFrom-Json : Invalid object passed in, ':' or '}' expected. (1): {
At C:\Users\xxx\AppData\Local\Temp\ansible-tmp-1473347410.31-209381444900480\setup.ps1:394 char:31
-     $facts = $facter_output | ConvertFrom-Json
-                               ~~~~~~~~~~~~~~~~
  - CategoryInfo          : NotSpecifie

[2016-09-08 16:08] dagwieers commented on #913
It is unlikely this is a problem with the **unarchive** module, but we made a change to the implementation of **creates=** recently. Can you verify if this issue is still a problem when using the devel branch ?
needs_info

[2016-09-08 16:09] dagwieers commented on #4648
@kozchris Can we close this issue ?

[2016-09-08 16:51] jhawkesworth commented on #4512
@sirdy sounds like this is a facter issue then?  If so can this bug report be closed?

[2016-09-08 17:10] detiber commented on #3300
@barnabycourt not sure if you've seen this bug

[2016-09-08 17:57] MikeSpreitzer commented on #3631
Using MacOS 10.10.5 and python 2.7.10 and Ansible 2.1.1.0, I find that I can make the bad symptom go away and come back by doing `brew install gnu-tar` and `brew uninstall gnu-tar` (respectively).

[2016-09-08 18:55] jctanner commented on #4585
@ddmri this is more of a ansible question than an ec2 module question. Please refer to the ansible project mailing list or irc channel for assistance.

[2016-09-08 18:55] #4585 closed, assigned to nobody

[2016-09-08 19:02] EvanK commented on #4511
I have no practical experience with selinux, but #4595 _looks_ to address the issue (save for it failing to build in shippable -- which is also outside my wheelhouse)

[2016-09-08 19:23] #3511 closed, assigned to nobody

[2016-09-08 19:23] #3661 closed, assigned to nobody

[2016-09-08 19:39] nitzmahone commented on #4430
Since we don't currently support Nano Server, I'm closing this issue. Should resolve itself once we do...

[2016-09-08 19:39] #4430 closed, assigned to nobody

[2016-09-08 20:34] stevekuznetsov opened #4752 "unarchive - does not properly download archive with `remote_src: yes` in devel"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

`unarchive`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Node: Fedora 23
Target Host: Fedora 24
##### SUMMARY

The combination of a `src:` field with `://` and `remote_src: yes` does not correctly download remote archives from the net, whereas the (deprecated as of 2.2) option `copy: no` works fine.
##### STEPS

[2016-09-08 20:39] #4178 closed, assigned to nobody

[2016-09-08 20:59] #3854 closed, assigned to nobody

[2016-09-08 21:01] kozchris commented on #4648
Seems like you would want to leave this open until the release version of Ansible is working the way everyone is expecting it to. Apparently, there is something on the devel branch that is missing and needs to be merged.

[2016-09-08 21:37] supertom commented on #4030
@lihan I agree that we probably could expand the disk options.  However, I'd like to know more about why the solution @jensonb proposed doesn't work for you.  I tried it and verified that the disk created is the boot disk.  I then reused that same disk as the boot disk in a new VM, and the files and packages I installed were available.

Is there something else that you're trying to accomplish that

[2016-09-08 21:43] dagwieers commented on #4752
I don't think **remote_src:** ought to work in v2.1, you still have to use **copy:** there.

[2016-09-08 21:46] dagwieers commented on #4164
Please test with PR ansible/ansible#17429 !
needs_info

[2016-09-08 21:58] supertom commented on #2562
You are able to specify 'none' for the external_ip field as of [this commit](https://github.com/ansible/ansible-modules-core/commit/94c1b55744eed7b2cf28cb08326f37f6d7f4c0a6).  This functionality is available in the devel branch.  I've confirmed it by running this command:

ansible localhost -m gce -a "instance_names=gce-test-foo2 external_ip=none state=present"

[code]

/cc @ryansb

[2016-09-08 23:01] towolf commented on #4106
This was fixed by my pull request https://github.com/ansible/ansible/pull/17458

[2016-09-08 23:14] trondhindenes commented on #3640
No response from OP, closing

[2016-09-08 23:14] #3640 closed, assigned to nobody

[2016-09-08 23:21] JB94121 commented on #3567
The issue went away after upgrading shade, ansible, etc.
I guess you can close the issue now. Thanks.

[2016-09-09 00:07] willthames commented on #3378
needs_contributor - seems a reasonable feature.

[2016-09-09 01:36] lglussen opened #4755 "vsphere_guest vm_disk limited to 7 disks using SCSI paravirtual"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

module: `vsphere_guest`
using: `vm_disk`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Defining more than 7 disks using `vm_disk` causes an error and fails VM creation.

The root of the problem seems to be that the Ansible module is not respecting the hardware (virtual in this case) spec that r

[2016-09-09 01:45] PikachuEXE commented on #4047
I already submitted #4048 for this issue

[2016-09-09 05:59] vbotka opened #4756 "User module error: "Group wheel does not exist" for existing user"
##### ISSUE TYPE

 Bug Report
##### COMPONENT NAME

user module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

inventory   = $HOME/.ansible/hosts
remote_tmp     = $HOME/.ansible/tmp
roles_path    = $HOME/.ansible/roles
pipelining = True
##### OS / ENVIRONMENT

managing:
Linux [...] 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:00:59 UTC 2016 i686 i686 i686 GNU/Linux
host:
FreeBSD [...] 10.3-RE

[2016-09-09 06:34] vbotka commented on #4756
Running the task with modified variables (wheel removed from the groups of acadmin).

[code]

resulted in the error **"Group asadmin does not exist"**

[code]

Group asadmin really doesn't exist yet. In FreeBSD the default group is user's own group which will be created together with the user.

Thus, I've removed the primary groups from the variables

[code]

and the task passed.

[code]

**Probab

[2016-09-09 06:46] sruslanas commented on #3615
@rhoop Someone picked up and implemented the idea here https://github.com/ansible/ansible-modules-core/pull/3643

[2016-09-09 07:06] jhawkesworth commented on #4437
@arunjohn The error you are seeing comes from .net, I don't think windows is going to give you any more of an error message than it is already doing (I don't know of a way to get any further information, other than perhaps checking in the windows event logs).

Please can you try using a browser with developer tools running (e.g. in firefox press F12 to get developer tools open and switch to Networ

[2016-09-09 07:12] erikdw commented on #3511
@abadger : does #4601 really fix _this_ issue?  Looking at the change it's not obvious how that allows use of `file:///...` locally via `get_url` module.   i.e., my understanding of this issue is that when fixed I can use `get_url` with a parameterized URL that could be of form `http://...` or `file:///...`.  Whereas #4601 is talking about ftp stuff, which is _not_ the same thing.

[2016-09-09 07:16] jhawkesworth commented on #4408
@AseemKumar - I believe you can do exactly what you want using the win_package module, which takes a product_id parameter, which is the app guid - see http://docs.ansible.com/ansible/win_package_module.html

Please can you try win_package and let us know here if it works or not?

If not I think likely we would want to modify win_package rather than win_msi, which is more capable than win_msi and m

[2016-09-09 07:28] lpancescu commented on #2788
@gregswift I see this behavior with CentOS as guest, in a Vagrant box using VirtualBox as a provider. If I set the delay to 90 seconds, it throws the exception while the login prompt of the newly booted system appears (definitely not before the system is shut down). From the timestamps in the logs, this seems to be around the time that network.service starts, followed by sshd.service. Perhaps this

[2016-09-09 07:37] wernerflamme commented on #3975
What kind of "response" is expected? The error still exists in ansible v2.1.1.0 on my host.

[2016-09-09 10:35] edgarsj commented on #3810
Sorry @dagwieers, hopefully your fix will be merged soon.

[2016-09-09 10:51] ghost commented on #4324
Same error here

[2016-09-09 11:23] matemagyari opened #4757 "Gzip encoding problem in 'uri' module"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

uri
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Mac OS X
##### SUMMARY

Failure to handle server side gzip encoding
##### STEPS TO REPRODUCE

Hit a server that returns only gzip encoded response.

`local_action: uri url=myurl HEADER_Accept="application/json" return_content=yes`
##### EXPECTED RESULTS

Returne

[2016-09-09 11:45] jsnshrmn commented on #3975
That ping was directed at the ansible project folks. It's noting that the maintainers haven't touched this yet.

[2016-09-09 12:57] stevekuznetsov commented on #4752
Oh, weird -- something's wrong with my binaries, I should be using 2.2.0, let me get back to you on that.

[2016-09-09 13:12] ikkaro opened #4759 "vmware_guest.py testing offer"
##### ISSUE TYPE
- Feature Idea
- Documentation Report
##### COMPONENT NAME

vmware_guest.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

I've available a decent vmware environment where  I can help troubleshooting the current module.
If you want, contact me privately to see how can work together. I see that this module is relatively new and nee

[2016-09-09 13:25] stevekuznetsov commented on #4752
Ok, was in a weird venv when I did `ansible --version`. Can confirm I'm using 2.2.0. I have the following output:
- `remote_src: yes` --> `"Unable to find 'https://chromedriver.storage.googleapis.com/2.16/chromedriver_linux64.zip' in expected paths."`
- `remote_src: no` --> `"Unable to find 'https://chromedriver.storage.googleapis.com/2.16/chromedriver_linux64.zip' in expected paths."`
- `copy: ye

[2016-09-09 13:30] stevekuznetsov commented on #4752
Transfer bug is https://github.com/ansible/ansible-modules-core/issues/4202, need to update my 2.2

[2016-09-09 13:35] domcar opened #4762 "Windows Setup.ps1 fails(Get-PendingRebootStatus)"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

- ansible/modules/core/windows/setup.ps1
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Control Machine: Ubuntu 16.04
Target: Windows 2012 R2
##### SUMMARY

The setup module fails
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expected all facts like:

[code]
##### ACTUAL RESULTS

[code]
##### Work Around

[2016-09-09 13:37] privateip commented on #4343
Thanks for testing @cjreyn
Fix confirmed, closing this issue.

[2016-09-09 13:37] #4343 closed, assigned to privateip

[2016-09-09 14:31] jhawkesworth commented on #4762
@domcar Are you running from source?
If so please check you have run
`source hacking/env-setup`
just to make sure you are picking up the correct version of the powershell.ps1 file?

[2016-09-09 14:45] gundalow opened #4764 "network/eos/eos_facts.py - Code review"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

eos_facts
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

Some critical bugs found by linters
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

No errors from pylint
##### ACTUAL RESULTS

[code]

4)

[code]

Minor improvement suggestion, print out the invalid subset

[2016-09-09 15:22] nitzmahone commented on #4324
@ulrith have you tried upgrading the msrestazure package as suggested above? That's been the source of a lot of issues against RC5 (`pip install msrestazure --upgrade`)

[2016-09-09 16:00] supertom commented on #3369
@ivanjaros Thanks for filing.  I'm working this and can CC you on the PR when ready (a week or two most likely).

[2016-09-09 16:25] #4325 closed, assigned to privateip, Qalthos

[2016-09-09 16:54] ghost commented on #4324
@nitzmahone Yes it works, thank you!

[2016-09-09 17:09] nitzmahone commented on #4324
Closing: upstream issue solved by Microsoft SDK update; no need for docs once Azure SDK hits release (next few weeks, last I heard).

[2016-09-09 17:14] #4759 closed, assigned to nobody

[2016-09-09 18:00] omgjlk commented on #3314
I think your first scenario would be better if you use the `omit` filter. The omit filter will allow you to completely remove the argument from being passed to the module.

[2016-09-09 18:01] omgjlk commented on #3314
notabug

[2016-09-09 18:07] Jmainguy commented on #3276
Unable to reproduce on latest devel

[code]

Can you still reproduce on latest devel? if so, can you provide a copy of the .sql file you are using to test.

[2016-09-09 18:18] Jmainguy commented on #3542
I would classify this as a feature to add and not a bug. That being said, if anybody wants to take a stab at working on this I would be glad to review the PR.

ansibot "needs_contributor"

[2016-09-09 18:19] Jmainguy commented on #3835
ansibot "needs_info"

[2016-09-09 18:22] #3314 closed, assigned to nobody

[2016-09-09 18:30] baites commented on #4520
I am also affected by this issue and I agree with @kamsz overall conclusion. In my case, I failed to create a new user with with a password different that the one used to authenticate as admin into keystone.

For example:
vars:
  os_env:
    OS_TENANT_NAME: admin
    OS_PASSWORD: adminpass
    ...

task:
  name: Add ceilometer user to controller
  delegate_to: somewhere
  os_user:
    name: user

[2016-09-09 18:31] deddu commented on #4246
same error here

[code]

Tried removing brew ansible and using pip installed one, no diffs.

[2016-09-09 18:46] Jmainguy commented on #3276
ansibot "needs_info"

[2016-09-09 19:03] bmalynovytch commented on #3835
The bug concerns any size of compressed dumps: the module doesn't uncompress them anymore.
It might have been fixed, in recent versions, but I don't have time to give it a try, as the platforms on which I use the mysql_db module now handle uncompression before calling mysql_db, and I'm not working on them for now.
I don't have time to test that part again for the moment, sorry.

!needs_info

[2016-09-09 19:14] #2893 closed, assigned to nobody

[2016-09-09 19:14] #2847 closed, assigned to nobody

[2016-09-09 20:05] digi691 commented on #2193
The libuser package that provides luseradd and lgroupadd is available from RHEL4 to current, Ubuntu 12.04 to current, and Debian Wheezy to current.  This looks to be well supported for current maintained/supported Distribution versions.  I might be interested in issuing a PR for this feature for the user and group module as I would find it useful in our environment as well. @bcoca, would want to m

[2016-09-09 20:12] pixelrebel commented on #2645
@jimi-c I think this PR is good to go.

[2016-09-09 20:26] drzraf commented on #3542
Are they many module provinding unrevertable operations (other than shell/command)?
It means state can't be changed afterwards.
Although I can't work on this myself, I'd say it's a bug anyway.

[2016-09-09 20:35] MikeSpreitzer commented on #3631
@dagwieers thanks for the reminder, I rediscovered the remark at https://docs.ansible.com/ansible/unarchive_module.html#notes saying that `gtar` is required.  I still do not understand why that is relevant when processing a ZIP archive, but it explains why uninstalling `gnu-tar` on my Mac breaks `unarchive`.

[2016-09-09 20:54] nitzmahone commented on #3079
Gah, nobody tagged this Windows, so I'm just now seeing it. I'll put a Windows version of wait_for on the 2.3 roadmap- should be pretty easy to do. Meantime, you can approximate this behavior with `win_stat:` and an `until:` loop on its result.

[2016-09-09 21:00] thetrav commented on #4520
Oh dear, it showed all my fumbling with that amend, how embarrassing :blush:

[2016-09-09 21:38] emonty commented on #4520
SOOOOOO

This should be fixed by the latest os-client-config library (there was a
horrible precedence bug there which caused puppies to be eaten by ponies)

Can y'all verify os-client-config version installed?

On Fri, Sep 9, 2016 at 4:00 PM, Travis Dixon notifications@github.com
wrote:

[2016-09-09 21:43] omgjlk commented on #2714
resolved_by_pr 4289

[2016-09-09 21:53] thetrav commented on #4520
os_client_config-1.20.1

care to link to the relevant issue/fix?  I'm currently running a patched os_user module against my prod environment and am keen to move it back to core

[2016-09-09 21:55] omgjlk commented on #4520
https://review.openstack.org/#/c/358279/ I believe is what is the commit here.

[2016-09-09 22:13] emonty commented on #4520
It's worth trying 1.21.0 - but I actually expect 1.20.1 to be good with
this.

I will dig in further...

On Fri, Sep 9, 2016 at 4:55 PM, Jesse Keating notifications@github.com
wrote:

[2016-09-09 22:32] thetrav commented on #4520
so I expect the password arg going from ansible to shade is higher priority than env vars which seems correct to me.

I really do believe that this is simply a bug caused by namespace overlap and passing too many params to shade init.

[2016-09-09 22:38] gregswift commented on #3185
needs_info

[2016-09-09 23:12] emonty commented on #4520
Yah. I think you're right. Thanks, that's much less terrible (I was down in
os-client-config trying to find why the precedence was still not working)

Patch coming.

On Fri, Sep 9, 2016 at 5:33 PM, Travis Dixon notifications@github.com
wrote:

[2016-09-09 23:12] kustodian commented on #4508
I can confirm this bug as well.

[2016-09-09 23:15] emonty commented on #4520
You already made one. Bah - the email stream from the issue didn't show me
that at all.

On Fri, Sep 9, 2016 at 6:12 PM, Monty Taylor mordred@redhat.com wrote:

[2016-09-10 01:08] pmoosh opened #4770 "docker login fails in docker-py version check: fatal: [172.20.1.12]: FAILED! => {"changed": false, "failed": true, "msg": "Error: docker-py version is 1.10.1. Minimum version required is 1.7.0."}"
Done
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker
docker-login
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Tower 3.0
##### OS / ENVIRONMENT

centos 3.10.0-327.10.1.el7.x86_64
##### SUMMARY

docker-login checks docker-py version and fails
fatal: [172.20.1.12]: FAILED! => {"changed": false, "failed": true, "msg": "Error: docker-py version is 1.10.1. Minimum version required is 1

[2016-09-10 01:40] srstsavage commented on #4770
Yes. This is very bad.

[2016-09-10 01:49] srstsavage commented on #4770
The problem is actually in the Ansible core project, not here.

https://github.com/ansible/ansible/issues/17495

[2016-09-10 02:33] #4534 closed, assigned to chouseknecht

[2016-09-10 04:14] chouseknecht commented on #4587
wontfix

The module accepts valid YAML for `env` and hands off whatever it receives to the docker-py module. If it's not being injected into the container _correctly_, then it's an issue with docker-py.

[2016-09-10 04:55] #4596 closed, assigned to chouseknecht

[2016-09-10 05:00] #4587 closed, assigned to nobody

[2016-09-10 05:42] #4600 closed, assigned to chouseknecht

[2016-09-10 05:52] winggundamth commented on #4600
I really appreciate it. Thanks.

[2016-09-10 05:53] chouseknecht commented on #4706
notabug

Not able to reproduce this. I deleted all containers and all images from my environment. I'm running Docker Machine 1.11.2.

Then I ran your example playbook. Here's the results:

[code]

[2016-09-10 05:56] winggundamth commented on #4706
I'm using docker 1.12.1 and able to reproduce bug. Can you try that?

[2016-09-10 06:04] winggundamth commented on #4706
FYI

[code]

I'm using docker-py-1.9.0.

[2016-09-10 06:11] chouseknecht commented on #4748
notabug

According to [the Docker Run Reference](https://docs.docker.com/engine/reference/run/):

If you remove `network_mode: host` from your example, then `hostname: test_container` works correctly.

[2016-09-10 06:13] #4748 closed, assigned to nobody

[2016-09-10 06:21] winggundamth commented on #4748
@chouseknecht do you mean that if I use network_mode: host. Container should recreate all the time? Do you have reason why? Because this is not idempotent.

[2016-09-10 06:21] jpmens commented on #2618
needs_contributor

[2016-09-10 06:21] jpmens commented on #3191
needs_contributor

[2016-09-10 06:22] jpmens commented on #3563
needs_contributor

[2016-09-10 06:22] jpmens commented on #3622
needs_contributor

[2016-09-10 06:23] jpmens commented on #3939
needs_contributor

[2016-09-10 06:25] jpmens commented on #4269
needs_contributor

[2016-09-10 06:25] jpmens commented on #4413
needs_contributor

[2016-09-10 06:26] chouseknecht commented on #4748
No. The two options you are attempting to use together are not compatible. When you use `network_mode: host`, the `hostname` of your container does not get set to the `hostname` you provide in the options. Therefore, when the configuration of the existing container is compared to the configuration you requested, they do not match, and the modules thinks it should recreate the container.

[2016-09-10 06:27] jpmens commented on #4746
needs_contributor

[2016-09-10 06:53] winggundamth commented on #4748
But it actually can be used. According to Docker Run Reference

[code]

My use case is I'm doing telegraf container to do host network monitoring. And it will read hostname from os.Hostname() so I can customize the hostname to send to monitoring server.

[2016-09-10 06:58] winggundamth commented on #4748
But it actually can be used. According to Docker Run Reference

[code]

My use case is I'm doing telegraf container to do host network monitoring. And it will read hostname from os.Hostname(). So I can customize the hostname to send to monitoring server.

[2016-09-10 07:22] chouseknecht commented on #4706
Still not seeing it. Using Docker 1.12.1 on Centos 7:

[code]

[code]

[code]

[2016-09-10 07:23] #4706 closed, assigned to nobody

[2016-09-10 07:36] chouseknecht commented on #4748
What I'm actually seeing is the following:

If I create a container with `network_mode:host` and `hostname: foo`, the `docker inspect` is not returning a `hostname` value of `foo`.

However, if I create the container with only `hostname: foo` and no `network_mode` setting, `docker inspect` returns a `hostname` value of `foo`.

[2016-09-10 07:59] wimnat commented on #2688
Apologies @gregdek.  I thought i was looking at PR https://github.com/ansible/ansible-modules-extras/pull/2201.

[2016-09-10 08:16] chouseknecht commented on #4770
This is fixed in latest _devel_ branch by https://github.com/ansible/ansible/commit/1684c2da5d0daa4e3a23773c77244e5c0cec1e66

[2016-09-10 08:16] #4770 closed, assigned to nobody

[2016-09-10 08:43] lberruti commented on #3939
PR #4544 should fix, see https://github.com/ansible/ansible-modules-core/pull/4544/files#diff-85af82db95785d6980c286e115d6e81fR80 and https://github.com/ansible/ansible-modules-core/pull/4544/files#diff-85af82db95785d6980c286e115d6e81fR142

[2016-09-10 13:32] eirnym commented on #2423
I see your point. But I want to tell some disadvantages of this way:
- You can enforce dependency on provisioning machine, but you can't enforce dependency on target.
- DevOps will miss filesystem-specific flags like what exists in FreeBSD and OS X.
- Practically you use only two GNU-specific options: `--diff` and `--show-transformed-names` which are implementable
- I don't know why do you really

[2016-09-10 18:55] robinro commented on #3290
Ansible 2.0 has the ed25519 key in it's facts, since ansible/ansible@e7846343e57691f827623047b140ccbe938a13eb.  I doubt that this is important enough to be backported to 1.9, so I'd recommend to close this issue.
wontfix @grossws @bcoca

[2016-09-10 19:40] dagwieers commented on #2423
@eirnym We are not just using `--diff` and `--show-transformed-names`, we also scrape the output and match it with regular expressions. I doubt that BSD tar would emit the exact same output. So yes, basically what you need to do is implement everything yourself. Mind you that the old implementation that did support both GNU tar _and_ BSD tar basically _always_ extracted everything. If you want tha

[2016-09-10 19:44] dagwieers commented on #2423
Closing this ticket because
1. The issue is related to zip, while the discussion is about tar
2. We need more feedback wrt. the zip issue
3. The zip support has been redesigned (idempotent/check-mode/diff-mode) and likely fixes the issue in the devel branch.
bug_resolved

[2016-09-10 20:54] gerhard-tinned commented on #4542
**Version: ansible 2.1.1.0**
**OS: Linux Mint (management) / CentOS (target)**

I have a slightly different setup but i noticed the affect as well. I generate a ssh-key on one host and upload it using the "authorized_key" with "delegate_to" to a second host. While testing this playbook i noticed that **not every time** the ssh-key is added to the second host's authorized_keys file.

Without the de

[2016-09-10 21:45] gerhard-tinned opened #4780 ""authorized_key" re-orders the keys and comments in the pre-existing authorized_keys file"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

system/authorized_key
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Managing from: LinuxMint
Managing: CentOS 6
##### SUMMARY

authorized_key is re-ordering the lines in a pre-existing authorized_keys file. This causes comments and the related lines to be re-ordered.
##### STEPS TO REPRODUCE

The managed host (B) sho

[2016-09-11 07:50] naterkane commented on #4269
i'm having the same issue as well.

[code]

[code]

[2016-09-12 00:52] jbergstroem opened #4782 "make hostname work on SmartOS"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

hostname
##### ANSIBLE VERSION

`ansible 2.1.0.0`
##### CONFIGURATION

(irrelevant)

[code]
##### OS / ENVIRONMENT

(run from 10.11 but irrelevant)
##### SUMMARY

Setting hostname fails on smartos14/15/16.

According to manpages, the correct way to set a hostname in smartos (unless providing to dhcp which I will ignore for now)  is editing `/etc/

[2016-09-12 03:42] #4369 closed, assigned to nitzmahone

[2016-09-12 03:52] nitzmahone commented on #4369
Should now be fixed in 2.1.2RC3 and 2.2.

[2016-09-12 04:33] noseka1 commented on #2618
The ini_file module was rewritten in Ansible version 2.0. I think this bug affects only Ansible < 2.0.

@DSpeichert Could you test with Ansible >= 2.0 ?

[2016-09-12 04:41] le9i0nx commented on #3083
needs_contributor

[2016-09-12 04:43] noseka1 commented on #2988
needs_contributor

[2016-09-12 04:45] noseka1 commented on #627
Could you try with Ansible >= 2.0? It might have been fixed there.

[2016-09-12 05:27] purplesmoke05 commented on #2756
I have same problem...
docker-py==1.10.1, ansible==2.1.1.0, six==1.10.0 on Ubuntu15.04

[2016-09-12 05:46] vundb commented on #627
Works fine with ansible 2.1.1.0.

[2016-09-12 06:49] domcar commented on #4762
@jhawkesworth, yes I am running from source and I had done  `<source hacking/env-setup>`. I repeated the command again just to be sure but the result is the same

[2016-09-12 09:22] gcontiu opened #4791 "docker_image module doesn't work with local registry"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

docker_image
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04 LTS
##### SUMMARY

I installed my own local registry on localhost 5000:

[code]

 and when triggering the docker_image module I get:

[code]

I am able to push an image to this registry using docker push from the command line.
##### STEPS TO REPR

[2016-09-12 09:57] robcalcroft commented on #1124
+1

[2016-09-12 10:05] HanXHX opened #4792 "Unarchive module fails with "--strip" option"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

unarchive
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default configuration
##### OS / ENVIRONMENT

Ansible host: Xubuntu 16.04
Target: Debian 8
##### SUMMARY

Unarchive fails when you use "--strip" option. Reminder: this option doesn't create root directory.
##### STEPS TO REPRODUCE

Note:
- original file: https://files.phpmyadmin.net/php

[2016-09-12 11:55] eirnym commented on #2423
@dagwieers according to code in master, you use these these options.

[2016-09-12 12:00] epa095 opened #4795 "Verify that cron_file argument is valid."
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

cron
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu
##### SUMMARY

Cron will only read cron-files without . (dots) in them, particularly
`[The filenames] must consist solely of upper- and lower-case letters, digits, underscores, and hyphens. This means that they cannot contain any dots.`
It would be nice if
1

[2016-09-12 12:17] bcoca commented on #3290
closing as per above

[2016-09-12 12:17] #3290 closed, assigned to nobody

[2016-09-12 12:54] hd-deman commented on #4139
@chouseknecht @tecarlsson same for me:
the command doesn't fail but the "bridge" network still exists.
On latest ansible devel. so reopen please.

[2016-09-12 13:05] jhawkesworth commented on #4762
Its not clear what version you are trying to run.  If you want to try 2.1.2 release candidate 2 then please checkout like this
git fetch origin
git checkout v2.1.2.0-0.2.rc2
git submodule update --init

then ansible --version will report something like this

ansible 2.1.2.0 (detached HEAD e83840c3fd) last updated 2016/09/12 14:00:23 (GMT +100)
  lib/ansible/modules/core: (detached HEAD c4791e39cf)

[2016-09-12 13:26] gundalow opened #4797 "eos_config: Non-obvious error message when src file can't be found"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

eos_config
eos_template
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

If we call `eos_config` with an invalid `src:` then we get a non-obvious error message (or in the case of `eos_template` a backtrace).

We should check the file exists before continuing.

I assume the check would go in the actual module

[2016-09-12 13:27] domcar commented on #4762
@jhawkesworth I hadn't run git submodule update --init, now it works well, thanks for the help.

[2016-09-12 13:27] #4762 closed, assigned to nobody

[2016-09-12 15:06] jhawkesworth commented on #4762
Great, glad you are up and running again.

[2016-09-12 16:29] nitzmahone commented on #3079
bot_broken

[2016-09-12 16:42] lloydbenson opened #4800 "docker-py version complains with docker_image module when its newer"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_image
##### ANSIBLE VERSION

ansible 2.1.0.0
##### CONFIGURATION

[ssh_connections]
pipelining = true
##### OS / ENVIRONMENT

N/A
##### SUMMARY

FAILED! => {"changed": false, "failed": true, "msg": "Error: docker-py version is 1.10.2. Minimum version required is 1.7.0."}
##### STEPS TO REPRODUCE

Install ubuntu 14.04.  Install python-pip.

[2016-09-12 16:58] #2714 closed, assigned to nobody

[2016-09-12 16:59] hnakamur commented on #4782
@jbergstroem Thanks for your bug report.

needs_contributor
I don't have time to investigate this nor have access to SmartOS.
Could someone help us?
Thanks.

[2016-09-12 17:47] jbergstroem commented on #4782
@hnakamur I can help; I'm just not sure how to branch this seeing how SmartOS seems to belong to the Solaris family (`ansible_os_family`). Do I check distribution (`ansible_distribution`)? Finally, I suspect this behavior might apply to OpenIndiana and OmniOS as well.

[2016-09-12 18:37] hnakamur commented on #4782
@jbergstroem Thanks for your help!
The `Hostname` class calls `load_platform_subclass` to load the subclass which is selected with the platform and distribution of the target host.
[ansible-modules-core/hostname.py at e4f40d1cdda9161849098bfeac9d360fe9dd77f3 · ansible/ansible-modules-core](https://github.com/ansible/ansible-modules-core/blob/e4f40d1cdda9161849098bfeac9d360fe9dd77f3/system/hostname

[2016-09-12 19:17] jctanner commented on #2374
bot_broken

[2016-09-12 19:40] gundalow opened #4801 "eos_template: TypeError: load_config() got an unexpected keyword argument 'session'"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

eos_template
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

https://github.com/ansible/ansible-modules-core/commit/e464599632340f247c593f2db770be9782f7dec5
changed `module.config.load_config` to pass in `session` however that doesn't seem to be in https://github.com/ansible/ansible/blame/devel/lib/ansible/

[2016-09-12 19:55] criemen opened #4802 "TypeError: argument of type 'NoneType' is not iterable during docker image update"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

docker module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Debian Linux (both)
##### SUMMARY

When updating a running docker container with a new image (which was pushed to the registry), since today we have encountered these errors:
They only go away when manually stopping the container and removing the image.
This

[2016-09-12 20:15] jhawkesworth commented on #3068
I'm going to close this one.

For info, for anyone coming across this thread....

win_msi has a wait boolean these days, so you can get it to wait if necessary (the current integration tests do this).  Follow the syntax advice above to form valid windows paths (full windows paths to files don't need quoting unless they contain spaces.  If you are using a var to form a file name or path then use do

[2016-09-12 20:15] #3068 closed, assigned to nobody

[2016-09-12 20:16] dagwieers commented on #4792
Could you please test with the devel branch, because I think this issue was already fixed in commit https://github.com/ansible/ansible-modules-core/commit/9ea56d26b0e93c345d4aca293b886e0f8528a248

[2016-09-12 20:18] mmumshad opened #4803 "Guest Customization template in vSphere_Guest module"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

vsphere_guest
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Does the vsphere_guest module support applying a guest customization template while deploying a VM from template?

[2016-09-12 20:25] jhawkesworth commented on #2321
it occurs to me you could template the file locally on the controller and then use copy on the templated file, so there's a way to do this already.

[2016-09-12 20:28] jhawkesworth commented on #2321
bot_broken.  -  possibly - not sure what maintainers should do about feature ideas, or rather how often it is appropriate to get prodded by the bot about them.

[2016-09-12 20:58] jctanner commented on #2321
@jhawkesworth current logic is to re-notify maintainer every 2 weeks if the issue is waiting on them, regardless of issue type. I probably need to rethink that for feature requests though. Mind filing a bug in the ansible/ansibullbot repo?

[2016-09-12 21:11] jbergstroem commented on #4782
- ansible_system: SunOS
- ansible_distribution: SmartOS
- ansible_os_family: Solaris

[2016-09-12 21:22] jctanner commented on #1885
!needs_info

[2016-09-12 21:23] jctanner commented on #1681
!needs_info

[2016-09-12 21:54] chouseknecht commented on #4800
This was fixed here: https://github.com/ansible/ansible/commit/39aa740531f171a557e8604babd493793d63323e

[2016-09-12 21:54] #4800 closed, assigned to nobody

[2016-09-12 22:26] #3234 closed, assigned to ryansb

[2016-09-12 22:26] ryansb commented on #3234
@KpaBap or @ctxkenb, can you test that the fix above resolves your issue?

[2016-09-12 22:39] #1352 closed, assigned to nobody

[2016-09-12 23:07] larry-s commented on #2321
@jhawkesworth The BEST solution is to provide a way to set the line terminator on the destination machine. This is part of the FTP protocol and is common in many tools.

[2016-09-12 23:13] wimnat commented on #1308
bug_resolved
resolved_by_pr https://github.com/ansible/ansible-modules-core/pull/2180

[2016-09-12 23:36] ghost commented on #1338
Lol

[2016-09-13 02:19] tcr commented on #733
I'll help you out here, I think this is fixed.

[2016-09-13 02:19] #733 closed, assigned to erjohnso

[2016-09-13 02:52] noseka1 commented on #627
wontfix

User can upgrade to Ansible >= 2.0 where this is not an issue.

[2016-09-13 02:59] mansunkuo commented on #4522
Hi @ismaelfernandezscmspain ,

I've encountered similar issue when I use older version of boto ( which is installed with apt-get ).
Maybe you can try to upgrade boto to the latest version to see if ec2_ami_find works.

[code]

[2016-09-13 03:00] #138 closed, assigned to nobody

[2016-09-13 04:21] gsatliawol commented on #335
Question for @chrrrles, @rhoop, other maintainers: Is this issue fixed in the 2.x branch (i.e. are we only working on backporting to 1.x)?  If fixed in 2.x the issue is no longer relevant to me (I am one of the bug reporters) and I will want to unsub from the updates... if this is relevant in both 1.x and 2.x, I will continue to follow as I definitely want to know when this gets fixed _somewhere_.

[2016-09-13 04:33] duck-rh opened #4805 "service module: misleading error message when service does not exist"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

service module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

only adapted the roles_path
##### OS / ENVIRONMENT

Running Debian Sid and deploying on a VM using CentOS 7.2.
##### SUMMARY

I used the name "bind" as service name, but in the target distro it is called "named". Not a big deal but the error message is really misleading.
##### STEP

[2016-09-13 04:57] #627 closed, assigned to nobody

[2016-09-13 07:34] discordianfish commented on #1129
Unsubscribing..

[2016-09-13 07:35] discordianfish commented on #1129
This is annoying, going to close the issue.

[2016-09-13 07:35] #1129 closed, assigned to nobody

[2016-09-13 07:35] discordianfish commented on #1130
This is annoying, going to close the issue. Feel free to reopen it once you make this bot shut up.

[2016-09-13 07:35] #1130 closed, assigned to nobody

[2016-09-13 08:03] SrinivasPusapati commented on #4693
ControlPath=/home/srinivas.pusapati_in/.ansible/cp/ansible-ssh-%h-%p-%r -tt 169.54.222.114 '/bin/sh -c '"'"'/usr/bin/python /root/.ansible/tmp/ansible-tmp-1473747665.37-270468740929814/mount.py; rm -rf "/root/.ansible/tmp/ansible-tmp-1473747665.37-270468740929814/" > /dev/null 2>&1 && sleep 0'"'"''
fatal: [MDMT73-a-mdb]: FAILED! => {
    "changed": false,
    "failed": true,
    "invocation": {

[2016-09-13 08:04] SrinivasPusapati commented on #4693
This is the failure I see in Ubuntu, same code works in RHEL.

[2016-09-13 08:51] xrow commented on #2331
I ran my test case again. The error message has changed. The new message is: Failed to create bus connection: No such file or directory.

[code]

[2016-09-13 09:25] gundalow commented on #4801
Now passes with

[code]

[2016-09-13 09:25] #4801 closed, assigned to privateip

[2016-09-13 09:55] DSpeichert commented on #2618
I confirm that this bug does not affect Ansible 2.1.1.0.

[2016-09-13 10:01] henryon opened #4806 "shell module run python script exception on ansible 2.1.1.0"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

  shell module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

roles_path = ./roles
callback_plugins = ./plugins/callback_plugins
lookup_plugins = ./plugins/lookup_plugins
inventory = inventory
gathering = smart
##### OS / ENVIRONMENT

Mac OS EI 10.11.3
##### SUMMARY

The script works on ansible 1.9.1 while 2.1.1.0 doesn't work. I've no idea

[2016-09-13 10:06] assarbad commented on #1851
@yeukhon wouldn't it make sense to silence the warning then? Or provide an option to do so? In my projects I tend to take heed of warnings and act accordingly. But here the warning tells me a module which evidently has no support for the action I'm attempting. And I think it's a rather common action to perform with Mercurial repos ;)

[2016-09-13 11:08] electrofelix commented on #2459
Looking at the service module code I've noticed a few things that could be contributing here as well as causing other issues.
1. The code at https://github.com/ansible/ansible-modules-core/blob/devel/system/service.py#L224-L226 suffers from a similar programming bug as https://github.com/ansible/ansible/issues/15436 in that it has a race in how it checks for data from the subprocess and when it ch

[2016-09-13 11:15] gerhard-tinned commented on #4780
bot_broke

What Information is missing? I provided all I know and also all the fields required according to the bot help.

[2016-09-13 11:49] matthias-kloeckner commented on #4030
@supertom
even if the proposed solution is working, I really like to have it directly in the gce module - as it is already possible in the GUI. advantage of this would be one less dependency to manage. I already added additional disks to machines and got trouble during e.g. renaming machines/disk names and forgetting to put the new values everywhere.

of course this dependency can also be solved w

[2016-09-13 12:23] gundalow commented on #4797
Confirmed fixed

[2016-09-13 12:23] #4797 closed, assigned to privateip

[2016-09-13 12:25] bcoca commented on #4805
So that part message (after the :) is what the underlying init system returns, which systemd can give for several reasons, mainly that you don't have access to dbus or to execute that operation at all, which obscures that the service file does not exist.

[2016-09-13 12:27] gundalow commented on #4797
Test test-network-modules/added to roles/test_eos_config/tests/cli/src_invalid.yaml

[2016-09-13 12:41] gundalow commented on #3111
Adding `networking` label so Peter and I review these.

Is this a must fix for 2.2?

[2016-09-13 12:43] jctanner commented on #4780
The bot would mark the issue needs info if it were waiting on you. In this case the ball is in ansible's court and the bot is pinging the whole org to respond

Sent from my iPhone

[2016-09-13 12:54] gundalow opened #4807 "eos_config: `.updates` not defined when using `src:` - improve docs"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

eos_config
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

in `eos_template` when using `src:` we return `.updates` (assuming there are any)

In `eos_config` (the replacement) we only return `.updates` when the module has been called with `lines:`.

I was under the impression that `_config` should have feat

[2016-09-13 13:00] daviddyball commented on #4607
Just a note, `docker-py` hasn't done a release to PyPi that supports introspection of swarm-based services yet. I think it's pending, but last I checked it wasn't on the immediate roadmap.

UPDATE: Scratch that comment. 1.10.0 was just released with swarm-mode support.

[2016-09-13 13:03] xhibit opened #4808 "oracle-se2 support needed."
##### ISSUE TYPE
- Feature Idea
- Documentation Report
##### COMPONENT NAME

RDS
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

db_engine "oracle-se2" isn't listed in the documentation as supported.

It is however a supported AWS version:
https://aws.amazon.com/about-aws/whats-new/2016/08/amazon-rds-now-supports-se2-license-included/
##### STEPS T

[2016-09-13 13:36] ismaelfernandezscmspain commented on #4522
Yes,

@mansunkuo solved with your answer!

Thanks!

[2016-09-13 13:36] #4522 closed, assigned to nobody

[2016-09-13 13:53] electrofelix commented on #2459
I forgot to mention also:
1. https://github.com/ansible/ansible-modules-core/blob/devel/system/service.py#L246-L255 should follow the similar pattern of the code at https://github.com/ansible/ansible-modules-core/blob/devel/system/service.py#L223-L236 (with fixes to avoid the race) of checking whether the process is running or not in order to help exit the loop and also avoid the scenario that eno

[2016-09-13 15:00] willthames commented on #4808
needs_contributor

[2016-09-13 15:05] gundalow opened #4810 "eos_config match:none has become idempotent - improve docs"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

eos_config
And possibly other `_config` modules
##### ANSIBLE VERSION

[code]
##### SUMMARY

This is most likely going to be a documentation issue rather than a code issue.

In `eos_template` when `force: true` was used we to always report as changed.
From the documentation for eos_template

For `eos_config` (and possibly all `_config` modules) i

[2016-09-13 15:28] jpmens commented on #1788
needs_contributor

[2016-09-13 15:29] jpmens commented on #997
needs_contributor

[2016-09-13 15:29] jpmens commented on #617
needs_contributor

[2016-09-13 15:29] jpmens commented on #247
needs_contributor

[2016-09-13 15:39] walbert947 commented on #4030
It's also possible to specify a boot disk size and type using `gcloud compute instances create`.

[2016-09-13 15:39] hnakamur commented on #4782
@jbergstroem I've added the SmartOS support in the hostname module https://github.com/ansible/ansible-modules-core/pull/4811.
Could you test it on a SmartOS environment?

[2016-09-13 16:08] jctanner commented on #4077
@asmodehn thanks for submitting this issue. Unfortunately it's not a module issue per say and should be filed under the ansible/ansible repo.

[2016-09-13 16:08] timlnx commented on #1449
That's a pretty neat idea. I'll take a swing at hacking something together that could accomplish that.

[2016-09-13 16:09] mckerrj commented on #3996
Considering this closed. Thanks @dagwieers

[2016-09-13 16:10] abadger commented on #3996
@dagwieers Agreed, transforming the list into a boolean in the playbook is the way to go.  @drybjed I'm closing this since that seems to be the right thing to do.  If you think there's still a problem, feel free to ping us in irc or the mailing list.

[2016-09-13 16:11] #4077 closed, assigned to jctanner

[2016-09-13 16:11] ecv commented on #362
@Jmainguy – Hey, totally blanked in the original on creating a PR, I'd be happy for the community to do so, and I'm very surprised that my contribution seems to have actually blocked subsequent work to support --master-data. Why'd you all wait on me? I had GitHub notifications turned off.

[2016-09-13 16:12] jctanner commented on #4077
Possibly related to https://github.com/ansible/ansible/issues/17490 based on a quick glance.

[2016-09-13 16:13] drybjed commented on #3996
If it works in this form, I'm fine with that. Thanks.

[2016-09-13 16:15] bcoca commented on #651
closing as this requires no action at this point

[2016-09-13 16:15] #651 closed, assigned to nobody

[2016-09-13 16:38] jbergstroem opened #4812 "add_host hosts doesn't inherit host_vars from a vars plugin"
##### ISSUE TYPE
- Bug Report (apologies for opening this in the wrong repo -- https://github.com/ansible/ansible/issues/17544)
##### COMPONENT NAME

add_host
##### ANSIBLE VERSION

ansible 2.1.0.0
##### CONFIGURATION

ansible.cfg

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When adding hosts with `add_host` anything set via vars_plugins through for instance `host.set_variable` doesn't seem

[2016-09-13 16:45] gundalow commented on #4810
I'll fix this

1) I'll update the docs in all `_config` modules to make that clearer (the wording is a little ambiguous)
2) I'll modify the tests to ensure for `_config` we don't trigger a change. The existing tests for `_template` ensure that changes have occurred

[2016-09-13 16:55] arshantz opened #4813 "Unarchive module with mode/user breaks"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

unarchive
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
pipelining = True
##### OS / ENVIRONMENT

2.6.32-220.el6.x86_64
##### SUMMARY

I’ve discovered a bug in the unarchive module. When you are unarchiving a tar.gz file, and you specify the user and mode in the unarchive module arguments, the module will fail saying it can’t chmo

[2016-09-13 16:56] drybjed commented on #3996
After further investigation it seems that the proposed solution works in a playbook, but not when I try to use it in a role (which I originally intended to do, in [debops.resources](https://github.com/debops/ansible-resources/blob/master/tasks/main.yml#L90-L91)) configured via Ansible inventory.

When I try to use the form:

[code]

The tasks errors out with:

[code]

And when I try to use the var

[2016-09-13 16:57] ghost opened #4814 "Bug Report: Fetch fails if ansible_ssh_host is localhost"
##### ISSUE TYPE

 Bug Report
##### COMPONENT NAME

fetch
##### ANSIBLE VERSION

2.1.0.0
##### CONFIGURATION

These are the most relevant config items though I don't know that there is a correlation:
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When ansible_ssh_host is set to localhost, fetch says it succeeds, but it never gets the file. It's im

[2016-09-13 17:17] duck-rh commented on #4805
On a Debian VM I get:

[code]

So in this case the status 'not-found' is the wait to know the service is non-existant, instead of the reason message.

[2016-09-13 17:22] bcoca commented on #4805
part of the issue seems to stem from the module trying to enable before detecting it exists or not, should be solved in 2.2 via the new systemd service module.

[2016-09-13 17:30] antigremlin opened #4815 "docker_container fails to restart containers"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

OS: Windows 7 Enterprise. Cygwin version:

[code]
##### SUMMARY

Ansible cannot restart the docker container and the container is killed instead.
##### STEPS TO REPRODUCE
1. In a playbook task, use docker_container to start something
2. In a playboo

[2016-09-13 17:53] gundalow commented on #4807
This is by design.

I will:
1) Make this clearer in the docs
2) Update the tests to ensure `.updates` isn't set for `_config`. Existing tests will defend this being set for `_template`

[2016-09-13 18:12] 8191 opened #4817 "git module always fails on update if submodules are checked out at different commit"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

git
##### ANSIBLE VERSION

[code]

(current `devel` branch)
##### CONFIGURATION

##### OS / ENVIRONMENT

Host: CentOS 7, Target: CentOS 7
##### SUMMARY

If a submodule's checked out commit is different than the SHA-1 commited to the super-repository, an update attempt of the super-repository using the git module always fails with `Local modifica

[2016-09-13 18:59] jbergstroem opened #4818 "hostname: support alpine(3.4)"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

hostname
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Ansible currently returns this if you try to use the hostname module on alpine:
`fatal: [test-joyent-alpine34-x64-2]: FAILED! => {"changed": false, "failed": true, "msg": "hostname module cannot be used on platform Linux (Alpine)"}`

Supporting

[2016-09-13 19:07] #4011 closed, assigned to nobody

[2016-09-13 19:26] 8191 commented on #4817
I think a possible workaround would to be to execute `git submodule update` within the _reset_ def.

[2016-09-13 19:54] stevekuznetsov commented on #4752
@dagwieers can confirm with newer devel version that fixes the bug above this issue with `remote_src: yes` remains. Are you able to reproduce with the given playbooks?

@ansibot improperly labeled this for 2.1, as well.

[2016-09-13 20:25] chris-neely opened #4821 "ec2 module - root volume size customization"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ec2 module
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ubuntu 14.04
##### SUMMARY

I'm working on a playbook to launch a windows ec2 instance with a custom root volume size.  It appears that my play is completely overlooking the 'volumes' attribute when creating the instance though.  I'm not getting any errors.. but the instance is cre

[2016-09-13 22:09] adityamarella commented on #4246
I solved this by explicitly setting the PYTHONPATH to the following on Mac OSX
`export PYTHONPATH=/usr/local/lib/python2.7/site-packages/:$PYTHONPATH`

Most likely ansible/hacking/env-setup is not setting the python path correctly.

[2016-09-14 00:23] geerlingguy commented on #2459
I've been debugging a similar issue with Ansible running inside Docker containers in Docker 1.12 (haven't tested other recent versions, but running inside Docker 1.9 doesn't exhibit the same issue) with sysvinit instead of systemd.

It's a pernicious bug, but it seems to affect some of my roles and not others. Most recently, I noticed it with my Memcached role—see failed build: https://travis-ci.o

[2016-09-14 00:35] geerlingguy commented on #2459
Note that if I downgrade to Docker 1.9.1, even with the `--tty` option, the play succeeds and exits correctly: https://travis-ci.org/geerlingguy/ansible-role-memcached/jobs/159755194

However, in that build, in the Ubuntu 14.04/12.04 runs, you can see that the `service` task is the one that breaks idempotence (https://travis-ci.org/geerlingguy/ansible-role-memcached/jobs/159755194#L512) — since Me

[2016-09-14 00:45] chris-neely commented on #4204
I'm having a similar issues with windows instances but regardless of the mount point it launches an instances with the default volume_size.  I opened my own problem; but curious if you had any luck with this?

[2016-09-14 01:43] geerlingguy commented on #2459
Final follow-up: Disabling TTY for the Docker exec command and fixing the underlying problem (in this case, not using `service: state=restarted` on the first run, for some reason) seems to have fixed the build: https://travis-ci.org/geerlingguy/ansible-role-memcached/builds/159764487 (though no pretty colors without the TTY :(

[2016-09-14 03:16] #4821 closed, assigned to nobody

[2016-09-14 06:53] jhawkesworth commented on #4408
not the maintainer but really needs an answer from the issue raiser.

needs_info

[2016-09-14 07:55] dagwieers commented on #4752
Yeah, to be honest, I don't know what the whole purpose of the change to copy/remote_src is.
I wasn't involved in that change.

[2016-09-14 07:56] dagwieers commented on #4813
I think this bug has been fixed in a newer release. Please test with the devel branch first.
needs_info

[2016-09-14 08:00] dagwieers commented on #3996
Alright, the second output displays:

[code]

which seems to indicate that it is not a boolean, but a method ?

I guess we need more information that what exactly you are doing.
needs_info

[2016-09-14 10:08] chepins commented on #3758
Please could you merge it to master?

I changed manually and works fine!

[2016-09-14 10:55] stefanhorning commented on #3404
I can confirm this bug starting to happen with 2.1 on previously working playbooks. Using @esc s fix works for me. Would be nice to see a proper fix for this though.

[2016-09-14 11:05] bakalor commented on #4255
Hey guys, I've experienced the same issue.

Ansible: 2.1.1.0
Python: 2.7.9
OS: Centos

Ansible module name: ec2_asg
Python module name: ec2_asg.py

According to your docs the desired_capacity parameter is optional but it looks like if replace_all_instances or replace_instances parameter is set to true the function replace is fired which gets a value from the module attributes :

desired_capacity =

[2016-09-14 11:09] TaiSHiNet commented on #3758
@chepins afaik this was fixed in 2.1.1.0 which would mean it's fixed on master.
If you're still seeing issues please append some info or open a new issue

[2016-09-14 12:27] AseemKumar commented on #4408
I will let you know as soon as I test it out. Make take a few days.

[2016-09-14 12:39] minterciso commented on #4693
I got the same issue, running the mount on a CentOS machine.
Digging trought the module code, I found the issue to be on the line 237 of mount.py:

[code]

I was able to fix it by changing it to:

[code]

I know this isn't the best solution, but since the '-T' option is to specify what /etc/fstab file to use and, I honestly couldn't find this on any Linux distribution other then Ubuntu (maybe all

[2016-09-14 14:24] jbergstroem commented on #4818
..actually, shouldn't this be using the OpenRC strategy?

[2016-09-14 14:32] hnakamur commented on #4818
The OpenRC strategy uses the file `/etc/conf.d/hostname`.
The Debian strategy uses the file `/etc/hostname`, so this should be used.
Could you tell me the values of `ansible_system` and `ansible_distribution` for Alpine Linux?

[2016-09-14 14:36] jbergstroem commented on #4818
@hnakamur Alpine uses OpenRC but I think busybox/init just ignores it. [Here's documentation from Alpine](https://wiki.alpinelinux.org/wiki/Configure_Networking#Setting_System_Hostname) about setting it (similar to other systems).

Anyway, host info:

[code]

[2016-09-14 14:39] SrinivasPusapati commented on #4693
How long will it take for the patch to be available? We upgraded to ansible 2.2 and are currently trying to test all our playbooks with a work around. It would be appreciated, if we have the patch available.

[2016-09-14 14:55] kgadek commented on #4613
I resolved my issue with `pip install six`.

Don't know if it's relevant, but I use virtualenv'd python, so I have:

[code]

For reference, I have the following pkgs:

[code]

[2016-09-14 15:00] hnakamur commented on #4818
@jbergstroem I created a pull request #4837. Could you test it?

[2016-09-14 15:14] timlnx commented on #1449
@bobrik on second thought, I'm not sure I understand what you're asking for
- http://docs.ansible.com/ansible/pause_module.html

Say I have a pause prompt like this

[code]

That produces this play output

[code]

That will pause **indefinitely**. If I press `ctrl+c` and then `a` for **abort** then we see this:

[code]

But if I press `ctrl+c` then `c` the playbook will continue immediately:

[cod

[2016-09-14 15:17] timlnx commented on #1449
@bcoca Can you update the labels to **Waiting on reporter** please?

[2016-09-14 15:19] jlec commented on #1948
@robinro I don't want to specify a special branch and this has nothing to do with the checked out branch on the remote. I would like to use the default remote tracking branch of the git repo. This normally is master, but could be different. Ansible always uses master.

[2016-09-14 15:21] dgjustice opened #4840 "nxos_template and nsox_config error when using src"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

nsox_config, nxos_template
src option
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

default configuration
##### OS / ENVIRONMENT

Tested on OSX and Ubuntu
##### SUMMARY

With nxos_template:
    "msg": "'Task' object has no attribute '_block'"

With nxos_config:

[code]
##### STEPS TO REPRODUCE

This only fails when importing the task in a ro

[2016-09-14 15:57] minterciso commented on #4693
Since I'm not the main developer, this can take some time.
If you want, just change that line on the mount.py module while this is not done. I'll try to send a patch to the mainter as soon as possible, since this is also affecting me.

[2016-09-14 16:19] robinro commented on #1948
@jlec
When you clone a repo, the branch that is checked out is the one that `HEAD` points to, see e.g. also http://stackoverflow.com/questions/18726037/what-determines-default-branch-after-git-clone
This is independent of the checkout.

You can specify this also explicitly by passing `version=HEAD` to the ansible module.

If this doesn't clarify the issue, please provide a public example repositor

[2016-09-14 16:20] scottjs commented on #1912
Hi. I'm running Ansible 2.1.1.0 and also having this problem but I'm not sure how to fix it! Any ideas?

[2016-09-14 16:30] chillum opened #4844 "`ansible_user` seems to be ignored when `copy` is used with `with_items`"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

`copy`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

`ansible_user` is not properly set when using the iterator with `copy`. I cannot override it from the command-line as well.
##### STEPS TO REPRODUCE

Inventory like:

[code]

This works OK:

[code]

But this not (on the same host and launc

[2016-09-14 16:33] sivel commented on #4844
I believe this is a duplicate of https://github.com/ansible/ansible/issues/16776

[2016-09-14 16:34] bcoca commented on #4844
This is not an issue with copy, its an issue with with_items and when ansible_user gets defined, as such this shoudl go in main repo, but there is already an open bug in ansible/ansible#16776

[2016-09-14 16:34] #4844 closed, assigned to nobody

[2016-09-14 16:43] jxn opened #4845 "lineinfile documentation should clarify whether state=present will add a line if regexp has no match"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

lineinfile module
##### ANSIBLE VERSION

2.1.1.0
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

For lineinfile module, when I run a task like this:

[code]

when file somefile.txt does not contain the regex:

[code]

The documentation doesn't make it clear whether `state=present` will ensure that the line is added e

[2016-09-14 17:13] geerlingguy commented on #1409
Note that you can also bypass this issue without dealing with the quoting if you use the shorthand/machine name of the package set, e.g. `'@development'`; see, for example: https://github.com/geerlingguy/ansible-role-ruby/blob/master/tasks/install-from-source.yml#L5

[2016-09-14 19:23] ScottStevenson commented on #4359
+1

[2016-09-14 20:20] ascendify-ryan commented on #4813
I experienced a similar issue on the 'devel' branch:

If I try to unarchive a gzipped tarball with remote_src set to 'no', and the mode is an octal integer I receive the following error:

TASK [virtualbox : unarchive repo] *********************************************
fatal: [192.168.99.101]: FAILED! => {"changed": false, "failed": true, "module_stderr": "", "module_stdout": "Traceback (most recen

[2016-09-14 20:41] wenottingham commented on #3968
This is working for me in a brief test:

[code]

[2016-09-14 21:07] wenottingham commented on #3968
Are you running with any customized SELinux settings?

needs_info

[2016-09-15 05:01] srkiNZ84 commented on #3411
This is affecting us as well, but with > 100 IAM Users instead of Roles. Ansible version 2.1.0.0

[2016-09-15 08:09] jmellano opened #4852 "imported module support code for stat"
##### ANSIBLE VERSION

[code]
##### ISSUE TYPE
- Bug Report
#### COMPONENT NAME

stat
##### CONFIGURATION

I changed my roles path from where I download them
##### OS / ENVIRONMENT

Centos 7 running in a docker container
##### SUMMARY

##### STEPS TO REPRODUCE

I install ansible from sources :

[code]

Then I run my playbook with roles and task

[code]

and I get this output :

[code]

[2016-09-15 08:48] Jorge-Rodriguez opened #4854 "Setup does not gather delegated facts"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

setup
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
host_key_checking=False
timeout=30
lookup_plugins=./library/lookup_plugins

[ssh_connection]
ssh_args=-o ForwardAgent=yes
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Running setup with delegate_to and delegate_facts: True to get facts about hosts not in the current play does not y

[2016-09-15 09:49] osiegmar opened #4857 "Add support for AWS Application Load Balancer (ALB)"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

ec2_elb
##### ANSIBLE VERSION

ansible 2.1.1.0
##### SUMMARY

Please add support for [AWS Application Load Balancers (ALB)](https://aws.amazon.com/de/blogs/aws/new-aws-application-load-balancer/).

[2016-09-15 10:26] timzuiddam commented on #3411
Boto2 & 3 only return a maximum of 100 objects by default and 'max_items' isn't specified in the module. (This default of 100 is only in the boto3 documentation as far as I could see.) It can be set to a maximum of 1000, AWS doesn't allow more.

[2016-09-15 10:58] gundalow opened #4860 "ansible-modules-core/network/ - Code review"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

eos_facts
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

I've raised one issue to track all the issues found rather than having a fairly bitty chain of tickets. If it's easier for you to raise different PRs to address the issues found I'm no issue with that - whatever is easiest for you.

I'm wondering if

[2016-09-15 13:06] prupert opened #4864 "service: disable non-existing enabled systemd services"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

service module
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

CentOS 7
##### SUMMARY

When a systemd service is enabled (a symlink exists in `/etc/systemd/system/multi-user.target.wants`), but not in fact existing (the symlink is broken so to speak), the service module fails to disable the service.
##### STEPS TO REPRODUCE
- Create a broke

[2016-09-15 15:06] mzizzi opened #4867 "cloudformation module fails with"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

cloudformation
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

After a successful stack operation the module always fails when calling `exit_json(**results)` due to a bad result variable type.  The cloudformation module tries to include stack events in module output.  The stack events are an `iter

[2016-09-15 15:44] gundalow opened #4869 "eos_eapi: TypeError: load_config() got an unexpected keyword argument 'session'\n""
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

eos_eapi
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

I believe the fix is

[code]

Based on https://github.com/ansible/ansible-modules-core/pull/4804/files

However there may be other things that need changing
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS
##### ACTUAL RESULTS

[2016-09-15 16:48] jhawkesworth commented on #4636
Hi @davidhulick Sorry it has taken me a while to get to this.

I just tried against latest devel and not reproduced using the following playbook

[code]

and this template

[code]

 Command line used was
`ansible-playbook -v 4636-test.yml -e "test_variable=the_same"
`
How are you setting your variable that isn't changing?  inventory? group_vars? role defaults?  I guess its possible that it looks l

[2016-09-15 16:49] julienvey commented on #3447
I confirm that the issue is fixed in 2.1.1.0

@mmoleksf for your issue, does the bucket you are trying to access is the same region as the env var `AWS_REGION` ?

[2016-09-15 16:52] ryansb commented on #4867
@mzizzi Thanks for the report, I'm able to reproduce it. I'll try your fix then we can get that merged.

[2016-09-15 16:55] #4867 closed, assigned to nobody

[2016-09-15 18:32] hurry123 opened #4874 "How do I remove references in file /etc/services"
Yes Not in GitHub
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

want to uninstall Netbackup for rhel,

Remove NetBackup references in the /etc/services file:
   # NetBackup services
   #
   bpjava-msvc 13722/tcp bpjava-msvc
   bpcd 13782/tcp bpcd
   vnetd 13724/tcp vnetd
   vopied 13783/tcp vopied
##

[2016-09-15 20:21] snemir2 opened #4876 "feature request: rhn_channel, and other rhn_* modules, should have validate_certs parameter"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

rhn_channel
rhn_*
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

excected my code to work
##### ACTUAL RESULTS

[code]

[2016-09-15 20:22] snemir2 commented on #4876
i wish there was validate_cert flag same as for uri module....

[2016-09-15 21:29] #2562 closed, assigned to nobody

[2016-09-16 01:03] waddles commented on #4246
@adityamarella - just confirming I also have that set, so we now have 2 solutions:
1. ensure docker is installed on remote host
2. ensure PYTHONPATH is set and docker-py exists in that path

[2016-09-16 03:40] resuni commented on #3523
Experiencing the same problem on Debian 8 with Ansible 2.1.1.0.

Should probably use `apt-get` instead. `apt` will throw a warning, even if just passing it through grep or sed:

[code]

[2016-09-16 08:16] ydrisR commented on #4512
@jhawkesworth Even if the root cause is a Facter bug, this issue cannot be closed as this still exists. Why not making the setup script more robust? A simple try/catch would be sufficient.
I can test and propose a change if it helps.

[2016-09-16 08:23] jpmens commented on #2443
needs_contributor

[2016-09-16 10:41] rohitkothari commented on #4845
Although the doc may still be confusing as to what should happen if there is no regexp match, however I am unable to reproduce the behavior in my ansible environment you described above.

OS:

[code]

[code]

I used the same somefile.txt with following contents -

[code]

I used the same lineinfile task line you mentioned in my playbook to get following result -

[code]

Here is the content of som

[2016-09-16 12:29] alv000h opened #4882 "Feature Idea - add xattr support in FILE & STAT module. (chattr extended attributes in FS)"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

file
stat
##### ANSIBLE VERSION

ansible 2.2.0 (devel c9a5b1c555) last updated 2016/06/02 15:42:56 (GMT +200)
  lib/ansible/modules/core: (detached HEAD ca4365b644) last updated 2016/06/02 15:43:14 (GMT +200)
  lib/ansible/modules/extras: (detached HEAD b0aec50b9a) last updated 2016/06/02 15:43:15 (GMT +200)
  config file = /etc/ansible/ansible

[2016-09-16 12:32] ryansb commented on #4069
Hi, I've been able to reproduce this against `devel` today, still looking for the reason it happens.

[2016-09-16 13:08] ryansb commented on #4069
Found the problem. For all attributes, the module params and group params are sorted before being compared, so if you provide `["OldestLaunchConfiguration", "Default"]`it gets sorted so default is first, and because all lists that have default _must_ end in default, this causes that boto error. I'll PR a fix shortly.

[2016-09-16 14:59] #4069 closed, assigned to ryansb

[2016-09-16 15:31] Constantin07 commented on #2443
This is a solution based on file size.

[code]

[2016-09-16 15:44] jxn commented on #4845
Sorry, @rohitkothari my example was contrived.  My actual problem occurred with a more complicated lineinfile task with a backref, but when I looked up the doc to find out how it was _supposed_ to work, it was unclear.  That's why I filed a bug for the documentation only.

I have seen a couple of issues filed on github that seem to assume it is one way or the other, so I think the doc is a problem

[2016-09-16 16:29] jhawkesworth commented on #4512
@sirdy - sure please do.

[2016-09-16 16:50] cherusk opened #4884 "script module: more interpreter than sh"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

script module
##### ANSIBLE VERSION

[code]

[code]

[2016-09-16 16:50] cherusk commented on #4884
I'd be prepared to do that. Expect an OK from maintainer.

[2016-09-16 16:58] cherusk opened #4885 "mount module no swap support"
Come back to me asap, please. Were prepared for impl. if OK.
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

mount module
##### ANSIBLE VERSION

[code]

[2016-09-16 17:26] jean-christophe-manciot commented on #4464
@gundalow @privateip It's not fixed:

1) With ansible **2.1.2.0 RC3**
In **NX-API mode** (-v):

[code]

In SSH mode (-vvv):

[code]

2) With ansible **2.2.0 commit 8af8eec** (09/15)
In **NX-API and SSH modes** (-v) :

[code]

I would not call it "fixed" when the documentation states that **any** command (not just enable commands) can be passed to **nxos_command** module. Either the fix has been **

[2016-09-16 17:44] Blake- commented on #4029
output of -vvvv
ansible 2.1.1.0

[code]

[2016-09-16 17:47] gundalow commented on #4464
@jean-christophe-manciot Thank you for retesting this and your analysis and comments around documentation.

[2016-09-16 18:18] bcoca commented on #4884
script module already supports this, just set the shebang on your script

[2016-09-16 18:18] #4884 closed, assigned to nobody

[2016-09-16 18:26] jean-christophe-manciot commented on #4465
Alleluia! It begins to run as expected with 2.1.2.0 RC3 :)
Some features **cannot be configured** in **NX-API mode**:
- ethernet-link-oam
- fabric multicast
- hsrp
- lacp
- ntp
- password
- port-security
- scp-server
- sftp-server
- sla
- ssh
- tacacs+
- telnet
- udld
- vn-segment-vlan-based

**All other features can be configured**.

In **SSH mode**, there is an exception:

[code]

Finally, all o

[2016-09-16 18:57] bcoca commented on #4882
there is an xattr module already

http://docs.ansible.com/ansible/xattr_module.html

[2016-09-16 20:19] #1844 closed, assigned to nobody

[2016-09-16 21:27] preet1309 opened #4887 "Nodes Unreachable after Increasing Forks and File Descriptors ansible 2.1.0.0"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

added forks=13 in ansible.cfg increased File descriptors to 8192
##### OS / ENVIRONMENT

ubuntu 14.04 (From and managed)
##### SUMMARY

We Increased the number of forks from default 5 to 20 and for that we increased the File Descriptors (hard and soft limit to 8192) But we have been seeing inter

[2016-09-16 21:47] ghost commented on #4887
few other comments:
- the ansible ssh is run from jenkins slaves in AWS region A, then go out a NAT GW to a bastion host in AWS region B and then to the actual hosts
- If we lower the # of forks to 5 we do not see this issue but then the actual play takes 2x the time to run
- we are not seeing any other errors (or do not know where to look for any ansible memory related issues) in logs as well as

[2016-09-16 22:04] tchia04 commented on #3036
+1

[2016-09-17 00:15] jeffwidman opened #4891 "supervisorctl should support restarting service only if config changed"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

supervisorctl
##### ANSIBLE VERSION

[code]
##### SUMMARY

`supervisorctl` module has no way to conditionally restart a service only if the config changed. This is currently possible with supervisor--call `supervisor reread` and if supervisor reports the config file changed, then we should call `supervisor restart`, otherwise do nothing.

I sug

[2016-09-17 01:43] mmumshad commented on #4803
I guess the current vsphere_guest module doesn't support adding customization template. I created one here - https://github.com/mmumshad/ansible-modules/blob/master/vmware_clone_template.py

[2016-09-17 01:43] #4803 closed, assigned to nobody

[2016-09-17 02:31] #4840 closed, assigned to privateip

[2016-09-17 11:48] meggnas opened #4894 "mysql_user host_all arguments conversion string formatting error"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

mysql_user
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu Trusty/Xenial
##### SUMMARY

Attempting to use the mysql_user module to change the password for the root user while using the 'host_all: yes' instead of iterating all hosts with 'host: "{{ item }}"' +  'with_items' results in error "not all arguments con

[2016-09-17 14:43] LukeShortCloud commented on #732
In Ansible 2 the "keystone_user" module has been more appropriately broken down into "os_user", "os_project", and "os_user_role" modules.

http://docs.ansible.com/ansible/os_user_module.html
http://docs.ansible.com/ansible/os_user_role_module.html
http://docs.ansible.com/ansible/os_project_module.html

The os_project module should be used for removing projects/tenants now. In OpenStack, users and

[2016-09-17 16:55] ismc opened #4895 "nxos_portchannel fails with AttributeError: 'NetworkModule' object has no attribute 'configure'"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

nxos_portchannel
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None.
##### OS / ENVIRONMENT

Docker containers with centos:latest as base and installing the devel branch via pip
##### SUMMARY

nxos_portchannel modules fails.  See error below.
##### STEPS TO REPRODUCE

ansible-playbook -i cil-hosts cilfu-network.yml

[code]

##### EXPECTED R

[2016-09-17 17:01] ismc opened #4896 "nxos_config fails with TypeError: execute() got an unexpected keyword argument 'output'"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

nxos_config
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No changes to ansible environment.
##### OS / ENVIRONMENT

Docker container with centos:latest as base with devel branch installed via pip
##### SUMMARY

nxos_config fails with TypeError: execute() got an unexpected keyword argument 'output'
##### STEPS TO REPRODUCE

ansible-playbook

[2016-09-17 22:19] fwahlqvist commented on #2280
+1

[2016-09-18 02:20] geerlingguy commented on #4348
I seem to have hit this as well, in a Fedora 24 Docker build on Travis CI (note that I _can't_ reproduce the issue using the exact same container and build steps when running them on Docker for Mac 1.12.1...). See: https://travis-ci.org/geerlingguy/ansible-role-redis/jobs/160756445#L298

[2016-09-18 13:35] juju4 opened #4901 "win_get_url: adding checksum, backup options"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

win_get_url
##### ANSIBLE VERSION

[code]
##### SUMMARY

win_get_url has no checksum option like get_url module.
http://docs.ansible.com/ansible/get_url_module.html
http://docs.ansible.com/ansible/win_get_url_module.html
backup and acl options would be nice too

Thanks

[2016-09-18 19:21] jctanner commented on #2005
The vmware_guest module in extras should deprecate vsphere_guest and has a better tolerance for resource pools. Closing this for that reason and because a lot of changes have occurred since 1.9.2

[2016-09-18 19:21] #2005 closed, assigned to nobody

[2016-09-18 19:24] jctanner commented on #2671
@ronator I believe you may be correct that many people would want a snapshotting module, but we have consolidated all the newer vmware modules into the extras repo. If you are still interested in this feature, please file a new issue in https://github.com/ansible/ansible-modules-extras/issues

[2016-09-18 19:24] #2671 closed, assigned to nobody

[2016-09-18 21:06] KpaBap opened #4902 "Enhancement request: add ability to modify instance user-data after initial launch."
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

ec2.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Instance user-data cannot be set or updated except on the first launch of an instance.
##### STEPS TO REPRODUCE

This playbook has no effect on user-data whatsoever:

[code]

##### EXPECTED RESULTS

I expect the user-data to get updated

[2016-09-18 22:50] wintermute000 opened #4903 "ios_config does not allow looping under parents"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ios_config
##### ANSIBLE VERSION

ansible 2.1.1.0
  config file = /home/ansible/ios_config/ansible.cfg
  configured module search path = Default w/o overrides
ansible@unl01:~/ios_config$
##### CONFIGURATION

default ansible.cfg
##### OS / ENVIRONMENT

Ubuntu 14.04 LTS
##### SUMMARY

I am unable to use looping (with_items) with the parents option

[2016-09-19 03:02] privateip commented on #4903
Your task is malformed.  The `with_items` directive should be aligned with the module (ios_config).

[code]

[2016-09-19 03:04] privateip commented on #4896
This should be now fixed as of ansible/ansible#17623.  Could you update to the latest and test again?

[2016-09-19 03:06] privateip commented on #4895
/cc @jedelman8 @GGabriele

[2016-09-19 04:43] JesseEmond commented on #4063
@dagwieers It should! In fact, I am the one that created the PR. :)

[2016-09-19 06:15] #4903 closed, assigned to nobody

[2016-09-19 06:15] wintermute000 commented on #4903
Thanks!!!!!!

[2016-09-19 06:56] #4746 closed, assigned to nobody

[2016-09-19 07:25] jhawkesworth commented on #4901
That is a good idea
I suppose you can workaround it for now by using win_stat, but generally I prefer it if windows modules can have the same capabilities as non-windows ones.

needs_contributor

[2016-09-19 07:52] gundalow commented on #4896
needs_info

[2016-09-19 08:20] gundalow commented on #4869
Confirmed this is now fixed, thanks

[2016-09-19 08:22] #4869 closed, assigned to privateip

[2016-09-19 08:24] gundalow commented on #4810
Fixed by
https://github.com/ansible/ansible-modules-core/pull/4829
https://github.com/ansible/test-network-modules/pull/20

[2016-09-19 08:24] #4810 closed, assigned to gundalow

[2016-09-19 08:24] gundalow commented on #4807
Fixed by
https://github.com/ansible/ansible-modules-core/pull/4829
https://github.com/ansible/test-network-modules/pull/20

[2016-09-19 08:24] #4807 closed, assigned to gundalow

[2016-09-19 09:33] gundalow opened #4905 "eos_eapi http_port only set when enable_http: true"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

eos_eapi
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

`http_port` to be set even though `enable_http` is false
##### ACTUAL RESULTS

Only ports for services that are enabled are

[2016-09-19 09:33] gundalow commented on #4905
Once fixed I need to update `roles/test_eos_eapi/tests/cli/configure.yaml`

[2016-09-19 09:41] danvaida commented on #1544
FWIW, I'm also seeing this on `devel` and on `stable-2.1`:
[code]
[code]

Example of task that works:
[code]

And here's an example of task that doesn't work:

[code]

Boto:

[code]

Haven't had the time yet to investigate this...

[2016-09-19 12:24] tallandtree commented on #4139
I've not tested with ansible 2.2.0, but have a workaround for those that use ansible 2.1.1.x:
1. Create containers using module docker_containers without purge_networks:yes
2. Then start containers using module docker_containers with state=started
3. Disconnect containers from bridge (or other network) with module docker_container and purge_networks: yes and state: started.
   Apparently the purge

[2016-09-19 12:30] GGabriele commented on #4895
Just pushed a fix for this #4906

[2016-09-19 14:57] #4905 closed, assigned to privateip

[2016-09-19 15:18] dagwieers commented on #4813
@ascendify-ryan You are reporting a different bug, and yours is duplicate_of #4063

[2016-09-19 15:33] thmshmm commented on #4852
I got the same error on a docker image based on alpine. The module i tried to use is copy.

[2016-09-19 16:33] #4813 closed, assigned to nobody

[2016-09-19 16:43] kozchris commented on #4648
I have confirmed that the cleanup is working correctly in version 2.1.2.0. This can be closed now.

[2016-09-19 16:43] #4648 closed, assigned to nobody

[2016-09-19 16:59] phil-dileo opened #4909 "Document EOS Min Version"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

eos_template, eos_config
##### ANSIBLE VERSION

2.2
##### SUMMARY

The latest implementation in devel for 2.2 uses a feature in EOS, session-config.  This feature was introduced in EOS 4.15.0F.  Therefore, the module documentation should clearly indicate this, otherwise you end up with:

[code]

I'd also like to recommend looking for `invalid inp

[2016-09-19 16:59] phil-dileo commented on #4909
@gundalow @privateip

[2016-09-19 17:04] abadger commented on #4852
Ah -- you need to make sure that the modules match with the version of ansible itself.  Since they're submodules I believe doing: git submodule update will checkout the 2.1 version.

needs_info

[2016-09-19 17:06] GGabriele commented on #4465
@jean-christophe-manciot sorry for the delay.

Some of these issues are related to the fact that some features are activated/deactivated with a name, while they appear with a different name from `show feature`. Others, instead, don't appear at all in the output.

`ntp`, `password encryption aes`: these are not shown into `show feature`, therefore we can't have any clue about their status using thi

[2016-09-19 18:28] abadger commented on #4852
Yep, that looks like the command to bring the submodules into line with your checkout:

[code]

[2016-09-19 18:28] #4852 closed, assigned to nobody

[2016-09-19 18:59] privateip commented on #4909
changed this to a `bug_report` and I think the right way to handle this is to revert to not using config sessions if the device version < 4.15.0F

[2016-09-19 19:05] DaytonG opened #4915 "Mount With Complex Password Hangs Forever"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

mount
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No changes were made to ansible configuration.
##### OS / ENVIRONMENT

ubuntu 12.04 (target host)
ubuntu 14.04 (ansible controller)
##### SUMMARY

When a mount password is provided that has unacceptable characters, fstab is not parsed properly which results in /bin/mount prompting for a pa

[2016-09-19 20:04] linsomniac opened #4917 "cron does not create cron_file if it does not exist"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

cron
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

Ubuntu 16.04 64-bit
##### SUMMARY

Using cron module with the cron_file argument will fail if the file named by cron_file argument doesn't already exist.  Leading to needing to use an extra "file: state=touch changed_when: false" sort of stanza.  I wasn't thinkin

[2016-09-19 20:08] candlerb opened #4918 "Strange behaviour of when: conditionals with string values"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

task conditional handling (`when: ...`)
##### ANSIBLE VERSION

[code]

Same behaviour also observed with 2.1.0.0
##### CONFIGURATION

No special configuration
##### OS / ENVIRONMENT

N/A (tested with both OSX 10.11.6 and Ubuntu 16.04)
##### SUMMARY

I expected a conditional like `when: myvar` to be considered true if the variable is set to any no

[2016-09-19 20:25] alv000h commented on #4882
@bcoca the xattr module is for getfattr / setfattr, I mean FS Extended attributes like those configured with chattr / lsattr.

I cannot get the attributes I set with chattr using getfattr:

[code]

With this tools you can set a file in ext3 or xfs in "immutable" state (so, you cannot write on it or remove it) or maybe you can set a log file with append attribute (so, you can only append lines beca

[2016-09-19 20:47] candlerb commented on #4918
Resubmitted as https://github.com/ansible/ansible/issues/17650

[2016-09-19 20:47] #4918 closed, assigned to nobody

[2016-09-20 01:13] #4529 closed, assigned to nobody

[2016-09-20 01:27] ismc opened #4923 "nxos_vlan and nxos_vpc_interface fail with: TypeError: expected string or buffer"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

nxos_vlan
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None.
##### OS / ENVIRONMENT

Docker container with centos:latest base and ansible devel via git
##### SUMMARY

##### STEPS TO REPRODUCE

Run playbook.

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

The modules should carry out their function.

[code]

[2016-09-20 03:31] ghost opened #4930 "docker_image often fails to push with docker-py 1.10.x"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

docker_image module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Our inventory is dictionary based so:

[code]

This is on a completely rebuilt laptop with one virtualenv and no docker-py at the system level.

[code]
##### OS / ENVIRONMENT

OS X El Capitan
##### SUMMARY

Image pushes often fail with what looks like a JSON handling issue.
##

[2016-09-20 08:22] dagwieers commented on #3645
needs_contributor

[2016-09-20 08:27] thokari opened #4931 "get_url not working with FTP"
Hi, I tried downloading a file with the get_url module, but it doesn't work.
It does work with wget without problems.

Works:

[code]

Does not work:

[code]

With:

[code]

Error message:

[code]

[2016-09-20 08:38] liuyong2000 opened #4932 "role dependency doesn't work as expected"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

role definintion and playbook execution
##### ANSIBLE VERSION

ansible 2.1.0.0
##### CONFIGURATION

None change to ansible.cfg
##### OS / ENVIRONMENT

N/A
##### SUMMARY

In official ansible document site,
http://docs.ansible.com/ansible/playbooks_roles.html
It said,
Roles dependencies are always executed before the role that includes them, and a

[2016-09-20 08:45] mgedmin opened #4933 "postgresql_db inverts the 'changed' logic in check mode when state=absent"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

postgresql_db
##### ANSIBLE VERSION

[code]
##### SUMMARY

I've a task that tries to remove a PostgreSQL database.  When I run it in --check mode, it says "changed" if the database doesn't exist, and says "not changed" if the database exists. This is exactly the opposite of what it should say.

[2016-09-20 09:15] resmo commented on #4933
resolved_by_pr #4934

[2016-09-20 09:45] #4933 closed, assigned to nobody

[2016-09-20 09:50] andreea-vld opened #4936 "Error bring dockercompose up"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

docker_service
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

Ubuntu 14.04
##### SUMMARY

I am trying to call docker-compose from Ansible using docker_service module and I get an error with very few details.
If I call docker-compose directly, everything works correctly.
Other tools versions:
Python 2.7.6
pip 8.1.2

[2016-09-20 11:29] endling1 opened #4938 "iam_cert module error : value of dup_ok must be one of: False,True, got: True"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

iam_cert
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ansible.cfg :
[defaults]
host_file = inventory/ec2.py
inventory = inventory/
host_key_checking = False

[ssh_connection]
control_path = %(directory)s/%%h-%%r
##### OS / ENVIRONMENT

NA
##### SUMMARY

Get the above mentioned error even when dup_ok is set to True
##### STEPS TO REPRODUCE

[2016-09-20 12:00] resmo commented on #4938
I see this issue has been addressed on devel (2.2) 8879931f0cd727244587b6e58a7279d9125c96a2 but I see no backport and IMHO the choices list `choices=[False, True]`should be removed

[2016-09-20 12:03] ismc commented on #4923
Either I am doing something horribly wrong or many of the 2.2 modules have this issue.  It does seem to be a change b/w 2.1 and 2.2, however, because the modules that exist in 2.1 work with the same play that fails in 2.2.

[2016-09-20 12:10] GGabriele commented on #4923
You're doing nothing wrong. This is caused by some changes pushed after these modules were merged.

@privateip if you're okay, I can start push the fix for all the modules.

[2016-09-20 12:26] Shrews commented on #821
glance_image is no longer maintained.

wontfix

[2016-09-20 12:27] kravietz commented on #4802
Same here with:

[code]

Sample playbook rule that triggers this error:

[code]

[2016-09-20 12:30] resmo commented on #4938
resolved_by_pr #4941

[2016-09-20 12:46] ronator commented on #2671
@jctanner Thank you a lot for your feedback. I will do so right away.

By the way, this module is called vsphere_guest and it is still listed there as a core module in ansible doc.

[2016-09-20 12:47] #4938 closed, assigned to nobody

[2016-09-20 12:47] #821 closed, assigned to nobody

[2016-09-20 13:00] zezke commented on #3523
I can verify that install aptitude did work, but it brought along some extra packages as well. Would be nice if all that could be avoided by making Ansible use `apt-get` instead.

[2016-09-20 13:25] ronator opened #4942 "Add ability to handle snapshots to vsphere_guest module"
Original issue was https://github.com/ansible/ansible-modules-core/issues/2671. I used a wrong name in that ticket, I meant vsphere_guest. I was suggested by ansibot to re-open it here.

ansibot commented 7 minutes ago
@ronator: Thanks for taking the time to open this issue, but it was filed under the wrong github repository. Please create a new issue at https://github.com/ansible/ansible-modules-

[2016-09-20 13:28] jfbibeau commented on #4605
Fixed via #4547

[2016-09-20 13:28] #4605 closed, assigned to nobody

[2016-09-20 13:44] liuyong2000 commented on #4932
this issue is not specific to a module. It is issue/bug for role implementation.

[2016-09-20 14:05] #3060 closed, assigned to nobody

[2016-09-20 14:14] chouseknecht commented on #4936
@andreea-vld

A copy of your dev.yml would be helpful.

Attempting to reproduce the error with the following playbook and dev.yml files:

test.yml (playbook):

[code]

My docker-compose directory is next to the playbook, and it contains the following dev.yml:

[code]

Running the playbook works fine. I can get it to throw the same error, however, if I change the tag on the `image` directive to som

[2016-09-20 14:34] liuyong2000 opened #4944 "including a play will cause load error for the role behind it"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

It is not specific to a module, it is a bug/issue for the role/include mechinism implementation
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No change to ansible.cfg
##### OS / ENVIRONMENT

N/A
##### SUMMARY

including a play which has a relative path in a playbook, will cause load error for  role in late play
##### STEPS TO REPRODUCE

pls

[2016-09-20 14:42] #1280 closed, assigned to nobody

[2016-09-20 14:48] phil-dileo opened #4945 "Error with socket timeout results in leftover session on switch"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

eos_config
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

NA
##### OS / ENVIRONMENT

EOS 4.17.1.1F
##### SUMMARY

Creating a session-config is one of the first commands run against the switch.  Then other configuration commands are run.  If these fail, the session-config is not destroyed and it remains on the switch. If enough sessions are le

[2016-09-20 14:48] phil-dileo commented on #4945
@privateip @gundalow

[2016-09-20 14:49] #4944 closed, assigned to nobody

[2016-09-20 15:02] liuyong2000 commented on #4932
move it ansible repo
https://github.com/ansible/ansible/issues/17661

[2016-09-20 15:02] #4932 closed, assigned to jimi-c

[2016-09-20 15:08] liuyong2000 commented on #4944
move this ticket to
https://github.com/ansible/ansible/issues/17662

[2016-09-20 16:02] #4592 closed, assigned to nobody

[2016-09-20 17:22] krzysztof-magosa commented on #443
I've created very simple module which should resolve that problem.
The pull request has been sent - https://github.com/ansible/ansible-modules-extras/pull/2991
Regards, KM.

[2016-09-20 18:27] rsanr opened #4948 "--diff doesn't show all differences with Template module"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

Template
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Using `--diff` when running template module doesn't show all the changes when both the template file and mode has changed.
##### STEPS TO REPRODUCE

Task:

[code]

myconf.conf

[code]

Changed task w/ updated `mode` and updated `myconf.conf`

[

[2016-09-20 18:55] smiller171 commented on #1033
This regression is a massive pain for me since I use multiple profiles daily, and having to set the individual AWS_*_KEY vars is much less usable than simply AWS_PROFILE

[2016-09-20 20:08] smiller171 commented on #454
@sendai-ono not sure if this was the case when you wrote that, but now you have to strip out the commas between the existing security groups if there is already more than 1:

[code]

[2016-09-20 20:12] gmalouf commented on #3593
I'm still seeing this issue in ansible 2.1.0.0 - wondering if the backport to 2.0.2.0 didn't get into the 2.1 release.

`An exception occurred during task execution. To see the full traceback, use -vvv. The error was: TypeError: 'NoneType' object is not iterable
fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "module_stderr": "Traceback (most recent call last):\n  File \"/var/fol

[2016-09-20 20:30] #4945 closed, assigned to privateip

[2016-09-20 21:24] srstsavage commented on #4607
Something to note: the concept of a "service" in Docker 1.12 (an image deployed to multiple nodes via swarm) is not the "service" referred to by Ansible's [`docker_service`](https://docs.ansible.com/ansible/docker_service_module.html) module (a collection of container definitions defined by a compose file). This will probably cause plenty of confusion in the near future if not addressed.

[2016-09-21 04:26] salman1485 opened #4953 "ios_config does not work for sub-commands of config t"
checked already. Only 4 threads for ios_config and none are related to my issue.
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ios_config
##### ANSIBLE VERSION

ansible 2.1.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
##### CONFIGURATION

Default
##### OS / ENVIRONMENT

Running on CentOS 7.

Managing

[code]
##### SUMMARY

The job of be

[2016-09-21 09:10] privateip commented on #4953
Your task is not structured properly.  You need to specify the parents argument.

[code]

[2016-09-21 09:55] jean-christophe-manciot commented on #4465
I agree there are some **discrepancies between show feature & feature <feature>**.
However, why do you use "show feature" to check a feature state? Isn't there some kind of NX-API call for that?
The udld & lacp errors are Cisco NX-OS responsibility; configuring them manually by CLI:

[code]

There is no port-channel configured.
Regarding the last part of your questions:

[code]

We cannot expect N

[2016-09-21 11:03] selivan opened #4954 "Add limit of number of backup files to file modules with backup option"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

File modules with `backup` option: `copy`, `template`, `lineinfile`, `ini_file`, `replace`.
##### SUMMARY

If you are using `backup` option for a long time, large number of backup files is piled up in config directory:

[code]

In my use case backup files are used to be able to quick-revert manually, if something got wrong. So old files are not

[2016-09-21 11:36] gundalow commented on #4953
needs_info @AnsiNoob Can you please check that the above suggestion addresses your issue and report back?

Thanks

[2016-09-21 11:56] dilippanwar1 commented on #3344
I am facing same issue on Ubuntu Platform with ansible 10.89.3.209
Can you please confirm if it is resolved.

Thanks
Dilip

[2016-09-21 12:17] dagwieers commented on #4792
needs_info

[2016-09-21 13:14] vkruoso commented on #3321
I have seen this problem as well. We run ansible a lot and we can see this error eventually. We always run ansible on VMs that are created using Vagrant, so there is little chance there is a network problem as communication uses local management bridge.

Can we make fact gathering more resilient, or add more debug information to it so we can have better information about the error situation? I wou

[2016-09-21 13:21] gundalow opened #4955 "nxos_nxapi isn't idempotent (in some cases)"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

nxos_nxapi
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

Running the following twice isn't idempotent

[code]
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS
##### ACTUAL RESULTS

[code]

[2016-09-21 13:27] GGabriele commented on #4465
Thanks for your useful reply. I've open 2 PRs to fix mappings into 2.1 and 2.2 modules (assuming `port-security` doesn't need to be mapped for now, since we don't know how it appears from `show feature`)

Regarding your question on NX-API: that's just a way Cisco uses to expose the CLI using HTTP/HTTPS. It simply enables us to send commands to the device in a quicker way compared to SSH and retrie

[2016-09-21 14:43] Shrews commented on #4546
Solved by PR https://github.com/ansible/ansible-modules-core/pull/4574

[2016-09-21 14:43] #4546 closed, assigned to nobody

[2016-09-21 14:49] jbergstroem commented on #4812
Ping! 8 days in triage. Authors mentions ansible core team and Seth Vidal but few of the committers to `add_host.py` seems related. Who do I talk with?

[2016-09-21 15:11] salman1485 commented on #4953
It worked like a breeze! You guys are great! Closing the thread ..

[2016-09-21 15:11] #4953 closed, assigned to nobody

[2016-09-21 15:15] anryko commented on #2576
I have the same issue using "group: name" (ansible version 2.1.1.0) just with one group out of dozens.

[2016-09-21 15:33] carsten-langer opened #4958 "ec2_ami_find fails due missing 'creationDate' when run against a Helion Eucalyptus EC2 cloud"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ec2_ami_find
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

in ./ansible.cfg:

[code]
##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

The `ec2_ami_find` module fails when run against a Helion Eucalyptus EC2 cloud with error on missing 'creationDate'

[code]

Reason is that the Helion Eucalyptus does not report a "creationDate" for images

[2016-09-21 15:51] gundalow commented on #4953
@AnsiNoob Thanks for confirming

[2016-09-21 16:13] salman1485 opened #4959 "ios_config -- unsupported parameter for module: backup -- both yes/no don't work?"
Searched around but does not look like anyone has u
##### ISSUE TYPE

- Bug Report
- Documentation Report

`I'm hoping this is a documentation issue and not a bug but it does look like a bug to me.`
##### COMPONENT NAME

ios_config with option backup
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 6.8
##### SUMMARY

With "backup: yes" under ios_config module a backu