[2015-05-15 17:23] tetherit commented on #1312
I can understand this behaviour with ignore_errors: True - but otherwise, it doesn't make sense. Just like you optimise this for package managers, where you wouldn't want to receive 20 error messages for each package in the list, in my opinion, the same should be done with command/shell.

If a shell script did not finish running successfully, something is wrong, Ansible should stop. Just like when

[2015-05-15 17:29] ryanwalls commented on #1277
+1

[2015-05-15 17:35] ryanwalls opened #1338 "Add support for --device option for docker run command to docker module"
Docker now supports a "--device" option for giving containers access to external devices.  See https://docs.docker.com/reference/run/

[2015-05-15 18:29] briansorahan commented on #125
[code]

I am running [this play](https://gist.github.com/briansorahan/fe64fe5df4c4be4fccac) and seeing the same issue. rax module reports success, but server is not actually deleted.

The server is in a group called staging and if I add `group=staging` to the play it successfully deletes the server, but reports failure:

[code]

[2015-05-15 18:29] ghost opened #1339 "Document AWS IAM policy requirements for ec2.py dynamic inventory"
I'd like to restrict access on my deployment server to only allow the basic requirements for running ec2.py. I've tried restricted policies and always get `You are not authorized to perform this operation.`. Only the most open policy works right now. Also, I've set rds: False in the INI file but am still getting rds instances listed.

Does anyone know of a minimum IAM policy for this to work? Can

[2015-05-15 19:10] tiyberius opened #1340 "Bug Report for RDS Params Group example code"
##### ISSUE TYPE

Documentation Report
##### COMPONENT NAME

rds_param_group module
##### ANSIBLE VERSION

ansible 1.9.1
##### SUMMARY

I'm having trouble creating an RDS Parameter Group. I started with the following example on http://docs.ansible.com/rds_param_group_module.html#examples

[code]

and since I didn't want to set the `auto_increment_increment parameter`, I removed it, so now my code

[2015-05-15 19:21] tiyberius commented on #1340
I also noticed that the code snippet does not work, even when copied and pasted directly into a Playbook. What I've found is that if you run

[code]

AWS rejects the request to create the Parameter Group because the Parameter Group name in the example includes underscores, which as you can see are not allowed.

[code]

The documentation example should be updated to swap out the underscore for a hy

[2015-05-15 20:10] leucos commented on #157
@brandonweiss it is in devel. I currently use it and it WorksForMe™. I guess 2.0.0 is not too far away, but as always, "it will be ready when it will be ready" ;)

[2015-05-15 20:12] brandonweiss commented on #157
That's fine, but why are the docs out-of-sync then :(

[2015-05-15 20:27] leucos commented on #157
I don't know, but I think the docs are for the current release (i.e. 1.9.1), not devel. For instance, you don't have anything regarding the 3 consul modules which are currently in devel.
You can read the doc in the module source, it's not that hard (https://github.com/ansible/ansible-modules-core/blob/devel/cloud/digital_ocean/digital_ocean.py) and should be always 'current', or use `ansible-doc d

[2015-05-15 20:29] bcoca commented on #157
actually docs are from current devel, we are working on splitting into devel and 'last stable'.

docs are not updated automatically, specially for modules, it requires 2 steps: 1 update refs in main repo, issue a 'production docs rebiuld' which we tend to do every week.

[2015-05-15 20:30] brandonweiss commented on #157
Maybe the docs are just wrong, then? For example, it says the `digital_ocean` module uses v2 of the API and the `api_token` parameter, but that doesn't seem to work. I had to use the old `client_id` and `api_key` from v1. Also it says you can use slugs for `size_id`, `image_id`, and `region_id`, but I had to look up the actual integers and use those.

[2015-05-15 20:31] brandonweiss commented on #157
@bcoca Ah, yeah that's what I suspected. Great!

[2015-05-15 22:49] daidoji commented on #475
+1

[2015-05-16 14:12] fbrbovic opened #1343 "Git clone recursive with keys hangs"
Issue Type:

Bug Report.

Ansible Version:

Ansible 1.9.1

Ansible Configuration:

No Changes

Environment:

Centos 7 with tower installed

Summary:

When cloning a repo which has submodules and using an ssh key ansible hangs on the submodule part.
Once I stop the run and log on to the server I see that initial Repo is checked out but not the submodules. Also doing `ps aux | grep git` I see that g

[2015-05-16 18:06] suppix commented on #917
ansible <ip> -m service -a "name=firewalld enabled=no"
ip | success >> {
    "changed": false,
    "enabled": false,
    "name": "firewalld"
}

ip # systemctl is-enabled firewalld
enabled

cat /etc/centos-release
CentOS Linux release 7.1.1503 (Core)

[2015-05-16 21:28] halberom opened #1344 "sysctl bug - yaml dict format in sysctl task with an int value reports 'changed=true' every run."
Issue Type: Bug Report
Ansible Version:

[code]

Ansible Configuration: default

Environment:
mac osx controller using vagrant centos image

[code]

Summary:
Using the yaml dict format in sysctl task with an int value reports 'changed=true' every run.

Steps To Reproduce:
- use the following vagrantfile

[code]
- run the following playbook

[code]

e.g.

[code]
- re-run the playbook

Expected Resu

[2015-05-16 21:31] halberom commented on #1344
Additional thoughts...

The examples in the module docs are key=value parameters.  Which in yaml is essentially a string value, so those work.  Only in the yaml dict structure does this fail as a number is interpreted as an int value.

[2015-05-16 22:20] klj613 commented on #454
just came across this (my instances are in a VPC)

[2015-05-16 23:49] lorin commented on #138
@defionscode looks like @wtcross ported it: https://github.com/ansible/ansible-modules-core/pull/1175

[2015-05-17 03:33] MrMMorris commented on #835
@bennojoy sorry for the slow response. That worked!

[2015-05-18 02:16] Jmainguy commented on #1317
Unable to reproduce using ansible 2.0 on centos7 with mariadb

[code]

[2015-05-18 03:48] Jmainguy commented on #1307
@sysfu added in PR #1345 please give it a shot

[2015-05-18 03:52] bennojoy commented on #1337
@hryamzik could you please add the playbook too...

[2015-05-18 03:55] bennojoy commented on #1339
Hi!

Thanks very much for your interest in Ansible. It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansible-project
If you can stop by there, we'd appreciate it. This allows us to keep the issue tr

[2015-05-18 04:45] alexclifford commented on #895
It looks like something in a later changelog mentions something along the lines of this behaviour but I don't know the exact issue # so I can't link to it. Either way this can be closed as completed.

[2015-05-18 04:45] #895 closed, assigned to nobody

[2015-05-18 05:09] kei-yamazaki commented on #1125
I encountered same problem.
I'm using ansible 1.9.0.1 too.

[2015-05-18 05:57] #835 closed, assigned to nobody

[2015-05-18 06:07] bennojoy commented on #347
fixed via #446

[2015-05-18 06:07] #347 closed, assigned to nobody

[2015-05-18 06:10] #600 closed, assigned to nobody

[2015-05-18 07:08] bennojoy commented on #610
@bkeroackdsc @gmorse81  i am not able to reproduce with the latest 1.9.x codebase, can you please retest with the 1.9.x or latese devel branch

[2015-05-18 08:14] devjatkin commented on #1230
I have proposed #1348 as fix. Main idea is return status of provided package, for example: return postfix package status as status of default-mta

[2015-05-18 10:00] linefeedse commented on #209
Which documentation indicates that the key names have changed to "__slug"?
Dopy still used the "__id" key name and the API itself uses just "image" and "region" without any "_suffix", so slapping on a "_slug" would just introduce a third key name...

[2015-05-18 10:56] bennojoy commented on #516
@rajofchennai  i am not able to reproduce this in 1.9.x, can you please try with the latest devel branch.

[2015-05-18 11:07] bennojoy commented on #795
Closing since the parameter is available now.

[2015-05-18 11:07] #795 closed, assigned to nobody

[2015-05-18 11:14] bennojoy commented on #1095
@rbraley  the ec2_ami_search module is marked for deprecation and replaced with ec2_ami_find which should work with the china region.

[2015-05-18 11:14] #1095 closed, assigned to nobody

[2015-05-18 12:38] bcoca commented on #1344
confirm that PR above fixes your issue

[2015-05-18 14:14] bcoca commented on #1317
I cannot reproduce this, but I did see that collation can only be set on creation, so if I change it after the database is created, it does not update the db. To do so it would need to drop and recreate, which I don't think anyone wants.

[2015-05-18 16:15] sivel opened #1351 "Modules with "old" style module_utils imports"
The following modules are using the "old" style module import `#<<INCLUDE_ANSIBLE_MODULE_COMMON>>` instead of `from ansible.module_utils.basic import *`
- cloud/amazon/_ec2_ami_search.py
- cloud/vmware/vsphere_guest.py
- files/replace.py

[2015-05-18 16:25] sivel opened #1352 "Modules with module_utils imports at the top"
The following modules have their `module_utils` imports towards the top instead of immediately before the call to `main()`.  The reason for pushing those "imports" to the bottom is that they are not real imports and the actual contents of those files are inserted in the location of the "import" statement.  When they appear at the top, it offsets all of the line numbers of the module and makes it d

[2015-05-18 17:51] halberom commented on #1344
fetched, and tested

[code]

Should be type='str' (i.e. quoted).  Raised updated PR.

[2015-05-18 18:01] bcoca commented on #1344
updated with quotes

[2015-05-18 18:06] halberom commented on #1344
With type='str', it works correctly for this error.

I also tested setting a value with quotes, which worked fine if escaped in key=value format

[code]

but I'm not sure what the correct syntax would be if done using yaml dict format, because I couldn't get it to work with " or \".   But that's outside the scope of this error. just thought I'd mention it

[2015-05-18 19:00] #1351 closed, assigned to nobody

[2015-05-18 19:01] abadger commented on #1351
Thanks for checking for these old code styles @sivel!

# Closing This Ticket

Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, a

[2015-05-18 20:23] blackreed9 commented on #1266
While looking at this I found that the check_implicit_admin value, which is treated as a boolean, is not typed or documented as one.

argument_spec() entry:

[code]

what I think we want:

[code]

Either way I suggest the _Options_ section be updated with a _choices_ entry as well as updating the _Note_ ( let me know )

I have a PR for the documentation update ready to go, but then I tripped over

[2015-05-18 21:46] hryamzik commented on #1337
@bennojoy here's a task that partly reproduces the issue:

[code]

It fails with:

[code]

Command-line equivalent runs fine:

[code]

I've no idea why the message here is different, my original test environment is a bit complicated to post here, I'll try to make a simplified one tomorrow.

[2015-05-18 22:14] hryamzik commented on #1337
Man, that was simple!

[code]

Dockerfile:

[code]

And here we go:

[code]

[2015-05-19 02:11] Jmainguy commented on #1226
@seschwar Give PR #1358 a shot and see if that works, its a copy of @escaped's work. Seemed to work for me.

[code]

[2015-05-19 02:12] sysfu commented on #1307
Tested successfully and problem solved. Thank you very much.

[2015-05-19 02:12] #1307 closed, assigned to nobody

[2015-05-19 03:04] Jmainguy commented on #1142
@detiber give #1359 a shot, I went for erroring out if longer than 64 chars, I would rather the module fail than succeed with a shorter name and possible confuse the admin later.

[code]

[2015-05-19 03:08] Jmainguy commented on #1267
@karpy47 would you rather have that long message + the exception, or just the exception?

[2015-05-19 03:20] Jmainguy commented on #1116
Suppose we could have ansible sed the file first and remove any blank lines, ^$, and then run the normal python stuff. @mscherer @xrow @bcoca, what do you guys think? Worth coding in?

[2015-05-19 03:24] Jmainguy commented on #1035
@bcoca @logicalmethods @blackreed9, adding this in should be trivial, I can give it a shot if yall believe this module should support gunzipping, what do yall think?

[2015-05-19 04:04] astorije opened #1360 "The git module does not update the repository location"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

Nothing relevant.
##### Environment:

Host machine: Ubuntu 14.04
Managed machine: Debian Wheezy
##### Summary:

Changing the repo location does not update the `git remote` accordingly.
##### Steps To Reproduce:

Considering `repo` has never been cloned yet, run

[code]

`ssh` the hosted machine and then run

[2015-05-19 05:52] achanda opened #1361 "Quantum should be renamed to neutron"
Some core modules are still named `quantum_*`, they should be renamed to `neutron_*`. I will be happy to work on this.

[2015-05-19 06:24] bennojoy commented on #1361
@achanda  thanks, there is some work already done towards this.. https://github.com/ansible/ansible-modules-extras/pull/92

[2015-05-19 07:41] patlachance opened #1362 "ec2_vol: Commit 6b27cdc break some use case"
Commit 6b27cdc08eba5f2ff817b4e0470dd4b6034012c7 changed the volume creation logic to "find and name" volume at creation time but it breaks some use cases when name is not specified and more than one volumes are present with no name tag.

[2015-05-19 07:43] karpy47 commented on #1267
Not sure, in general the more info the better, but depends on the detail and readability of the exception message. The "long message" might give better help for the most common reason of failure.

A long message + exception seems like a good idea. Don't know if you have some standard on error reporting, but it would be good to somehow know that the exception message is a python message, ie not muc

[2015-05-19 07:45] bennojoy commented on #1343
@fbrbovic  i am not able to reproduce this with 1.9.1 or the latest devel branch, can you please try manually cloning the repo with the key and user that is used in the playbook and check if that works.

[2015-05-19 08:21] bennojoy commented on #1362
@patlachance  can you please attach the task that works before the commit and fails after the commit, from the code it seems like even before the commit if a name is not specified and multiples volumes exists in the AZ it would still fail

[2015-05-19 08:22] achanda commented on #1361
@bennojoy The PR you linked does address my concern here. Closing this ticket.

[2015-05-19 08:22] #1361 closed, assigned to nobody

[2015-05-19 08:52] patlachance commented on #1362
@bennojoy : please find below the code that was working before and is broken by commit 6b27cdc.
Note that I also [proposed a fix](https://github.com/ansible/ansible-modules-core/pull/1363) this morning.

Failure arise when there are more than one volume without a name tag present in EBS
- name: Attach an EBS bootdisk volume to instance
  ec2_vol:
     region: "{{ region }}"
     zone: "{{ zone }}"

[2015-05-19 12:49] bcoca commented on #1035
technically compressed files are not archives, this is confused by the zip format which is both archive and compression. But from the usability I can see this as an option, though I'm tempted to just have an 'extract/expand' module instead that can do it all.

[2015-05-19 14:02] blackreed9 commented on #948
If you change your _state_ from _latest_ to _present_ it should work.

Since you're passing a URL with a specific version _present_ is probably the correct value.

_present_ just passes the URL to yum while _latest_ is looking for a package name and tries to use tools like repoquery which doesn't take package URLs

[code]

[code]

[code]

[2015-05-19 14:23] sky-shiny opened #1364 "Openstack: global name 'HAVE_NOVACLIENT' is not defined"
Creating a keypair fails with latest branch.

[code]

[2015-05-19 14:38] sky-shiny commented on #1364
https://github.com/ansible/ansible-modules-core/pull/1365

[2015-05-19 14:50] bcoca commented on #1364
fixed via https://github.com/ansible/ansible-modules-core/commit/5011593ee398895d25c8078f3bf073442f4fa33d

[2015-05-19 14:50] #1364 closed, assigned to nobody

[2015-05-19 14:52] crccheck commented on #940
Another possible workaround: I'm doing the pull via `shell` and retagging the image locally so ansible can use its normal logic:

[code]

Repeated pulls and tags are fast enough where it doesn't matter to me

[2015-05-19 15:00] #1344 closed, assigned to nobody

[2015-05-19 20:18] #1266 closed, assigned to nobody

[2015-05-19 20:26] batmat commented on #191
+1. We use the service module to restart Docker after we've updated its config (to add things like or internal registry, http proxy conf, etc.) and currently _status=restarted_ will just be insufficient.

IMO, as I read above and agree, this does not feel right. Ansible should just hide that complexity and do the right thing: restart the service (and implicitly: make it usable with its new config,

[2015-05-19 21:30] ploxiln opened #1369 "s3 plugin not compatible with boto package in ubuntu-14.04"
I used the repo package "python-boto" from ubuntu-14.04, and it was apparently too old. So it was able to import boto, but then failed:

[code]

Perhaps ansible would like to support the standard repo packaged boto on ubuntu 14.04?

[2015-05-19 21:31] ploxiln commented on #1369
I should mention, ubuntu-14.04 packages boto 2.20.1 as python-boto-2.20.1-2ubuntu2

[2015-05-19 22:15] cmutzel opened #1370 "cloudformation module throws error when stack is gone and state=absent"
cloudformation module should return 'ok' if state= absent and stack does not exist (=absent).

Instead, the module throws an error:

failed: [ensure stack is gone] => {"failed": true}
msg: Stack with id <the stack name> does not exist

Have not yet verified this, but looks like exception is being thrown in cfn.describe_stacks:
if state == 'absent':
        try:
            invoke_with_throttling_r

[2015-05-19 22:28] ploxiln opened #1371 "stat module documentation claims checksum and md5 are boolean"
This is in latest master.

checksum and md5 are strings (of hex chars), when they are present.

[2015-05-19 22:30] ploxiln commented on #1371
I'll go ahead and quote the documentation source:

[code]

"type" and "sample" are wrong

[2015-05-20 03:13] bennojoy commented on #1369
Hi!

Thanks very much for your interest in Ansible. It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansible-project
If you can stop by there, we'd appreciate it. This allows us to keep the issue tr

[2015-05-20 03:13] #1369 closed, assigned to nobody

[2015-05-20 08:41] soltiz commented on #90
Not fixed in 1.9

[2015-05-20 08:48] soltiz opened #1372 "Service module enabled parameter still not working on Ubuntu in 1.9"
Same description as Issue #90 , which was closed on 1.8 because expected to be fixed in 1.9
Ansible version : 1.9.1
Targetted system : Ubuntu 14.04.01 LTS

Two not normal behaviour :
1) when re-enabling a disabled service, nothing happens. (Exemple :
apt-get install apache2
service: name=apache2 enabled=false ==> This applies the required change
service:name=apache2 enabled=true ==> This does noth

[2015-05-20 08:51] olvesh opened #1373 "Docker module crashes"
Issue Type: Bug Report.

Ansible Version: Ansible 1.9.1

Ansible Configuration: No Changes

Environment: Ubuntu Trusty (from Mac OSX master)

Summary:

Is this bug ansible/ansible#7363 reintroduced somehow?

[code]

After removing a few images in docker it worked again (`docker rm 8a1b8314f2f9 133eb0117f4e`).

[code]

The offending part of generated python file on the host was (i added [l 1122] fo

[2015-05-20 09:18] soltiz commented on #1372
Issue closed because not reproduced on a clean ansible setup (mix of two version of core modules were installed on faulty server)

[2015-05-20 09:18] #1372 closed, assigned to nobody

[2015-05-20 09:24] soltiz opened #1374 "Service module --check mode applies "enabled=" change on Ubuntu 14.04 instead of just checking"
check mode flag seems to be ignored when using enabled=  feature of service module
used version is ansible 1.9.1
target system uses UBUNTU 14.04.01 LTS

ubuntu@dummy:~$   ll /etc/rc_.d/_apache2
lrwxrwxrwx 1 root root 17 mai   20 09:20 /etc/rc0.d/K20apache2 -> ../init.d/apache2*
lrwxrwxrwx 1 root root 17 mai   20 09:20 /etc/rc1.d/K20apache2 -> ../init.d/apache2*
lrwxrwxrwx 1 root root 17 mai   20 0

[2015-05-20 09:32] olvesh opened #1375 "Docker module requires image name on restart"
Issue Type: Bug Report.

Ansible Version: Ansible 1.9.1

Summary:

 `ansible -m docker -a "state=restarted image=gliderlabs/registrator" docker`
works as expected, but
 `ansible -m docker -a "state=restarted name=registrator" docker`
fails with

[code]

Although:
`ansible -m docker -a "name=registrator state=restarted image=bogus" docker`
works - meaning the image argument is not used when restart

[2015-05-20 10:13] sameergautam opened #1376 "Documentation needs to be updated"
I am writing in reference to the ec2_ami_find module. The documentation says

[code]

However, the following example in the documentation uses only

[code]

So update the documentation accordingly.

[2015-05-20 11:26] infernix commented on #875
I just checked out current ansible HEAD with core rev 85c8a892c80b92730831d95fa654ef6d35b0eca0 but this is still happening, despite 939ecd33d4a6706e7ed3d021043143ebff177f8b showing up in the git log.

[2015-05-20 14:08] mtekel opened #1377 "Bug Report: Output of copy truncated"
##### Issue Type: Bug Report
##### Ansible Version: 1.9.0.1
##### Ansible Configuration: Default
##### Environment: Default Ubuntu 14.04
##### Summary: Output of copy module is truncated

When you try to output a key file (rsa/pub/etc.), the output gets truncated after -----BEGIN
##### Steps To Reproduce:

define variables:

[code]

Render them using:

[code]
##### Expected Results:

Expected resu

[2015-05-20 15:11] bhcopeland opened #1379 "lineinfile and newlines causing duplicated entries"
Issue Type:

Bug Report

Ansible Version:

ansible 1.9.1 - Arch Linux 1.9.1-1

Ansible Configuration:

[code]

Environment:

Arch Linux
Deploying to Ubuntu 14.04

Summary:

When using newlines /n with lineinfile, it will duplicate lines. Whilst if I use it without \n it only adds it once.

Steps To Reproduce:

[code]

I will get duplicated lines.

[code]

Expected Results:

[code]

Once at the bot

[2015-05-20 15:15] sivel commented on #1379
Is `/n` something special for monit?  I'm assuming you want a newline?  A newline is `\n`.  Not that this change fixes the problem, I can't claim that.

[2015-05-20 15:16] aioue opened #1380 "vsphere_guest vm_disk 'type' parameter is silently ignored"
##### Issue Type:

Bug Report
##### Ansible Version:

1.9.1
##### Ansible Configuration:

n/a
##### Environment:

OS X 10.10.3, vCenter 6
##### Summary:

Input to vsphere_guest module, vm_disk 'type' parameter is ignored. Does not throw errors for bad input.
##### Steps To Reproduce:

Run module with this input:

[code]
##### Expected Results:

Error saying 'funkyChicken' is not a valid disk type.

[2015-05-20 15:17] bhcopeland commented on #1379
Yeah,  I meant `/n`, not `\n`. My bad.

[2015-05-20 16:44] aioue opened #1381 "Mutiple inputs to vsphere_guest module are silently ignored when launching from a template"
[![Bountysource](https://www.bountysource.com/badge/issue?issue_id=16226901)](https://www.bountysource.com/issues/16226901-mutiple-inputs-to-vsphere_guest-module-are-silently-ignored-when-launching-from-a-template?utm_source=16226901&utm_medium=shield&utm_campaign=ISSUE_BADGE)
#### Issue Type:

Bug Report
#### Ansible Version:

1.9.1
#### Ansible Configuration:

n/a
#### Environment:

OS X 10.10.3

[2015-05-20 17:12] aioue commented on #1381
Updated to reflect more than 1 param is ignored when using template. Templates appear to silently override all of the Ansible module settings.

[2015-05-20 17:25] DanielFurze commented on #898
It's working correctly now using ansible 1.9.1 with the latest windows 2008 r2 ami: ami-c1d1b0b6.

I downgraded to 1.8.4 and experienced the same issue again so I guess we can mark this as fixed now?

[2015-05-20 18:38] jhawkesworth commented on #898
Great, thanks for retesting.

Jon
On May 20, 2015 6:25 PM, "Dan" notifications@github.com wrote:

[2015-05-21 00:47] abadger commented on #1377
Ansible has two means of specifying parameters to modules in playbooks.  The form you're using above is called key-value parameters and mimics the style that you can pass to /usr/bin/ansible on the commandline.  The other is via a yaml dictionary.

It appears that the problem you're reporting is only occurring with key-value parameters.  So a workaround that I've tested working with your samples i

[2015-05-21 00:47] #1377 closed, assigned to nobody

[2015-05-21 03:22] abadger commented on #1379
Unfortunately, lineinfile isn't intended to work with multiple lines. http://docs.ansible.com/lineinfile_module.html

As the documentation says, template or replace may be better modules for you to look into.  I have also used multiple lineinfile tasks one right after the other when the lines I was adding were very simple.

You can hit up the mailing list if you need more help constructing a set o

[2015-05-21 03:22] #1379 closed, assigned to nobody

[2015-05-21 07:55] muelli opened #1386 "mysql user fails when the hostname has capital letters"
According to https://github.com/debops/debops/issues/113, a puppet-esque workaround would be for ansible to lower the hostname before entering it into the database. Right now, neither `user_exists` nor `user_add` do not lower the hostname: https://github.com/ansible/ansible-modules-core/blob/devel/database/mysql/mysql_user.py#L210

[2015-05-21 08:20] MikeN123 opened #1387 "service module enable/disable does not work properly with sysv init scripts"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.9.1
  configured module search path = None
##### Ansible Configuration:

Nothing.
##### Environment:

Mac OS X client running against a Debian 8.0 (jessie) host.
##### Summary:

The service module uses `systemctl is-enabled` to check service state on a systemd enabled system, which does not work for sysv services (at least not on Debi

[2015-05-21 13:13] Jmainguy commented on #1376
#1389 has been created to fix this issue. @sameergautam on a side note, the documentation is generated from the code on github, you can create a PR to fix an easy one like this. Thank you for reporting this error.

[2015-05-21 13:26] Jmainguy commented on #1386
So it creates the user using lowercase already, but it doesn't check if the lowercase name is created already, so it tries to create it again on subsequent runs. The fix will be to change the checking portion of the code, user_exists presumably. This was tested on centos6.

[code]

[2015-05-21 13:40] Jmainguy commented on #1386
@muelli give #1390 a shot and see if it works for you.

Seems to work for me on centos now.

[code]

[2015-05-21 13:56] Jmainguy commented on #1232
I am not convinced this is a bug. A server can be subbed to multiple yum repos, some of which may be unavailable, I would not want the module to fail if one of the many was unavailable.

However I could see the value in the module failing if no yum repos are available (including satellite subcription's as well I suppose).

What do you think @tarheeljeff . When would you prefer the module to fail?

[2015-05-21 14:15] abadger commented on #1376
# Closing This Ticket

Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!foru

[2015-05-21 14:15] #1376 closed, assigned to nobody

[2015-05-21 14:17] abadger commented on #1386
# Closing This Ticket

Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!foru

[2015-05-21 14:17] #1386 closed, assigned to nobody

[2015-05-21 14:26] abadger commented on #940
Forgive me, I was on vacation and just now getting back to this.  From the notes about things working with `insecure_registry: yes` it looks like your registry is (perhaps mistakenly) accepting http connections and not https.  So I think ansible's code is fixed at this point but for anyone encountering this problem, there is the need to puzzle out what their registry, docker server, and any proxy

[2015-05-21 14:26] #940 closed, assigned to nobody

[2015-05-21 15:34] xrow commented on #1116
This would have worked for my case.

[2015-05-21 16:25] gsatliawol opened #1391 "vsphere_guest reconfigure powers on VM"
Issue type: Bug Report

Ansible  Version:  ansible 1.9.1

Ansible Configuration:

n/a

Environment:
CentOS 6 -> ESX 5.0.0

Summary:

Reconfiguring a VM also powers on a powered off VM.

Steps to Reproduce:

Running the following play:

[code]

Expected behaviour: VM is reconfigured, but left powered off

Exhibited behaviour: VM is reconfigured but unexpectedly powers on!

[2015-05-21 22:18] ryanwalls opened #1393 "Add support for --log-driver option for docker run command to docker module"
This will enable features like logging to syslog from docker containers.  It is in Docker version 1.6.0+.

[2015-05-22 04:19] manojtr commented on #1297
This is even happening with /bin/bash shell. The issue is only when transferring large files. Ansible fetch is very inconsistent in my opinion. It works for some files but it doesn't work for other files.

[2015-05-22 04:35] manojtr commented on #1297
When I use "ansible_shell_type=csh" as a playbook var I get this. It is neither download the file nor fail!!!

ok: [somehost] => {"changed": false, "file": "/foo/bar.tar", "msg": "unable to calculate the checksum of the remote file"}

[2015-05-22 05:30] astorije opened #1395 "The assemble module does not have a validate option"
##### Issue Type:

Feature Idea
##### Ansible Version:

N/A
##### Ansible Configuration:

N/A
##### Environment:

N/A
##### Summary:

It seems to me that [the `assemble` module](http://docs.ansible.com/assemble_module.html) can be used for similar purposes as the [`template`](http://docs.ansible.com/template_module.html), [`lineinfile`](http://docs.ansible.com/lineinfile_module.html), [`copy`](htt

[2015-05-22 05:33] bennojoy commented on #1089
@tiyberius probably what you need would be to try this PR https://github.com/ansible/ansible-modules-core/pull/1137 to create a cache_subnet_group with the subnet_ids of the vpc that you created above and then pass that subnet group name to ' cache_subnet_group' parameter and things should work fine, can you please give it a try..

[2015-05-22 09:32] ghost opened #1396 "Add check= to shell & command modules or a generic check: to all modules"
Countless of times, I need to create two blocks of command or shell actions.
One to check the status of the system (and register it to an ansible variable) and
One to execute the command if really needed.

My idea is to add a check= option to both command and shell core modules
so you can combine both actions in one. This will make playbook/task shorter.

In bash, I like to do things like
test -f

[2015-05-22 10:19] olvesh opened #1397 "Add support for port ranges to the Docker module"
##### Issue Type:

Bug
##### Ansible Version:

ansible 1.9.1
##### Environment:

Master Mac OSX to Ubuntu Trusty hosts and docker 1.6.2
##### Summary:

Docker supports port ranges, e.g. by specifying '-p 9300-9400'. When trying this with ansible I get:

[code]
##### Steps To Reproduce:

Try the following play:

[code]
##### Expected Results:

A working and running docker image
##### Actual Results

[2015-05-22 10:34] olvesh commented on #1397
Workaround:

[code]

[2015-05-22 12:14] ghost opened #1400 "Improve lineinfile's line= option with groups/groupdict extracted from regexp="
##### ISSUE TYPE

Feature Idea
##### COMPONENT NAME

lineinfile module
##### ANSIBLE VERSION

N/A
##### SUMMARY

I propose to improve lineinfile's line= option with .groups() .groupdict()
extracted from regexp=.

The goal is to replace part of the line with variables defined in regexp=
within the parentheses.

So ansible will support {{1}}, {{2}}, {{3}},  {{var_name}}, etc. inside line= option.

T

[2015-05-22 12:58] ghost commented on #1396
At the end this can be even more generic and you can add
"check: " to all Ansible modules as a core function!

 name: deploy cron file
    action: template src=cron.d/postfix.j2 dest=/etc/cron.d/postfix
    check: test -d /var/spool/postfix
    when: check.rc == 0

name: change hostname in postfix configuration
    shell: postconf -e "myhostname={{inventory_hostname_short}}"
    check: postconf my

[2015-05-22 14:20] pavetok commented on #594
Same thing with centos 7 and ansible 1.9.1
It works with centos 7 and ansible 1.8.4
I can't migrate to ansible 1.9.1 :)

env:
docker-py==1.1.0
Docker version 1.4.1-dev, build d26b358/1.4.1

my results with verbosity:

[code]

[2015-05-22 14:29] mtekel opened #1401 "Bug Report: Output of copy modified"
##### Issue Type: Bug Report
##### Ansible Version: 1.9.0.1
##### Ansible Configuration: Default
##### Environment: Default Ubuntu 14.04
##### Summary: Output of copy module is altered

Following on after #1377, when I change copy module configuration to structured map, there are issues with backslashes in variable values, see below:
##### Steps To Reproduce:

define variables:

[code]

Render the

[2015-05-22 15:11] abadger commented on #1297
@manojtr if you are having this happen with /bin/bash then it is a different issue.  opening a new issue with all of the details to reproduce (and including the fact that you're using /bin/bash so that we don't mistake it for a duplicate of this bug :-) would be good.

People may not see additions to this bug report as it's been closed.

[2015-05-22 15:13] bcoca commented on #1401
for these kind of things you might want to switch to template, copy's content is not intended for this type of usage.

[2015-05-22 15:28] mtekel commented on #1401
Yes, in the end I had to use template as a workaround. Nevertheless I'd at least expect copy to error/complain rather than just modify the content...

[2015-05-22 15:42] bcoca commented on #1401
copy itself is not to blame it happens that you are filtering that content through several parsers and each 'interprets' things in a way that ends up modifying your use case.

[2015-05-22 15:47] mtekel commented on #1401
In that case I think it's worth finding out where exactly it broke as it can be affecting many more things then...

[2015-05-22 16:53] razvanphp commented on #74
+1

The strange thing is that in my case, I have enough free space, so I don't understand why the error is there..

[2015-05-22 17:33] aioue commented on #1380
The code itself *is* ignoring everything apart from RAM and CPU during a reconfigure so I've submitted a PR for the docs. https://github.com/ansible/ansible-modules-core/pull/1403

The code should either be updated to actually reconfigure disk size, and NIC networks etc, or tell you that you can't do it when suppling more than just RAM and CPU changes.

[2015-05-22 17:48] aioue commented on #1381
The code itself _does_ ignore all hardware and metadata settings when creating a VM from a template so I've submitted a PR for the docs. #1403

The code should be updated to actually allow guest customisation at launch (disk size, NIC network, static IPs, mounted ISOs etc), as you can do it in the UI.

[2015-05-22 18:18] aioue commented on #218
Proposed documentation fix until full reconfigure functionality is added to the module.
https://github.com/ansible/ansible-modules-core/pull/1403

[2015-05-22 18:19] aioue commented on #335
Proposed documentation fix until full reconfigure functionality is added to the module.
https://github.com/ansible/ansible-modules-core/pull/1403

[2015-05-22 18:20] aioue commented on #692
Proposed documentation fix until full reconfigure functionality is added to the module.
https://github.com/ansible/ansible-modules-core/pull/1403

[2015-05-22 18:27] aioue commented on #980
Proposed documentation fix until full reconfigure functionality is added to the module.
https://github.com/ansible/ansible-modules-core/pull/1403

[2015-05-22 20:03] trondhindenes opened #1404 "issues with win_copy"
Playing around with win_copy, I'm noticing these issue:
 'src=file.txt dest=C:\file.txt': OK on new file, OK on existing, FAILS on changed (reports unchanged)
"src=file.txt dest=C:/file.txt": Same as above
"src=file.txt dest=C:\": FAIL (seems like the \" combination doesnt escape properly on linux)
"src=file.txt dest=C:/": OK on new file, FAIL on existing ("path is not a file"), FAIL on changed (r

[2015-05-22 22:50] mkoshelev commented on #1404
win_copy.ps1 needs to be patched to detect changes:

[code]

[2015-05-22 23:03] Jmainguy commented on #1116
@xrow give #1406 a shot

[2015-05-22 23:06] trondhindenes commented on #1404
A lack of checksumming would explain my two first fails. If we continue to only require PSv3 I'm not sure Get-FileChecksum would work, as that cmdlet isn't available on Win2008R2 (this needs to be verified). Tapping into .Net to create a custom checksum function shouldn't be too hard.

For the other bugs, the PowerShell module needs to check if the dst value is a container or file (leaf), in combi

[2015-05-23 01:35] Jmainguy commented on #1374
@soltiz give #1407 a shot. Seems to work for me.

[2015-05-23 01:48] Jmainguy commented on #1163
@feuerbach Can you show the whole command you passed to create this error?

[2015-05-23 02:17] Jmainguy commented on #873
@hackeron works for me, can you try with latest devel?

this is my ansible.cfg

[code]

[2015-05-23 02:21] Jmainguy commented on #861
Works for me on devel 2.0

[code]

Give devel a shot @jupiterh

[2015-05-23 02:30] tetherit commented on #873
I managed to solve the issue by adding this to ansible.cfg:

[code]

Also Ansible wait_for seems unaware of the ssh port number, so I also had to do this:

[code]

[2015-05-23 02:30] #873 closed, assigned to nobody

[2015-05-23 03:23] Jmainguy commented on #826
@JorisVanEijden give #1408 a shot. It fails on CentOS 5 now.

[2015-05-23 16:57] eparis opened #1409 "yum module cannot handle @Group in with_items"
$ ansible --version
ansible 1.9.0.1
## Fails

[code]
## Works

[code]

[2015-05-23 16:58] eparis commented on #1409
[code]

[2015-05-23 17:10] Jmainguy commented on #1409
@eparis you got to qoute the qoutes basically

[code]

[2015-05-23 19:46] JorisVanEijden commented on #826
I checked and tested and it works.
Hope to see this in a future release.

I also noticed that I was wrong about the rpm_key. That does work with urls.

[2015-05-23 19:59] jody-frankowski opened #1410 "Git Module StrictHostKeyChecking"
I think the git module should have the ssh option StrictHostKeyChecking default to "yes" instead of "ask". Instead of the module hanging and having users check the module documentation, we could have ansible issue a warning/error.
The option "accept_hostkey" would of course stay.
What do you think?

[2015-05-23 22:09] jhawkesworth commented on #1404
I am away from any devices which have a physical keyboard at the moment so can't dig into this at the moment but I think there are a couple of observations I can make.

1/ I think “c:\“ won't work because \ has special meaning in yaml.

A 2 if I recall (and it is quite a long time since I worked on these modules, Get-FileChecksum is in the common powershell functions and is a wrapper around dotnet

[2015-05-24 08:48] xrow commented on #1116
I thanks I will try this for sure once it is available in my version from EPEL.

[2015-05-24 09:55] leucos opened #1412 "digital_ocean: private_networking broken with dopy==0.3.5"
In the 0.3.5 version, dopy changed arguments order in `new_droplet`, inserting `ipv6` before `private_networking` (https://github.com/devo-ps/dopy/issues/27).

As a result, and since `digital_ocean`module is using plain arguments (https://github.com/ansible/ansible-modules-core/blob/devel/cloud/digital_ocean/digital_ocean.py#L242), it can not create a droplet with private networking enabled with d

[2015-05-24 13:38] martin-c opened #1413 "acl module fails on SmartOS"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.9.1
##### Ansible Configuration:

Nothing significant
##### Environment:

SunOS 5.11 joyent_20150306T202346Z i86pc i386 i86pc Solaris
##### Summary:

Using the acl module fails because --omit-header and --absolute-names are not supported under SmartOS.
##### Steps To Reproduce:

Use acl module on SmartOS target.
##### Expected Results

[2015-05-24 14:00] martin-c commented on #1413
Looks like ACL support on SmartOS is more complicated than getfacl and setfacl when using ZFS:
https://smartos.org/man/5/acl
Based on this document, chmod should be used for setting NFSv4 acls.

[code]

[2015-05-25 02:30] bennojoy commented on #1410
Hi!

Thanks very much for your interest in Ansible. It sincerely means a lot to us.

The default was made to 'ask' for security reasons, so that you don't end up cloning your repo from another host.
Also This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

IRC: #ansible on irc.freenode.net
mailing list: https://groups.goo

[2015-05-25 02:30] #1410 closed, assigned to nobody

[2015-05-25 05:25] franklinwise opened #1415 "s3 - add ability to delete object"
one can delete a whole bucket, thereby deleting all the objects inside... seems to make sense to allow the deletion of a single file (key).  The method is event implemented, just not exposed.

delete_key()

[2015-05-25 08:55] leucos commented on #1412
@bennojoy This is fixed upstream in dopy 0.3.6. May be a note should be added stating that dopy >= 0.3.2 (except 0.3.5) is required ?

[2015-05-25 11:26] jody-frankowski commented on #1410
It wasn't a question but a suggestion.
The module would still be secure. Take the case where StrictHostKeyChecking defaults to yes:
- If ssh knows the host key: all is good, security is ensured.
- If ssh doesn't know the host key:
  - If accept_hostkey equals to no (default): ssh won't accept the host key. Ansible can issue a warning. Security is ensured. All is fine.
  - If accept_hostkey equals

[2015-05-25 11:42] sitamet opened #1416 "Docker Module parameter state=start always replaces the container"
#### Issue Type: Bug Report

Ansible Version: 1.9.1
#### Module: docker - manage docker containers
#### Summary:
##### Case1: container with a running process

Start a container, then stop, then start => container is replaced
##### Case2: container with an exiting process

Start a container, start same container again => container is replaced
#### Steps To Reproduce:
1. Run this:

[code]
1. Run a

[2015-05-25 17:38] g-- opened #1419 "Yum can't downgrade packages"
As of 1.9.1, the yum module can't downgrade packages.

I saw a 77e66cb01e9121e5fcbdc08e87d248c21bdad497 attempting to fix this, but it had to be reverted in d77f1976a6cbf30cd2284817e92a838f7f7e47ef .

(I don't know the story behind the revert, and I couldn't find an open bug or public discussion.. so I'm opening an issue!)

[2015-05-25 21:03] echiu64 opened #1420 "S3 lifecycle support (feature request)"
Looking to implement lifecycle support into the s3 module, thoughts?

[2015-05-26 07:02] dexterbt1 commented on #792
+1 to this

[2015-05-26 11:41] jfindley opened #1421 "Unable to use env in docker module (v2.0.0)"
When using env in the docker module, I get the error:

`msg: argument env is of invalid type: <type 'dict'>, required: list`

The playbook looks like this:

[code]

[code]

[2015-05-26 14:17] bcoca commented on #1233
@cmacrae reload in the other cases implies a 'refresh' of the sysctl.conf file, not just of the parameters passed (which should already be applied).

[2015-05-26 15:06] bcoca commented on #873
wait_for has no special magic for host or port info, so your example is a good way to tell it about it.

[2015-05-26 15:39] bcoca commented on #1374
closing this per merged #1407

[2015-05-26 15:39] #1374 closed, assigned to nobody

[2015-05-26 15:54] #749 closed, assigned to nobody

[2015-05-26 15:55] #1230 closed, assigned to nobody

[2015-05-26 16:47] grahamrhay commented on #191
We've recently started moving to Debian 8, and therefore systemd; and simply restarting the service is no longer sufficient, if the unit file has changed. Some way of forcing daemon-reload, implicitly or explicitly, would be useful.

[2015-05-26 17:35] ericwb opened #1424 "glance_image ignores min_ram and min_disk parameters"
The documentation for the glance_image module states you can pass min_ram and min_disk, but in fact neither of these options are used.

Search for 'min_ram' and you'll notice only two places (in doc section and to read from args).
https://github.com/ansible/ansible-modules-core/blob/devel/cloud/openstack/glance_image.py

[2015-05-26 19:19] #1371 closed, assigned to nobody

[2015-05-26 19:51] twneale commented on #1343
I'm having the same issue with ansible-playbook 1.8.4 on RHEL 6.4, only without even the recursive or ssh key options:

[code]

This one hangs forever after printing:

failed: [devlx105.private.cows.com] => {"failed": true}
msg: Unable to determine hashes of submodules

[2015-05-26 21:18] bcoca commented on #1420
note: lifecycle controls object archiving and expiration on s3, module should be able to associate preexisting profile.

another issue is creating/managing lifecycle profiles, might be worth another module.

[2015-05-26 21:25] bcoca commented on #861
i cannot reproduce this issue, do you have any more information?

[2015-05-26 21:28] echiu64 commented on #1420
I'll try my hand at writing a different module... i looked at the s3 code, i thought it might be a better idea as well

[2015-05-27 00:01] joshuacox opened #1425 "docker module fails as it appears to start two containers with same name"
Running the following playbook results in failure with docker complaining about another container already named rabbitmq, but there was no such container in the first place, and when I go in and `docker rm` whichever container it is complaining about it still results in the same error.  In fact, if I don't go in and `docker rm` same result in any case.

Of note this is only with the following rabb

[2015-05-27 02:09] joshuacox commented on #1425
after building on a different host without issue, I began to investigate more.  I noticed some AUFS errors on the host, and decided to pull the trigger and give overlay a shot I upgraded the kernel, and changed the docker opts to include '-s overlay' now the issue has disappeared.  I suspect there is still an issue with the docker module though in that if a docker run command fails on a named cont

[2015-05-27 12:58] hyvs commented on #461
Any news about this feature ?

[2015-05-27 13:26] bcoca commented on #461
I have no info of anyone working on it yet

[2015-05-27 14:22] nervo commented on #461
ping @mpdehaan ?

[2015-05-27 14:33] echiu64 commented on #1420
Here are some proposed YAML examples for how lifecycle would work... i'll work to build out something similar first:

[code]

[2015-05-27 14:44] mavit opened #1427 "user module: Can't pass groups as a list"
##### Issue Type:

Bug report/feature request.
##### Ansible Version:

[code]
##### Environment:

Host is Solaris 11.  Target is Solaris 10.
##### Summary:

The `groups` option to the `user` module can only take a string containing comma-separated group names.  If you try to pass a YAML list, it fails.

This behaviour is as-documented, but the error message for getting it wrong is misleading.
####

[2015-05-27 15:00] bennojoy commented on #516
@rajofchennai friendly ping to check if you were able to reproduce this..

[2015-05-27 15:58] jhawkesworth commented on #1404
Ok I'm working on PRs to fix this up.

Get-FileChecksum is in module_utils/powershell.ps1.

Part of the problem at least is that it is not always returning a string, when it should.  So I will fix that and then the module code won't need lots of [string] casts each time Get-FileChecksum is used.

[2015-05-27 16:23] bcoca commented on #1232
make it configurable?

[2015-05-27 17:04] #1302 closed, assigned to nobody

[2015-05-27 18:03] cmacrae commented on #1233
@bcoca Cool, ok - so would the pseudo code I provided in [my comment above](https://github.com/ansible/ansible-modules-core/issues/1233#issuecomment-100522041) be somewhere in the ballpark for a solution?

[2015-05-27 18:14] MrMMorris commented on #1277
@bobrik I can't find any PR's from you on this. If you have a patch I would LOVE this functionality as I don't name my containers and need to differentiate with Prometheus.

Let me know if there is a PR I can throw a fat +1 at :yum:

[2015-05-27 18:31] bcoca commented on #1233
kind of, it seems a bit brute force to run through the file

[2015-05-27 20:38] echiu64 commented on #1420
Can't help but think i'll be writing an s3_fact module soon after as well...

[2015-05-27 22:26] MrMMorris opened #1428 "[Feature] Docker module provide moar useful output"
**Issue Type:**
Feature Request

**Summary:**
Provide more info from docker module output such as IP/port

**Steps to Reproduce:**

[code]

**Expected Results:**

[code]

[code]

**Actual Results:**

[code]

[2015-05-27 22:38] MrMMorris commented on #1428
@smashwilson ping :)

I'm not very useful python-wise (yet) but I did find this snippet: https://github.com/docker/openstack-heat-docker/blob/master/plugin/docker_container.py#L141-L148

[2015-05-27 23:31] smashwilson commented on #1428
This actually _just_ bit me in a different context :grin:

I'm trying to hit a deadline this week, I'll see if I get a chance to :wrench: the next.

[2015-05-27 23:32] MrMMorris commented on #1428
@smashwilson you're amazing, thanks!

[2015-05-27 23:33] MrMMorris commented on #1277
@smashwilson this would also be nice if you have time :smile:

[2015-05-28 02:40] abadger commented on #616
This has been fixed.

# Closing This Ticket

Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.g

[2015-05-28 02:40] #616 closed, assigned to nobody

[2015-05-28 02:42] abadger commented on #369
#45 has been merged so going to close this now.

# Closing This Ticket

Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appr

[2015-05-28 02:42] #369 closed, assigned to nobody

[2015-05-28 03:24] Jmainguy commented on #225
https://github.com/ansible/ansible-modules-core/blob/devel/cloud/digital_ocean/digital_ocean_domain.py is the file he is talking about. Does this actually break anything?

[2015-05-28 04:19] camjackson commented on #1130
+1, I've also run into this bug with ansible 1.9.0.1.

[2015-05-28 05:43] camjackson commented on #1130
One related issue that we had was that our data volume container (with `state: reloaded`) was being restarted on every run, because ansible sees that it's stopped, and wants to start it. You could use `state: present` for this, but then it won't check to make sure that the image tag is correct, when you have a new version of the data container.

One workaround for that particular issue is to give

[2015-05-28 05:59] camjackson commented on #1130
A little bit more information -- running with verbose output shows a reload reason for the application container:

[code]

But as above, this is without the data volume container having been restarted, so there should be no reason for the application container to restart, just because it has a `volumes_from` argument.

[2015-05-28 07:07] bobrik commented on #1277
@MrMMorris I have tho PRs hanging from Mar 22, can't see any reason to add more. Anyway, check out [collectd-docker](https://github.com/bobrik/collectd-docker) it might be sufficient for you :)

[2015-05-28 08:25] raags opened #1431 "Casting boolean values doesn't work for set_fact"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

set_fact module
##### ANSIBLE VERSION

N/A
##### SUMMARY

The `bool` filter doesn't work in `set_fact` when using the yaml format. It works fine for key=value format :

[code]

The variable `bar` above turns into a string. Is this expected behaviour? Is using the key=value format the expected workaround?

[2015-05-28 15:30] Jmainguy commented on #1267
@karpy47 look at https://github.com/ansible/ansible-modules-core/commit/8892aa2bf430f25be124b655cc12c975cd1bfbdc  we could do the same thing in mysql_user, sound good?

[2015-05-28 16:04] jseel001 opened #1434 "vsphere_guest - vm_hardware: cpu sockets and cpu cores"
It would be useful to be able to specify the amount of cpu sockets and cpu cores when using vsphere_guest to manage a vSphere virtual machine. Currently, the only option is to specify the amount of cpus (num_cpus) but this is equivalent to specifying the cpu sockets only and does not have an affect on cpu cores.

[2015-05-28 17:22] cicino commented on #951
@bcoca what is the implicit cluster?  In the documentation example they have "MainCluster" - this does not seem to work. Thanks

[2015-05-28 19:08] jimi-c commented on #1404
@jhawkesworth just following up with you on this, as I'd like to get 1.9.2-rc2 out as soon as possible.

[2015-05-28 19:14] olvesh commented on #1373
Currently I have this workaround before every play:

[code]

[2015-05-28 20:34] davidvasandani commented on #454
Same issue here. My instances are inside a VPC.

[2015-05-28 23:03] jhawkesworth commented on #1404
Working on it, but its taking longer than I hoped to fix as I have
uncovered problems with recursive copies.
Gonna stay up now and see if I can crack it in the next couple of hours.
Jon

On Thu, May 28, 2015 at 8:08 PM, James Cammarata notifications@github.com
wrote:

[2015-05-29 00:11] mjuenema opened #1437 "Bug: Check in unarchive module whether 'dest' is writable should be removed."
##### Issue Type:

Bug in `unarchive` module.
##### Ansible Version:

`ansible 1.9.0.1`
##### Ansible Configuration:

n/a
##### Environment:

n/a
##### Summary:

The `unarchive` module checks whether the `dest` directory is writable before unpacking the archive:

[code]

While this is certainly well intended it prevents archives from being unpacked that don't actually create files in `dest` but on

[2015-05-29 02:11] jhawkesworth commented on #1404
Ok.  I haven't been able to do anything about \ having a special meaning to yaml, other than documenting   the use of / as path separator (powershell accepts either \ or /), but I think I have fixed the other issues described above.

PRs https://github.com/ansible/ansible/pull/11086
and
https://github.com/ansible/ansible-modules-core/pull/1438

I see the first has merge conflicts.  Need sleep befo

[2015-05-29 13:19] anderskandersson opened #1441 "yum install @group always results in "changed""
Using "yum: name='@group'" always results in "changed", even on subsequent invocations where no work needs to be done.

(https://github.com/ansible/ansible/issues/9030)

[2015-05-29 13:54] tarrychk opened #1442 "docker module computes port bindings incorrectly"
##### Issue Type:

Bug Report
##### Ansible Version:

I tested with ansible 1.9.1 and devel.
##### Environment:

Ubuntu 14.04, Debian Wheezy
##### Summary:

Docker module does not correctly compute port bindings when multiple host ports are forwarded to the same guest port.
##### Steps To Reproduce:

Create a docker container with multiple host ports pointing to the same guest port, e.g.

[code]
#

[2015-05-29 14:03] jhawkesworth commented on #1404
Merge conflicts resolved.  Please test.
I still don't have any powershell 3.0-powered machines to test against so would be grateful if anyone else can test these out.

You can give a basic test by running the winrm integration tests (although currently one of the 'script' module steps seems to be broken for me).

[2015-05-29 14:15] morgajel opened #1443 "[Feature] url support for unarchive module"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.9.1
##### Environment:

Mint 17 host, Centos7 target
##### Summary:

It would be nice to specify a url as the source in an unarchive line:
    - unarchive: src=http://edcint.co.nz/checkwmiplus/sites/default/files/check_wmi_plus.v1.59.tar.gz  dest=/root creates=/opt/check_wmi_plus

Note that the yum module currently does this (althou

[2015-05-29 15:27] Jmainguy commented on #1443
Coded this into the yum module for EL5 and below, by having python download the file, should be able to port that code to this module.

[2015-05-29 16:37] cchurch commented on #1404
@jhawkesworth I've just pushed a fix for the failing script test: https://github.com/ansible/ansible/pull/11092

[2015-05-29 18:00] abadger commented on #1226
#1358 has been merged so closing this.  Feel free to let us know if it isn't (new bug report or ping us on IRC -- #ansible-devel on freenode, I'm abadger1999).

# Closing This Ticket

Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issu

[2015-05-29 18:00] #1226 closed, assigned to nobody

[2015-05-29 18:32] galindro opened #1445 "Default value for min_size and max_size at autoscaling creation"
It would be nice to set a default value (zero) for min_size and max_size at autoscaling creation process, to avoid this error:

[code]

I've changed the ec2_asg.py code to make it possible and the new code works for me. Can I make a PR?

[2015-05-29 20:50] abadger commented on #826
Merged to devel and also to the stable-1.9 branch.

# Closing This Ticket

Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as a

[2015-05-29 20:50] #826 closed, assigned to nobody

[2015-05-31 23:09] Jmainguy commented on #1443
@morgajel give #1448 a shot, should do what you need. Make sure copy=no if using a url

[2015-06-01 08:10] karpy47 commented on #1267
Yes, looks good. Great to get more info when debugging. Havn't looked at mysql_user, but guess it would make sense there to.

[2015-06-01 10:43] bobrik opened #1449 "Timed abort in pause module"
It would be nice to about sequence if operator does not respond in timeout. Currently `pause` module can only continue if no action taken. Extra flag like `action_on_timeout` with values `abort` and `continue` would do the trick.

[2015-06-01 14:55] bivald commented on #586
This would help me as well, specially since it appears as newer Debian (which can apt-get python3) doesn't get virtualenv-3.4 link, just virtualenv.

[2015-06-01 15:00] holms commented on #191
:+1: Voting for this!  Centos7 requires daemon-reload

[2015-06-01 15:07] bcoca commented on #191
So to clear up for non systemd folks (as I myself was confused by this), this is not analogous to the reload/reloaded state for most deamons, this has systemd stop the deamon using and old configuration and start it using the new one after the configuration has been updated.

Otherwise you would need to manually stop with current config, change config, start again with new config, which might be t

[2015-06-01 17:51] BlackthornYugen opened #1450 "Can not use docker_image module from OSX"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Environment:

OSX 10.10.3

[code]
##### Summary:

The `docker` module itself works fine but `docker_image` tasks fail in OSX / boot2docker with the error
`ConnectionError(ProtocolError('Connection aborted.', error(2, 'No such file or directory')),)`
##### Steps To Reproduce:

The simplest task that I found to demo this was removing

[2015-06-01 17:56] BlackthornYugen commented on #1450
Another OSX user posted [a similar error on stackoverflow](https://stackoverflow.com/questions/30552317) yesterday.

[2015-06-01 19:19] bcoca commented on #1397
probably much shorter workaround if you use with_sequence or lookup('sequence' ..)

[2015-06-01 21:21] jhawkesworth commented on #1404
For completeness, just to say I have replaced ansible/ansible#11086 with ansible/ansible#11115 as I managed to check in some other unwanted changes in the earlier PR.

[2015-06-01 22:17] tickletik commented on #1450
@BlackthornYugen  yup, that was me.

[2015-06-01 22:23] tickletik commented on #1450
I'm trying to figure out what it's looking for when it says "no such file or directory".  It's obviously breaking down over here:

`/usr/bin/python /Users/jsteel/.ansible/ ... /docker_image;`

I'm guessing the `.ansible/.../docker_image` is a python script that runs docker.  So maybe something in that file is calling up a command in a particular location, that doesn't exist at that location on OS

[2015-06-01 22:28] bcoca commented on #1450
is your python at /usr/bin/python?

[2015-06-01 22:57] tickletik commented on #1450
@BlackthornYugen  @bcoca

OK, I tried doing some logging in lib/python2.7/site-packages/ansible/modules/core/cloud/docker/docker.py

under class DockerManager.**init**
around line 558, they set a few environment variables:

[code]

So I spat out those values into a log file, and lo and behold, none of them were being set.

Then when I set them directly in main.yml:

[code]

I got a different error

[2015-06-01 23:09] BlackthornYugen commented on #1450
@bcoca Made sure python is at /usr/bin/python

[code]

@tickletik That's interesting. I tried adding this task to see all of the environment vars:

[code]

None of my docker vars showed up in env.out. I'm not sure why it only causes problems for the docker_images module. I can start/stop/remove no problem with the docker module itself.

[2015-06-01 23:29] tickletik commented on #1450
actually I could only solve the problem with the docker module, and I had to set the environment variables directly.  So I would love to know how you managed to pass them over to that module.

docker_image however, I was totally unsuccessful in passing them over.  right now it is is setting the docker_url variable on line 223 to 'unix://var/run/docker.sock'

I don't really understand docker or ans

[2015-06-01 23:54] tickletik commented on #1450
@BlackthornYugen

I did some more digging, and I posted my edit on stack overflow.  I'll also put my edit here.  I don't know if that is appropriate, so please delete it or ask me to delete it if you think my error description should not be here.

Following:

Digging further in docker_image.py I noticed that it breaks down around line 188 (I say "around" because I have logging breaks so I don't kn

[2015-06-02 10:28] kustodian opened #1452 "yum module install URL reports changed in --check"
##### Issue Type:

Bug Report
##### Ansible Version:

1.9.1
##### Ansible Configuration:

Nothing
##### Environment:

Centos 6
##### Summary:

`yum` module always reports as changed in check mode (`--check`) when installing an RPM from a URL.
##### Steps To Reproduce:

Here is a short play:

[code]

If you run it regularly everything is fine (since `nginx-release` was installed before):

[code]

B

[2015-06-02 11:00] JoePricey opened #1453 "copy silently failing but reporting successful & changed"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.9.1
##### Ansible Configuration:
##### Environment:

Debian Sid -> Centos 6
##### Summary:

I have a file on my destination that can't currently be written to:

[code]

Using the ansible copy module, it reports success/changed and triggers the handler. The file is not been changed.
##### Steps To Reproduce:

[code]
##### Expected Resu

[2015-06-02 11:16] wbolster commented on #586
Unfortunately my PR #629 has been lying around for months, slowly gathering dust and bitrot. :-(

[2015-06-02 11:18] #1453 closed, assigned to nobody

[2015-06-02 11:38] JoePricey commented on #1453
I'm a dunce.

[2015-06-02 11:45] bivald commented on #586
I would assume they are working on it, but that they simply have quite the backlog.

[2015-06-02 12:58] olvesh commented on #1397
Sure - I was just making a point :-)

[2015-06-02 16:03] BlackthornYugen commented on #1450
When I change my docker_url I get the same result. I also tried using an invalid address (localhost), and the value of my DOCKER_HOST var (tcp://boot2docker:2376).

It seems that in the [docker module documentation](http://docs.ansible.com/docker_module.html) the default docker_url is `${DOCKER_HOST}` OR `unix://var/run/docker.sock` but in the [docker_image module documentation](http://docs.ansibl

[2015-06-02 21:19] jeffwidman commented on #1395
Dup of #577

[2015-06-02 21:25] jeffwidman opened #1456 "Validate options in various file modules do not permit `nginx -t` validation"
Nginx validation happens with `nginx -t`; it will automatically check all nginx config files--both the primary and any tacked on via file includes--and doesn't support passing a specific config file to it.

However, when I try to run `validate='nginx -t'` Ansible complains that validate requires `%s`... which is a nice safety feature, but prevents me from validating my nginx configuration changes.

[2015-06-03 03:40] bcoca commented on #1395
closing as dupe of #577

[2015-06-03 03:40] #1395 closed, assigned to nobody

[2015-06-03 12:57] bcoca commented on #1456
That would not work as validate happens BEFORE the file gets put into place (as docs clearly state), you would only be validating the previous configuration. Also the validate function only works well with single file configurations as this is what copy/template/etc operate on at each time.

Also note that nginx in newer versions supports -c to specify alternate configuration files, which works wi

[2015-06-03 12:57] #1456 closed, assigned to nobody

[2015-06-03 15:22] agunnerson-ibm opened #1459 "ansible_python_interpreter has no effect"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

Nothing has been changed.
##### Environment:

Ubuntu 15.04 and OS X 10.10.
##### Summary:

Python script at `~/.ansible/tmp/ansible-tmp-*/command` is run with `/usr/bin/python` despite `ansible_python_interpreter` being set.
##### Steps To Reproduce:

The remote system should not have a Python interpreter at

[2015-06-03 16:33] bcoca commented on #1459
probably related to #11132

[2015-06-03 18:11] viper233 opened #1460 "cloudformation: cloudformation template file is not found when using the module in a role, relative to the role"
Issue Type: Bug Report
Ansible Version: latest devel branch
Ansible Configuration: as per the github file
Environment: Ubuntu 15.04 GNU/Linux x86_64
Summary:
When using the cloudformation module as a task in a role it's unable to locate the cloudformation template file relative to the role directory i.e. role_name/files/cf_template.json

roles/cf_role/tasks/main.yml

[code]

I was expecting the fi

[2015-06-03 18:19] jeffwidman commented on #1456
That makes sense.

I tried `nginx -tc %s` and it unfortunately doesn't work for my usecase--as you mentioned single-file configs are best for the validate option.

In my case, I'm uploading a vhost file, so it's an include to a broader nginx set of config files. Nginx using the -ct test on it fails, vs it works fine when I upload without validition. I suspect `nginx -c` assumes you're passing it a

[2015-06-03 20:54] worldofchris commented on #1089
@tiyberius +1 to what @bennojoy said.  I just used PR #1137 and now have an Elasticache node running in my VPC.

[2015-06-03 21:44] Faheetah commented on #191
+1 here, or at least give a way for service to force a daemon-reload similar to how the apt module can force a cache update. This could be through an extra arg daemon_reload=true (default: false, required: no) to have the module push a systemctl daemon-reload before running the service command.

[2015-06-03 21:46] dgloe opened #1461 "setup module gathers facts four times"
While researching slowness in the setup module I discovered the setup module gathers facts four times:
        4    0.000    0.000   10.042    2.510 setup:1627(get_platform_facts)
        4    0.000    0.000   15.297    3.824 setup:1660(get_local_facts)

This is really slowing down our ansible runs since we're on 1.7.1 and can't cache facts.
The culprit is here:
    facts.update(Facts().populate()

[2015-06-03 22:04] bcoca commented on #1461
I'm not sure what we can do, we don't maintain 1.7.1 anymore any fixes would be applied to 1.9.x or 2.x

[2015-06-03 22:18] pajtai opened #1463 "Add a way to pass the --single-branch flag to the git module"
##### ISSUE TYPE

Feature Idea
##### COMPONENT NAME

git module
##### ANSIBLE VERSION

N/A
##### SUMMARY

Didn't see it in the docs:
http://docs.ansible.com/git_module.html

This page has what it does:
ftp://www.kernel.org/pub/software/scm/git/docs/git-clone.html

I'd like to specify --single-branch but not specify depth.

[2015-06-03 22:20] bcoca commented on #1463
In case the tags and title rewrite are not clear, no, there is no current way to do this

[2015-06-04 04:10] bennojoy commented on #1460
Module wont know if it being called from a role, so the way to do it woudl be teach the module to accept the json content and then use lookup('file', foo) to read the data, since file lookup knows about roles. this woudl be a feature request.

[2015-06-04 04:26] bcoca commented on #1460
actually modules cannot access data from the 'master' or local host unless it is the target of the task.
that is what lookups are for

[2015-06-04 04:27] bcoca commented on #1460
changing this to a doc ticket as this should be made clear in the module docs.

[2015-06-04 15:45] taraspos commented on #1343
Ansible  1.9.1
Centos 6

I'm facing the same issue

[code]

when I'm logging in into server, going into `{{ website.root }}` directory and running `git clone git@bitbucket.org:{{website.repo}}.git'` I'm getting `Accept Hostkey` request and downloading starts normally.

if i run playbook again, everything is fine. Issue exist only at the initial checkout.

Also, in the next role, another project sh

[2015-06-04 17:14] twneale commented on #1343
I was able to confirm that in my case the failure was do to shenanigans related to submodule file and/or repo permissions. You can use pdb to get the output of the git commands ansible runs when it checks the submodule hashes, and in my case it was obvious that various permissions were thoroughly hosed up.

[2015-06-04 17:33] timmahoney commented on #1088
You can probably use this module that I made to get the job done:

https://github.com/ansible/ansible-modules-core/pull/1137

[2015-06-04 17:54] tiyberius commented on #1089
@bennojoy sorry just seeing your comment now, not sure how I missed it when you commented 2 weeks ago. I just realized I have no idea how to test #1137 and I'm tight on time today, so I will trust that it works! Thanks for the fix

[2015-06-04 18:01] tiyberius commented on #1088
Hey @timmahoney thanks for creating the module! I realized just now that I know how to create bug reports, but don't actually know how to test the fix. I'll try to figure that out today or tomorrow and re-run the playbook.

[2015-06-04 18:55] sitamet commented on #1373
I run into this same problem when trying to start 2 containers in parallel.

I have: `ansible 1.9.1`

[code]

This same bug is reported in [ansible-modules-core/issues/1188](https://github.com/ansible/ansible-modules-core/issues/1188)

[2015-06-04 18:55] sitamet commented on #1188
I run into this same problem when trying to start 2 containers in parallel.

I have: `ansible 1.9.1`

[code]

[2015-06-04 19:45] #1459 closed, assigned to nobody

[2015-06-04 19:47] jimi-c commented on #1459
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questi

[2015-06-04 22:16] ryanwalls opened #1469 "ec2_group documentation is out of sync on website"
Compare:
http://docs.ansible.com/ec2_group_module.html
with the DOCUMENTATION block here:
https://github.com/ansible/ansible-modules-core/blob/devel/cloud/amazon/ec2_group.py

The website documentation is missing critical documentation like "state", "rules_egress", and "purge_rules."

I don't know how to fix this or I would create a PR.

[2015-06-04 22:24] MrMMorris opened #1470 "Can't use strings in docker commands"
**Issue Type:**
Bug

**Ansible Version:**

[code]

**Summary:**
Docker module `command` option removes quotes

**Steps To Reproduce:**

[code]

**Expected Results:**

[code]

**Actual Results:**

[code]

See https://gist.github.com/MrMMorris/4851e54d763a88df22e3#comment-1467272 for possible fix

@smashwilson

[2015-06-05 09:22] magnetik commented on #69
To me this bug shouln't be closed: the `s3:ListBucket` is still required.

[2015-06-05 12:49] echiu64 commented on #1033
Is this something that can be fixed in boto? AWS_PROFILE use is super useful...

[2015-06-05 12:50] echiu64 commented on #871
I'm wondering if it has something to do with the ec2 inventory cache?

[2015-06-05 14:28] bcoca commented on #1088
closing via merged #1137

[2015-06-05 14:28] #1088 closed, assigned to nobody

[2015-06-05 14:28] bcoca commented on #1089
closing via merged #1137

[2015-06-05 14:28] #1089 closed, assigned to nobody

[2015-06-05 14:34] fdutheil opened #1474 "Bug Report - can't loop in aync tasks"
##### Issue Type: Bug Report

To me, it's not some corner use case or some tricky issue in twisting the tool to do something it is not supposed to do. So this issue is not rated "Feature Idea".
##### Ansible Version: 1.9.1

Control machine: Ubuntu 14.04
##### Ansible Configuration:

Basic with Pipelining, ssh ControlMaster enabled.
##### Environment:

Remote machines: Debian 7
##### Summary:

We h

[2015-06-05 14:39] bcoca commented on #1188
have you tested against current devel? the line in the traceback seems to have been completely rewritten

[2015-06-05 15:53] bcoca commented on #1469
for some reason docstring quoting got embeded in the docs, breaking them

[2015-06-05 15:56] bcoca commented on #1469
seems it was unintended and misguided 'peppifying' in 5e694c490cca727e1bf22a8f4358c48ca29ec59b that munged the lines to the 80 column limit and messed with the docstring limits

[2015-06-05 15:58] bcoca commented on #1469
fixed via f5ff5ba348b1158b569d29125676553a6aa7d49a, this won't be visible on the website right away as we don't immediately publish changes.

[2015-06-05 15:58] #1469 closed, assigned to nobody

[2015-06-05 15:59] bcoca commented on #1470
try quoting it, -  is a yaml reserved character that indicates the start of a list.

[2015-06-05 17:36] bcoca commented on #69
this bug has not been closed, that was another ticket

[2015-06-05 18:31] bcoca commented on #1474
This is the wrong repo, this is for modules not for ansible itself, that said, there is already a feature request for this but there is no one currently working on it that I know of.

[2015-06-05 18:31] #1474 closed, assigned to nobody

[2015-06-05 21:04] MrMMorris commented on #1470
@bcoca hmmm.. it seems to give me what I want according to `docker inspect`:

[code]

 but the container logs tell me `flag provided but not defined: -collector.enabled`...

Not sure if that's a node-exporter problem or not

[2015-06-05 22:04] jeffbean opened #1475 "vsphere_guest KeyError: 'memory_mb' on reconfigure"
With no memory_mb key specified on a 'reconfigre' state where is a KeyError doing a check on the value.

[code]

[code]

[2015-06-05 23:19] bcoca commented on #1470
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2015-06-05 23:19] #1470 closed, assigned to nobody

[2015-06-06 02:56] memelet commented on #994
I'm getting this error for ec2_group.py. But I don't understand at all. I have been running this play on this workstation with this version of ansible for weeks. It's only this mornning that I get this error.

I am seeing this with both 1.9.1 and 1.9.2

[code]

[2015-06-06 03:21] memelet commented on #994
exporting ...

[code]

... resolve this on osx. But why was this needed today but not yesterday?

[2015-06-06 13:12] phoenix741 commented on #1421
I have the same problem with debian and docker 1.7.2. I have tried the module docker-py from debian or installed via pip.

[2015-06-06 21:39] arogulin commented on #184
I have the same problem with ansible v1.9.1 on MacOS 10.9.5. My playbook contains:

[code]

Output:

[code]

SSH keys are properly installed. I check this as @wojtek-oledzki suggests:

[code]

I tried to add "accept_hostkey=yes" and "key_file" without any success.

[2015-06-06 21:47] sivel commented on #184
@saitovod, as the error mentions your repository URL (`ssh://git@bitbucket.org:my_user/my_repo.git`) is malformed.

It should either be (URL syntax):

`ssh://git@bitbucket.org/my_user/my_repo.git`

or (SCP syntax):

`git@bitbucket.org:my_user/my_repo.git`

https://git-scm.com/book/en/v2/Git-on-the-Server-The-Protocols#The-SSH-Protocol

[2015-06-06 21:55] lerenn commented on #1421
I have this problem too. Someone has a solution ?

[2015-06-06 22:36] arogulin commented on #184
Thank you so much, @sivel! "ssh://git@bitbucket.org/my_user/my_repo.git" - worked!
I used "ssh://git@bitbucket.org:my_user/my_repo.git" because bitbucket.org suggests this ssh url and ".git/config" contains the same url:

[code]

[2015-06-06 23:14] lerenn commented on #1421
After few searches, I've seen that my ansible version was 1.7 too.
So I upgraded it, following the doc :
http://docs.ansible.com/intro_installation.html#latest-releases-via-apt-ubuntu

If you have a problem with the launch of docker after, it can be the version of docker-py. So, here is the solution if you have this problem too : https://github.com/ansible/ansible/issues/10879

[2015-06-07 02:24] firecat53 opened #1479 "Add ability to control systemd user instance services"
### Issue Type:

Feature Idea
### Ansible Version:

1.9.1
### Ansible Configuration:

N/A
### Environment:

Linux - (systemd)
### Summary:

It would be useful to be able to control systemd --user services from the
service module. I'm still researching how/if this can be done from the command
line...those aren't the easiest search terms to narrow down.
### Steps To Reproduce:

Possible usage:

[cod

[2015-06-07 21:45] tbossert commented on #1393
:+1:    This is sorely needed for people doing centralized logging setups

[2015-06-08 03:30] alex-dr commented on #921
+1 for this feature

Especially if you also make it an option for the user module.

[2015-06-08 07:12] bennojoy commented on #373
should be fixed via #1398 hence closing

[2015-06-08 07:12] #373 closed, assigned to nobody

[2015-06-08 07:18] bennojoy commented on #487
i think #1212  might fix these. can you please try on the latest devel..

[2015-06-08 07:21] bennojoy commented on #430
@dkaufman-irise #1015 seems to fix it.. can you give the latest devel a try

[2015-06-08 07:22] bennojoy commented on #516
closing as there is no response and the issue is not reproducible.

[2015-06-08 07:22] #516 closed, assigned to nobody

[2015-06-08 08:24] talcloudshare opened #1480 "win_template replaces CRLF (\r\n) with LF (\n)"
When templating a file for Windows, carriage return (\r) characters are being removed from the file being templated before being copied to the Windows node.

[2015-06-08 08:58] bennojoy commented on #1480
@talcloudshare  which version of ansible ?

[2015-06-08 10:13] toninog opened #1481 "IAM Module - and group updates - failure"
Hi

I am using ansible version : 1.9.0.1 and the latest IAM module.  When running the example playbooks I get this error:

<127.0.0.1> REMOTE_MODULE iam iam_type=group name=Mario state=present
failed: [127.0.0.1] => (item=Mario) => {"failed": true, "item": "Mario", "parsed": false}
Traceback (most recent call last):
  File "/home/user/.ansible/tmp/ansible-tmp-1433757871.5-141229831843557/iam", lin

[2015-06-08 10:36] talcloudshare commented on #1480
ansible v1.9.1 from ubuntu ppa repository

[2015-06-08 10:46] bennojoy commented on #1481
The example in the docs is wrong , the 'group' param needs to be changed to  use 'groups' and the method also needs to be fixed

[2015-06-08 11:41] bennojoy commented on #871
@moorereason  @echiu64  can you please try #1484

[2015-06-08 12:15] tcr-ableton commented on #454
Same issue here. Instances in a VPC too.

[2015-06-08 13:23] toninog commented on #1481
all issues are resolved  - please see pull request :

https://github.com/ansible/ansible-modules-core/pull/1486

Thanks bennojoy

[2015-06-08 13:23] #1481 closed, assigned to nobody

[2015-06-08 13:29] bennojoy commented on #207
@zimbatm  can you please squash to a singe commit thanks,,,

[2015-06-08 13:50] zimbatm commented on #207
@bennojoy I've squashed the first commit so the last commit is all about introducing the routing policies. The previous commits all logical commits that stand on their own and introduce optimisations

[2015-06-08 15:46] sitamet commented on #1188
Thanks bcoca!
The devel version, runs perfect.

[2015-06-08 16:31] bcoca commented on #1188
so closing this as ti seems to be fixed in newer versions.

[2015-06-08 16:31] #1188 closed, assigned to nobody

[2015-06-08 19:30] bcoca commented on #1480
the jinja2 setting newline_sequence controls this, you can use jinja2 overrides to set it on a per template basis. Also you might need to  play with the keep_trailing_newline setting.

[2015-06-08 19:50] rlpowell opened #1490 "sudo hangs with 2.0/current master"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

Completely clean git clone, no config file.
##### Environment:

Fedora 21
##### Summary:

ansible -s -k -K hangs on the current git version (i.e. cd ansible ; source
./hacking/env-setup), but succeeds if I go to the v1/ directory and source the
./hacking/env-setup there
##### Steps To Reproduce:

Follow the

[2015-06-08 19:58] bcoca commented on #1490
confirmed in devel ... darnitthiswasworkinglastweek!!!

[2015-06-08 20:01] rlpowell commented on #1490
FWIW, I would bet good money that it's simply never sending my sudo password.

[2015-06-08 20:16] glassresistor commented on #586
this would help me as well. the upside of ansible is cleanly specifying something, having to use two tasks makes it less clean.

[2015-06-08 22:34] dkaufman-irise commented on #430
ec2_eip.py from latest devel is now idempotent.  reports

[code]

when host already has an assigned eip

[2015-06-09 01:55] #430 closed, assigned to nobody

[2015-06-09 07:57] talcloudshare commented on #1480
Thanks, that works. I would still expect it to use \r\n when templating a file for Windows, but its easy to overcome it.

[2015-06-09 08:59] maria opened #1492 "synchronize: when any inventory host matches localhost, rsync tries to connect to localhost"
## Problem
- I have a playbook `deploy.yml`:

[code]
- I have the inventory `hosts.ini`

[code]
- When I run the playbook:

`ansible-playbook deploy.yml -i hosts.ini`

it fails with the error:

[code]
- doing rsync in shell it's ok, if I remove `localhost` from my inventory works. So, even if it shouldn't match the host it does.

[2015-06-09 09:59] bennojoy commented on #1492
Hi!

Thanks very much for your interest in Ansible. It sincerely means a lot to us.

it if failing on host key verification because it is trying to ssh to the localhost. if you dont want that behaviour in the inventoruy add localhost ansible_connection=local

Also this appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

IRC:

[2015-06-09 09:59] #1492 closed, assigned to nobody

[2015-06-09 10:01] maria commented on #1492
Hi,

Well, why does it try localhost since I defined my playbook host to be another remote machine in another inventory group? It shouldn't try to connect to localhost since the groups are different.

[2015-06-09 10:22] bennojoy commented on #1492
@maria can you please try adding mode=pull

[2015-06-09 13:32] zystem opened #1493 "command module nonworking"
my playbook

[code]

Then I execute it I has error

[code]

[2015-06-09 13:47] bennojoy commented on #1493
Hi!

Thanks very much for your interest in Ansible. It sincerely means a lot to us.

can you please try it on the stable branch 1.9.1

Also this appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansible-project
If you can stop by there,

[2015-06-09 13:47] #1493 closed, assigned to nobody

[2015-06-09 13:53] zystem commented on #1493
Thank you.
In 1.9.1 issue fixed.

[2015-06-09 15:06] sivel commented on #1490
To my knowledge, none of the connection plugins in devel have sudo support right now.

Plugins:
1. ssh - completely commented out sudo functionality
2. paramiko - has functionality, but invalid variable references
3. local - completely commented out sudo functionality.

Currently they only work with passwordless sudo.

Also, this issue was created in the wrong repo.  This repo is for core modules,

[2015-06-09 21:46] ferrants commented on #633
Great work-around. I've tried to put some pressure on getting https://github.com/boto/boto/pull/2794 merged so this can be implemented in the rds module.

[2015-06-10 00:28] jonathanhle commented on #633
+1

[2015-06-10 03:09] #958 closed, assigned to nobody

[2015-06-10 03:10] bennojoy commented on #1493
Hi!

This has been merged in, and will also be included in the next major release.

If you or anyone else has any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and

[2015-06-10 08:37] wimnat commented on #265
@abadger I think this is good to be closed now. I tested -https://groups.google.com/forum/m/#!searchin/ansible-devel/Uri$20json/ansible-devel/76oohKlvb-g

[2015-06-10 08:40] wimnat commented on #1221
@ryanwalls how did you go with this?

[2015-06-10 09:24] Constantin07 opened #1496 "ec2_ami - snapshot not deleted when deregistering AMI"
##### Issue Type:

When AMI image is de-registered and parameter "delete_snapshot: True" is set the AMI image is deleted but the snapshot is not cleaned up.
##### Ansible Version:

ansible-1.9.1-1.el7.noarch
##### Ansible Configuration:

[code]
##### Environment:

CentOS 7. Ansible installed from EPEL repo.
##### Summary:

It seems that "delete_snapshot" parameter doesn't work as expected.
##### S

[2015-06-10 10:40] joantune commented on #964
Guys. I ran into the same error.

I'm a bit of a Python newbie and I'm just learning ansible, so, before trying @clebio 's workaround I tried replacing the s3.py on my **local machine** to no result. I did it on `/usr/local/lib/python2.7/site-packages/ansible/modules/core/cloud/amazon` and appended the `_backup` to the files `s3.py` and `s3.pyc` and then did a curl (actually wget) to get the new `

[2015-06-10 10:54] sergunich commented on #1158
+1
This bug basically blocks us from using recent versions of docker with ansible

[2015-06-10 11:33] bennojoy commented on #964
@joantune  the easiest way would be to create a directory "library" in the same level as your main playbook and add the new module there, ansible then should pickup the new module instead of the old one.

[2015-06-10 12:30] Bengrunt opened #1497 "apt module: update_cache=yes does nothing"
Hello,
I was trying to use the update_cache feature of the apt module to run apt-get update without installing a package. So I've got this basic task:

[code]

When the task runs, it says 'ok' but the cache isn't updated at all.
There seem to be the same behavior if update_cache=yes is added with an actual package installation.

I'm using ansible v1.9.1 on CentOS 7 to manage hosts running Ubuntu 1

[2015-06-10 12:46] #869 closed, assigned to nobody

[2015-06-10 12:48] attenda-pjaquenoud commented on #1134
+1

[2015-06-10 13:41] bcoca commented on #265
closing as per comments

[2015-06-10 13:41] #265 closed, assigned to nobody

[2015-06-10 14:06] joantune commented on #964
@bennojoy indeed! thanks.

@defionscode: I can confirm that the s3.py from https://raw.githubusercontent.com/ansible/ansible-modules-core/devel/cloud/amazon/s3.py  does not solve the problem. To make sure that I was using that one I even wrote a random line in that file and did got a compilation error (meaning I'm using that version)

[2015-06-10 14:30] ryanwalls commented on #1221
@wimnat I got pulled onto other priorities so I still haven't tried this.  It is on the agenda in the next couple weeks though.  Will keep you posted if I have any success.

[2015-06-10 15:55] sirkubax commented on #610
I would confirm that bug exist in ansible 1.9.1

[2015-06-10 18:06] sirkubax commented on #610
I thought I had problem in ansible 1.9.1, but it is OK

I was doing operation in a wrong region, so just in case - double check region :)

[code]

[2015-06-11 03:37] malinoff opened #1499 "UnboundLocalError apt module"
##### Issue Type:

Bug report.
##### Ansible Version:

[code]
##### Ansible Configuration:

Not related.
##### Environment:

Debian 8, but I'm sure this will be reproduced on any deb-based distro.
##### Summary:

`UnboundLocalError` is raised when trying to install package from local path which is not actually deb package and is directory instead.
##### Steps To Reproduce:

Accidentally copy direc

[2015-06-11 07:46] 0x736861 commented on #1277
+1

[2015-06-11 08:42] mblaschke opened #1500 "module ini_file replaces array values (eg. for php)"
PHP allows [array values in .ini files](http://php.net/manual/en/function.parse-ini-file.php#refsect1-function.parse-ini-file-examples)

Content of file before provision:

[code]

Content after provision:

[code]

This substituation is made even if the ini-section is NOT changed :(

[2015-06-11 09:20] kernelt commented on #109
Hi all. When will this feature be implemented? We need it.

[2015-06-11 10:16] eproxus commented on #439
What's the current status? Still missing boto support?

[2015-06-11 12:05] TheSameCH opened #1502 "Enabling/Disabling of service fails if enable_cmd is insserv and insserv returns warnings"
This example message lets the task fail although rc of insserv is 0:

[code]

OS: SLES 11 SP2/3

[2015-06-11 12:16] smiller171 commented on #439
@eproxus yup, still missing. I'm tagging ELBs in my playbooks using the shell module to run AWSCLI commands

[2015-06-11 12:20] bcoca commented on #1500
This is a limitation of python's configparser (the python ini module), since ini is not a standard it has been implemented different incompatible ways.

The reason it always changes this sections is because the module reads and rewrites the whole file on any change, which will leave out parts configparser does not recognize.

I recommend you switch to use the template module instead.

[2015-06-11 12:20] #1500 closed, assigned to nobody

[2015-06-11 12:21] eproxus commented on #439
Ah, do you have a snippet you could share? :smile:

[2015-06-11 12:34] bcoca commented on #1499
try the version in devel, this seems to have already been fixed.

[2015-06-11 12:48] EdTorbett commented on #38
This is resolved by pull request #1501

[2015-06-11 14:18] smiller171 commented on #439
[code]

[2015-06-11 14:20] eproxus commented on #439
@smiller171 Awesome, thanks!

[2015-06-11 14:23] smiller171 commented on #439
no problem @eproxus. I think Ansible 2.0 is supposed to switch to Boto3, which does have tagging support for ELBs

[2015-06-11 15:46] tarrychk commented on #1442
This patch fixes this issue for me:

[code]

[2015-06-11 20:52] jhawkesworth commented on #1404
@trondhindenes My fixes for win_copy have been merged into latest devel.  Any chance you can test and hopefully close this issue?  Many thanks,
Jon

[2015-06-11 21:05] NeckBeardPrince opened #1505 "iam_policy issue"
Here is the task

[code]

[2015-06-12 01:05] bdastur opened #1506 "docker_image module: Adding optional image_id parameter (for deleting image)"
Currently we are orchestrating our containers and using the container image id as a reliable way to identify the containers.

docker_image module requires a name to delete the image, I am requesting if we can optionally pass the image id, which can be used instead if provided.

Can be invoked like this:

[code]

suggested diff:
----------------------x---------------------------------------

[code]

[2015-06-12 08:42] wimnat commented on #1420
@echiu64 just FYI, I'm working on a new s3_bucket module to better manage buckets. There's lots of s3 components e.g. lifecycle, versioning, policy, website etc. So far I've put everything in the one module except website. I could incorporate lifecycle but do you think splitting out each task to a separate module is the way to go?

[2015-06-12 09:12] bennojoy commented on #1420
@wimnat there is a PR for versioning support in S3, do you mind having a look at it and check how diffrent it is from your implementation,
#1330

[2015-06-12 13:22] bcoca commented on #1420
@wimnat having version included in s3 seems OK, but policies and lifecycles seem to be big enough entities on their own to merit their own modules and management.

[2015-06-12 13:51] echiu64 commented on #1420
@wimnat is this it? https://github.com/wimnat/ansible-modules/commits/feature/s3_bucket
I'll take a look.

For sure I think keeping it within one module would be more concise (and thus better)

@bcoca, is this from a code management standpoint? I do like the idea of being able to create my bucket and state all it's properties at once, much like the ec2 module. I do see complexities in maintaining

[2015-06-12 14:01] bcoca commented on #1420
ec2 module is a great example of many wrong things, if that answers your question.

[2015-06-12 14:14] echiu64 commented on #1420
@wimnat I took a look at your module, looks clean, it doesn't implement lifecycle though, just bucket policies. Would love to see logging as well at some point, perhaps that should be it's own module as well if that's the design path we are taking

@bcoca have you had a chance to look at my initial implementation of s3_lifecycle? Wondering if that's going down the right path. The source repo has u

[2015-06-12 14:28] wimnat commented on #1420
@bcoca I would prefer to see the current s3 module focus on gets and puts of objects and have a separate module(s) for bucket management. I think if we did a module for each s3 management piece it may be overkill. Just off the top of my head; s3_policy, s3_cors, s3_versioning, s3_website, s3_lifecycle, s3_requester_pays, s3_logging

@echiu64 the module you pointed to is the module I'm working on b

[2015-06-12 14:56] echiu64 commented on #1420
@wimnat i don't mind this approach, makes sense to me that objects and buckets should be managed separately. Also if you push regularly, i can help document and test for you. Or even help you build some of it out...

[2015-06-12 15:05] tommarshall opened #1509 "git module: always returns status changed"
**Issue Type:**

Bug report

**Ansible Version:**

1.9.1

**Environment:**

OS X 10.3 provisioning Ubuntu 14.04

**Summary:**

git module always returns status changed, even if there was no changes at all.

The repo is cloned into `/opt`, which requires root permissions, however the repo itself cannot be cloned by the root user, so is cloned to `/tmp`, then moved into `/opt`. There's a second job

[2015-06-12 16:49] kharandziuk opened #1510 "Sparse checkout for git module"
Does it make sense to create pull request with this option for `git` module? Here is an answer https://groups.google.com/d/msg/ansible-project/r-3pl7ogVPM/u8VswRBClZQJ why I need it

[2015-06-12 17:14] bcoca commented on #1480
are  you using template or win_template?

[2015-06-12 17:17] bcoca commented on #1490
closing as dupe of https://github.com/ansible/ansible/issues/11169

[2015-06-12 17:17] #1490 closed, assigned to nobody

[2015-06-12 19:25] dagnello opened #1512 "Service Module does not use same Service Manager Package as Service command"
Target environment: Ubuntu 14.04.1 LTS
Ansible Host environment: Ubuntu 14.04.1 LTS, Ansible 1.9.1-1ppa~trusty

Repro:
1. use apt module to install zookeeper and zookeeperd
2. use service module to stop zookeeper
3. log into target machine, zookeeper is still running

What is happening:

zookeeper is installing init scripts for both init.d and upstart
service zookeeper start/stop/restart uses upst

[2015-06-12 20:41] ghost opened #1513 "template does not properly handle set_fact lists when using loops"
Issue Type: Bug Report

Ansible Version: ansible 1.9.1

Environment:
server: Ubuntu 12.04
client: Ubuntu 14.04

Summary:
When using the template module, list variables created from set_facts are expanded differently compared to variables that are just lists. I believe this an issue with template and not with set_facts as debugging the variables (see playbook snippet below) shows no differences bet

[2015-06-12 20:45] sivel commented on #1513
So technically speaking in YAML terms, you aren't creating a list, you are creating a string.

It would be better to use YAML syntax which will create lists appropriately and reliably:

[code]

[2015-06-12 20:54] ghost commented on #1513
Oops, I did not realize that.

Changing it to the provided syntax fixed the error. Thanks.

[2015-06-12 20:54] #1513 closed, assigned to nobody

[2015-06-13 07:59] willthames opened #1514 "command warnings are no longer displayed in v2"
The COMMAND_WARNINGS option still exists, warn=no works correctly, the command module still returns a warnings key/value pair, but nothing actually displays the warning.

It used to be in callbacks.py on_ok, but doesn't seem to have migrated to runner_on_ok in v2.

[2015-06-13 07:59] willthames commented on #1514
Oops, this should be in ansible/ansible

[2015-06-13 07:59] #1514 closed, assigned to nobody

[2015-06-13 13:20] mjuenema commented on #1437
I am happy to make the change and submit a pull request if that's fine with you.

[2015-06-13 23:25] gregsymons opened #1515 "authorized_key fails in check mode if user doesn't exist"
**Issue Type:**

Bug Report

**Ansible Version:**

1.9.1

**Ansible Configuration:**

No changes from defaults

**Environment:**

Both manager and managed host are Ubuntu 14.04

**Summary:**

I have a set of tasks that create local users and manage their authorized_keys file using the authorized_key module. If I run a play containing these tasks in check mode against a brand-new managed host, the

[2015-06-14 08:02] talcloudshare commented on #1480
I am using win_template

[2015-06-15 02:38] wimnat commented on #1420
@echiu64 I've added an s3_lifecycle module to my s3 branch here https://github.com/wimnat/ansible-modules/tree/feature/s3/s3.  The module manages one rule so it's easier to specify the lifecycle options as options of the module which i hope will make @bcoca happy ;)

To manage lots of rules you could just define them as a var and then use with_items. E.g.

  vars:
    rules:
      - name: testbuck

[2015-06-15 13:13] pako-pl commented on #902
+1

[2015-06-15 14:02] slegga opened #1522 "mysql_variables: socket=XXXX isnt read from ~/.my.cnf"
Issue Type: “Feature Idea”
Ansible Version: 2.0.0
Ansible Configuration:
Environment: N/A
Summary:
I use socket=/tmp/socket-file in the ~/.my.cnf file.
username and password is read from the .my.cnf file but not the socket option.
This work:
`ansible all -m mysql_variables -a'variable=version login_unix_socket=/tmp/socke-file'`

Steps To Reproduce:
Install mysql with skip-networking option set.
Co

[2015-06-15 14:02] trondhindenes commented on #1404
Hm, still seems problematic :-(
azureuser@ansibletest:~$ ansible all -m win_copy -a 'src=testfile.txt dest=C:\testfile.txt'
thhighperf4 | FAILED >> {
    "checksum": "0d2aae7d156d796b97ae11b4dba506a55f54a75e",
    "failed": true,
    "msg": "src checksum 0d2aae7d156d796b97ae11b4dba506a55f54a75e  did not match dest_checksum 0d2aae7d156d796b97ae11b4dba506a55f54a75e   Failed to place file testfile.tx

[2015-06-15 15:11] mntechguy commented on #1452
+1 I've noticed this issue as well.

[2015-06-15 16:10] jhawkesworth commented on #1404
Hmm, away from the keyboard at the moment and not sure right now if core
and modules changes applied to v1 and v2.

If I recall there was a time when v1 and v2 were using different checksum
algorithms in the common powershell.ps1 file. This may or may not be
relevant.

I don't remember having a problem with v2 so I wonder if I made the changes
before v2 became current.

What happens when you try w

[2015-06-16 02:45] abadger commented on #38
Thanks for the PR!  merged that so this should now be resolved.

# Closing This Ticket

Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailin

[2015-06-16 02:45] #38 closed, assigned to nobody

[2015-06-16 05:49] jhawkesworth commented on #1404
Ok, not entirely sure what is going on here, as I don't get the same results as you.

v2 is not connecting, but the following works for me:

[code]

It is true the v1 and v2 powershell.ps1 files are different - in fact it is the ./v1/ansible/module_utils/powershell.ps1 which is correct.

So there are 2 things to address - getting the 'v2' version of powershell.ps1 (in lib/ansible/module_utils/powe

[2015-06-16 12:05] trondhindenes commented on #1404
Learning lots about git. It seems that the ansible devel branch has hardcoded submodule commits (instead of just reffing the devel branch of the respective submodule repos). So, I'll test again and update this space. I ran the following commands in order to get all 4 submodule refs to point to the devel branch of the submodule repos:

git config -f .gitmodules submodule.lib/ansible/modules/core.br

[2015-06-16 12:35] burka commented on #625
I use something like this to work around that issue:

[code]

But I would definitely prefer something like a `validate=yes` parameter.

[2015-06-16 13:19] trondhindenes commented on #1404
found the bug. Here's the current get-filechecksum in powershell.ps1 file in v1:
Function Get-FileChecksum($path)
{
    $hash = ""
    If (Test-Path -PathType Leaf $path)
    {
        $sp = new-object -TypeName System.Security.Cryptography.SHA1CryptoServiceProvider;
        $fp = [System.IO.File]::Open($path, [System.IO.Filemode]::Open, [System.IO.FileAccess]::Read);
        [System.BitConverter]

[2015-06-16 14:33] trondhindenes commented on #1404
Submitted PR  #11281 to fix the get-filechecksum error.

[2015-06-16 15:25] jagibson opened #1527 "ec2_metric_alarm shows changes every other run"
ansible 1.9.1
When I re-run ec2_metic_alarm, it seems that about every other run shows a change even though the data I'm feeding it is the same.  Ideally it would show no changes.

config:

[code]

node_region_1 is the register output from the ec2 module and can contain multiple hosts.

[2015-06-16 15:27] jagibson commented on #1527
Is it possible that hosts are getting put into with_items in random order?

[2015-06-16 15:53] cloudnull commented on #1497
Bump, this issue looks like it effects all current v1.9.x versions including v1.9.2-0.1.rc1:
- https://github.com/ansible/ansible-modules-core/blob/016ad8a1cb29d54353d14503fc07c7f98c4cb853/packaging/os/apt.py#L558-L589
- https://github.com/ansible/ansible-modules-core/blob/d56c219a158b4893303f126c5e3dfba89e908cd8/packaging/os/apt.py#L558-L589

[2015-06-16 16:08] jnv opened #1529 "postgresql_privs: Impossible to set column-level privileges"
## Issue Type: Bug Report / Feature Request
##### Ansible Version:

[code]
##### Environment:

Host: Ubuntu 14.10

Target: Ubuntu 14.04, PostgreSQL 9.4
##### Summary:

It is not possible to set privileges for individual columns through the `postgresql_privs`, expected way to do this (i.e. `privs: "SELECT(column,column)"`) fails. If there is an alternative solution, it is not described in documenta

[2015-06-16 16:55] kharandziuk opened #1530 "npm: install package from repo"
Is it possible to install something from github repo with npm module.
I tried to do something like this:

[code]

But the task never finishes or runs to long

[2015-06-16 16:56] #1530 closed, assigned to nobody

[2015-06-16 17:33] jhawkesworth commented on #1404
Thanks @trondhindenes - yes you are right Get-FileChecksum needs to change to capture the returned checksum.  I have made this change in the past but somehow it is not present now in devel.  Perhaps I messed up when I attempted to fix merge conflicts.
I still don't understand how it works for me, I will investigate further.

[2015-06-16 19:19] tbicr opened #1531 "git module SHA version not work for clone"
In documentation:

[code]

But it not work for clone, because `git clone` not support this.

So in this case better note about this in documentation.

[2015-06-16 21:22] RonnyPfannschmidt opened #1532 "pip module executable argument does not expand home"
using
´´´
- pip:
  executable: ~/.local/bin/pip3.4
  ...

[code]

[2015-06-16 23:18] Bengrunt commented on #1497
Hey there,

Thanks for the fix :) :+1:

Could be nice to also add the default value for `cache_valid_time` in the [docs](http://docs.ansible.com/apt_module.html). Was wondering what it was when trying to use it earlier.

[2015-06-17 02:30] larry-s opened #1533 "Better handling for ssh restart"
**Issue Type:** Feature request

**Ansible Version:**
ansible 1.9.1
no configuration changes

**Environment:**
Ubuntu 14.04.02

**Summary:**
Restarting ssh is an essential operation as part of updating security settings when setting up a machine. The naive approach using the service module fails. This needs to be supported better. Some suggections on how to do this are:
- transparent - in the serv

[2015-06-17 02:43] cloudnull commented on #1497
@Bengrunt  I updated the PR to now document that the `cache_valid_time` is 0 by default.

[2015-06-17 03:07] bennojoy commented on #1527
@jagibson i think the issue is ec2_metric_alarm module need the name to be unique, so when you are using the with_items loops the same alarm gets recreated, can you try making the name unique for each item or the instanceid in dimensions can take a list, so if you can make your instances a list and pass that you wont need the with_items loop

[2015-06-17 04:44] philipkirkland commented on #1134
Created pull request: https://github.com/ansible/ansible-modules-core/pull/1534

[2015-06-17 06:31] yuanl opened #1535 "command module in getting start document didn't work"
The very first command `$ ansible all -a "/bin/echo hello"` in getting start page will fail starting from release 1.8.0 with error message:

[code]

used to working good in 1.7.2 and previous.

[2015-06-17 06:38] bennojoy commented on #1535
@yuanl  could you please try it in the latest stable release as i am not able to reproduce this.

[2015-06-17 07:09] yuanl commented on #1535
@bennojoy I can do it with the pip 1.9.1 version now. maybe I didn't update the git one in a correct way.

[2015-06-17 07:23] yuanl commented on #1535
Please close this issue. problem are gone after I reclone the git. It turn out to be my mistake.

[2015-06-17 07:45] Bengrunt commented on #1497
Awesome :)
I think it's gonna help a lot of people.

[2015-06-17 07:53] trondhindenes commented on #1404
Yep, all working now after the updated powershell.ps1 was merged in yesterday. Obviously this still has no effect on users running v1 because the submodule ref is behind but that's outside the scope of this single issue I guess. Great job!

[2015-06-17 07:53] #1404 closed, assigned to nobody

[2015-06-17 12:59] rremella opened #1540 "windows/win_copy"
Win_copy not able copy large files around 20 mb and getting following error

TASK: [win_copy src=/root/windows/nimsoft-robot-x64.exe dest=c:\TEMP\nimsoft-robot-x64.exe] ***
Traceback (most recent call last):
  File "/usr/lib/python2.6/site-packages/ansible/runner/connection_plugins/winrm.py", line 198, in put_file
    result = self._winrm_exec(cmd_parts[0], cmd_parts[1:])
  File "/usr/lib/python2.

[2015-06-17 13:58] bcoca commented on #1540
cc @jhawkesworth , should we just document that this is for small files only?

[2015-06-17 14:32] rremella commented on #1540
Small conf files have no issues

[2015-06-17 15:42] bcoca commented on #1540
@rremella this is a known limitation with the method the module uses to copy files, winrm does not seem to like large transfers. This is still a bug, we should detect the issue and return a 'nice' message to the user explaining the situation.

[2015-06-17 15:42] #1535 closed, assigned to nobody

[2015-06-17 17:35] jhawkesworth commented on #1540
Yes, documentng would be good in the short term.  I put a note about it not
scaling in the doc but it should be explicit about what it can and can't do.
If I knew what / if there is a hard file size limit then it would be best
to check the file size locally and error nicely saying its too big to be
transferred with win_copy.

It may be the case that we can increase the max size by changing winrm
c

[2015-06-17 18:01] bcoca commented on #1533
closing as dupe of #1298

[2015-06-17 18:01] #1533 closed, assigned to nobody

[2015-06-17 18:07] bcoca commented on #1527
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2015-06-17 18:07] #1527 closed, assigned to nobody

[2015-06-17 20:40] jagibson commented on #1527
@bennojoy The name and dimensions are unique - it's using item.tagged_instances.0.id as part of the name.  Also, it creates an alarm for each node on the initial run which wouldn't happen if the issue was as you are describing.  It does appear to create everything correctly.  It's just subsequent runs were I see ansible's recap noting changes.  Even after the reruns the Cloudwatch alarms are still

[2015-06-17 20:47] jagibson commented on #1527
I'd also like to note that the pattern I'm using above works OK for creating route53 records.  It's only ec2_metic_alarm that is showing the non-idempotent behavior.

[2015-06-17 20:53] seagoj commented on #951
@bcoca @cicino The "MainCluster" option isn't working for me either and it would be very nice to be able to provision this way.

[2015-06-17 22:33] MrMMorris commented on #1470
@bcoca this is still an issue. Tried with a different Prometheus Exporter. Here's what happens:

[code]

`docker logs monitoring-mongo`
`Cannot connect to server using url: 'mongodb://user:pass@csm-tv-mongo-1.node.consul/admin'`

`docker inspect monitoring-mongo`
[code]

I know it's not the image because:

`docker run -d commonsense/mongodb-exporter:latest -mongodb.uri='mongodb://user:pass@csm-tv-

[2015-06-18 00:25] pcj opened #1542 "Correct way to use debug?"
Trying to clarify if this is expected behavior:

[code]

succeeds with:

[code]

Whereas debug message with a `prefix:` fails:

[code]

[code]

I was not able to discover the correct syntax to escape this, or come up with an answer why colons within a string literal (double or single delimiters) need be quoted in the first place.  Perhaps I should be using a different method to print messages to t

[2015-06-18 01:36] bcoca commented on #1542
This is not a debug issue, its a yaml parsing issue, you have a : with a space w/o quoting the whole line (http://docs.ansible.com/YAMLSyntax.html#gotchas).

so you should write this:

`- debug: "msg='TODO: Hello world'"`

[2015-06-18 01:37] bcoca commented on #1542
closing this as it is not a bug but the price of using YAML

[2015-06-18 01:37] #1542 closed, assigned to nobody

[2015-06-18 03:14] pcj commented on #1542
@bcoca Thanks for clarification.

[2015-06-18 03:29] echiu64 commented on #1420
@bcoca you had mentioned you had thought it was only usable by those familiar with AWS internals. The only thought I had was to get rid of "status" perhaps. Any thoughts on this or are we good to proceed with the above?

@wimnat for transition and expiration, they support date as well, how would that be expressed above?

[2015-06-18 04:53] #1134 closed, assigned to nobody

[2015-06-18 05:01] bennojoy commented on #1415
closing as this is available via #1503

[2015-06-18 05:01] #1415 closed, assigned to nobody

[2015-06-18 05:03] gacyun commented on #633
+1

[2015-06-18 05:45] bennojoy commented on #1022
fixed via #1029

[2015-06-18 05:45] #1022 closed, assigned to nobody

[2015-06-18 06:41] kchrzanowski commented on #898
I have the same issue as BushiDan, but with win_chocolatey module: http://stackoverflow.com/questions/30869780/error-installing-chocolatey-via-ansible-on-windows
But I have installed everything required and have ansible v1.9.1. Could anyone help me?

[2015-06-18 07:11] wimnat commented on #1420
@echiu64 I've added new fields for transition and expiration date support.  Note that this means the module is now dependant upon python-dateutil to ensure date is formatted properly.

[2015-06-18 08:54] vtsingaras commented on #1391
@bennojoy should this be implemented? eg. via a poweron key?

[2015-06-18 09:13] vtsingaras commented on #951
@bcoca Actually this affects me too. The only required parameter to the CloneVM_Task as used by the pysphere vm.clone method is a resource pool MOR. However on environments where no clusters are configured but there are multiple ESXi hosts under the management of a single vCenter Server you cant use the template deployment function. As far as I can see we could have the option for specifying datac

[2015-06-18 09:57] samyray opened #1544 "S3: 'module' object has no attribute 'connect_to_region'"
##### Issue Type:

Bug Report
##### Ansible Version:

1.9.1
##### Environment:

OSX 10.9.5 and Ubuntu 12.04
##### Summary:

Connection to the S3 is failing (we are using eu-west-1 if this matters)
##### Steps To Reproduce:

Run this playbook

[code]
##### Expected Results:

The bucket gets created.
##### Actual Results:

[code]

[2015-06-18 10:37] vtsingaras commented on #951
I made some changes to the VM template deployment operation. It now accepts either a cluster,resource_pool combo XOR a datacenter,host combo.

deploy_template could also be further refactored to support VM reconfiguration and guest customization at clone time, making for a far cleaner workflow. Any thoughts on this?

[2015-06-18 11:15] bennojoy commented on #1544
@samyray can you please try with latest devel and let us know if you have the same issue there.

[2015-06-18 11:26] bennojoy commented on #1391
@vtsingaras  would it be possible to check the current state if the vm, before reconfiguring and just maintain that state after reconfiguration so that we dont have to add a new key ?

[2015-06-18 11:27] vtsingaras commented on #1381
For this to be implemented, the entire logic for deploy_template needs to change. I have started work on this but I'm waiting for comments on my PR https://github.com/ansible/ansible-modules-core/pull/1545 first as they refer to the same function.

You can see my comments for this here:

https://github.com/ansible/ansible-modules-core/issues/951

[2015-06-18 11:28] #1475 closed, assigned to nobody

[2015-06-18 11:31] vtsingaras commented on #1391
Yes that's possible but note that during some operations(eg. memory add without hotadd support) the VM must be powered off for the reconfiguration task to succeed. We can however get its power state at the start of the task and use it at the end to decide on powerOn/powerOff. Does that sound OK?

[2015-06-18 11:37] bennojoy commented on #1391
@vtsingaras  sounds good, we can add it in docs that reconfigure can poweroff the vm in case of scenarios you mentioned above.

[2015-06-18 13:57] samyray commented on #1544
@bennojoy thanks for looking, just tried with below version:

[code]

And got the same result:

[code]

btw, it works fine on ansible 1.7.2 (don't have any other versions to check unfortunately)

[2015-06-18 14:18] rremella commented on #1540
I tested using winrm parameter MaxMemoryPerShellMB = 1024 by increasing size .

It didn't help have same issue

[2015-06-18 14:51] kapilt commented on #843
just ran into this as well, for folks having to install packages from a set of files, this is a serious annoyance and inconsistency. there's tons of other modules that with_items and prefixes work with fine ie (copy).

[2015-06-18 14:52] jrmsgit commented on #1324
maybe something like update_if_missing?

[2015-06-18 16:58] philipperibeiro opened #1549 "Ansible having issues with pycryto lib"
I have the following script:
 create_dynamic_template(om_ip_address, playbook="deploy_ec2.yml"):
     inventory_template = jinja2.Template(inventory)
     rendered_inventory = inventory_template.render({
          'om_ip_address' : om_ip_address,
          # add the any other variable here
     })

[code]

 if **name** == "**main**":
     create_dynamic_template("10.20.30.40", "deploy_ec2.yml")

W

[2015-06-18 17:03] kpatryk opened #1550 "docker Ansible module does not start properly docker data containers"
Hi,

Trying to start Oracle Data Container from Ansible docker core module. Previously there was no container of such name created in the system. After a while waiting the following error is thrown by Ansible:

`failed: [dev] => {"changed": false, "failed": true}
msg: Docker API Error: Conflict. The name "oracledata" is already in use by container ad653e28b23f. You have to delete (or rename) that

[2015-06-18 17:12] hutchic opened #1551 "EC2 Volume example doesn't work"
##### Issue Type:

Bug Report
##### Versions:

[code]
##### Ansible Configuration:

[code]
##### Environment:

OSX 10.10.2
##### Summary:

The ansible ec2 volume example to create a volume with the given name if it doesn't exist or use an existing one if it already exists does not work
##### Steps To Reproduce:

Try the example:

[code]
##### Expected Results:

It should create the volume successf

[2015-06-18 18:04] bennojoy commented on #1551
@hutchic  there is an open issue for this #1362 and fix proposed in last comment of #1363 can you please give it a try

[2015-06-18 18:35] vtsingaras commented on #1391
PR submitted https://github.com/ansible/ansible-modules-core/pull/1554

[2015-06-18 18:39] #1391 closed, assigned to nobody

[2015-06-18 19:36] zerkms commented on #1324
@jrmsgit the naming does not actually matter that much, but something like that indeed.

[2015-06-18 19:46] davidvasandani commented on #267
Running into the same issue when trying to run the synchronize module though a bastion host.

[code]

[2015-06-18 20:35] sysfu opened #1555 "User module account removal fails on OpenBSD hosts when user home dir is /var/empty"
User removal is failing with 'User <username> doesn't own directory /var/empty'

Related playbook output below

[code]

[2015-06-19 03:08] bennojoy commented on #1549
Hi!

Thanks very much for your interest in Ansible. It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

since this is more a development question ansible-devel mailing list or ansible-devel irc channel should be more suited.

IRC: #ansible on irc.freenode.net
mailing list: https://groups.

[2015-06-19 03:08] #1549 closed, assigned to nobody

[2015-06-19 03:45] bennojoy commented on #1544
@samyray from your output seems like it is not able to connect to s3, does you system have internet access ? also i am not able to reproduce this.

[2015-06-19 05:49] bcoca commented on #1555
output seems to indicate success but with an error message, which in this case seems to be ignoreable?

[2015-06-19 07:02] kustodian opened #1556 "yum: run a single yum command with state=latest"
We should optimize `yum: state=latest` so that it runs a single yum command to update all packages the same way it is done for states `present` and `absent` in #1516.

[2015-06-19 09:48] worldofchris commented on #633
+1

[2015-06-19 09:59] MartinDE90 opened #1558 "add --installroot option to yum module"
**Issue Type:** Feature Idea
**Ansible Version:** 1.9.1
**Ansible Configuration:** nothing changed
**Environment:** RHEL/CentOS 7
**Summary:**
I'm trying to keep some software installed into a non-standard directory. Currently using the yum module I can't specify an alternative installroot path.
**Expected Results:**
I would like to be able to add --installroot option like I can do this with yum i

[2015-06-19 11:56] gbevan commented on #1540
isn't the issue with powershell's base64 decoding, doing it all in memory?  see this link:
https://mnaoumov.wordpress.com/2013/08/20/efficient-base64-conversion-in-powershell/

[2015-06-19 13:28] #951 closed, assigned to nobody

[2015-06-19 13:50] bcoca commented on #1409
closing as this was a quoting issue not a support issue

[2015-06-19 13:50] #1409 closed, assigned to nobody

[2015-06-19 13:57] eparis commented on #1409
I still think it's a bug, I explicitly entered a list where the items were clearly delineated and the parser screwed it up.  but I do have a workaround.

[2015-06-19 14:56] chrisdail commented on #1158
+1
Also a blocker for me.

[2015-06-19 15:24] sysfu commented on #1555
Derp, you're correct, I misunderstood the error message. Further inspection of /etc/passwd shows the accounts were removed.

[2015-06-19 15:24] #1555 closed, assigned to nobody

[2015-06-19 15:50] jhawkesworth commented on #1540
Possibly, the module reuses the winrm connection plugin's put file logic.
That does appear to have to chop up the file into some pretty small pieces.
 without testing it, I've no idea whether the code you link to would be any
faster / more memory efficient though.

On Fri, Jun 19, 2015 at 12:56 PM, Graham Bevan notifications@github.com
wrote:

[2015-06-19 16:13] andrewschoen opened #1563 "service module fails to enable nfs-kernel-server on vivid"
On a fresh vivid install and using the service module to enable nfs-kernel-server the playbook fails with the following message while trying to enable nfs-kernel-server.

[code]

Inspecting the node after failure shows that nfs-kernel-server is in fact enabled.

[2015-06-19 17:04] bcoca commented on #1510
yes, but questions like this belong more in ansible-devel ML, this ticketing system is for bugs reports and contributions

[2015-06-19 17:04] #1510 closed, assigned to nobody

[2015-06-19 19:27] sisso opened #1565 "Support to AWS scheduled autoscale policy"
##### ISSUE TYPE

Feature Idea
##### COMPONENT NAME

ec2_scaling_policy module
##### ANSIBLE VERSION

N/A
##### SUMMARY

Feature request to add a new module or change http://docs.ansible.com/ec2_scaling_policy_module.html to support AWS scheduled scaling policy (http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/schedule_time.html).

[2015-06-19 19:37] gregdek commented on #1565
Thanks for the idea. :)

[2015-06-20 09:56] mitchellim opened #1568 "Ansible calls "file" module instead of "copy" module if hashes match, gets confused if dest is a symlink"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

copy module
##### ANSIBLE VERSION

ansible 1.9.1
##### SUMMARY

If you create a task item with copy where follow=true and dest is currently a symlink, Ansible gets confused if the target for follow and the name of src aren't the same.

Sample playbook:

[code]

Setup commands:

[code]

First run:

[code]

Second run (and onwards):

[code]

[2015-06-21 20:51] coderlol commented on #1397
New to ansible...could you help with how to use with_sequence and/or lookup('sequence') to reduce the manual typing?  Thanks

[2015-06-21 20:54] coderlol commented on #1397
Would this work?

[code]

[2015-06-22 00:34] camjackson commented on #1130
It looks like this might not be a bug in the docker module after all. It was a bug in our yaml,  but also not very useful output from the docker module.

Where we (and @discordianfish) had this:

[code]

, we should have this:

[code]

You can see [here](https://github.com/ansible/ansible-modules-core/blob/devel/cloud/docker/docker.py#L1109) that the input gets cast to a set. A list of strings cas

[2015-06-22 02:38] gregdek commented on #1130
cc: @cove @joshuaconner @softzilla @smashwilson

[2015-06-22 05:53] wryun opened #1570 "Add support for CONNECTION LIMIT to postgresql_user"
See:
http://www.postgresql.org/docs/9.4/static/sql-createrole.html

for documentation (everything else here is covered by ansible, I think). Should I submit a PR?

[2015-06-22 06:07] coderlol commented on #109
+1

[2015-06-22 08:02] vanga opened #1571 "ec2_asg module doesn't delete the ASG when we do fire and forget"
When I do fire and forget while deleting an ASG, it only updates the ASG parameters (min,max,desired) to zero, and does not delete the ASG.

https://github.com/ansible/ansible-modules-core/blob/devel/cloud/amazon/ec2_asg.py#L507-L515
Why not directly make the delete call? ASG does terminate the instances and deletes the group afaik.

[code]

[2015-06-22 09:04] bennojoy commented on #1570
@wryun sure a pr would be nice

[2015-06-22 11:12] vanga commented on #1571
is the async: 120 the reason?
this task runs for 120 seconds and then ansible exits, so not all the work is performed?

[2015-06-22 12:30] lekum opened #1573 "Git module should reset a repo if repo parameter is different"
Ansible Version: 1.9.1

When using the ansible `git` module, if a previous git repository exists in the `dest` folder, the module does not reset the folder content to the new `repo` HEAD. Instead, it returns as if the folder has not been updated at all:

[code]

That means that with the git module we cannot modify the remote of the Git repo.

[2015-06-22 12:49] ashemedai opened #1574 "get_url, connection refused and redirects"
Something that caused me some head scratching until I debugged it via 'command: curl' is that get_url of a http URL might lead, like in my case, to a 301 redirect, to a 302 redirect, to a https URL. Which, when only specifying the http_proxy environment leaves one bewildered why you are getting a '111 Connection refused' when the http proxy is specified and known working.

I am not sure what the b

[2015-06-22 13:26] ashemedai opened #1575 "unarchive: don't try to work on 0 byte files"
When you call unarchive on an archive that's 0 bytes it will report "Failed to find handler to unarchive. Make sure the required command to extract the file is installed.", which is rather misleading.

A solution forward might be to check for 0 byte size before trying to work on the file.

[2015-06-22 14:25] bcoca commented on #992
closed via merged #1576

[2015-06-22 14:25] #992 closed, assigned to nobody

[2015-06-22 14:27] kernelt commented on #109
I implemented and tested patch above. It's works for the ansible 1.9.1. However, if we can manually change type of access to backets (ro,rw etc...) via playbooks it would be great.

[2015-06-22 14:46] bcoca commented on #1563
can you check if there is both an init script and an upstart/systemd configuratino?

[2015-06-22 15:29] andrewschoen commented on #1563
@bcoca Yeah, it looks like there is.  Unless I'm reading this wrong.

[code]

Let me know if you need any other info.

[2015-06-22 15:30] bramses commented on #1428
Running into the same issue! Any update on how to get more info from registering containers?

[2015-06-22 15:36] andrewschoen commented on #1563
Also:

[code]

[2015-06-22 15:49] bcoca commented on #1563
so this is a known bug, which should be fixed in current devel and the upcomming 1.9.2 release, closing this as a duplicate

[2015-06-22 15:49] #1563 closed, assigned to nobody

[2015-06-22 16:56] ktdreyer commented on #1563
as a duplicate of what?

[2015-06-22 19:53] verm666 commented on #1568
Hi @mitchellim!

Can you provide more details about your environment, 'cause I can't reproduce that bug in Ubuntu 14.04 LTS and ansible 1.9.1-1ppa~trusty?

[2015-06-22 19:58] verm666 commented on #1568
But, I found another bug in that simple case, take a look on symlink "dest":

[code]

[2015-06-22 19:59] gregdek commented on #1428
@smashwilson any update on this?

[2015-06-22 20:28] verm666 commented on #1568
The reason of behaviour described above is that two lines: https://github.com/ansible/ansible-modules-core/blob/devel/files/file.py#L350-351

I can't fix it by myself, because I don't understand what really author wanted in this piece of code :)

[2015-06-22 20:30] verm666 commented on #1532
Already fixed in devel branch (see: https://github.com/ansible/ansible-modules-core/blob/devel/packaging/language/pip.py#L182)

[2015-06-22 20:52] gregdek commented on #1532
Thanks @verm666! @RonnyPfannschmidt please retest with devel version to verify the fix works as you expect.

[2015-06-22 21:05] gregdek commented on #109
The best way to get this implemented is for someone to turn it into a pull request. @ottob or @kernelt maybe?

[2015-06-22 21:16] fdanielson opened #1577 "Mount task skipping"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

mount
##### ANSIBLE VERSION

1.9.1
##### SUMMARY

I'm having an issue with a mount task to add an NFS target. I wasn't able to find any real documentation on doing this, so I'm not sure if it's supported at all. The mount command doesn't fail, or provide an error even with -vvvv so I'm not sure what it's doing or what's going wrong.

I'm running A

[2015-06-22 21:35] gregdek commented on #1575
Makes sense -- could be a straightforward PR if you have the time...

[2015-06-22 21:47] ashemedai commented on #1575
Yeah, will definitely do that as soon as I find a few free minutes at the office this week.

[2015-06-22 21:53] gregdek commented on #1575
Thanks! Appreciate your time. :)

[2015-06-23 03:44] goozbach commented on #109
pull request should be #1335

[2015-06-23 04:05] bennojoy commented on #1571
@vanga  possibly can you increase the time and check

[2015-06-23 05:43] vanga commented on #1571
@bennojoy I did couple of tests
With high async value (500s), ASGs do get deleted, they don't with low async values.

playbook run completes instantaneously with logs like this

[code]

So, does the module run in the background for the amount of time specified in `async` ? and then actually exit?

I also would like to know the reason for making the ASG size to zero before making a delete call. I a

[2015-06-23 05:46] #1571 closed, assigned to nobody

[2015-06-23 06:52] pschirch opened #1578 "Adding parameter password to unarchive module"
##### Issue Type:

Feature Idea
##### Ansible Version:

1.9.1
##### Ansible Configuration:

N/A
##### Environment:

N/A
##### Summary:

Password protected archives are not supported by [unarchive module](http://docs.ansible.com/unarchive_module.html). Parameter password should be added.
##### Steps To Reproduce:

Try to unarchive a password protected archive:

[code]
##### Expected Results:

Passw

[2015-06-23 15:03] verm666 commented on #1577
1. Why are you skip nfs server ip address in your playbook?
2. state=present only add the new line to /etc/fstab, for real mount (and add line to /etc/fstab obviously)- you should use state=mounted

[2015-06-23 16:07] jagibson commented on #1527
@bennojoy @bcoca I still think this is a bug.  Please see my more recent comments above.

[2015-06-23 16:57] junyakaneko commented on #1192
I have the same problem.

Ansible version 2.0.0
Source OSX Yosemite
Target Ubuntu 14.04

Could you solve it?

[2015-06-23 17:17] #109 closed, assigned to nobody

[2015-06-23 17:34] jimi-c commented on #1116
# Closing This Ticket

Hi!

The commit a1181b490b7e00953a954878f3694a32378deca4 was recently merged in regarding this, which should resolve this problem for you. This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- http

[2015-06-23 17:34] #1116 closed, assigned to nobody

[2015-06-24 03:06] iandyh commented on #1192
@JunyaKaneko Unfortunately, no. I've been used a workaround, which creates the file at a directory that doesn't require sudo permission and then copy the file to the target folder.

[2015-06-24 04:49] mitchellim commented on #1568
I'm on CentOS 7.1.1503, with ansible-1.9.1-1. I also ran the commands from a different directory than /tmp, so source lived outside of there. If you run it in that configuration, I expect you'll see the same results I did.

Doing some more debugging, what seems to happen is that if the doesn't match (first run), then it runs copy.py. If the file does match (second run), then it runs file.py... _wi

[2015-06-24 05:05] mitchellim commented on #1568
Or, to put it another way, Ansible is currently doing the equivalent of this playbook (merging the two runs into a single run):

[code]

If /tmp/dest is a file, no problems! Especially since src doesn't mean anything in that context. But if /tmp/dest is a symlink, then everything changes.

[2015-06-24 07:05] dlip commented on #1251
I'm having a similar inconsistency with the "state: reloaded" option. The documentation says:
"asserts that all matching containers are running and restarts any that have any images or configuration out of date"

But whenever I use this option every container gets restarted, even if the image and options haven't changed.

[2015-06-24 08:02] liorhar opened #1586 "Support stop timeout in docker module"
The docker stop command can receive a --time parameter indicating the time to wait before sending SIGKILL if the container doesn't stop, default is 10 seconds which is sometimes too low.
It would be nice if the ansible module support it. The use case is when a longer grace period is required for cleaning up before killing the container.

[2015-06-24 09:22] bennojoy commented on #1527
@jagibson can you please try changing the name to  name: "{{ 'Instance_AutoRecovery_' + item.0 }}"
and with_indexed_items: node_region_1.results

guessing the space or '-' in the instance id might be causing some issues.

[2015-06-24 10:10] #207 closed, assigned to nobody

[2015-06-24 12:05] pieterlexis commented on #191
:+1:

[2015-06-24 14:34] gregdek commented on #1251
cc: @cove @joshuaconner @softzilla @smashwilson

[2015-06-24 14:49] fdanielson commented on #1577
Hi Verm,
I just omitted the IP from the post, no real reason.
I tried with state=mounted, state=unmounted, and state=present and all of them skipped. I ran them it on servers that had the drive mounted already, as well as ones that didn't.

[2015-06-25 00:05] justjico commented on #1393
+1

[2015-06-25 08:07] Phyks opened #1601 "^C with apt leaves it in locked state"
Hi,

Doing a ^C while performing tasks with apt kills Ansible and leaves apt on the remote host in an inconsistent state, with the database locked.

Is it normal?

[2015-06-25 11:53] stolho commented on #1551
As for my issue #11384 I've found such thing in my `ansible/modules/core/cloud/amazon/ec2_vol.py`:

[code]

Is it supposed to be like that?

[2015-06-25 13:58] enxebre opened #1602 "Memory limit not working docker 1.7.0"
Hi there
Using docker Client version: 1.7.0 Client API version: 1.19
Using docker module for running a container and set memory limit like:
memory_limit: "256MB"
or:
memory_limit: 256MB

when I docker inspect the container the memory is not set.

[2015-06-25 14:43] gregdek commented on #1602
cc: @cove @joshuaconner @softzilla @smashwilson

[2015-06-25 15:25] #1393 closed, assigned to nobody

[2015-06-25 16:25] abadger commented on #1574
From the sounds of it, I don't think we can detect that a missing https_proxy setting is the reason that we're failing here but it does seem reasonable to include a small note in the documentation that a redirect can convert a http request into an https request so setting up both proxies is a good idea.

[2015-06-25 16:28] #1574 closed, assigned to nobody

[2015-06-25 16:29] abadger commented on #1574
# Closing This Ticket

Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!foru

[2015-06-25 17:31] bpesics commented on #1239
+1

[2015-06-25 17:31] bpesics commented on #1375
+1

[2015-06-25 20:53] gregdek commented on #1239
cc: @cove @joshuaconner @softzilla @smashwilson

[2015-06-25 21:08] donjohnson opened #1608 "authorized_key reports ok if no key is actually installed due to missing local key"
Found this as I have my ssh config IdentityFile pointed to a different key filename (~/.ssh/id_rsa.$org.key).

If no ~/.ssh/id_rsa.pub exists, the module will report back that the operation succeeded, implying that the key was installed, when in fact no key was installed (nor was the ~/.ssh directory on the target created).

In my case, I solved this with a symlink, but I had to dig for a while to

[2015-06-25 21:35] davidvasandani commented on #267
I was doubling up my ProxyCommand config by calling it in the ssh.config and in the cli. Slimming it down to just the following fixed the issue.

[code]

[2015-06-26 05:36] SinisterLight opened #1610 "Openstack load balancer member management module"
##### ISSUE TYPE

Feature Idea
##### COMPONENT NAME

new module
##### ANSIBLE VERSION

N/A
##### SUMMARY

Hey guys, any plans to have lb support for openstack ? I find it quite necessary for orchestration.
If we agree on it, I am willing to put in a PR

[2015-06-26 08:43] pzhuk commented on #1512
observing exactly same issue. Deploying zookeeper from package has 2 configs - both upstart and init.d. When ansible tries to enable and start service - second instance is started.

That's how we do service enable:

  name: Enable zookeeper
  service: name=zookeeper state=started enabled=yes

[2015-06-26 08:57] pzhuk opened #1611 "ec2_metric_alarm fails to change alarm without dimensions"
Sometimes we want to operate with alarms based on metrics having no any dimensions. This is allowed by AWS in general.
ec2_metric_alarm is able to create alarm with no dimensions, but on the next repeated run task will fail, because ec2_metric_alarm tries to iterate over list of dimensions which isn't present

Environment:
- $ ansible --version
  ansible 1.9.1
- >>> boto.Version
  '2.36.0'
- $ una

[2015-06-26 11:36] stolho opened #1612 "ec2_vol msg: Cannot specify volume_size and either one of name or id"
**Issue Type:**
Bug Report

**Ansible Version:**
ansible 1.9.1

**Ansible Configuration:**
No changes

**Environment:**
- Mac OS X 10.10.3
- Python 2.7.10
- The output of pip list:

[code]

**Summary:**
Ansible fails to create a new EBS volume.

**Steps to reproduce:**
I have such code in my yaml file:

[code]

And when I execute the ansible-playbook I get such error:

[code]

I was also trying to

[2015-06-26 12:21] hydrapolic commented on #833
Please apply this PR. It is not possible to set up permissions on views with Ansible when using ALL_IN_SCHEMA.

[2015-06-26 12:52] verm666 commented on #1608
Hi @donjohnson, can you provide information about Ansible version and your OS?

[2015-06-26 13:39] aioue commented on #1381
@vtsingaras #1545 has been merged, happy to test PRs for this as well for you.

[2015-06-26 14:02] gregdek commented on #833
The PR was applied against the old repository structure. @ToBeReplaced or @hydrapolic please feel free to re-file the original PR against ansible/ansible-modules-core and we'll put it into our review process as soon as we can.

[2015-06-26 14:05] gregdek commented on #1612
cc: @lwade

[2015-06-26 14:14] gregdek commented on #1611
cc: @zeekin

[2015-06-26 14:17] gregdek commented on #1512
Test in devel? I think it's handled by #999

[2015-06-26 14:23] gregdek commented on #1610
cc @emonty

[2015-06-26 14:28] emonty commented on #1610
Hi @SinisterLight ! We'd love to have it (I'm assuming you're talking octavia/neutron lbass) We'd also love the help adding it... please see [the openstack module README](https://github.com/ansible/ansible-modules-core/blob/devel/cloud/openstack/README.md). We'll need to add support for them into [shade](http://git.openstack.org/cgit/openstack-infra) as well.

Thanks for the help!

[2015-06-26 14:33] verm666 commented on #1608
And can you provide playbook example. I'll try to repeat described behaviour by myself.

[2015-06-26 16:11] Rizzly commented on #327
The problem I described is fixed by this PR https://github.com/ansible/ansible-modules-core/pull/53. That should proabably go for @markabey and @hackeron as well. Have a try!

[2015-06-26 16:33] verm666 commented on #1558
Nice feature, I guess!

@MartinDE90, can you test it form my fork repository? (https://github.com/verm666/ansible-modules-core/tree/issue-1558) like that (I have no CentOS / RedHat VM for now):

[code]

If everything fine, I will create pull request to main Ansible repository.

[2015-06-26 16:41] verm666 commented on #1577
Hmm...

Can you repeat next steps:
1. Remove related to nfs lines from /etc/fstab
2. Show me your /etc/fstab
3. Run playbook with mount task (with state=mounted) and provide minimal piece of code, which you are use
4. Show 'mount' and 'which mount.nfs' output and /etc/fstab content again

And provide information about you OS.

[2015-06-26 17:05] jerrac opened #1616 "Feature Idea: Allow service module to have more states"
Many init scripts offer more options than just start/stop/restart/reload. For example:

[code]

In my iptables role, I really need to be able to run the flush command. But I can't do that with the service module. I'll just use a shell/command task, but it would be nice if I could tell the service module what option to use.

Something like:

[code]

[2015-06-26 18:03] gregdek commented on #327
Closing per submitter request. Thanks @Rizzly!

[2015-06-26 18:03] #327 closed, assigned to nobody

[2015-06-26 21:22] bcoca commented on #1616
i'm thinking a state: custom, that just passes the arguments: field blindly and does no existing state checks.

[code]

no new options, just some new logic for the new state

[2015-06-26 21:28] jerrac commented on #1616
That makes sense to me. :)

[2015-06-26 21:42] bcoca commented on #1573
probably should fail normally and only do this with a force=yes

[2015-06-26 22:00] mikejquinn opened #1619 "Route53 module cannot differentiate between multiple private zones for the same doman"
Issue Type:

Bug Report

Ansible Version:

ansible 1.9.2 (stable-1.9 db5ea10ed2) last updated 2015/06/26 14:53:24 (GMT -700)
  lib/ansible/modules/core: (stable-1.9 ea913bada2) last updated 2015/06/26 14:06:49 (GMT -700)
  lib/ansible/modules/extras: (detached HEAD f291e9fcc3) last updated 2015/06/26 14:53:29 (GMT -700)
  v2/ansible/modules/core: (detached HEAD 85c8a892c8) last updated 2015/06/26

[2015-06-26 22:03] mikejquinn commented on #1619
Private zone support was added in response to [this ticket](https://github.com/ansible/ansible-modules-core/issues/473) with [this commit](https://github.com/ansible/ansible-modules-core/commit/fafb93490cd5841428aef39cbcf6e0f740e1a983).

[2015-06-26 23:30] bcoca commented on #1512
closing as fixed by #999 and released with 1.9.2

[2015-06-26 23:30] #1512 closed, assigned to nobody

[2015-06-26 23:32] bcoca commented on #1563
sorry, should have included at least some of the dupes: #915, #1170,#1298, #1533, and some others

fixed by #999

FYI, this should be fixed in 1.9.2 and current devel

[2015-06-26 23:33] bcoca commented on #593
sorry, took me long to come back to this, the error is probably because systemd detection relies on pid 1, can you show me more info on the init process inside one of your instances?

[2015-06-26 23:39] bcoca commented on #1387
closing this as duplicate of #915

[2015-06-26 23:39] #1387 closed, assigned to nobody

[2015-06-26 23:41] bcoca commented on #915
so I was wrong above, it seems systemd should be configured by the distribution to fallback to the old sysV init tools to enable/disable init scripts, the bug report linked above also has the updates that fix this issue on debian.

[2015-06-26 23:47] #1120 closed, assigned to nobody

[2015-06-27 00:26] bcoca commented on #1192
anything in the target machine logs? auth log and dmesg should have something if it is a permissions or system error.

[2015-06-27 00:28] bcoca commented on #1568
@verm666 the last line moves the temp file into its final place, the line before that creates the tmp file as a symlink as that is what is supposed to happen as the state it is 'link' at this point.

[2015-06-27 00:32] bcoca commented on #1568
copy always calls the file module, it uses it to set the permissions on the files, in the case that the checksums match it skips copying the file (there should be no need).

[2015-06-27 00:54] mitchellim commented on #1568
My understanding of `follow=true` for copy: if `dest` is a symlink, replace the target of `dest` with the contents of `src`. The first run with the test case seems to validate this understanding.

Unfortunately, file completely replaces that symlink with a nonsensical one because the `src` parameter means different things between copy and file (due to different systems and/or directories). That se

[2015-06-27 01:39] bcoca commented on #1601
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2015-06-27 01:39] #1601 closed, assigned to nobody

[2015-06-27 01:40] bcoca commented on #1601
in any case, no, the ctrl+c should only kill the local process and the remote one should finish off and be orphaned, but if using ssh pipelining this can be tricky and leave the other process hung/locked. You will have to log onto the machine and kill any ansible processes still lingering.

[2015-06-27 01:44] bcoca commented on #1551
isn't the volume being created AFTER you attempt to assign it to the instance?

[2015-06-27 01:46] bcoca commented on #1551
also, i cannot see the example doing same, I see one that creates the ec2 instance but does not reference a volume to attach, then the volume gets created and attached to the instance via ec2_vol

[2015-06-27 01:48] bcoca commented on #1602
what version of ansible, os, python? could you fill in the template? https://github.com/ansible/ansible/blob/devel/ISSUE_TEMPLATE.md

[2015-06-27 13:37] bcoca commented on #1568
agreed, that seems to be the crux of the issue, copy  should obey follow and either copy over the symlink (no problem) or it's destination and then handoff to file with the correct information for file to handle permissions (this is where we break down).

[2015-06-27 16:20] enxebre commented on #1602
Hi,
running from os x mavericks 10.9 to ubuntu1404
ansible 1.9.0.1
docker Client version: 1.7.0 Client API version: 1.19
ansible.cfg

[code]

trying to:

[code]

when docker inspect got:

[code]

[2015-06-27 17:21] lekum commented on #1573
+1 to @bcoca 's idea. At least it should fail, otherwise it should be considered a bug as the state of the repo does not mattch the one expressed in the module parameters.

[2015-06-27 17:48] ToBeReplaced commented on #833
PR at #1621

I hadn't recreated the PR before because it didn't seem like it was going to get merged (due to lack of review in https://github.com/ansible/ansible/pull/8178). Thank you @hydrapolic for adding your experience so that this will be fixed.

[2015-06-27 18:18] hydrapolic commented on #833
I've tested the solution by @ToBeReplaced and it worked ok. Now setting up permissions with ALL_IN_SCHEMA worked for tables and views, great!

[2015-06-28 05:16] mikejquinn commented on #1619
Pull request with the fix: https://github.com/ansible/ansible-modules-core/pull/1623

[2015-06-28 06:00] mikejquinn commented on #1619
And for 1.9: https://github.com/ansible/ansible-modules-core/pull/1624

[2015-06-28 12:32] shay-li commented on #1544
Reproduce

Ansible Version:
1.9.1
OS:
Ubuntu 14.04

What`s the status of this bug?

[2015-06-28 13:58] Fazik opened #1625 "ansible unarchive dest must be an existing dir with csh on managed server"
Issue Type:

Bug Report

Ansible Version:

ansible 1.9.1

Environment:

Ansible running on FreeBSS 10.1
Managing FreeBSD 9-10.1
Summary:

When unarchive module  executing on FreeBSD with default root shell csh it fails with "msg: dest 'some_dest' must be an existing dir" even if such dir exist, if change shell to sh at managing server than everything works fine

Steps To Reproduce:

[code]

[code]

[2015-06-28 20:28] lbradeen commented on #1277
+1

[2015-06-28 20:58] nusenu opened #1627 "ansible_all_ipv4_addresses does not contain IP addresses of aliases on OpenBSD"
Hi,

I make use of `ansible_all_ipv4_addresses` in my role, but the setup module fails to see IP addresses of aliases.
`ifconfig <interface>` shows the ip address but
 `ansible_all_ipv4_addresses` does not contain them.

ansible version: 1.9.1

Target host: OpenBSD 5.7

[2015-06-29 02:31] michaeljs1990 commented on #1450
I am experiencing the same error with ansible 1.9.2 and the latest version of docker-py that is in pip. Has anyone figured anything out since the last post?

[2015-06-29 05:24] michaeljs1990 commented on #1450
I got this working i'll send a pull request and a write up on it tomorrow i'm about to pass out and it's pretty hacked together right now.

https://github.com/ansible/ansible-modules-core/pull/1300

Looks like this was already done. however I am doing some testing as this by itself doesn't complete fix the problem for me.

[2015-06-29 08:13] MartinDE90 commented on #1558
I think there is a little mismatch:
        install_root=dict(required=False, type='str'),
        installroot = params['installroot']

I've changed this to params['install_root']. After that, installing work fine, but I can't remove this package with state=absent.
I'm not familiar with python, but I think there is a problem with is_installed function.

Thanks!

[2015-06-29 09:42] eandersson commented on #283
Any update on this? The upcoming domain-token support for Keystone is only supported in V3.

[2015-06-29 11:39] danvaida opened #1629 "regression: ec2 module forgets about encrypted volumes"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

n/a
##### Environment:

FC21
##### Summary:

Until I upgraded to the stated branch, my play was working fine. Unfortunately, I don't remember the previous version. Anyway, here goes: I am trying to spin up an ec2 instance and use a volume snapshot as a dev. Nothing to do with encryption. I tried specifying _

[2015-06-29 12:05] danvaida commented on #1629
Well, it seems like it doesn't have anything to do with my specific volumes block. Even this block renders the same behavior:

[code]

[2015-06-29 12:11] bennojoy commented on #1629
@danvaida  this has been fixed latest devel  via #1534

[2015-06-29 12:11] #1629 closed, assigned to nobody

[2015-06-29 12:37] danvaida commented on #1629
Oh yeah, works with ea913bada2
Forgot to do the recursive submodules update :)
Thanks!

[2015-06-29 18:38] rfein-hearst opened #1636 "ec2-vpc does not support network-interface as a gateway"
The VPC module doesn't seem to support network interface as a gateway. Some topologies use a network interface rather than an instance-id to allow for failover scenarios,but ansible doesn't currently support it.    The underlying boto method does support interface_id as a parameter.

[code]

`<Response><Errors><Error><Code>InvalidGatewayID.NotFound</Code><Message>The gateway ID 'eni-f0693d97' does

[2015-06-29 20:08] akaihola commented on #1443
This doesn't seem to work. I always get

[code]

I'm at commit 6288d44581e1d6eb5505d52ac692a9ef8f6b4918.

[2015-06-29 20:14] Jmainguy commented on #1443
@akaihola did you try with copy=no, yes is the default, and if yes it doesnt try to download it, on the off chance that someone actuall has :// in their filename and wants to copy it over

[2015-06-29 20:26] akaihola commented on #1443
@Jmainguy yes, I have `copy=no`. The strange thing is, it works if I run it with `test-module`. As soon as I run `ansible-playbook`, it fails. I've triple-checked that I'm actually running the same code in both cases.

[2015-06-29 20:28] Jmainguy commented on #1443
@akaihola  does your playbook have :// in the url, or just :/ looks like I am looking for elif '://' in src:

[2015-06-29 20:31] abadger commented on #994
Just doing some record keeping and then closing this:
- steenzout fixed the ec2_key.py module problem that he discovered above via a different pull request.
- The errors that are being resolved by setting PYTHONPATH and/or /usr/bin/env python are likely due to having two versions of python on the system.  boto is being installed into one version (the one that's being pointed to by PYTHONPATH or th

[2015-06-29 20:31] #994 closed, assigned to nobody

[2015-06-29 20:33] akaihola commented on #1443
@Jmainguy my URL starts with `https://`

[2015-06-29 20:35] akaihola commented on #1443
@Jmainguy these are my actual tasks:

[code]

[2015-06-29 20:37] akaihola commented on #1443
And here is the output using the `-vvvv` verbose flag:

[code]

I don't understand the second-last "PUT" line. Where does "/source" come from? Why isn't it copying the script with the name `unarchive` instead?

I also tried quoting the URL, but it didn't help at all.

[2015-06-29 20:45] Jmainguy commented on #1443
Just installed from devel and I am having the same issue as well, but it works with the copy of the file I had before submitting my PR. Sooooooooooooo I blame @abadger. Looking into it now, ty for reporting this

[2015-06-29 21:04] akaihola commented on #1443
Ok, I found the reason. After removing `lib/ansible/plugins/action/unarchive.py` and `lib/ansible/plugins/action/unarchive.pyc`, everything works correctly.

[2015-06-29 21:09] Jmainguy commented on #1443
Can confirm, that fixed it for me as well

[2015-06-29 21:36] donjohnson commented on #1608
Ubuntu 12.04, Ansible 1.7.2.

The playbook is dead simple:

[code]

Steps to reproduce: run this playbook (with appropriate vars) with keys pointing to id_rsa pub/key files which do not exist--the authorize_key code should not notice this, and report success.

[2015-06-29 21:59] anthcourtney commented on #706
+1.

Is there any movement on this or the (possibly) related pull request? It seems amiss that the functionality is documented, but doesn't seem to work in the way that anyone expects.

[2015-06-29 22:15] #530 closed, assigned to nobody

[2015-06-29 22:18] #412 closed, assigned to nobody

[2015-06-30 03:30] #625 closed, assigned to nobody

[2015-06-30 03:59] detiber commented on #1142
@Jmainguy lgtm, thanks!

[2015-06-30 03:59] #1142 closed, assigned to nobody

[2015-06-30 04:11] #801 closed, assigned to nobody

[2015-06-30 06:38] michaeljs1990 commented on #1450
https://github.com/ansible/ansible-modules-core/pull/1639 was just opened and should allow you to run it if you follow the directions I have also provided. Looking for a better solution but at least we have a place to go from.

[2015-06-30 11:58] bcoca commented on #833
closed by merging #1621

[2015-06-30 11:58] #833 closed, assigned to nobody

[2015-06-30 15:00] verm666 commented on #1558
Thanks for feedback @MartinDE90!

I fixed it. Can you pull changes from my repo and repeat tests?

[2015-06-30 15:49] Fazik commented on #1625
Problem persist on ansible 1.9.2

Ansible executes something like this:
ssh -C -tt -vvv -o ControlMaster=auto -o ControlPersist=60s -o ControlPath="/root/.ansible/cp/ansible-ssh-%h-%p-%r" -o IdentityFile="/root/.ssh/id_rsa" -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -o ConnectTimeout=10 192.168.0.201

[2015-06-30 16:00] verm666 commented on #1608
Show me full output for command `ansible-playbook <path to dead simple playbook> -vvv`

[2015-06-30 16:46] enxebre opened #1641 "Accessing registered variables created from commands with braces results in template processing errors"
Hi,
running from os x mavericks 10.9 to ubuntu1404
ansible 1.9.0.1
docker Client version: 1.7.0 Client API version: 1.19
ansible.cfg

[code]

trying to:

[code]

I got:
 template error while templating string: unexpected '.'

I am probably doing something wrong. but I can see the stdout of the command is correct in debug mode.

Thanks,
Alberto.

[2015-06-30 17:09] Fazik commented on #1625
ssh executes this command in next way:

and everything after /bin/sh -c rc=flag; will be executed by csh

May be it is better way to change execution to something like:

 some_file_with_script.sh will contain original commands:
 rc=flag; [ -r /usr/work/src/unpacked ] || rc=2; [ -f /usr/work/src/unpacked ] || rc=1 ....
Than it will work properly.
So the issue is more relative to ansible/runner/shel

[2015-06-30 17:37] hutchic commented on #706
I think this brings everything more in line with how I expected it to work and is documented

https://github.com/ansible/ansible-modules-core/pull/1031

[2015-06-30 18:29] bcoca commented on #1627
we probably need to fix the fact gathering code to also look at ip aliases

[2015-06-30 18:56] emonty commented on #283
@eandersson we have a set of replacement modules coming: #1598 ... it's fully v3 compatible.

[2015-06-30 21:50] sivel opened #1643 "Modules missing GPLv3 License header"
The following modules are missing the GPLv3 License Header:
- cloud/amazon/ec2_eip.py
- cloud/amazon/ec2_group.py
- cloud/amazon/ec2_key.py
- cloud/amazon/ec2_scaling_policy.py
- cloud/openstack/keystone_user.py
- cloud/vmware/vsphere_guest.py
- commands/raw.py
- commands/script.py
- commands/shell.py
- files/fetch.py
- files/template.py
- inventory/add_host.py
- inventory/group_by.py
- utilities/

[2015-07-01 02:25] webmonarch commented on #1113
+1

[2015-07-01 04:14] michaelrice opened #1645 "pip module reports changed when installing from github"
In [ansible/1705](https://github.com/ansible/ansible/issues/1705) this issue was reported to be fixed, but I am still having this on 1.9.2

I have the following:

[code]

No matter how many times I run this it reports "changed"

[2015-07-01 10:22] bbaassssiiee opened #1647 "Where is the keystore for uri:"
In 1.9.2 the parameter validate_certs has a default value of 'yes', that is fine with us if we know where to import our own CA's certificate. I need to run local_action uri: on a Mac.

[2015-07-01 10:47] mjg123 opened #1648 "race condition in directory creation using file module"
Ansible 1.9.2 (also observed this issue on 1.7.2)

mybook.yml:

[code]

myhosts

[code]

NB all these are aliases of 127.0.0.1 in my `/etc/localhosts`

The following command will occasionally fail, in my experience about 5% failure rate, but YMMV:

[code]

[code]

I have been able to automate the triggering of this with:

[code]

[2015-07-01 10:54] mjg123 commented on #1648
Here's the offending code:

  https://github.com/ansible/ansible-modules-core/blob/devel/files/file.py#L282-L283

This is not atomic.

[2015-07-01 11:00] MartinDE90 commented on #1558
Traceback (most recent call last):
  File "/home/testuser/.ansible/tmp/ansible-tmp-1435748112.89-200992866118889/yum", line 3009, in <module>
    main()
  File "/home/testuser/.ansible/tmp/ansible-tmp-1435748112.89-200992866118889/yum", line 921, in main
    params['installroot'])
  File "/home/testuser/.ansible/tmp/ansible-tmp-1435748112.89-200992866118889/yum", line 844, in ensure
    res = remo

[2015-07-01 11:32] verm666 commented on #1558
Thanks @MartinDE90, fixed.

[2015-07-01 11:58] verm666 commented on #1575
@bcoca can you review fixed version?

[2015-07-01 12:11] verm666 commented on #29
Can't reproduce it on 1.9.1 and devel version. @gregdek, you can close this issue, i guess.

[2015-07-01 12:48] flyte opened #1650 "Snapshot data not returned when deleting RDS instance with final snapshot"
When you use the `rds` module to create a snapshot, the module returns details about the created snapshot:

[code]

However, when you use the `delete` command and provide a name for the final snapshot to be created as, you do not receive the snapshot details:

[code]

As a side note, you might have trouble testing this at the moment because creating a final snapshot upon deletion is [currently bro

[2015-07-01 12:58] MartinDE90 commented on #1558
Everything works  fine on Centos7. I tested installation and removal packages with and without installroot option. Thanks a lot for your work !

I've checked your code and I have one question.
def latest(module, items, repoq, yum_basecmd, conf_file, en_repos, dis_repos):
Function latest don't have installroot parameter, but in the body function is_installed and what_provides is invoked with instal

[2015-07-01 13:06] bcoca commented on #1625
did you set ansible_shell_type to csh?

[2015-07-01 13:36] verm666 commented on #1558
Thanks @MartinDE90, fixed. Developing without unit tests is sucks :)

[2015-07-01 13:59] verm666 commented on #1558
@MartinDE90 can you check it again and if everything fine - I'll create pull request with our patch.

[2015-07-01 16:03] abadger commented on #1647
the uri module is currently using the httplib2 module.  that python module stores the certificates in a cacerts.txt file inside of the module by default.  I'm not sure where that is on the Mac but if it were in /usr/local, then the directory would be /usr/local/lib/python2.7/site-packages/httplib2/cacerts.py

Some packaging of httplib2 puts the cert file in a different place (for instance, on my F

[2015-07-01 16:03] #1647 closed, assigned to nobody

[2015-07-01 18:27] #1648 closed, assigned to nobody

[2015-07-01 19:59] joshm opened #1655 "ec2_lc fails with TypeError: LaunchConfiguration:test-lc is not JSON serializable (devel branch)"
Running a lc create as simple as:

[code]

Returns:

`TASK [s_setup : s_setup : s launch configuration] *******************
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: TypeError: LaunchConfiguration:test-lc is not JSON serializable
fatal: [localhost]: FAILED! => {"invocation": {"module_name": "ec2_lc", "module_args": {"instance_type": "m3.medium

[2015-07-01 20:12] anthonygreen opened #1656 "Ansible fails to find required executable pip"
Running ansible to provision a OSX 10.9.x

First I had to install pip

[code]

but then

[code]

fails with

[code]

even though the install was successful

[code]

[2015-07-01 20:33] bcoca commented on #1656
this is why it has an 'executable' option with which you can point it to the correct pip.

closing this as there is no action required

[2015-07-01 20:33] #1656 closed, assigned to nobody

[2015-07-01 21:26] Fazik commented on #1625
No, I didn't.
The problem is in oneliner which ansible sends to host
lib/python2.7/site-packages/ansible/runner/shell_plugins/sh.py:

Which looks when send to host like:

And if we launch that ssh  command by hand we will see something like this in output:

Interesting block is:

It shows that with /bin/sh only  /bin/sh -c rc=flag; executes, next commands will be executed by default shell, which i

[2015-07-01 22:43] queridiculo commented on #1556
Check out #1657. Changed the behavior of latest as part of my effort to have check_mode provide more detailed information.

[2015-07-02 00:20] loth opened #1658 "os_image Has no support for copy_from external URL's"
It appears we are missing a feature with the new os_image compared with http://docs.ansible.com/glance_image_module.html
copy_from          A url from where the image can be downloaded, mutually exclusive with file parameter
Could this be added to os_image?

[2015-07-02 01:13] michaeljs1990 commented on #1450
@BlackthornYugen If you get a chance to check out my patch that would be awesome! hope it works for you if not let me know so I can improve it.

[2015-07-02 05:00] jimi-c opened #1660 "AWS credentials are not being used by ec2_tag"
(moved from ansible/ansible#9984)
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.8.2
configured module search path = None
ansible HEAD (as of 2015-01-12)
boto 2.35.1
##### Environment:

Running from a Archlinux system targeting remote AWS Linux instances.
##### Summary:

The AWS credentials from environment variables or boto configuration files are not  being passed to the ec2_tag

[2015-07-02 05:01] #1660 closed, assigned to nobody

[2015-07-02 07:35] dragonde commented on #633
+1

[2015-07-02 07:44] MartinDE90 commented on #1558
We have a little problem. In Centos 7 patch works well, but there is an error in Centos 6.6.
When I try to install without (with installroot works fine) installroot option I get an error:
failed: [testhost] => {"changed": false, "failed": true, "rc": 1, "results": [""]}
msg: CRITICAL:yum.cli:Config Error: Error accessing file for config file:////etc/yum.conf

If the installroot parameter is not sp

[2015-07-02 09:24] bpesics commented on #633
+1

[2015-07-02 10:02] cortopy opened #1662 "mysql_user doesn't accept encryption"
I normally use Passlib encryption with the prompt module in order to set passwords. This works well with SSH passwords, for example.

However, when trying to use prompt to set the password variable with mysql_user it just doesn't work. I've tried with sha512_crypt and md5_crypt but mysql wouldn't let me log in after changing passwords.

Using prompt without encryption works fine.

Is this because

[2015-07-02 11:07] aioue opened #1664 "script module should support templating"
##### Issue Type:

Feature Idea
##### Summary:

`script` module should support templating files.
##### Expected Results:

Instead of having to copy a script over and then run it if a templating is needed, script should support templated (`{{ foo }}`) script files.

[2015-07-02 11:57] BlackthornYugen commented on #1450
@michaeljs1990 Thanks for making that patch! I had meant to try it out yesterday but I didn't get a chance. I'll probably try it this weekend.

[2015-07-02 13:04] verm666 commented on #1558
Yep, the reason of this: old yum in a lot of places for concatenation paths uses "+" instead of os.path.join(). Added a workaround for this case. Thanks @MartinDE90.

[2015-07-02 13:10] hostmaster commented on #772
@danpilch  do you have the issue still ? I'm restarting celery without sugnificant delays

[2015-07-02 17:40] joshm commented on #1655
I believe it is this: https://github.com/ansible/ansible-modules-core/commit/5e674ddcfc3ab317d2aa05fc84dfe206768cfdab#diff-74356b4e26d3b0a785194e2aad7fe7f4

Removing that, fixes the issue

[2015-07-02 20:17] echiu64 commented on #1505
Looks like a JSON parsing error. Can you attach your policy for reference?

[2015-07-03 05:33] MartinDE90 commented on #1558
Thanks @verm666 , it's working great now. You can create pull request now.

[2015-07-03 08:44] egroeper opened #1667 "apt: upgrade docs vs. code mismatch"
Issue Type:
“Bug Report”

Ansible Version:
ansible 1.9.2 (but looks the same in devel branch)

Environment:
Ubuntu 14.04

Summary:
Docs say upgrade="yes" is default, but it isn't:

[code]

Either docs or code should be fixed. Don't know which one is better. Perhaps quite a few people now depend on the current behaviour. So it could be better to fix the docs.

Steps To Reproduce:
In my playbook:

[

[2015-07-03 09:15] egroeper commented on #1667
Just had a further look:

[code]

Currently I guess `p['upgrade']` is None, since there is no default.
That's why the upgrade method doesn't get called. If you would set upgrade="no" (since choices are strings), behaviour would be the same as upgrade="yes", because it evaluates to True. But upgrade=no should work as expected.

[2015-07-03 09:27] marcuslinke opened #1668 "docker_module: Error fetching state from pull command"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

docker module
##### ANSIBLE VERSION

N/A
##### SUMMARY

When working against

[code]

there is a problem when trying to pull an image:

[code]

Seems the docker_module code doesn't expect a status of `downloaded` and assumes the pull command as failed.

[2015-07-03 14:59] gregdek commented on #1668
cc @cove @joshuaconner @softzilla @smashwilson

[2015-07-03 17:59] bcoca commented on #1627
closed via #11482

[2015-07-03 17:59] #1627 closed, assigned to nobody

[2015-07-03 18:38] bcoca commented on #1667
that seems the correct thing, add 'no' to the choices and list that as the default.

[2015-07-03 18:44] #1667 closed, assigned to nobody

[2015-07-03 21:49] tetherit commented on #327
Seems to work now, thank you!

[2015-07-03 22:44] bcoca commented on #1443
closing this via merged #1448

[2015-07-03 22:44] #1443 closed, assigned to nobody

[2015-07-03 23:34] bcoca commented on #706
so does #1031 solve the issue for all? can we close this ticket?

[2015-07-04 00:05] qmaxquique commented on #1616
+1

[2015-07-04 02:08] #1575 closed, assigned to nobody

[2015-07-04 02:09] #29 closed, assigned to nobody

[2015-07-04 02:42] bcoca commented on #1625
please set the ansible_shell_type to csh for the host, ansible by default expects /bin/sh and will use sh compatible code unless you tell it otherwise.

[2015-07-04 02:44] bcoca commented on #1658
cc @emonty @j2sol

[2015-07-04 15:22] trompx commented on #1158
+1 Same here with docker 1.6.2, ansible 1.9.1, ubuntu 14.04.2

[2015-07-04 16:49] Fazik commented on #1625
I've set it, but there are no changes in behavior:

[2015-07-04 19:38] monkseal commented on #902
+1

[2015-07-05 01:01] gregdek commented on #1158
cc: @ansible/docker

[2015-07-05 20:09] tetherit opened #1673 "Support systemd reenable"
I have this task:

[code]

This works OK the first time, but if I edit the service file (particularly the [Install] section), ansible says "ok" but it actually does not enable the current/new service - it ignores it and keeps the old one :(

This leads to confusion and inconsistency. Right now I run "systemctl reenable timeagent" manually to actually enable the service after editing it. It would b

[2015-07-06 09:51] eagleusb opened #1674 "wait_for module and UDP port check support"
Hello,

It would be great to implement UDP support into wait_for module and port parameter.
Any plan or work in progress for this ?

Thanks,
Regards

[2015-07-06 14:14] bcoca commented on #1674
none yet, but its been thrown around a couple of times, leaving this open as a marker

[2015-07-06 16:01] verm666 commented on #133
You can close this issue, I guess, @gregdek.

[2015-07-06 16:05] bcoca commented on #133
closing then

[2015-07-06 16:05] #133 closed, assigned to nobody

[2015-07-06 16:18] michaeljs1990 commented on #1450
@BlackthornYugen did you get a chance to check it out over the weekend? If you could even plus 1 the PR I think it would go a long way to getting it through if they see they have a demand for it.

Thanks!

[2015-07-06 18:45] lukevalenta opened #1677 "Unable to set up NFS on EC2 instances launched using Ansible"
Hi,

I am unable to get NFS configured correctly on EC2 instances launched via the 'ec2' module in Ansible. When I launch instances using the exact same AMI from the AWS EC2 console, NFS works without a hitch.

First I'll describe my setup, and then how to reproduce the problem. I'm running Ansible from a Mac OSX Yosemite version 10.10.3.

[code]

I was also able to reproduce the problem from a ma

[2015-07-06 20:56] bcoca commented on #1677
you should really direct questions like this to the lists, a lot more people that might have experience with this look at that over bug tickets that are not bugs but questions

[2015-07-06 20:57] bcoca commented on #1677
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2015-07-06 20:57] #1677 closed, assigned to nobody

[2015-07-06 22:26] iainlbc commented on #1677
There's nothing special about how ansible is provisioning the instance. I
don't see groups specified, maybe the instances your spinning up from
ansible are being provisioned into a different group which doesnt have
access to the NFS server? Are you using EFS? Can you telnet to the nfs
server on any of the required rpc ports?

##

Iain Wright

This email message is confidential, intended only for t

[2015-07-07 00:24] lukevalenta commented on #1677
Hi,

Thanks for the response. You're exactly right -- I was not specifying the correct security group. I had the ansible group and the security group mixed up in my code.

Thanks!

[2015-07-07 07:08] anthonygreen commented on #1550
I'm seeing this as well; with the task:

[code]

the container has been created but the task fails

[code]

[2015-07-07 07:19] cthiemann opened #1678 ""apt upgrade=dist" incorrectly reports changed=false if number of upgraded packages is a multiple of 10"
That's because the string "0 upgraded" is in "10 upgraded":

 if (apt_cmd == APT_GET_CMD and APT_GET_ZERO in out) or (apt_cmd == APTITUDE_CMD and APTITUDE_ZERO in out):
   m.exit_json(changed=False, msg=out, stdout=out, stderr=err)
   m.exit_json(changed=True, msg=out, stdout=out, stderr=err)

https://github.com/ansible/ansible-modules-core/blob/devel/packaging/os/apt.py#L535

[2015-07-07 10:06] damienhollis opened #1679 "sudo not working correctly on 1.9.2"
Hi,

I have been troubling shooting a problem with ansible on RHEL7.  I've just started to provision new servers using scripts that worked correctly on RHEL6.  They also worked correctly (after some tickering) on RHEL7 when I ran then as root (basically to bootstrap the environment).  However, ever since I'm been trying to run them using sudo, they have been failing.  I created a very simple playb

[2015-07-07 13:12] bcoca commented on #1679
we really need more info, please fill in the template https://github.com/ansible/ansible/blob/devel/ISSUE_TEMPLATE.md so we can better asses this issue.

[2015-07-07 13:15] BlackthornYugen commented on #1450
@michaeljs1990 I didn't have a lot of time this weekend; but I had replaced my docker_image.py in ansible-source/v1/ansible/modules/core/cloud/docker with the one from your repo and would get an error saying that geturl isn't a valid attribute. This happens on both localhost (OSX) and my webservers (Ubuntu):

[code]

[2015-07-07 13:24] bcoca commented on #1678
he, the 'in out' is matching starting at the 0, need to check if that is start of line or has a space in front

[2015-07-07 13:48] michaeljs1990 commented on #1450
@BlackthornYugen huge thanks for taking a look at this! You are right I forgot to remove the .geturl method after i changed docker_image to be a string. I actually had that change locally that ended up not getting committed somehow. fixed now :) You can also add a /library folder next to your ansible playbook and place the python file in it and it will overwrite the code docker_image module to mak

[2015-07-07 14:06] BlackthornYugen commented on #1450
@michaeljs1990 Thanks for the quick reply! It looks like after that update I'm back to "No such file or directory":

[code]

It doesn't look like it's using DOCKER_HOST from the environment because when I specify the docker URL I get this (like I did previously):

[code]

[2015-07-07 14:42] anthonygreen opened #1681 "docker_module volumes fails"
#### Issue Type:

Bug Report
#### Component Name

_docker module
#### Ansible Version:

1.9.2
### Ansible Configuration

[code]
#### Docker.py version

1.2.3
#### Environment

Running from: OS X 10.9.5
Managing: Ubuntu 15.04
#### Summary:

volumes in docker_module fails to bind to the correct path on host machine
#### Steps to reproduce

This playbook fails

[code]

whilst this playbook correctly

[2015-07-07 14:48] bcoca commented on #1681
we need more data, please fill in the issue template https://github.com/ansible/ansible/blob/devel/ISSUE_TEMPLATE.md

[2015-07-07 15:20] jmeickle opened #1682 "Wrong home directory when setting HOME in template module"
All of the servers that I'm working with have HOME set to '/users/foobar', but not all of them have the '/users' NFS mount. This means that on some servers, my HOME will be a non-existent directory that I don't actually want created. In that case, I may want to temporarily set HOME to something else using 'environment' in Ansible, so that applications that assume you have a home directory can stil

[2015-07-07 17:17] jstasiak commented on #133
This change may have introduced a regression.

I'm running https://github.com/ansible/ansible/commit/d198b18c1438cb2b92a749b00890edbffaf4d90d
Host OS: Debian Wheezy

Task:

[code]

Result:

[code]

It seems like this only works on Ubuntu.

[2015-07-07 17:23] jstasiak commented on #133
I'm afraid stable-1.9 branch is also broken (https://github.com/ansible/ansible-modules-core/pull/1671)

[2015-07-07 19:27] michaeljs1990 commented on #1450
what version of openssl are you using?

[code]

what is the output of `boot2docker status`?

are you able to run boot2docker ssh?

are you using python from brew or the default one with mac?

can i see the role that you are running?

Thanks! sorry for all the questions.

[2015-07-07 19:39] michaeljs1990 commented on #1450
It also looks like you are doing some custom stuff such as setting boot2docker in your hosts file or at least that is what it looks like from the output.

[2015-07-07 19:47] abadger opened #1684 "apt_repository bugs in repos_urls()"
@verm666 could you take a look at some problems in the repos_urls code?
- @jstasiak noted here: https://github.com/ansible/ansible-modules-core/issues/133#issuecomment-119273206 that the repos_url() property was only implemented for Ubuntu, not for Debian.
- I was looking at how to adapt it and found `source, ppa_owner, ppa_name = self._expand_ppa(i[3])
  `.  I couldn't figure out where `i` was ge

[2015-07-07 19:49] abadger commented on #133
Opened a new bug report for the problem as this report is closed: #1684

[2015-07-07 19:54] michaeljs1990 commented on #1450
this is my playbook by the way. docker still blows up with an ssl error however but docker_image is running fine.

[code]

[2015-07-07 20:12] BlackthornYugen commented on #1450
@michaeljs1990

## Python / SSL Version

Don't remember if I installed a different version with brew

[code]

## boot2docker stuff

[code]

[code]

## I did modify /etc/hosts

[code]

## Playbook

Only change from the one I pasted above is that I stopped gathering facts, changed hosts to "all" and I've specified the docker_url.

[code]

[2015-07-07 20:28] michaeljs1990 commented on #1450
I am running 1.7.0 for boot2docker and have OpenSSL 0.9.8zf 19 Mar 2015 which I would really hope wouldn't cause an issue. I would try updating boot2docker if that is an option for you as I believe they have had quite a few bug fixes recently.

[2015-07-07 20:40] michaeljs1990 commented on #1450
@BlackthornYugen do you happen to have another version of openssl installed through brew? Did you install ansible through pip or brew or pull down from source? In a second I will paste out all my environment details to see if we spot any differences.

[2015-07-07 21:34] damienhollis commented on #1679
Hi Brian,

Sorry, it was late when I finally got something working and wanted to get the issue submitted in case you had seen something similar.  Here is the template completed.  Let me know if you need anything else.

# Issue Type:

“Bug Report”

# Ansible Version:

$ ansible --version
ansible 1.9.2
  configured module search path = None

# Ansible Configuration:

There are no differences.  I did

[2015-07-07 22:01] michaeljs1990 commented on #1450
@BlackthornYugen I have an odd setup but I think it's pretty standard for most mac users.

Python Setup:
I have python 2.7.10 installed through brew and python 2.7.10 which came pre installed on my mac. The brew version is installed only for the use of pip. As ansible uses #!/usr/bin/python it's running the pre installed binary. However I have $PYTHONPATH set so both versions of python are using t

[2015-07-07 23:27] damienhollis commented on #1679
Further information, I have just used ansible to apply changes to a remote server and it seems to have no problems with sudo.  Not sure whether ansible_connection=local could be an issue?

[2015-07-07 23:30] damienhollis commented on #1679
Actually, that is not true.  It got a lot further and then failed after a long time with the same error:

"fatal: [189616-45] => ssh connection error while waiting for sudo password prompt"

[2015-07-08 00:53] hutchic commented on #706
:+1: close this ticket

[2015-07-08 01:12] mkoshelev commented on #843
Just my 2c - you can use with_nested instead of with_items as a workaround. Put your original list as the first one for with_nested and one-item dummy list as second - and replace {{ item }} with {{ item[0] }} :

[code]

[2015-07-08 01:56] #706 closed, assigned to nobody

[2015-07-08 02:13] dopry opened #1686 "Regression: ec2_vpc"
@abadger, you missed the if None check on subnets that was holding #825. I just found the regression tonight amidst a security update of a client's production environment.  had to rollback ansible to make things happy.

If you do not specify subnets as per http://docs.ansible.com/ec2_vpc_module.html you get the following error...

[code]

in the strictest sense it does not update existing subnets,

[2015-07-08 03:00] thegalexc commented on #876
+1 For this as a bug. Running OS X 10.10.3, Ansible 1.9.2. I had to manually remove .DS_Store from assemble source directory.

[2015-07-08 08:09] wayt commented on #1550
The same here, in the tasks/main.yml :

[code]

When I run the playbook:

[code]

`docker ps -a` on the machine:

[code]

Ansible version:

[code]

[2015-07-08 09:11] srilumpa commented on #1192
Hi,

I have the same problem with ansible v2.0.0 trying to use the copy and template modules to an Ubuntu 14.04 machine.

If I try to copy a file without become on a path where I don't need root privileges, everything seems to work fine:

[code]

But when I try to copy it to the same path but with become rights, it fails:

[code]

Looking into the authentication logs on the target server gives thi

[2015-07-08 09:15] srilumpa commented on #1192
By the way, last commit for:
* ansible: ansible/ansible@2e5dfd57cc9c1a806a0ac3a23f8036f6f32127af
* ansible-modules-core: ansible/ansible-modules-core@8257053756766ad52b43e22e413343b0fedf7e69

[2015-07-08 09:24] maticmeznar commented on #902
I just needed this myself. +1 indeed. Please make it happen!

[2015-07-08 10:40] verm666 commented on #1684
@abadger I'll fix it today

[2015-07-08 11:40] verm666 commented on #1684
Fixed. I tested it only on Ubuntu. Can somebody test it on Debian?

[2015-07-08 11:46] jstasiak commented on #1684
Thank you, I'll test it on Debian.

[2015-07-08 12:13] westphahl commented on #1645
Same here also with Python 2.7.10 and Ansible 1.9.2

[2015-07-08 13:12] abadger commented on #1686
Apologies, it looks like the regression was fixed in edf1ac1ea6ffd5d44bb2bb62ad320364baf310a3 but not merged to the stable branch for release.  Pulled it into stable-1.9 now for release in 1.9.3.

# Closing This Ticket

Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seei

[2015-07-08 13:12] #1686 closed, assigned to nobody

[2015-07-08 13:45] abadger commented on #1684
@verm666 thanks!  Question - Since we're not expanding the ppa to a http url in repos_urls do we also need to change the logic on line 442?

[2015-07-08 14:46] nicocesar commented on #1319
I confirm this still a bug

[2015-07-08 14:47] abadger commented on #1679
I was unable to reproduce locally on both fedora 21 and centos7.  Used your inventory and the firewalld playbook.  Maybe there's also something about the sudo configuration interacting with ansible?

[2015-07-08 14:49] bcoca commented on #1679
this sounds more like a resource issue than anything else, check dmesg/logs on the target machine

[2015-07-08 15:03] jstasiak commented on #1684
@verm666 Works for me with Debian Wheezy targets.

[2015-07-08 21:01] abadger opened #1687 "yum module in ansible 1.9.2 fails when package already installed"
Moved from: https://github.com/ansible/ansible/issues/11526
Original Reporter: @aabdnn

Issue Type: Bug Report

Ansible Version:

$ ansible --version
ansible 1.9.2
  configured module search path = None

Ansible Configuration:

ANSIBLE_HOST_KEY_CHECKING=no
ANSIBLE_INVENTORY=/Users/anandb/repos/ripe/ansible/hosts
ANSIBLE_GATHERING=smart
ANSIBLE_REMOTE_TEMP=/tmp
ANSIBLE_SSH_CONTROL_PATH=/Users/anand

[2015-07-08 21:08] abadger commented on #1687
CC: @kustodian @EdTorbett

This is probably happening because of the speedup to the yum module achieved by installing all packages in a single pass.  Doing that also allows packages which need to be installed or updated together to work so simply reverting it is probably not a good option.

If it was backwards compatible I'd probably just say that we should just document that installing of package

[2015-07-08 21:14] abadger commented on #1687
PR that introduced installing package in a single pass: https://github.com/ansible/ansible-modules-core/pull/1501

[2015-07-08 21:25] aabdnn commented on #1687
While I appreciate the optimisation to the yum module, it changed the behaviour of the module in a fundamental way. More annoyingly, it was not even mentioned in the change log for 1.9.2 !! The change log is there for a reason, for us users to see if any of the modules we use have changed in any way.

Personally, I could work around this by having "epel-release" installed in a separate task, befor

[2015-07-08 21:39] damienhollis commented on #1679
Hi, thanks for taking a look.  There was nothing of interest in the dmesg logs but that made me think to look in the messages log and I found this:

[code]

I'll investigate on the internet but if you know what the issue is or if you think it is an ansible problem, please let me know.  I'll update this issue with more information as I find it.

Thanks.

[2015-07-08 21:46] yeroc commented on #1077
I just got bitten by this.  Are there any other workarounds?  When using the debug module with a variable collecting the output of an arbitrary command via "register:" there's no way to deal with quoting (which I assume is the issue here)?  It's actually not clear to me why ansible is apparently doing parameter checking here?

[2015-07-08 22:10] DaGenix opened #1688 "allow Docker module to pull images with new content Digest format"
The docker module can't pull images with a content Digest. Ie, images that look like: `registry@sha256:9b78b9a9add631f587da5410c3f2840aaf5231adaec80875bd3f1760fa9d9c1e`. This wasn't a valid format until Docker 1.6, but, starting with that release, you can use that format to pull the image by its immutable digest instead of a tag. However, if you try to do that with the docker module, you get the e

[2015-07-08 22:12] bcoca commented on #1679
that seems that systemd is being 'smart' and not allowing you to do what you asked it to do.

[2015-07-08 22:13] bcoca commented on #1679
closing this as this does not seem to be an ansible issue but the firewall, the authentication service  and systemd not liking frequent restarts.

[2015-07-08 22:13] #1679 closed, assigned to nobody

[2015-07-08 22:16] bcoca commented on #1077
you might want to quote the debug, as once it is templated you might get spaces or other things that will break the module parsing:

[code]

[2015-07-08 22:17] bcoca commented on #1077
in any case verbose output would show us better what is going on here.

[2015-07-08 23:10] MrMMorris commented on #1074
:+1:

[2015-07-09 04:28] bcoca commented on #876
fixed via e33f0930753876be85f8f851e3cfdc81e219a73c

[2015-07-09 04:28] #876 closed, assigned to nobody

[2015-07-09 06:18] fearenales commented on #921
+1 for this feature

[2015-07-09 07:44] fdanielson commented on #1577
Hey sorry, didn't check my messages for a while there.
The target machine is CentOS 6.5
I actually tried that with no effect, either way going from trying to remove it or add it with it there and without.
I didn't explicitly say before that I was running this in check mode, because I wanted to make sure it was actually going to do what I wanted. At some point that I didn't notice, the output of th

[2015-07-09 08:22] kustodian commented on #1687
I thought the yum changes will be released with 2.0, not 1.9.2. Anyway there is nothing we should do, except documenting it in the changelog.

[2015-07-09 08:49] EdTorbett commented on #1687
The thing I'm unsure about is that the code should check which modules are already installed and only pass the uninstalled ones to a single invocation of yum. Has this behaviour changed or perhaps not working correctly?

Ed

—
Sent from Mailbox

On Thu, Jul 9, 2015 at 9:22 AM, Strahinja Kustudic
notifications@github.com wrote:

[2015-07-09 08:52] EdTorbett commented on #1687
Sorry, having read the original error text I understand what's happening now. Please ignore my previous response.

Yes, this should have gone into the changelog.

Ed

—
Sent from Mailbox

On Thu, Jul 9, 2015 at 9:49 AM, Edward Torbett edward@torbett.co.uk
wrote:

[2015-07-09 13:40] mcreenan opened #1691 "Unable to mount multiple swap files"
##### Issue Type:

Bug Report
##### Ansible Version:

1.9.2
##### Ansible Configuration:

[code]
##### Environment:

Running Ansible from OSX 10.10.1
OS being managed is Amazon Linux 2015.03
##### Summary:

When using the mount module to create/mount two separate swap files, only the latter swap file gets written to /etc/fstab
##### Steps To Reproduce:

Run a task file with the following (Note tha

[2015-07-09 13:40] mcreenan commented on #1691
Here is a more complete test case.

For testing, I edited my inventory to contain exactly 1 server which I created for this test case.

_configure-swap-files.yml_

[code]

_swap.yml_

[code]

Here's the output when I ran the configure-swap-files.yml playbook:

[code]

Here's the /etc/fstab file:

[code]

[2015-07-09 13:53] mcreenan commented on #1691
I'm having trouble running tests locally, but I think a possible fix for this is in system/mount.py, after line 141 (before the code that checks to see if the mount is different):

[code]

[2015-07-09 14:12] verm666 commented on #1577
Hmm... In check mode Ansible obviously doesn't start modules, which doesn't support check mode. More over, in check mode (if module is correct) Ansible doesn't change something on your server.

So, if you tried start mount nfs task with `--check` - task was just skipped and it's ok.

I rechecked mount task with nfs on CentOS, everything working fine.

So, did I answer to your question, @TurtleTech

[2015-07-09 14:24] vanga opened #1693 "AWS EC2 API doesn't allow encrypted parameter when specifying a snapshot id"
#### Issue Type:

Bug Report
#### Ansible version:

ansible 2.0.0 (devel de52cfb5d7)
But the ec2.py is updated with this #1534. So Yes, I am able to create encrypted volumes.
#### Ansible Configuration:

Default
##### Environment:

ArchLinux on EC2
##### Summary:

If we attach a volume with a snapshot id specified, AWS doesn't give an option to enable/disable encryption. I think AWS just decides t

[2015-07-09 14:37] josnidhin commented on #575
+1 would like to see this feature soon.

[2015-07-09 14:53] yeroc commented on #1077
@bcoca The debug task is already quoted in a similar way to what you described (see below).

Here's a snippet:

[code]

The failure occurs when the second task executes.  Verbose output from these two tasks:

[code]

My ansible version is 1.9.1.

[2015-07-09 15:23] vanga commented on #1693
Ok, I see that a change is pushed recently https://github.com/ansible/ansible-modules-core/commit/b4911a47d1589693791bdf40ed979e239d69d6d2

It works for me with the above change, but it doesn't work if some one passes `encrypted` parameter unknowingly

I think correct way of doing it would be to throw an error if some one tries to set encryption, I added a conditional to check the above case https

[2015-07-09 16:10] ktarplee opened #1695 "get_url does not support TLS 1.2 only server"
urllib2 from python seems to work however get_url does not work.  I had to revert to shelling out to curl to fetch the file.

"Request failed: <urlopen error [Errno 1] _ssl.c:510: error:1409442E:SSL routines:SSL3_READ_BYTES:tlsv1 alert protocol version>", "state": "absent", "status_code": -1,

[2015-07-09 16:16] VascoVisser commented on #1251
I can confirm this behavior with Ansible 1.9.1 and Docker version 1.7.0.
verbose output gives: `"reload_reasons": "net (bridge => )"`

[2015-07-09 16:45] abadger commented on #1687
<nod>  There wasn't supposed to be any change in behaviour due to this.  Unfortunately, enabling repos is a cornercase  that wasn't thought of.  We've talked this through and because it's primarily a bugfix we're going to keep the behaviour at this point.  I've pushed an update to the yum docs mentioning the change and will add a note to the ChangeLog as well.

[2015-07-09 16:54] kustodian commented on #1687
@abadger May I suggest that optimizations like this are not pushed to the minor (bugfix versions) of Ansible. At least when I update Ansible from 1.9.1 to 1.9.2 I only expect to have a more stable version with the same features of the current major version. Minor version updates should only contain bug/security fixes and nothing more.

[2015-07-09 17:02] abadger commented on #1687
- Changelog entry: https://github.com/ansible/ansible/commit/5d1fb380fca821ac2602c190240904999f25a063
- yum module documentation: https://github.com/ansible/ansible-modules-core/commit/d46c036b75a82a07c42731154677512d069c4386
- yum doc in stable: https://github.com/ansible/ansible-modules-core/commit/559791e1dfc7591931b699db5e6d47d746d23f5d

The docs on the website will be updated the next time we

[2015-07-09 17:02] #1687 closed, assigned to nobody

[2015-07-09 17:56] tanderegg opened #1697 "Mount command should have an option to suppress "-o remount""
We are using Redhat Storage Server (i.e. GlusterFS) for our shared filesystem within our network.  Unfortunately, GlusterFS FUSE mounts currently do not support the remount option, so any attempt to change mount settings using the Ansible 'mount' module yields the following error:

`msg: Error mounting {{ mount_point }}: Invalid option remount`

I would propose adding a 'remount' option to the Ans

[2015-07-09 19:34] mostlygeek opened #1699 "Cloudformation module does not support AWS STS tokens"
The current version of the cloudformation module in the 1.9.2 release of ansible does not use `AWS_SECURITY_TOKEN`. This means ansible+cloudformation is broken for anybody using Amazon with MFA enabled.

The code is already in the `devel` branch but not in the `stable-1.9` branch.

Can this merged into the stable branch and released?

Here is the old code:
https://github.com/ansible/ansible-module

[2015-07-09 20:22] maxrothman opened #1701 "ec2 module: profile option ignored"
**Issue Type**: Bug Report
**Ansible Version**: 1.9
**Ansible Configuration**: default
**Environment**: OSX 10.9.5
**Summary**: The "profile" option in the ec2 module is ignored

**Steps To Reproduce**:
Create a playbook like so and run it. The account in which `subnet-0000000` exists must not be in your default aws profile (defined in `~/.aws/{credentials,config}`:

[code]

**Expected Results**:

[2015-07-09 20:50] VascoVisser commented on #1251
verbose output gives:

[2015-07-09 21:01] damienhollis commented on #1679
Hi, I have resolved the issue.  Just in case other people have this issue, all I needed to do was disable the fingerprint reader service - see this article for details: http://www.linuxquestions.org/questions/red-hat-31/fprintd-errors-in-virtual-environment-915078/

Thanks,
Damien